USE [EnergySyncRevenueKotekar]
GO
/****** Object:  UserDefinedFunction [dbo].[CPM]    Script Date: 15-06-2026 10:34:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[CPM](@fromdate datetime, @todate datetime)
returns int
as
begin
declare @n int select @n=0

IF(month(@fromdate)=month(@todate) or year(@fromdate)=year(@todate))
     return (select datediff(dd,@fromdate,@todate))

 while(month(@fromdate)<>month(@todate) or year(@fromdate)<>year(@todate))
begin
if day(@fromdate)=1
set @n=@n+29
else
set @n=@n+(30-day(@fromdate))
set @fromdate=dateadd(month,1,convert(datetime,concat(year(@fromdate),'-',month(@fromdate),'-',1),120))
end
return @n
end
GO
