USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSROtherAdditions]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSROtherAdditions](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS Table AS
RETURN 	(


--Declare @OLID Int select @OLID = 0
--Declare @YearID Int select @YearID = 0
--Declare @MonthID Int select @MonthID = 0
--Declare @ContactID Int select @ContactID = 0





select sra.* from ( 
select ScaleRegisterID,ODLDID,SalaryOtherAdditionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select SRA.ScaleRegisterID, SRA.ODLDID, SRA.SalaryOtherAdditionID, SRA.Amount as TobePaidAmount,0 as PaidAmount, SRA.Amount
from ScaleRegisterOtherAdditions  SRA with(nolock) inner join dbo.FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn1 on sra.ScaleRegisterID=fn1.ScaleRegisterID
where isnull( SRA.Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,SalaryAdditionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID from ScaleRegisterWithdrawals srw with(nolock)  inner join dbo.FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW
inner join ScaleRegisterOtherAdditionWithdrawals srlw with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,ODLDID,SalaryOtherAdditionID
) as SRA 

inner join ( 
select ScaleRegisterID,SalaryOtherAdditionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select sra.ScaleRegisterID,sra.ODLDID,sra.SalaryOtherAdditionID,sra.Amount as TobePaidAmount,0 as PaidAmount,sra.Amount
from ScaleRegisterOtherAdditions sra with(nolock) inner join dbo.FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn1 on sra.ScaleRegisterID=fn1.ScaleRegisterID
where isnull(sra.Amount,0)<>0

union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,SalaryAdditionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID from ScaleRegisterWithdrawals srw with(nolock)  inner join dbo.FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW 
inner join ScaleRegisterOtherAdditionWithdrawals srlw with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,SalaryOtherAdditionID
Having Round(Round(Sum(isnull(Amount,0)),2),0) <> 0
) as SRA1 on sra1.ScaleRegisterID=sra.ScaleRegisterID and sra1.SalaryOtherAdditionID=sra.SalaryOtherAdditionID


)
GO
