USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_FACJV]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_FACJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

select db.BalanceAccountCode+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default AccHead,SUM(isnull(dd.FAC,0)) Debit,0 Credit,sb.Description Description,'Debit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.BalanceAccountCode<>'' and db.TariffTypeID in (1,2) 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
left join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode collate database_default=db.BalanceAccountCode 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=db.VoltageClassID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
group by db.BalanceAccountCode+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default,sb.Description 
union all 
select '61.4'+substring(db.RevenueDemandAccountCode,5,2)+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default,0,SUM(isnull(dd.FAC,0)),sb.Description,'Credit' 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.BalanceAccountCode<>'' and db.TariffTypeID in (1,2) 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
left join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode collate database_default=db.RevenueDemandAccountCode 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=db.VoltageClassID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
group by '61.4'+substring(db.RevenueDemandAccountCode,5,2)+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default,sb.Description
GO
