USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MisRevCollectionJV]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_MisRevCollectionJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

select sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)) AccHead,SUM(Total) Debit,0 Credit,sb.Description Description,'Debit' Type from (
select sum(dc.Interst_Total) Total 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (1,2) 
inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
union all 
select sum(dc.Revenue_Total) 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (3) 
inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
) X cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='47.609') sb
cross join (select * from VoltageClass vc with (nolock) where vc.VoltageClassid=7 ) vc
group by sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)),sb.Description 
union all 

select sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)),0 Debit,SUM(Total) Credit,sb.Description+' - '+vc.Description Descr,'Credit' Type from (
select sum(dc.Interst_Total) Total 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (1,2) 
inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
union all 
select sum(dc.Revenue_Total) 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (3) 
inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
) X cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='23.700') sb
cross join (select * from VoltageClass vc with (nolock) where vc.VoltageClassid=7 ) vc
group by sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)),sb.Description+' - '+vc.Description
GO
