USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AdjSchedule]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_AdjSchedule](@olid int,@month int,@yr int) Returns table as Return 

select * from (
select dr.OLID,sum(dad.DepositAdjustment) Amt,'48.111' Type 
from DCBRevenue dr with (nolock) inner join DCBAdjustmentDetails dad with (nolock) on dad.DCBRevenueID=dr.DCBRevenueID 
where dr.Month=@month and dr.Year=@yr and dr.OLID<>@olid group by dr.OLID 
union all 
select dr.OLID,sum(dad.RevenueSuspense) Amt,'47.607' Type 
from DCBRevenue dr with (nolock) inner join DCBAdjustmentDetails dad with (nolock) on dad.DCBRevenueID=dr.DCBRevenueID 
where dr.Month=@month and dr.Year=@yr and dr.OLID<>@olid group by dr.OLID
) x where x.amt<>0
GO
