USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TransformerYearwise_FailureTC]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function  [dbo].[fn_TransformerYearwise_FailureTC](@olid int,@fromdate date,@todate date) returns table 

as
return
(






select 
loaction,
capacity+'KVA'  capacity, 
DTCExicsinFiled,
round((100.0/cast(DTCExicsinFiled as float))*cast(isnull(FailureTCcount,0) as float) ,4) Failurerate,
isnull(FailureTCOBcount,0) FailureTCOBcount ,
isnull(FailureTCcount,0) FailureTCcount,
isnull(FailureTCOBcount,0)+isnull(FailureTCcount,0)  Totalfaulure,
isnull(FailureTCReplacedcount,0) FailureTCReplacedcount,
isnull(FailureTCReplacedwithin24count,0)  FailureTCReplacedwithin24hourscount,
isnull(FailureTCReplacedafterin24,0)  FailureTCReplacedafterin24hourscount,
(case
                when isnull(FailureTCcount,0) != 0
                            then 
                                        round((100.0/(cast(isnull(FailureTCcount,0)   as float)+cast(isnull(FailureTCOBcount,0) as float) ))*cast(isnull(FailureTCReplacedcount,0) as float) ,4) 
                           else 
                                                     0
  end  )           Replacementraate,
isnull(FailureTCOBcount,0) +isnull(FailureTCcount,0)-isnull(FailureTCReplacedcount,0)  balancetobereplace
   from 
             (select 
                        (  select  top 1 fileas from  OfficeLocationAllocation where OfficeLocationAllocationID =isnull(@olid,1)) loaction,
                       capacity,
                      sum(counts) DTCExicsinFiled
                        From 
                        (select 
                          offf1.fileas, 
                          offf1.OfficeLocationAllocationID, 
                          capacity, 
                          count(*) counts 
                        From 
                          DistributionNodes d 
                          inner join DistributionNodeDetails dd on d.DistributionNodeID = dd.DistributionNodeId 
                          left join capacitydetails d1 on d1.itemid = dd.itemid 
                          inner join (
                                                select 
                                                  DistributionNodeID, 
                                                  max(DistributionNodeOLID) DistributionNodeOLID 
                                                From 
                                                  DistriButionNodeOfficeAllocation 
                                                group by 
                                                  DistributionNodeID
                          ) ddd
                         on ddd.DistributionNodeID = d.DistributionNodeID 
                          inner join OfficeLocationAllocation offf on offf.OfficeLocationAllocationID = ddd.DistributionNodeOLID 
                          inner join OfficeLocationAllocation offf1 on offf1.OfficeLocationAllocationID = offf.UnderOfficeLocationAllocationID 
                          inner join OfficeLocationAllocation offf2 on offf2.OfficeLocationAllocationID = offf1.UnderOfficeLocationAllocationID
                          outer apply(
                                                select 
                                                  sub.DistributionNodeUserDefinedFieldValue make 
                                                From 
                                                  DistributionNodeDetailsSub sub 
                                                where 
                                                  sub.DistributionNodeDetailsID = dd.DistributionNodeDetailsID 
                                                  and sub.DistributionNodeUserDefinedFieldID = 20
                                             ) jk 
                                        where 
                                          UnderDistributionNodeTypeID = 2 
                                          and (
                                                           ddd.DistributionNodeOLID in  (  
                                                                                                          select   HeirarchyOfficeLocationAllocationID     From  OfficeLocationHeirarchy    where OfficeLocationAllocationID = 1
                                                                                                     ) 
                                                            or ddd.DistributionNodeOLID is null
                                          ) 
                                          and capacity is not null
                                           and   (offf2.OfficeLocationAllocationID = @olid or  @olid is null)
                                        group by 
                                          capacity, offf1.OfficeLocationAllocationID, offf1.fileas
                        )toatl
                        group by capacity
       )maintable
     outer apply(
                                   select 
                                        count(*) FailureTCcount
                                        From  WorkOrder w 
                                     inner join DistributionNodes d
                                     on w.DistributionNodeID=d.DistributionNodeID
                                     and w.Approved=1
                                     and w.Canceled=0
                                     and  d.UnderDistributionNodeTypeID = 2 
                                     and w.WorkAllocationID=158
                                      inner join DistributionNodeDetails dd on d.DistributionNodeID = dd.DistributionNodeId 
                                      left join capacitydetails d1 on d1.itemid = dd.itemid 
                                      inner join (
                                                            select 
                                                              DistributionNodeID, 
                                                              max(DistributionNodeOLID) DistributionNodeOLID 
                                                            From 
                                                              DistriButionNodeOfficeAllocation 
                                                            group by 
                                                              DistributionNodeID
                                      ) ddd
                                       on ddd.DistributionNodeID = d.DistributionNodeID 
                                        where
                                        ddd.DistributionNodeOLID in  (  
                                                                                                          select   
                                                                                                            HeirarchyOfficeLocationAllocationID     
                                                                                                           From  OfficeLocationHeirarchy    where OfficeLocationAllocationID  =isnull(@olid,1)
                                                                                                     ) 
                                        and d1.capacity=maintable.capacity
                                        and w.workorderdate between @fromdate and @todate
                                        group by d1.capacity
                        )FailureTC
          outer apply
                              (
                                      select 
                                      count(*) FailureTCOBcount
                                       From  WorkOrder w 
                                     inner join DistributionNodes d
                                     on w.DistributionNodeID=d.DistributionNodeID
                                     and w.Approved=1
                                     and w.Canceled=0
                                     and  d.UnderDistributionNodeTypeID = 2 
                                     and w.WorkAllocationID=158
                                      inner join DistributionNodeDetails dd on d.DistributionNodeID = dd.DistributionNodeId 
                                      left join capacitydetails d1 on d1.itemid = dd.itemid 
                                      inner join (
                                                            select 
                                                              DistributionNodeID, 
                                                              max(DistributionNodeOLID) DistributionNodeOLID 
                                                            From 
                                                              DistriButionNodeOfficeAllocation 
                                                            group by 
                                                              DistributionNodeID
                                      ) ddd
                                       on ddd.DistributionNodeID = d.DistributionNodeID 
                                        where
                                        ddd.DistributionNodeOLID in  (  
                                                                                                          select   
                                                                                                            HeirarchyOfficeLocationAllocationID     
                                                                                                           From  OfficeLocationHeirarchy    where OfficeLocationAllocationID  =isnull(@olid,1)
                                                                                                     ) 
                                        and d1.capacity=maintable.capacity
                                        and w.workorderdate < @fromdate
                                        and NOT EXISTS 
                                                                            (
                                                                                    select *
                                                                                    From  StoreInvoice_pni  si 
                                                                                     where si.Canceled=0 and si.Passed=1
                                                                                    and si.DocumentNo=w.workorderno
                                                                                    and si.DocumentTypeID in (2,22) 
                                                                                    and  si.StoreInvoiceDate< @fromdate
                                                                                )
                                        group by d1.capacity
                                       
                )FailureTCOB
               outer apply
                         (
                                      select 
                                      count(*) FailureTCReplacedcount
                                       From  WorkOrder w 
                                     inner join DistributionNodes d
                                     on w.DistributionNodeID=d.DistributionNodeID
                                     and w.Approved=1
                                     and w.Canceled=0
                                     and  d.UnderDistributionNodeTypeID = 2 
                                     and w.WorkAllocationID=158
                                      inner join DistributionNodeDetails dd on d.DistributionNodeID = dd.DistributionNodeId 
                                      left join capacitydetails d1 on d1.itemid = dd.itemid 
                                      inner join (
                                                            select 
                                                              DistributionNodeID, 
                                                              max(DistributionNodeOLID) DistributionNodeOLID 
                                                            From 
                                                              DistriButionNodeOfficeAllocation 
                                                            group by 
                                                              DistributionNodeID
                                      ) ddd
                                       on ddd.DistributionNodeID = d.DistributionNodeID 
                                        where
                                        ddd.DistributionNodeOLID in  (  
                                                                                                          select   
                                                                                                            HeirarchyOfficeLocationAllocationID     
                                                                                                           From  OfficeLocationHeirarchy    where OfficeLocationAllocationID  =isnull(@olid,1)
                                                                                                     ) 
                                        and d1.capacity=maintable.capacity
                                        and  EXISTS 
                                                                            (
                                                                                    select *
                                                                                    From  StoreInvoice_pni  si 
                                                                                     where si.Canceled=0 and si.Passed=1
                                                                                    and si.DocumentNo=w.workorderno
                                                                                    and si.DocumentTypeID in (2,22) 
                                                                                    and  si.StoreInvoiceDate between @fromdate and @todate
                                                                                )
                                        group by d1.capacity
                                       
                )FailureTCReplaced
    outer apply
                         (
                                      select 
                                      count(*) FailureTCReplacedwithin24count
                                       From  WorkOrder w 
                                     inner join DistributionNodes d
                                     on w.DistributionNodeID=d.DistributionNodeID
                                     and w.Approved=1
                                     and w.Canceled=0
                                     and  d.UnderDistributionNodeTypeID = 2 
                                     and w.WorkAllocationID=158
                                      inner join DistributionNodeDetails dd on d.DistributionNodeID = dd.DistributionNodeId 
                                      left join capacitydetails d1 on d1.itemid = dd.itemid 
                                      inner join (
                                                            select 
                                                              DistributionNodeID, 
                                                              max(DistributionNodeOLID) DistributionNodeOLID 
                                                            From 
                                                              DistriButionNodeOfficeAllocation 
                                                            group by 
                                                              DistributionNodeID
                                      ) ddd
                                       on ddd.DistributionNodeID = d.DistributionNodeID 
                                       outer apply
                                                          (
                                                                     select min(a.DateAndTime) workorderdatetime From  ActivityApprovals_Works  a
                                                                      where ActivityID in (133,357) 
                                                                            and  a.DocumentNo=w.workorderno  and a.StatusID=5
                                                                            group by documentno
                                                             )workorderdate
                                        where
                                        ddd.DistributionNodeOLID in  (  
                                                                                                          select   
                                                                                                            HeirarchyOfficeLocationAllocationID     
                                                                                                           From  OfficeLocationHeirarchy    where OfficeLocationAllocationID  =isnull(@olid,1)
                                                                                                     ) 
                                        and d1.capacity=maintable.capacity
                                        and  EXISTS 
                                                                            (
                                                                                    select *
                                                                                    From  StoreInvoice_pni  si 
                                                                                     where si.Canceled=0 and si.Passed=1
                                                                                    and si.DocumentNo=w.workorderno
                                                                                    and si.DocumentTypeID in (2,22) 
                                                                                    and  DateDiff(hh, workorderdatetime, si.StoreInvoiceDate) <=24  
                                                                                    and si.StoreInvoiceDate between @fromdate and @todate
                                                                                )
                                        group by d1.capacity
                                       
                )FailureTCReplacedwithin24
                  outer apply
                         (
                                      select 
                                      count(*) FailureTCReplacedafterin24
                                       From  WorkOrder w 
                                     inner join DistributionNodes d
                                     on w.DistributionNodeID=d.DistributionNodeID
                                     and w.Approved=1
                                     and w.Canceled=0
                                     and  d.UnderDistributionNodeTypeID = 2 
                                     and w.WorkAllocationID=158
                                      inner join DistributionNodeDetails dd on d.DistributionNodeID = dd.DistributionNodeId 
                                      left join capacitydetails d1 on d1.itemid = dd.itemid 
                                      inner join (
                                                            select 
                                                              DistributionNodeID, 
                                                              max(DistributionNodeOLID) DistributionNodeOLID 
                                                            From 
                                                              DistriButionNodeOfficeAllocation 
                                                            group by 
                                                              DistributionNodeID
                                      ) ddd
                                       on ddd.DistributionNodeID = d.DistributionNodeID 
                                       outer apply
                                                          (
                                                                     select min(a.DateAndTime) workorderdatetime From  ActivityApprovals_Works  a
                                                                      where ActivityID in (133,357) 
                                                                            and  a.DocumentNo=w.workorderno  and a.StatusID=5
                                                                            group by documentno
                                                             )workorderdate
                                        where
                                        ddd.DistributionNodeOLID in  (  
                                                                                                          select   
                                                                                                            HeirarchyOfficeLocationAllocationID     
                                                                                                           From  OfficeLocationHeirarchy    where OfficeLocationAllocationID  =isnull(@olid,1)
                                                                                                     ) 
                                        and d1.capacity=maintable.capacity
                                        and  EXISTS 
                                                                            (
                                                                                    select *
                                                                                    From  StoreInvoice_pni  si 
                                                                                     where si.Canceled=0 and si.Passed=1
                                                                                    and si.DocumentNo=w.workorderno
                                                                                    and si.DocumentTypeID in (2,22) 
                                                                                    and  DateDiff(hh, workorderdatetime, si.StoreInvoiceDate) >24  
                                                                                    and si.StoreInvoiceDate between @fromdate and @todate
                                                                                )
                                        group by d1.capacity
                                       
                )FailureTCReplacedafterin24                  
                               
            

)
GO
