USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Divisionwise_FailureTC]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  function  [dbo].[fn_Divisionwise_FailureTC](@OLID int,@FromDate date,@ToDate date) 
returns table as return (






select maintable.DivisionOLID,
loaction,
DTCExicsinFiled,
round((100.0/cast(DTCExicsinFiled as float))*cast(isnull(FailureTCcount,0) as float) ,4) Failurerate,
isnull(FailureTCOBcount,0) FailureTCOBcount ,
isnull(FailureTCcount,0) FailureTCcount,
isnull(CummulativeFailureTC ,0) CummulativeFailureTC ,
isnull(FailureTCOBcount,0)+isnull(FailureTCcount,0)  Totalfaulure,
isnull(FailureTCReplacedcount,0) FailureTCReplacedcount,
isnull(FailureTCReplacedwithin24count,0)  FailureTCReplacedwithin24hourscount,
isnull(FailureTCReplacedafterin24,0)  FailureTCReplacedafterin24hourscount,
(case when isnull(FailureTCcount,0) != 0 then round((100.0/(cast(isnull(FailureTCcount,0) as float)+cast(isnull(FailureTCOBcount,0) as float) ))*cast(isnull(FailureTCReplacedcount,0) as float) ,4) else 0 end) Replacementraate,
isnull(FailureTCOBcount,0) +isnull(FailureTCcount,0)-isnull(FailureTCReplacedcount,0) balancetobereplace
from (

select a.divisionid as DivisionOLID ,a.Division  as loaction , sum(a.count) DTCExicsinFiled from surveyreportNew2 a
inner join FnUnderOL() b on b.OLID=a.divisionid and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or OLID=@OLID)
where sDate between '2018-06-01' and @ToDate  
group by divisionid ,Division

) maintable

outer apply ( select ol.DivisionOLID,count(*) FailureTCcount 
From (select * from WorkOrder w with(nolock) where w.Approved=1 and w.Canceled=0 and w.WorkAllocationID=158 and w.workorderdate between @fromdate and @todate) W 
inner join DistributionNodes d with(nolock) on w.DistributionNodeID=d.DistributionNodeID and d.UnderDistributionNodeTypeID = 2 
inner join DistributionNodeDetails dd with(nolock) on d.DistributionNodeID = dd.DistributionNodeId 
inner join capacitydetails d1 with(nolock) on d1.itemid = dd.itemid 
inner join (select DistributionNodeID,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation with(nolock) group by DistributionNodeID) ddd on ddd.DistributionNodeID = d.DistributionNodeID 
inner join FnUnderOL() ol on ol.OLID=ddd.DistributionNodeOLID and ol.DivisionOLID=maintable.DivisionOLID
	and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or ol.OLID=@OLID)
group by ol.DivisionOLID ) FailureTC

outer apply ( select ol.DivisionOLID,count(*) FailureTCOBcount
From (select * from WorkOrder w with(nolock) where w.Approved=1 and w.Canceled=0 and w.WorkAllocationID=158 and w.workorderdate < @fromdate) W 
inner join DistributionNodes d with(nolock) on w.DistributionNodeID=d.DistributionNodeID and  d.UnderDistributionNodeTypeID = 2 
inner join DistributionNodeDetails dd with(nolock) on d.DistributionNodeID = dd.DistributionNodeId 
inner join capacitydetails d1 with(nolock) on d1.itemid = dd.itemid 
inner join (select DistributionNodeID,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation with(nolock) group by DistributionNodeID ) ddd on ddd.DistributionNodeID = d.DistributionNodeID 
inner join FnUnderOL() ol on ol.OLID=ddd.DistributionNodeOLID and ol.DivisionOLID=maintable.DivisionOLID
	and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or ol.OLID=@OLID)
where NOT EXISTS ( select * From  StoreInvoice_pni si with(nolock) where si.Canceled=0 and si.Passed=1 and si.DocumentNo=w.workorderno and si.DocumentTypeID in (2,22) and  si.StoreInvoiceDate>@fromdate )
group by ol.DivisionOLID) FailureTCOB

outer apply ( select ol.DivisionOLID,count(*) FailureTCReplacedcount
From (select * from WorkOrder w with(nolock) where w.Approved=1 and w.Canceled=0 and w.WorkAllocationID=158) W 
inner join DistributionNodes d with(nolock) on w.DistributionNodeID=d.DistributionNodeID and  d.UnderDistributionNodeTypeID = 2 
inner join DistributionNodeDetails dd with(nolock) on d.DistributionNodeID = dd.DistributionNodeId 
inner join capacitydetails d1 with(nolock) on d1.itemid = dd.itemid 
inner join ( select DistributionNodeID,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation with(nolock) group by DistributionNodeID ) ddd on ddd.DistributionNodeID = d.DistributionNodeID 
inner join FnUnderOL() ol on ol.OLID=ddd.DistributionNodeOLID and ol.DivisionOLID=maintable.DivisionOLID
	and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or ol.OLID=@OLID)
where EXISTS ( select * From  StoreInvoice_pni si with(nolock) where si.Canceled=0 and si.Passed=1 and si.DocumentNo=w.workorderno and si.DocumentTypeID in (2,22) and  si.StoreInvoiceDate between @fromdate and @todate )
group by ol.DivisionOLID ) FailureTCReplaced

outer apply ( select ol.DivisionOLID,count(*) FailureTCReplacedwithin24count
From (select * from WorkOrder w with(nolock) where w.Approved=1 and w.Canceled=0 and w.WorkAllocationID=158) W 
inner join DistributionNodes d with(nolock) on w.DistributionNodeID=d.DistributionNodeID and  d.UnderDistributionNodeTypeID = 2 
inner join DistributionNodeDetails dd with(nolock) on d.DistributionNodeID = dd.DistributionNodeId 
inner join capacitydetails d1 with(nolock) on d1.itemid = dd.itemid 
inner join ( select DistributionNodeID,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation with(nolock) group by DistributionNodeID ) ddd on ddd.DistributionNodeID = d.DistributionNodeID 
inner join FnUnderOL() ol on ol.OLID=ddd.DistributionNodeOLID and ol.DivisionOLID=maintable.DivisionOLID
	and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or ol.OLID=@OLID)
outer apply (select min(a.DateAndTime) workorderdatetime From  ActivityApprovals_Works a with(nolock) where ActivityID in (133,357) and a.DocumentNo=w.workorderno and a.StatusID=5 group by documentno ) workorderdate
where EXISTS ( select *  From  StoreInvoice_pni si with(nolock) where si.Canceled=0 and si.Passed=1 and si.DocumentNo=w.workorderno and si.DocumentTypeID in (2,22) and  DateDiff(hh, workorderdatetime, si.StoreInvoiceDate) <=24 and si.StoreInvoiceDate between @fromdate and @todate )
group by ol.DivisionOLID ) FailureTCReplacedwithin24

outer apply ( select ol.DivisionOLID,count(*) CummulativeFailureTC 
From (select * from WorkOrder w with(nolock) where w.Approved=1 and w.Canceled=0 and w.WorkAllocationID=158 and w.workorderdate between 
CASE
        WHEN MONTH(@fromdate) >= 4
            THEN DATEFROMPARTS(YEAR(@fromdate), 4, 1)
        ELSE
            DATEFROMPARTS(YEAR(@fromdate) - 1, 4, 1)
    END
    AND
    CASE
        WHEN @todate > DATEADD(DAY, -1, DATEADD(YEAR, 1, 
            CASE
                WHEN MONTH(@fromdate) >= 4
                    THEN DATEFROMPARTS(YEAR(@fromdate), 4, 1)
                ELSE
                    DATEFROMPARTS(YEAR(@fromdate) - 1, 4, 1)
            END
        ))
            THEN DATEADD(DAY, -1, DATEADD(YEAR, 1, 
                CASE
                    WHEN MONTH(@fromdate) >= 4
                        THEN DATEFROMPARTS(YEAR(@fromdate), 4, 1)
                    ELSE
                        DATEFROMPARTS(YEAR(@fromdate) - 1, 4, 1)
                END
            ))
        ELSE
            @todate
    END) W 
inner join DistributionNodes d with(nolock) on w.DistributionNodeID=d.DistributionNodeID and d.UnderDistributionNodeTypeID = 2 
inner join DistributionNodeDetails dd with(nolock) on d.DistributionNodeID = dd.DistributionNodeId 
inner join capacitydetails d1 with(nolock) on d1.itemid = dd.itemid 
inner join (select DistributionNodeID,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation with(nolock) group by DistributionNodeID) ddd on ddd.DistributionNodeID = d.DistributionNodeID 
inner join FnUnderOL() ol on ol.OLID=ddd.DistributionNodeOLID and ol.DivisionOLID=maintable.DivisionOLID
	and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or ol.OLID=@OLID)
group by ol.DivisionOLID ) CummulativeFailureTC

outer apply ( select ol.DivisionOLID,count(*) FailureTCReplacedafterin24
From (select * from WorkOrder w with(nolock) where w.Approved=1 and w.Canceled=0 and w.WorkAllocationID=158) W 
inner join DistributionNodes d with(nolock) on w.DistributionNodeID=d.DistributionNodeID and  d.UnderDistributionNodeTypeID = 2 
inner join DistributionNodeDetails dd with(nolock) on d.DistributionNodeID = dd.DistributionNodeId 
inner join capacitydetails d1 with(nolock) on d1.itemid = dd.itemid 
inner join ( select DistributionNodeID,max(DistributionNodeOLID) DistributionNodeOLID From DistriButionNodeOfficeAllocation with(nolock) group by DistributionNodeID ) ddd on ddd.DistributionNodeID = d.DistributionNodeID 
inner join FnUnderOL() ol on ol.OLID=ddd.DistributionNodeOLID and ol.DivisionOLID=maintable.DivisionOLID
	and (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID or ol.OLID=@OLID)
outer apply (select min(a.DateAndTime) workorderdatetime From  ActivityApprovals_Works a with(nolock) where ActivityID in (133,357) and a.DocumentNo=w.workorderno and a.StatusID=5 group by documentno ) workorderdate
where EXISTS ( select *  From  StoreInvoice_pni si with(nolock) where si.Canceled=0 and si.Passed=1 and si.DocumentNo=w.workorderno and si.DocumentTypeID in (2,22) and  DateDiff(hh, workorderdatetime, si.StoreInvoiceDate) >24 and si.StoreInvoiceDate between @fromdate and @todate )
group by ol.DivisionOLID) FailureTCReplacedafterin24 

)
GO
