USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SRLabour]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SRLabour]() RETURNS Table AS RETURN ( 

select OLID,CivilWorkLabourTypeID,a.SRPeriodID,SoilTypeID,RateYear,FromDate,ToDate,BasicPay,MaximumPay,Allowance,Total,(Row_Number() over (Order By CivilWorkLabourTypeID,SoilTypeID,a.SRPeriodID )) as SlNo2 
,(Row_Number() over (Partition By CivilWorkLabourTypeID,OLID,SoilTypeID Order By CivilWorkLabourTypeID,OLID,SoilTypeID,a.SRPeriodID )) as SlNo1 
,(Dense_Rank() over (Order By CivilWorkLabourTypeID,SoilTypeID )) as SlNo from ( 
select *,(Row_Number() over (Partition By SRPeriodID,OLID,CivilWorkLabourTypeID,SoilTypeID Order By SRPeriodID,OLID,CivilWorkLabourTypeID,SoilTypeID,Total desc)) as MaxNo from ( 

select OLID,CivilWorkLabourTypeID,SRPeriodID,isnull(SoilTypeID,0) as SoilTypeID,isnull(BasicPay,0) as BasicPay,isnull(MaximumPay,0) as MaximumPay,isnull(Allowance,0) as Allowance,Total 
from SRLabour With (nolock) where Total>0 
union 
select OLID,CivilWorkLabourTypeID,SRPeriodID,isnull(SoilTypeID,0) as SoilTypeID,isnull(BasicPay,0) as BasicPay,isnull(MaximumPay,0) as MaximumPay,isnull(Allowance,0) as Allowance,Total 
from SRLabourHistory With (nolock) where Total>0 
union 
select distinct OLID,CivilWorkLabourTypeID,b.SRPeriodID,SoilTypeID,0,0,0,0 from ( 
select OLID,CivilWorkLabourTypeID,SRPeriodID,isnull(SoilTypeID,0) as SoilTypeID,isnull(BasicPay,0) as BasicPay,isnull(MaximumPay,0) as MaximumPay,isnull(Allowance,0) as Allowance,Total 
from SRLabour With (nolock) where Total>0 
union 
select OLID,CivilWorkLabourTypeID,SRPeriodID,isnull(SoilTypeID,0) as SoilTypeID,isnull(BasicPay,0) as BasicPay,isnull(MaximumPay,0) as MaximumPay,isnull(Allowance,0) as Allowance,Total 
from SRLabourHistory With (nolock) where Total>0 
) as A Cross Join SRPeriods B With (nolock)) as A ) as A 

Inner Join ( select SRPeriodID,concat(convert(varchar,FromDate,104),' to ',convert(varchar,ToDate,104)) as RateYear,FromDate,ToDate from ( 
    select a.SRPeriodID,a.EffectiveDate as FromDate,isnull((b.EffectiveDate-1),convert(DateTime,concat(ToDate,'-12-31'))) as ToDate from (
	select SRPeriodID,EffectiveDate,ToDate,(Row_Number() over (Order By SRPeriodID)) as SlNo 
	from SRPeriods With (nolock) ) as A Left Outer Join ( select SRPeriodID,EffectiveDate,(Row_Number() over (Order By SRPeriodID)) as SlNo from SRPeriods With (nolock) ) as B on b.SlNo-1=a.SlNo 
	) as A ) as B on b.SRPeriodID=a.SRPeriodID 
where MaxNo=1 

)
GO
