USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[getWithdrawalsForJVNew]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getWithdrawalsForJVNew](@BRNo varchar(100),@OL int,@Suppl varchar(10),@Gen int,@Held int,@EmpCat varchar(10))
returns table
as return (
select  ScaleRegister.ScaleRegisterID,
Round(Round(sum(isnull(ScaleRegister.NetPayments,0)),2),0) as Amount   
from ScaleRegister   with(NoLock) 
where ScaleRegister.ScaleRegisterID in(select sr.ScaleRegisterID from ScaleRegister SR   with(NoLock) left join EmployeeRecoveryScaleRegisterDetails ERS with(NoLock) on SR.ScaleRegisterID=ERS.ScaleRegisterID  
where BillRegisterNo=@BRNo  and     (case when ERS.ScaleRegisterID is not null then @OL else OLID end)=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and Generated=@Gen and HeldUp=@Held 
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end)  in(select  (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end)
  from ScaleRegister  with(NoLock) 
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0)
)
group by ScaleRegister.ScaleRegisterID
union ALl
select ScaleRegisterID,(-Round(Round(sum(isnull(ScaleRegisterWithdrawals.NetPayments,0)),2),0)) as Amount from ScaleRegisterWithdrawals   with(NoLock) 
where ScaleRegisterID in(select sr.ScaleRegisterID from ScaleRegister SR with(NoLock) left join EmployeeRecoveryScaleRegisterDetails ERS with(NoLock) on SR.ScaleRegisterID=ERS.ScaleRegisterID  
 where BillRegisterNo=@BRNo and     (case when ERS.ScaleRegisterID is not null then @OL else OLID end)=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and Generated=@Gen and HeldUp=@Held 
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-'then ContactID else 0 end)  in(select  (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end)  
from ScaleRegister  with(NoLock) 
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0)
)
group by ScaleRegisterID)
GO
