USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TOSCRV]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[fn_TOSCRV] (@RVNo int ) RETURNS Table AS Return 

select ROW_NUMBER () over (partition by itemid,StockConditionID order by itemid ) Rn,* from (
select distinct m.MaterialCode,m.Description MaterialName, rm.SerialNo serialno ,sum(isnull(rm.quantity,0)) Quantity,rd.ItemID,rd.UnitID,rm.StockConditionID,s.Description
, MainAccountCode, wa.WorkAllocationSubID,u.UnitOfMeasure, rm.CommissionedDate CommissionedDate , rm.CommissionedDate ReleasedDate
, (case when st.SerialFlag=0 then '' when st.SerialFlag=1 and MaterialCode not like '03 21%' and (rm.StockConditionID=4) then '' else rm.SerialNo end) SerialN 
from (select * from receiptvoucherabstract_pni r with (nolock) where r.ReceiptVoucherNo =@RVNo ) r
inner join ReceiptVoucherDetails_pni rd with (nolock) on r.receiptvoucherno=rd.receiptvoucherno and r.DocumentTypeID=61 
inner join ReceiptVoucherMaterialDetails_pni rm with (nolock) on rd.ReceiptVoucherDetailsID=rm.ReceiptVoucherDetailsID and rm.StockConditionID!=1 
left join ReceiptVoucherMaterialDetailsSub_pni rms with (nolock) on rm.ReceiptVoucherMaterialDetailsID=rms.ReceiptVoucherMaterialDetailsID and rms.DistributionNodeUserDefinedFieldID=20 
inner join StockConditions s with (nolock) on rm.StockConditionID=s.StockConditionID 
inner join MaterialCode m with (nolock) on rd.ItemID=m.ItemID 
inner join UnitOfMeasure u with (nolock) on rd.UnitID=u.UnitID 
inner join Stock st with (nolock) on st.ItemID=rd.ItemID 
outer apply (select top 1* from WorkAllocationDetails with (nolock) where MILCWID=rd.ItemID) wa 
left join WorkAllocationSub was with (nolock) on was.WorkAllocationSubID=wa.WorkAllocationSubID 
group by m.MaterialCode,m.Description,rd.ItemID,rd.UnitID,rm.StockConditionID,s.Description,st.SerialFlag,rm.SerialNo,rms.userdefinedfieldvalue,UnitOfMeasure,rm.Quantity, rm.CommissionedDate,wa.WorkAllocationSubID,MainAccountCode
)as P
GO
