USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DCBDetails]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_DCBDetails](@olid int,@month int,@yr int) Returns Table as Return 

select drd.RevenueDemandAccountCode,drd.BalanceAccountCode,drd.VoltageClassID,vc.VoltageClassCode,vc.Description VoltageClass,drd.TariffTypeID,tt.Description TariffType,drd.TariffID,t.Description Tariffs
,sum(isnull(drd.Connected_Load,0)) Connected_Load,sum(isnull(drd.No_Live_Installation,0)) No_Live_Installation ,sum(isnull(drd.No_Metered_Live_Install,0)) No_Metered_Live_Install
,sum(isnull(drd.No_Of_Live_Install_To_Be_Billed,0)) No_Of_Live_Install_To_Be_Billed, sum(isnull(drd.No_Install_Billed,0)) No_Install_Billed,sum(isnull(drd.MeteredUnit,0)) MeteredUnit
,sum(isnull(drd.WheeledEnergy,0)) WheeledEnergy, sum(isnull(drd.Total,0)) Total,sum(isnull(drd.Revenue_OB,0)) Revenue_OB,sum(isnull(drd.Interest_OB,0)) Interest_OB,sum(isnull(drd.Tax_OB,0)) Tax_OB
,sum(isnull(drd.Total_OB,0)) Total_OB, sum(isnull(ddd.FAC,0)) FAC,sum(isnull(ddd.DemandRevenue,0)) DemandRevenue,sum(isnull(ddd.DemandInterest,0)) DemandInterest,sum(isnull(ddd.DemandTax,0)) DemandTax
,sum(isnull(ddd.Total_Demand,0)) Total_Demand, sum(isnull(dcd.Revenue_Cash_Cheque,0)) Revenue_Cash_Cheque,sum(isnull(dcd.Revenue_Adjustment,0)) Revenue_Adjustment,sum(isnull(dcd.Revenue_Total,0)) Revenue_Total 
,sum(isnull(dcd.Interest_Cash_Cheque,0)) Interest_Cash_Cheque,sum(isnull(dcd.Interest_Adjustment,0)) Interest_Adjustment,sum(isnull(dcd.Interst_Total,0)) Interst_Total, sum(isnull(dcd.Tax_Cash_Cheque,0)) Tax_Cash_Cheque
,sum(isnull(dcd.Tax_Adjustment,0)) Tax_Adjustment,sum(isnull(dcd.Tax_Total,0)) Tax_Total
,sum(isnull(dcd.Interest_Cash_Cheque,0)+isnull(dcd.Interest_Adjustment,0)+isnull(dcd.Tax_Cash_Cheque,0)+isnull(dcd.Tax_Adjustment,0)+isnull(dcd.Revenue_Cash_Cheque,0)+isnull(dcd.Revenue_Adjustment,0)) Collection_Total
,sum(isnull(dcbd.Balance_Revenue,0)) Balance_Revenue,sum(isnull(dcbd.Balance_Interest,0)) Balance_Interest,sum(isnull(dcbd.Balance_Tax,0)) Balance_Tax
,sum(isnull(dcbd.Balance_Revenue,0)+isnull(dcbd.Balance_Interest,0)+isnull(dcbd.Balance_Tax,0)) Total_Balance 

from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID 
left join DCBDemandDetails ddd with (nolock) on ddd.DCBRevenueDetailsID=drd.DCBRevenueDetailsID 
left join DCBCollectionDetails dcd with (nolock) on dcd.DCBRevenueDetailsID=drd.DCBRevenueDetailsID 
left join DCBClosingBalanceDetails dcbd with (nolock) on dcbd.DCBRevenueDetailsID=drd.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
left join TariffTypes_Accounts tt with (nolock) on tt.TariffTypeID=drd.TariffTypeID 
left join Tariffs_Accounts t with (nolock) on t.TariffID=drd.TariffID 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=drd.VoltageClassID 
group by drd.RevenueDemandAccountCode,drd.BalanceAccountCode,drd.VoltageClassID,vc.VoltageClassCode,vc.Description,drd.TariffTypeID,drd.TariffID,tt.Description,t.Description
GO
