USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnStockLedger]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FnStockLedger] (@UOLID Int,@AsOnDate DateTime)

RETURNS Table AS 
RETURN 	(

--Declare @UOLID Int select @UOLID = 453
--Declare @AsOnDate DateTime select @AsOnDate ='2016-07-20'



select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,ItemID,StockConditionID,ActualUnitID,SQUnitID,Quantity,(case when actualQuantity=0 then Quantity else ActualQuantity end) as ActualQuantity,Multiply,Devided from ( 
select *,(Round((Quantity*Multiply),4) + (case when (Quantity=0 or Devided=0) then 0 else Round((Quantity/Devided),4) end)) as ActualQuantity  from ( 

select CorporateOLID,ZonalOLID,CircleOLID,fn.AcOLID,fn.ItemID,fn.StockConditionID,fn.UnitID as ActualUnitID,sq.UnitID as SQUnitID
,isnull((case when StockConditionID=1 then GoodQuantity else case when StockConditionID=2 then RGoodQuantity else case when StockConditionID=3 then FaultyQuantity else case when StockConditionID=4 then ScrapQuantity else 0 end end end end),0) as Quantity
,isnull(mc.Quantity,0) as Multiply,isnull(dc.Quantity,0) as Devided
from FnItemWiseUOM(@UOLID)
 Fn
inner join ( select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,ItemID,UnitID,Sum(GoodQuantity) as GoodQuantity,Sum(RGoodQuantity) as RGoodQuantity,Sum(FaultyQuantity) as FaultyQuantity,Sum(ScrapQuantity) as ScrapQuantity from FnStockLedgerDetails (@UOLID,@AsOnDate)
 Group By CorporateOLID,ZonalOLID,CircleOLID,AcOLID,ItemID,UnitID ) as SQ on sq.ItemID=fn.ItemID and sq.AcOLID=fn.AcOLID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=fn.ItemID and mc.UnitID=sq.UnitID and mc.UnitIIID=fn.UnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=fn.ItemID and dc.UnitID=fn.UnitID and dc.UnitIIID=sq.UnitID
) as A ) as A where (case when actualQuantity=0 then Quantity else ActualQuantity end)<>0 --and ItemID= 656

)
GO
