USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnStockQuantity]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnStockQuantity] (@UOLID Int)

RETURNS Table AS 
RETURN 	(

--Declare @UOLID Int select @UOLID = 339



select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,ItemID,StockConditionID,ActualUnitID,SQUnitID,Quantity,(case when actualQuantity=0 then Quantity else ActualQuantity end) as ActualQuantity,Multiply,Devided from ( 
select *,(Round((Quantity*Multiply),4) + (case when (Quantity=0 or Devided=0) then 0 else Round((Quantity/Devided),4) end)) as ActualQuantity  from ( 

select CorporateOLID,ZonalOLID,CircleOLID,fn.AcOLID,fn.ItemID,fn.StockConditionID,fn.UnitID as ActualUnitID,sq.UnitID as SQUnitID
,isnull((case when StockConditionID=1 then GoodQuantity else case when StockConditionID=2 then ReleasedGoodQuantity else case when StockConditionID=3 then ReleasedFaultyQuantity else case when StockConditionID=4 then ReleasedScrapQuantity else 0 end end end end),0) as Quantity
,isnull(mc.Quantity,0) as Multiply,isnull(dc.Quantity,0) as Devided
from FnItemWiseUOM(@UOLID)
 Fn
inner join (select sq.*,CorporateOLID,ZonalOLID,CircleOLID,AcOLID from StockQuantity sq inner join (select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@UOLID or ZonalOLID=@UOLID or CircleOLID=@UOLID or AcOLID=@UOLID) and OfficeID not in (65,66,85,49)) ol on ol.OLID=sq.OLID ) as SQ on sq.ItemID=fn.ItemID and sq.AcOLID=fn.AcOLID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=fn.ItemID and mc.UnitID=sq.UnitID and mc.UnitIIID=fn.UnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=fn.ItemID and dc.UnitID=fn.UnitID and dc.UnitIIID=sq.UnitID
) as A ) as A where (case when actualQuantity=0 then Quantity else ActualQuantity end)<>0 --and ItemID= 656


)
GO
