USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DCBOtherAdj]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DCBOtherAdj](@olid int,@month int,@yr int) RETURNS Table AS Return 

select vc.Description VoltageClass,vc.VoltageClassID,a.TariffID,t.Description Tariff,a.AccountHead,a.Description,sum(a.Amount) Amount 
from (select * from DCBRevenue b with (nolock) where b.Month=@month and b.Year=@yr and b.OLID<>@olid ) b
inner join DCBOtherAdjustmentDetails a with (nolock) on a.DCBRevenueID=b.DCBRevenueID 
left join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=b.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
inner join VoltageClass vc with (nolock) on a.VoltageClassID=vc.VoltageClassID 
inner join Tariffs_Accounts t with (nolock) on a.TariffID=t.TariffID 
group by vc.Description,t.Description,a.AccountHead,a.Description,vc.VoltageClassID,a.TariffID
GO
