USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnOLID]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnOLID](@OLID bigint)
RETURNS Table AS
RETURN 	(

With OLID (C_OLID,C_OID,Z_OLID,Z_OID,Cr_OLID,Cr_OID,D_OLID,D_OID,S_OLID,S_OID,Se_OLID,Se_OID,C_UOID,Z_UOID,Cr_UOID,D_UOID,S_UOID,Se_UOID) as (
select * from (
select ola.OfficeLocationAllocationid as C_OLID,ola.OfficeID as C_OID,ola1.OfficeLocationAllocationid as Z_OLID,ola1.OfficeID as Z_OID,ola2.OfficeLocationAllocationid as Cr_OLID,ola2.OfficeID as Cr_OID
,ola3.OfficeLocationAllocationid as D_OLID,ola3.OfficeID as D_OID,ola4.OfficeLocationAllocationid as S_OLID,ola4.OfficeID as S_OID,ola5.OfficeLocationAllocationid as Se_OLID,ola5.OfficeID as Se_OID
,ola1.Officeid as C_UOID,ola2.Officeid as Z_UOID,ola3.Officeid as Cr_UOID,ola4.Officeid as D_UOID,ola5.Officeid as S_UOID,NULL as Se_UOID
from (select * from OfficeLocationAllocation ola with (nolock) where ola.OfficeLocationAllocationid=@OLID ) ola
left outer join OfficeLocationAllocation ola1 with (nolock) on ola1.UnderOfficeLocationAllocationid=ola.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola2 with (nolock) on ola2.UnderOfficeLocationAllocationid=ola1.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola3 with (nolock) on ola3.UnderOfficeLocationAllocationid=ola2.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola4 with (nolock) on ola4.UnderOfficeLocationAllocationid=ola3.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola5 with (nolock) on ola5.UnderOfficeLocationAllocationid=ola4.OfficeLocationAllocationid
) as OL

) ,OL (OLID,OID,UOID,SlNo,SlNo1) as (
select *,Row_Number() over (Partition by SlNo order by SlNo,OID,OLID) as SlNo1 from (
select Distinct C_OLID as OLID,C_OID as OID,C_UOID as UOID,1 as SlNo from OLID union all
select Distinct Z_OLID as OLID ,Z_OID,Z_UOID,2 as SlNo  from OLID union all
select Distinct Cr_OLID as OLID ,Cr_OID,Cr_UOID,3 as SlNo  from OLID union all
select Distinct D_OLID as OLID ,D_OID,D_UOID,4 as SlNo  from OLID union all
select Distinct S_OLID as OLID ,S_OID,S_UOID,5 as SlNo  from OLID union all
select Distinct Se_OLID as OLID ,Se_OID,Se_UOID,6 as SlNo  from OLID 
) as OL where OLID is not null

),O (OfficeID,OfficeName,Accounts) as (
select o.OfficeID,o.OfficeName,Accounts
from Office o with (nolock) 
left outer join OfficeTypeProjectAllocation oa with (nolock) on oa.OfficeTypeProjectAllocationID=o.OfficeID
left outer join OfficeTypes ot with (nolock) on ot.OfficeTypeID=oa.OfficeTypeID

)
select * from OL left outer join O on o.OfficeID=ol.OID

)
GO
