USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnItemWiseUOM]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnItemWiseUOM] (@UOLID Int)

RETURNS Table AS 
RETURN 	(

--Declare @UOLID Int select @UOLID = 339


select ItemID,StockConditionID,UnitID,AcOLID,OrderNo from ( select *,(Row_Number() over (Partition By ItemID,StockConditionID,AcOLID Order By ItemID,StockConditionID,AcOLID,OrderNo)) as MaxNo from ( 

select ItemID,StockConditionID,UnitID,AcOLID,1 as OrderNo
from (select * from ( select * ,(Row_Number() over (Partition By ItemID,StockConditionID Order By ItemID,StockConditionID,StockConditionUOMAllocationID)) as MaxNo
from StockConditionUOMAllocation with (nolock)) as A where MaxNo=1 ) as A --and  ItemID= 656
Cross Join (select distinct AcOLID from FnUnderOL() where (CorporateOLID=@UOLID or ZonalOLID=@UOLID or CircleOLID=@UOLID or AcOLID=@UOLID) and OfficeID not in (65,66,85,49) and AcUnit=1) as B

union all
select ItemID,StockConditionID,UnitID,AcOLID,2 as OrderNo
from ( select *,(Row_Number() over (Partition By ItemID,OLID Order By ItemID,OLID,StockLedgerYear desc,StockLedgerMonth desc,StockLedgerID desc)) as MaxNo
from StockLedger_PnI with (nolock) ) as A Cross Join StockConditions with (nolock)
inner join (select distinct AcOLID,OLID from FnUnderOL() where (CorporateOLID=@UOLID or ZonalOLID=@UOLID or CircleOLID=@UOLID or AcOLID=@UOLID) and OfficeID not in (65,66,85,49) and AcUnit=1) ol on ol.OLID=a.OLID
where MaxNo=1 --and ItemID= 656
) as A ) as A where MaxNO=1


)
GO
