USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TaxInvoiceReport]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TaxInvoiceReport] (@TaxNo Varchar(50)) RETURNS Table AS Return (

--Declare @TaxNo Varchar(50) = 'MESCOM/0521-0001143'
--;

WITH DATA1 AS (

select ('Corporate Office'+char(13)+'MESCOM BHAVANA'+char(13)+'Kavoor Cross Road,'+char(13)+'Bejai, Mangaluru.'+char(13)+'PIN : 575 004') A 
, ((b.OfficeLocation collate database_default+char(13)+CompanyName)+char(13)+char(13)+'Website : '+char(13)+Website collate database_default) B 
, CIN C,PANNo D, '29AADCM7029H1ZA' E, '29' F, ('MESCOM/'+TaxInvoiceNo) G, Convert(varchar,Date1,103) H, ContactName I, Address J, GSTINNo K, ContactName L, Address M, GSTINNo N
, isnull(StateName,'Karnataka') O, isnull(Code,'29') P, isnull(StateName,'Karnataka') Q, isnull(Code,'29') R, ProductName S, HSN T, AcHead U, UOM V, cast(Qty as Numeric(18,4)) W, Rate X, Amount Y, cast(LessDiscount as Int) Z, Amount AA
, CGSTRate AB, CGST AC, SGSTRate AD, SGST AE, IGSTRate AF, IGST AG, (isnull(Amount,0)+isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0)) AH, cast(TCS as Int) AI
, (isnull(Amount,0)+isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0)+isnull(TCS,0)+isnull(RoundOff,0)) AJ
, cast(isnull(RoundOff,0) as Int) AL from (

select a.OLID ,TaxInvoiceNo,ReferenceDate Date1 ,ContactName,Address,GSTINNo ,isnull(p1.Description,p.Description) ProductName ,'0' HSN,(BalanceCollectionMainAccountCode+BalanceCollectionSubAccountCode) AcHead,'No' UOM,'1' Qty,Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,isnull(RoundOffAmount,0) RoundOff,'0' TCS, Amount Rate from (
select SecurityDepositID,OLID,ContactName,ProductTypeID,GSTINNo,Address,TaxInvoiceNo from SecurityDeposit with(nolock) where Approved=1 and ('MESCOM/'+TaxInvoiceNo) = @TaxNo
) A Inner Join SecurityDepositDetails B with(nolock) on b.SecurityDepositID=a.SecurityDepositID
cross apply ( select SecurityDepositID
    	,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from SecurityDepositTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.SecurityDepositID=a.SecurityDepositID Group By SecurityDepositID ) c
Left Outer Join AllocationStatementPresetData P with(nolock) on p.AllocationStatementPresetDataID=b.DepositTypeID
Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=a.ProductTypeID and (MainAccountCode+SubAccountCode) collate database_default = (BalanceCollectionMainAccountCode+BalanceCollectionSubAccountCode)
union all
select a.BillRegisterOLID ,TaxInvoiceNo collate database_default ,BillRegisterDate ,RecepientName collate database_default ,c1.StreetName collate database_default ,GSTINNo ,r.Description collate database_default ProductName ,'9986' HSN,(ToMainAccountCode+ToSubAccountCode) collate database_default AcHead,'No' UOM,'1' Qty,Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS, Amount Rate from (
select BillRegisterNo,BillRegisterOLID,BillRegisterDate,RecepientName,TaxInvoiceNo from MiscellaneousInvoice with(nolock) where ('MESCOM/'+TaxInvoiceNo) = @TaxNo
) A Outer Apply (select RecoveryID,Sum(RecoveryAmount) Amount from RecoveryDetails R1 with(nolock) where r1.RecoveryID='36' and r1.BillRegisterNo=a.BillRegisterNo and r1.OLID=a.BillRegisterOLID Group By RecoveryID) R1
Left Outer Join Recovery R with(nolock) on r.RecoveryID=r1.RecoveryID
Left Outer Join ExternalOrganisations B with(nolock) on b.Name=a.RecepientName
Left Outer join ExternalOrganisationBranches C1 with(nolock) on c1.ExternalOrganisationID=b.ExternalOrganisationID
cross apply ( select  BillRegisterNo,OLID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from RecoveryDetails c1 with(nolock) 
		Inner Join Recovery r with(nolock) on r.RecoveryID =c1.RecoveryID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.BillRegisterNo=a.BillRegisterNo and c1.OLID=a.BillRegisterOLID Group By BillRegisterNo,OLID ) c
union all
select ScheduleOLID ,TaxInvoiceNo collate database_default ,JournalVoucherDate ,ContactName collate database_default ,f.Description collate database_default ,GSTINNo collate database_default ,c.Description collate database_default ProductName ,'999794' HSN,(MainAccountCode+SubAccountCode) collate database_default AcHead,'No' UOM,'1' Qty,a.Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS, a.Amount Rate from (
select DivisionAdjustmentID,ToScheduleID,TaxInvoiceNo,JournalVoucherNo,(isnull(Amount,0)-isnull(TaxAmount,0)) Amount from DivisionAdjustments with(nolock) 
where Approved=1 and isnull(Canceled,0)=0 and ('MESCOM/'+TaxInvoiceNo) = @TaxNo
) A Inner Join Schedules B with(nolock) on b.ScheduleID=a.ToScheduleID
Left Outer Join ScheduleTypes C on c.ScheduleTypeID=b.ScheduleTypeID
Left Outer Join ContactGSTINDetails D with(nolock) on d.ContactID=b.ContactID
Outer Apply (select * from (select *,(Row_Number() over (Partition By ContactID Order By ContactID,ContactAddressDetailsID desc)) MaxNo from ContactAddressDetails E with(nolock) where e.ContactID=b.ContactID ) A where MaxNo=1) E
Left Outer Join Address F with(nolock) on f.AddressID=e.AddressID
Left Outer Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
cross apply ( select DivisionAdjustmentID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DivisionAdjustmentTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.DivisionAdjustmentID=a.DivisionAdjustmentID Group By DivisionAdjustmentID ) c1
union all
select InvoiceOLID ,TaxInvoiceNo,JournalVoucherDate ,ct.Fileas,f.Description Address,GSTINNo ,mc.Description ProductName ,b.HSNCode,'' AcHead,UnitOfMeasure, Quantity,AuctionAmount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff, (case when Rownum=1 then DutiesAmount else 0 end) TCS,AuctionRate from (
select SaleOfScrapID,InvoiceOLID,TaxInvoiceNo,JournalVoucherNo,ContactID,DutiesAmount from SaleOfScrap with(nolock) where Approved=1 and isnull(Canceled,0)=0 and ('MESCOM/'+TaxInvoiceNo) = @TaxNo
) A cross apply(select *,(Row_number() over (Order By SaleOfScrapMaterialDetailsID)) Rownum from SaleOfScrapMaterialDetails B with(nolock) where b.SaleOfScrapID=a.SaleOfScrapID ) B
Left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.ContactID
Left Outer Join ContactGSTINDetails D with(nolock) on d.ContactID=a.ContactID
Outer Apply (select * from (select *,(Row_Number() over (Partition By ContactID Order By ContactID,ContactAddressDetailsID desc)) MaxNo from ContactAddressDetails E with(nolock) where e.ContactID=a.ContactID ) A where MaxNo=1) E
Left Outer Join Address F with(nolock) on f.AddressID=e.AddressID
Left Outer Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
Left Outer Join MaterialCode MC with(nolock) on mc.ItemID=b.ItemID
Left Outer Join UnitOfMeasure U with(nolock) on u.UnitID=b.UnitID
cross apply ( select SaleOfScrapMaterialDetailsID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from SaleOfScrapMaterialTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.SaleOfScrapMaterialDetailsID=b.SaleOfScrapMaterialDetailsID Group By SaleOfScrapMaterialDetailsID ) c1

) A Cross Join Company C1 with(nolock) 
Inner Join OfficeLocationAccountingUnitDetails B with(nolock) on b.OLID=a.OLID
Inner Join OfficeLocationAllocation C with(nolock) on c.OfficeLocationAllocationID=b.AcOLID
Left Outer Join StateCode D with(nolock) on ltrim(rtrim(d.Code))=ltrim(rtrim(left(GSTINNo,2)))

) select * from DATA1 cross join (SELECT dbo.fnNumToWords(Sum(AJ)) AK FROM DATA1) B


)

GO
