USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRBODLDID]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnMaxSRBODLDID]()
RETURNS Table AS
RETURN 	(


select ScaleRegisterID,ODLDID,EmployeeStatusID  from ( select distinct ScaleRegisterID,ODLDID,EmployeeStatusID 
,(Row_Number() over (Partition By ScaleRegisterID Order By ScaleRegisterID,StartingDate desc,ScaleregisterBasicPayDetailsID desc)) as MaxNo
from ScaleregisterBasicPayDetails srb With (NoLock) where isnull(srb.ODLDID,0)>0 and isnull(Amount,0)<>0 ) as A where MaxNo=1
--and ScaleRegisterID = 475999




)
GO
