USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDnOrder]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnDnOrder]()
RETURNS Table AS
RETURN 	(


select isnull(isnull(isnull(isnull(isnull(isnull(
(case when dn.DesignationID=219 then '01.00' else 
case when dn.DesignationID=224 then '02' else 
case when dn.DesignationID=236 then '03' else 
case when dn.DesignationID=242 then '04' else 
case when dn.DesignationID=238 then '06' else 
case when dn.DesignationID=226 then '07' else 
case when dn.DesignationID=240 then '08' else 
case when dn.DesignationID=220 then '09' else 
case when dn.DesignationID=297 then '10' else 
case when dn.DesignationID=225 then '05' else NULL end end end end end end end end end end)

,(case when dn.DesignationID=227 then '11' else 
case when dn.DesignationID=228 then '12' else 
case when dn.DesignationID=234 then '13' else 
case when dn.DesignationID=229 then '14' else 
case when dn.DesignationID=247 then '15' else 
case when dn.DesignationID=231 and e.EmployeeGradeID=2 then '16' else 
case when dn.DesignationID=232 then '17' else 
case when dn.DesignationID=221 then '18' else 
case when dn.DesignationID=230 then '23.01' else 
case when dn.DesignationID=235 then '23.02' else  NULL end end end end end end end end end end))  

,(case when dn.DesignationID=248 then '21' else 
case when dn.DesignationID=272 then '17.01' else 
case when dn.DesignationID in (281,307,311,317) then '23' else 
case when dn.DesignationID in (282,308,312) then '24' else 
case when dn.DesignationID=277 then '17.02' else 
case when dn.DesignationID=284 then '17.03' else 
case when dn.DesignationID=233 then '23.03' else 
case when dn.DesignationID=298 then '28' else 
case when dn.DesignationID=253 then '29' else 
case when dn.DesignationID=254 then '16.01' else NULL end end end end end end end end end end)) 

,(case when dn.DesignationID=271 then '17.04' else 
case when dn.DesignationID=255 then '32' else 
case when dn.DesignationID=259 then '33' else 
case when dn.DesignationID=256 then '34' else 
case when dn.DesignationID=265 then '35' else 
case when dn.DesignationID=237 then '23.04' else 
case when dn.DesignationID=245 then '37' else 
case when dn.DesignationID=262 then '24.03' else 
case when dn.DesignationID=263 then '24.04' else 
case when dn.DesignationID=266 then '40' else NULL end end end end end end end end end end)) 

,(case when dn.DesignationID=267 then '24.01' else 
case when dn.DesignationID=283 then '42' else 
case when dn.DesignationID=244 then '43' else 
case when dn.DesignationID=278 then '44' else 
case when dn.DesignationID=279 then '45' else 
case when dn.DesignationID=299 then '46' else 
case when dn.DesignationID in (285,302,309,313,319) then '47' else 
case when dn.DesignationID in (287,303,304,210,314,310,320) then '48' else 
case when dn.DesignationID=223 then '45.02' else 
case when dn.DesignationID=291 then '50' else NULL end end end end end end end end end end)) 

,(case when dn.DesignationID=264 then '51' else 
case when dn.DesignationID=289 then '46.01' else 
case when dn.DesignationID=300 then '53' else 
case when dn.DesignationID=268 then '24.02' else 
case when dn.DesignationID in (288,306) then '55' else NULL end end end end end)) 

,'99') as Ordering
,dn.DesignationID,dn.DesignationName,e.EmployeeGradeID,eg.Description as Groups

from Designation dn with ( nolock)
left outer join EmployeeGradeDesignationAllocation e with ( nolock) on e.DesignationID=dn.DesignationID
left outer join EmployeeGrades eg with ( nolock) on eg.EmployeeGradeID=e.EmployeeGradeID



)
GO
