USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSROtherDeductions]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSROtherDeductions](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS Table AS
RETURN 	(


--Declare @OLID Int select @OLID = 0
--Declare @YearID Int select @YearID = 0
--Declare @MonthID Int select @MonthID = 0
--Declare @ContactID Int select @ContactID = 0


select sra.* from ( 
select ScaleRegisterID,ODLDID,SalaryOtherDeductionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select srd.ScaleRegisterID,srd.ODLDID,srd.SalaryOtherDeductionID,srd.Amount as TobePaidAmount,0 as PaidAmount,srd.Amount
from ScaleRegisterOtherDeductions srd with(nolock) inner join dbo.FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn1 on srd.ScaleRegisterID=fn1.ScaleRegisterID
where isnull(srd.Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,SalaryDeductionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID from ScaleRegisterWithdrawals srw with(nolock)  inner join dbo.FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW
inner join ScaleRegisterOtherDeductionWithdrawals srlw  with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,ODLDID,SalaryOtherDeductionID
) as SRA 


)
GO
