USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnRateDetails_Contract]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnRateDetails_Contract]()
RETURNS Table AS
RETURN 	(


select * from (
select ContactID,a.* ,(Row_Number() over (Partition By ContactID,RateTypes,RateTypeID Order By ContactID,RateTypes,RateTypeID,FromDate desc,isnull(Rates,0) desc,ToDate desc)) MaxNo from ( 
select distinct 'Allowances' as RateTypes,EmployeePayDetailsID,AllowanceID as RateTypeID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,EffectiveDate as FromDate,NULL as ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,EmployeePayAllowanceRateSeries as RateSeries,EmployeePayAllowanceRateUnits as RateUnits,EmployeePayAllowanceRate as Rates,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition
from EmployeePayAllowanceRatePeriods sod inner join EmployeePayAllowanceRates sodr on sodr.EmployeePayAllowanceRatePeriodID=sod.EmployeePayAllowanceRatePeriodID 
where Approved=1 
union all
select distinct 'Allowances' as RateTypes,EmployeePayDetailsID,sod.AllowanceID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,sodr.FromDate,sodr.ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,EmployeePayAllowanceRatePeriodSeries,EmployeePayAllowanceRateUnits,EmployeePayAllowanceRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition
from EmployeePayAllowanceRatePeriods sod 
inner join ( select a.EmployeePayAllowanceRatePeriodID,a.EmployeePayAllowanceRatePeriodSeries,a.EmployeePayAllowanceRateUnits,a.EmployeePayAllowanceRate,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate,a.MinimumAmount,a.MaximumAmount,a.Addition
from EmployeePayAllowanceRateHistory a left outer join EmployeePayAllowanceRateHistory b on b.EmployeePayAllowanceRatePeriodID=a.EmployeePayAllowanceRatePeriodID and b.EmployeePayAllowanceRatePeriodSeries=a.EmployeePayAllowanceRatePeriodSeries and b.ValidUpTo<a.ValidUpTo
group by a.EmployeePayAllowanceRatePeriodID,a.EmployeePayAllowanceRatePeriodSeries,a.EmployeePayAllowanceRateUnits,a.EmployeePayAllowanceRate,a.ValidUpTo,a.MinimumAmount,a.MaximumAmount,a.Addition 
) sodr on sodr.EmployeePayAllowanceRatePeriodID=sod.EmployeePayAllowanceRatePeriodID
union all
select distinct 'Additions' as RateTypes,EmployeePayDetailsID,AdditionID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,EffectiveDate as FromDate,NULL as ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,EmployeePayAdditionRateSeries,EmployeePayAdditionRateUnits,EmployeePayAdditionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition
from EmployeePayAdditionRatePeriods sod inner join EmployeePayAdditionRates sodr on sodr.EmployeePayAdditionRatePeriodID=sod.EmployeePayAdditionRatePeriodID 
where Approved=1 
union all
select distinct 'Additions' as RateTypes,EmployeePayDetailsID,AdditionID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,sodr.FromDate,sodr.ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,EmployeePayAdditionRatePeriodSeries,EmployeePayAdditionRateUnits,EmployeePayAdditionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition
from EmployeePayAdditionRatePeriods sod 
inner join ( select a.EmployeePayAdditionRatePeriodID,a.EmployeePayAdditionRatePeriodSeries,a.EmployeePayAdditionRateUnits,a.EmployeePayAdditionRate,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate,a.MinimumAmount,a.MaximumAmount,a.Addition
from EmployeePayAdditionRateHistory a left outer join EmployeePayAdditionRateHistory b on b.EmployeePayAdditionRatePeriodID=a.EmployeePayAdditionRatePeriodID and b.EmployeePayAdditionRatePeriodSeries=a.EmployeePayAdditionRatePeriodSeries and b.ValidUpTo<a.ValidUpTo
group by a.EmployeePayAdditionRatePeriodID,a.EmployeePayAdditionRatePeriodSeries,a.EmployeePayAdditionRateUnits,a.EmployeePayAdditionRate,a.ValidUpTo,a.MinimumAmount,a.MaximumAmount,a.Addition 
) sodr on sodr.EmployeePayAdditionRatePeriodID=sod.EmployeePayAdditionRatePeriodID
union all
select distinct 'Deductions' as RateTypes,EmployeePayDetailsID,DeductionID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,EffectiveDate as FromDate,NULL as ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,EmployeePayDeductionRateSeries,EmployeePayDeductionRateUnits,EmployeePayDeductionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition
from EmployeePayDeductionRatePeriods sod inner join EmployeePayDeductionRates sodr on sodr.EmployeePayDeductionRatePeriodID=sod.EmployeePayDeductionRatePeriodID 
where Approved=1
union all
select distinct 'Deductions' as RateTypes,EmployeePayDetailsID,DeductionID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,sodr.FromDate,sodr.ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,EmployeePayDeductionRatePeriodSeries,EmployeePayDeductionRateUnits,EmployeePayDeductionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition
from EmployeePayDeductionRatePeriods sod 
inner join ( select a.EmployeePayDeductionRatePeriodID,a.EmployeePayDeductionRatePeriodSeries,a.EmployeePayDeductionRateUnits,a.EmployeePayDeductionRate,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate,a.MinimumAmount,a.MaximumAmount,a.Addition
from EmployeePayDeductionRateHistory a left outer join EmployeePayDeductionRateHistory b on b.EmployeePayDeductionRatePeriodID=a.EmployeePayDeductionRatePeriodID and b.EmployeePayDeductionRatePeriodSeries=a.EmployeePayDeductionRatePeriodSeries and b.ValidUpTo<a.ValidUpTo
group by a.EmployeePayDeductionRatePeriodID,a.EmployeePayDeductionRatePeriodSeries,a.EmployeePayDeductionRateUnits,a.EmployeePayDeductionRate,a.ValidUpTo,a.MinimumAmount,a.MaximumAmount,a.Addition 
) sodr on sodr.EmployeePayDeductionRatePeriodID=sod.EmployeePayDeductionRatePeriodID
) as A inner join (select distinct EmployeePayDetailsID,ContactID from EmployeePayDetails A with (nolock) where EmployeePayTypeID=1 and isnull(ContactID,0)!=0) as B on b.EmployeePayDetailsID=a.EmployeePayDetailsID
) A --where MaxNo=1

--where RateTypes='Allowances' and RateTypeID= 1
--where RateTypes='Additions' and RateTypeID= 15
--where RateTypes='Deductions' and RateTypeID= 20

--Order by ContactID,RateTypeID,FromDate,Todate,DesignationID,OfficeDepartmentAllocationID,TerritoryClassTypeID,EmployeeGradeID,Gender

)
GO
