USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnRateDetails]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnRateDetails]()
RETURNS Table AS
RETURN 	(



select * from ( 
select distinct 'Allowances' as RateTypes,EmployeePayDetailsID,AllowanceID as RateTypeID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,EffectiveDate as FromDate,NULL as ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,AllowanceRateSeries as RateSeries,AllowanceRateUnits as RateUnits,AllowanceRate as Rates,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition,0 NewRegime
from AllowanceRatePeriods sod inner join AllowanceRates sodr on sodr.AllowanceRatePeriodID=sod.AllowanceRatePeriodID 
where Approved=1 
union all
select distinct 'Allowances' as RateTypes,EmployeePayDetailsID,sod.AllowanceID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,sodr.FromDate,sodr.ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,AllowanceRatePeriodSeries,AllowanceRateUnits,AllowanceRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition,0 NewRegime
from AllowanceRatePeriods sod 
inner join ( select a.AllowanceRatePeriodID,a.AllowanceRatePeriodSeries,a.AllowanceRateUnits,a.AllowanceRate,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate,a.MinimumAmount,a.MaximumAmount,a.Addition
from AllowanceRateHistory a left outer join AllowanceRateHistory b on b.AllowanceRatePeriodID=a.AllowanceRatePeriodID and b.AllowanceRatePeriodSeries=a.AllowanceRatePeriodSeries and b.ValidUpTo<a.ValidUpTo
group by a.AllowanceRatePeriodID,a.AllowanceRatePeriodSeries,a.AllowanceRateUnits,a.AllowanceRate,a.ValidUpTo,a.MinimumAmount,a.MaximumAmount,a.Addition 
) sodr on sodr.AllowanceRatePeriodID=sod.AllowanceRatePeriodID
union all

select distinct 'Additions' as RateTypes,EmployeePayDetailsID,SalaryOtherAdditionsID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,EffectiveDate as FromDate,NULL as ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,SalaryOtherAdditionRateSeries,SalaryOtherAdditionRateUnits,SalaryOtherAdditionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition,0 NewRegime
from SalaryOtherAdditionRatePeriods sod inner join SalaryOtherAdditionRates sodr on sodr.SalaryOtherAdditionsPeriodID=sod.SalaryOtherAdditionPeriodID 
where Approved=1 
union all
select distinct 'Additions' as RateTypes,EmployeePayDetailsID,SalaryOtherAdditionsID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,sodr.FromDate,sodr.ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,SalaryOtherAdditionSeries,SalaryOtherAdditionRateUnits,SalaryOtherAdditionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition,0 NewRegime
from SalaryOtherAdditionRatePeriods sod 
inner join ( select a.SalaryOtherAdditionPeriodID,a.SalaryOtherAdditionSeries,a.SalaryOtherAdditionRateUnits,a.SalaryOtherAdditionRate,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate,a.MinimumAmount,a.MaximumAmount,a.Addition
from SalaryOtherAdditionRateHistory a left outer join SalaryOtherAdditionRateHistory b on b.SalaryOtherAdditionPeriodID=a.SalaryOtherAdditionPeriodID and b.SalaryOtherAdditionSeries=a.SalaryOtherAdditionSeries and b.ValidUpTo<a.ValidUpTo
group by a.SalaryOtherAdditionPeriodID,a.SalaryOtherAdditionSeries,a.SalaryOtherAdditionRateUnits,a.SalaryOtherAdditionRate,a.ValidUpTo,a.MinimumAmount,a.MaximumAmount,a.Addition 
) sodr on sodr.SalaryOtherAdditionPeriodID=sod.SalaryOtherAdditionPeriodID
union all

select distinct 'Deductions' as RateTypes,EmployeePayDetailsID,SalaryOtherDeductionsID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,EffectiveDate as FromDate,NULL as ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,SalaryOtherDeductionSeries,SalaryOtherDeductionRateUnits,SalaryOtherDeductionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition,NewRegime
from SalaryOtherDeductionRatePeriods sod inner join SalaryOtherDeductionRates sodr on sodr.SalaryOtherDeductionRatePeriodID=sod.SalaryOtherDeductionRatePeriodID 
where Approved=1
union all
select distinct 'Deductions' as RateTypes,EmployeePayDetailsID,SalaryOtherDeductionsID,DesignationID,EmployeeGradeID,TerritoryClassTypeID,OfficeDepartmentAllocationID,RateMode,RateType,Duration,BillingMonth,ConsumerBillingCyclesID,JoinDate,sodr.FromDate,sodr.ToDate,Gender,Formula,ExternalOrganisationID,ExternalOrganisationBranchID,EmployeeQuartersGradeID,TerritoryID,ExternalOrganisationTypeID,Age,SalaryOtherDeductionSeries,SalaryOtherDeductionRateUnits,SalaryOtherDeductionRate,sodr.MinimumAmount,sodr.MaximumAmount,sodr.Addition,NewRegime
from SalaryOtherDeductionRatePeriods sod 
inner join ( select a.SalaryOtherDeductionPeriodID,a.SalaryOtherDeductionSeries,a.SalaryOtherDeductionRateUnits,a.SalaryOtherDeductionRate,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate,a.MinimumAmount,a.MaximumAmount,a.Addition
from SalaryOtherDeductionRateHistory a left outer join SalaryOtherDeductionRateHistory b on b.SalaryOtherDeductionPeriodID=a.SalaryOtherDeductionPeriodID and b.SalaryOtherDeductionSeries=a.SalaryOtherDeductionSeries and b.ValidUpTo<a.ValidUpTo
group by a.SalaryOtherDeductionPeriodID,a.SalaryOtherDeductionSeries,a.SalaryOtherDeductionRateUnits,a.SalaryOtherDeductionRate,a.ValidUpTo,a.MinimumAmount,a.MaximumAmount,a.Addition 
) sodr on sodr.SalaryOtherDeductionPeriodID=sod.SalaryOtherDeductionRatePeriodID

) as A 
--where RateTypes='Allowances' and RateTypeID= 1
--where RateTypes='Additions' and RateTypeID= 15
--where RateTypes='Deductions' and RateTypeID= 20

--Order by RateTypeID,FromDate,Todate,DesignationID,OfficeDepartmentAllocationID,TerritoryClassTypeID,EmployeeGradeID,Gender


)

GO
