USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderOL_backup]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FnUnderOL_backup]()
RETURNS Table AS
RETURN 	(



With A (OrderNo,OLID,HeirarchyOLID,OfficeLocation,UnderOLID) as (
select 1 as OrderNo,OfficeLocationAllocationID,OfficeLocationAllocationID,Fileas,UnderOfficeLocationAllocationID from OfficeLocationAllocation with (nolock)
union all
select OrderNo+1 as OrderNo,ola.OfficeLocationAllocationID,HeirarchyOLID,a.OfficeLocation,UnderOfficeLocationAllocationID from OfficeLocationAllocation ola with (nolock) 
inner join A on a.UnderOLID=ola.OfficeLocationAllocationID 

), B (OrderNo,AcUnit,OLID,OfficeLocation,SubDivisionOLID,DivisionOLID,CircleOLID,ZonalOLID,CorporateOLID,OfficeID,LocationID) as (
select a.OrderNo,(case when o.OfficeID is not NULL then 1 else 0 end) as AcUnit,a.HeirarchyOLID as OLID,a.OfficeLocation
,(case when OrderNo=5 then a.HeirarchyOLID else case when OrderNo=6 then ola.UnderOfficeLocationAllocationID else 0 end end) as SubDivisionOLID
,(case when OrderNo=4 then a.HeirarchyOLID else case when OrderNo=5 then ola.UnderOfficeLocationAllocationID else case when OrderNo=6 then ola1.UnderOfficeLocationAllocationID else 0 end end end) as DivisionOLID
,(case when OrderNo=3 then a.HeirarchyOLID else case when OrderNo=4 then ola.UnderOfficeLocationAllocationID else case when OrderNo=5 then ola1.UnderOfficeLocationAllocationID else case when OrderNo=6 then ola2.UnderOfficeLocationAllocationID else 0 end end end end) as CircleOLID
,(case when OrderNo=2 then a.HeirarchyOLID else case when OrderNo=3 then ola.UnderOfficeLocationAllocationID else case when OrderNo=4 then ola1.UnderOfficeLocationAllocationID else case when OrderNo=5 then ola2.UnderOfficeLocationAllocationID else case when OrderNo=6 then ola3.UnderOfficeLocationAllocationID else 0 end end end end end) as ZonalOLID
,a.OLID as CorporateOLID,ola.OfficeID,ola.LocationID  from A 
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=a.HeirarchyOLID
left outer join OfficeLocationAllocation ola1 with (nolock) on ola1.OfficeLocationAllocationID=ola.UnderOfficeLocationAllocationID
left outer join OfficeLocationAllocation ola2 with (nolock) on ola2.OfficeLocationAllocationID=ola1.UnderOfficeLocationAllocationID
left outer join OfficeLocationAllocation ola3 with (nolock) on ola3.OfficeLocationAllocationID=ola2.UnderOfficeLocationAllocationID
left outer join ( select OfficeTypeProjectAllocationID as OfficeID from OfficeTypes ot with (nolock) inner join OfficeTypeProjectAllocation otp with (nolock) on otp.OfficeTypeID=ot.OfficeTypeID where Accounts = 1 ) as O on o.OfficeID=ola.OfficeID
where a.OLID = 337  )

select OrderNo,AcUnit,isnull(isnull(isnull(b1.OLID,b2.OLID),b3.OLID),b.OLID) as AcOLID,OfficeID,LocationID,b.OLID,OfficeLocation,SubDivisionOLID,DivisionOLID,(case when CircleOLID=663 then 0 else CircleOLID end) as CircleOLID,ZonalOLID,CorporateOLID from B 
left outer join ( select OLID from B where AcUnit = 1 ) as B1 on b1.OLID=b.DivisionOLID 
left outer join ( select OLID from B where AcUnit = 1 ) as B2 on b2.OLID=b.CircleOLID 
left outer join ( select OLID from B where AcUnit = 1 ) as B3 on b3.OLID=b.ZonalOLID 




)
GO
