USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetTimeScaleDesignationID]    Script Date: 15-06-2026 10:28:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetTimeScaleDesignationID](@ContactID varchar(max),@EffectiveDate Datetime,@CadreTypeID int,@Flag varchar(30))
RETURNS @TimeScale TABLE
(contactid int PRIMARY KEY, DesignationID_PromotionApptDet int,DesignationID_Promotion_NHS int,SanctionedDesignationID int,OfficiatingCharge int,HistoryODLID int,LienDesignationID int,EmployeeCadreTypeID int,EmployeeCadreType varchar(30),PayPixationFlag int,TimeScaleRevFlag int,TimeScaleRevEffectiveDate datetime,
History2Designation int,FinalDesignationID int)
AS
BEGIN
INSERT INTO @TimeScale







select distinct contactid,DesignationID_Promotion,DesignationID_NHS_P,SanctionedDesignationID,OfficiatingChargeDesID,HistoryODLDID,LienDesID,ect.EmployeeCadreTypeID, ECT1.Description,PayPixationFlag, (case when ETSP.EffectiveDate is not null then 1 else 0 end) TimeScaleRevFlag,ETSP.EffectiveDate as TimeScaleRevEffectiveDate,History2Designation,
(case when DesignationID_NHS_P>0 then DesignationID_NHS_P else case when DesignationID_Promotion>0 
and DesignationID_NHS_P=0 and History2Designation>0 then History2Designation else SanctionedDesignationID end end ) as FinalDesignationID
from(select  E.contactid, e.EmployeeCategoryID, isnull(EAD_P.ToDesignationID,0) as DesignationID_Promotion,isnull((case when NHSFlag=1 and isnull(EP_NHS.ToDesignationID,0)=0 then DNHS.UnderPromteDesignationID else isnull(EP_NHS.ToDesignationID,0) end),0)as DesignationID_NHS_P
,(case when isnull(EAD_O.ToDesignationID,0)>0 then isnull(EAD_O.ToDesignationID,0) else isnull(ODLD.DesignationID,0) end) as SanctionedDesignationID  ,EAD_O.ToDesignationID  as OfficiatingChargeDesID
,isnull(ODLDID_H,0)AS HistoryODLDID,isnull(EAD .FromDesignationID,0) as LienDesID,
(case when isnull(PayPix.Contactid,0)>0 then 1 else 0 end) as PayPixationFlag,isnull(History2Designation,0) as History2Designation
from Employee E with(nolock) left join EmployeeAppointmentDetails EAD with(nolock) ON E.ContactID=EAD.ContactID and  isnull(EAD.legacy,0)=0 and  Reported=1 and Relieved=1 and Approved=1 and Regularised = 0 and AppointmentTypeID in (23,47)
left join (select ContactID,FieldValue as ODLDID_H ,row_number() over(partition by contactid order by ValidUpTo  asc,EmployeeHistoryID desc ) as RowNum  from  EmployeeHistory_HRMS with(nolock)  where FieldName = 'ODLDID'  and ValidUpto >=@EffectiveDate  )H on E.ContactID=H.ContactID AND h.RowNum=1  
left join (select ead1.contactid,(case when isnull(EAD1.ExternalOrganizationID,0)>0 and isnull(EAD1.ToODLDID,0)>0 and isnull(EPD.ToDesignationID,0)>0 then EPD.ToDesignationID else isnull(EAD1.FromDesignationID,0) end)as ToDesignationID
from EmployeeAppointmentDetails EAD1 with(nolock) left join EmployeePayDetails EPD with(nolock) on EAD1.contactid=EPD.contactid and   isnull(Ead1.legacy,0)=0  and      isnull(epd.legacy,0)=0 and  EPD.Approved=1  and  isnull(EPD.Cancel,0)=0 and isnull(EPD.ToDesignationID,0)>0  where      isnull(Ead1.legacy,0)=0  and      isnull(epd.legacy,0)=0  and EAD1.Reported=1 and EAD1.Relieved=1 and EAD1.Approved=1 and EAD1.Regularised = 0  and  EAD1.AppointmentTypeID in (46))EAD_O on E.ContactID=EAD_O.ContactID  
 left join  (select ContactID,ToDesignationID,Row_Number() over(partition by ContactID order by ReportedDate desc,EmployeeAppointmentDetailsID desc) as RowNum from EmployeeAppointmentDetails with(nolock) where isnull(legacy,0)=0 and Approved =1 AND Reported=1 and AppointmentTypeID in (2) and ReportedDate <=@EffectiveDate)EAD_P on E.ContactID=EAD_P.ContactID AND EAD_P.RowNum=1 
 left join (
 select EPTemp.ContactID,(case when isnull(EPTemp.ToDesignationID,0)=0 and isnull(EADTemp.ToDesignationID,0)>0 then EADTemp.ToDesignationID else EPTemp.ToDesignationID end) as ToDesignationID
 ,EmployeePayTypeID,Row_Number() over(partition by EPTemp.ContactID order by EffectiveDate desc,EmployeePayDetailsID desc) as RowNum,1 as NHSFlag  
 from EmployeePayDetails  EPTemp with(nolock) left join EmployeeAppointmentDetails EADTemp on EPTemp.contactid=EADTemp.contactid and AppointmentTypeID=2 and EmployeePayTypeID=24 and EPTemp.EffectiveDate=reporteddate and isnull(eptemp.legacy,0)=0 and isnull(EADTemp.legacy,0)=0 and isnull(EPTemp.cancel,0)=0  and EADTemp.Reported=1 and EADTemp.Approved=1 
 
 where  EmployeePayTypeID in (14,15,24) and EPTemp.Approved = 1 and isnull(EPTemp.Cancel,0)= 0  and  isnull(eptemp.legacy,0)=0 and isnull(EADTemp.legacy,0)=0 and isnull(ActualEffectiveDate,EffectiveDate)<= @EffectiveDate ) EP_NHS on E.ContactID=EP_NHS.ContactID and EP_NHS.RowNum=1  
  left join ODLDAllocation  ODLD with(nolock) on ODLD.ODLDID=  (case when isnull(H.ODLDID_H,0)>0 then H.ODLDID_H else case when   isnull(EAD.FromODLDID,0)>0 then EAD.FromODLDID else E.ODLDID end end )  
 left join Designation DNHS with(nolock) on ODLD.designationid=DNHS.designationid 
 left join (select ContactID,B1.DesignationID as History2Designation ,row_number() over(partition by contactid order by ValidUpTo  desc,EmployeeHistoryID desc ) as RowNum    
from  EmployeeHistory_HRMS  A1 with(nolock) inner join ODLDAllocation B1 with(nolock) on a1.FieldValue=b1.ODLDID  where FieldName = 'ODLDID'  and ValidUpto <=@EffectiveDate  )H2 on E.ContactID=H2.ContactID AND h2.RowNum=1  
left  join EmployeePayDetails PayPix on E.ContactID=PayPix.ContactID and  isnull(paypix.legacy,0)=0 and isnull(PayPix.Cancel,0)=0 and PayPix.EmployeePayTypeID=22 and PayPix.EffectiveDate>=@EffectiveDate  and isnull(PayPix.ExternalRRNo,'') in('BasicPayRevision')
where  E.ContactID IN(select * from split(@ContactID,','))   and E.EmployeeStatusid!=19  
 ) As Final
 left join EmployeeCadreTypeDesignationAllocation ECT with(nolock) 
 on ECT.DesignationID=(case when DesignationID_NHS_P>0 then DesignationID_NHS_P else case when DesignationID_Promotion>0 and DesignationID_NHS_P=0 and History2Designation>0 then History2Designation else SanctionedDesignationID end end ) 
 and (case when final.EmployeeCategoryID=3 then 3 else 1 end) =Ect.EmployeeCategoryID
 left join EmployeeTimeScalePeriods ETSP with(nolock) on ECT.EmployeeCadreTypeID=ETSP.EmployeeCadreTypeID  and ETSP.EffectiveDate=@EffectiveDate  and ETSP.Approved=1  
 left join EmployeeCadreTypes ECT1 with(nolock) on ECT1.EmployeeCadreTypeID=ECT.EmployeeCadreTypeID
where (case when @CadreTypeID=0 then 0 else ect.EmployeeCadreTypeID end)= @CadreTypeID 
and (case when @Flag='AutoUpdation' then 0 ELSE ETSP.EffectiveDate END) =(case when @Flag='AutoUpdation' then 0 ELSE @EffectiveDate END)


RETURN
END
GO
