USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StockledgerReport]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fn_StockledgerReport] (@OLID int,@Month int,@Year int) 
RETURNS Table AS Return
--Declare @OLID Int=341
--Declare @Month int=5
--Declare @Year int=2019


select mc.MaterialCode+' - '+ Description MC,uom1.UnitOfMeasure GUOM,GOB,GRV,GSI,(GOB+GRV-GSI) GCB,uom2.UnitOfMeasure RGUOM,RGOB,RGRV,RGSI,(RGOB+RGRV-RGSI) RGCB,
uom3.UnitOfMeasure RFUOM,RFOB,RFRV,RFSI,(RFOB+RFRV-RFSI) RFCB,uom4.UnitOfMeasure RSUOM,RSOB,RSRV,RSSI,(RSOB+RSRV-RSSI) RSCB
from (

select ItemID,GunitID,(select value from fn_convertqty(ItemID,GunitID,OrgGood,GoodQuantityOB)) GOB,
(select value from fn_convertqty(ItemID,GunitID,OrgGood,GoodQuantityRV)) GRV,(select value from fn_convertqty(ItemID,GunitID,OrgGood,GoodQuantitySI)) GSI,
RGunitID,(select value from fn_convertqty(ItemID,RGunitID,OrgRG,RGoodQuantityOB)) RGOB,
(select value from fn_convertqty(ItemID,RGunitID,OrgRG,RGoodQuantityRV)) RGRV,(select value from fn_convertqty(ItemID,RGunitID,OrgRG,RGoodQuantitySI)) RGSI,
RFunitID,(select value from fn_convertqty(ItemID,RFunitID,OrgRF,FaultyQuantityOB)) RFOB,
(select value from fn_convertqty(ItemID,RFunitID,OrgRF,FaultyQuantityRV)) RFRV,(select value from fn_convertqty(ItemID,RFunitID,OrgRF,FaultyQuantitySI)) RFSI,
RSunitID,(select value from fn_convertqty(ItemID,RSunitID,OrgRS,ScrapQuantityOB)) RSOB,
(select value from fn_convertqty(ItemID,RSunitID,OrgRS,ScrapQuantityRV)) RSRV,(select value from fn_convertqty(ItemID,RSunitID,OrgRS,ScrapQuantitySI)) RSSI
from (

select A.ItemID ItemID,isnull(GUOM.UnitID,A.UnitID)GUnitID,
isnull(GoodQuantityOB,0)GoodQuantityOB,isnull(GoodQuantityRV,0)GoodQuantityRV,isnull(GoodQuantitySI,0) GoodQuantitySI,A.UnitID OrgGood,
isnull(RGUOM.UnitID,A.UnitID)RGUnitID,
isnull(RGoodQuantityOB,0)RGoodQuantityOB,isnull(RGoodQuantityRV,0)RGoodQuantityRV,isnull(RGoodQuantitySI,0) RGoodQuantitySI,A.UnitID OrgRG,
isnull(RFUOM.UnitID,A.UnitID)RFUnitID,
isnull(FaultyQuantityOB,0)FaultyQuantityOB,isnull(FaultyQuantityRV,0)FaultyQuantityRV,isnull(FaultyQuantitySI,0) FaultyQuantitySI,A.UnitID OrgRF,
isnull(RSUOM.UnitID,A.UnitID)RSUnitID,
isnull(ScrapQuantityOB,0)ScrapQuantityOB,isnull(ScrapQuantityRV,0)ScrapQuantityRV,isnull(ScrapQuantitySI,0) ScrapQuantitySI,A.UnitID OrgRS
from (



select a.ItemID,a.UnitID,isnull(b.GoodQuantity,0) as GoodQuantityOB,isnull(b.ReleasedGoodQuantity,0) as RGoodQuantityOB,isnull(b.ReleasedFaultyQuantity,0) as FaultyQuantityOB,isnull(b.ReleasedScrapQuantity,0) as ScrapQuantityOB
from StockLedger_pni a with (nolock) 
inner join StockLedgerOBDetails_pni b with (nolock) on a.StockLedgerID=b.StockLedgerID 
where StockLedgerYear=@Year and StockLedgerMonth=@Month and a.OLID=@OLID) as A

full join (

select a.ItemID,a.UnitID,sum(isnull(b.GoodQuantity,0)) as GoodQuantityRV,sum(isnull(b.ReleasedGoodQuantity,0)) as RGoodQuantityRV,sum(isnull(b.ReleasedFaultyQuantity,0)) as FaultyQuantityRV,sum(isnull(b.ReleasedScrapQuantity,0)) as ScrapQuantityRV
from StockLedger_pni a with (nolock) 
inner join StockLedgerDetails_pni b with (nolock) on a.StockLedgerID=b.StockLedgerID and stocktransactiontypeid=2
where StockLedgerYear=@Year and StockLedgerMonth=@Month and a.OLID=@OLID
group by a.ItemID,a.UnitID
) as B on A.ItemID=B.ItemID

full join (

select a.ItemID,a.UnitID,sum(isnull(b.GoodQuantity,0)) as GoodQuantitySI,sum(isnull(b.ReleasedGoodQuantity,0)) as RGoodQuantitySI,sum(isnull(b.ReleasedFaultyQuantity,0)) as FaultyQuantitySI,sum(isnull(b.ReleasedScrapQuantity,0)) as ScrapQuantitySI
from StockLedger_pni a with (nolock) 
inner join StockLedgerDetails_pni b with (nolock) on a.StockLedgerID=b.StockLedgerID  and stocktransactiontypeid=1
where StockLedgerYear=@Year and StockLedgerMonth=@Month and a.OLID=@OLID
group by a.ItemID,a.UnitID
) as C on A.ItemID=C.ItemID

left join FnItemWiseUOM(@OLID) GUOM   on GUOM.ItemID=A.ItemID and GUOM.stockconditionid=1
left join FnItemWiseUOM(@OLID) RGUOM  on RGUOM.ItemID=A.ItemID and RGUOM.stockconditionid=2
left join FnItemWiseUOM(@OLID) RFUOM  on RFUOM.ItemID=A.ItemID and RFUOM.stockconditionid=3
left join FnItemWiseUOM(@OLID) RSUOM  on RSUOM.ItemID=A.ItemID and RSUOM.stockconditionid=4
where (isnull(GoodQuantityOB,0)+isnull(GoodQuantityRV,0)+isnull(GoodQuantitySI,0)+
isnull(RGoodQuantityOB,0)+isnull(RGoodQuantityRV,0)+isnull(RGoodQuantitySI,0)+isnull(FaultyQuantityOB,0)+isnull(FaultyQuantityRV,0)+isnull(FaultyQuantitySI,0)+
isnull(ScrapQuantityOB,0)+isnull(ScrapQuantityRV,0)+isnull(ScrapQuantitySI,0))<>0) as P) as X

inner join MaterialCode mc with (nolock) on X.ItemID=mc.ItemID
inner join UnitOfMeasure uom1 with (nolock) on uom1.UnitID=GUnitID
inner join UnitOfMeasure uom2 with (nolock) on uom2.UnitID=RGUnitID
inner join UnitOfMeasure uom3 with (nolock) on uom3.UnitID=RFUnitID
inner join UnitOfMeasure uom4 with (nolock) on uom4.UnitID=RSUnitID
GO
