USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[getRecovoriesForJVNew]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getRecovoriesForJVNew](@BRNo varchar(100),@OL int,@Suppl varchar(10),@Gen int,@Held int,@EmpCat varchar(10))
returns table
as return (
select ScaleRegisterID,ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID,Sum(Amount) as amount from
(select ScaleRegisterRecovery.ScaleRegisterID, ScaleRegisterRecovery.ScheduleTypeID ,ScaleRegisterRecovery.LoanandAdvanceID ,ScaleRegisterRecovery.ExternalOrganisationID,ScaleRegisterRecovery.ExternalOrganisationTypeID,
round(round(sum(isnull(ScaleRegisterRecovery.Amount,0)),2),0) as Amount
from ScaleRegisterRecovery
where ScaleRegisterRecovery.ScaleRegisterID in(select ScaleRegisterID from ScaleRegister as SR where BillRegisterNo=@BRNo and OLID=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and Generated=@Gen and HeldUp=@Held 
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end)  in(select  (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end)  from ScaleRegister
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0)
)


group by ScaleRegisterRecovery.ScaleRegisterID, ScaleRegisterRecovery.ScheduleTypeID , ScaleRegisterRecovery.LoanandAdvanceID ,ScaleRegisterRecovery.ExternalOrganisationID,ScaleRegisterrecovery.ExternalOrganisationTypeID
having round(round(sum(isnull(ScaleRegisterRecovery.Amount,0)),2),0) <>0
union ALl
select ScaleRegisterID,SRAW.ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID,
round(round(-sum(isnull(SRAW.Amount,0)),2),0) from ScaleRegisterRecoveryWithdrawals SRAW,ScaleRegisterWithdrawals
where ScaleRegisterID in(select ScaleRegisterID from ScaleRegister  as SR where BillRegisterNo=@BRNo and OLID=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and Generated=@Gen and HeldUp=@Held 
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-' then ContactID else 0 end)  in(select  (case when  (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-'then ContactID else 0 end)  from ScaleRegister
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0)
)
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID
having round(round(-sum(isnull(SRAW.Amount,0)),2),0)<>0)as Arrears
 group by ScaleRegisterID,ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID having sum(Amount)<>0 )
GO
