USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderOL]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnUnderOL]()
RETURNS Table AS
RETURN 	(



select * from OfficeLocationAccountingUnitDetails with(nolock)
)
GO
