USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnBudgetReportWorkOrderNo]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[FnBudgetReportWorkOrderNo] (@FinancialYear varchar(50),@OLID Int)

RETURNS Table AS 
RETURN 	(


--Declare @FinancialYear varchar(50) select @FinancialYear = '2015-2016'
--Declare @OLID Int select @OLID = 337




select AcOLID as AcOLID1,(case when TypeID in (7,8,9) then a.OLID else AcOLID end) as AcOLID,a.*,bgmt.Description as MainTypes,bgt.Description as UnderBudgetGrantTypes
,(Row_Number() over (Partition By (case when TypeID in (7,8) then a.OLID else AcOLID end),a.BudgetGrantTypeID Order By (case when TypeID in (7,8) then a.OLID else AcOLID end),a.BudgetGrantTypeID,Date,Particulars)) as MaxNo,(Credit-Debit) as CDTotal from ( 
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.ExtendedDate as Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,bgd.InitialAmount as Credit,0 as Debit,FromOLID,ToOLID,('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,bg.BudgetGrantOLID as OLID, 1 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,1 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantDetails bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and (isnull(bgd.InitialAmount,0)+isnull(bgd.ExtendedAmount,0)) not in (0)  
and FromOLID=337 and ToOLID not in (337,338,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,bgd.Amount as Credit,0 as Debit,FromOLID,ToOLID,('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,bg.BudgetGrantOLID as OLID, 1 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,2 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantExtension bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.Amount,0) not in (0) 
and FromOLID=337 and ToOLID not in (337,338,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,0 as Total,0 as ExpenditureBalance,0 as SanctioningBalance,0 as ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.BudgetGrantTransferDate,bgd.FromBudgetGrantTypeID,bgd.ToBudgetGrantTypeID
,bgd.TransferedBalance as Credit,0 as Debit,bgd.BudgetGrantOLID as FromOLID,bgd.BudgetGrantOLID as ToOLID
,('Received From - '+ (case when bga.FromMainAccountCode is NULL then  bgt1.Description else ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) end)) as Particulars
,bgd.ToBudgetGrantTypeID as BudgetGrantTypeID,(case when bgt1.UnderBudgetGrantTypeID is not NULL then bgt1.UnderBudgetGrantTypeID else bgd.FromBudgetGrantTypeID end) as UnderBudgetGrantTypeID
,bgt.BudgetGrantMainTypeID,bgd.BudgetGrantOLID as OLID, 2 as Ordering,(case when bgt.UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,5 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantTransfer bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join BudgetTypeAccountHeadAllocation bga on bga.BudgetGrantTypeID=bgd.FromBudgetGrantTypeID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bgd.ToBudgetGrantTypeID
left outer join BudgetGrantTypes bgt1 on bgt1.BudgetGrantTypeID=bgd.FromBudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.BudgetGrantOLID,0) not in (337,338,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,0 as Total,0 as ExpenditureBalance,0 as SanctioningBalance,0 as ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.BudgetGrantTransferDate,bgd.FromBudgetGrantTypeID,bgd.ToBudgetGrantTypeID
,-bgd.TransferedBalance as Credit,0 as Debit,bgd.BudgetGrantOLID as FromOLID,bgd.BudgetGrantOLID as ToOLID
,('Transfered To - '+ (case when bga.FromMainAccountCode is NULL then  bgt.Description else ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) end)) as Particulars
,bgd.FromBudgetGrantTypeID as BudgetGrantTypeID,(case when bgt.UnderBudgetGrantTypeID is not NULL then bgt.UnderBudgetGrantTypeID else bgd.FromBudgetGrantTypeID end) as UnderBudgetGrantTypeID
,BudgetGrantMainTypeID,bgd.BudgetGrantOLID as OLID, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,6 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantTransfer bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join BudgetTypeAccountHeadAllocation bga on bga.BudgetGrantTypeID=bgd.ToBudgetGrantTypeID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bgd.FromBudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.BudgetGrantOLID,0) not in (337,338,339,340,604,605)

union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.ExtendedDate as Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,-bgd.InitialAmount as Credit,0 as Debit,FromOLID,ToOLID,('Transfered To '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,FromOLID as OLID, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,3 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantDetails bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ToOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and (isnull(bgd.InitialAmount,0)+isnull(bgd.ExtendedAmount,0)) not in (0)  
and FromOLID not in (0,337) and ToOLID not in (337,338,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.ExtendedDate,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,bgd.InitialAmount as Credit,0 as Debit,FromOLID,ToOLID,('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,ToOLID as OLID, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,7 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantDetails bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and (isnull(bgd.InitialAmount,0)+isnull(bgd.ExtendedAmount,0)) not in (0)  
and FromOLID not in (0,337) and ToOLID not in (337,338,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,0 as Credit,bgd.Amount as Debit,FromOLID,ToOLID,('Transfered To '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,FromOLID as OLID, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,4 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantExtension bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ToOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.Amount,0) not in (0) 
and FromOLID not in (0,337) and ToOLID not in (337,338,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,bgd.Amount as Credit,0 as Debit,FromOLID,ToOLID,('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,ToOLID as OLID, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,8 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantExtension bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.Amount,0) not in (0) 
and FromOLID not in (0,337) and ToOLID not in (337,338,339,340,604,605)

union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,0 as Total,0 as ExpenditureBalance,0 as SanctioningBalance,0 as ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,DocumentDate,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,0 as Credit,bcd.Amount as Debit,FromOLID,ToOLID,(rtrim(dt.Description)+' No - '+isnull(wo.OfficialReferenceNo,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,bcd.DocumentOLID as OLID, 3 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 3 end) as Ordered,9 as TypeID,bgt.Description as BudgetGrantTypes
from BudgetGrant bg
inner join BudgetGrantDetails bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
inner join BudgetControlDetails_Works bcd on bcd.BudgetControlID=bc.BudgetControlID and bcd.BudgetControlOLID=bc.BudgetControlOLID
inner join WorkOrder wo on wo.WorkOrderNo=bcd.DocumentNo and wo.Approved=1
left outer join DocumentTypes dt on dt.DocumentTypeID=bcd.DocumentTypeID 
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear 

) as A inner join FnUnderOL() ol on ol.OLID=a.OLID
left outer join BudgetGrantMainTypes bgmt on bgmt.BudgetGrantMainTypeid=a.BudgetGrantMainTypeID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeid=a.UnderBudgetGrantTypeID
where (CircleOLID = @OLID or ZonalOLID=@OLID or CorporateOLID=@OLID or DivisionOLID=@OLID) and (Debit+Credit)<>0 
--and bgmt.BudgetGrantMainTypeID=1 and a.OLID = 658
--and a.UnderBudgetGrantTypeID = 342 and a.BudgetGrantTypeID = 61
--and BudgetGrantID = 17688
--Order By UnderBudgetGrantTypeID,Date




)
GO
