USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_FundRequistionWeeklyData]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Fn_FundRequistionWeeklyData](
@Week1_From DateTime,@Week1_To DateTime
,@Week2_From DateTime,@Week2_To DateTime
,@Week3_From DateTime,@Week3_To DateTime
,@Week4_From DateTime,@Week4_To DateTime
) 

RETURNS Table AS 

RETURN 	(


--Declare @Week1_From DateTime select @Week1_From = '2019-12-15'
--Declare @Week1_To DateTime select @Week1_To = '2019-12-21'
--Declare @Week2_From DateTime select @Week2_From = '2019-12-15'
--Declare @Week2_To DateTime select @Week2_To = '2019-12-21'
--Declare @Week3_From DateTime select @Week3_From = '2019-12-15'
--Declare @Week3_To DateTime select @Week3_To = '2019-12-21'
--Declare @Week4_From DateTime select @Week4_From = '2019-12-15'
--Declare @Week4_To DateTime select @Week4_To = '2019-12-21' ;


With  FRNo as (
select FundRequisitionNo,OLID,LocationCode from FundRequisition with (nolock) where isnull(cancel,0)=0 and Transferred=1 and isnull(AdvanceFundRequisition,0)=0
and ( FundRequisitionDate Between @Week1_From and @Week1_To 
or FundRequisitionDate Between @Week2_From and @Week2_To 
or FundRequisitionDate Between @Week3_From and @Week3_To 
or FundRequisitionDate Between @Week4_From and @Week4_To ) 

) , Imprest as (
select a.*,c.Description BillTypes,Sum(Amount) Amount from (
select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,Sum(BillAmount) BillAmount,'' MainAccountCode 
from FundRequisitionDetails with (nolock) where isnull(Sanctioned,0)=0 and FundRequisitionSubTypeID in (10) and isnull(BillRegisterNo,0)!=0 and isnull(BillAmount,0)!=0
and FundRequisitionNo in ( select FundRequisitionNo from FRNo ) 
Group By FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo  ) A 
Left Outer Join ImprestInvoice B1 with (nolock) on b1.BillRegisterNo=a.BillRegisterNo and isnull(b1.Status,0) = 1
Left Outer Join ImprestInvoiceDetails B with (nolock) on b.BillRegisterNo=b1.BillRegisterNo and b.ImprestExpenseID = 4
Left Outer Join ImprestExpenses C on c.ImprestExpenseID=b.ImprestExpenseID
Group By FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,a.BillRegisterNo,BillAmount,a.MainAccountCode collate database_default,c.Description

) , FRDetails as (
select a.*,NULL BillTypes  from (
select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,BillAmount,MainAccountCode 
from FundRequisitionDetails with (nolock) where isnull(Sanctioned,0)=0 and FundRequisitionSubTypeID not in (16,10) and isnull(BillRegisterNo,0)!=0 and isnull(BillAmount,0)!=0
and FundRequisitionNo in ( select FundRequisitionNo from FRNo ) ) A 
union all 
select a.*,c.Description BillTypes from (
select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,BillAmount,MainAccountCode 
from FundRequisitionDetails with (nolock) where isnull(Sanctioned,0)=0 and FundRequisitionSubTypeID in (16) and isnull(BillRegisterNo,0)!=0 and isnull(BillAmount,0)!=0
and FundRequisitionNo in ( select FundRequisitionNo from FRNo ) ) A 
Left Outer Join ProformaInvoice B with (nolock) on b.BillRegisterNo=a.BillRegisterNo
Left Outer Join LoanAndAdvance C on c.LoanAndAdvanceID=b.LoanAndAdvanceID
union all 
select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,(BillAmount-Amount),MainAccountCode,NULL BillTypes from Imprest 
union all 
select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,Amount,MainAccountCode,BillTypes from Imprest 

) , Data1 as (
select a.*,(Dense_Rank() over (Order By OrderNo,a.OLID)) OrderNo from (
select (isnull(BillTypes,d.Description)+(case when c.FundRequisitionTypeID=4 and b.FundRequisitionSubTypeID=34 and left(MainAccountCode,2) in ('74','14') then Concat(' (',left(MainAccountCode,2),')') else '' end)) BillTypes
,c.Description Types1,Max(case when c.FundRequisitionTypeID=1 then 'A&G Expenditure (76)' else case when c.FundRequisitionTypeID=3 then 'Employee Cost (75)' else case when 
c.FundRequisitionTypeID=4 then 'Capital Expenditure' else c.Description end end end) Types 
,LocationCode,Sum(isnull(BillAmount,0)) Amount,a.OLID from FRNo A 
Full Join FRDetails B with (nolock) on b.FundRequisitionNo=a.FundRequisitionNo 
Left outer join FundRequisitionTypes_Accounts C with (nolock) on c.FundRequisitionTypeID=b.FundRequisitionTypeID
Left outer join FundRequisitionSubTypes_Accounts D with (nolock) on d.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID
Group By BillTypes,d.Description,c.Description,LocationCode, left(MainAccountCode collate database_default ,2),a.OLID
,(case when c.FundRequisitionTypeID=4 and b.FundRequisitionSubTypeID=34 and left(MainAccountCode collate database_default,2) in ('74','14') then Concat(' (',left(MainAccountCode,2),')') else '' end)
) A Left Outer Join OfficeLocationAccountingUnitDetails E with (nolock) on e.OLID=a.OLID
where Amount!=0 

) , Total1 as (
select BillTypes,Types1,Types,'Total' LocationCode,Sum(Amount) Amount,0 OLID,(select Max(OrderNo)+1 from Data1) OrderNo
from Data1 Group By BillTypes,Types1,Types

) , Data2 as (
select * from Data1 Union All select * from Total1 

)  , Value1 as (
select Sum(case when OrderNo=1 then Amount else NULL end) D1
,Sum(case when OrderNo=2 then Amount else NULL  end) E1
,Sum(case when OrderNo=3 then Amount else NULL  end) F1
,Sum(case when OrderNo=4 then Amount else NULL  end) G1
,Sum(case when OrderNo=5 then Amount else NULL  end) H1
,Sum(case when OrderNo=6 then Amount else NULL  end) I1
,Sum(case when OrderNo=7 then Amount else NULL  end) J1
,Sum(case when OrderNo=8 then Amount else NULL  end) K1
,Sum(case when OrderNo=9 then Amount else NULL  end) L1
,Sum(case when OrderNo=10 then Amount else NULL  end) M1
,Sum(case when OrderNo=11 then Amount else NULL  end) N1
,Sum(case when OrderNo=12 then Amount else NULL  end) O1
,Sum(case when OrderNo=13 then Amount else NULL  end) P1
,Sum(case when OrderNo=14 then Amount else NULL  end) Q1
,Sum(case when OrderNo=15 then Amount else NULL  end) R1
,Sum(case when OrderNo=16 then Amount else NULL  end) S1
,Sum(case when OrderNo=17 then Amount else NULL  end) T1
,Sum(case when OrderNo=18 then Amount else NULL  end) U1
,Sum(case when OrderNo=19 then Amount else NULL  end) V1
,Sum(case when OrderNo=20 then Amount else NULL  end) W1
from ( select OrderNo,Sum(Amount) Amount from Data2 Group By OrderNo ) A 

)


select A,B,(Case when SlNo=1 then C else '' end) C
,(case when D1 is NULL then NULL else D end) D
,(case when E1 is NULL then NULL else E end) E
,(case when F1 is NULL then NULL else F end) F
,(case when G1 is NULL then NULL else G end) G
,(case when H1 is NULL then NULL else H end) H
,(case when I1 is NULL then NULL else I end) I
,(case when J1 is NULL then NULL else J end) J
,(case when K1 is NULL then NULL else K end) K
,(case when L1 is NULL then NULL else L end) L
,(case when M1 is NULL then NULL else M end) M
,(case when N1 is NULL then NULL else N end) N
,(case when O1 is NULL then NULL else O end) O
,(case when P1 is NULL then NULL else P end) P
,(case when Q1 is NULL then NULL else Q end) Q
,(case when R1 is NULL then NULL else R end) R
,(case when S1 is NULL then NULL else S end) S
,(case when T1 is NULL then NULL else T end) T
,(case when U1 is NULL then NULL else U end) U
,(case when V1 is NULL then NULL else V end) V
,(case when W1 is NULL then NULL else W end) W
 
from ( select BillTypes A,Types1 B,Types C
,Sum(case when OrderNo=1 then Amount else 0 end) D
,Sum(case when OrderNo=2 then Amount else 0 end) E
,Sum(case when OrderNo=3 then Amount else 0 end) F
,Sum(case when OrderNo=4 then Amount else 0 end) G
,Sum(case when OrderNo=5 then Amount else 0 end) H
,Sum(case when OrderNo=6 then Amount else 0 end) I
,Sum(case when OrderNo=7 then Amount else 0 end) J
,Sum(case when OrderNo=8 then Amount else 0 end) K
,Sum(case when OrderNo=9 then Amount else 0 end) L
,Sum(case when OrderNo=10 then Amount else 0 end) M
,Sum(case when OrderNo=11 then Amount else 0 end) N
,Sum(case when OrderNo=12 then Amount else 0 end) O
,Sum(case when OrderNo=13 then Amount else 0 end) P
,Sum(case when OrderNo=14 then Amount else 0 end) Q
,Sum(case when OrderNo=15 then Amount else 0 end) R
,Sum(case when OrderNo=16 then Amount else 0 end) S
,Sum(case when OrderNo=17 then Amount else 0 end) T
,Sum(case when OrderNo=18 then Amount else 0 end) U
,Sum(case when OrderNo=19 then Amount else 0 end) V
,Sum(case when OrderNo=20 then Amount else 0 end) W
,(Row_Number() over (Partition By Types1 Order By Types1,BillTypes)) SlNo
from Data2 where BillTypes is not NULL Group By BillTypes,Types1,Types
) A Cross Join Value1 

)
GO
