USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLUnderOL]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnETLUnderOL]()
RETURNS Table AS
RETURN 	(

select AcOLID, b.FileAs  as AcOfficeLocation,  LocationCode as AcLocationCode
, A.OLID, C.FileAs  as OfficeLocation, SubDivisionOLID, 
D.FileAs as SubDivisionOfficeLocation, DivisionOLID, E.FileAs as DivisionOfficeLocation, CircleOLID,  F.FileAs as CircleOfficeLocation,
 ZonalOLID,G.FileAs as  ZonalOfficeLocation, CorporateOLID, H.FileAs as CorporateOfficeLocation   

from  OfficeLocationAccountingUnitDetails A with (nolock) 
left outer join OfficeLocationAllocation B with (nolock) on a.AcOLID=b.OfficeLocationAllocationID
left outer  join OfficeLocationAllocation C with (nolock) on a.OLID=C.OfficeLocationAllocationID
left outer  join OfficeLocationAllocation D with (nolock) on a.SubDivisionOLID=D.OfficeLocationAllocationID
left outer  join OfficeLocationAllocation E with (nolock) on a.DivisionOLID=E.OfficeLocationAllocationID
left outer  join OfficeLocationAllocation F with (nolock) on a.CircleOLID=F.OfficeLocationAllocationID
left outer  join OfficeLocationAllocation G with (nolock) on a.ZonalOLID=G.OfficeLocationAllocationID
left outer  join OfficeLocationAllocation H  with (nolock) on a.CorporateOLID=H.OfficeLocationAllocationID
left outer  join LocationCode lc with (nolock) on lc.Budget=1 and lc.OfficeID=b.OfficeID and lc.LocationID=b.LocationID

 )

GO
