USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DemandTaxJV]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_DemandTaxJV](@olid int,@month int,@yr int) RETURNS Table AS Return
SELECT B.Head AccHead,isnull(A.Amount,0) Debit,0 Credit,B.Descr Description,'Debit' Type
FROM
(select vc.VoltageClassID,sum(dd.DemandTax) Amount
from DCBRevenue dr
inner join DCBRevenueDetails db on dr.DCBRevenueID=db.DCBRevenueID   and dr.Month=@month and dr.Year=@yr  and db.TariffTypeID=2   and dr.olid<>@olid
inner join DCBDemandDetails dd on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID
inner join FnAcOLID() ol on ol.olid=dr.OLID and ol.acolid=@olid
left join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
left join VoltageClass vc on vc.VoltageClassID=db.VoltageClassID 
where vc.VoltageClassID in(4,5,6,7) 
group by vc.VoltageClassID) A
inner join
(select sb.MainAccountCode+sb.SubAccountCode+Cast(VoltageClassID as Varchar(5)) Head, mb.Description+' - '+v.Description Descr,VoltageClassID
from SubAccount sb
inner join MainAccount mb on mb.MainAccountCode=sb.MainAccountCode
cross join(Select VoltageClassCode,Description,VoltageClassID from VoltageClass where VoltageClassID in(4,5,6,7)) v
where sb.MainAccountCode+sb.SubAccountCode='23.301')B on B.VoltageClassID=A.VoltageClassID
union all
select sb.Head+Cast(v.VoltageClassID as Varchar(5)),sum(dd.DemandTax) Amount,0,sb.Description,'Debit'
from DCBRevenueDetails db
inner join DCBDemandDetails dd on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID
inner join DCBRevenue dr on dr.DCBRevenueID=db.DCBRevenueID
cross join (Select MainAccountCode+SubAccountCode Head,Description from SubAccount where MainAccountCode+SubAccountCode='23.302') SB
inner join (select VoltageClassID,VoltageClassCode from VoltageClass) v on v.VoltageClassID=db.VoltageClassID
inner join FnAcOLID() ol on ol.olid=dr.OLID and ol.acolid=@olid
left join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month and dr.Year=@yr and db.TariffTypeID=1   and dr.olid<>@olid
group by sb.Head,sb.Description,v.VoltageClassID
union all
select
case when B.Head='23.3014' then '46.3004'
 when B.Head='23.3015' then '46.3005'
 when B.Head='23.3016' then '46.3006'
end as Head,0,isnull(A.Amount,0) Credit,B.Descr,'Credit'
from
(select vc.VoltageClassID,sum(dd.DemandTax) Amount
from DCBRevenue dr
inner join DCBRevenueDetails db on dr.DCBRevenueID=db.DCBRevenueID and dr.Month=@month and dr.Year=@yr   and dr.olid<>@olid
inner join DCBDemandDetails dd on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID
inner join FnAcOLID() ol on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
left join VoltageClass vc on vc.VoltageClassID=db.VoltageClassID
where vc.VoltageClassID in(4,5,6,7)
group by vc.VoltageClassID) A
inner join
(select sb.MainAccountCode+sb.SubAccountCode+Cast(VoltageClassID as Varchar(5)) Head, mb.Description+' - '+v.Description Descr,VoltageClassID
from SubAccount sb
inner join MainAccount mb on mb.MainAccountCode=sb.MainAccountCode
cross join(Select VoltageClassCode,Description,VoltageClassID from VoltageClass where VoltageClassID in(4,5,6)) v
where sb.MainAccountCode+sb.SubAccountCode='23.301')B on B.VoltageClassID=A.VoltageClassID
union all
select x.Acc,x.C,sum(Amount) Amt,x.Description,'Credit'
from
(select '46.3007' Acc,0 C,sum(dd.DemandTax) Amount,sb.Description
from DCBRevenueDetails db
inner join DCBDemandDetails dd on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID
inner join DCBRevenue dr on dr.DCBRevenueID=db.DCBRevenueID
cross join (Select MainAccountCode+SubAccountCode Head,Description from SubAccount where MainAccountCode+SubAccountCode='46.300') SB
inner join FnAcOLID() ol on ol.olid=dr.OLID and ol.acolid=@olid
left join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month and dr.Year=@yr and db.voltageclassid=7 and TariffTypeid=2   and dr.olid<>@olid
group by sb.Head,sb.Description
union all
select '46.3007' Acc,0 C,sum(dd.DemandTax) Amount,sb.Description
from DCBRevenueDetails db
inner join DCBDemandDetails dd on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID
inner join DCBRevenue dr on dr.DCBRevenueID=db.DCBRevenueID
cross join (Select MainAccountCode+SubAccountCode Head,Description from SubAccount where MainAccountCode+SubAccountCode='46.300') SB
inner join FnAcOLID() ol on ol.olid=dr.OLID and ol.acolid=@olid
left join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month and dr.Year=@yr and db.TariffTypeID=1   and dr.olid<>@olid
group by sb.Head,sb.Description)x
group by x.Acc,x.C,x.Description

GO
