USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnOLD]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnOLD]()
RETURNS Table AS
RETURN 	(

select distinct ct.ContactID,ct.Fileas as EmployeeName,eo.Name as Bank,eob.Name as Branch,e.BankAcNo,rtrim(ltrim(eob.StreetName)) as BankAddress
,(case when ct.TitleID=1 then 'He' else case when ct.TitleID=3 then 'She' else 'Fil' end end) as Titles,PanCardNo,isnull(EmployeeCategoryID,1) as EmployeeCategoryID
,e.DateOfBirth as DOB,isnull(DisabilityLimit,0) as DisabilityAmount,e.BankID,e.ODLDID
from Contacts ct
left outer join Employee e with (nolock) on ct.ContactID=e.ContactID
left outer join EmployeeDisabilityTypes ed with (nolock) on ed.EmployeeDisabilityTypeID=e.EmployeeDisabilityTypeID
left outer join ExternalOrganisations eo with (nolock) on eo.ExternalOrganisationID=e.BankID
left outer join ExternalOrganisationBranches eob with (nolock) on eob.ExternalOrganisationID=eo.ExternalOrganisationID and eob.ExternalOrganisationBranchID=e.BankBranchID


)
GO
