USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLSRID]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnETLSRID](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @OLID Int select @OLID = 658 
--Declare @YearID Int select @YearID = 2018 
--Declare @MonthID Int select @MonthID = 3 
--Declare @ContactID Int select @ContactID = 0 

select distinct (case when (BillregisterDate is NULL or BillRegisterNo = '0' or BillRegisterNo = '' or BillRegisterNo = ' ' ) then 0 else 1 end) as Payment ,sr.ScaleregisterID
,ContactID,sr.StartingDate,sr.EndingDate,OLID,BillRegisterNo,cast(OSL as Int) as OSL,BillRegisterDate,BillRegisterDate1,JVNo1 as JVNo,JVDate1 as JVDate 
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1)-1 else Year(BillRegisterDate1) end) as varchar(4))+'-4-1')) as StartingFyYear 
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1) else Year(BillRegisterDate1)+1 end) as varchar(4))+'-3-31')) as EndingFyYear 
,Max(isnull(ODLDID,0)) as ODLDID,Suppliment,SalaryMonth,SalaryYear,sr.Remarks,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,LegacyBillRegisterDate,LegacyBillregisterNo from ( 

select scr.*,etl.*, (Case when OSL=1 and isnull(JVDate,BillRegisterDate) is NULL and Month(Today1) in (3,4) then Cast((Cast(Year(Today1) as varchar(4))+'-3-31') as DateTime) else Case when OSL=1 and isnull(JVDate,BillRegisterDate) is NULL and Month(Today1) not in (3,4) then Cast(0 as DateTime) else isnull(isnull(JVDate,BillRegisterDate),Today) end end ) as BillRegisterDate1
, JVNo as JVNo1,isnull(JVDate,BillRegisterDate) as JVDate1 
from ScaleRegister SCR with(nolock) 
left outer join JournalVoucher JV with(nolock) on jv.JournalVoucherNo=isnull(JVNo,0)
Cross join dbo.FnETLToday(@YearID,@MonthID) etl 
where (case when scr.olid=658 and isnull(osl,0)=0 then isnull(approved,0) else 1 end)=1 
) as SR left outer join ScaleRegisterBasicPayDetails sra with(nolock) on sra.ScaleRegisterID=sr.ScaleRegisterID 

where Generated=1 and isnull(HeldUp,0)=0 and isnull(JVDate,BillregisterDate1) Between StartingFyYear and LDate 
and (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(isnull(JVDate,BillRegisterDate1)) 
and (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(isnull(JVDate,BillRegisterDate1)) ) or ((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(case when CreatedOn>=isnull(JVDate,BillRegisterDate1) then CreatedOn else isnull(JVDate,BillRegisterDate1) end) 
and (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(case when CreatedOn>=isnull(JVDate,BillRegisterDate1) then CreatedOn else isnull(JVDate,BillRegisterDate1) end))) 
and OLID = (case when @OLID=0 then OLID else @OLID end) 
and ContactID = (case when @ContactID=0 then ContactID else @ContactID end) 
group by (case when (BillregisterDate is NULL or BillRegisterNo = '0' or BillRegisterNo = '' or BillRegisterNo = ' ' ) then 0 else 1 end) ,sr.ScaleregisterID,ContactID,sr.StartingDate,sr.EndingDate
,OLID,BillRegisterNo,BillRegisterDate,BillRegisterDate1,JVDate1,Suppliment,SalaryMonth,SalaryYear,sr.Remarks,EmployeeCategoryID,OSL,LegacyBillRegisterDate,LegacyBillregisterNo,JVNo1 ,JVDate1 

)
GO
