USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetEmployeesODLDID]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetEmployeesODLDID] (@ContactID varchar(max),@StartDate Datetime,@EndDate Datetime) RETURNS Table AS RETURN ( 

select Appointments.ContactID, Ct.Fileas as EmployeeNAme ,Officename +' - ' +DepartmentName +' - ' +LocationName +' - ' +DesignationName Post, DesignationName,Appointments.ODLDID
,OL.OfficeLocationAllocationID as OLID,isnull(Incharge,'No') as Incharge, isnull(Lien,'No') as Lien,isnull(Retired,'No') as Retired, Officename ,DepartmentName ,LocationName from (

select A.ContactID,(case when A.AppointmentTypeID in(21) then A.FromODLDID else A.ToODLDID end) as ODLDID,(case when A.AppointmentTypeID not in (23,47,21) then 'Yes' end) as 'Incharge'
,(case when A.AppointmentTypeID in(23,47) then 'Yes' end) as 'Lien' ,(case when A.AppointmentTypeID in(21) then 'Yes' end) as 'Retired' 
from EmployeeAppointmentDetails A with(nolock) cross join Today_hrms B with(nolock) 
where ContactID in(select data from Split(@ContactID,',')) and A.AppointmentTypeID in(6,7,25,43,46,44,23,47,21) and A.Reported=1 and A.Approved=1 and A.Relieved=1 
and isnull(a.legacy,0)=0 and (@StartDate between (case when @StartDate=0 then 0 else cast(cast(A.RelievedTime as int) as datetime) end) 
and (case when @StartDate=0 then 0 else isnull(cast(cast( (case when A.AppointmentTypeID =21 then RelievedTime else A.ReportedTime end)  as int) as datetime)-1,B.Today) end) 
or @Enddate between (case when @Enddate=0 then 0 else cast(cast(A.RelievedTime as int) as datetime) end) 
and (case when @Enddate=0 then 0 else isnull(cast(cast( (case when A.AppointmentTypeID =21 then RelievedTime else A.ReportedTime end)  as int) as datetime)-1,B.Today) end )) 
union 
select ContactID,ODLDID,'No','No','No' from (select ContactID,FieldValue as ODLDID,(case when FromDate<=ToDate then FromDate else ToDate end) FromDate,ToDate from ( 
select ContactID ,FieldValue,isnull(lag(ValidUpto+1) over (Partition By ContactID order By ContactID,ValidUpto,EmployeeHistoryID ),0) FromDate,ValidUpTo ToDate 
,(Row_Number() over (Partition By ContactID order By ContactID,ValidUpto,EmployeeHistoryID)) RowNum from ( 
select ContactID,FieldValue,ValidUpTo,EmployeeHistoryID from EmployeeHistory_HRMS with(nolock) where FieldName='ODLDID' 
and ContactID in ( select data from Split(@ContactID,',')) 
union 
select E.ContactID,isnull(EAD.FromODLDID,ODLDID)as ODLDID,Today,999999999 
from Employee E with(nolock) cross Join Today_HRMS with(nolock) 
left join EmployeeAppointmentDetails EAD with(nolock) on E.ContactID=EAD.ContactID and EAD.Approved=1 and EAD.Reported=1 and EAD.Regularised=0 and EAD.ReportedDate is null and isnull(legacy,0)=0 and ead.AppointmentTypeID in(23,47) 
where E.ContactID in (select data from Split(@ContactID,',') ) ) Temp1 ) Temp2) Temp3 
where ( @StartDate between (case when @StartDate=0 then 0 else FromDate end) and (case when @StartDate=0 then 0 else Todate end) or @EndDate between (case when @EndDate=0 then 0 else FromDate end) and (case when @EndDate=0 then 0 else ToDate end))

) as Appointments 
inner join Contacts CT with(nolock) on Appointments.ContactID=CT.ContactID 
inner join ODLDAllocation ODLD with(nolock) on Appointments.ODLDID=ODLD.ODLDID 
inner join Office O with(nolock) on ODLD.OfficeID=O.OfficeID 
inner join Department D with(nolock) on ODLD.DepartmentID=D.DepartmentID 
inner join Location L with(nolock) on ODLD.LocationID=L.LocationID 
inner join Designation DS with(nolock) on ODLD.DesignationID=DS.DesignationID 
inner join OfficeLocationAllocation OL with(nolock) on o.OfficeID=OL.OfficeID and L.LocationID=ol.LocationID 

)
GO
