USE [R1_Gescom]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMeasurementBookWorkAlocationDetailsSec]    Script Date: 15-06-2026 10:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMeasurementBookWorkAlocationDetailsSec](@WorkOrderNumber int,@MeasurementBookID int ) 
RETURNS Table AS Return 
(

















 





Select mba.MeasurementBookID,MeasurementBookWorkAllocationDetailsID,WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,MILCWID,Quantity,UnitID from (
select MeasurementBookID from MeasurementBook mb1 with(nolock) where workorderno= @WorkOrderNumber and isnull(completionreport,0)=0  and ( MeasurementBookID not in ( 
select DocumentNo from ActivityApprovals_Works aa with(nolock) where StatusID=8 and ActivityID=74 and aa.DocumentNo=mb1.MeasurementBookID ) or isnull(MeasurementBookID,0)= @MeasurementBookID )
) mb Inner Join MeasurementBookWorkAllocationDetails mba with(nolock) on mba.MeasurementBookID=mb.MeasurementBookID












 


)
GO
