USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_AsOnEmployee_New]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Fn_AsOnEmployee_New](@AcOLID Int,@FromDate DateTime,@ToDate DateTime,@ContactID Int)
RETURNS Table AS RETURN 	(


--Declare @AcOLID Int = 2864 
--Declare @FromDate DateTime = '2025-04-01'
--Declare @ToDate DateTime = '2026-03-31'
--Declare @ContactID Int = 30430

select * from (
select * ,(Row_Number() over (Partition By ContactID Order By ContactID,ToDate desc,EmployeeAppointmentDetailsID desc)) SlNo1  from ( 
select *,isnull((Lead(dateadd(day,-1,FromDate)) over (Partition By ContactID Order By ContactID,SlNo)),(case when ToODLDID is NULL then NULL else @ToDate end)) ToDate from ( 
select *,(case when left(cast(FromDate1 as Time),2)>12 then dateadd(day,1,cast(FromDate1 as Date)) else cast(FromDate1 as Date) end) FromDate from ( 

select * ,(Row_Number() over (Partition By ContactID Order By ContactID,FromDate1,EmployeeAppointmentDetailsID)) SlNo from (
select b.DesignationID,EmployeeGradeID,AcOLID,EmployeeAppointmentDetailsID,ContactID,FromODLDID,ToODLDID,EmployeeCategoryID,AppointmentTypeID
,(case when AppointmentTypeID in (23,47,46,43) then isnull(RelievedTime,RelievedDate) else isnull(ReportedTime,ReportedDate) end) FromDate1 
from EmployeeAppointmentDetails A With(nolock) left join ODLDAllocation B with(nolock) on b.ODLDID=ToODLDID
left join OfficeLocationAccountingUnitDetails C with(nolock) on c.OfficeID=b.OfficeID and c.LocationID=b.LocationID 
left join EmployeeGradeDesignationAllocation D with(nolock) on d.DesignationID=b.DesignationID
where (case when @ContactID=0 then 0 else ContactID end)=@ContactID and ContactID>0 and Approved=1 and Reported=1 and isnull(ToODLDID,0)>0
and (case when AppointmentTypeID in (23,47,46,43) then isnull(RelievedTime,RelievedDate) else isnull(ReportedTime,ReportedDate) end) is not NULL 
and AppointmentTypeID not in (select AppointmentTypeID from AppointmentTypes_Config with(nolock) where AppointmentMainTypeID in (4) and AppointmentTypeID not in (46,23,47,43,8))
union 
select b.DesignationID,EmployeeGradeID,AcOLID,EmployeeAppointmentDetailsID,ContactID,FromODLDID,ToODLDID,EmployeeCategoryID,AppointmentTypeID,isnull(RelievedTime,RelievedDate) FromDate1 
from EmployeeAppointmentDetails A With(nolock) left join ODLDAllocation B with(nolock) on b.ODLDID=FromODLDID
left join OfficeLocationAccountingUnitDetails C with(nolock) on c.OfficeID=b.OfficeID and c.LocationID=b.LocationID 
left join EmployeeGradeDesignationAllocation D with(nolock) on d.DesignationID=b.DesignationID
where (case when @ContactID=0 then 0 else ContactID end)=@ContactID and ContactID>0 and Approved=1 and Relieved=1 and isnull(ReportedTime,ReportedDate) is NULL
and (AppointmentTypeID in (21,22) or isnull(ToODLDID,0)=0) 
and isnull(RelievedTime,RelievedDate)<=@ToDate 
) A 
) A 
) A 
) A where (FromDate Between @FromDate and @ToDate or ToDate Between @FromDate and @ToDate)
and (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 
and ContactID not in (select ContactID from EmployeeAppointmentDetails B with(nolock) where b.ContactID=a.COntactID and cast(isnull(RelievedTime,RelievedDate) as Date) Between @FromDate and @ToDate and (AppointmentTypeID in (21,22) or isnull(ToODLDID,0)=0) and AppointmentTypeID not in (17) ) 

) A where SlNo1=1 --and EmployeeCategoryID=1
----Order By ContactID
) 
GO
