USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fnNumToWords]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------


CREATE   FUNCTION [dbo].[fnNumToWords](@Numbers bigint)
RETURNS varchar(200) AS  
BEGIN
    

Declare @Number bigint select @Number=@Numbers


Declare @Number2 varchar(2000)

set @Number2 =(case when @Number=0 then 'Zero' else (case when len(@Number)>11 then 'Words Not Available Crossed 99 Hundered Crores' else 
+''+'Rupees '+ltrim(rtrim(

(case when len(@Number)>=11 then (select WWords from M_Words where WNumber=(case when len(right(@Number,11))=11 then (case when left(right(@Number,11),2)<20 then left(right(@Number,11),2) else left(right(@Number,11),1)+'0' end) else left(@Number,2) end))		 else '' end) + (case when len(@Number)>=11 and left(right(@Number,11),1)=0 then '' else (Case when (case when len(@Number)>=11 then left(right(@Number,10),1) else '' end)=0 and len(@Number)>=11  then ' Hundered' else '' end) end)
+' '+(case when len(@Number)>=10 then (select WWords from M_Words where WNumber=(case when len(@Number)=10 or left(right(@Number,11),2)>20 then left(right(@Number,10),1)		 else '' end)) else '' end)+(Case when (case when len(@Number)>=10 then left(right(@Number,10),1) else '' end)=0  then '' else ' Hundered' end)

+' '+(case when len(@Number)>=9 then (select WWords from M_Words where WNumber=(case when len(right(@Number,9))=9 then (case when left(right(@Number,9),2)<20 then left(right(@Number,9),2) else left(right(@Number,9),1)+'0' end) else left(@Number,2) end))		 else '' end) + (case when len(@Number)>=9 and left(right(@Number,9),1)=0 then '' else (Case when (case when len(@Number)>=9 then left(right(@Number,8),1) else '' end)=0 and len(@Number)>=9  then ' Crore' else '' end) end)
+' '+(case when len(@Number)>=8 then (select WWords from M_Words where WNumber=(case when len(@Number)=8 or left(right(@Number,9),2)>20 then left(right(@Number,8),1)		 else '' end)) else '' end)+(Case when (case when len(@Number)>=8 then left(right(@Number,8),1) else '' end)=0  then '' else ' Crore' end)

+' '+(case when len(@Number)>=7 then (select WWords from M_Words where WNumber=(case when len(right(@Number,7))=7 then (case when left(right(@Number,7),2)<20 then left(right(@Number,7),2) else left(right(@Number,7),1)+'0' end) else left(@Number,2) end))		 else '' end) + (case when len(@Number)>=7 and left(right(@Number,7),1)=0 then '' else (Case when (case when len(@Number)>=7 then left(right(@Number,6),1) else '' end)=0 and len(@Number)>=7  then ' Lakhs' else '' end) end)
+' '+(case when len(@Number)>=6 then (select WWords from M_Words where WNumber=(case when len(@Number)=6 or left(right(@Number,7),2)>20 then left(right(@Number,6),1)		 else '' end)) else '' end)+(Case when (case when len(@Number)>=6 then left(right(@Number,6),1) else '' end)=0  then '' else ' Lakhs' end)

+' '+(case when len(@Number)>=5 then (select WWords from M_Words where WNumber=(case when len(right(@Number,5))=5 then (case when left(right(@Number,5),2)<20 then left(right(@Number,5),2) else left(right(@Number,5),1)+'0' end) else left(@Number,2) end))		 else '' end) + (case when len(@Number)>=5 and left(right(@Number,5),1)=0 then '' else (Case when (case when len(@Number)>=5 then left(right(@Number,4),1) else '' end)=0 and len(@Number)>=5  then ' Thousand' else '' end) end)
+' '+(case when len(@Number)>=4 then (select WWords from M_Words where WNumber=(case when len(@Number)=4 or left(right(@Number,5),2)>20 then left(right(@Number,4),1)		 else '' end)) else '' end)+(Case when (case when len(@Number)>=4 then left(right(@Number,4),1) else '' end)=0  then '' else ' Thousand' end)

+' '+(case when len(@Number)>=3 and left(right(@Number,3),1)<>0 then (select WWords from M_Words where WNumber=left(right(@Number,3),1))+' Hundered' else '' end)

+' '+(case when len(@Number)>=2 then (select WWords from M_Words where WNumber=(case when len(right(@Number,2))=2  then (case when right(@Number,2)<20 then right(@Number,2) else left(right(@Number,2),1)+'0'end) else right(@Number,2) end)) else '' end)
+' '+(case when len(@Number)>=1 then (select WWords from M_Words where WNumber=(case when Len(@Number)=1 then right(@Number,1) else (case when right(@Number,2)>20 then right(@Number,1) else '' end) end)) else '' end)))+' Only'
 End) End) 

RETURN @Number2
END



--------
GO
