USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAttendance_hierarchyFinal_24102025]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FnAttendance_hierarchyFinal_24102025] (@OLID Int,@DPID Int,@DNID Int,@ODDID Int,@FromDate DateTime,@ToDate DateTime,@Category Varchar(50))

RETURNS Table AS 
RETURN (


-- select * from FnAttendance_hierarchyFinal (342,175,229,668,'2022-04-16','2022-05-15','1,4,5,7') 

--Declare @OLID Int select @OLID = 1809 
--Declare @DPID Int select @DPID = 179
--Declare @DNID Int select @DNID = 234  
--Declare @ODDID Int select @ODDID = 683 
--Declare @FromDate DateTime select @FromDate = '2024-12-16'
--Declare @ToDate DateTime select @ToDate = '2025-01-15'
--Declare @Category Varchar(50) select @Category ='1,4,5,7'
--;




With Total_ODD as (
select distinct b.AcOLID,b.OLID,OfficeLocation ,OfficeDepartmentDesignationAllocationID ODDID,ODLDID
from OfficeLocationAccountingUnitDetails B with(nolock) 
Inner Join ODLDAllocation ODLD with(nolock) on odld.OfficeID=b.OfficeID and odld.LocationID=b.LocationID
Inner Join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=b.OfficeID and c.DepartmentID=odld.DepartmentID
Inner join OfficeDepartmentDesignationAllocation D with(nolock) on d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID and d.DesignationID=odld.DesignationID

) , Perm_ODD as (
select distinct b.ContactID,ODDID,a.ODLDID,AcOLID,OLID,OrderNo from ODLDAllocation A with(nolock)
Inner Join ( select distinct ContactID,ODLDID from Employee with(nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
			union select distinct ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
			and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
			) B on b.ODLDID=a.ODLDID
Inner Join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=a.OfficeID and c.DepartmentID=a.DepartmentID
Inner join OfficeDepartmentDesignationAllocation D with(nolock) on d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID and d.DesignationID=a.DesignationID
Inner Join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID from DesignationActivityAllocation with (nolock) where ActivityID=390 and [Create]=1 ) E on e.ODDID=d.OfficeDepartmentDesignationAllocationID
Inner Join Users F with(nolock) on f.ContactID=b.ContactID and Active=1
Inner Join OfficeLocationAccountingUnitDetails G with(nolock) on g.OfficeID=a.OfficeID and g.LocationID=a.LocationID  
--where B.ContactID = 2476

) , Total_ODLD as (
select  distinct LoginODDID,LoginODDID1,LoginODDID2,LoginODDID3,a.ODDID,EmployeeGradeID,DesignationOrder,ODLDID,OLID,AcOLID,DepartmentID,DesignationID
from AttendanceEntryAllocation A with(nolock) 
Inner Join Total_ODD B on b.ODDID=a.ODDID

) , Filter_OLID as (
select OLID from (select AcOLID,OrderNo from OfficeLocationAccountingUnitDetails with(nolock) where OLID= @OLID ) A
Inner Join OfficeLocationAccountingUnitDetails B with(nolock) on b.AcOLID=a.AcOLID and b.OrderNo>=a.OrderNo
where ( OLID= @OLID or SubDivisionOLID= @OLID or DivisionOLID= @OLID or CircleOLID= @OLID or ZonalOLID= @OLID or CorporateOLID= @OLID )

) , Filter_ODLD as (
select a.* from (
select * from Total_ODLD A where LoginODDID3= @ODDID  and OLID in (Select OLID from Filter_OLID B where b.OLID=a.OLID) ) A
Full Join ( select OLID,ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) B2 on b2.OLID=a.OLID and b2.ODDID=a.LoginODDID2
Full Join ( select OLID,ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) B on b.OLID=a.OLID and b.ODDID=a.LoginODDID1
Full Join ( select OLID,ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) B1 on b1.OLID=a.OLID and b1.ODDID=a.LoginODDID
where (b2.ODDID is NULL and b.ODDID is NULL and b1.ODDID is NULL)
union
select a.* from (
select * from Total_ODLD A where LoginODDID2= @ODDID  and OLID in (Select OLID from Filter_OLID B where b.OLID=a.OLID) ) A
Full Join ( select OLID,ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) B on b.OLID=a.OLID and b.ODDID=a.LoginODDID1
Full Join ( select OLID,ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) B1 on b1.OLID=a.OLID and b1.ODDID=a.LoginODDID
where (b.ODDID is NULL and b1.ODDID is NULL)
union
select a.* from (
select * from Total_ODLD A where LoginODDID1= @ODDID  and OLID in (Select OLID from Filter_OLID B where b.OLID=a.OLID) ) A
Full Join ( select OLID,ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) B1 on b1.OLID=a.OLID and b1.ODDID=a.LoginODDID
where b1.ODDID is NULL
union
select * from Total_ODLD A where LoginODDID= @ODDID  and OLID in (Select OLID from Filter_OLID B where b.OLID=a.OLID) and OLID= @OLID
and LoginODDID in (select ODDID from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID))



) , Charge as (
select distinct ContactID,a.ODLDID,b.OfficeID,b.DepartmentID,b.LocationID,b.DesignationID from (
select distinct ContactID,ToODLDID ODLDID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) A Inner Join ODLDAllocation B with(nolock) on b.ODLDID=a.ODLDID
Inner Join EmployeeGradeDesignationAllocation C1 with(nolock) on c1.DesignationID=b.DesignationID 
Inner Join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=b.OfficeID and c.DepartmentID=b.DepartmentID
Inner join OfficeDepartmentDesignationAllocation D with(nolock) on d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID and d.DesignationID=b.DesignationID
Inner Join OfficeLocationAllocation E with(nolock) on e.OfficeID=b.OfficeID and e.LocationID=b.LocationID 
--where OfficeLocationAllocationID = @OLID 


) , CID as (
select distinct a.* ,isnull((case when C2.DesignationID in (229,230,231,232) then c2.ODLDID else a.ODLDID end),a.ODLDID) ODLDID1 
--,isnull(c.ODLDID,a.ODLDID) ODLDID1 ,(case when c.ODLDID is NULL then 0 else 1 end) Updated ---- #201887
,(case when (case when c2.designationid in (229,230,231,232) then c2.ODLDID else a.ODLDID end) is NULL then 0 else 1 end) Updated,EmployeeGradeID from (
select e.ContactID,e.ODLDID,EmployeeCategoryID,0 AppointmentTypeID, NULL ValidUpTo from Employee e with (nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 
union select distinct ContactID,FieldValue,1 EmployeeCategoryID,AppointmentTypeID,ValidUpTo from (
select  ContactID,FieldValue,AppointmentTypeID,ValidUpTo
,(Row_Number() over (Partition By COntactID,cast(ValidUpTo as Date) Order By ContactID,cast(ValidUpTo as Date),(case when AppointmentTypeID=46 then 1 else 0 end),EmployeeHistoryID )) RowNum1  ---- issue no 196509
from EmployeeHistory_HRMS A with (nolock) where FieldName='ODLDID' and ValidupTo Between @FromDate and @ToDate ) A where RowNum1 = 1 
--select distinct ContactID,FieldValue,AppointmentTypeID,ValidUpTo
--,(Row_Number() over (Partition By COntactID,cast(ValidUpTo as Date) Order By ContactID,ValidUpTo,(case when AppointmentTypeID in (23,47) then 0 else 1 end),EmployeeHistoryID desc)) RowNum
--from EmployeeHistory_HRMS A with (nolock) where FieldName='ODLDID' and ValidupTo Between @FromDate and @ToDate ) A where RowNum=1 
) A
Inner Join ODLDAllocation D with(nolock) on d.ODLDID=a.ODLDID
Left Outer Join EmployeeGradeDesignationAllocation C1 with(nolock) on c1.DesignationID=d.DesignationID 
left Outer join Charge C on c.ContactID=a.ContactID and c.OfficeID=d.OfficeID and c.LocationID=d.LocationID and c.DepartmentID=d.DepartmentID  
left Outer join Charge C2 on c2.ContactID=a.ContactID and c2.OfficeID=d.OfficeID and c2.LocationID=d.LocationID   ---- #201887
where EmployeeCategoryID in (select EmployeeCategoryID from EmployeeCategories EC with (nolock) where ec.EmployeeCategoryID=a.EmployeeCategoryID and isnull(EmployeeCategoryID,0) in (select * from Split(@Category,',')) )
--and a.ContactID = 2075
)

--select a.*,ct1.Fileas UserContactName from (
select LoginODDID,LoginODDID1,LoginODDID2,LoginODDID3,a.ODDID,(case when updated=1 then b.ODLDID else a.ODLDID end) as ODLDID,a.OLID,a.AcOLID,DesignationOrder
,(DesignationName+' ('+DepartmentCode+')') Designation,b.ContactID,ct.Fileas ContactName,EmployeeCategoryID,Max(uc.ContactID) UserContactID ,Updated,b.EmployeeGradeID EGrdeID,b.ODLDID as ActualODLDID
from Filter_ODLD A Full Join CID B on b.ODLDID1=a.ODLDID
left Outer Join Contacts Ct with(nolock) on ct.ContactID=b.ContactID
left outer join Designation DN with(nolock) on dn.DesignationID=a.DesignationID
left Outer Join Department DP with(nolock) on dp.DepartmentID=a.DepartmentID
left outer join ( select Distinct ContactID from EmployeeAppointmentDetails with (nolock) where Approved=1 and Reported=1 and isnull(Regularised,0)=1 and AppointmentTypeID in (1,26) ) as PP on pp.ContactID=b.ContactID
left outer join ( select * from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) UC on (uc.ODDID=a.LoginODDID or uc.ODDID=a.LoginODDID1 or uc.ODDID=a.LoginODDID2 or uc.ODDID=a.LoginODDID3)
where (case when a.ODLDID is not NULL and b.ODLDID is not NULL then 0 else 1 end) = 0
and ( (case when a.EmployeeGradeID in (1,2) and pp.ContactID is not NULL  then 0 else 1 end) = 1 or (case when b.EmployeeGradeID in (3,4) and Updated=1 then 1 else 0 end)=1 )
Group By LoginODDID,LoginODDID1,LoginODDID2,LoginODDID3,a.ODDID,a.ODLDID,a.OLID,a.AcOLID,DesignationOrder,DesignationName,DepartmentCode,b.ContactID,ct.Fileas,EmployeeCategoryID,Updated,b.EmployeeGradeID ,b.ODLDID 
--) A left Outer Join Contacts Ct1 with(nolock) on ct1.ContactID=UserContactID
--order by DesignationOrder,Designation,ContactName


)

----select * from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) --and ContactID = 9253 
----select * from CID where ContactID = 554 



--select * from Filter_ODLD 
--select * from Perm_ODD  WHERE CONTACTID = 1927 
--select * from cid  WHERE CONTACTID = 10850  


GO
