USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SRCivilWorks]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SRCivilWorks]() RETURNS Table AS RETURN ( 

select OLID,CivilWorkID,UnitID,a.SRPeriodID,RateYear,FromDate,ToDate,Price,(Row_Number() over (Order By CivilWorkID,a.SRPeriodID )) as SlNo2
,(Row_Number() over (Partition By CivilWorkID,OLID Order By CivilWorkID,OLID,a.SRPeriodID)) as SlNo1 ,(Dense_Rank() over (Order By CivilWorkID )) as SlNo from ( 
select *,(Row_Number() over (Partition By SRPeriodID,OLID,CivilWorkID Order By SRPeriodID,OLID,CivilWorkID,UnitID,Price desc)) as MaxNo from ( 

select OLID,CivilWorkID,SRPeriodID,UnitID,Price 
from SRCivilWorks with (nolock) where Price>0 
union 
select OLID,CivilWorkID,SRPeriodID,UnitID,Price 
from SRCivilWorksHistory with (nolock) where Price>0 
union 
select distinct OLID,CivilWorkID,b.SRPeriodID,UnitID,0 Price from ( 
select OLID,CivilWorkID,SRPeriodID,UnitID,Price 
from SRCivilWorks with (nolock) where Price>0 
union 
select OLID,CivilWorkID,SRPeriodID,UnitID,Price 
from SRCivilWorksHistory with (nolock) where Price>0 
) as A Cross Join SRPeriods B with (nolock) 
) as A ) as A 

Inner Join ( select SRPeriodID,concat(convert(varchar,FromDate,104),' to ',convert(varchar,ToDate,104)) as RateYear,FromDate,ToDate from ( 
    select a.SRPeriodID,a.EffectiveDate as FromDate,isnull((b.EffectiveDate-1),convert(DateTime,concat(ToDate,'-12-31'))) as ToDate from (
	select SRPeriodID,EffectiveDate,ToDate,(Row_Number() over (Order By SRPeriodID)) as SlNo 
	from SRPeriods with (nolock) 
	) as A Left Outer Join ( select SRPeriodID,EffectiveDate,(Row_Number() over (Order By SRPeriodID)) as SlNo from SRPeriods with (nolock)) as B on b.SlNo-1=a.SlNo 
	) as A ) as B on b.SRPeriodID=a.SRPeriodID where MaxNo=1 

)
GO
