USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMRReceiptVoucher]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMRReceiptVoucher] (@AcOLID Int)

RETURNS Table AS 
RETURN  (

--Declare @AcOLID Int select @AcOLID = 337


 -- if SI=RV  then WTTU else WUP

select * from (
select AcOLID,DocumentNo,ItemID,FnUnitID,Sum(ReceivedQuantity) as ReceivedQuantity,Max(Multiply) as Multiply,Max(Devided) as Devided,Sum(case when ActualQuantity=0 then ReceivedQuantity else ActualQuantity end) as ActualQuantity from (
select * ,(Round((ReceivedQuantity*Multiply),4) + (case when (ReceivedQuantity=0 or Devided=0) then 0 else Round((ReceivedQuantity/Devided),4) end)) as ActualQuantity from ( 
select rv.*,isnull(mc.Quantity,0) as Multiply,isnull(dc.Quantity,0) as Devided from ( 
select rv.*,fn.UnitID as FnUnitID,(Row_Number() over (Partition By DocumentNo,rv.ItemID Order By DocumentNo,rv.ItemID,StockConditionID)) as MinNo from ( 
select AcOLID,rv.* ,rvd.UnitID,rvd.ItemID,ReceivedQuantity from ( 

select ReceiptVoucherNo,OLID,ReceiptVoucherDate,DocumentTypeID,DocumentNo,DocumentOLID
from ReceiptVoucherAbstract_PNI where Approved=1 and isnull(Canceled,0)=0 and ReturnTypeID=1 and DocumentTypeID=2 and DocumentNo in (
select distinct WorkOrderNo from Workorder where Approved=1 and isnull(Complete,0)=0 and isnull(TokenWorkOrder,0)=0 and isnull(Legacy,0)=0 and isnull(Canceled,0)=0 and isnull(SanctionEstimateNo,0)<>0 and isnull(WorkAllocationID,0) not in (57))) as RV 

inner join FnUnderOL() ol on ol.OLID=rv.OLID and (CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID or AcOLID=@AcOLID) 
inner join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID not in (66,65,49)
left outer join ReceiptVoucherDetails_PNI rvd on rvd.ReceiptVoucherNo=rv.ReceiptVoucherNo where isnull(ReceivedQuantity,0)<>0 ) as RV

full join  FnItemWiseUOM(@AcOLID)
 fn on fn.ItemID=rv.ItemID and fn.AcOLID=rv.AcOLID ) as RV
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=rv.ItemID and mc.UnitID=rv.UnitID and mc.UnitIIID=rv.FnUnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=rv.ItemID and dc.UnitID=rv.FnUnitID and dc.UnitIIID=rv.UnitID 
where MinNo=1 ) as RV ) as RV Group By AcOLID,DocumentNo,ItemID,FnUnitID ) as RV 



)
GO
