USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnCapitalBudget1]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnCapitalBudget1] (@FinancialYear varchar(50),@OLID Int)

RETURNS Table AS 
RETURN 	(



--Declare @FinancialYear varchar(50) select @FinancialYear = '2015-2016'
--Declare @OLID Int select @OLID = 337



select distinct AcOLID,b.BudgetGrantTypeID,o.OfficeName,l.LocationName
,left(datename(month,convert(datetime,cast(b.YearFrom as Varchar(4))+'-'+cast(b.MonthFrom as Varchar(2))+'-1')),3)+'-'+cast(b.YearFrom as Varchar(4)) as FromYear
,left(datename(month,convert(datetime,cast(b.YearTo as Varchar(4))+'-'+cast(b.MonthTo as Varchar(2))+'-1')),3)+'-'+cast(b.YearTo as Varchar(4)) as ToYear
,ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) as AccountCode,(case when Ordering=3 then b.BudgetGrantTypes+' A' else b.BudgetGrantTypes end) as AccountDescription
,b.Date,Particulars,b.Credit as Credits,b.Debit as Debits,(case when Ordered=2 and ltrim((isnull(bga1.FromMainAccountCode,'')+isnull(bga1.FromSubAccountCode,''))) <>'' then 0 else b.Balance end) as Balance
,ol.OLID,OfficeLocation,BudgetGrantID,Ordering,Ordered,MaxNo
,ltrim((isnull(bga1.FromMainAccountCode,'')+isnull(bga1.FromSubAccountCode,''))) as UnderAccountCode,bt.Description as UnderDescription1,bt.BudgetGrantTypeID as UnderBudgetGrantTypeID1
,(case when Ordered=2 and ltrim((isnull(bga1.FromMainAccountCode,'')+isnull(bga1.FromSubAccountCode,''))) <>'' then bt1.Description else bt.Description end) as UnderDescription
,(case when Ordered=2 and ltrim((isnull(bga1.FromMainAccountCode,'')+isnull(bga1.FromSubAccountCode,''))) <>'' then bt.UnderBudgetGrantTypeID else b.UnderBudgetGrantTypeID end) as UnderBudgetGrantTypeID

from ( select a.Particulars,a.BudgetGrantID,a.OLID,a.BudgetGrantTypeID,a.YearFrom,a.YearTo,a.MonthFrom,a.MonthTo,a.Debit,a.Credit,a.Date,a.BudgetControlID,a.UnderBudgetGrantTypeID,a.Ordering,a.Ordered,a.BudgetGrantTypes,a.FromOLID,a.ToOLID,a.MaxNo,Sum(-b.Debit+b.Credit) as Balance
from ( select * from FnBudgetReportNew(@FinancialYear,@OLID)
 A where BudgetGrantMainTypeID=1 and TypeID not in (5) ) as A
inner join ( select * from FnBudgetReportNew1(@FinancialYear,@OLID)
 A where BudgetGrantMainTypeID=1 and TypeID not in (5) ) B on b.BudgetGrantID=a.BudgetGrantID and b.MaxNo<=a.MaxNo
Group By a.Particulars,a.BudgetGrantID,a.OLID,a.BudgetGrantTypeID,a.YearFrom,a.YearTo,a.MonthFrom,a.MonthTo,a.Debit,a.Credit,a.Date,a.BudgetControlID,a.UnderBudgetGrantTypeID,a.Ordering,a.Ordered,a.BudgetGrantTypes,a.FromOLID,a.ToOLID,a.MaxNo
union all 
select Particulars,BudgetGrantID,OLID,BudgetGrantTypeID,YearFrom,YearTo,MonthFrom,MonthTo,-Debit,-Credit,Date,BudgetControlID,UnderBudgetGrantTypeID,3 as Ordering,Ordered,BudgetGrantTypes,FromOLID,ToOLID,MaxNo,0 as Balance
from FnBudgetReportNew(@FinancialYear,@OLID)
 where BudgetGrantMainTypeID=1 and TypeID not in (5) and Ordering=1  )
 as B  

left outer join FnUnderOL() ol on ol.OLID=b.OLID
left outer join BudgetTypeAccountHeadAllocation bga on bga.BudgetGrantTypeID=b.BudgetGrantTypeID
left outer join BudgetGrantTypes bt on bt.BudgetGrantTypeID=b.UnderBudgetGrantTypeID
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=@OLID
left outer join Office o on o.OfficeID=ola.OfficeID
left outer join Location l on l.LOcationID=ola.LocationID
left outer join BudgetTypeAccountHeadAllocation bga1 on bga1.BudgetGrantTypeID=bt.BudgetGrantTypeID
left outer join BudgetGrantTypes bt1 on bt1.BudgetGrantTypeID=bt.UnderBudgetGrantTypeID


--where BudgetGrantID = 17694
--where b.UnderBudgetGrantTypeID = 347
--and AcOLID = 658
--Order By UnderDescription,Date,Ordering,Ordered,AccountCode,AccountDescription


)
GO
