USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderDNForALL]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnUnderDNForALL] (@DesignationID Int) 

RETURNS Table AS 

RETURN 	(



--Declare @DesignationID Int select @DesignationID = 284 ;

With A (OrderNo,DNID,DesignationID,DesignationName,UnderPromteDesignationID,ECTypeID) as (
select 1 as OrderNo,@DesignationID as DNID,dn.DesignationID,DesignationName,UnderPromteDesignationID,EmployeeCadreTypeID  from Designation dn
inner join ( select eg1.DesignationID,eg.EmployeeCadreTypeID from ( select * from Designation with(nolock) where (case when @DesignationID=0 then 0 else DesignationID end) = @DesignationID ) as DN
left outer join EmployeeCadreTypeDesignationAllocation eg with(nolock) on eg.DesignationID=dn.DesignationID
left outer join EmployeeCadreTypeDesignationAllocation eg1  with(nolock) on eg1.EmployeeCadreTypeID=eg.EmployeeCadreTypeID ) as DN1 on dn1.DesignationID=dn.UnderPromteDesignationID

union all
select OrderNo+1,DNID,d.DesignationID,d.DesignationName,d.UnderPromteDesignationID,ECTypeID from Designation d  
inner join A on d.UnderPromteDesignationID=a.DesignationID 
) 

select distinct OrderNo,DNID,a.DesignationID,a.DesignationName,ect1.EmployeeCadreTypeID,ect1.DesignationID as CadreDesignationID,dn.DesignationName as CadreDesignation
from (select * from ( select *,(Row_Number() over (Partition By DesignationID Order By DesignationID,OrderNo)) as MaxNo from A ) as A where MaxNo=1) as A 
inner join EmployeeCadreTypeDesignationAllocation ect with(nolock) on ect.DesignationID=a.DesignationID
left outer join EmployeeCadreTypeDesignationAllocation ect1 with(nolock) on ect1.EmployeeCadreTypeID=ect.EmployeeCadreTypeID
left outer join Designation dn with(nolock) on dn.DesignationID=ect1.DesignationID
where ECTypeID<>ect.EmployeeCadreTypeID


)
GO
