USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getLoanAndAdvanceColumns]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_getLoanAndAdvanceColumns] ( ) RETURNS NVARCHAR(2000) AS BEGIN 
DECLARE @LoanAndAdvanceColumns NVARCHAR(2000) 
SELECT @LoanAndAdvanceColumns= COALESCE(@LoanAndAdvanceColumns+',['+Ex.Name+']','['+Ex.Name+']') from ( 
SELECT Distinct(EO.Name +''+EOB.Name ) as Name 
FROM EmployeeLoanAndAdvance ELA with (nolock) , ExternalOrganisations EO with (nolock), ExternalOrganisationBranches EOB with (nolock), ScaleRegisterLoansAndAdvances SRLA with (nolock), ScaleRegister SR with (nolock) 
WHERE EO.ExternalOrganisationID =ELA.ExternalOrganisationID 
AND ELA.ExternalOrganisationBranchID=EOB.ExternalOrganisationBranchID 
AND EOB.ExternalOrganisationID=EO.ExternalOrganisationID 
AND SRLA.ScaleRegisterID=SR.ScaleRegisterID 
AND SRLA.LoanAndAdvanceID=ELA.LoanAndAdvanceID 
AND SR.ContactID=ELA.ContactID and sr.ContactID = 1637 ----- contactid added
) Ex RETURN @LoanAndAdvanceColumns END
GO
