USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnNetAndWords]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnNetAndWords]()
RETURNS @NetAndWords  Table (ScaleRegisterID int,OLID int,ContactID int,YearID int,MonthID int,Earnings money,Deductions money,NetPayable money,Words varchar(500)) 
AS  
BEGIN

Insert Into @NetAndWords 

select sr.ScaleregisterID,sr.OLID,sr.ContactID,sr.YearID,sr.MonthID
,sum(case when sr.AType='A' and sr.TypeID<>99 then isnull(Amount,0) else 0 end) as Earnings
,sum(case when sr.AType='D' and sr.TypeID<>99 then isnull(Amount,0) else 0 end) as Deductions
,(sum(case when sr.AType='A' and sr.TypeID<>99 then isnull(Amount,0) else 0 end) - sum(case when sr.AType='D' and sr.TypeID<>99 then isnull(Amount,0) else 0 end)) as NetPayable
,dbo.fnNumToWords((sum(case when sr.AType='A' and sr.TypeID<>99 then isnull(Amount,0) else 0 end) - sum(case when sr.AType='D' and sr.TypeID<>99 then isnull(Amount,0) else 0 end))) as Words
from [dbo].[FnSRD]() sr

group by sr.ScaleregisterID,sr.OLID,sr.ContactID,sr.YearID,sr.MonthID

RETURN
END
GO
