USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[AssetDate]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[AssetDate] (@DOC datetime,@OLID int,@MAC varchar(10),@SAC varchar(10)) returns table return ( 

select top 1 * from ( 
select top 1 concat(foliono,'-',1) A,* from Assets with (nolock) where CommencementDate=@DOC and OLID=@OLID and MainAccountCode=@MAC and SubAccountCode=@SAC and AssetCategoryID=1 
union all 
select top 1 concat(foliono,'-',2),* from Assets with (nolock) where month(CommencementDate)=month(@DOC) and year(CommencementDate)=year(@DOC) and OLID=@OLID 
and CommencementDate in (select max(CommencementDate) from Assets with (nolock) where month(CommencementDate)=month(@DOC) and year(CommencementDate)=year(@DOC) and OLID=@OLID ) 
and MainAccountCode=@MAC and SubAccountCode=@SAC and AssetCategoryID=1 
union all 
select top 1 concat(foliono,'-',3),* from Assets with (nolock) where year(CommencementDate)=year(@DOC) and OLID=@OLID 
and CommencementDate in (select max(CommencementDate) from Assets with (nolock) where year(CommencementDate)=year(@DOC) and OLID=@OLID and MainAccountCode=@MAC and SubAccountCode=@SAC and AssetCategoryID=1 ) 
) as P

)
GO
