USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_BudgetValidationLegacy]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Fn_BudgetValidationLegacy] (@WONO VARCHAR(20))
RETURNS TABLE
AS
RETURN
(
    WITH SIA_Summary AS (
        SELECT 
            DocumentNo,
            SUM(CASE WHEN Priced = 1 THEN TotalAmount ELSE 0 END) AS TotalInvoiceAmount
        FROM StoreInvoice_Accounts
        WHERE DocumentTypeID = 2
        GROUP BY DocumentNo
    ),
    RV_Summary AS (
        SELECT 
            DocumentNo, 
            SUM(CASE WHEN Priced = 1 AND ReturnTypeID = 1 THEN TotalAmount ELSE 0 END) AS RVTotalAmt
        FROM ReceiptVoucherAbstract_Accounts
        GROUP BY DocumentNo
    ),
    Civil_Summary AS (
        SELECT 
            ci.DocumentNo,  
            SUM(CASE WHEN ci.Status = 1 THEN jvd.Amount ELSE 0 END) AS CivilInvoiceAmount,
            MAX(ci.BillRegisterDate) AS LatestBillRegisterDate,   
            MAX(CAST(ci.Status AS INT)) AS Status
        FROM CivilInvoice ci
        INNER JOIN JournalVoucher jv ON ci.BillRegisterNo = jv.DoucmentNo 
        INNER JOIN JournalVoucherDetailsreport jvd ON jv.JournalVoucherNo = jvd.JournalVoucherNo 
        WHERE ci.Status = 1 
          AND jv.DocumentTypeID = 29 
          AND jvd.FromMainAccountCode LIKE '14%'
        GROUP BY ci.DocumentNo
    ),
    Proforma_Summary AS (
        SELECT 
            CAST(DocumentNo AS VARCHAR(50)) AS DocumentNo,
            MAX(CASE WHEN ProformaApproved = 1 THEN Amount ELSE 0 END) AS ProformaInvoiceAmount
        FROM ProformaInvoice
        WHERE ProformaApproved = 1
        GROUP BY CAST(DocumentNo AS VARCHAR(50))
    ),
    Reapp_Summary AS (
        SELECT 
            WorkOrder, 
            SUM(CASE WHEN Status = 1 THEN ReappropriatedAmount ELSE 0 END) AS ReappropriatedAmount
        FROM Reappropriation
        GROUP BY WorkOrder
    )

    SELECT 
        wo.WorkOrderNo, 
        wo.Amount AS WorkOrderAmount,
        ISNULL(sia.TotalInvoiceAmount, 0) AS TotalInvoiceAmount,
        ISNULL(rv.RVTotalAmt, 0) AS RVTotalAmt,
        ISNULL(ci.CivilInvoiceAmount, 0) AS CivilInvoiceAmount,
        ISNULL(pf.ProformaInvoiceAmount, 0) AS ProformaInvoiceAmount,
        ISNULL(reap.ReappropriatedAmount, 0) AS ReappropriatedAmount,
        ci.LatestBillRegisterDate,    
        ci.Status,
        (
            ISNULL(sia.TotalInvoiceAmount, 0)
            + ISNULL(pf.ProformaInvoiceAmount, 0)
            + ISNULL(ci.CivilInvoiceAmount, 0)
            - ISNULL(rv.RVTotalAmt, 0)
        ) AS NetExpenditureAmount,
        (
            ISNULL(wo.Amount, 0) * 1.25
            + ISNULL(reap.ReappropriatedAmount, 0)
            - (
                ISNULL(sia.TotalInvoiceAmount, 0)
                + ISNULL(ci.CivilInvoiceAmount, 0)
                + ISNULL(pf.ProformaInvoiceAmount, 0)
                - ISNULL(rv.RVTotalAmt, 0)
            )
        ) AS NetAmount
    FROM WorkOrder wo
    LEFT JOIN WorkAllocation WA
        ON WA.WorkAllocationID = wo.WorkAllocationID
    LEFT JOIN SIA_Summary sia 
        ON sia.DocumentNo = wo.WorkOrderNo
    LEFT JOIN RV_Summary rv 
        ON rv.DocumentNo = wo.WorkOrderNo
    LEFT JOIN Civil_Summary ci 
        ON ci.DocumentNo = wo.WorkOrderNo
    LEFT JOIN Proforma_Summary pf 
        ON pf.DocumentNo = CAST(wo.WorkOrderNo AS VARCHAR(50))
    LEFT JOIN Reapp_Summary reap
        ON reap.WorkOrder = wo.WorkOrderNo
        --AND wo.CivilWorkContractTypeID = 2
    WHERE 
        wo.WorkOrderNo = @WONO
        AND WA.MainAccountCode LIKE '14%'
);
GO
