USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnHRAIT]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnHRAIT](@FromDate varchar(12),@ToDate varchar(12))
RETURNS Table AS
RETURN 	(





With IVT (InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,Limits) as (
select distinct it.InvestmentTypeID,ist.InvestmentSectionTypeID,ist.Description as SectionID,it.Description
,Left(Limit,(case when isnull(Len((Limit)),0)=0 then 1 else isnull(Len((Limit)),0) end)-1) as Limits
from InvestmentTypes_hrms it
left outer join InvestmentSectionTypes_hrms ist on ist.InvestmentSectionTypeid=it.InvestmentSectionTypeid
Cross Apply (select convert(varchar,Limit,50)+'  ,  ' from InvestmentTypeLimits ilt where it.InvestmentTypeID=ilt.InvestmentTypeID For xml path ('')) L (Limit)
), AHRA (ContactID,Date,HRARent,HRA,BasicOrMDA) as (
select ContactID,Date,sum(HRARent) as HRARent,sum(HRA) as HRA,sum(BasicOrMDA) as BasicOrMDA from (
select ContactID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date
,sum(case when InvestmentTypeID =62 then isnull(ActualAmount,0) else 0 end) as HRARent 
,sum(case when InvestmentTypeID =69 then isnull(ActualAmount,0) else 0 end) as HRA,0 as BasicOrMDA
from EmployeeInvestmentDetails eid inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentid
where Arrears=1 and InvestmentTypeID in (62,68,69)
and ContactID in (select distinct ContactID from TmpITFinal)
group by ContactID,Year(eid.InvestmentDate),Month(eid.InvestmentDate)
union all
select ContactID,convert(datetime,(ltrim(str(YearID))+'-'+ltrim(str(MonthID))+'-'+'01')) as Date,0 as HRARent,0 as HRA
,(sum(case when TypesID=1 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)+sum(case when TypesID=2 and TypeID=20 and isnull(Suppliment,0) not in (2,7) then isnull(srd.DiffAmount,0) else 0 end)) as BasicOrMDA
from FnSRNew() sr inner join FnSRADNew() srd on srd.ScaleRegisterID=sr.ScaleRegisterID
where ContactID in (select distinct ContactID from TmpITFinal) 
and (case when isnull(SalaryTypeID,0)=1 and isnull(SalaryID,0)<>1 then 0 else 1 end)<>0
and (cast(sr.SalaryYear as varchar(4))+cast(sr.SalaryMonth as varchar(2))) <> (cast(sr.YearID as varchar(4))+cast(sr.MonthID as varchar(2)))
group by ContactID,YearID,MonthID
) as A group by ContactID,Date

), SR (ScaleRegisterID,ContactID,SalaryMonth,SalaryYear,StartingDate) as (
select distinct ScaleRegisterID,ContactID,SalaryMonth,SalaryYear,StartingDate
from ScaleRegister s where OLID=0 and isnull(BillRegisterNo,0)<0
and s.StartingDate in (select Max(distinct s1.StartingDate) from ScaleRegister s1 where s1.ContactID=s.ContactID and s1.OLID=0 and isnull(s1.BillRegisterNo,0)<0  group by s1.ContactID)
and ((Case when SalaryMonth in (1,3,5,7,8,10,12) then 31 else Case when SalaryMonth in (4,6,9,11) then 30 else Case when day(EndingDate)=28 and SalaryMonth in (2) then 28 else 29 end end end) - (DateDiff(day,StartingDate,EndingDate)+1))<>0
and s.StartingDate>=@FromDate  and s.StartingDate<=@ToDate and ContactID in (select distinct ContactID from TmpITFinal)
union all
select distinct ScaleRegisterID,ContactID,SalaryMonth,SalaryYear,StartingDate
from dbo.FnMaxSRBDate(@FromDate,@ToDate) sr Where ContactID in (select distinct ContactID from TmpITFinal)

), SRD (ScaleRegisterID,ContactID,YearID,MonthID,TypeID,TypesID,Amount,SalaryTypes,Ordering) as (
select ScaleregisterID,ContactID,SalaryYear,SalaryMonth,TypeID,TypesID,sum(Amount) as Amount
,(case when TypesID=1 then 'Basic Pay' else case when TypesID=2 and TypeID=2 then 'HRA' else case when TypesID=2 and TypeID=20 then 'MDA' else 
case when TypesID=4 and TypeID=10 then 'HRA Others' else case when TypesID=4 and TypeID=20 then 'HRA Mescom' else case when TypesID=4 and TypeID=15 then 'WC  Others' else case when TypesID=4 and TypeID=21 then 'WC Mescom' else  
case when TypesID=5 and TypeID in (1,4) then 'Housing Loan' else NULL end end end end end end end end) as SalaryTypes
,(case when TypesID=1 then '01' else case when TypesID=2 and TypeID=2 then '05' else case when TypesID=2 and TypeID=20 then '02' else 
case when TypesID=4 and TypeID=10 then '18' else case when TypesID=4 and TypeID=20 then '20' else case when TypesID=4 and TypeID=15 then '19' else case when TypesID=4 and TypeID=21 then '21' else  
case when TypesID=5 and TypeID in (1,4) then '22' else NULL end end end end end end end end) as Ordering
from dbo.FnSRDNew(@FromDate,@ToDate) srd
where ContactID in (select distinct ContactID from TmpITFinal) 
and (case when srd.TypesID=2 and  srd.TypeID in (2,20) then srd.TypeID else case when srd.TypesID=1 then srd.TypeID else case when srd.TypesID=4 and  srd.TypeID in (10,20,15,21) then srd.TypeID else case when srd.TypesID=5 and  srd.TypeID in (1,4) then srd.TypeID else  0 end end end end) <>0
group by ScaleregisterID,ContactID,SalaryYear,SalaryMonth,TypeID,TypesID

), HRA (ContactID,ITDate,MnYr,FyYear,ODLDID,EmployeeStatusID,BasicPay,MDA,HRA,HRARent,WC,HL) as (
select distinct sr.ContactID ,convert(datetime,(ltrim(str(Year(sr.StartingDate)))+'-'+ltrim(str(Month(sr.StartingDate)))+'-'+'01')) as ITDate
,left(Convert(varchar,sr.StartingDate,109),3)+'-'+cast(right(year(sr.StartingDate),2) as Varchar(4)) as MnYr
,(case when month(sr.StartingDate) in (4,5,6,7,8,9,10,11,12) then (cast(Year(sr.StartingDate) as varchar(4))+'-'+cast(Year(sr.StartingDate)+1 as varchar(4))) else case when month(sr.StartingDate) in (1,2,3) then (cast(Year(sr.StartingDate)-1 as varchar(4))+'-'+cast(Year(sr.StartingDate) as varchar(4))) else NULL end end) as FyYear
,srb.ODLDID,isnull(srb.EmployeeStatusID,1) as EmployeeStatusID
,Sum(case when srd.TypesID=1 then isnull(srd.Amount,0) else 0 end) as BasicPay
,Sum(case when srd.TypesID=2 and  srd.TypeID=20 then isnull(srd.Amount,0) else 0 end) as MDA
,Sum(case when srd.TypesID=2 and  srd.TypeID=2 then isnull(srd.Amount,0) else 0 end) as HRA
,Sum(case when srd.TypesID=4 and  srd.TypeID in (10,20) then isnull(srd.Amount,0) else 0 end) as HRARent
,Sum(case when srd.TypesID=4 and  srd.TypeID in (15,21) then isnull(srd.Amount,0) else 0 end) as WC
,Sum(case when srd.TypesID=5 and  srd.TypeID in (1,4) then isnull(srd.Amount,0) else 0 end) as HL
from SR sr
left outer join dbo.FnMaxSRBODLDID() srb on srb.ScaleregisterID=sr.ScaleregisterID
inner join SRD on srd.ScaleregisterID=sr.ScaleregisterID and srd.YearID=sr.SalaryYear and srd.MonthID=sr.SalaryMonth and srd.ContactID =sr.ContactID
where sr.ContactID in (select distinct ContactID from TmpITFinal) and srd.Amount<>0
group by sr.ContactID ,Year(sr.StartingDate),Month(sr.StartingDate),left(Convert(varchar,sr.StartingDate,109),3)+'-'+cast(right(year(sr.StartingDate),2) as Varchar(4)),srb.ODLDID,srb.EmployeeStatusID 

), DHRA (ContactID,InvestmentTypeID,Date,ActualAmount,DeclaredAmount) as (
select ContactID,InvestmentTypeID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date
,round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0) as ActualAmount,round(round(Sum(Isnull(eid.DeclaredAmount,0)),2),0) as DeclaredAmount 
from EmployeeInvestmentDetails eid
inner join EmployeeInvestments ei on ei.EmployeeInvestmentID=eid.EmployeeInvestmentid
where Arrears<>1 and InvestmentTypeID in (62) and systemgenerated<>1
and convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) between @FromDate and @ToDate
and ContactID in (select distinct ContactID from TmpITFinal)
group by ContactID,Year(eid.InvestmentDate),Month(eid.InvestmentDate),InvestmentTypeID
having (round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0)+round(round(Sum(Isnull(eid.DeclaredAmount,0)),2),0))<>0

), HRAF (ContactID,ITDate,MnYr,FyYear,ODLDID,EmployeeStatusID,BasicPay,MDA,HRA,HRARent,WC,HL) as (
select t.ContactID,ITDate,MnYr,FyYear,ODLDID,EmployeeStatusID,(isnull(BasicPay,0)+isnull(BasicOrMDA,0)) as BasicPay,MDA,(isnull(t.HRA,0)+isnull(a.HRA,0)) as HRA,(isnull(t.HRARent,0)+isnull(a.HRARent,0)) as HRARent,WC,HL
from HRA t
left outer join AHRA a on a.ContactID=t.ContactID and a.Date=t.ITDate

), HRA1 (ContactID,ITDate,MnYr,FyYear,ODLDID,EmployeeStatusID,BasicPay,MDA,HRA,HRARent,WC,HL,Quarters,On40Percent,On10Percent,InExOfRentPaid,HRARentFree) as (
select *,(Case when (HRARent+WC)<>0 then 1 else 0 end) as Quarters 
,(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and HRARent<>0 then round(round(((BasicPay+MDA)*0.40),2),0) else 0 end)  as On40Percent
,(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and HRARent<>0 then round(round(((BasicPay+MDA)*0.10),2),0) else 0 end)  as On10Percent
,(HRARent-(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and HRARent<>0 then round(round(((BasicPay+MDA)*0.10),2),0) else 0 end))  as InExOfRentPaid
,(Case when (Case when (HRARent+WC)<>0 then 1 else 0 end)=1 and isnull(BasicPay,0)<=13190 and HRA=0 then round(round(((BasicPay+MDA)*0.10),2),0) else 0 end)  as HRARentFree
from HRAF 

), HRA2 (ContactID,FyYear,Quarters) as (
select ContactID,FyYear,sum(Isnull(Quarters,0)) as Quarters from HRA1 group by FyYear,ContactID

), TmpHRA (ODLDID,ContactID,ITDate,MnYr,FyYear,BasicPay,MDA,HRA,HRARent,WC,HL,HRARentFree,Quarters,HRAActual,HRADeclared,On40Percent,On10Percent,InExOfRentPaid) as (
select distinct ODLDID,h.ContactID,h.ITDate,Mnyr,h.FyYear,BasicPay,MDA,HRA,HRARent,WC,HL,HRARentFree,h.Quarters
,((Case when h.Quarters<>1 then isnull(ActualAmount,0) else 0 end)/(12-h2.Quarters)) as HRAActual
,((Case when h.Quarters<>1 then isnull(DeclaredAmount,0) else 0 end)/(12-h2.Quarters)) as HRADeclared
,((Case when h.Quarters<>1 then ((BasicPay+MDA)*0.40) else 0 end) + On40Percent)  as On40Percent
,((Case when h.Quarters<>1 then ((BasicPay+MDA)*0.10) else 0 end) + On10Percent)  as On10Percent
,(((Case when h.Quarters<>1 then ((case when isnull(DeclaredAmount,0)>isnull(ActualAmount,0) then isnull(DeclaredAmount,0) else isnull(ActualAmount,0) end)/12) else 0 end) -
(Case when h.Quarters<>1 then ((BasicPay+MDA)*0.10) else 0 end)) + InExOfRentPaid) as InExOfRentPaid
from HRA1 h inner join HRA2 h2 on h2.ContactID=h.COntactID and h2.FyYear=h.FyYear
left outer join DHRA im on im.ContactID=h.ContactID and h.ITDate>=(select min(distinct Date) from TmpITFinal) and h.ITDate<=(select max(distinct Date) from TmpITFinal)
)
select * from TmpHRA

)
GO
