USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaster]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaster](@AcOLID Int,@YearID Int,@MonthID Int,@ContactID Int)

RETURNS Table AS
RETURN 	(



--Declare @AcOLID Int select @AcOLID = 408
--Declare @YearID Int select @YearID = 2015
--Declare @MonthID Int select @MonthID = 4
--Declare @ContactID Int select @ContactID = 764



select distinct a.*,EmployeeGradeID,od.OfficeDepartmentAllocationID as ODID,old.OfficeLocationDepartmentAllocationID as OLDID,odd.OfficeDepartmentDesignationAllocationID as ODDID,isnull(t.TerritoryID,0) as TerritoryID,isnull(CCAID,0) as CCAClassTypeID,isnull(HRAID,0) as HRAClassTypeID,do.OrderNo from ( 
select ContactID,APTypeID,EmployeeCategoryID,AcOLID,OLID,ODLDID,OID,LID,DPID,DNID,StartDate,EndDate,Duration,Percentage,DaysOfDate,(case when ToODLDID=0 then ODLDID else ToODLDID end) as ALODLDID from ( 
select a.*,(Row_Number() over (Partition By ContactID,DaysOfDate Order By ContactID,DaysOfDate,d.StartDate,OrderNo,OrderNo1 )) as MaxNo,DaysOfDate from ( 
select * from ( select ContactID,AppointmentTypeID as APTypeID,EmployeeCategoryID,OrganisationID,FromAcOLID as AcOLID,FromOLID as OLID,FromODLDID as ODLDID,FromOID as OID,FromLID as LID,FromDPID as DPID,FromDNID as DNID,StartDate,(case when AppointmentTypeID=17 then (case when isnull(ReportedDate,EndDate)>EndDate then EndDate else isnull(ReportedDate,EndDate) end) else isnull(RelievedDate,EndDate) end) as EndDate,0 as Duration,Percentage,CreatedOn,OrderNo,1 as OrderNo1,(case when AppointmentTypeID=23 then ToODLDID else 0 end) as ToODLDID
from FnRRDetails1(@YearID,@MonthID,@ContactID)
 where FromODLDID<>0 union
select ContactID,AppointmentTypeID,EmployeeCategoryID,OrganisationID,ToAcOLID,ToOLID,ToODLDID,ToOID,ToLID,ToDPID,ToDNID,(case when AppointmentTypeID in (23,17) and isnull(ReportedDate,StartDate)<StartDate then StartDate else isnull(ReportedDate,StartDate) end) as StartDate,(case when AppointmentTypeID in (23,17) then isnull(RelievedDate,EndDate) else EndDate end) as EndDate,Duration,Percentage,CreatedOn,OrderNo,2 as OrderNo1,(case when AppointmentTypeID=23 then FromODLDID else 0 end) as ToODLDID
from FnRRDetails(@YearID,@MonthID,@ContactID)
 where ToODLDID<>0 ) as ODLD 
) as A  inner Join FnDate(@YearID,@MonthID) D on d.DaysOfDate Between a.StartDate and a.EndDate 
) as A where MaxNo=1 and (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID ) as A
left outer join EmployeeGradeDesignationAllocation egda on egda.DesignationID=a.DNID
left outer join OfficeDepartmentAllocation od on od.OfficeID=a.OID and od.DepartmentID=a.DPID
left outer join OfficeLocationDepartmentAllocation old on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=a.OLID
left outer join OfficeDepartmentDesignationAllocation odd on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=a.DNID
left outer join DesignationHierarchyOrder_Config do on do.DesignationID=a.DNID
left outer join ( select distinct OfficeLocationDepartmentAllocationID OLDID,TerritoryID from OfficeLocationDepartmentAddress ) as t on t.OLDID=old.OfficeLocationDepartmentAllocationID
left outer join ( select distinct OLDID,CCAID,DaysOfDate from FnOLDTerritoryClassID(@YearID,@MonthID) ) as CCA on cca.OLDID=old.OfficeLocationDepartmentAllocationID and cca.DaysOfDate=a.DaysOfDate
left outer join ( select distinct OLDID,HRAID,DaysOfDate from FnOLDTerritoryClassID(@YearID,@MonthID) ) as HRA on hra.OLDID=old.OfficeLocationDepartmentAllocationID and hra.DaysOfDate=a.DaysOfDate


)
GO
