USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGenerateRow]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnGenerateRow](@FromDate datetime,@ToDate datetime)
RETURNS Table AS
RETURN 	(


with Row(id) as ( select 1   union all
    select id + 1 from Row where id <=10  union all
    select id + 1 from Row where id <=62
)select * from (select convert(datetime,Row_Number() over (order by ID)) as Date from Row) as R where Date>=@FromDate and Date<=@ToDate and day(Date)=1 

)
GO
