USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DemandJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE Function [dbo].[fn_DemandJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

--declare @olid int = 412 
--declare @yr int = 2022 
--declare @month int = 9 


select AccHead,(case when Debit<0 then 0 else Debit end) Debit,(case when Debit<0 then -Debit else Credit end) Credit
,Description,(case when Debit<0 then 'Credit' else 'Debit' end) Type from (
select db.BalanceAccountCode+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default AccHead,sum(isnull(dd.DemandRevenue,0)) Debit,0 Credit,sb.Description+' '+vc.Description Description,'Debit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.BalanceAccountCode<>'' and db.TariffTypeID in (1,2) 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
left join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode collate database_default=db.BalanceAccountCode 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=db.VoltageClassID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
group by db.BalanceAccountCode+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default,sb.Description+' '+vc.Description 
) A 
union all 
select AccHead,(case when Credit<0 then -Credit else Debit end) Debit,(case when Credit<0 then 0 else Credit end) Credit
,Description,(case when Credit<0 then 'Debit' else 'Credit' end) Type from (
select db.RevenueDemandAccountCode+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default AccHead,0 Debit,sum(isnull(dd.DemandRevenue,0)) Credit,sb.Description+' '+vc.Description Description,'Credit' Type
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on dr.DCBRevenueID=db.DCBRevenueID and db.RevenueDemandAccountCode<>'' and db.TariffTypeID in (1,2) 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
left join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode collate database_default=db.RevenueDemandAccountCode 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=db.VoltageClassID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
group by db.RevenueDemandAccountCode+Cast(vc.VoltageClassID as Varchar(10)) Collate Database_Default,sb.Description+' '+vc.Description
) A 



GO
