USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLSRID_PAID_SUB]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnETLSRID_PAID_SUB](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS @SrDetailsSub TABLE
(
ScaleregisterID	bigint , ODLDID int ,ContactID INT,Payment int,StartingDate datetime,EndingDate datetime,OLID int,
BillRegisterNo varchar(50),OSL int ,BillRegisterDate datetime,BillRegisterDate1 datetime,StartingFyYear datetime,EndingFyYear datetime,
Suppliment int,SalaryMonth int ,SalaryYear int ,Remarks varchar(100),EmployeeCategoryID int,LegacyBillRegisterDate datetime ,LegacyBillregisterNo int null

)
AS
BEGIN
INSERT INTO @SrDetailsSub



select distinct sr.ScaleregisterID,isnull(ODLDID,0) as ODLDID,ContactID,(case when  (BillregisterDate is NULL or BillRegisterNo = '0' or BillRegisterNo = '' or BillRegisterNo = ' ' ) then 0 else 1 end) as Payment
,sr.StartingDate,sr.EndingDate,OLID,BillRegisterNo,cast(OSL as Int) as OSL,BillRegisterDate,BillRegisterDate1
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1)-1 else Year(BillRegisterDate1) end) as varchar(4))+'-4-1')) as StartingFyYear
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1) else Year(BillRegisterDate1)+1 end) as varchar(4))+'-3-31')) as EndingFyYear
,Suppliment,SalaryMonth,SalaryYear,sr.Remarks,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,LegacyBillRegisterDate,LegacyBillregisterNo

from ( select *,BillRegisterDate as BillRegisterDate1
from ScaleRegister  with(nolock) Cross join dbo.FnETLToday(@YearID,@MonthID) ) as SR
left outer join ScaleRegisterBasicPayDetails sra  with(nolock) on sra.ScaleRegisterID=sr.ScaleRegisterID 
where BillRegisterDate is not null and 
Generated=1 and isnull(HeldUp,0)=0 and BillRegisterDate Between StartingFyYear and LDate
and (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillRegisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillRegisterDate) 
) or ((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(case when CreatedOn>=BillRegisterDate then CreatedOn else BillRegisterDate end)  
and (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(case when CreatedOn>=BillRegisterDate then CreatedOn else BillRegisterDate end)))
and OLID = (case when @OLID=0 then OLID else @OLID end)
and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)

group by (case when  (BillregisterDate is NULL or BillRegisterNo = '0' or BillRegisterNo = '' or BillRegisterNo = ' ' ) then 0 else 1 end) ,isnull(ODLDID,0)
,sr.ScaleregisterID,ContactID,sr.StartingDate,sr.EndingDate,OLID,BillRegisterNo,BillRegisterDate,BillRegisterDate1,Suppliment,SalaryMonth,SalaryYear,sr.Remarks,EmployeeCategoryID,OSL,LegacyBillRegisterDate,LegacyBillregisterNo

order by sr.ScaleregisterID




RETURN
END
GO
