USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDistributionNodes]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnDistributionNodes](@AcOLID Int)
RETURNS Table AS
RETURN 	(


--Declare @AcOLID Int select @AcOLID = 341


select distinct ola1.FileAs as UOfficeLocation,AcOLID,ola.FileAs as AcOfficeLocation,SubDivisionOLID,OLID,OfficeLocation,Upper(StationName collate SQL_Latin1_General_CP1_CI_AS +' - '+isnull(Description collate SQL_Latin1_General_CP1_CI_AS ,'')) as Station,Upper(FeederName) as FeederName,Upper(TCName) as TCName,TCCode
,Upper(isnull(c.DistributionNodeUserDefinedFieldValue,'')) as TCCapacity,Upper(isnull(m.DistributionNodeUserDefinedFieldValue,'')) as TCMake ,Upper(isnull(s.SerialNo,'')) as TCSerialNo,Upper(isnull(s.TCType,'')) as TCType
,StationDNID,StVClassID,FeederDNID,FeederVClassID,TCDNID,TCVClassID,CorporateOLID,ZonalOLID,CircleOLID

from ( select s.DistributionNodeID as StationDNID,s.DistributionNodeName as StationName,s.VoltageClassID as StVClassID
,f.DistributionNodeID as FeederDNID,f.DistributionNodeName as FeederName,f.VoltageClassID as FeederVClassID
,tc.DistributionNodeID as TCDNID,tc.DistributionNodeName as TCName,tc.DistributionNodeCode as TCCode,tc.VoltageClassID as TCVClassID
from ( select 'Transformer' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes where DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 ) as TC
Full join ( select 'Feeder' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes where DistributionNodeTypeID=2 and UnderDistributionNodeTypeID=1 ) as F on f.DistributionNodeID=tc.UnderDistributionNodeID
Full Join ( select 'Station' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes where DistributionNodeTypeID=1 and UnderDistributionNodeTypeID is NULL ) as S on s.DistributionNodeID=f.UnderDistributionNodeID ) as DN1 

inner join ( select * from ( Select dnol.DistributionNodeID,AcOLID,OLID,OfficeLocation,SubDivisionOLID,CorporateOLID,ZonalOLID,CircleOLID ,(Row_Number() over (Partition By dnol.DistributionNodeID Order By dnol.DistributionNodeID,DistriButionNodeOfficeAllocationID desc)) as MaxNo
from DistriButionNodeOfficeAllocation dnol left outer join DistriButionNodes dn on dn.DistriButionNodeID=dnol.DistriButionNodeID 
inner join FnUnderOL() ol on ol.OLID=dnol.DistributionNodeOLID and (CorporateOLID = @AcOLID or ZonalOLID = @AcOLID or CircleOLID = @AcOLID or ol.AcOLID=@AcOLID)
where (case when DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 then dnol.DistributionNodeID else 0 end) <>0 ) as A where MaxNo=1 ) as DN on dn.DistributionNodeID=dn1.TCDNID

left outer join VoltageClass v on v.VoltageClassID=dn1.StVClassID
left outer join ( select * from ( select * ,(Row_Number() over (Partition By DistributionNodeID Order By DistributionNodeID,DistributionNodeSubID Desc)) as MaxNo from DistributionNodeSub where DistributionNodeUserDefinedFieldID=31 ) as A where MaxNo=1 ) as C on c.DistributionNodeID=dn1.TCDNID
left outer join ( select * from ( select * ,(Row_Number() over (Partition By DistributionNodeID Order By DistributionNodeID,DistributionNodeSubID Desc)) as MaxNo from DistributionNodeSub where DistributionNodeUserDefinedFieldID=20 ) as A where MaxNo=1 ) as M on m.DistributionNodeID=dn1.TCDNID
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=AcOLID
left outer join OfficeLocationAllocation ola1 on ola1.OfficeLocationAllocationID=@AcOLID

left outer join ( select * from ( select dnd.*,TCType ,(Row_Number() over (Partition By DistributionNodeID,dnd.ItemID Order By DistributionNodeID,dnd.ItemID,DistributionNodeDetailsID Desc)) as MaxNo from DistributionNodeDetails dnd
inner join ( select * , (case when Description like '%Conventional%' then 'Conventional' else case when Description like '%3 Star%' then '3 Star' else '' end end) as TCType
from MaterialCode where MaterialCode like '03 21%' ) as T on t.ItemID=dnd.ItemID ) as A where MaxNo=1 ) as S on s.DistributionNodeID=dn1.TCDNID



)

--Order By CorporateOLID,ZonalOLID,CircleOLID,AcOLID,SubDivisionOLID,OLID,Station,FeederName,TCName


GO
