USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Recovery_JV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[Fn_Recovery_JV] (@SRID Varchar(500)) RETURNS Table AS Return (


--Declare @SRID Varchar(500)  = '2429251,2504340'
--;

With SRID as (
select ScaleRegisterID SRID,OLID,ContactID,isnull(EmployeeCategoryID,0) EmployeeCategoryID,isnull(Legacy,0) Legacy,StartingDate,Suppliment,OSL
from ScaleRegister with(nolock) where ScaleRegisterID in (select * from Split(@SRID,',')) 

) , SRID1  as (
select SRID,SRWID,a.ContactID,JoinDate,c.ODLDID,OLID,d.DepartmentID DPID ,a.EmployeeCategoryID ECID,c.ESID,e.DepartmentCategoryID DPCID,isnull(VoltageClassCode,'') VCCode,Suppliment
from SRID A
Outer Apply (select ScaleRegisterWithDrawalID SRWID from ScaleRegisterWithDrawals B with (nolock) where b.ScaleRegisterID=a.SRID) B1
Outer Apply ( select ContactID,AppointmentTypeID,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime) JoinDate from (
		select * ,(Row_Number() over (Partition By ContactID Order By ContactID,EmployeeAppointmentDetailsID desc)) MaxNo 
		from EmployeeAppointmentDetails E with(nolock) where Approved=1 and Reported=1 and AppointmentTypeID in (1,26) and isnull(EmployeeCategoryID,0)=a.EmployeeCategoryID 
		and e.ContactID=a.ContactID ) A where MaxNo = 1 ) B
Outer Apply ( select top 1 ODLDID,(case when isnull(EmployeeStatusID,1)=19 then 19 else 1 end) ESID from ScaleRegisterBasicPayDetails B with(nolock) where b.ScaleRegisterID=a.SRID 
	and (case when Legacy=1 then isnull(Amount,0) else round(isnull(Amount,0),2) end)!=0 and isnull(ODLDID,0)!=0 Order By startingDate desc,ScaleRegisterBasicPayDetailsID desc ) C 
Left Join ODLDAllocation D with(nolock) on d.ODLDID=c.ODLDID
Left Join ActualtoAccountHeadDepartmentAllocation E with(nolock) on e.DepartmentID=d.DepartmentID
Left Join OfficeLocationAllocation OLA with(Nolock) on ola.OfficeID=d.OfficeID and ola.LocationID=d.LocationID
Left Join VoltageClass VC on vc.VoltageClassID=ola.VoltageClassID

) , Debit_Head as (
select a.* ,Types,TypeID,ColumnID
,(isnull((case when JoinDate>= '2006-04-01' and a.ESID!=19 and TypeID in (1,2) and ColumnID in (0,12,1) then AcHead_A when JoinDate>= '2006-04-01' and a.ESID!=19 and TypeID=2 and ColumnID in (2,3,4) then isnull(AcHead_A,AcHead_B) else AcHead_B end ),'')+isnull(VCCode,'')) FromHead  
from SRID1 A 
Left Join ( select distinct isnull(EmployeeCategoryID,0) ECID,isnull(DepartmentCategoryID,0) DPCID,isnull(EmployeeStatusID,1) ESID,0 ColumnID
	,(FromMainAccountCode+FromSubAccountCode) AcHead_B,(FromPCMainAccountCode+FromPCSubAccountCode) AcHead_A,'BP' Types,1 TypeID
	from AccountHeadWiseDepartmentAllocation
	union all
	select distinct isnull(EmployeeCategoryID,0) ECID,isnull(DepartmentCategoryID,0) DPCID,isnull(EmployeeStatusID,1) ESID,isnull(AllowanceCategoryID,0) ALCID
	,(FromMainAccountCode+FromSubAccountCode) AcHead_B,(FromPCMainAccountCode+FromPCSubAccountCode) AcHead_A,'AL' Types,2 TypeID
	from AccountHeadWiseAllowanceAllocation
	union all
	select distinct isnull(EmployeeCategoryID,0) ECID,isnull(DepartmentCategoryID,0) DPCID,isnull(EmployeeStatusID,1) ESID,isnull(SalaryAdditionOthersID,0) ALCID
	,(FromMainAccountCode+FromSubAccountCode) AcHead_B,'' AcHead_A,'OA' Types,3 TypeID
	from AccountHeadWiseSalaryAdditionsAllocation 
	) AC on ac.ECID=(case when ac.ESID=19 then 0 else a.ECID end) and ac.DPCID=(case when a.ESID=19 then 0 else a.DPCID end) and ac.ESID=a.ESID 

) , Earing as (
select a.*,'' ToHead,isnull(isnull(BP,d.Amount),e.Amount) Debit,0 Credit,'' ToHead1 from Debit_Head A
Outer Apply (select Sum(Amount) BP from (
	select Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterBasicPayDetails B with (nolock) where b.ScaleRegisterID=a.SRID and 0=ColumnID Group By ScaleRegisterID Having Round(Round(Sum(isnull(Amount,0)),2),0)<>0 union all 
	select -Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterBasicPayWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) and 0=ColumnID Group By ScaleRegisterWithDrawalID Having Round(Round(Sum(isnull(Amount,0)),2),0)<>0 ) A ) C
Outer Apply (select AllowanceCategoryID,Sum(Amount) Amount from (
	select AllowanceID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterAllowances B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,AllowanceID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
	select AllowanceID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterAllowanceWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,AllowanceID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 
	) A1 Left Join ActualtoAccountHeadAllowanceAllocation B with(nolock) on b.AllowanceID=a1.AllowanceID
	Group By AllowanceCategoryID having b.AllowanceCategoryID=(case when a.TypeID=2 then a.ColumnID else 0 end)) D
Outer Apply (select AdditionID,Sum(Amount) Amount from (
	select SalaryOtherAdditionID AdditionID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditions B with (nolock) where b.ScaleRegisterID=a.SRID and SalaryOtherAdditionID not in (14,15) Group By ScaleRegisterID,SalaryOtherAdditionID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
	select SalaryAdditionOthersID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditionWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) and SalaryAdditionOthersID not in (14,15) Group By ScaleRegisterWithDrawalID,SalaryAdditionOthersID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 
	) A1 Group By AdditionID having AdditionID=(case when a.TypeID=3 then a.ColumnID else 0 end) ) E
where isnull(isnull(isnull(BP,d.Amount),e.Amount),0)!=0 

) , Deductions as ( 
select a.* ,Types,TypeID,ColumnID,FromHead,(isnull(ToHead,'')+isnull(VCCode,'')) ToHead ,Debit,Credit,isnull((FromHead1+VCCode),'')  ToHead1 from SRID1 A
Cross Apply ( select * from (
select 'OD' Types,4 TypeID,DeductionID ColumnID,'' FromHead,(case when DeductionID in (20,21) then (FromMainAccountCode+FromSubAccountCode) else (ToMainAccountCode+ToSubAccountCode) end) ToHead,0 Debit,Sum(Amount) Credit,(case when DeductionID not in (20,21) then (FromMainAccountCode+FromSubAccountCode) else (ToMainAccountCode+ToSubAccountCode) end) FromHead1 from (
select SalaryOtherDeductionID DeductionID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherDeductions B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,SalaryOtherDeductionID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
select SalaryDeductionOthersID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherDeductionWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,SalaryDeductionOthersID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 
) A Inner Join SalaryOtherDeductions B with(nolock) on b.SalaryOtherDeductionID=a.DeductionID
Group By DeductionID,ToMainAccountCode+ToSubAccountCode,FromMainAccountCode,FromSubAccountCode Having Sum(Amount)!=0 
union all 
select 'LA' Types,5 TypeID,a.LoanandAdvanceID ColumnID,'' FromHead,(MainAccountCode+SubAccountCode) ToHead,0 Debit,Sum(Amount) Credit,NULL FromHead1 from (
select LoanandAdvanceID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterLoansandAdvances B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,LoanandAdvanceID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
select LoanandAdvanceID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterLoanandAdvanceWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,LoanandAdvanceID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 
) A Inner Join LoanandAdvance B with (nolock) on b.LoanandAdvanceID=a.LoanandAdvanceID
Group By a.LoanandAdvanceID,MainAccountCode+SubAccountCode Having Sum(Amount)!=0 
union all 
select Types,TypeID,ColumnID,FromHead,(case when (ToHead like '28.%' or ToHead like '46.9%' or ColumnID=9) then ToHead else '28.401' end) ToHead,Debit,Credit,(case when (ToHead like '28.%' or ToHead like '46.9%' or ColumnID=9) then NULL else ToHead end) FromHead1  from (
select 'RC' Types,6 TypeID,a.LoanandAdvanceID ColumnID,'' FromHead,(case when EOTID in (0,13) then (MainAccountCode+SubAccountCode) else (ExternalMainAccountCode+ExternalSubAccountCode) end) ToHead,0 Debit,Sum(Amount) Credit,'' FromHead1 from (
select LoanandAdvanceID,isnull(ExternalOrganisationTypeID,0) EOTID,isnull(ExternalOrganisationID,0) EOID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterRecovery B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,LoanandAdvanceID,isnull(ExternalOrganisationTypeID,0),isnull(ExternalOrganisationID,0) Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
select LoanandAdvanceID,isnull(ExternalOrganisationTypeID,0) EOTID,isnull(ExternalOrganisationID,0) EOID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterRecoveryWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,LoanandAdvanceID,isnull(ExternalOrganisationTypeID,0),isnull(ExternalOrganisationID,0) Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 
) A Inner Join LoanandAdvance B with (nolock) on b.LoanandAdvanceID=a.LoanandAdvanceID where a.LoanandAdvanceID != 62 
Group By a.LoanandAdvanceID,(case when EOTID in (0,13) then (MainAccountCode+SubAccountCode) else (ExternalMainAccountCode+ExternalSubAccountCode) end) Having Sum(Amount)!=0 
) A ) A ) B

) , NetPay as (
select a.*,'Net' Types,7 TypeID,0 ColumnID,'' FromHead,(isnull(AcHead,'')+isnull(VCCode,'')) ToHead,0 Debit,isnull(Net,0) Credit,'' ToHead1 
from SRID1 A
Left Join ( select distinct isnull(EmployeeCategoryID,0) ECID,isnull(DepartmentCategoryID,0) DPCID,isnull(EmployeeStatusID,1) ESID,(ToMainAccountCode+ToSubAccountCode) AcHead
	from AccountHeadWiseDepartmentAllocation with(Nolock)) NH on nh.ECID=(case when nh.ESID=19 then 0 else a.ECID end) and nh.DPCID=(case when nh.ESID=19 then 0 else a.DPCID end) and nh.ESID=a.ESID 
Outer Apply (select Sum(Amount) Net from (
	select Round(Round(Sum(isnull(NetPayments,0)),2),0) as Amount from ScaleRegister B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID Having Round(Round(Sum(isnull(NetPayments,0)),2),0)<>0 union all 
	select -Round(Round(Sum(isnull(NetPayments,0)),2),0) as Amount from ScaleRegisterWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID Having Round(Round(Sum(isnull(NetPayments,0)),2),0)<>0 ) A ) B
where isnull(Net,0)!=0 

)  , Final as ( 
select SRID,SRWID,ContactID,JoinDate,ODLDID,OLID,DPID,ECID,ESID,DPCID,VCCode,Suppliment,(case when isnull(Suppliment,0)=6 then 'RC' else Types end) Types,TypeID,ColumnID
,(case 
when Suppliment!=6 and Credit<0 then ToHead when Suppliment!=6 and Debit<0 then '' 
when Suppliment=6 and TypeID!=7 and len(FromHead)>0 and Debit<0 then '' 
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and Credit<0 and ToHead like '28.10%' then ToHead1
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and Credit<0 then ToHead
else FromHead end) FromHead

,(case when Suppliment!=6 and Credit<0 then '' when Suppliment!=6 and Debit<0 then FromHead
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and ToHead not like '46.928%' and ToHead not like '28.1%' then '28.401' +VCCode
when Suppliment=6 and TypeID!=7 and len(FromHead)>0 then '28.401' +VCCode
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and Credit<0 then '28.401' +VCCode 
else ToHead end) ToHead

,(case when Suppliment!=6 and Credit<0 then -Credit when Suppliment!=6 and Debit<0 then 0 
when isnull(Suppliment,0)=6 and Debit<0 then 0 
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and Credit<0 then -Credit 
else Debit end) Debit

,(case when Suppliment!=6 and Credit<0 then 0 when Suppliment!=6 and Debit<0 then -Debit
when Suppliment=6 and TypeID!=7 and len(FromHead)>0 and Debit>0 then - Debit
when isnull(Suppliment,0)=6 and Debit<0 then -Debit 
else Credit end) Credit

,(case 
when Suppliment=6 and TypeID!=7 and len(FromHead)>0 and Debit<0 then FromHead 
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and Credit>0 and ToHead not like '46.928%' and ToHead not like '28.1%' then ToHead  
when Suppliment=6 and TypeID!=7 and len(ToHead)>0 and Credit<0 then '' 
else ToHead1 end) ToHead1 from (

select * from Earing union all select * from Deductions union all select * from NetPay 
) A where (abs(Debit)+abs(Credit))!=0 --and TypeID != 7 --and FromHead = '75.8317' Order by SRID
)


select * from (
select FromHead,'' ToHead,Sum(Debit) Debit,0 Credit from (
select SRID,SRWID,ContactID,JoinDate,ODLDID,OLID,DPID,ECID,ESID,DPCID,VCCode,Suppliment,Types,TypeID,ColumnID,FromHead,ToHead,Debit,Credit,ToHead1 from Final 
where len(FromHead)>0 and Types='RC'  
union all 
select SRID,SRWID,ContactID,JoinDate,ODLDID,OLID,DPID,ECID,ESID,DPCID,VCCode,Suppliment,Types,TypeID,ColumnID,ToHead FromHead,ToHead,Credit Debit,0 Credit,ToHead1 from Final 
where len(FromHead)>0 and Types='RC'  
union all 
select SRID,SRWID,ContactID,JoinDate,ODLDID,OLID,DPID,ECID,ESID,DPCID,VCCode,Suppliment,Types,TypeID,ColumnID,ToHead FromHead,'' ToHead,Credit Debit,0 Credit,ToHead1 from Final 
where len(ToHead1)>0 and Types='RC' and len(ToHead)>0 
) A Group By FromHead 
union all 
select '' FromHead,ToHead1 ToHead,0 Debit,Sum(Credit) Credit from (
select SRID,SRWID,ContactID,JoinDate,ODLDID,OLID,DPID,ECID,ESID,DPCID,VCCode,Suppliment,Types,TypeID,ColumnID,FromHead,ToHead,Debit,Credit,ToHead1 from Final 
where len(ToHead1)>0 and Types='RC'  
) A Group By ToHead1 
) A where (abs(Debit)+abs(Credit))!=0 
--Order By (case when len(FromHead)=0 then 'Z' else FromHead end),ToHead

) 





GO
