USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalReceipts]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TotalReceipts](@olid int,@month int,@yr int) RETURNS Table AS Return 

select a.AccountCode,sb.Description,sum(a.Amount) Sum 
from (select * from DCBTotalReceipts a with (nolock) where a.Month=@month and a.Year=@yr and a.OLID<>@olid ) a
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=a.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
inner join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode Collate Database_Default=a.AccountCode 
group by a.AccountCode,sb.Description
GO
