USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnADLR]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnADLR]()
RETURNS Table AS
RETURN 	(

select distinct 1 as ATypeID,2 as TypesID,AllowanceID as TypeID,Description 
,(case when AllowanceID=20 then 'MDA' else case when AllowanceID=1 then 'DA' else case when AllowanceID=2 then 'HRA' else 
case when AllowanceID=21 then 'Interim Relief' else case when AllowanceID=3 then 'CCA' else case when AllowanceID not in (1,2,3,20,21) then 'Other Allowance' else NULL end end end end end end)  as SalaryTypes 
,(case when AllowanceID=20 then '02' else case when AllowanceID=1 then '03' else case when AllowanceID=2 then '05' else 
case when AllowanceID=21 then '06' else case when AllowanceID=3 then '07' else case when AllowanceID not in (1,2,3,20,21) then '08' else NULL end end end end end end) as Ordering,'' as FromHead,'' as ToHead,0 as OneTimeDeduction,0 as LATypeID,FundRequisitionTypeID,FundRequisitionSubTypeID,NULL as EToHead
from Allowances with (nolock) Union All 

select distinct 1,1,1,'Basic Pay','Basic Pay','01.00','','',0,0,3,40,NULL as EToHead Union All 

select distinct 3,99,99,'Net Pay','Net Pay','99','','44.310',0,0,3,40,NULL as EToHead Union All 

select distinct 1 as ATypeID,3 as TypesID,SalaryAdditionOthersID as TypeID,Description 
,(case when SalaryAdditionOthersID=13 then 'CPC' else case when SalaryAdditionOthersID=16 then 'CPF' else case when SalaryAdditionOthersID=22 then 'CESI'  else case when SalaryAdditionOthersID=17 then 'CLWF' else case when SalaryAdditionOthersID in (2,3,7) then 'Other Allowance' else NULL end end end end end) as SalaryTypes
,(case when SalaryAdditionOthersID=13 then '04' else case when SalaryAdditionOthersID=16 then '04' else case when SalaryAdditionOthersID=17 then '07.01' else case when SalaryAdditionOthersID in (2,3,7) then '08' else NULL end end end end) as Ordering,'' as FromHead,'' as ToHead,0 as OneTimeDeduction,0 as LATypeID,FundRequisitionTypeID,FundRequisitionSubTypeID,NULL as EToHead
from SalaryOtherAdditions with (nolock)  Union All 

select distinct 2 as ATypeID,4 as TypesID,SalaryOtherDeductionID as TypeID,Description 
,isnull((case when SalaryOtherDeductionID=10 then 'HRA Others' else case when SalaryOtherDeductionID=2 then 'IT' else case when SalaryOtherDeductionID=3 then 'PT' else 
case when SalaryOtherDeductionID=11 then 'FBF' else case when SalaryOtherDeductionID=15 then 'WC  Others' else case when SalaryOtherDeductionID=20 then 'HRA Mescom' else 
case when SalaryOtherDeductionID=21 then 'WC Mescom' else case when SalaryOtherDeductionID=17 then 'CPC' else case when SalaryOtherDeductionID=13 then 'EPC' else 
case when SalaryOtherDeductionID=14 then 'ELWF' else NULL end end end end end end end end end end)

,(case when SalaryOtherDeductionID not in (2,3,11,10,15,20,21,17,13,14,26,27,28,22,23,18,19,25,33,34) then 'Other Deduction' else case when SalaryOtherDeductionID=26 then 'CM Fund' else case when SalaryOtherDeductionID=27 then 'PM Fund' else case when SalaryOtherDeductionID=28 then 'GIS' else 
case when SalaryOtherDeductionID=19 then 'CPF' else case when SalaryOtherDeductionID=33 then 'CESI' else case when SalaryOtherDeductionID=34 then 'EESI'   else case when SalaryOtherDeductionID=25 then 'EPF' else case when SalaryOtherDeductionID=18 then 'CLWF' else NULL end end end end end end end end end))  as SalaryTypes

,isnull((case when SalaryOtherDeductionID=2 then '11.00' else case when SalaryOtherDeductionID=3 then '12' else case when SalaryOtherDeductionID=11 then '16' else 
case when SalaryOtherDeductionID=10 then '18' else case when SalaryOtherDeductionID=15 then '19' else case when SalaryOtherDeductionID=20 then '20' else 
case when SalaryOtherDeductionID=21 then '21' else case when SalaryOtherDeductionID=17 then '26' else case when SalaryOtherDeductionID=13 then '27' else 
case when SalaryOtherDeductionID=14 then '29.01' else NULL end end end end end end end end end end)

,(case when SalaryOtherDeductionID not in (2,3,11,10,15,20,21,17,13,14,26,27,28,22,23,18,19,25) then '36' else case when SalaryOtherDeductionID=26 then '28.02' else  case when SalaryOtherDeductionID=27 then '28.03' else case when SalaryOtherDeductionID=28 then '28.04' else 
 case when SalaryOtherDeductionID=19 then '26.01' else case when SalaryOtherDeductionID=25 then '27.01' else case when SalaryOtherDeductionID=18 then '29' else NULL end end end end end end end))  as Ordering

,rtrim(ltrim((isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')))) as FromHead,rtrim(ltrim((isnull(ToMainAccountCode,'')+isnull(ToSubAccountCode,'')))) as ToHead,OneTimeDeduction,0 as LATypeID,FundRequisitionTypeID,FundRequisitionSubTypeID,rtrim(ltrim((isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')))) as EToHead
from SalaryOtherDeductions with (nolock) Union All 
select distinct 2 as ATypeID,5 as TypesID,LoanAndAdvanceID as TypeID,Description 
,isnull((case when LoanAndAdvanceID in (17,18) then 'Insurance        ' else case when LoanAndAdvanceID=21 then 'Union' else case when LoanAndAdvanceID=20 then 'Society' else 
case when LoanAndAdvanceID=23 then 'Associ ation' else case when LoanAndAdvanceID in (1,4,2) then 'Loan' else 
case when LoanAndAdvanceID=15 then 'RD' else case when LoanAndAdvanceID in (16,24) then 'Group Insurance' else case when LoanAndAdvanceID=3 then 'Marrage Advance' else 
case when LoanAndAdvanceID=7 then 'Advance Pay' else NULL end end end end end end end end end) 
,(case when LoanAndAdvanceID=11 then 'Other Advance' else case when LoanAndAdvanceID=5 then 'SWH Purchase' else case when LoanAndAdvanceID=6 then 'Comp Purchase' else 
case when LoanAndAdvanceID in (26,27,28,29,30,31,32,33,34) then 'Recovery External' else 
case when LoanAndAdvanceID not in (17,18,21,20,23,1,4,2,15,16,24,3,7,11,5,6,9,26,27,28,29,30,31,32,33,34) then 'Other L&A' else NULL end end end end end)) as SalaryTypes
,isnull((case when LoanAndAdvanceID in (17,18) then '10.00' else case when LoanAndAdvanceID=21 then '13' else case when LoanAndAdvanceID=20 then '14' else 
case when LoanAndAdvanceID=23 then '15' else case when LoanAndAdvanceID in (1,4,2) then '22' else 
case when LoanAndAdvanceID=15 then '24' else case when LoanAndAdvanceID in (16,24) then '25' else case when LoanAndAdvanceID=3 then '30' else 
case when LoanAndAdvanceID=7 then '31' else NULL end end end end end end end end end) 
,(case when LoanAndAdvanceID=11 then '32' else case when LoanAndAdvanceID=5 then '33' else case when LoanAndAdvanceID=6 then '34' else 
case when LoanAndAdvanceID in (26,27,28,29,30,31,32,33,34) then '28.01' else 
case when LoanAndAdvanceID not in (17,18,21,20,23,1,4,2,15,16,24,3,7,11,5,6,9,26,27,28,29,30,31,32,33,34) then '35' else NULL end end end end end)) as Ordering
,'' as FromHead,rtrim(ltrim((isnull(MainAccountCode,'')+isnull(SubAccountCode,'')))) as ToHead,OneTimeDeduction,LoanAndAdvanceTypeID as LATypeID,FundRequisitionTypeID,FundRequisitionSubTypeID,rtrim(ltrim((isnull(ExternalMainAccountCode,'')+isnull(ExternalSubAccountCode,'')))) as EToHead
from LoanAndAdvance with (nolock) Union All 

select distinct 2 as ATypeID,6 as TypesID,ScheduleTypeID as TypeID,Description 
,(case when ScheduleTypeID=44 then 'FA' else case when ScheduleTypeID<>44 then 'Recovery' else NULL end end) as SalaryTypes
,(case when ScheduleTypeID=44 then '17' else case when ScheduleTypeID<>44 then '28' else NULL end end) as Ordering,'' as FromHead,rtrim(ltrim((isnull(MainAccountCode,'')+isnull(SubAccountCode,'')))) as ToHead,0 as OneTimeDeduction,0 as LATypeID,0,0,NULL as EToHead
from ScheduleTypes with (nolock) 

)
GO
