USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[create_SQL_string]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[create_SQL_string](@sql nvarchar(max))
returns nvarchar(max)
with execute as caller
as begin
	declare @out_sql nvarchar(max)
	return 'select AllowanceID from '+@sql+'Allowances'
end
GO
