USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getWithdrawalsForJVNew]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getWithdrawalsForJVNew](@BRNo varchar(100),@OL int,@Suppl varchar(10),@Gen int,@Held int,@EmpCat varchar(10),@Year int,@Month int)
returns table
as return (

--Declare @BRNo varchar(100) = '0'
--Declare @OL int = 341
--Declare @Suppl varchar(10) = 10
--Declare @Gen int = 1 
--Declare @Held int = 0 
--Declare @EmpCat varchar(10) = '1,4,5,7'
--Declare @Year int = 2022
--Declare @Month int = 6 ;


with SRID as (
select sr.ScaleRegisterID from ScaleRegister SR with(NoLock) 
left join EmployeeRecoveryScaleRegisterDetails ERS with(NoLock) on SR.ScaleRegisterID=ERS.ScaleRegisterID  
where BillRegisterNo=@BRNo and Generated=@Gen and HeldUp=@Held --and COntactID = 1631 
and (case when ERS.ScaleRegisterID is not null then @OL else OLID end)=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0) 
and (case when (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-' then ContactID else 0 end) in (
	select (case when  (@Suppl='0,6' or @Suppl='9,6')  and left(@BRNo,1)!='-' then ContactID else 0 end) 
	from ScaleRegister with(NoLock) where BillRegisterNo=@BRNo and OLID=@OL and Suppliment in (0,9) and ContactID=SR.ContactID union select 0 ) 
and EndingDate <= (select EOMonth(convert(datetime,concat(@Year,'-',@Month,'-1'))))
) 
select ScaleRegisterID,Sum(Amount) Amount from (
select a.ScaleRegisterID,Round(Round(sum(isnull(b.NetPayments,0)),2),0) as Amount   
from SRID a inner join ScaleRegister b with(NoLock) on b.ScaleRegisterID=a.ScaleRegisterID
group by a.ScaleRegisterID
union all 
select a.ScaleRegisterID,(-Round(Round(sum(isnull(b.NetPayments,0)),2),0)) Amount  
from SRID a inner join ScaleRegisterWithdrawals b with(NoLock) on b.ScaleRegisterID=a.ScaleRegisterID
group by a.ScaleRegisterID
) A group by ScaleRegisterID --Having Sum(Amount)!=0 

) 
GO
