USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnReportedAfter]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnReportedAfter]()
RETURNS Table AS
RETURN 	(


select * from ( select distinct AcOLID,ContactID,ToODLDID,(case when Right(Convert(varchar,ReportedDate1,120),8)>'12' then ReportedDate1+1 else ReportedDate1 end) as ReportedDate
,(case when AppointmentTypeID=8 and isnull(ExternalOrganizationID,0)!=0 then 19 else 1 end) as EmployeeStatusID,(Row_Number() over (Partition By AcOLID,ContactID Order By AcOLID,ContactID,ReportedDate1 Desc)) as SlNo 
,(case when isnull(EmployeeCategoryID,1) in (2,8) then 'Temporary' else 'Regular' end) as EmployeeCategory
from (select *,(case when AppointmentTypeID=8 then isnull(isnull(RelievedTime,RelievedDate),ReportedDate) else isnull(isnull(ReportedTime,ReportedDate),RelievedDate) end) as ReportedDate1 from EmployeeAppointmentDetails with (nolock)) as A 
left outer join ODLDAllocation odld with (nolock) on odld.ODLDID=ToODLDID
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left outer join FnUnderOL() ol on ol.OLID=ola.OfficeLocationAllocationID
where AppointmentTypeID in (2,3,4,20,1,8,26) and Approved=1 and Reported=1 and isnull(ContactID,0)<>0 and isnull(ToODLDID,0)>0 
) as A where SlNo=1

)
GO
