USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnEmployeeStatus]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnEmployeeStatus](@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @YearID Int select @YearID = 2015 
--Declare @MonthID Int select @MonthID = 4 
--Declare @ContactID Int select @ContactID = 0 

select ContactID,EmployeeStatusID,ValidUpTo from ( 
select *,(Row_Number() over (Partition By ContactID Order By ContactID,OrderNo,ValidUpTo)) as MaxNo1 from ( 
select * from ( 
select * ,(Row_Number() over (Partition By ContactID Order By ContactID,ValidUpTo desc)) as MaxNo,1 as OrderNo from ( 
select distinct ContactID,FieldValue as EmployeeStatusID,ValidUpTo 
from EmployeeHistory_HRMS with(nolock) Cross Join FnETLToday(@YearID,@MonthID) 
where FieldName='EmployeeStatusID' and ValidUpTo>=Today1 
) as A ) as A where MaxNo=1 
union all 
select ContactID,isnull(EmployeeStatusID,1) as EmployeeStatusID,LDate,1,2 as OrderNo 
from Employee with(nolock) Cross Join FnETLToday(@YearID,@MonthID) ) as A 
where (case when @ContactID=0 then 0 else ContactID end)=@ContactID ) as A where MaxNo1=1 

)
GO
