USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRIDNew]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnMaxSRIDNew](@FromDate varchar(12),@ToDate varchar(12))
RETURNS Table AS
RETURN 	(



With MDate (ContactID,MDate) as (
select ContactID,max(distinct StartingDate) as MDate from Scaleregister sr
where isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 and isnull(sr.Generated,0)=1 
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate
and (DateAdd(Month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1)<=@Todate
group by ContactID

), SR1 (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID
,(case when sr.BillRegisterDate is null then (select MDate from MDate m where m.COntactID=sr.ContactID) else sr.BillRegisterDate end) as BillRegisterDate,CreatedOn
from Scaleregister sr where isnull(sr.Generated,0)=1 and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate
and (DateAdd(Month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1)<=@Todate

), SR (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select sr.ScaleregisterID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.StartingDate,sr.EndingDate,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn
from SR1 sr 
where sr.BillRegisterDate in (select max(sr1.BillRegisterDate) from SR1 sr1 where sr1.ContactID=sr.ContactID and Year(sr1.BillRegisterDate)=Year(sr.StartingDate) and Month(sr1.BillRegisterDate)=Month(sr.StartingDate) and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth)

) 
select * from SR sr
where sr.ScaleregisterID in (select max(sr1.ScaleregisterID) from SR sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth)
and isnull(sr.Generated,0)=1 and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1


)
GO
