USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_ExpenditureDuring]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Function [dbo].[Fn_ExpenditureDuring](@AcOLID Int,@FromDate datetime,@ToDate datetime) 
RETURNS Table AS Return ( 

--Declare @AcOLID Int  = 354
--Declare @FromDate datetime = '2025-04-01'
--Declare @ToDate datetime = '2025-04-30'

--;


With AcOL as (
select AcOLID,OfficeID,LocationID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails with(nolock) where AcOLID=@AcOLID 

) , JV as (
select JournalVoucherNo JVNo,JournalVoucherDate JVDate from AcOL ol cross join FnETLToday(Year(@FromDate),Month(@FromDate)) D
inner join JournalVoucher JV with(nolock) on jv.OLID=ol.OLID and Approved=1 
and JournalVoucherDate Between StartingFyYear and @ToDate and JournalVoucherDate Between StartingFyYear and EndingFyYear
where JournalVoucherNo in (select JournalVoucherNo from JournalVoucherdetails B with(nolock) where b.JournalVoucherNo = jv.JournalVoucherNo 
and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%') ) 
) 

select 1 OrderNo,* from (
select 'SI' Table1,DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVNo,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and FromMainAccountCode not like'32.%' 
Inner Join StoreInvoice_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Passed,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVNo,JVDate
) A Group By DocumentNo,StoreInvoiceNo,StoreInvoiceDate,JVNo,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all

select 'RV' Table1,DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVNo,JVDate,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and ToMainAccountCode not like'32.%'
Inner Join ReceiptVoucherAbstract_Accounts SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(Approved,0)=1 and isnull(TotalAmount,0)<>0 and isnull(si.JournalVoucherNo,0)=JVNo -- and cancel=0
Group By DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVNo,JVDate
) A Group By DocumentNo,ReceiptVoucherNo,ReceiptVoucherDate,JVNo,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'CI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,JVNo,JVDate,Status,Sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount 
from JV JV Inner Join CivilInvoice CI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(JournalVoucherNo,0)=JVNo 
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVNo,JVDate,Status,BillRegisterNo,BillRegisterDate 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVNo,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'PI' Table1,DocumentNo,BillRegisterNo,BillRegisterDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from (
select DocumentNo,BillRegisterNo,BillRegisterDate,JVNo,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from JV JV Inner Join ProformaInvoice PI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(ProformaApproved,0)=1 and isnull(Amount,0)<>0 and isnull(ProformaJournalVoucherNo,0)=JVNo  
inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
Group By DocumentNo,JVNo,JVDate,Status,BillRegisterNo,BillRegisterDate 
) A Group By DocumentNo,BillRegisterNo,BillRegisterDate,JVNo,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
union all 

select 'DR' Table1,DocumentNo,DemandRaisingID,DemandRaisingDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select ReferenceNo DocumentNo,DemandRaisingID,DemandRaisingDate,JVNo,JVDate,sum(case when FromMainAccountCode like'14.%' then jvd.Amount else -jvd.Amount end) TotalAmount
from JV JV inner join JournalVoucherdetails JVD with(nolock) on jvd.JournalVoucherNo=jv.JVNo and (FromMainAccountCode like'14.%' or ToMainAccountCode like '14.%')
and FromMainAccountCode not like'32.%' 
Inner Join DemandRaising SI With (NoLock) on isnull(DocumentTypeID,0) in (2,22) and isnull(si.JournalVoucherNo,0)=JVNo and Approved=1 and isnull(canceled,0)=0 
Group By ReferenceNo,DemandRaisingID,DemandRaisingDate,JVNo,JVDate
) A Group By DocumentNo,DemandRaisingID,DemandRaisingDate,JVNo,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0

union all 
select 'DA' Table1,DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVNo,JVDate,Round(Round(Sum(TotalAmount),2),0) Amount from ( 
select c.DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVNo,JVDate,sum(case when FromAccountCode like'14.%' then AmountTobeAdjusted else -AmountTobeAdjusted end) TotalAmount
from JV JV 
cross apply (select distinct c.JournalVoucherNo,c.DocumentTypeID,DocumentNo,a.DivisionAdjustmentID,AdjustmentDate,AmountTobeAdjusted,FromAccountCode,ToAccountCode  from (
	select DivisionAdjustmentID,AdjustmentDate from DivisionAdjustments D with(nolock) where d.JournalVoucherNo =  jv.JVNo ) A 
	inner join DivisionAdjustmentDetails B with(nolock) on  b.DivisionAdjustmentID = a.DivisionAdjustmentID and (FromAccountCode like'14.%' or ToAccountCode like '14.%')
	inner join CivilInvoice C with(nolock) on c.OfficialReferenceNo=b.ReferenceNo collate database_default and c.DocumentTypeID in (2,22)) C 
Group By c.DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVNo,JVDate
) A Group By DocumentNo,DivisionAdjustmentID,AdjustmentDate,JVNo,JVDate Having Round(Round(Sum(TotalAmount),2),0) <>0
) A 

) 

GO
