USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnStockTransactions]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FnStockTransactions] (@OLID Int,@AsOnDate DateTime)

RETURNS Table AS 
RETURN (


--Declare @OLID Int select @OLID = 658
--Declare @AsOnDate DateTime select @AsOnDate ='2016-12-31'




select AcOLID,a.OLID,a.StockLedgerID as LedgerOrReceiptsOrInvoiceID,a.ItemID,d.UnitID,isnull(d.Quantity,0) as Quantity,isnull(d.Amount,0) as Amount
,DateFromParts(StockLedgerYear,StockLedgerMonth,1) as StockLedgerDate,'OB' as TransactionTypes,1 as Ordred,isnull(SerialNo,'') as SerialNo,StockConditionID
from ( select StockLedgerID,OLID,ItemID,StockLedgerYear,StockLedgerMonth from StockLedger_Accounts with (nolock) where StockLedgerYear=Year(@AsOnDate) and StockLedgerMonth=Month(@AsOnDate) ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join StockLedgerOBDetails_Accounts C with (nolock) on c.StockLedgerID=a.StockLedgerID and c.OLID=a.OLID and c.ItemID=a.ItemID
inner join StockLedgerOBMaterialDetails_Accounts D with (nolock) on d.StockLedgerOBDetailsID=c.StockLedgerOBDetailsID
union all 

select AcOLID,a.OLID,a.ReceiptVoucherNo,ItemID,d.UnitID,isnull(d.Quantity,0) as Quantity,isnull(d.Amount,0) as Amount,ReceiptVoucherDate,'Receipts' as TransactionTypes,2 as Ordred,isnull(SerialNo,'') as SerialNo,StockConditionID
from ( select ReceiptVoucherNo,OLID,ReceiptVoucherDate from ReceiptVoucherAbstract_Accounts A with (nolock) where ReceiptVoucherDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Approved=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join ReceiptVoucherDetails_Accounts C with (nolock) on c.ReceiptVoucherNo=a.ReceiptVoucherNo
inner join ReceiptVoucherMaterialDetails_Accounts D with (nolock) on d.ReceiptVoucherDetailsID=c.ReceiptVoucherDetailsID
union all 
select AcOLID,a.OLID,a.ReceiptVoucherNo,d.ItemID,e.UnitID,isnull(e.Quantity,0) as Quantity,isnull(e.Amount,0) as Amount,ReceiptVoucherDate
,'Receipts' as TransactionTypes,2 as Ordred,isnull(SerialNo,'') as SerialNo,StockConditionID
from ( select ReceiptVoucherNo,OLID,ReceiptVoucherDate from ReceiptVoucherAbstract_Accounts A with (nolock) where ReceiptVoucherDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Approved=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join ReceiptVoucherDetails_Accounts C with (nolock) on c.ReceiptVoucherNo=a.ReceiptVoucherNo and isnull(AlternateQuantity,0)!=0
inner join ReceiptVoucherAlternateDetails_Accounts D with (nolock) on d.ReceiptVoucherDetailsID=c.ReceiptVoucherDetailsID
inner join ReceiptVoucherAlternateMaterialDetails_Accounts E with (nolock) on e.ReceiptVoucherAlternateDetailsID=d.ReceiptVoucherAlternateDetailsID
union all

select AcOLID,a.OLID,a.StoreInvoiceNo,ItemID,d.UnitID,isnull(-d.Quantity,0) as Quantity,isnull(-d.Amount,0) as Amount,StoreInvoiceDate,'Issued' as TransactionTypes,3 as Ordred,isnull(SerialNo,'') as SerialNo,StockConditionID
from ( select StoreInvoiceNo,OLID,StoreInvoiceDate from StoreInvoice_Accounts A with (nolock) where StoreInvoiceDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Passed=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join StoreInvoiceDetails_Accounts C with (nolock) on c.StoreInvoiceNo=a.StoreInvoiceNo
inner join StoreInvoiceMaterialDetails_Accounts D with (nolock) on d.StoreInvoiceDetailsID=c.StoreInvoiceDetailsID
union all
select AcOLID,a.OLID,a.StoreInvoiceNo,d.ItemID,e.UnitID,isnull(-e.Quantity,0) as Quantity,isnull(-e.Amount,0) as Amount,StoreInvoiceDate,'Issued' as TransactionTypes,3 as Ordred,isnull(SerialNo,'') as SerialNo,StockConditionID
from ( select StoreInvoiceNo,OLID,StoreInvoiceDate from StoreInvoice_Accounts A with (nolock) where StoreInvoiceDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Passed=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join StoreInvoiceDetails_Accounts C with (nolock) on c.StoreInvoiceNo=a.StoreInvoiceNo and isnull(AlternateQuantityIssued,0)!=0
inner join StoreInvoiceAlternateDetails_Accounts D with (nolock) on d.StoreInvoiceDetailsID=c.StoreInvoiceDetailsID
inner join StoreInvoiceAlternateMaterialDetails_Accounts E with (nolock) on e.StoreInvoiceAlternateDetailsID=d.StoreInvoiceAlternateDetailsID


)
GO
