USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnPromoteDesignation]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnPromoteDesignation] (@DesignationID Int) 

RETURNS Table AS 

RETURN 	(

--Declare @DesignationID Int select @DesignationID = 279 ;

With A (OrderNo,DNID,DesignationID,DesignationName,UnderPromteDesignationID) as (
select 1 as OrderNo,DesignationID,DesignationID,DesignationName,UnderPromteDesignationID from Designation where (case when @DesignationID=0 then 0 else DesignationID end) = @DesignationID 
union all
select OrderNo+1,DNID,d.DesignationID,d.DesignationName,d.UnderPromteDesignationID from Designation d  
inner join A on d.DesignationID=a.UnderPromteDesignationID
) 

select distinct OrderNo,DNID,a.DesignationID,a.DesignationName,ect1.EmployeeCadreTypeID,ect1.DesignationID as CadreDesignationID,dn.DesignationName as CadreDesignation
from A left outer join EmployeeCadreTypeDesignationAllocation ect on ect.DesignationID=a.DesignationID
left outer join EmployeeCadreTypeDesignationAllocation ect1 on ect1.EmployeeCadreTypeID=ect.EmployeeCadreTypeID
left outer join Designation dn on dn.DesignationID=ect1.DesignationID
--Order by DNID,OrderNo
)
GO
