USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MisRevDemandJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Function [dbo].[fn_MisRevDemandJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

--declare @olid int = 412 
--declare @yr int = 2022 
--declare @month int = 9 

select AccHead,(case when Debit<0 then 0 else Debit end) Debit,(case when Debit<0 then -Debit else Credit end) Credit
,Description,(case when Debit<0 then 'Credit' else 'Debit' end) Type from (
select s.MainAccountCode+s.SubAccountCode+'7' AccHead,sum(Debit.Amt) Debit,0 Credit,s.Description Description,'Debit' Type from (
select sum(dd.DemandRevenue) Amt 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.RevenueDemandAccountCode in('61.904','61.906') 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
union all 
select sum(dd.DemandInterest) 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.TariffTypeID in (1,2) 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
) Debit cross join (select * from SubAccount s with (nolock) where s.MainAccountCode+s.SubAccountCode='23.700' ) s
group by s.MainAccountCode+s.SubAccountCode+'7',s.Description 
) A 
union all 
select AccHead,(case when Credit<0 then -Credit else Debit end) Debit,(case when Credit<0 then 0 else Credit end) Credit
,Description,(case when Credit<0 then 'Debit' else 'Credit' end) Type from (
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,0 Debit,sum(dd.DemandRevenue) Credit,sb.Description,'Credit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
inner join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode collate database_Default=db.RevenueDemandAccountCode and sb.MainAccountCode+sb.SubAccountCode in ('61.904','61.906') 
group by sb.MainAccountCode+sb.SubAccountCode+'7',sb.Description 
union all 
select s.MainAccountCode+s.SubAccountCode+'7',0,sum(dd.DemandInterest),s.Description,'Credit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.TariffTypeID in (1,2) 
inner join DCBDemandDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join (select * from SubAccount s with (nolock) where s.MainAccountCode+s.SubAccountCode='61.905') s
group by s.MainAccountCode+s.SubAccountCode+'7',s.Description
) A 


GO
