USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLGetRec_ODLDID]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[FnETLGetRec_ODLDID](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int,@TableParam varchar(3))
RETURNS @SrDetailsRec TABLE
(
ScaleregisterID	bigint primary key,ODLDID_N  int null

)
AS
BEGIN
INSERT INTO @SrDetailsRec


 
select (case when  @TableParam='sb' then a.ScaleRegisterID else case when @TableParam='sa' then b.ScaleRegisterID
else case when  @TableParam='soa' then c.ScaleRegisterID  else case when  @TableParam='sod' then d.ScaleRegisterID 
 else case when  @TableParam='sl' then e.ScaleRegisterID  else case when  @TableParam='sr' then f.ScaleRegisterID end end end end end end ) as ScaleRegisterID,
 (case when  @TableParam='sb' then a.ODLDID_N else case when @TableParam='sa' then b.ODLDID_N
else case when  @TableParam='soa' then c.ODLDID_N  else case when  @TableParam='sod' then d.ODLDID_N 
 else case when  @TableParam='sl' then e.ODLDID_N  else case when  @TableParam='sr' then f.ODLDID_N end end end end end end ) as ODLDID_N
from (select distinct ScaleRegisterID,ODLDID as ODLDID_N from (select ScaleRegisterID,ODLDID,row_number() over(partition by  ScaleRegisterID order by EndingDate desc) as RowNum
from ScaleRegisterBasicPayDetails A cross join Today_hrms B 
WHERE ScaleRegisterID IN(select ScaleRegisterID FROM ScaleRegister
WHERE OLID!=0 AND Generated=1 and isnull(HeldUp,0)=0 and  (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillregisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillregisterDate) ))
and OLID = (case when @OLID=0 then OLID else @OLID end)and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)) and ScaleRegisterID=a.ScaleRegisterID)Temp where RowNum=1
and 'sb'=@TableParam) A 
full join 
(select distinct ScaleRegisterID,ODLDID as ODLDID_N from (select distinct   ScaleRegisterID,ODLDID,row_number() over(partition by  ScaleRegisterID order by EndingDate desc) as RowNum
from ScaleRegisterAllowances A cross join Today_hrms B 
WHERE ScaleRegisterID IN(select ScaleRegisterID FROM ScaleRegister
WHERE OLID!=0 AND Generated=1 and isnull(HeldUp,0)=0 and  (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillregisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillregisterDate) ))
and OLID = (case when @OLID=0 then OLID else @OLID end)and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)) and ScaleRegisterID=a.ScaleRegisterID)Temp where RowNum=1
and 'sa'=@TableParam)b on a.ScaleRegisterID=b.ScaleRegisterID
full join 
(select distinct ScaleRegisterID,ODLDID as ODLDID_N from (select distinct   ScaleRegisterID,ODLDID,row_number() over(partition by  ScaleRegisterID order by EndingDate desc) as RowNum
from ScaleRegisterOtherAdditions A cross join Today_hrms B 
WHERE ScaleRegisterID IN(select ScaleRegisterID FROM ScaleRegister
WHERE OLID!=0 AND Generated=1 and isnull(HeldUp,0)=0 and  (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillregisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillregisterDate) ))
and OLID = (case when @OLID=0 then OLID else @OLID end)and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)) and ScaleRegisterID=a.ScaleRegisterID)Temp where RowNum=1
and 'soa'=@TableParam)c on a.ScaleRegisterID=c.ScaleRegisterID 
full join 
(select distinct ScaleRegisterID,ODLDID as ODLDID_N from (select distinct   ScaleRegisterID,ODLDID,row_number() over(partition by  ScaleRegisterID order by EndingDate desc) as RowNum
from ScaleRegisterOtherDeductions A cross join Today_hrms B 
WHERE ScaleRegisterID IN(select ScaleRegisterID FROM ScaleRegister
WHERE OLID!=0 AND Generated=1 and isnull(HeldUp,0)=0 and  (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillregisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillregisterDate) ))
and OLID = (case when @OLID=0 then OLID else @OLID end)and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)) and ScaleRegisterID=a.ScaleRegisterID)Temp where RowNum=1
and 'sod'=@TableParam)d on a.ScaleRegisterID=d.ScaleRegisterID 
full join 
(select distinct ScaleRegisterID,ODLDID as ODLDID_N from (select distinct   ScaleRegisterID,ODLDID,row_number() over(partition by  ScaleRegisterID order by EndingDate desc) as RowNum
from ScaleRegisterLoansandAdvances A cross join Today_hrms B 
WHERE ScaleRegisterID IN(select ScaleRegisterID FROM ScaleRegister
WHERE OLID!=0 AND Generated=1 and isnull(HeldUp,0)=0 and  (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillregisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillregisterDate) ))
and OLID = (case when @OLID=0 then OLID else @OLID end)and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)) and ScaleRegisterID=a.ScaleRegisterID)Temp where RowNum=1
and 'sl'=@TableParam)e on a.ScaleRegisterID=e.ScaleRegisterID 
full join 
(select distinct ScaleRegisterID,ODLDID as ODLDID_N from (select distinct   ScaleRegisterID,ODLDID,row_number() over(partition by  ScaleRegisterID order by EndingDate desc) as RowNum
from ScaleRegisterRecovery A cross join Today_hrms B 
WHERE ScaleRegisterID IN(select ScaleRegisterID FROM ScaleRegister
WHERE OLID!=0 AND Generated=1 and isnull(HeldUp,0)=0 and  (((case when (@YearID=0 or @MonthID=0) then Year(Today) else @YearID end) = Year(BillregisterDate) 
and  (case when (@YearID=0 or @MonthID=0) then Month(Today) else @MonthID end) = Month(BillregisterDate) ))
and OLID = (case when @OLID=0 then OLID else @OLID end)and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)) and ScaleRegisterID=a.ScaleRegisterID)Temp where RowNum=1
and 'sr'=@TableParam)f on a.ScaleRegisterID=f.ScaleRegisterID 
order by (case when  @TableParam='sb' then a.ScaleRegisterID else case when @TableParam='sa' then b.ScaleRegisterID
else case when  @TableParam='soa' then c.ScaleRegisterID  else case when  @TableParam='sod' then d.ScaleRegisterID 
 else case when  @TableParam='sl' then e.ScaleRegisterID  else case when  @TableParam='sr' then f.ScaleRegisterID end end end end end end )




RETURN;
END

GO
