USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DCBCollectionTaxSchedules]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_DCBCollectionTaxSchedules](@olid int,@month int,@yr int) RETURNS Table AS Return 

select sb.Acc+'7' AccHead,sum(dd.Tax_Total) Debit 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID
inner join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
left join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join (Select MainAccountCode+SubAccountCode Acc,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode='47.609') sb 
group by sb.Acc
GO
