USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_BudgetValidation]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_BudgetValidation](
   @wono nvarchar(12)
    ) 

RETURNS Table AS 
RETURN     (

--declare @wono varchar(12) select @wono='945128'
WITH SIA_Summary AS (
    SELECT 
        DocumentNo,
        SUM(CASE WHEN Priced = 1 THEN TotalAmount ELSE 0 END) AS TotalInvoiceAmount
    FROM StoreInvoice_Accounts
    WHERE DocumentTypeID = 2
    GROUP BY DocumentNo
),
RV_Summary AS (
    SELECT 
        DocumentNo,
        SUM(CASE WHEN Priced = 1 AND ReturnTypeID = 1 THEN TotalAmount ELSE 0 END) AS RVTotalAmt
    FROM ReceiptVoucherAbstract_Accounts
    GROUP BY DocumentNo
),
Civil_Summary AS (
    SELECT 
        ci.DocumentNo,
        SUM(CASE WHEN ci.Status = 1 THEN jvd.Amount ELSE 0 END) AS CivilInvoiceAmount,
        MAX(ci.BillRegisterDate) AS LatestBillRegisterDate,
        MAX(CAST(ci.Status AS INT)) AS Status
        FROM CivilInvoice ci
        INNER JOIN JournalVoucher jv ON ci.BillRegisterNo=jv.DoucmentNo 
        INNER JOIN JournalVoucherDetailsreport jvd ON jv.JournalVoucherNo=jvd.JournalVoucherNo 
        WHERE ci.Status = 1 AND
        jv.DocumentTypeID=29 AND jvd.FromMainAccountCode like '14%' 
        GROUP BY DocumentNo
),
Proforma_Summary AS (
    SELECT 
        CAST(DocumentNo AS VARCHAR(50)) AS DocumentNo,
        MAX(CASE WHEN ProformaApproved = 1 THEN Amount ELSE 0 END) AS ProformaInvoiceAmount
    FROM ProformaInvoice
    WHERE ProformaApproved = 1
    GROUP BY CAST(DocumentNo AS VARCHAR(50))
),
Budget_Summary As(
     SELECT 
         DocumentNo,
         Sum(Amount) AS Amount FROM BudgetControlDetails_Works 
     WHERE BudgetControlID IN(
     SELECT BudgetControlID FROM BudgetControl WHERE  BudgetGrantID IN(
     SELECT BudgetGrantID FROM BudgetGrant WHERE MainAccountCode like '14%'))
     GROUP BY DocumentNo
),
Reapp_Summary AS (
    SELECT 
        WorkOrder,
        SUM(CASE WHEN Status = 1 THEN ReappropriatedAmount ELSE 0 END) AS ReappropriatedAmount
    FROM Reappropriation
    GROUP BY WorkOrder
)

SELECT 
    wo.WorkOrderNo,
    se.SanctionEstimateNo,
    se.SanctionAmount,
    bcw.Amount AS WorkOrderAmount,

    ISNULL(sia.TotalInvoiceAmount, 0) AS TotalInvoiceAmount,
    ISNULL(rv.RVTotalAmt, 0) AS RVTotalAmt,
    ISNULL(ci.CivilInvoiceAmount, 0) AS CivilInvoiceAmount,
    ISNULL(pf.ProformaInvoiceAmount, 0) AS ProformaInvoiceAmount,
    ISNULL(reap.ReappropriatedAmount, 0) AS ReappropriatedAmount,
    ci.LatestBillRegisterDate,
    ci.Status,

    (
        ISNULL(sia.TotalInvoiceAmount, 0)
        + ISNULL(pf.ProformaInvoiceAmount, 0)
        + ISNULL(ci.CivilInvoiceAmount, 0)
        - ISNULL(rv.RVTotalAmt, 0)
    ) AS NetExpenditureAmount,
    (
        ISNULL(bcw.Amount, 0) * 1.25
        + ISNULL(reap.ReappropriatedAmount, 0)
        -(
          ISNULL(sia.TotalInvoiceAmount, 0)
        + ISNULL(ci.CivilInvoiceAmount, 0)
        + ISNULL(pf.ProformaInvoiceAmount, 0)
        - ISNULL(rv.RVTotalAmt, 0)
          )
    ) AS NetAmount

FROM WorkOrder wo
INNER JOIN Budget_Summary bcw 
    ON wo.WorkOrderNo = bcw.DocumentNo
LEFT JOIN SanctionEstimate se
    ON se.SanctionEstimateNo = wo.SanctionEstimateNo
    AND wo.CivilWorkContractTypeID = 2
LEFT JOIN WorkAllocation WA
    ON WA.WorkAllocationID = wo.WorkAllocationID
LEFT JOIN SIA_Summary sia 
    ON sia.DocumentNo = wo.WorkOrderNo
LEFT JOIN RV_Summary rv 
    ON rv.DocumentNo = wo.WorkOrderNo
LEFT JOIN Civil_Summary ci 
    ON ci.DocumentNo = wo.WorkOrderNo
LEFT JOIN Proforma_Summary pf 
    ON pf.DocumentNo = CAST(wo.WorkOrderNo AS VARCHAR(50))
LEFT JOIN Reapp_Summary reap
    ON reap.WorkOrder=wo.WorkOrderNo
WHERE 
    wo.WorkOrderNo = @wono--'945128'
    AND WA.MainAccountCode LIKE '14%'

);

GO
