USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[tableName]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[tableName]()
returns table
as
Return( select MasterTable from DocumentTypes where MasterTable in (select MasterTable from DocumentTypes Where Description='Purchase Order'))
GO
