USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getRecovoriesForJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getRecovoriesForJV](@ScaleRegisterID int)
returns table
as return (
select ScaleRegisterID,ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID,Sum(Amount) as amount from
(select ScaleRegisterRecovery.ScaleRegisterID, ScaleRegisterRecovery.ScheduleTypeID ,ScaleRegisterRecovery.LoanandAdvanceID ,ScaleRegisterRecovery.ExternalOrganisationID,ScaleRegisterRecovery.ExternalOrganisationTypeID,
round(round(sum(isnull(ScaleRegisterRecovery.Amount,0)),2),0) as Amount
from ScaleRegisterRecovery
where ScaleRegisterRecovery.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterRecovery.ScaleRegisterID, ScaleRegisterRecovery.ScheduleTypeID , ScaleRegisterRecovery.LoanandAdvanceID ,ScaleRegisterRecovery.ExternalOrganisationID,ScaleRegisterrecovery.ExternalOrganisationTypeID
having round(round(sum(isnull(ScaleRegisterRecovery.Amount,0)),2),0) <>0
union ALl
select ScaleRegisterID,SRAW.ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID,
round(round(-sum(isnull(SRAW.Amount,0)),2),0) from ScaleRegisterRecoveryWithdrawals SRAW,ScaleRegisterWithdrawals
where ScaleRegisterID =@ScaleRegisterID
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID
having round(round(-sum(isnull(SRAW.Amount,0)),2),0)<>0)as Arrears
 group by ScaleRegisterID,ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationTypeID having sum(Amount)<>0 )
GO
