USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Basic]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create FUNCTION [dbo].[Fn_Basic] (@FromDate DateTime,@ToDate DateTime,@ContactID int,@BPRate Float) RETURNS Table AS Return (


--Declare @FromDate DateTime = '2023-01-01' 
--Declare @ToDate DateTime = '2023-01-31' 
--Declare @ContactID Int = 12676  
--Declare @BPRate Float = NULL  ; 


With InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) , Date2 as (
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 
)


select  a.*,b.Date1,(cast(Modifiedvalue as Float)/Day(@ToDate)) PerDay from (
select EmployeePayDetailsID EPDID,ContactID,EmployeePayTypeID,isnull(@BPRate,Modifiedvalue) Modifiedvalue,isnull(ActualEffectiveDate,EffectiveDate) FromDate 
,isnull((lead(isnull(ActualEffectiveDate,EffectiveDate)) over (Partition By ContactID Order By ContactID,isnull(ActualEffectiveDate,EffectiveDate),isnull(Modifiedvalue,0),EmployeePayDetailsID ))-1,@ToDate) ToDate 
from EmployeePayDetails a with(nolock) where EmployeepayTypeID not in (6,13) and Approved=1 and isnull(Cancel,0)=0 and ContactID = @ContactID
and EmployeepayTypeID in (select EmployeepayTypeID  from EmployeepayTypes where EmployeepayMainTypeID in (1,2))
) A inner join Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate 

)
GO
