USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_convertQty]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_convertQty](@itemid int,@baseunit int,@usedunit int,@quantity float) returns table return ( 

select (case when @baseunit=@usedunit then (select @quantity) else 
(case 
isnull((select (@quantity*suom.quantity) from stockunitofmeasure suom with (nolock) where suom.unitid=@baseunit and suom.unitiiid=@usedunit and suom.itemid=@itemid),0) when 0 then 
isnull((select (@quantity*suom.quantity) from stockunitofmeasure suom with (nolock) where suom.unitid=@usedunit and suom.unitiiid=@baseunit and suom.itemid=@itemid),0) else 
isnull((select (@quantity/suom.quantity) from stockunitofmeasure suom with (nolock) where suom.unitid=@baseunit and suom.unitiiid=@usedunit and suom.itemid=@itemid),0) 
end) 
end) as value 
)
GO
