USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[ToTitleCase]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ToTitleCase](@Input VARCHAR(MAX))
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @Result VARCHAR(MAX) = ''
    DECLARE @Word VARCHAR(100)
    DECLARE @Pos INT = 1
    DECLARE @NextSpace INT

    WHILE @Pos <= LEN(@Input)
    BEGIN
        SET @NextSpace = CHARINDEX(' ', @Input, @Pos)
        IF @NextSpace = 0
            SET @NextSpace = LEN(@Input) + 1

        SET @Word = SUBSTRING(@Input, @Pos, @NextSpace - @Pos)
        IF LEN(@Word) > 0
            SET @Result = @Result + UPPER(LEFT(@Word, 1)) + LOWER(SUBSTRING(@Word, 2, LEN(@Word))) + ' '

        SET @Pos = @NextSpace + 1
    END

    RETURN RTRIM(@Result)
END

GO
