USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDnOrder]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnDnOrder]()
RETURNS Table AS
RETURN 	(




select (case 
when dn.DesignationID=219 then '01.00'
when dn.DesignationID=224 then '02'
when dn.DesignationID=236 then '03'
when dn.DesignationID=326 then '04'
when dn.DesignationID=242 then '05'
when dn.DesignationID=318 then '06'
when dn.DesignationID=225 then '07'
when dn.DesignationID=227 then '08'
when dn.DesignationID=329 then '09'
when dn.DesignationID=234 then '10'
when dn.DesignationID=238 then '11'
when dn.DesignationID=226 then '12'
when dn.DesignationID=228 then '13'
when dn.DesignationID=296 then '14'
when dn.DesignationID=240 then '15'
when dn.DesignationID=324 then '16'
when dn.DesignationID=327 then '17'
when dn.DesignationID=220 then '18'
when dn.DesignationID=297 then '19'
when dn.DesignationID=315 then '20'
when dn.DesignationID=241 then '21'
when dn.DesignationID=243 then '22'
when dn.DesignationID=231 then '23'
when dn.DesignationID=229 then '24'
when dn.DesignationID=247 then '25'
when dn.DesignationID=250 then '26'
when dn.DesignationID=232 then '27'
when dn.DesignationID=298 then '28'
when dn.DesignationID=272 then '29'
when dn.DesignationID=255 then '30'
when dn.DesignationID=323 then '31'
when dn.DesignationID=317 then '32'
when dn.DesignationID=277 then '33'
when dn.DesignationID=271 then '34'
when dn.DesignationID=284 then '35'
when dn.DesignationID=311 then '36'
when dn.DesignationID=281 then '37'
when dn.DesignationID=307 then '38'
when dn.DesignationID=332 then '39'
when dn.DesignationID=259 then '40'
when dn.DesignationID=262 then '41'
when dn.DesignationID=253 then '42'
when dn.DesignationID=256 then '43'
when dn.DesignationID=308 then '44'
when dn.DesignationID=282 then '45'
when dn.DesignationID=312 then '46'
when dn.DesignationID=263 then '47'
when dn.DesignationID=267 then '48'
when dn.DesignationID=268 then '49'
when dn.DesignationID=254 then '50'
when dn.DesignationID=266 then '51'
when dn.DesignationID=265 then '52'
when dn.DesignationID=230 then '53'
when dn.DesignationID=235 then '54'
when dn.DesignationID=221 then '55'
when dn.DesignationID=233 then '56'
when dn.DesignationID=328 then '57'
when dn.DesignationID=237 then '58'
when dn.DesignationID=245 then '59'
when dn.DesignationID=248 then '60'
when dn.DesignationID=301 then '61'
when dn.DesignationID=283 then '62'
when dn.DesignationID=244 then '63'
when dn.DesignationID=278 then '64'
when dn.DesignationID=279 then '65'
when dn.DesignationID=299 then '66'
when dn.DesignationID=303 then '67'
when dn.DesignationID=288 then '68'
when dn.DesignationID=223 then '69'
when dn.DesignationID=313 then '70'
when dn.DesignationID=319 then '71'
when dn.DesignationID=285 then '72'
when dn.DesignationID=302 then '73'
when dn.DesignationID=309 then '74'
when dn.DesignationID=321 then '75'
when dn.DesignationID=300 then '76'
when dn.DesignationID=310 then '77'
when dn.DesignationID=304 then '78'
when dn.DesignationID=287 then '79'
when dn.DesignationID=314 then '80'
when dn.DesignationID=320 then '81'
when dn.DesignationID=291 then '82'
when dn.DesignationID=264 then '83'
when dn.DesignationID=289 then '84'
when dn.DesignationID=306 then '85'
when dn.DesignationID=316 then '86'
when dn.DesignationID=330 then '87'
when dn.DesignationID=305 then '88'
when dn.DesignationID=322 then '89'
when dn.DesignationID=325 then '90'
when dn.DesignationID=251 then '91'
when dn.DesignationID=252 then '92'

else '99' end ) as Ordering
,dn.DesignationID,dn.DesignationName,e.EmployeeGradeID,eg.Description as Groups

from Designation dn with ( nolock)
left outer join EmployeeGradeDesignationAllocation e with ( nolock) on e.DesignationID=dn.DesignationID
left outer join EmployeeGrades eg with ( nolock) on eg.EmployeeGradeID=e.EmployeeGradeID





)
GO
