USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnChequeDetailsID]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnChequeDetailsID](@AcOLID Int,@YearID Int,@MonthID Int)
RETURNS Table AS
RETURN 	(



--Declare @OLID Int select @OLID = 0
--Declare @YearID Int select @YearID = 2013
--Declare @MonthID Int select @MonthID = 7



select ChequeDetailsID,BillRegisterDate,BillRegisterDate1
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1)-1 else Year(BillRegisterDate1) end) as varchar(4))+'-4-1')) as StartingFyYear
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1) else Year(BillRegisterDate1)+1 end) as varchar(4))+'-3-31')) as EndingFyYear

from ( select *,(case when BillPassedDate is NULL then Today else BillregisterDate end) as BillRegisterDate1
from (select *,0 as CreatedOn from ChequeDetails) as CD      ----- CreatedOn , Remarks
Cross join FnETLToday(@YearID,@MonthID) ) as CD

where BillregisterDate1 <= LDate
and (((case when @YearID=0 then Year(Today) else @YearID end) = Year(BillregisterDate1) 
and  (case when @MonthID=0 then Month(Today) else @MonthID end) = Month(BillregisterDate1) 
) or ((case when @YearID=0 then Year(Today) else @YearID end) = Year(case when CreatedOn>=BillregisterDate1 then CreatedOn else BillregisterDate1 end)  
and (case when @MonthID=0 then Month(Today) else @MonthID end) = Month(case when CreatedOn>=BillregisterDate1 then CreatedOn else BillregisterDate1 end)))
and OLID = (case when @AcOLID=0 then OLID else @AcOLID end)


)
GO
