USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_IPJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_IPJV](@olid int,@month int,@yr int) RETURNS Table AS Return 



--declare @olid int = 341 
--declare @yr int = 2025 
--declare @month int = 3





select AccHead,(case when Debit<0 then 0 else Debit end) Debit,(case when Debit<0 then -Debit else Credit end) Credit

,Description,(case when Debit<0 then 'Credit' else 'Debit' end) Type from (

select sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)) AccHead,SUM(Total) Debit,0 Credit,sb.Description Description,'Debit' Type from (

select sum(dc.PensionCon_Adjustment) Total 

from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr

inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (1,2) and drd.TariffID in (11)

inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID

inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 

left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 

union all 

select sum(dc.PensionCon_Adjustment) 

from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr

inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (3) and drd.TariffID in (11)

inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID

inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 

left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 

) X cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='28.627') sb

cross join (select * from VoltageClass vc with (nolock) where vc.VoltageClassid=7 ) vc

group by sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)),sb.Description 

) A 

union all 

select AccHead,(case when Credit<0 then -Credit else Debit end) Debit,(case when Credit<0 then 0 else Credit end) Credit

,Description,(case when Credit<0 then 'Debit' else 'Credit' end) Type from (

select sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)) AccHead,0 Debit,SUM(Total) Credit,sb.Description+' - '+vc.Description Description,'Credit' Type from (

select sum(dc.PensionCon_Adjustment) Total 

from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr

inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (1,2) and drd.TariffID in (11)

inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID

inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 

left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 

union all 

select sum(dc.PensionCon_Adjustment) 

from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr

inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID and drd.TariffTypeID in (3) and drd.TariffID in (11)

inner join DCBCollectionDetails dc with (nolock) on dc.DCBRevenueDetailsID=drd.DCBRevenueDetailsID

inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 

left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 

) X cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='23.701') sb

cross join (select * from VoltageClass vc with (nolock) where vc.VoltageClassid=7 ) vc

group by sb.MainAccountCode+sb.SubAccountCode+Cast(vc.VoltageClassid as Varchar(10)),sb.Description+' - '+vc.Description

) A
GO
