USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getBasicPayForJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getBasicPayForJV](@ScaleRegisterID int)
returns table
as return (
select  ScaleRegisterBasicPayDetails.ScaleRegisterID,
Round(Round(sum(isnull(ScaleRegisterBasicPayDetails.Amount,0)),2),0) as Amount   
from ScaleRegisterBasicPayDetails 
where ScaleRegisterBasicPayDetails.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterBasicPayDetails.ScaleRegisterID
union ALl
select ScaleRegisterID,(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0))  from ScaleRegisterBasicPayWithdrawals SRAW,ScaleRegisterWithdrawals 
where ScaleRegisterID =@ScaleRegisterID
and  SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID 
group by ScaleRegisterID
)
GO
