USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_PNI_ETL_Activity1]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_PNI_ETL_Activity1](@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN (

--Declare @FromDate DateTime = 0
--Declare @ToDate DateTime = 0 ;


with Data1 as (
select * from (
select  ActivityID,DocumentNo,DateAndTime,StatusID  
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from Fn_PNI_ETLToday(Year(@FromDate),Month(@FromDate)) A
inner join ActivityApprovals_pni B with(nolock) on ActivityID in (125) and isnull(DocumentNo,0)>0 and DateAndTime>='2023-04-01' 
and StatusID=1 and isnull(NextApproverContactID,0)=0 
and DateAndTime>=(case when @FromDate=0 then dateadd(month,-1,dateadd(day,1,EOMonth(Today))) else @FromDate end) 
and DateAndTime<(case when @FromDate=0 then EOMonth(Today) else @ToDate end)  
) A where MaxNo=1 
) 

select ActivityID,a.DocumentNo ActivityDocumentNo,a.DateAndTime,StatusID,DocumentTypeID,a1.DocumentNo From Data1 A 
Inner Join DocumentStatusUpdate_pni A1 with(nolock) on a1.DocumentStatusUpdateId=a.DocumentNo and Approved=1
and DocumentTypeID in (1,12,14,20,80,81) 
--Order By DocumentTypeID,DocumentNo  

)
GO
