USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getAllowancesForJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getAllowancesForJV](@ScaleRegisterID int)
returns table
as return (
select ScaleRegisterID,AllowanceID,Sum(Amount) as amount from
(select ScaleRegisterAllowances.ScaleRegisterID, ScaleRegisterAllowances.AllowanceID ,
Round(Round(sum(isnull(ScaleRegisterAllowances.Amount,0)),2),0) as Amount
from ScaleRegisterAllowances
where ScaleRegisterAllowances.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterAllowances.ScaleRegisterID, ScaleRegisterAllowances.AllowanceID
having Round(Round(sum(isnull(ScaleRegisterAllowances.Amount,0)),2),0)<>0
union ALl
select ScaleRegisterID,SRAW.AllowanceID,(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0))from ScaleRegisterAllowanceWithdrawals SRAW,ScaleRegisterWithdrawals
where ScaleRegisterID =@ScaleRegisterID
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.AllowanceID
having round(round(-sum(isnull(SRAW.Amount,0)),2),0)<>0) as arrears
 group by ScaleRegisterID,AllowanceID having sum(Amount)<>0 )
GO
