USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Works_ETL_Activity]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[Fn_Works_ETL_Activity](@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN (

--Declare @FromDate DateTime = 0
--Declare @ToDate DateTime = 0

select ActivityID,DocumentNo,DateAndTime,StatusID from (
select  ActivityID,DocumentNo,DateAndTime,StatusID  
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from Fn_PNI_ETLToday(Year(@FromDate),Month(@FromDate)) A
inner join ActivityApprovals_Works B with(nolock) on ActivityID in (649,650,133,134,295,357,386,126,264,455,74,29) and isnull(DocumentNo,0)>0 and DateAndTime>='2020-04-01' 
and isnull(NextApproverContactID,0)=0 
and DateAndTime>=(case when @FromDate=0 then dateadd(month,-1,dateadd(day,1,EOMonth(Today))) else @FromDate end) 
and DateAndTime<(case when @FromDate=0 then EOMonth(Today) else @ToDate end)  
) A where MaxNo=1 and StatusID in (1) 
union 
select ActivityID,DocumentNo,DateAndTime,StatusID from (
select ActivityID,DocumentNo,DateAndTime,StatusID
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from Fn_PNI_ETLToday(Year(@FromDate),Month(@FromDate)) A
inner join ActivityApprovals_pni B with(nolock) on ActivityID in (118) and isnull(DocumentNo,0)>0 and DateAndTime>='2020-04-01'
and isnull(NextApproverContactID,0)=0
and DateAndTime>=(case when @FromDate=0 then dateadd(month,-1,dateadd(day,1,EOMonth(Today))) else @FromDate end) 
and DateAndTime<(case when @FromDate=0 then EOMonth(Today) else @ToDate end)  
) A where MaxNo=1 and StatusID in (1)


)
GO
