USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetTimeScaleDesignationID]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetTimeScaleDesignationID] (@ContactID varchar(max),@EffectiveDate Datetime,@CadreTypeID int,@Flag varchar(30))
RETURNS @TimeScale TABLE
(contactid int PRIMARY KEY, DesignationID_PromotionApptDet int,DesignationID_Promotion_NHS int,SanctionedDesignationID int,OfficiatingFrom int,OfficiatingCharge int,HistoryODLID int,LienDesignationID int,EmployeeCadreTypeID int,EmployeeCadreType varchar(30),PayPixationFlag int,TimeScaleRevFlag int,TimeScaleRevEffectiveDate datetime,
History2Designation int,FinalDesignationID int)
AS
BEGIN
INSERT INTO @TimeScale

----Select * from [FnGetTimeScaleDesignationID]( '10599' , '2021-08-31' ,0,'autoupdation')
--Declare @ContactID varchar(max) = '34769'
--Declare @EffectiveDate Datetime = '2026-01-01'
--Declare @CadreTypeID int  = 0
--Declare @Flag varchar(30) = 'autoupdation'



select distinct contactid,DesignationID_Promotion,DesignationID_NHS_P,SanctionedDesignationID,OfficiatingFromDesID,OfficiatingChargeDesID,HistoryODLDID,LienDesID,ect.EmployeeCadreTypeID, ECT1.Description,PayPixationFlag
,(case when ETSP.EffectiveDate is not null then 1 else 0 end) TimeScaleRevFlag,ETSP.EffectiveDate TimeScaleRevEffectiveDate,History2Designation--,Inservice_DNID
,(case when isnull(Inservice_DNID,0)>0 then Inservice_DNID  
when isnull(OfficiatingFromDesID,0)>0 then OfficiatingFromDesID  
when isnull(DesignationID_NHS_P,0)>0 then DesignationID_NHS_P  
when isnull(DesignationID_Promotion,0)=0 and isnull(DesignationID_NHS_P,0)=0 and isnull(History2Designation,0)>0 then History2Designation 
else SanctionedDesignationID end) FinalDesignationID from (

select contactid,EmployeeCategoryID,DesignationID_Promotion
,(case when isnull(b.OrderNo,0)>isnull(b1.OrderNo,0) then isnull(SanctionedDesignationID,0) else isnull(DesignationID_NHS_P,0) end) DesignationID_NHS_P
,SanctionedDesignationID,OfficiatingFromDesID,OfficiatingChargeDesID,HistoryODLDID,LienDesID,PayPixationFlag,History2Designation,Inservice_DNID
from ( 

select  E.contactid, e.EmployeeCategoryID
,isnull(EAD_P.ToDesignationID,0) DesignationID_Promotion
,isnull((case when NHSFlag=1 and isnull(EP_NHS.ToDesignationID,0)=0 then DNHS.UnderPromteDesignationID else isnull(EP_NHS.ToDesignationID,0) end),0) DesignationID_NHS_P
,(case when isnull(EAD_O.ToDesignationID,0)>0 then isnull(EAD_O.ToDesignationID,0) else isnull(ODLD.DesignationID,0) end) SanctionedDesignationID  
,EAD_O.ToDesignationID  OfficiatingChargeDesID
,isnull(ODLDID_H,0) HistoryODLDID
,isnull(EAD .FromDesignationID,0) LienDesID
,(case when isnull(PayPix.Contactid,0)>0 then 1 else 0 end) PayPixationFlag
,isnull(History2Designation,0) as History2Designation
,EAD20.ToDesignationID Inservice_DNID
,isnull(EAD_O.FromDesignationID,0) OfficiatingFromDesID
from ( 

select * from (
		select *,(Row_Number() over (Partition By ContactID Order By ContactID,isnull(ODLDID,0) desc)) MaxNo from (
		select ContactID,ODLDID,EmployeeCategoryID from Employee E with(nolock) where E.ContactID IN (select * from split(@ContactID,','))  and E.EmployeeStatusid!=19 
		union 
		select b.ContactID,FromODLDID,b.EmployeeCategoryID	from ( 
		select ContactID from EmployeeHistory_HRMS with(nolock) where FieldName = 'EmployeeStatusID' and FieldValue='1' and AppointmentTypeID=8 and ContactID IN (select * from split(@ContactID,','))
		) A Inner Join Employee B with(nolock) on b.ContactID=a.ContactID and isnull(b.ODLDID,0)=0 
		Inner Join EmployeeAppointmentDetails C with(NOLOCK) on c.ContactID=a.ContactID and c.AppointmentTypeID=8 and c.Approved=1 and c.Relieved=1 and isnull(ExternalOrganizationID,0)>0 and ToODLDID is NULL
		) A ) A where MaxNo=1 	
) E
left join EmployeeAppointmentDetails EAD with(nolock) ON E.ContactID=EAD.ContactID and isnull(EAD.legacy,0)=0 and  EAD.Reported=1 and EAD.Relieved=1 and EAD.Approved=1 and isnull(EAD.Regularised,0) = 0 and EAD.AppointmentTypeID in (23,47)
Outer Apply ( select * from (select ContactID,FieldValue as ODLDID_H ,row_number() over(partition by contactid order by contactid,ValidUpTo,EmployeeHistoryID) as RowNum  from  EmployeeHistory_HRMS H with(nolock)  where FieldName = 'ODLDID'  and ValidUpto >=@EffectiveDate 
			and E.ContactID=H.ContactID ) H where RowNum=1 ) H 
Outer Apply ( select * from (select * ,(Row_Number() over (Partition By ContactID Order By ContactID,OrderNo)) MinNo from (
			select distinct ead1.contactid,(case when isnull(EAD1.ExternalOrganizationID,0)>0 and isnull(EAD1.ToODLDID,0)>0 and isnull(EPD.ToDesignationID,0)>0 then EPD.ToDesignationID else isnull(EAD1.FromDesignationID,0) end) ToDesignationID,FromDesignationID
			from (select ContactID,FromDesignationID,ExternalOrganizationID,ToODLDID from EmployeeAppointmentDetails EAD1 with(nolock) where isnull(Ead1.legacy,0)=0 and EAD1.Reported=1 and EAD1.Relieved=1 and EAD1.Approved=1 and EAD1.Regularised = 0  
			and EAD1.AppointmentTypeID in (46) and E.ContactID=EAD1.ContactID ) EAD1
			left join EmployeePayDetails EPD with(nolock) on EAD1.contactid=EPD.contactid and isnull(epd.legacy,0)=0 and  EPD.Approved=1 and isnull(EPD.Cancel,0)=0 and isnull(EPD.ToDesignationID,0)>0  
			) A left join DesignationHierarchyOrder_Config DO with(nolock) on do.DesignationID=a.ToDesignationID
			) A where MinNo  = 1 ) EAD_O 
Outer Apply ( select * from (select ContactID,ToDesignationID,Row_Number() over(partition by ContactID order by ReportedDate desc,EmployeeAppointmentDetailsID desc) as RowNum from EmployeeAppointmentDetails EAD1 with(nolock) where isnull(legacy,0)=0 and Approved =1 AND Reported=1 
			and AppointmentTypeID in (2) and ReportedDate <=@EffectiveDate and E.ContactID=EAD1.ContactID ) A where a.RowNum=1 ) EAD_P 
Outer Apply ( select * from (select EPTemp.ContactID,(case when isnull(EPTemp.ToDesignationID,0)=0 and isnull(EADTemp.ToDesignationID,0)>0 then EADTemp.ToDesignationID else EPTemp.ToDesignationID end) as ToDesignationID
			,EmployeePayTypeID,Row_Number() over(partition by EPTemp.ContactID order by EPTemp.ContactID,EffectiveDate desc,EmployeePayDetailsID desc) as RowNum,1 as NHSFlag,EffectiveDate  
			from (select EmployeePayDetailsID,ContactID,EmployeePayTypeID,ToDesignationID,isnull(ActualEffectiveDate,EffectiveDate) EffectiveDate from EmployeePayDetails EPTemp with(nolock) where EmployeePayTypeID in (14,15,24) and EPTemp.Approved = 1 and isnull(EPTemp.Cancel,0)= 0  and isnull(eptemp.legacy,0)=0 
			and isnull(ActualEffectiveDate,EffectiveDate)<= @EffectiveDate and E.ContactID=EPTemp.ContactID ) EPTemp 
			left join EmployeeAppointmentDetails EADTemp on EPTemp.contactid=EADTemp.contactid and EADTemp.AppointmentTypeID=2 and EPTemp.EffectiveDate=EADTemp.reporteddate and isnull(EADTemp.legacy,0)=0 and EADTemp.Reported=1 and EADTemp.Approved=1 
			) A where RowNum=1 ) EP_NHS 
left join EmployeeAppointmentDetails EAD20 with(nolock) ON E.ContactID=EAD20.ContactID and  isnull(EAD20.legacy,0)=0 and  EAD20.Reported=1 and EAD20.Approved=1 and EAD20.AppointmentTypeID in (20) and ead20.ReportedDate<= @EffectiveDate and ead20.ReportedDate>=isnull(EffectiveDate,@EffectiveDate) 
left join ODLDAllocation ODLD with(nolock) on ODLD.ODLDID=(case when isnull(H.ODLDID_H,0)>0 then H.ODLDID_H when isnull(EAD.FromODLDID,0)>0 then EAD.FromODLDID else E.ODLDID end)  
left join Designation DNHS with(nolock) on ODLD.designationid=DNHS.designationid 
Outer Apply ( select ContactID,B1.DesignationID as History2Designation from (select * from (
	select ContactID,FieldValue,row_number() over(partition by contactid order by contactid,ValidUpTo desc,EmployeeHistoryID desc) as RowNum  
	from EmployeeHistory_HRMS A1 with(nolock) where FieldName = 'ODLDID' and ValidUpto <=@EffectiveDate and E.ContactID=A1.ContactID 
	) A where RowNum=1 ) A1 inner join ODLDAllocation B1 with(nolock) on a1.FieldValue=b1.ODLDID ) H2  
left join EmployeePayDetails PayPix on E.ContactID=PayPix.ContactID and  isnull(paypix.legacy,0)=0 and isnull(PayPix.Cancel,0)=0 and PayPix.EmployeePayTypeID=22 and PayPix.EffectiveDate>=@EffectiveDate and isnull(PayPix.ExternalRRNo,'') in ('BasicPayRevision')

) A left join DesignationHierarchyOrder_Config B with(nolock) on b.DesignationID=DesignationID_NHS_P
left join DesignationHierarchyOrder_Config B1 with(nolock) on b1.DesignationID=SanctionedDesignationID 

) As Final
left join EmployeeCadreTypeDesignationAllocation ECT with(nolock) on ECT.DesignationID=(case when DesignationID_NHS_P>0 then DesignationID_NHS_P else case when DesignationID_Promotion>0 and DesignationID_NHS_P=0 and History2Designation>0 then History2Designation else SanctionedDesignationID end end ) 
			and (case when final.EmployeeCategoryID=3 then 3 else 1 end) =Ect.EmployeeCategoryID
left join EmployeeTimeScalePeriods ETSP with(nolock) on ECT.EmployeeCadreTypeID=ETSP.EmployeeCadreTypeID  and ETSP.EffectiveDate=@EffectiveDate and ETSP.Approved=1  
left join EmployeeCadreTypes ECT1 with(nolock) on ECT1.EmployeeCadreTypeID=ECT.EmployeeCadreTypeID
where (case when @CadreTypeID=0 then 0 else ect.EmployeeCadreTypeID end)= @CadreTypeID 
and (case when @Flag='AutoUpdation' then 0 ELSE ETSP.EffectiveDate END) =(case when @Flag='AutoUpdation' then 0 ELSE @EffectiveDate END)



RETURN
END






GO
