USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SRStock]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SRStock]() RETURNS Table AS RETURN ( 

select OLID,ItemID,UnitID,a.SRPeriodID,RateYear,FromDate,ToDate,Price,(Row_Number() over (Order By ItemID,a.SRPeriodID )) as SlNo2
,(Row_Number() over (Partition By ItemID,OLID Order By ItemID,OLID,a.SRPeriodID)) as SlNo1 ,(Dense_Rank() over (Order By ItemID )) as SlNo from ( 
select *,(Row_Number() over (Partition By SRPeriodID,OLID,ItemID Order By SRPeriodID,OLID,ItemID,UnitID,Price desc)) as MaxNo from ( 
select SRPeriodID,OLID,ItemID,UnitID,Price from SRStock A with (nolock) where Price>0 union 
select SRPeriodID,OLID,ItemID,UnitID,Price from SRStockHistory B with (nolock) where Price>0 union 
select distinct b.SRPeriodID,OLID,ItemID,UnitID,0 Price from ( 
    select SRPeriodID,OLID,ItemID,UnitID,Price from SRStock A with (nolock) where Price>0 union 
	select SRPeriodID,OLID,ItemID,UnitID,Price from SRStockHistory B with (nolock) where Price>0 
	) as A 
Cross Join SRPeriods B with (nolock) 
) as A ) as A 

Inner Join ( select SRPeriodID,concat(convert(varchar,FromDate,104),' to ',convert(varchar,ToDate,104)) as RateYear,FromDate,ToDate from ( 
	select a.SRPeriodID,a.EffectiveDate as FromDate,isnull((b.EffectiveDate-1),convert(DateTime,concat(ToDate,'-12-31'))) as ToDate from (
	select SRPeriodID,EffectiveDate,ToDate,(Row_Number() over (Order By SRPeriodID)) as SlNo from SRPeriods with (nolock) 
	) as A Left Outer Join ( select SRPeriodID,EffectiveDate,(Row_Number() over (Order By SRPeriodID)) as SlNo from SRPeriods with (nolock) ) as B on b.SlNo-1=a.SlNo 
	) as A ) as B on b.SRPeriodID=a.SRPeriodID 
where MaxNo=1 

)
GO
