USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnOLID2]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   FUNCTION [dbo].[FnOLID2]()
returns @OLID2 table (OLID int)
as
 
begin




With OLID (C_OLID,Z_OLID,Cr_OLID,D_OLID,S_OLID,Se_OLID) as (
select * from (
select ola.OfficeLocationAllocationid as C_OLID,ola1.OfficeLocationAllocationid as Z_OLID,ola2.OfficeLocationAllocationid as Cr_OLID
,ola3.OfficeLocationAllocationid as D_OLID,ola4.OfficeLocationAllocationid as S_OLID,ola5.OfficeLocationAllocationid as Se_OLID
from OfficeLocationAllocation ola
left outer join OfficeLocationAllocation ola1 on ola1.UnderOfficeLocationAllocationid=ola.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola2 on ola2.UnderOfficeLocationAllocationid=ola1.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola3 on ola3.UnderOfficeLocationAllocationid=ola2.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola4 on ola4.UnderOfficeLocationAllocationid=ola3.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola5 on ola5.UnderOfficeLocationAllocationid=ola4.OfficeLocationAllocationid
where ola.OfficeLocationAllocationid=337) as OL
) 
 insert into @OLID2
  select C_OLID  from OLID

RETURN
END
GO
