USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnPerqisitesInvest]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnPerqisitesInvest]()
RETURNS  Table AS  
Return (

With TA (ContactID,YearID,MonthID,SectionID,Description,ActualAmount,DeclaredAmount,Limits,FnYear) as (
select ContactID,year(Date) as YearID,month(Date) as MonthID,SectionID,Description,ActualAmount,DeclaredAmount
,isnull((case when InvestmentTypeID=48 then NULL else 
(case when ltrim(rtrim(REPLACE( Limits, ',', '' )))='' then NULL else ltrim(rtrim(REPLACE( Limits, ',', '' ))) end) end),0) as Limits
,(case when month(Date) in (4,5,6,7,8,9,10,11,12) then (cast(Year(Date) as varchar(4))+'-'+cast(Year(Date)+1 as varchar(4))) else case when month(Date) in (1,2,3) then (cast(Year(Date)-1 as varchar(4))+'-'+cast(Year(Date) as varchar(4))) else NULL end end) as FnYear
from [dbo].[FnInvestments]() 
where InvestmentMainTypeId in (1,4)

), TA1 (ContactID,YearID,MonthID,SectionID,Description,ActualAmount,DeclaredAmount,Limits,FnYear,FAmount) as (
select ContactID,YearID,MonthID,SectionID,Description,sum(isnull(ActualAmount,0)) as ActualAmount,sum(isnull(DeclaredAmount,0)) as DeclaredAmount,max(distinct limits) as Limits,FnYear
,(case when sum(isnull(ActualAmount,0))>sum(isnull(DeclaredAmount,0)) then sum(isnull(ActualAmount,0)) else sum(isnull(DeclaredAmount,0)) end) as FAmount
from TA group by ContactID,YearID,MonthID,SectionID,Description,FnYear

)
select SectionID,Description,ActualAmount,DeclaredAmount,Limits
,(case when (FAmount-Limits)<=0 then 0 else (FAmount-Limits) end ) as TaxableAmount,FnYear,ContactID
from TA1

)
GO
