USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRWD]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnSRWD]()
RETURNS Table AS
RETURN 	(
	

select wd.TypeNo,srw.ScaleregisterID,wd.ID,isnull(-wd.Amount,0) as Amount
from ScaleRegisterWithdrawals srw
left outer join (
select 'BP' as TypeNo,ScaleregisterWithDrawalID,1 as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterBasicPayWithdrawals
group by ScaleregisterWithDrawalID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'AL' as TypeNo,ScaleregisterWithDrawalID,AllowanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterAllowanceWithdrawals 
group by ScaleregisterWithDrawalID,AllowanceID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'OA' as TypeNo,ScaleregisterWithDrawalID,SalaryAdditionOthersID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterOtherAdditionWithdrawals
group by ScaleregisterWithDrawalID,SalaryAdditionOthersID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'OD' as TypeNo,ScaleregisterWithDrawalID,SalaryDeductionOthersID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterOtherDeductionWithdrawals 
group by ScaleregisterWithDrawalID,SalaryDeductionOthersID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'LA' as TypeNo,ScaleregisterWithDrawalID,LoanAndAdvanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterLoanandAdvanceWithdrawals 
group by ScaleregisterWithDrawalID,LoanAndAdvanceID having round(sum(isnull(Amount,0)),0)<>0
) as WD on wd.ScaleregisterWithDrawalID=srw.ScaleregisterWithDrawalID where Amount<>0
)
GO
