USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_replace_character]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-------



create function [dbo].[fn_replace_character](@Word varchar(100))  RETURNS Table AS Return (

--Declare @Word varchar(100) = 'mic-104-2-305'

select Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(Replace(
lower(@Word)
,'a','')
,'b','')
,'c','')
,'d','')
,'e','')
,'f','')
,'g','')
,'h','')
,'i','')
,'j','')
,'k','')
,'l','')
,'m','')
,'n','')
,'o','')
,'p','')
,'q','')
,'r','')
,'s','')
,'t','')
,'u','')
,'v','')
,'w','')
,'x','')
,'y','')
,'z','') value

)




--------
GO
