USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Accounts_ETL_Activity18]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_Accounts_ETL_Activity18](@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN ( 

--Declare @FromDate DateTime = 0
--Declare @ToDate DateTime = 0

select ActivityID,DocumentNo,DateAndTime,StatusID from (
select  ActivityID,DocumentNo,DateAndTime,StatusID  
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from Fn_PNI_ETLToday(Year(@FromDate),Month(@FromDate)) A 
inner join ActivityApprovals_Accounts B with(nolock) on ActivityID in (121,135) and isnull(DocumentNo,0)>0 and DateAndTime>='2023-04-01' 
and StatusID in (1,8) and isnull(NextApproverContactID,0)=0 
and DateAndTime>=(case when @FromDate=0 then dateadd(month,-1,dateadd(day,1,EOMonth(Today))) else @FromDate end) 
and DateAndTime<(case when @FromDate=0 then EOMonth(Today) else @ToDate end)  
) A where MaxNo=1 

) 
GO
