USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAsOnDateEmployees]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAsOnDateEmployees](@AcOLID Int,@AsOnDate DateTime)
RETURNS Table AS
RETURN 	(


--Declare @AcOLID Int select @AcOLID = 341
--Declare @AsOnDate DateTime select @AsOnDate = '2016-01-25'




select a.* from (
select *,(Row_Number() over (Partition By AcOLID,ContactID Order By AcOLID,ContactID,AsOnDate Desc)) as SlNo1  from ( 

select * from ( select OLID as AcOLID,ContactID,ODLDID,srb.EndingDate as AsOnDate,isnull(EmployeeStatusID,0) as EmployeeStatusID,(Row_Number() over (Partition By OLID,ContactID Order By OLID,ContactID,srb.EndingDate Desc)) as SlNo 
,(case when Suppliment=8 then 'Temorary' else case when isnull(EmployeeCategoryID,1) in (2,8) and Suppliment<>8 then 'Temporary' else 'Regular' end end) as EmployeeCategory
from ScaleRegister sr with (nolock) left outer join ( select ScaleRegisterID,ODLDID,EmployeeStatusID,EndingDate from ScaleRegisterBasicPayDetails with (nolock) where isnull(ODLDID,0)<>0 and Month(StartingDate)=Month(EndingDate) ) as SRB on srb.ScaleRegisterID=sr.ScaleRegisterID
where srb.EndingDate>=@AsOnDate and Generated=1 and isnull(HeldUp,0)=0 and Suppliment in (0,9,8) and isnull(Legacy,0)=0 and (case when @AcOLID=0 then 0 else (case when OLID=0 then -1 else OLID end) end)=@AcOLID ) as SR where SlNo=1

union all
select * from ( select distinct AcOLID,ContactID,FromODLDID,(case when Right(Convert(varchar,RelievedDate1,120),8)>'12' then RelievedDate1 else RelievedDate1-1 end) as RelievedDate
,(case when AppointmentTypeID=8 and isnull(ExternalOrganizationID,0)!=0 then 19 else 1 end) as EmployeeStatusID,(Row_Number() over (Partition By AcOLID,ContactID Order By AcOLID,ContactID,RelievedDate1 Desc)) as SlNo 
,(case when isnull(EmployeeCategoryID,1) in (2,8) then 'Temporary' else 'Regular' end) as EmployeeCategory
from (select *,isnull(isnull(RelievedTime,RelievedDate),ReportedDate) as RelievedDate1 from EmployeeAppointmentDetails with (nolock)) as A 
left outer join ODLDAllocation odld with (nolock) on odld.ODLDID=FromODLDID
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left outer join FnUnderOL() ol on ol.OLID=ola.OfficeLocationAllocationID
where AppointmentTypeID in (2,3,4,20,21,22,8) and Approved=1 and Relieved=1 and isnull(ContactID,0)<>0 and isnull(FromODLDID,0)>0 
and (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 
and (case when Right(Convert(varchar,RelievedDate1,120),8)>'12' then RelievedDate1 else RelievedDate1-1 end)>=@AsOnDate ) as A where SlNo=1

union all
select * from FnReportedAfter() where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 
and ReportedDate>=@AsOnDate-365 and ReportedDate<@AsOnDate+1

union all
select AcOLID,e.ContactID,isnull(FromODLDID,e.ODLDID) as ODLDID,Today as AsOnDate,isnull(EmployeeStatusID,0) as EmployeeStatusID,1 as SlNo,(case when EmployeeCategoryID in (2,8) then 'Temporary' else 'Regular' end) as EmployeeCaegory
from (select * from Employee with (nolock) where ODLDID is not NULL and isnull(EmployeeStatusID,0) not in (14,15,16) ) as E cross join Today_HRMS with (nolock)
left outer join ( select ContactID,FromODLDID,(case when Right(Convert(varchar,RelievedDate1,120),8)>'12' then RelievedDate1 else RelievedDate1-1 end) as RelievedDate,(Row_Number() over (Partition By ContactID Order By ContactID,RelievedDate1 Desc)) as SlNo 
from (select *,isnull(isnull(RelievedTime,RelievedDate),ReportedDate) as RelievedDate1 from EmployeeAppointmentDetails with (nolock)) as A 
where AppointmentTypeID=23 and Approved=1 and Reported=1 and Regularised=0 ) as A on SlNo=1 and a.ContactID=e.ContactID
left outer join ODLDAllocation odld with (nolock) on odld.ODLDID=isnull(FromODLDID,e.ODLDID)
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left outer join FnUnderOL() ol on ol.OLID=ola.OfficeLocationAllocationID

where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID 
and e.ContactID not in ( select ContactID from FnReportedAfter() a where (case when @AcOLID=0 then 0 else AcOLID end)=@AcOLID and ReportedDate>@AsOnDate and a.ContactID=e.ContactID)

) as A ) as A cross join Today_HRMS
where SlNo1=1 and AsOnDate>=@AsOnDate 
and (case when EmployeeStatusID=8 and AsOnDate=Today then 1 else 0 end)=0
--and EmployeeCategory = 'Regular'

)
GO
