USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRBODLDID4]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRBODLDID4]() RETURNS Table AS RETURN ( 

With Lien (ContactID,FromODLDID,ToODLDID,RelievedDate) as ( 
select distinct ContactID,FromODLDID,ToODLDID,RelievedDate 
from EmployeeAppointmentDetails e with(nolock) 
where AppointmentTypeID in ( 23 ) and Regularised = 0 and Approved =1 and Reported=1 and Relieved=1 and ContactID is not NULL and ToODLDID is not NULL 
and EmployeeAppointmentDetailsID in (select max(e1.EmployeeAppointmentDetailsID) from EmployeeAppointmentDetails e1 with(nolock) 
    	where e1.ContactID=e.ContactID and e1.AppointmentTypeID=23 and e1.Regularised = 0 and e1.Approved =1 and e1.Reported=1 and e1.Relieved=1 and e1.ContactID is not NULL 
		and e1.ToODLDID is not NULL ) ) 

select distinct sr.ContactID as CID,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-1')) as Date,srb.ScaleRegisterID 
,(case when srb.ODLDID=L.ToODLDID then L.FromODLDID else srb.ODLDID end) as ODLDID,EmployeeStatusID,OLID 
from (select * from ScaleregisterBasicPayDetails srb with(nolock) 
where srb.StartingDate in (select max(srb1.StartingDate) from ScaleregisterBasicPayDetails srb1 with(nolock) where srb1.Scaleregisterid=srb.Scaleregisterid and isnull(srb1.ODLDID,0)>0 and isnull(Amount,0)<>0 group by srb1.Scaleregisterid) 
and isnull(srb.ODLDID,0)>0 and isnull(Amount,0)<>0 ) srb
left outer join ScaleRegister sr with(nolock) on sr.ScaleRegisterID=srb.ScaleRegisterID 
full join Lien L on l.ContactID=sr.ContactID 

)
GO
