USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnHead]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnHead]()
RETURNS Table AS
RETURN 	(




select 1 as ATypeID,2 as TypesID,BAID,AllowanceID as TypeID,Description,FromHead,ToHead,EmployeeStatusID
,(case when EmployeeStatusID=19 then 1 else DepartmentCategoryID end) as DepartmentCategoryID 
,(case when EmployeeStatusID=19 then 1 else EmployeeCategoryID end) as EmployeeCategoryID
from (
select distinct aah.AllowanceID,aac.Description,aaa.DepartmentCategoryID,aaa.EmployeeCategoryID,isnull(aaa.EmployeeStatusID,1) as EmployeeStatusID,1 as BAID
,(aaa.FromMainAccountCode+aaa.FromSubAccountCode) as FromHead,(aaa.ToMainAccountCode+aaa.ToSubAccountCode) as ToHead
from ActualtoAccountHeadAllowanceAllocation aah 
left outer join AccountHeadWiseAllowanceCategories aac on aac.AllowanceCategoryID=aah.AllowanceCategoryID
left outer join AccountHeadWiseAllowanceAllocation aaa on aaa.AllowanceCategoryID=aah.AllowanceCategoryID 
union all
select distinct aah.AllowanceID,aac.Description,aaa.DepartmentCategoryID,aaa.EmployeeCategoryID,isnull(aaa.EmployeeStatusID,1) as EmployeeStatusID,2 as ABID
,(aaa.FromPCMainAccountCode+aaa.FromPCSubAccountCode) as FromHead,(aaa.ToMainAccountCode+aaa.ToSubAccountCode) as ToHead
from ActualtoAccountHeadAllowanceAllocation aah 
left outer join AccountHeadWiseAllowanceCategories aac on aac.AllowanceCategoryID=aah.AllowanceCategoryID
left outer join AccountHeadWiseAllowanceAllocation aaa on aaa.AllowanceCategoryID=aah.AllowanceCategoryID 
where (aaa.FromPCMainAccountCode+aaa.FromPCSubAccountCode) is not NULL
union all
select distinct aah.AllowanceID,aac.Description,aaa.DepartmentCategoryID,aaa.EmployeeCategoryID,isnull(aaa.EmployeeStatusID,1) as EmployeeStatusID,2 as BAID
,(aaa.FromMainAccountCode+aaa.FromSubAccountCode) as FromHead,(aaa.ToMainAccountCode+aaa.ToSubAccountCode) as ToHead
from ActualtoAccountHeadAllowanceAllocation aah 
left outer join AccountHeadWiseAllowanceCategories aac on aac.AllowanceCategoryID=aah.AllowanceCategoryID
left outer join AccountHeadWiseAllowanceAllocation aaa on aaa.AllowanceCategoryID=aah.AllowanceCategoryID 
where aah.AllowanceID not in (1,20)
) as A
union all
select 1 as ATypeID,1 as TypesID,BAID,BasicID as TypeID,Description,FromHead,ToHead,EmployeeStatusID
,(case when EmployeeStatusID=19 then 1 else DepartmentCategoryID end) as DepartmentCategoryID 
,(case when EmployeeStatusID=19 then 1 else EmployeeCategoryID end) as EmployeeCategoryID
from (
select 1 as BasicID,'Basic Pay' as Description,DepartmentCategoryID,EmployeeCategoryID,isnull(EmployeeStatusID,1) as EmployeeStatusID,1 as BAID
,(FromMainAccountCode+FromSubAccountCode) as FromHead,(ToMainAccountCode+ToSubAccountCode) as ToHead
from AccountHeadWiseDepartmentAllocation
union all
select 1 as BasicID,'Basic Pay' as Description,DepartmentCategoryID,EmployeeCategoryID,isnull(EmployeeStatusID,1) as EmployeeStatusID,2 as ABID
,(FromPCMainAccountCode+FromPCSubAccountCode) as FromHead,(ToMainAccountCode+ToSubAccountCode) as ToHead
from AccountHeadWiseDepartmentAllocation where (FromPCMainAccountCode+FromPCSubAccountCode) is not NULL
) as B
union all
select 1 as ATypeID,3 as TypesID,ABID,SalaryAdditionOthersID as TypeID,Description,FromHead,ToHead,EmployeeStatusID
,(case when EmployeeStatusID=19 then 1 else DepartmentCategoryID end) as DepartmentCategoryID 
,(case when EmployeeStatusID=19 then 1 else EmployeeCategoryID end) as EmployeeCategoryID
from (
select a.SalaryAdditionOthersID,(case when sod.SalaryAdditionOthersID=13 then 'CPC' else case when sod.SalaryAdditionOthersID=16 then 'CPF' else sod.Description end end) as Description
,d.DepartmentCategoryID,1 as EmployeeCategoryID,1 as  EmployeeStatusID,2 as ABID
,(FromMainAccountCode+FromSubAccountCode) as FromHead,(ToMainAccountCode+ToSubAccountCode) as ToHead
from AccountHeadWiseSalaryAdditionsAllocation a cross join AccountHeadWiseDepartmentCategories d
inner join SalaryotherAdditions sod on sod.SalaryAdditionOthersID=a.SalaryAdditionOthersID
where a.SalaryAdditionOthersID in (13,16)
) as C
union all
select 1 as ATypeID,3 as TypesID,ABID,SalaryAdditionOthersID as TypeID,Description,FromHead,ToHead,EmployeeStatusID
,(case when EmployeeStatusID=19 then 1 else DepartmentCategoryID end) as DepartmentCategoryID 
,(case when EmployeeStatusID=19 then 1 else EmployeeCategoryID end) as EmployeeCategoryID
from (
select a.SalaryAdditionOthersID,(case when sod.SalaryAdditionOthersID=13 then 'CPC' else case when sod.SalaryAdditionOthersID=16 then 'CPF' else sod.Description end end) as Description
,d.DepartmentCategoryID,1 as EmployeeCategoryID,1 as  EmployeeStatusID,1 as ABID
,(FromMainAccountCode+FromSubAccountCode) as FromHead,(ToMainAccountCode+ToSubAccountCode) as ToHead
from AccountHeadWiseSalaryAdditionsAllocation a 
left outer join AccountHeadWiseDepartmentCategories d on d.DepartmentCategoryID=a.DepartmentCategoryID
inner join SalaryotherAdditions sod on sod.SalaryAdditionOthersID=a.SalaryAdditionOthersID
where a.SalaryAdditionOthersID not in (13,16)
) as C

)
GO
