USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMRWorkOrder]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMRWorkOrder] (@AcOLID Int)

RETURNS Table AS 
RETURN  (

--Declare @AcOLID Int select @AcOLID = 408


select * from (
select CircleOLID,AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,WorkDescription,MainAccountCode,SubAccountCode,UBGTypeID,UnderBGTypes,isnull(BillOfMaterialItemID,ItemID) as ItemID,isnull(BOMUnitID,FnUnitID) as UnitID,Sum(ActualQuantity) as ActualQuantity,Max(Multiply) as Multiply,Max(Devided) as Devided,(case when BOMUnitID is not NULL then Sum(MultiflyQuantity)  else Sum(case when ActualQuantity1=0 then ActualQuantity else ActualQuantity1 end) end) as ActualQuantity1  from (
select * ,(Round((ActualQuantity*Multiply),4) + (case when (ActualQuantity=0 or Devided=0) then 0 else Round((ActualQuantity/Devided),4) end)) as ActualQuantity1 from (
select wo.*,cast(isnull(mc.Quantity,0) as Numeric(19,4)) as Multiply,cast(isnull(dc.Quantity,0) as Numeric(19,4)) as Devided from ( 
select wo.*,isnull(fn.UnitID,wo.UnitID) as FnUnitID,(Row_Number() over (Partition By WorkOrderNo,wo.ItemID,WorkAllocationID,WorkAllocationSubID Order By WorkOrderNo,wo.ItemID,WorkAllocationID,WorkAllocationSubID,StockConditionID)) as MinNo from ( 

select distinct wo.*,bom.BillOfMaterialItemID,bom.UnitID as BOMUnitID,bom.Quantity,(isnull(ActualQuantity,0)*isnull(bom.Quantity,1)) as MultiflyQuantity
from FnMRWONo(@AcOLID) as wo
full outer join BillOfMaterials bom on bom.MainItemID=(case when wo.UnitID=27 then wo.ItemID else 0 end) ) as WO
full join  FnItemWiseUOM(@AcOLID)
 fn on fn.ItemID=wo.ItemID and fn.AcOLID=wo.AcOLID ) as WO
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=wo.ItemID and mc.UnitID=wo.UnitID and mc.UnitIIID=wo.FnUnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=wo.ItemID and dc.UnitID=wo.FnUnitID and dc.UnitIIID=wo.UnitID

where MinNo=1 ) as WO ) as WO Group By CircleOLID,AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,WorkDescription,MainAccountCode,SubAccountCode,UBGTypeID,UnderBGTypes,isnull(BillOfMaterialItemID,ItemID),FnUnitID,BOMUnitID ) as WO


--where WorkOrderNo = 64023 and wo.ItemID = 656

)
GO
