USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getAdditionsForJVarrears]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getAdditionsForJVarrears](@ContactID int,@OLID int,@EndDate varchar(10))
returns table
as return (
select  ScaleRegisterOtherAdditions.ScaleRegisterID, ScaleRegisterOtherAdditions.SalaryOtherAdditionID ,
ScaleRegisterOtherAdditions.Amount as Amount   
from ScaleRegisterOtherAdditions 
where ScaleRegisterOtherAdditions.ScaleRegisterID in (
Select ScaleRegisterID   from scaleregister where endingdate<@EndDate and OLID=@OLID and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) 
and contactid=@ContactID )
union ALl
select ScaleRegisterID,SRAW.SalaryAdditionOthersID,(-SRAW.Amount) from ScaleRegisterOtherAdditionWithdrawals SRAW,ScaleRegisterWithdrawals 
where ScaleRegisterID in (
Select ScaleRegisterID   from scaleregister where endingdate<@EndDate and OLID=@OLID and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) 
and contactid=@ContactID )
and  SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID )
GO
