USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAcOLID]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAcOLID]() RETURNS Table AS RETURN ( 

With ACOID (AOID) as ( 
select OfficeTypeProjectAllocationID from OfficeTypeProjectAllocation with (nolock) where projectID = 1 
and OfficeTypeID in (select OfficeTypeID from OfficeTypes with (nolock) where Accounts=1) )

select distinct ola.OfficeLocationAllocationid as OLID ,isnull( isnull( isnull( isnull( isnull( 
(case when a1.AOID is null then NULL else ola1.OfficeLocationAllocationid end) 
,(case when a2.AOID is null then NULL else ola2.OfficeLocationAllocationid end) ) 
,(case when a3.AOID is null then NULL else ola3.OfficeLocationAllocationid end) ) 
,(case when a4.AOID is null then NULL else ola4.OfficeLocationAllocationid end) ) 
,(case when a5.AOID is null then NULL else ola5.OfficeLocationAllocationid end) ) 
,(case when a6.AOID is null then NULL else ola6.OfficeLocationAllocationid end) ) as AcOLID 

from OfficeLocationAllocation ola with (nolock) 
left outer join OfficeLocationAllocation ola1 with (nolock) on ola1.OfficeLocationAllocationid=ola.OfficeLocationAllocationid 
left outer join ACOID a1 on a1.AOID=ola1.OfficeID 
left outer join OfficeLocationAllocation ola2 with (nolock) on ola2.OfficeLocationAllocationid=ola.UnderOfficeLocationAllocationid 
left outer join ACOID a2 on a2.AOID=ola2.OfficeID 
left outer join OfficeLocationAllocation ola3 with (nolock) on ola3.OfficeLocationAllocationid=ola2.UnderOfficeLocationAllocationid 
left outer join ACOID a3 on a3.AOID=ola3.OfficeID 
left outer join OfficeLocationAllocation ola4 with (nolock) on ola4.OfficeLocationAllocationid=ola3.UnderOfficeLocationAllocationid 
left outer join ACOID a4 on a4.AOID=ola4.OfficeID 
left outer join OfficeLocationAllocation ola5 with (nolock) on ola5.OfficeLocationAllocationid=ola4.UnderOfficeLocationAllocationid 
left outer join ACOID a5 on a5.AOID=ola5.OfficeID 
left outer join OfficeLocationAllocation ola6 with (nolock) on ola6.OfficeLocationAllocationid=ola5.UnderOfficeLocationAllocationid 
left outer join ACOID a6 on a6.AOID=ola6.OfficeID )
GO
