USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAttendance_hierarchyNew_old]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnAttendance_hierarchyNew_old] (@OLID Int,@DPID Int,@DNID Int,@FromDate DateTime,@ToDate DateTime)

RETURNS Table AS 
RETURN (

--Declare @OLID Int select @OLID = 359
--Declare @DPID Int select @DPID = 179
--Declare @DNID Int select @DNID = 234
--Declare @FromDate DateTime select @FromDate = '2016-12-16'
--Declare @ToDate DateTime select @ToDate = '2017-01-15'



select distinct Ordered,AcOLID,OLID,OfficeLocation,ODLDID,OLDID,ODID,ODDID,OfficeID,LocationID,DesignationID,DepartmentID,UnderDPID,a.ContactID,ContactName,Designation,OrderNo,EmployeeCategoryID,EmployeeGradeID from ( 
select distinct a.*,d.Permission as P3,d.DepartmentID as D3 from ( select distinct a.*,c.Permission as P2,c.DepartmentID as D2 from ( select distinct a.*,b.Permission as P1,b.DepartmentID as D1
from FnUnderEmployees(@OLID,@DPID,@DNID,@FromDate,@ToDate)
 A
full join FnUnderEmployees(@OLID,@DPID,@DNID,@FromDate,@ToDate) B on isnull(b.Ordered1,0)+1=a.Ordered1 and isnull(b.OLID,0)=a.OLID where (case when a.AcOLID is NULL then 1 else 0 end)=0 ) as A
full join FnUnderEmployees(@OLID,@DPID,@DNID,@FromDate,@ToDate) C on isnull(c.Ordered1,0)+2=a.Ordered1 and isnull(c.OLID,0)=a.OLID where (case when a.AcOLID is NULL then 1 else 0 end)=0 ) as A
full join FnUnderEmployees(@OLID,@DPID,@DNID,@FromDate,@ToDate) D on isnull(d.Ordered1,0)+3=a.Ordered1 and isnull(d.OLID,0)=a.OLID where (case when a.AcOLID is NULL then 1 else 0 end)=0 ) as A
left outer join ( select Distinct ContactID from EmployeeAppointmentDetails with (nolock) where Approved=1 and Reported=1 and isnull(Regularised,0)=0 and AppointmentTypeID in (1,26) ) as PP on pp.ContactID=a.ContactID
where (case when isnull(isnull(D1,D2),D3)=156 and DepartmentID=190 then NULL else (isnull(isnull(P1,P2),P3)) end) is NULL
and (case when pp.ContactID is not NULL then 1 else case when EmployeeGradeID not in (1,2) then 1 else 0 end end)=1
--Order By Ordered


)
GO
