USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_HRA_WC]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_HRA_WC] (@FromDate DateTime,@ToDate DateTime,@OLID int) RETURNS Table AS Return (




--Declare @FromDate DateTime = '2024-04-01'
--Declare @ToDate DateTime = '2024-04-30'
--Declare @OLID int = 344 ;

select a.ContactID,OLID,A.BillRegisterNo
,(HRA-isnull(Sum(case when DebitAccountCode='28.104' then Amount else 0 end),0)) HRA
,(WC-isnull(Sum(case when DebitAccountCode='28.105' then Amount else 0 end),0)) WC
from (
select ContactID,OLID,Sum(HRA) HRA,Sum(WC) WC,A.BillRegisterNo from (
select a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,OLID,Suppliment,BillRegisterNo,BillRegisterDate,JVNo,JVDate
,Round(Sum(case when SalaryOtherDeductionid=20 then Amount else 0 end),0) HRA,Round(Sum(case when SalaryOtherDeductionid=21 then Amount else 0 end),0) WC from (
select ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,OLID,Suppliment,BillRegisterNo,BillRegisterDate,JVNo,JVDate
from ScaleRegister A with(nolock) where Generated=1 and isnull(Heldup,0)=0 and Suppliment in (0,9,1,6,10,11,13)
--and OLID=@OLID
and ContactID in ( select distinct eq.ContactID
from ( select * from (
select ContactID,EmployeeQuartersID,FromDate,isnull(ToDate,@ToDate) ToDate,Vaccated
,(Row_Number() over (Partition By ContactID Order By ContactID,isnull(ToDate,@ToDate) desc,EmployeeQuarterDetailsID desc )) rowno
from EmployeeQuarterDetails with(nolock) where ( @FromDate Between FromDate and isnull((case when isnull(Vaccated,0)=0 then NULL else ToDate end),@ToDate) or @ToDate Between FromDate and isnull((case when isnull(Vaccated,0)=0 then NULL else ToDate end),@ToDate) )
) A where rowno = 1 ) eq
inner join Buildings b with (nolock) on b.BuildingID=eq.EmployeeQuartersID and OLID=@OLID )
and JVDate Between @FromDate and @ToDate and BillRegisterDate is not null and Len(BillRegisterNo)>20
) A inner join ScaleRegisterOtherDeductions b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID and SalaryOtherDeductionid in (20,21)
Group by a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,OLID,Suppliment,BillRegisterNo,BillRegisterDate,JVNo,JVDate
union all
select a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,OLID,Suppliment,BillRegisterNo,BillRegisterDate,JVNo,JVDate
,-Round(Sum(case when b1.SalaryDeductionOthersID=20 then Amount else 0 end),0) HRA,-Round(Sum(case when b1.SalaryDeductionOthersID=21 then Amount else 0 end),0) WC from (
select ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,OLID,Suppliment,BillRegisterNo,BillRegisterDate,JVNo,JVDate
from ScaleRegister with(nolock) where Generated=1 and isnull(Heldup,0)=0 and Suppliment in (1,6,10,11,13)
--and OLID=@OLID
and ContactID in ( select distinct eq.ContactID
from ( select * from (
select ContactID,EmployeeQuartersID,FromDate,isnull(ToDate,@ToDate) ToDate,Vaccated
,(Row_Number() over (Partition By ContactID Order By ContactID,isnull(ToDate,@ToDate) desc,EmployeeQuarterDetailsID desc )) rowno
from EmployeeQuarterDetails with(nolock) where ( @FromDate Between FromDate and isnull((case when isnull(Vaccated,0)=0 then NULL else ToDate end),@ToDate) or @ToDate Between FromDate and isnull((case when isnull(Vaccated,0)=0 then NULL else ToDate end),@ToDate) )
) A where rowno = 1 ) eq
inner join Buildings b with (nolock) on b.BuildingID=eq.EmployeeQuartersID and OLID=@OLID )
and JVDate Between @FromDate and @ToDate and BillRegisterDate is not null and Len(BillRegisterNo)>20
) A inner join ScaleRegisterWithDrawals b with(nolock) on b.ScaleRegisterID=a.ScaleRegisterID
inner join ScaleRegisterOtherDeductionWithDrawals b1 with(nolock) on b1.ScaleRegisterWithDrawalID=b.ScaleRegisterWithDrawalID and b1.SalaryDeductionOthersID in (20,21)
Group by a.ScaleRegisterID,ContactID,SalaryYear,SalaryMonth,OLID,Suppliment,BillRegisterNo,BillRegisterDate,JVNo,JVDate
) A Group by ContactID,OLID,A.BillRegisterNo
Having (Sum(HRA)+Sum(WC))!=0
) A left join (
select a.DebitAccountCode,Contactid,Sum(Amount) Amount from (
select DemandRaisingid,DebitAccountCode from DemandRaising with(nolock) where ContactCategoryid=3 and DocumentTypeid=82 and isnull(Canceled,0)=0 and DebitAccountCode in ('28.104','28.105')
and convert(datetime,Concat(Year,'-',Month,'-1')) Between @FromDate and @ToDate and DemandRaisingOLID=@OLID
) A inner join DemandRaisingDetails B with(nolock) on b.DemandRaisingid =a.DemandRaisingid
Group by a.DebitAccountCode,Contactid ) B on b.ContactID=a.ContactID
Group by a.ContactID,OLID,HRA,WC,A.BillRegisterNo
Having ( abs(HRA-isnull(Sum(case when DebitAccountCode='28.104' then Amount else 0 end),0)) + abs(WC-isnull(Sum(case when DebitAccountCode='28.105' then Amount else 0 end),0)) )!=0
--Order By ContactID



)
GO
