USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getDeductionsForJVNew1]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getDeductionsForJVNew1](@BRNo varchar(100),@OL int,@Suppl varchar(10),@Gen int,@Held int,@EmpCat varchar(10))
returns table
as return (

 --Declare @BRNo varchar(100) = '0'
 --Declare @OL int = 355
 --Declare @Suppl varchar(10) = '2'
 --Declare @Gen int = 1
 --Declare @Held int = 0
 --Declare @EmpCat varchar(10) = '1,4,5,7' ;
 

with SRID as ( 
select sr.ScaleRegisterID from ScaleRegister SR  with(NoLock) 
left outer join EmployeeRecoveryScaleRegisterDetails ERS with(NoLock) on SR.ScaleRegisterID=ERS.ScaleRegisterID 
where BillRegisterNo=@BRNo and Generated=@Gen and HeldUp=@Held and OLID =@OL
--and  (case when ERS.ScaleRegisterID is not null then @OL else OLID end)=@OL
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and cast((case when Suppliment=6 then 0 else isnull(EmployeeCategoryID,0) end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-' then ContactID else 0 end)  in (
select  (case when  (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-' then ContactID else 0 end)  from ScaleRegister with(NoLock)
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0 ) ) 



select ScaleRegisterID,SalaryOtherDeductionID,Sum(Amount) as amount from (
select a.ScaleRegisterID, SalaryOtherDeductionID ,Round(Round(sum(isnull(b.Amount,0)),2),0) as Amount 
from SRID a left outer Join ScaleRegisterOtherDeductions B with(NoLock) on isnull(b.amount,0)!=0 and isnull(SalaryOtherDeductionID,0)!=0 and b.ScaleRegisterID=a.ScaleRegisterID
group by a.ScaleRegisterID, SalaryOtherDeductionID having Round(Round(sum(isnull(b.Amount,0)),2),0)<>0
union all
select ScaleRegisterID,SRAW.SalaryDeductionOthersID SalaryOtherDeductionID,(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) Amount
from ( select ScaleRegisterID,ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals SRW with(NoLock) where srw.ScaleRegisterID in (select ScaleRegisterID from SRID AA where aa.ScaleRegisterID=srw.ScaleRegisterID) ) SRW
Inner Join ScaleRegisterOtherDeductionWithdrawals SRAW with(NoLock) on SRAW.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.SalaryDeductionOthersID having (-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) <>0
) as Arrears group by ScaleRegisterID,SalaryOtherDeductionID having sum(Amount)<>0

)
GO
