USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_PNI_ETLToday]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fn_PNI_ETLToday](@YearID Int,@MonthID Int) RETURNS Table AS RETURN ( 

--Declare @YearID Int = 2023 
--Declare @MonthID Int = 9 

select (cast(Year(StartingFyYear) as varchar(4))+'-'+right(cast(Year(EndingFyYear) as varchar(4)),2)) as FYYear,*,cast(EOMonth(MonthStartdate) as DateTime) MonthEnddate from ( 
select convert(datetime,(cast((Case when Month(Today1) in (1,2,3) then Year(Today1)-1 else Year(Today1) end) as varchar(4))+'-4-1')) as StartingFyYear
,convert(datetime,(cast((Case when Month(Today1) in (1,2,3) then Year(Today1) else Year(Today1) +1 end) as varchar(4))+'-3-31')) as EndingFyYear,Today,Today1 MonthStartdate from ( 
select (case when (@YearID=0 or @MonthID=0) then dateadd(month,-1,dateadd(day,1,EOMonth(Today))) else convert(datetime,(cast(@YearID as varchar(4))+'-'+cast(@MonthID as varchar(2))+'-1')) end) as Today1,Today 
from Today_PnI with(nolock)) as T ) as T 

)
GO
