USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getLoanANDAdvForJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getLoanANDAdvForJV](@ScaleRegisterID int)
returns table
as return (
select ScaleRegisterID,LoanAndAdvanceID,ExternalOrganisationID,Sum(Amount) as amount from
(select ScaleRegisterLoansandAdvances.ScaleRegisterID, ScaleRegisterLoansandAdvances.LoanAndAdvanceID ,isnull(ScaleRegisterLoansandAdvances.ExternalOrganisationID,0) as ExternalOrganisationID ,
Round(Round(sum(isnull(ScaleRegisterLoansandAdvances.Amount,0)),2),0) as Amount
from ScaleRegisterLoansandAdvances
where ScaleRegisterLoansandAdvances.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterLoansandAdvances.ScaleRegisterID, ScaleRegisterLoansandAdvances.LoanAndAdvanceID,isnull(ScaleRegisterLoansandAdvances.ExternalOrganisationID,0)
having Round(Round(sum(isnull(ScaleRegisterLoansandAdvances.Amount,0)),2),0)<>0
union ALl
select ScaleRegisterID,SRAW.LoanAndAdvanceID,isnull(SRAW.ExternalOrganisationID,0) as ExternalOrganisationID,
(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0))
from ScaleRegisterLoanandAdvanceWithdrawals SRAW,ScaleRegisterWithdrawals
where ScaleRegisterID =@ScaleRegisterID
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.LoanAndAdvanceID,isnull(SRAW.ExternalOrganisationID,0)
having (-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) <>0)as Arrears
 group by ScaleRegisterID,LoanAndAdvanceID,ExternalOrganisationID having sum(Amount)<>0 )
GO
