USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnLCBill]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnLCBill] (@FromFyYear DateTime,@ToFyYear DateTime,@AcOLID Int)

RETURNS Table AS 
RETURN 	(



--Declare @FromFyYear DateTime select @FromFyYear = '2016-12-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2016-12-31'
--Declare @AcOLID Int select @AcOLID = 658
--;



With LCDis (JournalVoucherNo,Amount) as (
select a.JournalVoucherNo,Sum(Amount) Amount from JournalVoucherDetails a with (nolock) 
inner join JournalVoucher C on c.JournalVoucherNo=a.JournalVoucherNo and c.Approved=1 and JournalVoucherDate Between @FromFyYear and @ToFyYear and c.OLID=@AcOLID
where a.OLID = @AcOLID and Round(Round(Amount,2),2)<>0 and (FromMainAccountCode+FromSubAccountCode)='77.550' Group By a.JournalVoucherNo

) , LC1 (AcOLID,BillRegisterNo,BillRegisterOLID,LCAmount,DocumentNo,DocumentTypeID,NetPayable,JournalVoucherNo,LC77 ) as (
select AcOLID,BillRegisterNo,BillRegisterOLID,LCAmount,DocumentNo,a.DocumentTypeID,(isnull(NetPayable,0)-isnull(jv.Amount,0))  NetPayable,a.JournalVoucherNo,isnull(jv.Amount,0)
from CivilInvoice A With (NoLock)  inner join FnUnderOL() B on b.OLID=a.BillRegisterOLID 
inner join JournalVoucher C on c.JournalVoucherNo=a.JournalVoucherNo and c.Approved=1 and JournalVoucherDate Between @FromFyYear and @ToFyYear and c.OLID=@AcOLID
Full Join LCDis JV on jv.JournalVoucherNo=a.JournalVoucherNo
where (isnull(NetPayable,0)-isnull(jv.Amount,0)+isnull(a.JournalVoucherNo,0))!=0
--and c.JournalVoucherNo = 382953

) , WONo (WorkOrderNo,WorkAllocationID,AccountCode) as (
select distinct WorkOrderNo,wo.WorkAllocationID,(MainAccountCode+SubAccountCode) as AccountCode 
from WorkOrder wo With (NoLock) left outer join WorkAllocation WA on wa.WorkAllocationID=wo.WorkAllocationID
where WorkOrderNo in (select DocumentNo from LC1 LC where lc.DocumentNo=wo.WorkOrderNo)

) , LC (AcOLID,BillRegisterNo,BillRegisterOLID,LCAmount,AccountCode,NetPayable,JournalVoucherNo) as (
select AcOLID,BillRegisterNo,BillRegisterOLID,LCAmount,AccountCode,NetPayable,JournalVoucherNo
from LC1 LC full join WONo wo on wo.WorkOrderNo=(case when DocumentTypeID in (2,22) then lc.DocumentNo else 0 end)

) , T (BillRegisterNo,OLID,Amount,FromAcCode,ToAcCode,JournalVoucherNo) as (
select td.BillRegisterNo,OLID,Round(Round((TaxAmount+DifferenceAmount),2),0) as TaxAmount,(FromMainAccountCode+FromSubAccountCode) as FromAcCode,(case when t.TaxID in (58,1107) and @FromFyYear<'2017-04-01' then '46.930' else (ToMainAccountCode+ToSubAccountCode) end) as ToAcCode,JournalVoucherNo
from TaxDetails td With (NoLock) inner join Tax t With (NoLock) on t.TaxID=td.TaxID
inner join LC on lc.BillRegisterNo=td.BillRegisterNo and lc.BillRegisterOLID=td.OLID

) , RC (BillRegisterNo,OLID,Amount,FromAcCode,ToAcCode,JournalVoucherNo) as (
select td.BillRegisterNo,OLID,(Round(Round(RecoveryAmount,2),0) + (case when isnull(DifferenceAmount,0)!=0 then Round(Round(DifferenceAmount,2),0) else 0 end) ) as RecoveryAmount,(FromMainAccountCode+FromSubAccountCode) as FromAcCode,(ToMainAccountCode+ToSubAccountCode) as ToAcCode,JournalVoucherNo
from RecoveryDetails td With (NoLock) inner join Recovery t With (NoLock) on t.RecoveryID=td.RecoveryID 
inner join LC on lc.BillRegisterNo=td.BillRegisterNo and lc.BillRegisterOLID=td.OLID

) , L (BillRegisterNo,OLID,Amount,FromAcCode,ToAcCode,JournalVoucherNo) as (
select td.BillRegisterNo,OLID,Round(Round(LiabilityAmount,2),0) as LiabilityAmount,(FromMainAccountCode+FromSubAccountCode) as FromAcCode,(ToMainAccountCode+ToSubAccountCode) as ToAcCode,JournalVoucherNo
from LiabilityDetails td With (NoLock) inner join Liabilities t With (NoLock) on t.LiabilityID=td.LiabilityID 
inner join LC on lc.BillRegisterNo=td.BillRegisterNo and lc.BillRegisterOLID=td.OLID

) , DP (BillRegisterNo,OLID,Amount,FromAcCode,ToAcCode,JournalVoucherNo) as (
select td.BillRegisterNo,OLID,Round(Round(DepositAmount,2),0) as DepositAmount,(FromMainAccountCode+FromSubAccountCode) as FromAcCode,(ToMainAccountCode+ToSubAccountCode) as ToAcCode,JournalVoucherNo
from DepositDetails td With (NoLock) inner join Deposits t With (NoLock) on t.DepositID=td.DepositID 
inner join LC on lc.BillRegisterNo=td.BillRegisterNo and lc.BillRegisterOLID=td.OLID

--) , O (BillRegisterNo,OLID,Amount,FromAcCode,ToAcCode,JournalVoucherNo) as (
--select a.* from (
--select td.BillRegisterNo,td.BillRegisterOLID,Round(Round(td.Amount,2),0) as Amount,NULL as FromAcCode,NULL as ToAcCode,lc.JournalVoucherNo from CivilInvoiceOtherDetails td With (NoLock) 
--left outer join RC rc on rc.BillRegisterNo=td.BillRegisterNo and cast(rc.Amount as float)=cast(Round(Round(td.Amount,2),0) as float)
--inner join LC lc on lc.BillRegisterNo=td.BillRegisterNo and lc.BillRegisterOLID=td.BillRegisterOLID
--and rc.Amount is NULL ) as A
--left outer join DP rc on rc.BillRegisterNo=a.BillRegisterNo and cast(rc.Amount as float)=cast(a.Amount as float)
--where rc.Amount is NULL

) , TLRD (BillRegisterNo,BillRegisterOLID,Amount,FromAcHead,ToAcCode,JournalVoucherNo) as (
select * from ( 
select * from T union all select * from RC  union all select * from DP union all select * from L  --union all select * from O 
union all
select BillRegisterNo,BillRegisterOLID,Netpayable,AccountCode as FromAcHead,'42.401' as ToAcHead,JournalVoucherNo from LC
union all
select BillRegisterNo,BillRegisterOLID,LC77,'77.550' as FromAcHead,'42.401' as ToAcHead,JournalVoucherNo from LC1 where isnull(LC77,0)!=0
union all
select a.BillRegisterNo,OLID,-Amount,AccountCode,ToAcCode,a.JournalVoucherNo 
from ( select * from T where ToAcCode='42.401' ) as A inner join LC B on b.BillRegisterNO=a.BillRegisterNo and b.BillRegisterOLID=a.OLID
) as A where ToAcCode is not NULL

)

select JournalVoucherNo,BillRegisterNo,BillRegisterOLID,FromAcHead,ToAcCode,Sum(Amount) as Amount,'7' as VoltageClassCode from (
select JournalVoucherNo,a.BillRegisterNo,a.BillRegisterOLID,(case when FromAcHead is NULL then AccountCode else FromAcHead end) as FromAcHead
,(case when FromAcHead is NULL and ToAcCode is NULL then '42.401' else ToAcCode end) as ToAcCode,Amount
from TLRD a full join ( select Distinct BillRegisterNo,BillRegisterOLID,AccountCode from LC ) as b on b.BillRegisterNo=a.BillRegisterNo and b.BillRegisterOLID=a.BillRegisterOLID
) as A Group By JournalVoucherNo,BillRegisterNo,BillRegisterOLID,FromAcHead,ToAcCode Having Sum(Amount)!=0
--Order By BillRegisterNo,BillRegisterOLID,FromAcHead,ToAcCode



)
GO
