USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnRatesAL]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnRatesAL](@YearID Int,@MonthID Int)

RETURNS Table AS
RETURN 	(



--Declare @YearID Int select @YearID = 2015
--Declare @MonthID Int select @MonthID = 4



select Allowances,a.* ,Recurring,DefaultAllowance,DoubleWages,ELS,Shift,Handicapped,HRA,DA,Incharge,CCA,InvestmentTypeID,AppointmentTypeID,EmployeePayTypeID,CAPaid
from ( select RateTypeID as AllowanceID,Duration,FromDate,isnull(ToDate,LDate) as ToDate,RateSeries,isnull(RateUnits,0) as RateUnits,isnull(Rates,0) as Rates,isnull(MinimumAmount,0) as MinimumAmount,isnull(MaximumAmount,0) as MaximumAmount,isnull(Addition,0) as Addition
,RateMode,RateType,isnull(DesignationID,0) as DesignationID,isnull(EmployeeGradeID,0) as EmployeeGradeID,isnull(TerritoryClassTypeID,0) as TerritoryClassTypeID,isnull(OfficeDepartmentAllocationID,0) as OfficeDepartmentAllocationID
,isnull(EmployeePayDetailsID,0) as EmployeePayDetailsID,isnull(TerritoryID,0) as TerritoryID,isnull(ExternalOrganisationTypeID,0) as ExternalOrganisationTypeID

from FnRateDetails() Cross Join FnETLToday(@YearID,@MonthID) where Today1 Between FromDate and isnull(ToDate,LDate)
and RateTypes='Allowances'  ) as A
left outer join (  select a.AllowanceID,a.Description as Allowances,isnull(cast(Recurring as Int),0) as Recurring,isnull(cast(DefaultAllowance as Int),0) as DefaultAllowance,isnull(cast(DoubleWages as Int),0) as DoubleWages,isnull(cast(ELS as Int),0) as ELS
,isnull(InvestmentTypeID,0) as InvestmentTypeID,isnull(ap.AppointmentTypeID,0) as AppointmentTypeID,(case when a.AllowanceID in (6,35,38,42) then 8 else 0 end) as EmployeePayTypeID
,(case when a.AllowanceID=20 then 1 else 0 end) as Shift,(case when a.AllowanceID=20 then 1 else 0 end) as Handicapped,(case when a.AllowanceID=20 then 1 else 0 end) as HRA
,(case when a.AllowanceID=20 then 1 else 0 end) as DA,(case when a.AllowanceID=20 then 1 else 0 end) as Incharge,(case when a.AllowanceID=20 then 1 else 0 end) as CCA
,(case when isnull(InvestmentTypeID,0)<>0 and a.AllowanceID not in (2) then 0 else 1 end) as CAPaid
from Allowances a left outer join AppointmentTypes_Config ap on ap.AllowanceID=a.AllowanceID and isnull(ap.AllowanceID,0) not in (0,4)
where isnull(EmployeeAllowance,0)=1 ) as B on b.AllowanceID=a.AllowanceID
where Allowances is not NULL


)
GO
