USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_BRSReports]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE Function [dbo].[Fn_BRSReports](@OfficeID int,@LocationID int,@YearID int,@MonthID int,@FinalApprove int) RETURNS Table AS Return ( 



--Declare @OfficeID int = 80  
--Declare @LocationID int = 341 
--Declare @YearID int = 2023 
--Declare @MonthID int = 4
--Declare @FinalApprove int = 1
--;


with data1 as ( 
select a.* ,isnull(b.PaymentMode,Particulars) PaymentMode,PaymentModeID from (
select a.* , CashBookTransactionTypeID,TransactionDate,ReceiptOrVoucherNo,Particulars,MiscelleneousAmount,ReceiptsOrRemittance,isnull(b.Others,0) Others_CBT,DistributionBank
,CBVNo,MainAccountCode,SubAccountCode from (
select a.* ,CashBookID,ExternalOrganisationID,ExternalOrganisationBranchID,AccountNo,Miscellaneous,Balance,Others,Receipts,CashBookYear,CashBookMonth
from ( select AcOLID,OLID,OfficeLocation
from OfficeLocationAccountingUnitDetails A with(nolock) where (case when @OfficeID=0 then 0 else OfficeID end)=@OfficeID and (case when @LocationID=0 then 0 else LocationID end)=@LocationID 
and OLID in (select b.OLID from BankReconciliationStatment B with(nolock) where b.OLID=a.OLID and B.CashBookYear=@YearID and b.CashBookMonth=@MonthID and isnull(Approved,0)=@FinalApprove)
) A inner join CashBook B with(nolock) on CashBookYear=@YearID and CashBookMonth=@MonthID  and Approved=1 and b.OLID=a.OLID ) A
inner join CashBookTransactions B with(nolock) on b.CashBookID=a.CashBookID and b.Approved=1 and isnull(ReceiptsOrRemittance,0)!=0 ) A 
left join SecurityDepositDetails B with(nolock) on b.referencenumber=isnull(ReceiptOrVoucherNo,0) and b.OLID=a.OLID and Year(b.ReferenceDate)=a.CashBookYear and Month(b.ReferenceDate)=a.CashBookMonth  
	and b.SecurityDepositid in ( select SecurityDepositid from SecurityDeposit b1 with(nolock) where b1.SecurityDepositid=b.SecurityDepositid and b1.Approved = 1  )
left join PaymentModes C with(nolock) on ltrim(rtrim(c.description))=ltrim(rtrim(isnull(b.PaymentMode,Particulars)))
--where (case when c.PaymentModeid=19 and CashBookTransactionTypeID in (1,2) then 0 else 1 end)=1 

) , Cheques_OB as (
select a.OLID,a.CashBookID,a.CashBookYear,a.CashBookMonth,sum(isnull(ChequeAmount,0))  Cheque_OB 
from ( select distinct OLID,CashBookID,CashBookYear,CashBookMonth,convert(datetime,concat(CashBookYear,'-',CashBookMonth,'-1')) PM_Date from data1 ) A 
inner join BankReconciliationStatment B with(nolock) on b.OLID=a.OLID and convert(datetime,concat(b.CashBookYear,'-',b.CashBookMonth,'-1')) = dateadd(month,-1,PM_Date) 
inner join UnrealisedCheques D with(nolock) on d.BankReconciliationStatmentID=B.BankReconciliationStatmentID and isnull(d.Remitted,0)=0 
Group By a.OLID,a.CashBookID,a.CashBookYear,a.CashBookMonth

) , Transfered as (
select a.OLID,a.CashBookID,a.CashBookYear,a.CashBookMonth,TransferDate,sum(isnull(TransferedAmount,0))  Trans_Amount 
from ( select distinct OLID,CashBookID,CashBookYear,CashBookMonth from data1 ) A 
inner join BankReconciliationStatment B with(nolock) on b.OLID=a.OLID and B.CashBookYear=a.CashBookYear and b.CashBookMonth=a.CashBookMonth and isnull(Approved,0)=@FinalApprove 
inner join NonOperativeBankRemittanceDetails D with(nolock) on d.BankReconciliationStatmentID=B.BankReconciliationStatmentID 
Group By a.OLID,a.CashBookID,a.CashBookYear,a.CashBookMonth,TransferDate

) , Receipts as ( 
select OLID,CashBookID,CashBookYear,CashBookMonth,TransactionDate
,sum(case when PaymentModeID=1 then isnull(ReceiptsOrRemittance,0) else 0 end) Cash 
,sum(case when PaymentModeID in (2,3,19) then isnull(ReceiptsOrRemittance,0) else 0 end) Cheque_DD
,sum(case when PaymentModeID=15 then isnull(ReceiptsOrRemittance,0) else 0 end) Post_Office
,sum(case when PaymentModeID=10 then isnull(ReceiptsOrRemittance,0) else 0 end) NEFT
,sum(case when PaymentModeID=13 then isnull(ReceiptsOrRemittance,0) else 0 end) Mobile_One
,sum(case when PaymentModeID=11 then isnull(ReceiptsOrRemittance,0) else 0 end) PayTM
,sum(case when PaymentModeID=14 then isnull(ReceiptsOrRemittance,0) else 0 end) BBPS_Receipts
,sum(case when PaymentModeID=21 then isnull(ReceiptsOrRemittance,0) else 0 end) BBPS_Non_Receipts
,sum(case when isnull(PaymentModeID,0) not in (1,2,3,15,10,13,11,14,18,16,17,19,21,22) then isnull(ReceiptsOrRemittance,0) else 0 end) Online_BBPS_Receipts
,sum(case when PaymentModeID=22 then isnull(ReceiptsOrRemittance,0) else 0 end) Online_BBPS_Non_Receipts
,sum(case when PaymentModeID=18 then isnull(ReceiptsOrRemittance,0) else 0 end) Online_Post_Office
,sum(case when PaymentModeID=16 then isnull(ReceiptsOrRemittance,0) else 0 end) Mescom_App
,sum(case when PaymentModeID=17 then isnull(ReceiptsOrRemittance,0) else 0 end) POS_Receipts
from data1 a where CashBookTransactionTypeID=1 
group by OLID,CashBookID,CashBookYear,CashBookMonth,TransactionDate 

) , Payments as ( 
select OLID,CashBookID,CashBookYear,CashBookMonth,TransactionDate
,sum(case when PaymentModeID=1 then isnull(ReceiptsOrRemittance,0) else 0 end) Cash_P 
,sum(case when PaymentModeID in (2,3,19) then isnull(ReceiptsOrRemittance,0) else 0 end) Cheque_DD_P
,sum(case when PaymentModeID=15 then isnull(ReceiptsOrRemittance,0) else 0 end) Post_Office_P
,sum(case when PaymentModeID=10 then isnull(ReceiptsOrRemittance,0) else 0 end) NEFT_P
,sum(case when isnull(PaymentModeID,0) not in (1,2,3,15,10,19) then isnull(ReceiptsOrRemittance,0) else 0 end) Direct_MainAc_P
from data1 a where CashBookTransactionTypeID=2 
group by OLID,CashBookID,CashBookYear,CashBookMonth,TransactionDate  

) , InfiniteRows  AS (
SELECT 1 AS RowNumber UNION ALL
SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber < (( SELECT day(eomonth(convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)))) ))

) 


--select * from data1 where CBVNo in (1085,1089,429)



select * from ( 
select a.* ,isnull(Cash,0) Cash,isnull(Cheque_DD,0) Cheque_DD,isnull(Post_Office,0) Post_Office,isnull(NEFT,0) NEFT,isnull(Mobile_One,0) Mobile_One,isnull(PayTM,0) PayTM,isnull(BBPS_Receipts,0) BBPS_Receipts,isnull(BBPS_Non_Receipts,0) BBPS_Non_Receipts
,isnull(Online_BBPS_Receipts,0) Online_BBPS_Receipts,isnull(Online_BBPS_Non_Receipts,0) Online_BBPS_Non_Receipts,isnull(Online_Post_Office,0) Online_Post_Office,isnull(Mescom_App,0) Mescom_App,isnull(POS_Receipts,0) POS_Receipts
,isnull(Cash_P,0) Cash_P,isnull(Cheque_DD_P,0) Cheque_DD_P,isnull(Post_Office_P,0) Post_Office_P,isnull(NEFT_P,0) NEFT_P,isnull(Direct_MainAc_P,0) Direct_MainAc_P,isnull(Trans_Amount,0)  Trans_Amount from ( 
select a.* ,(isnull(OB,0)-(case when isnull(OB,0)=0 then 0 else isnull(Cheque_OB,0) end)) Cash_OB,(case when isnull(OB,0)=0 then 0 else isnull(Cheque_OB,0) end) Cheque_OB from ( 
select Distinct AcOLID,OLID,OfficeLocation,CashBookID,CashBookYear,CashBookMonth,convert(datetime,concat(@YearID,'-',@MonthID,'-1')) TransactionDate,Receipts OB from data1  union 
select Distinct AcOLID,OLID,OfficeLocation,CashBookID,CashBookYear,CashBookMonth,TransactionDate,Receipts OB from data1 union 
select Distinct AcOLID,OLID,OfficeLocation,CashBookID,CashBookYear,CashBookMonth,convert(datetime,cast(concat(@YearID,'-',@MonthID,'-',RowNumber) as Date)) TransactionDate,Receipts OB from data1 cross join InfiniteRows 
) A left join Cheques_OB C on c.OLID=a.OLID and c.CashBookID=a.CashBookID and c.CashBookYear=a.CashBookYear and c.CashBookMonth=a.CashBookMonth 
) A left join Receipts R on r.OLID=a.OLID and r.CashBookID=a.CashBookID and r.CashBookYear=a.CashBookYear and r.CashBookMonth=a.CashBookMonth and r.TransactionDate=a.TransactionDate
left join Payments P on p.OLID=a.OLID and p.CashBookID=a.CashBookID and p.CashBookYear=a.CashBookYear and p.CashBookMonth=a.CashBookMonth and p.TransactionDate=a.TransactionDate
left join Transfered T on t.OLID=a.OLID and t.CashBookID=a.CashBookID and t.CashBookYear=a.CashBookYear and t.CashBookMonth=a.CashBookMonth and t.TransferDate=a.TransactionDate
) A where ( abs(Cash)+abs(Cheque_DD)+abs(Post_Office)+abs(NEFT+Mobile_One)+abs(PayTM)+abs(BBPS_Receipts)+abs(isnull(BBPS_Non_Receipts,0))+abs(Online_BBPS_Receipts)+abs(Online_BBPS_Non_Receipts)+abs(Online_Post_Office)+abs(Mescom_App)+abs(POS_Receipts)
+abs(Cash_P)+abs(Cheque_DD_P)+abs(Post_Office_P)+abs(NEFT_P)+abs(Direct_MainAc_P)+abs(Trans_Amount)+abs(case when day(TransactionDate)=1 then OB else 0 end) )!=0 

) 




GO
