USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getWithdrawalsForJV]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getWithdrawalsForJV](@ScaleRegisterID int)
returns table
as return (
select  ScaleRegister.ScaleRegisterID,
Round(Round(sum(isnull(ScaleRegister.NetPayments,0)),2),0) as Amount   
from ScaleRegister 
where ScaleRegister.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegister.ScaleRegisterID
union ALl
select ScaleRegisterID,(-Round(Round(sum(isnull(ScaleRegisterWithdrawals.NetPayments,0)),2),0)) as Amount from ScaleRegisterWithdrawals 
where ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterID)
GO
