USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[getLoanANDAdvForJVarrears]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[getLoanANDAdvForJVarrears](@ContactID int,@OLID int,@EndDate varchar(10))
returns table
as return (
select  ScaleRegisterLoansandAdvances.ScaleRegisterID, ScaleRegisterLoansandAdvances.LoanAndAdvanceID ,
ScaleRegisterLoansandAdvances.Amount as Amount   
from ScaleRegisterLoansandAdvances 
where ScaleRegisterLoansandAdvances.ScaleRegisterID in (
Select ScaleRegisterID   from scaleregister where endingdate<@EndDate and OLID=@OLID and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) 
and contactid=@ContactID )
union ALl
select ScaleRegisterID,SRAW.LoanAndAdvanceID,(-SRAW.Amount) from ScaleRegisterLoanandAdvanceWithdrawals SRAW,ScaleRegisterWithdrawals 
where ScaleRegisterID in (
Select ScaleRegisterID   from scaleregister where endingdate<@EndDate and OLID=@OLID and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) 
and contactid=@ContactID )
and  SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID)
GO
