USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnArrInvestment]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnArrInvestment](@FromDate varchar(12),@ToDate varchar(12))
RETURNS Table AS
RETURN 	(





with SR (ScaleregisterID,ContactID,ODLDID,EmployeeStatusID,Date) as (
select distinct sr.ScaleregisterID,sr.ContactID,srb.ODLDID,srb.EmployeeStatusID,convert(datetime,(cast(Year(sr.StartingDate) as varchar(4))+'-'+cast(Month(sr.StartingDate) as varchar(2))+'-'+'01')) as Date
from dbo.FnMaxSRBDate(@FromDate,@ToDate) sr left outer join dbo.FnMaxSRBODLDID() srb on srb.ScaleregisterID=sr.ScaleregisterID
where sr.ContactID in (select distinct contactid from TmpSR)

), AI (ContactID,InvestmentTypeID,ActualAmount,DeclaredAmount,Date,MnYr,FyYear,ODLDID,EmployeeStatusID) as (
select distinct ei.ContactID,InvestmentTypeID,sum(isnull(ActualAmount,0)) as ActualAmount,sum(isnull(DeclaredAmount,0)) as DeclaredAmount
,convert(datetime,(cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Month(InvestmentDate) as varchar(2))+'-'+'01')) as Date
,left(Convert(varchar,InvestmentDate,109),3)+'-'+cast(right(year(InvestmentDate),2) as Varchar(4)) as MnYr
,(case when month(InvestmentDate) in (4,5,6,7,8,9,10,11,12) then (cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Year(InvestmentDate)+1 as varchar(4))) else case when month(InvestmentDate) in (1,2,3) then (cast(Year(InvestmentDate)-1 as varchar(4))+'-'+cast(Year(InvestmentDate) as varchar(4))) else NULL end end) as FyYear
,isnull(sr.ODLDID,sr1.ODLDID) as ODLDID,isnull(sr.EmployeeStatusID,sr1.EmployeeStatusID) as EmployeeStatusID
from EmployeeInvestments ei 
left outer join EmployeeInvestmentDetails eid on eid.EmployeeInvestmentID=ei.EmployeeInvestmentID
left outer join SR on sr.ContactID=ei.ContactID and sr.Date=convert(datetime,(cast(Year(InvestmentDate) as varchar(4))+'-'+cast(Month(InvestmentDate) as varchar(2))+'-'+'01'))
left outer join (select ContactID,max(ScaleRegisterID) as SRID,max(ODLDID) as ODLDID,Max(EmployeeStatusID) as EmployeeStatusID from sr group by ContactID) as SR1 on sr1.ContactID=ei.ContactID
where isnull(Arrears,0)=1 and InvestmentTypeID not in (62,68,69) and ei.ContactID in (select distinct ContactID from TmpSR)
group by ei.ContactID,InvestmentTypeID,Year(InvestmentDate),Month(InvestmentDate) ,sr.ODLDID,sr.EmployeeStatusID,sr1.ODLDID,sr1.EmployeeStatusID
,left(Convert(varchar,InvestmentDate,109),3)+'-'+cast(right(year(InvestmentDate),2) as Varchar(4))

)
select (Case when InvestmentTypeID=19 then '27' else 
Case when InvestmentTypeID=36 then '26' else 
Case when InvestmentTypeID=2 then '12' else 
Case when InvestmentTypeID=18 then '16' else 
Case when InvestmentTypeID=26 then '28.01' else 
Case when InvestmentTypeID=16 then '25' else 
Case when InvestmentTypeID=24 then '10' else 
Case when InvestmentTypeID=23 then '22' else NULL end end end end end end end end) as Ordering
,ContactID,Date,MnYr,FyYear
,(Case when InvestmentTypeID=19 then 'EPC' else 
Case when InvestmentTypeID=36 then 'CPC' else 
Case when InvestmentTypeID=2 then 'PT' else 
Case when InvestmentTypeID=18 then 'FBF' else 
Case when InvestmentTypeID=26 then 'CM Fund' else 
Case when InvestmentTypeID=16 then 'Group Insurance' else 
Case when InvestmentTypeID=24 then 'Insurance' else 
Case when InvestmentTypeID=23 then 'Housing Loan' else NULL end end end end end end end end) as  SalaryTypes
,ActualAmount as Amount,ODLDID
,(Case when InvestmentTypeID=19 then 4 else 
Case when InvestmentTypeID=36 then 4 else 
Case when InvestmentTypeID=2 then 4 else 
Case when InvestmentTypeID=18 then 4 else 
Case when InvestmentTypeID=26 then 4 else 
Case when InvestmentTypeID=16 then 5 else 
Case when InvestmentTypeID=24 then 5 else 
Case when InvestmentTypeID=23 then 5 else NULL end end end end end end end end) as TypesID
,EmployeeStatusID from AI

)
GO
