USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnBasic]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnBasic](@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @YearID Int select @YearID = 2015 
--Declare @MonthID Int select @MonthID = 4 
--Declare @ContactID Int select @ContactID = 1848 

select ContactID,Max(AEffectiveDate) as AEffectiveDate,EndDate,Max(CurrentPay) as CurrentPay,Max(ModifiedValue) as ModifiedValue,Max(IncrementAmount) as IncrementAmount,PerDay,Round(Sum(BasicPerDay),13) as PerDayBasic,DaysOfDate from ( 

select ContactID,AEffectiveDate,EndDate,(case when Day(EndDate)>(DateDiff(day,AEffectiveDate,EndDate)+1) then (DateDiff(day,AEffectiveDate,EndDate)+1) else Day(EndDate) end) as NoOfDays 
,CurrentPay,ModifiedValue,IncrementAmount,1 as PerDay,( (cast(IncrementAmount as Numeric(19,4)) / Day(EndDate)) + (cast(CurrentPay as Numeric(19,4)) / Day(EndDate)) ) as BasicPerDay
,DaysOfDate from ( select * from ( 
select ContactID,EmployeepayDetailsID,EmployeePayTypeID,EffectiveDate,ActualEffectiveDate,CurrentPay,ModifiedValue
,(isnull(ModifiedValue,0)-isnull(CurrentPay,0)) as IncrementAmount,(Row_Number() over (Partition By ContactID Order By ContactID,EffectiveDate Desc,EmployeePayDetailsID Desc)) as MaxNo 
,(Case when EmployeePayTypeID=3 then (case when EffectiveDate>=isnull(ActualEffectiveDate,EffectiveDate) then EffectiveDate else isnull(ActualEffectiveDate,EffectiveDate) end) else EffectiveDate end) as AEffectiveDate 
from EmployeepayDetails with (nolock) 
Cross Join (select Distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as A 
where (Case when EmployeePayTypeID=3 then (case when EffectiveDate>=isnull(ActualEffectiveDate,EffectiveDate) then EffectiveDate else isnull(ActualEffectiveDate,EffectiveDate) end) else EffectiveDate end)<=StartDate 
and EmployeepayTypeID in (select EmployeePayTypeID from EmployeePayTypes where EmployeePayMainTypeID in (1,2) and EmployeepayTypeID not in (6,13)) and Approved=1 and isnull(Cancel,0)=0 
and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
) as EPD where MaxNo=1 
) as EPD inner Join FnDate(@YearID,@MonthID) d on d.DaysOfDate>=AEffectiveDate 

Union All 
select ContactID,AEffectiveDate,EndDate,(DateDiff(day,AEffectiveDate,EndDate)+1) as NoOfDays,CurrentPay,ModifiedValue,IncrementAmount,1 as PerDay,(cast(IncrementAmount as Numeric(19,4)) / Day(EndDate)) as BasicPerDay,DaysOfDate from ( 
select ContactID,EmployeepayDetailsID,EmployeePayTypeID,EffectiveDate,ActualEffectiveDate,AEffectiveDate,EndDate,CurrentPay,ModifiedValue,(isnull(ModifiedValue,0)-isnull(CurrentPay,0)) as IncrementAmount,DaysOfDate from ( 
select ContactID,EmployeepayDetailsID,EmployeePayTypeID,EffectiveDate,ActualEffectiveDate,CurrentPay,ModifiedValue,(Case when EmployeePayTypeID=3 then (case when EffectiveDate>=isnull(ActualEffectiveDate,EffectiveDate) then EffectiveDate else isnull(ActualEffectiveDate,EffectiveDate) end) else EffectiveDate end) as AEffectiveDate 
from EmployeepayDetails with (nolock) where Approved=1 and isnull(Cancel,0)=0 
and EmployeepayTypeID in (select EmployeePayTypeID from EmployeePayTypes with (nolock) where EmployeePayMainTypeID in (1,2) and EmployeepayTypeID not in (6,13)) 
and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
) as EPD inner Join FnDate(@YearID,@MonthID) d on d.DaysOfDate>=AEffectiveDate where AEffectiveDate >StartDate and AEffectiveDate <=EndDate 
) as A 
) as A Group By ContactID ,PerDay,DaysOfDate,EndDate Having isnull(Round(Sum(BasicPerDay),13),0)<>0 and isnull(ContactID,0)<>0 

)
GO
