USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDates]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnDates](@FromDate DateTime) RETURNS Table AS RETURN ( 

--Declare @FromDate DateTime select @FromDate = '2015-01-01' 

select *,DatePart(w,Date) as WeekDay,(case when DatePart(w,Date)=7 and Day(Date) Between 8 and 14 then 'SS' else NULL end) as SecondSS from ( 
select Days,Cast(Days as DateTime) as Date from ( select Row_Number() over (Order By ScaleRegisterID) as Days 
from ScaleRegister with (nolock) where ScaleRegisterID<100000 ) as A Cross Join Today_HRMS with(nolock) 
where Cast(Days as DateTime)>=@FromDate and Cast(Days as DateTime)<=Today ) as A 

)
GO
