USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnBudgetReportNew]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnBudgetReportNew] (@FinancialYear varchar(50),@OLID Int)

RETURNS Table AS 
RETURN 	(


--Declare @FinancialYear varchar(50) select @FinancialYear = '2025-2026'
--Declare @OLID Int select @OLID = 337

select * ,(case when Len((case when LEN(AcCode1)=0 then AcCode else AcCode1 end))=0 then AcCode2 else (case when LEN(AcCode1)=0 then AcCode else AcCode1 end) end) AcHead from (
select AcOLID,a.*,bgmt.Description as MainTypes,bgt.Description as UnderBudgetGrantTypes,(Row_Number() over (Partition By AcOLID,a.BudgetGrantTypeID Order By AcOLID,a.BudgetGrantTypeID,Date,Particulars)) as MaxNo,(Credit-Debit) as CDTotal 
,(isnull(bac.FromMainAccountCode,'')+isnull(bac.FromSubAccountCode,'')) AcCode1,(isnull(bac1.FromMainAccountCode,'')+isnull(bac1.FromSubAccountCode,'')) AcCode2  from ( 
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.ExtendedDate as Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,bgd.InitialAmount as Credit,0 as Debit,FromOLID,ToOLID,('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,bg.BudgetGrantOLID as OLID, 1 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,1 as TypeID,bgt.Description as BudgetGrantTypes
,'' AcCode
from BudgetGrant bg with(nolock) 
inner join BudgetGrantDetails bgd with(nolock) on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc with(nolock) on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola with(nolock) on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt with(nolock) on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and (isnull(bgd.InitialAmount,0)+isnull(bgd.ExtendedAmount,0)) not in (0)  
and FromOLID=337 and ToOLID not in (337,338,2864,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,bc.Total,bc.ExpenditureBalance,bc.SanctioningBalance,bc.ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.Date,0 as FromBudgetGrantTypeID,bg.BudgetGrantTypeID as ToBudgetGrantTypeID
,bgd.Amount as Credit,0 as Debit,FromOLID,ToOLID,('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantTypeID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID,BudgetGrantMainTypeID
,bg.BudgetGrantOLID as OLID, 1 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,2 as TypeID,bgt.Description as BudgetGrantTypes
,'' AcCode
from BudgetGrant bg with(nolock) 
inner join BudgetGrantExtension bgd with(nolock) on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc with(nolock) on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola with(nolock) on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt with(nolock) on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.Amount,0) not in (0) 
and FromOLID=337 and ToOLID not in (337,338,2864,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,0 as Total,0 as ExpenditureBalance,0 as SanctioningBalance,0 as ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.BudgetGrantTransferDate,bgd.FromBudgetGrantTypeID,bgd.ToBudgetGrantTypeID
,bgd.TransferedBalance as Credit,0 as Debit,bgd.BudgetGrantOLID as FromOLID,bgd.BudgetGrantOLID as ToOLID
,('Received From - '+ (case when bga.FromMainAccountCode is NULL then  bgt1.Description else ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) end)) as Particulars
,bgd.ToBudgetGrantTypeID as BudgetGrantTypeID,(case when bgt1.UnderBudgetGrantTypeID is not NULL then bgt1.UnderBudgetGrantTypeID else bgd.FromBudgetGrantTypeID end) as UnderBudgetGrantTypeID
,bgt.BudgetGrantMainTypeID,bgd.BudgetGrantOLID as OLID, 2 as Ordering,(case when bgt.UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,5 as TypeID,bgt.Description as BudgetGrantTypes
,'' AcCode
from BudgetGrant bg with(nolock) 
inner join BudgetGrantTransfer bgd with(nolock) on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc with(nolock) on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join BudgetTypeAccountHeadAllocation bga with(nolock) on bga.BudgetGrantTypeID=bgd.FromBudgetGrantTypeID
left outer join BudgetGrantTypes bgt with(nolock) on bgt.BudgetGrantTypeID=bgd.ToBudgetGrantTypeID
left outer join BudgetGrantTypes bgt1 with(nolock) on bgt1.BudgetGrantTypeID=bgd.FromBudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.BudgetGrantOLID,0) not in (337,338,2864,339,340,604,605)
union all
select distinct bg.BudgetGrantID,bg.YearFrom,bg.YearTo,bc.BudgetControlID,0 as Total,0 as ExpenditureBalance,0 as SanctioningBalance,0 as ProvisionalBalance,bgd.MonthFrom,bgd.MonthTo,bgd.BudgetGrantTransferDate,bgd.FromBudgetGrantTypeID,bgd.ToBudgetGrantTypeID
,0 as Credit,bgd.TransferedBalance as Debit,bgd.BudgetGrantOLID as FromOLID,bgd.BudgetGrantOLID as ToOLID
,('Transfered To - '+ (case when bga.FromMainAccountCode is NULL then  bgt.Description else ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) end)) as Particulars
,bgd.FromBudgetGrantTypeID as BudgetGrantTypeID,(case when bgt.UnderBudgetGrantTypeID is not NULL then bgt.UnderBudgetGrantTypeID else bgd.FromBudgetGrantTypeID end) as UnderBudgetGrantTypeID
,BudgetGrantMainTypeID,bgd.BudgetGrantOLID as OLID, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,6 as TypeID,bgt.Description as BudgetGrantTypes
,ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) AcCode
from BudgetGrant bg with(nolock) 
inner join BudgetGrantTransfer bgd with(nolock) on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc with(nolock) on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join BudgetTypeAccountHeadAllocation bga with(nolock) on bga.BudgetGrantTypeID=bgd.ToBudgetGrantTypeID
left outer join BudgetGrantTypes bgt with(nolock) on bgt.BudgetGrantTypeID=bgd.FromBudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.BudgetGrantOLID,0) not in (337,338,2864,339,340,604,605)


) as A inner join OfficeLocationAccountingUnitDetails ol with(nolock) on ol.OLID=a.OLID
left outer join BudgetGrantMainTypes bgmt on bgmt.BudgetGrantMainTypeid=a.BudgetGrantMainTypeID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeid=a.UnderBudgetGrantTypeID
left join BudgetTypeAccountHeadAllocation BAc with(nolock) on BAc.BudgetGrantTypeID=A.BudgetGrantTypeID 
left join BudgetTypeAccountHeadAllocation BAc1 with(nolock) on BAc1.BudgetGrantTypeID=A.UnderBudgetGrantTypeID 
where (CircleOLID = @OLID or ZonalOLID=@OLID or CorporateOLID=@OLID) and (Debit+Credit)<>0 
--and bgmt.BudgetGrantMainTypeID=1 and a.OLID = 658
--and UnderBudgetGrantTypeID = 342 --and BudgetGrantTypeID = 342
--and BudgetGrantID = 17688
--Order By UnderBudgetGrantTypeID,Date

) A 


)
GO
