USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SalaryODLDID]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE FUNCTION [dbo].[Fn_SalaryODLDID] (@AcOLID Int,@FromDate DateTime,@ToDate DateTime,@ContactID int,@ODLDID_1 Int,@Suppliment Int,@ECID int) RETURNS Table AS Return (


--Declare @AcOLID Int = 658     
--Declare @FromDate DateTime = '2023-08-01' 
--Declare @ToDate DateTime = '2023-08-31' 
--Declare @ContactID Int = 32132        
--Declare @ODLDID_1 Int = NULL  
--Declare @Suppliment int = 0 
--Declare @ECID int = 3 ;


With InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select (case when @Suppliment=3 then (select datediff(day,@FromDate,@ToDate)+1)-1 else (select Day(EOMonth(@FromDate))-1) end))
) , Date2 as (
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows 

)  , ODLDID as (
select * from (
--select ODLDID ODLDID1,Incase,Next_OutCase,Next_ODLDID,Next_AptTypeID,Before_AptTypeID,Next_Date LDate,ReportedDate2 RpDate,SlNo,EmployeeAppointmentDetailsID,a.ContactID,AppointmentTypeID,Percentage,JoiningDuration
select SlNo,EmployeeAppointmentDetailsID,a.ContactID,AppointmentTypeID,Percentage,JoiningDuration,Regularised
,(case 
--when SlNo in (1,2,3) and AppointmentTypeID in (1,26) then ReportedDate2 
when SlNo in (1,2) and AppointmentTypeID in (5,18,19) then ReportedDate2 
--when Before_AptTypeID in (23,47,43,46) and AppointmentTypeID!=46 then RelievedDate+1 -- ID 12319 7-22
when AppointmentTypeID in (2,3,4) and SlNo in (1,2,3) and Incase=1 then RelievedDate 
when AppointmentTypeID in (17,2,3,4,20) then RelievedDate+1 -- and SlNo=1 23610 
when Incase=1 and AppointmentTypeID not in (8,46) and RelievedDate>=@FromDate then Next_Date
when SlNo in (1,2,3,4) and AppointmentTypeID in (1,26) and Before_AptTypeID is NULL and ODLDID is NULL then Next_Date
when SlNo in (1,2,3,4) and AppointmentTypeID in (1,26) and Before_AptTypeID is NULL and ODLDID is not NULL then ReportedDate2 
else RelievedDate end) RelievedDate

,(case 
when Next_AptTypeID in (23,47,46) and FromODLDID is not NULL and ToODLDID is not NULL then isnull(Next_Date-1,ReportedDate2) 
when Next_AptTypeID in (23,47,46) and AppointmentTypeID in (1,26) and FromODLDID is NULL and ToODLDID is not NULL then isnull(Next_Date-1,ReportedDate2) 
when SlNo=2 and AppointmentTypeID in (1,26) and Next_AptTypeID in (4,8,2,3,21,22,20) then isnull(Next_Date,ReportedDate2) 
when SlNo=2 and AppointmentTypeID in (1,26) then isnull(Next_Date-1,ReportedDate2) 
when Next_AptTypeID in (23,47,46) and AppointmentTypeID not in (23,47,46) and Incase=0 then ReportedDate2-1 
when Incase=1 and ReportedDate2<isnull(Next_Date,ReportedDate2) then isnull(Next_Date,ReportedDate2)
when AppointmentTypeID in (46) and Next_ODLDID is NULL and Next_OutCase=0 then isnull(Next_Date,ReportedDate2) 
when Incase=1 then ReportedDate2 
when AppointmentTypeID in (17,8,18,19) then ReportedDate2-1  -- 2330  6-23
when SlNo=2 and AppointmentTypeID in (43) then isnull(Next_Date,ReportedDate2) 
when Next_Date Between @FromDate and @ToDate and ReportedDate2<isnull(Next_Date,ReportedDate2) then isnull(Next_Date,ReportedDate2) -- @FromDate ID 767 7-22 , 
when SlNo=1 and ReportedDate2<@FromDate then @ToDate 
else ReportedDate2 end) ReportedDate2

,(case when AppointmentTypeID=17 then 0 when OutCase=1 then 0 else JD_Days end) JD_Days
,(case when JD_Days=0 then NULL else RelievedDate end) JD_Date
,(case when Next_OutCase=1 then 0 else Lien_Days end) Lien_Days
,(case when Lien_Days=0 then NULL else ReportedDate2 end) Next_Date
,(case when JD_Days=0 then NULL else FromODLDID end) JD_ODLDID
,isnull(@ODLDID_1,(case when AppointmentTypeID in (17) then FromODLDID when AppointmentTypeID=1 then isnull(a.ODLDID,Next_ODLDID) else a.ODLDID end)) ODLDID
,(case when AppointmentTypeID in (23,47,43) then ToODLDID else NULL end) LienODLDID 
,(case when AppointmentTypeID in (23,47) then FromODLDID else NULL end) Regularised_ODLDID,(case when AppointmentTypeID in (2,3,4,48) then FromODLDID else NULL end) FromODLDID from (

select * ,(case when AppointmentTypeID in (23,47,46,8) then 0 else isnull(datediff(day,(case when Incase=1 then RelievedDate-1 else RelievedDate end),ReportedDate2-1),0) end) JD_Days 
,(case when AppointmentTypeID in (23,47) and Before_AptTypeID not in (23,47) then cast((Next_Date-ReportedDate2) as Int) else 0 end) Lien_Days from (
select * ,(case when AppointmentTypeID in (23,47,43) then FromODLDID else ToODLDID end) ODLDID,isnull(ReportedDate1,ReportedDate) ReportedDate2 
,(Lag(OutCase) over (Partition By ContactID Order By ContactID,SlNo)) Next_OutCase
,(Lag(RelievedDate) over (Partition By ContactID Order By ContactID,SlNo)) Next_Date
,(Lead(AppointmentTypeID) over (Partition By ContactID Order By ContactID,SlNo)) Before_AptTypeID
,(Lag(AppointmentTypeID) over (Partition By ContactID Order By ContactID,SlNo)) Next_AptTypeID 
,(Lag(ToODLDID) over (Partition By ContactID Order By ContactID,SlNo)) Next_ODLDID from (
select (Row_NUmber() over (Partition By ContactID Order By ContactID,isnull(RelievedDate,ReportedDate) desc,EmployeeAppointmentDetailsID desc )) SlNo,* from (
select EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,Reported,Regularised,FromODLDID,ToODLDID,Percentage,isnull(JoiningDuration,0) JoiningDuration,EOID,InCase,OutCase
--,(case when OutCase=1 then RelievedDate+1 else RelievedDate end) RelievedDate -- ID 21398 
,RelievedDate
,(case when AppointmentTypeID in (23,47,46,8) and OutCase=0 and Incase=0 and Regularised=0 then @ToDate else ReportedDate end) ReportedDate
,(case when Year(ReportedDate1)=Year(@FromDate) and Month(ReportedDate1)=Month(@FromDate) then ReportedDate1 else NULL end) ReportedDate1 from (
select EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,Reported,Regularised,FromODLDID,ToODLDID,Percentage,JoiningDuration,EOID
,(case when EOID!=0 and FromODLDID is NULL then 1 else 0 end) InCase,(case when EOID!=0 and ToODLDID is NULL then 1 else 0 end) OutCase
,(case when EOID=0 then NULL when ReportedTime like '%AM%' then FORMAT(ReportedDate,'yyyy-MM-dd') else dateadd(day,1,FORMAT(ReportedDate,'yyyy-MM-dd')) end) ReportedDate1 
,(case 
when RelievedTime like '%AM%' and EOID!=0 and FromODLDID is NULL then FORMAT(RelievedDate,'yyyy-MM-dd')
when RelievedTime like '%AM%' and AppointmentTypeID not in (23,47,46,8) then dateadd(day,-1,FORMAT(RelievedDate,'yyyy-MM-dd')) 
when RelievedTime like '%PM%' and AppointmentTypeID in (23,47,46) then dateadd(day,1,FORMAT(RelievedDate,'yyyy-MM-dd')) 
when RelievedTime like '%PM%' and EOID!=0 and FromODLDID is NULL then dateadd(day,1,FORMAT(RelievedDate,'yyyy-MM-dd')) 
else FORMAT(RelievedDate,'yyyy-MM-dd') end) RelievedDate 

,(case when ReportedTime like '%AM%' and AppointmentTypeID in (23,47,46) then dateadd(day,-1,FORMAT(ReportedDate,'yyyy-MM-dd')) when ReportedTime like '%PM%' and AppointmentTypeID not in (23,47,46) then dateadd(day,1,FORMAT(ReportedDate,'yyyy-MM-dd')) else FORMAT(ReportedDate,'yyyy-MM-dd') end) ReportedDate from (
select EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,Reported,Regularised,FromODLDID,ToODLDID,Percentage,JoiningDuration,isnull(ExternalOrganizationID,0) EOID
,(case when AppointmentTypeID=18 then isnull(ReportedTime,ReportedDate) else isnull(RelievedTime,RelievedDate) end) RelievedDate
,isnull(ReportedTime,ReportedDate) ReportedDate
,(case when AppointmentTypeID=18 then ltrim(rtrim(right(isnull(ReportedTime,ReportedDate),8))) else ltrim(rtrim(right(isnull(RelievedTime,RelievedDate),8))) end) RelievedTime
,ltrim(rtrim(right(isnull(ReportedTime,ReportedDate),8))) ReportedTime
from EmployeeAppointmentDetails with(nolock) where Approved=1 and isnull(Legacy,0)=0 and Relieved=1 and ContactID = @ContactID and isnull(EmployeeCategoryID,1)=@ECID 
and AppointmentTypeID not in (select AppointmentTypeID from AppointmentTypes_Config where AppointmentMainTypeID  in (4) and AppointmentTypeID not in (8,46,23,47,43))
) A 
) A where isnull(RelievedDate,isnull(ReportedDate1,ReportedDate))<=@ToDate
) A 
) A 
) A 
) A 
where ( RelievedDate between @FromDate and @ToDate or ReportedDate2 between @FromDate and @ToDate or Next_Date between @FromDate and @ToDate or SlNo=1)
and (case when AppointmentTypeID=46 and Next_ODLDID is not NULL and SlNo in (2,3) and Next_Date>=@FromDate then 1 
when AppointmentTypeID=46 and Next_ODLDID is NULL then 1 
when AppointmentTypeID=46 and SlNo!=1 then 0 
else 1 end)=1
) A 


) 
select a.* ,(case when RelievedDate<=@FromDate then @FromDate else RelievedDate end) FromDate
,(case when ReportedDate2<=RelievedDate then (case when JD_Days!=0 then ReportedDate2 else @ToDate end) else ReportedDate2 end) ToDate from (
select  * from (
select a.*,c.OLID,c.AcOLID,Date1,isnull(ch.HolidayDate,ch1.HolidayDate) HolidayDate,(case when DATENAME(DW,Date1)='Sunday' then 1 else NULL end) Sunday
,(case when DATENAME(DW,Date1)='Saturday' then (Row_Number() over (partition by DATENAME(DW,Date1) order By Date1,DATENAME(DW,Date1))) else NULL end) Saturday,1 Attendance,egd.EmployeeGradeID 
,(Row_Number() over (Partition By a.ContactID,Date1 Order By a.ContactID,Date1,SlNo,(case when AppointmentTypeID in (46,43) then ReportedDate2 else RelievedDate end) desc)) MinNo 
from (
select SlNo,EmployeeAppointmentDetailsID EADID,ContactID,AppointmentTypeID,isnull(Percentage,0) Percentage,0 JoiningDuration,RelievedDate,ReportedDate2,ODLDID,0 JD_ODLDID,0 JD_Days,LienODLDID,Regularised from ODLDID union
select SlNo,EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,0 Percentage,JoiningDuration,JD_Date+1,dateadd(day,isnull(JD_Days,0),JD_Date),ODLDID,JD_ODLDID,JD_Days,LienODLDID,Regularised 
from ODLDID where JD_Days!=0 union 
select SlNo,EmployeeAppointmentDetailsID,ContactID,AppointmentTypeID,0 Percentage,Lien_Days,Next_Date+1,dateadd(day,isnull(Lien_Days,0),Next_Date),ODLDID,Regularised_ODLDID,Lien_Days,LienODLDID,Regularised 
from ODLDID where Lien_Days!=0  
) A 
inner join Employee e with(nolock) on e.ContactID=a.ContactID
inner join ODLDAllocation B with(nolock) on b.ODLDID=(case when AppointmentTypeID=1 then isnull(a.ODLDID,e.ODLDID) else a.ODLDID end)
left join ODLDAllocation B1 with(nolock) on b1.ODLDID=(case when AppointmentTypeID=1 then isnull(a.ODLDID,e.ODLDID) else (case when AppointmentTypeID in (23,47,43) then LienODLDID else a.ODLDID end) end)
left join EmployeeGradeDesignationAllocation EGD with(nolock) on egd.DesignationID=b1.DesignationID
inner join OfficeLocationAccountingUnitDetails c with(nolock) on c.OfficeID=b.OfficeID and c.LocationID=b.LocationID
inner join Date2 on Date1 between RelievedDate and (case when AppointmentTypeID in (8) and ReportedDate2 Between @FromDate and @ToDate and SlNo=1 and Regularised=1 then ReportedDate2 
	when ReportedDate2<=@ToDate and SlNo=1 and JD_Days=0 then @ToDate else ReportedDate2 end) 
left join CompanyHolidays CH on CH.HolidayDate=(case when JD_Days=0 then 0 else Date1 end) and CH.CompanyHolidayTypeID not in (27,29,30) 
left join OfficeLocationDeclaredHolidayAllocation CH1 on ch1.HolidayDate=(case when JD_Days=0 then 0 else Date1 end) and ch1.CompanyHolidayTypeID not in (27,29,30) and ch1.OfficeLocationAllocationID=c.OLID
) A where MinNo = 1 
) A where AcOLID=@AcOLID  and ODLDID is not NULL
--OPTION (MAXRECURSION 0)


) 


GO
