USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Leaves]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE FUNCTION [dbo].[Fn_Leaves] (@FromDate DateTime,@ToDate DateTime,@ContactID int,@Suppliment Int) RETURNS Table AS Return (


--Declare @FromDate DateTime = '2024-09-01' 
--Declare @ToDate DateTime = '2029-09-30' 
--Declare @ContactID Int = 1575  
--Declare @Suppliment int = 6 
--;


With InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (case when @Suppliment=3 then (select datediff(day,@FromDate,@ToDate)+1) else (select Day(@ToDate)-1) end)
) , Date2 as (
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows 
)

select * from (
select a.* ,isnull(Paid,0) Paid,(Row_Number() over (Partition By ContactID,Date1 Order By ContactID,Date1,isnull(Paid,0))) MaxNo from (
select distinct ContactID,Date1,LeaveTypeID from (
select a.*,Date1 from (
select distinct EmployeeLeaveDetailsID,ContactID,a.LeaveTypeID,FromDate,ToDate 
from EmployeeLeaveDetails A with(nolock) 
		where isnull(Cancel,0)=0 and Approved=1 and isnull(LeaveTransactionTypeID,0)=1 and a.LeaveTypeID not in (19,20,12,4,17) 
		and ContactID = @ContactID
		and (FromDate>=@FromDate or FromDate>=@ToDate)
		and (ToDate<=@FromDate or ToDate<=@ToDate)
		) A
inner join Date2 b on b.Date1 Between FromDate and ToDate and b.Date1 Between @FromDate and @ToDate 
		and Day(Date1)<= (case when @Suppliment=0 then (case when LeaveTypeID in (6,9) then 31 else 15 end) else 31 end)  
) A ) A 
left join LeaveTypes L with(nolock) on l.LeaveTypeID=a.LeaveTypeID
) A where MaxNo=1 
--OPTION (MAXRECURSION 0)

) 



GO
