USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnELMStatementNew]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnELMStatementNew](@OLID Int,@AsOnDate DateTime) RETURNS Table AS RETURN ( 

--Declare @OLID Int select @OLID = 337 
--Declare @AsOnDate DateTime select @AsOnDate ='2016-07-20' 

select @OLID as OLID,ola.Fileas as OfficeLocation ,CorporateOLID,ZonalOLID,CircleOLID,AcOLID,ola1.FIleas as AcOfficeLocation ,st.Description as StockType,mc.Description as MaterialDesc
,uom.UnitOfMeasure,sq.StockConditionID,sc.Description as StockConditions,mc.MaterialCode,sq.ActualQuantity,Convert(Varchar,Today,105) as Today,mc.ItemID 
from FnStockLedger(@OLID,@AsOnDate) sq Cross Join Today_PNI with (nolock) 
left outer join Stock s with (nolock) on s.ItemID=sq.ItemID 
left outer join StockType st with (nolock) on st.StockTypeID=s.StockTypeID 
left outer join MaterialCode mc with (nolock) on mc.ItemID=sq.ItemID 
left outer join UnitOfMeasure uom with (nolock) on uom.UnitID=sq.ActualUnitID 
left outer join (select * from ( select * ,(Row_Number() over (Partition By ItemID,StockAttributeID Order By ItemID,StockAttributeID,StockAttributeAllocationID Desc)) as MaxNo 
    	from StockAttributeAllocation with (nolock) ) as A where MaxNo=1 ) as saa on saa.ItemID=sq.ItemID 
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=@OLID 
left outer join OfficeLocationAllocation ola1 with (nolock) on ola1.OfficeLocationAllocationID=AcOLID 
left outer join StockConditions sc with (nolock) on sc.StockConditionID=sq.StockConditionID 
where saa.StockAttributeID=1 
--Order By ZonalOLID,CircleOLID,AcOLID,StockType,MaterialCode,MaterialDesc,sq.StockConditionID,UnitOfMeasure 


)
GO
