USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAcUnit]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAcUnit]() RETURNS Table AS RETURN ( 

With AcOL (OfficeID,AcOLID,AcOfficeLocation,OLID,OfficeLocation,UOLID,UnderOfficeLocation,Ordered,SlNo) as ( 
select distinct o.OfficeID,AcOLID,AcOfficeLocation,ol.OLID,ol.OfficeLocation,ola1.OfficeLocationAllocationID as UOLID,ola2.Fileas as UnderOfficeLocation 
,(case when o.OfficeID=65 then 1 else case when o.OfficeID=66 then 2 else case when o.OfficeID in (85,49) then 3 else case when o.OfficeID=50 then 4 else case when o.OfficeID in (59,58,80,57) then 5 else 6 end end end end end) as Ordered 
,Row_Number() over (partition by ola1.OfficeLocationAllocationID order by ola.OfficeLocationAllocationID) as SlNo 

from Office o with (nolock) 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeID=o.OfficeID 
inner join Location L with (nolock) on l.LocationID=ola.LocationID 
left outer join OfficeLocationAllocation ola1 with (nolock) on ola1.OfficeLocationAllocationID=ola.UnderOfficeLocationAllocationID 
left outer join OfficeLocationAllocation ola2 with (nolock) on ola2.OfficeLocationAllocationID=ola1.OfficeLocationAllocationID 
inner join ( select (case when ola1.OfficeID is NULL then ola.UnderOfficeLocationAllocationID else ola.OfficeLocationAllocationID end) as AcOLID,ola2.Fileas as AcOfficeLocation,ola1.OfficeLocationAllocationID as OLID,OfficeLocation 
    from OfficeLocationAllocation ola with (nolock) 
		inner join ( select (case when ola.OfficeID in (80,58,85,89) then OfficeLocationAllocationID else case when o.OfficeID is NULL then UnderOfficeLocationAllocationID else OfficeLocationAllocationID end end) as OLID,o.OfficeID ,OfficeLocationAllocationID ,FileAs as OfficeLocation 
		from OfficeLocationAllocation ola with (nolock) 
			left outer join ( select OfficeTypeProjectAllocationID as OfficeID 
			from OfficeTypes ot with (nolock) inner join OfficeTypeProjectAllocation otp with (nolock) on otp.OfficeTypeID=ot.OfficeTypeID where Accounts = 1 
			) as O on o.OfficeID=ola.OfficeID 
		where OfficeLocationAllocationID in (select distinct OfficeLocationAllocationID from OfficeLocationAllocation with (nolock) ) 
		) as OLA1 on ola1.OLID=ola.OfficeLocationAllocationID 
	left outer join OfficeLocationAllocation ola2 with (nolock) on ola2.OfficeLocationAllocationID=(case when ola1.OfficeID is NULL then ola.UnderOfficeLocationAllocationID else ola.OfficeLocationAllocationID end) 
	) OL on ol.OLID=ola.OfficeLocationAllocationID ) 

select o.AcOLID,o.AcOfficeLocation,o.OLID,o.OfficeLocation,o.UOLID,o.UnderOfficeLocation,isnull(o.Ordered,0) as Ordered,isnull(o.SlNo,0) as SlNo ,(case when o.OfficeID=80 then o.OLID else o1.OLID end) as Ordering 
from AcOL O left outer join AcOL as o1 on o1.OLID=o.UOLID 


)
GO
