USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_DCBDetails]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_DCBDetails](@olid int,@month int,@yr int) Returns Table as Return 

--DECLARE @olid int,@month int,@yr int
--SELECT @olid =341,@month =9,@yr =2025

select RevenueDemandAccountCode,BalanceAccountCode,VoltageClassID, sum(Total_No_installation) Total_No_installation ,
 sum(OpenAccess) OpenAccess,sum(PensionCon_OB) PensionCon_OB ,VoltageClassCode,sum(Balance_Pensioncon) Balance_Pensioncon,
sum(DemandPensionCon) DemandPensionCon,sum(Pensioncon_Cash_Cheque) Pensioncon_Cash_Cheque,sum(Pensioncon_Adjustment) Pensioncon_Adjustment,
sum(Pensioncon_Total) Pensioncon_Total,VoltageClass,TariffTypeID,TariffType,TariffID, Tariffs
,sum(Connected_Load) Connected_Load,sum(No_Live_Installation) No_Live_Installation  ,sum(No_Metered_Live_Install) No_Metered_Live_Install
,sum(No_Of_Live_Install_To_Be_Billed) No_Of_Live_Install_To_Be_Billed,sum(No_Install_Billed) No_Install_Billed,
sum(MeteredUnit) MeteredUnit,sum(WheeledEnergy) WheeledEnergy, sum(total) Total,sum(Revenue_OB) Revenue_OB,
sum(Interest_OB) Interest_OB,sum(Tax_OB) Tax_OB,sum(Total_OB) Total_OB,sum(FAC) FAC,
 sum(DemandRevenue) DemandRevenue,sum(DemandInterest) DemandInterest,sum(DemandTax) DemandTax
,sum(Total_Demand) Total_Demand, sum(Revenue_Cash_Cheque) Revenue_Cash_Cheque,sum(Revenue_Adjustment) Revenue_Adjustment,
sum(Revenue_Total) Revenue_Total ,sum(Interest_Cash_Cheque) Interest_Cash_Cheque,sum(Interest_Adjustment) Interest_Adjustment,
 sum(Interst_Total) Interst_Total, sum(Tax_Cash_Cheque) Tax_Cash_Cheque, sum(Tax_Adjustment) Tax_Adjustment,sum(Tax_Total) Tax_Total
, sum(Collection_Total) Collection_Total,sum(Balance_Revenue) Balance_Revenue ,sum(Balance_Interest) Balance_Interest,sum(Balance_Tax) Balance_Tax
,sum(Total_Balance) Total_Balance 

from (

select drd.RevenueDemandAccountCode,drd.BalanceAccountCode,drd.VoltageClassID, drd.Total_No_installation ,drd.openaccess as OpenAccess,
drd.PensionCon_OB AS PensionCon_OB ,vc.VoltageClassCode,dcbd.balance_pensioncon AS Balance_Pensioncon,
ddd.demandpensionCon AS DemandPensionCon,dcd.pensioncon_cash_cheque AS Pensioncon_Cash_Cheque,dcd.pensioncon_adjustment AS Pensioncon_Adjustment,
dcd.pensioncon_total AS Pensioncon_Total,vc.Description VoltageClass,drd.TariffTypeID,tt.Description TariffType,drd.TariffID,t.Description Tariffs
,isnull(drd.Connected_Load,0) Connected_Load,drd.No_Live_Installation  ,isnull(drd.No_Metered_Live_Install,0) No_Metered_Live_Install
,isnull(drd.No_Of_Live_Install_To_Be_Billed,0) No_Of_Live_Install_To_Be_Billed, isnull(drd.No_Install_Billed,0) No_Install_Billed,
isnull(drd.MeteredUnit,0) MeteredUnit,isnull(drd.WheeledEnergy,0) WheeledEnergy, isnull(drd.Total,0) Total,isnull(drd.Revenue_OB,0) Revenue_OB,
isnull(drd.Interest_OB,0) Interest_OB,isnull(drd.Tax_OB,0) Tax_OB,isnull(drd.Total_OB,0) Total_OB,isnull(ddd.FAC,0) FAC,
isnull(ddd.DemandRevenue,0) DemandRevenue,isnull(ddd.DemandInterest,0) DemandInterest,isnull(ddd.DemandTax,0) DemandTax
,isnull(ddd.Total_Demand,0) Total_Demand, isnull(dcd.Revenue_Cash_Cheque,0) Revenue_Cash_Cheque,isnull(dcd.Revenue_Adjustment,0) Revenue_Adjustment,
isnull(dcd.Revenue_Total,0) Revenue_Total ,isnull(dcd.Interest_Cash_Cheque,0) Interest_Cash_Cheque,isnull(dcd.Interest_Adjustment,0) Interest_Adjustment,
isnull(dcd.Interst_Total,0) Interst_Total, isnull(dcd.Tax_Cash_Cheque,0) Tax_Cash_Cheque
,isnull(dcd.Tax_Adjustment,0) Tax_Adjustment,isnull(dcd.Tax_Total,0) Tax_Total

,isnull(dcd.Interest_Cash_Cheque,0)+isnull(dcd.Interest_Adjustment,0)+isnull(dcd.PensionCon_Cash_Cheque,0)+isnull(dcd.PensionCon_Adjustment,0)+
isnull(dcd.Tax_Cash_Cheque,0)+isnull(dcd.Tax_Adjustment,0)+isnull(dcd.Revenue_Cash_Cheque,0)+isnull(dcd.Revenue_Adjustment,0) Collection_Total
,dcbd.Balance_Revenue ,dcbd.Balance_Interest,dcbd.Balance_Tax
,isnull(dcbd.Balance_Revenue,0)+isnull(dcbd.Balance_PensionCon,0)+isnull(dcbd.Balance_Interest,0)+isnull(dcbd.Balance_Tax,0) Total_Balance 

from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
inner join DCBRevenueDetails drd with (nolock) on drd.DCBRevenueID=dr.DCBRevenueID 
left join DCBDemandDetails ddd with (nolock) on ddd.DCBRevenueDetailsID=drd.DCBRevenueDetailsID 
left join DCBCollectionDetails dcd with (nolock) on dcd.DCBRevenueDetailsID=drd.DCBRevenueDetailsID 
left join DCBClosingBalanceDetails dcbd with (nolock) on dcbd.DCBRevenueDetailsID=drd.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
left join TariffTypes_Accounts tt with (nolock) on tt.TariffTypeID=drd.TariffTypeID 
left join Tariffs_Accounts t with (nolock) on t.TariffID=drd.TariffID 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=drd.VoltageClassID

) A
group by RevenueDemandAccountCode,BalanceAccountCode,VoltageClassID,VoltageClassCode,VoltageClass,TariffTypeID,TariffType,TariffID, Tariffs
GO
