USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLPRDID]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnETLPRDID](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @OLID Int select @OLID = 0 
--Declare @YearID Int select @YearID = 0 
--Declare @MonthID Int select @MonthID = 0 
--Declare @ContactID Int select @ContactID = 0 

select PensionRegisterDetailsID,prd.PensionTypeID from (
select *,isnull(BillRegisterDate,Today) as BillRegisterDate1 
from PensionRegisterDetails with(nolock) cross join FnETLToday(@YearID,@MonthID)) as PRD 
left outer join Pensionregister pr with(nolock) on pr.ContactID=prd.ContactID and pr.PensionRegisterID=prd.PensionRegisterID and pr.PensionTypeID=prd.PensionTypeID and Approved=1 
where (Case when (isnull(prd.BillRegisterNo,0)=0 or prd.BillRegisterDate is NULL) then isnull(pr.PensionHeldUp,0) else 0 end)=0 and BillregisterDate1 <= LDate 
and prd.PensionTypeID in (1,2,7,8,9) and Approved=1 
and ((case when @YearID=0 then Year(Today) else @YearID end) = Year(BillregisterDate1) 
and (case when @MonthID=0 then Month(Today) else @MonthID end) = Month(BillregisterDate1) ) 
--or ((case when @YearID=0 then Year(Today) else @YearID end) = Year(case when prd.CreatedOn>=BillregisterDate1 then prd.CreatedOn else BillregisterDate1 end) 
--and (case when @MonthID=0 then Month(Today) else @MonthID end) = Month(case when prd.CreatedOn>=BillregisterDate1 then prd.CreatedOn else BillregisterDate1 end))) 
and prd.OLID = (case when @OLID=0 then prd.OLID else @OLID end) 
and prd.ContactID = (case when @ContactID=0 then prd.ContactID else @ContactID end) 

)
GO
