USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRAllowance]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSRAllowance](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS Table AS
RETURN 	(

--Declare @OLID Int select @OLID = 341
--Declare @YearID Int select @YearID = 0
--Declare @MonthID Int select @MonthID = 0
--Declare @ContactID Int select @ContactID = 0








select sra.* from ( 
select ScaleRegisterID,ODLDID,AllowanceID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select sra.ScaleRegisterID,sra.ODLDID,sra.AllowanceID,sra.Amount as TobePaidAmount,0 as PaidAmount,sra.Amount
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn inner join ScaleRegisterAllowances sra with(nolock) on sra.ScaleRegisterID=fn.ScaleRegisterID
where isnull(sra.Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,AllowanceID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,ODLDID 
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr inner join ScaleRegisterWithdrawals srw with(nolock) on srw.ScaleRegisterID=sr.ScaleregisterID ) as SRW
inner join ScaleRegisterAllowanceWithdrawals srlw with(nolock) on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,ODLDID,AllowanceID
) as SRA 

inner join ( 
select ScaleRegisterID,AllowanceID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select sra.ScaleRegisterID,sra.ODLDID,sra.AllowanceID,sra.Amount as TobePaidAmount,0 as PaidAmount,sra.Amount
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn inner join ScaleRegisterAllowances sra with(nolock) on sra.ScaleRegisterID=fn.ScaleRegisterID
 where isnull(Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,AllowanceID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,ODLDID 
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr inner join ScaleRegisterWithdrawals srw with(nolock) on srw.ScaleRegisterID=sr.ScaleregisterID ) as SRW
inner join ScaleRegisterAllowanceWithdrawals srlw with(nolock) on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,AllowanceID
Having (Case when AllowanceID = 20 then 1 else Round(Round(Sum(isnull(Amount,0)),2),0) end) <> 0
) as SRA1 on sra1.ScaleRegisterID=sra.ScaleRegisterID and sra1.AllowanceID=sra.AllowanceID 



)
GO
