USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_MA_TA_Details]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE  Function [dbo].[Fn_MA_TA_Details](@OLID Int,@YearID int,@MonthID int,@ContactID int) 
RETURNS Table AS Return ( 


--Declare @OLID Int select @OLID = 0 
--Declare @YearID Int select @YearID = 2025 
--Declare @MonthID Int select @MonthID = 8
--Declare @ContactID Int select @ContactID = 5430
--;

select FyYear,StartingFyYear,EndingFyYear,mi.BillRegisterOLID as AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,mid.RecepientContactID as ContactID,0 as LoanandAdvanceID,mit.MiscInvoiceTypeID,mit.Description,Sum(mid.Amount) as Amount
,(FromMainAccountCode+FromSubAccountCode) as FromAccountCode,0 as OSL,mi.InvoiceDate,mid.BillRegisterNo,mi.BillRegisterDate,j.JournalVoucherNo,isnull(mid.RecepientName,' ') RecepientName,isnull(mid.Description,' ') Remarks,isnull(MiscellaneousInvoiceDetailsID,0) AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID
inner join MiscellaneousInvoice MI with(nolock) on mi.JournalVoucherNo=j.JournalVoucherNo
inner join MiscellaneousInvoiceDetails MID with(nolock) on mid.BillRegisterNo=mi.BillRegisterNo 
	and (case when @ContactID=0 then 0 else isnull(mid.RecepientContactID,0) end)=@ContactID 
inner join MiscellaneousInvoiceTypes MIT with(nolock) on mit.MiscInvoiceTypeID=mi.MiscInvoiceTypeID 
and (FromMainAccountCode like '75.%' or FromMainAccountCode like '76.1%' )
	--and (Case when FromMainAccountCode='76.1' and FromSubAccountCode='33' then 0 else 1 end)=0 
group by mit.MiscInvoiceTypeID,mit.Description,Year(JournalVoucherDate),Month(JournalVoucherDate),mi.BillRegisterOLID,mid.RecepientContactID,FyYear,StartingFyYear,EndingFyYear,DateName(Month,JournalVoucherDate)
,FromMainAccountCode,FromSubAccountCode,mi.InvoiceDate,mid.BillRegisterNo,mi.BillRegisterDate,j.JournalVoucherNo,mid.RecepientName,isnull(mid.Description,' '),isnull(MiscellaneousInvoiceDetailsID,0)

union all 
select FyYear,StartingFyYear as FromDate,EndingFyYear as ToDate,pi1.BillRegisterOLID as AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,pid.ContactID,la.LoanandAdvanceID,0 as MiscInvoiceTypeID,la.Description as LoanandAdvances,Sum(pid.Amount) as Amount
,(Case when la.LoanandAdvanceID=8 then '76.133' else Case when la.LoanandAdvanceID=10 then '75.611' else '' end end ) as FromAccountCode,0 OSL,InvoiceDate,pi1.BillRegisterNo,pi1.BillRegisterDate
,j.JournalVoucherNo,' ' RecepientName,' ' Remarks,ProformaInvoiceBudgetDetailsID AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID
inner join ProformaInvoice PI1 with(nolock) on isnull(pi1.RegularizedJournalVoucherNo,0)=j.JournalVoucherNo --and isnull(pi1.LoanandAdvanceID,0) in (8,10)
left join ProformaInvoiceBudgetDetails PID with(nolock) on pid.BillRegisterNo=pi1.BillRegisterNo and pid.BillRegisterOLID=pi1.BillRegisterOLID 
	and (case when @ContactID=0 then 0 else isnull(pid.ContactID,0) end)=@ContactID 
left join LoanAndAdvance la with(nolock) on la.LoanandAdvanceID=isnull(pi1.LoanandAdvanceID,0)
outer apply (select distinct JournalVoucherNo from JournalVoucherDetails JV with(nolock) where jv.JournalVoucherNo=j.JournalVoucherNo and FromMainAccountCode='46.4') JV
where (case when isnull(pid.Amount,0)=0 then 0 when isnull(pi1.LoanandAdvanceID,0) not in (8,10) then 0 when jv.JournalVoucherNo is not NULL then 0 else 1 end)=1
group by la.LoanandAdvanceID,la.Description,Year(JournalVoucherDate),Month(JournalVoucherDate),pi1.BillRegisterOLID,pid.ContactID,FyYear,StartingFyYear,EndingFyYear
,DateName(Month,JournalVoucherDate),InvoiceDate,pi1.BillRegisterNo,pi1.BillRegisterDate,j.JournalVoucherNo,ProformaInvoiceBudgetDetailsID

union all
select FyYear,StartingFyYear,EndingFyYear,j.OLID as AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,mid.ContactID,0 as LoanandAdvanceID,mit.DivisionAdjustmentTypeID,isnull(s.Description,'DivisionAdjustments') collate database_default,(mid.AmountTobeAdjusted) as Amount
,left(mid.FromAccountCode,6) collate database_default
,0 as OSL,NULL InvoiceDate,mid.DivisionAdjustmentID BillRegisterNo,AdjustmentDate BillRegisterDate,j.JournalVoucherNo,ContactName collate database_default,mid.Remarks collate database_default,isnull(DivisionAdjustmentDetailsID,0) AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID
inner join DivisionAdjustments MI with(nolock) on mi.JournalVoucherNo=j.JournalVoucherNo 
inner join DivisionAdjustmentDetails MID with(nolock) on mid.DivisionAdjustmentID=mi.DivisionAdjustmentID --and mid.FromAccountCode like '75.7%'
	and (case when @ContactID=0 then 0 else isnull(mid.ContactID,0) end)=@ContactID 
	and mi.JournalVoucherNo in (select JournalVoucherNo from JournalVoucherDetails D with (nolock) where d.JournalVoucherNo=mi.JournalVoucherNo 
	and (FromMainAccountCode like '75.%' or FromMainAccountCode like '76.%' or FromMainAccountCode like '77.%' or FromMainAccountCode like '78.%' ))
inner join DivisionAdjustmentTypes MIT with(nolock) on mit.DivisionAdjustmentTypeID=mi.DivisionAdjustmentTypeID 
left join SubAccount S with(nolock) on (s.MainAccountCode+s.SubAccountCode)=mid.FromAccountCode collate database_default
union all
select FyYear,StartingFyYear,EndingFyYear,j.OLID as AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,mid.ContactID,0 as LoanandAdvanceID,mit.DivisionAdjustmentTypeID,isnull(s.Description,'DivisionAdjustments') collate database_default,-(mid.AmountTobeAdjusted) as Amount
,left(mid.ToAccountCode,6) collate database_default,0 as OSL,NULL InvoiceDate,mid.DivisionAdjustmentID BillRegisterNo,AdjustmentDate BillRegisterDate,j.JournalVoucherNo,ContactName collate database_default,mid.Remarks collate database_default,isnull(DivisionAdjustmentDetailsID,0) AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID
inner join DivisionAdjustments MI with(nolock) on mi.JournalVoucherNo=j.JournalVoucherNo 
inner join DivisionAdjustmentDetails MID with(nolock) on mid.DivisionAdjustmentID=mi.DivisionAdjustmentID --and mid.FromAccountCode like '75.7%'
	and (case when @ContactID=0 then 0 else isnull(mid.ContactID,0) end)=@ContactID 
	and mi.JournalVoucherNo in (select JournalVoucherNo from JournalVoucherDetails D with (nolock) where d.JournalVoucherNo=mi.JournalVoucherNo 
	and (ToMainAccountCode like '75.%' or ToMainAccountCode like '76.%' or ToMainAccountCode like '77.%' or ToMainAccountCode like '78.%' ))
inner join DivisionAdjustmentTypes MIT with(nolock) on mit.DivisionAdjustmentTypeID=mi.DivisionAdjustmentTypeID 
left join SubAccount S with(nolock) on (s.MainAccountCode+s.SubAccountCode)=mid.ToAccountCode collate database_default

union all 
select FyYear,StartingFyYear,EndingFyYear,mi.OLID AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,0 ContactID,0 as LoanandAdvanceID,0 TypeID,(case when FromAccountCode='75.740' then 'Uniform & Livery Expenses' when FromAccountCode='75.770' then 'Other Welfare Expenses' else '' end) Description,jv.Amount
,FromAccountCode,0 as OSL,NULL InvoiceDate,mi.StoreInvoiceNo,mi.StoreInvoiceDate,j.JournalVoucherNo,'' RecepientName,'StoreInvoice' Remarks,StoreInvoiceNo AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID and DocumentTypeID=10 
inner join StoreInvoice_Accounts MI with(nolock) on mi.JournalVoucherNo=j.JournalVoucherNo and (case when @ContactID=0 then 0 else isnull(mi.ContactID,0) end)=@ContactID 
cross apply (select (FromMainAccountCode+FromSubAccountCode) FromAccountCode,Sum(Amount) Amount from JournalVoucherDetails JV with(nolock) where jv.JournalVoucherNo=j.JournalVoucherNo 
	and (FromMainAccountCode+FromSubAccountCode) like '75.%' Group By (FromMainAccountCode+FromSubAccountCode)) JV
union all 
select FyYear,StartingFyYear,EndingFyYear,mi.OLID AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,0 ContactID,0 as LoanandAdvanceID,0 TypeID,(case when ToAccountCode='75.740' then 'Uniform & Livery Expenses' when ToAccountCode='75.770' then 'Other Welfare Expenses' else '' end) Description,jv.Amount
,ToAccountCode,0 as OSL,NULL InvoiceDate,mi.StoreInvoiceNo,mi.StoreInvoiceDate,j.JournalVoucherNo,'' RecepientName,'StoreInvoice' Remarks,StoreInvoiceNo AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID and DocumentTypeID=10 
inner join StoreInvoice_Accounts MI with(nolock) on mi.JournalVoucherNo=j.JournalVoucherNo and (case when @ContactID=0 then 0 else isnull(mi.ContactID,0) end)=@ContactID 
cross apply (select (ToMainAccountCode+ToSubAccountCode) ToAccountCode,-Sum(Amount) Amount from JournalVoucherDetails JV with(nolock) where jv.JournalVoucherNo=j.JournalVoucherNo 
	and (ToMainAccountCode+ToSubAccountCode) like '75.%' Group By (ToMainAccountCode+ToSubAccountCode)) JV

union all
select FyYear,StartingFyYear,EndingFyYear,j.OLID as AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,c.ContactID,0 as LoanandAdvanceID,0 DivisionAdjustmentTypeID,isnull(s.Description,'DemandRaising') collate database_default,(c.Amount) as Amount
,left(c.DebitAccountCode,6) collate database_default
,0 as OSL,NULL InvoiceDate,c.DemandRaisingID BillRegisterNo,DemandRaisingDate BillRegisterDate,j.JournalVoucherNo,'' ContactName,c.Remarks collate database_default,isnull(DemandRaisingDetailsID,0) AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID
inner join DemandRaising A with (nolock) on a.JournalVoucherNo=j.JournalVoucherNo --and FromAccountCode like '75.%'
inner join DemandRaisingDetails C with(nolock) on c.DemandRaisingID=a.DemandRaisingID 
	and (case when @ContactID=0 then 0 else isnull(c.ContactID,0) end)=@ContactID 
	and a.JournalVoucherNo in (select JournalVoucherNo from JournalVoucherDetails D with (nolock) where d.JournalVoucherNo=a.JournalVoucherNo 
		and (FromMainAccountCode like '75.%' or FromMainAccountCode like '76.%' or FromMainAccountCode like '77.%' or FromMainAccountCode like '78.%' ))
left join SubAccount S with(nolock) on (s.MainAccountCode+s.SubAccountCode)=c.DebitAccountCode collate database_default
union all
select FyYear,StartingFyYear,EndingFyYear,j.OLID as AcOLID,Year(JournalVoucherDate) as YearID,Month(JournalVoucherDate) as MonthID,DateName(Month,JournalVoucherDate) as MonthDescription
,c.ContactID,0 as LoanandAdvanceID,0 DivisionAdjustmentTypeID,isnull(s.Description,'DemandRaising') collate database_default,-(c.Amount) as Amount
,left(c.CreditAccountCode,6) collate database_default
,0 as OSL,NULL InvoiceDate,c.DemandRaisingID BillRegisterNo,DemandRaisingDate BillRegisterDate,j.JournalVoucherNo,'' ContactName,c.Remarks collate database_default,isnull(DemandRaisingDetailsID,0) AutoGenID
from FnETLToday(@YearID,@MonthID) T
inner join JournalVoucher J with(nolock) on j.JournalVoucherDate Between t.StartingFyYear and t.EndingFyYear and (case when @OLID=0 then 0 else j.OLID end)=@OLID
inner join DemandRaising A with (nolock) on a.JournalVoucherNo=j.JournalVoucherNo --and FromAccountCode like '75.%'
inner join DemandRaisingDetails C with(nolock) on c.DemandRaisingID=a.DemandRaisingID 
	and (case when @ContactID=0 then 0 else isnull(c.ContactID,0) end)=@ContactID 
	and a.JournalVoucherNo in (select JournalVoucherNo from JournalVoucherDetails D with (nolock) where d.JournalVoucherNo=a.JournalVoucherNo 
	and (ToMainAccountCode like '75.%' or ToMainAccountCode like '76.%' or ToMainAccountCode like '77.%' or ToMainAccountCode like '78.%' ))
left join SubAccount S with(nolock) on (s.MainAccountCode+s.SubAccountCode)=c.CreditAccountCode collate database_default

--order by JournalVoucherNo,AutoGenID,OSL,ContactID,FromAccountCode

) 









GO
