USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[fnSWithdrawal]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[fnSWithdrawal]()
RETURNS @SWithdrawals  Table (OLID int,ContactID int,YearID int,MonthID int,StartingDate datetime,EndingDate datetime,Generated int,Suppliment int,HeldUp int,BillregisterNo bigint,BillregisterDate datetime,ScaleRegisterID bigint,TypeNo int,ID int,Amount money) 
AS  
BEGIN
	


With SR (OLID,ContactID,YearID,MonthID,StartingDate,EndingDate,Generated,Suppliment,HeldUp,BillregisterNo,BillregisterDate,ScaleRegisterID,TypeNo,ID,Amount)
AS (
select sr.OLID,sr.ContactID, sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.StartingDate,sr.EndingDate,isnull(sr.Generated,0) as Generated,isnull(sr.Suppliment,0) as Suppliment
,isnull(sr.HeldUp,0) as HeldUp,isnull(sr.BillregisterNo,0) as BillregisterNo,BillregisterDate,sr.ScaleRegisterID,w.TypeNo,w.ID,isnull(w.Amount,0) as Amount
from ScaleRegister sr with(nolock)
left outer join (
select TypeNo,ScaleregisterID,ID,sum(isnull(Amount,0)) as Amount
from (
select 1 as TypeNo,ScaleregisterID,1 as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleregisterBasicPayDetails with(nolock)
group by ScaleregisterID having round(sum(isnull(Amount,0)),0)<>0 union all 
select 2 as TypeNo,ScaleregisterID,AllowanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterAllowances  with(nolock)
group by ScaleregisterID,AllowanceID having round(sum(isnull(Amount,0)),0)<>0 union all 
select 3 as TypeNo,ScaleregisterID,SalaryOtherAdditionID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterOtherAdditions with(nolock)
group by ScaleregisterID,SalaryOtherAdditionID having round(sum(isnull(Amount,0)),0)<>0 union all
select 4 as TypeNo,ScaleregisterID,SalaryOtherDeductionID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterOtherDeductions  with(nolock)
group by ScaleregisterID,SalaryOtherDeductionID having round(sum(isnull(Amount,0)),0)<>0 union all
select 5 as TypeNo,ScaleregisterID,LoanAndAdvanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterLoansandadvances  with(nolock)
group by ScaleregisterID,LoanAndAdvanceID having round(sum(isnull(Amount,0)),0)<>0
union all
select wd.TypeNo,srw.ScaleregisterID,wd.ID,isnull(-wd.Amount,0) as Amount
from ScaleRegisterWithdrawals srw with(nolock)
left outer join (
select 1 as TypeNo,ScaleregisterWithDrawalID,1 as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterBasicPayWithdrawals with(nolock)
group by ScaleregisterWithDrawalID having round(sum(isnull(Amount,0)),0)<>0 union all
select 2 as TypeNo,ScaleregisterWithDrawalID,AllowanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterAllowanceWithdrawals with(nolock) 
group by ScaleregisterWithDrawalID,AllowanceID having round(sum(isnull(Amount,0)),0)<>0 union all
select 3 as TypeNo,ScaleregisterWithDrawalID,SalaryAdditionOthersID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterOtherAdditionWithdrawals with(nolock)
group by ScaleregisterWithDrawalID,SalaryAdditionOthersID having round(sum(isnull(Amount,0)),0)<>0 union all
select 4 as TypeNo,ScaleregisterWithDrawalID,SalaryDeductionOthersID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterOtherDeductionWithdrawals with(nolock) 
group by ScaleregisterWithDrawalID,SalaryDeductionOthersID having round(sum(isnull(Amount,0)),0)<>0 union all
select 5 as TypeNo,ScaleregisterWithDrawalID,LoanAndAdvanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterLoanandAdvanceWithdrawals  with(nolock)
group by ScaleregisterWithDrawalID,LoanAndAdvanceID having round(sum(isnull(Amount,0)),0)<>0
) as WD on wd.ScaleregisterWithDrawalID=srw.ScaleregisterWithDrawalID
) as AD group by TypeNo,ScaleregisterID,ID
) as W on w.ScaleregisterID=sr.ScaleregisterID
) ,
SR1 (OLID,ContactID,YearID,MonthID,StartingDate,EndingDate,Generated,Suppliment,HeldUp,BillregisterNo,BillregisterDate,ScaleRegisterID,TypeNo,ID,Amount)
AS (	
select * from SR r where  r.Generated=1 and r.Heldup<>1 and r.suppliment<>1
and r.ScaleregisterID in (select max(r1.ScaleregisterID) from SR r1 where r1.ContactID=r.ContactID and r1.Yearid=r.Yearid and r1.MonthID=r.MonthID and r1.Generated=1 and r1.Heldup<>1 and r1.suppliment<>1)
) 
insert into @SWithdrawals
select * from SR1 r where Amount<>0
and Scaleregisterid in (select scaleregisterid from ScaleRegisterWithdrawals)


RETURN
END
GO
