USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnInvestments]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnInvestments]()
RETURNS Table AS
RETURN 	(


With IVT (InvestmentMainTypeID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,Limits) as (
select distinct it.InvestmentMainTypeID,it.InvestmentTypeID,ist.InvestmentSectionTypeID,ist.Description as SectionID,it.Description
,(case when InvestmentTypeID in (16,44,48) then '' else Left(Limit,(case when isnull(Len((Limit)),0)=0 then 1 else isnull(Len((Limit)),0) end)-1) end) as Limits
from InvestmentTypes_hrms it
left outer join InvestmentSectionTypes_hrms ist on ist.InvestmentSectionTypeid=it.InvestmentSectionTypeid
Cross Apply (select convert(varchar,Limit,50)+'  ,  ' from InvestmentTypeLimits ilt where it.InvestmentTypeID=ilt.InvestmentTypeID For xml path ('')) L (Limit)

), IVA (ContactID,InvestmentMainTypeID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,ActualAmount,DeclaredAmount,ProjectAmount,Limits,Date,SystemGenerated) as (
select  ei.ContactID,ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,ivt.InvestmentSectionTypeID,ivt.SectionID,ivt.Description
,round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0) as ActualAmount,round(round(Sum(Isnull(eid.DeclaredAmount,0)),2),0) as DeclaredAmount,0 as ProjectAmount  
,ivt.Limits,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date,SystemGenerated
from IVT  
inner join EmployeeInvestmentDetails eid on eid.InvestmentTypeID=ivt.InvestmentTypeID
left outer join EmployeeInvestments ei on ei.EmployeeInvestmentid=eid.EmployeeInvestmentid 
and (cast(FromYear as varchar(4))+'-'+cast(ToYear as varchar(4))) in (select Distinct FnYear from TmpITFinal)
where ivt.InvestmentTypeID not in (62,68,69,1) and systemgenerated<>1 
and ei.ContactID in (select distinct contactid from TmpITFinal)
group by ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,ivt.InvestmentSectionTypeID,ivt.SectionID,ivt.Description,ivt.Limits,ei.ContactID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')),SystemGenerated


), IVA1 (ContactID,InvestmentMainTypeID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,ActualAmount,DeclaredAmount,ProjectAmount,Limits,Date,SystemGenerated) as (
select  ei.ContactID,ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,ivt.InvestmentSectionTypeID,ivt.SectionID,ivt.Description
,round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0) as ActualAmount,round(round(Sum(Isnull(eid.DeclaredAmount,0)),2),0) as DeclaredAmount,0 as ProjectAmount  
,ivt.Limits,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date,SystemGenerated
from IVT  
inner join EmployeeInvestmentDetails eid on eid.InvestmentTypeID=ivt.InvestmentTypeID
left outer join EmployeeInvestments ei on ei.EmployeeInvestmentid=eid.EmployeeInvestmentid
where ivt.InvestmentTypeID in (53) and systemgenerated=1  and Arrears<>1
and ei.ContactID in (select distinct contactid from TmpITFinal)
group by ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,ivt.InvestmentSectionTypeID,ivt.SectionID,ivt.Description,ivt.Limits,ei.ContactID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')),SystemGenerated



), IVAA (ContactID,InvestmentMainTypeID,InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,ActualAmount,DeclaredAmount,ProjectAmount,Limits,Date,SystemGenerated) as (
select distinct ei.ContactID,ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,ivt.InvestmentSectionTypeID,ivt.SectionID,ivt.Description
,round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0) as ActualAmount,round(round(Sum(Isnull(eid.ActualAmount,0)),2),0) as DeclaredAmount,0 as ProjectAmount  
,ivt.Limits,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')) as Date,SystemGenerated
from IVT  
inner join EmployeeInvestmentDetails eid on eid.InvestmentTypeID=ivt.InvestmentTypeID
left outer join EmployeeInvestments ei on ei.EmployeeInvestmentid=eid.EmployeeInvestmentid
where ivt.InvestmentTypeID not in (62,68,69,1) and systemgenerated=1 and Arrears=1
and ei.ContactID in (select distinct contactid from TmpITFinal)
group by ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,ivt.InvestmentSectionTypeID,ivt.SectionID,ivt.Description,ivt.Limits,ei.ContactID,convert(datetime,(ltrim(str(Year(eid.InvestmentDate)))+'-'+ltrim(str(Month(eid.InvestmentDate)))+'-'+'01')),SystemGenerated
having (round(Round(Sum(Isnull(eid.ActualAmount,0)),2),0)+round(round(Sum(Isnull(eid.DeclaredAmount,0)),2),0))<>0


), AIVA (SalaryTypes,ContactID,InvestmentTypeID,ActualAmount,DeclaredAmount,ProjectAmount,Date) as (
select SalaryTypes,ContactID

,isnull((Case when Salarytypes in ('Insurance','PLI','Group Insurance') then 24 else 
Case when Salarytypes in ('PT') then 2 else Case when Salarytypes in ('FBF') then 18 else 
Case when Salarytypes in ('GIS') then 24 else 
Case when TypesID=4 and Salarytypes in ('CPC') then 36 else Case when Salarytypes in ('CM Fund','PM Fund') then 44 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (7) then 72 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (35) then 80 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (9) then 73 else 
Case when Salarytypes in ('EPC') then 19 else NULL end end end end end end end end end end),
(Case when Salarytypes in ('Other Allowance') and TypeID in (19,18) then 75 else
Case when Salarytypes in ('Other Allowance') and TypeID in (23) then 76 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (24) then 77 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (25) then 78 else NULL end end end end)) as InvestmentTypeID

,sum(Amount) as ActualAmount,0 as DeclaredAmount,0 as ProjectAmount,Date
from TmpITFinal where Types1='Actual'
and Salarytypes in ('Insurance','PT','FBF','CM Fund','PLI','Group Insurance','CPC','EPC','Other Allowance','GIS','PM Fund')
and TypesID not in (3)
group by ContactID,Date,SalaryTypes,TypesID,TypeID

), SIVA (SalaryTypes,ContactID,InvestmentTypeID,ActualAmount,DeclaredAmount,ProjectAmount,Date) as (
select SalaryTypes,ContactID,

isnull((Case when Salarytypes in ('Insurance','PLI','Group Insurance') then 24 else 
Case when Salarytypes in ('PT') then 2 else Case when Salarytypes in ('FBF') then 18 else 
Case when Salarytypes in ('GIS') then 24 else 
Case when TypesID=4 and Salarytypes in ('CPC') then 36 else Case when Salarytypes in ('CM Fund','PM Fund') then 44 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (7) then 72 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (35) then 80 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (9) then 73 else 
Case when Salarytypes in ('EPC') then 19 else NULL end end end end end end end end end end),
(Case when Salarytypes in ('Other Allowance') and TypeID in (19,18) then 75 else
Case when Salarytypes in ('Other Allowance') and TypeID in (23) then 76 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (24) then 77 else 
Case when Salarytypes in ('Other Allowance') and TypeID in (25) then 78 else NULL end end end end)) as InvestmentTypeID


,0 as ActualAmount,sum(isnull(Amount,0)) as DeclaredAmount,sum(isnull(Amount,0)) as ProjectAmount
,(select Max(t1.Date) from TmpITFinal t1 where t1.COntactID=t.COntactID and t1.Types1='Actual')
from TmpITFinal t where Salarytypes in ('Insurance','PT','FBF','CM Fund','PLI','Group Insurance','CPC','EPC','Other Allowance','GIS','PM Fund') 
and TypesID not in (3) and Types1='Project'
group by ContactID,SalaryTypes,TypesID,TypeID
union all select SalaryTypes,ContactID,InvestmentTypeID,0 as ActualAmount,ActualAmount as DeclaredAmount,0 as ProjectAmount,Date from AIVA

), SAIVA (SalaryTypes,ContactID,InvestmentTypeID,ActualAmount,DeclaredAmount,ProjectAmount,Date,SystemGenerated) as (
select SalaryTypes,ContactID,InvestmentTypeID,sum(Isnull(ActualAmount,0)) as ActualAmount,sum(Isnull(DeclaredAmount,0)) as DeclaredAmount,sum(Isnull(ProjectAmount,0)) as ProjectAmount,Date,1 as SystemGenerated
from (select * from AIVA union all select * from SIVA
) as s where InvestmentTypeID is not null group by SalaryTypes,ContactID,InvestmentTypeID,Date

)
select *,(case when month(Date) in (4,5,6,7,8,9,10,11,12) then (cast(Year(Date) as varchar(4))+'-'+cast(Year(Date)+1 as varchar(4))) else case when month(Date) in (1,2,3) then (cast(Year(Date)-1 as varchar(4))+'-'+cast(Year(Date) as varchar(4))) else NULL end end) as FyYear
from (
select ContactID,ivt.InvestmentMainTypeID,ivt.InvestmentTypeID,InvestmentSectionTypeID,SectionID,Description,ActualAmount,DeclaredAmount,ProjectAmount,Limits,Date,SystemGenerated
from SAIVA left outer join ivt on ivt.InvestmentTypeID=saiva.InvestmentTypeID 
union all select * from IVA 
union all select * from IVA1 
union all select * from IVAA where (Isnull(ActualAmount,0)+Isnull(DeclaredAmount,0))<>0 
) as IV


)
GO
