USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDeductionsLive]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnDeductionsLive](@AcOLID Int,@FromYear Int,@ToYear Int,@InChargeOLID Int) RETURNS Table AS RETURN ( 

--Declare @FromYear Int select @FromYear = 2014 
--Declare @ToYear Int select @ToYear = 2015 
--Declare @AcOLID Int select @AcOLID = 338 
--Declare @InChargeOLID Int select @InChargeOLID = 1 

select ScaleRegisterID,SalaryOtherDeductionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select ScaleRegisterID,SalaryOtherDeductionID,Round(Round(sum(isnull(Amount,0)),2),0) as TobePaidAmount,0 as PaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as Amount 
from ScaleRegisterOtherDeductions with(nolock) where isnull(Amount,0)<>0 
and ScaleRegisterID in (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) 
Group By ScaleRegisterID,SalaryOtherDeductionID 
union all 

select srw.ScaleRegisterID,SalaryDeductionOthersID,0 as TobePaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as PaidAmount,-Round(Round(sum(isnull(Amount,0)),2),0) as Amount from ( 
select ScaleRegisterWithdrawalID,sr.ScaleregisterID from ScaleRegisterWithdrawals srw with(nolock) 
inner join (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) sr on sr.ScaleRegisterID=srw.ScaleregisterID 
) as SRW inner join ScaleRegisterOtherDeductionWithdrawals srlw with(nolock) on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0 
Group By ScaleRegisterID,SalaryDeductionOthersID 
) as A Group By ScaleRegisterID,SalaryOtherDeductionID Having sum(isnull(Amount,0)) <>0 

)
GO
