USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[UserDetails]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[UserDetails]()
RETURNS Table AS
RETURN 	(
select odda.OfficeDepartmentDesignationAllocationid as ODDID, odld.ODLDID,  
olda.OfficeLocationDepartmentAllocationID as OLDID, 
odda.OfficeDepartmentAllocationID as ODID, ola.OfficeLocationAllocationID as OLID,
oda.OfficeID, o.OfficeName, oda.DepartmentID, d.DepartmentName, ola.LocationID,
(Select LocationName from Location where Locationid=ola.LocationID)as LocationName, 
odda.DesignationID,
(Select DesignationName from Designation where DesignationID=odda.DesignationID)as DesignationNAme,
e.ContactID, c.FileAs, u.UserName
from OfficeDepartmentDesignationAllocation odda
left outer join OfficeDepartmentAllocation oda on oda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID
left outer join OfficeLocationDepartmentAllocation olda on olda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID
left outer join officelocationallocation ola on ola.officelocationallocationid=olda.officelocationallocationid
left outer join Office o on o.OfficeID=oda.OfficeID
left outer join Department d on d.DepartmentID=oda.DepartmentID
left outer join odldallocation odld on odld.designationid=odda.designationid
and odld.officeid=oda.officeid 
and odld.locationid=ola.locationid 
and odld.departmentid=d.departmentid
left outer join employee e on e.odldid=odld.odldid
left outer join contacts c on c.contactid=e.contactid
left outer join users u on u.contactid=c.contactid

)
GO
