USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnJVDetails]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnJVDetails] (@FromFyYear DateTime,@ToFyYear DateTime,@AcOLID Int)

RETURNS Table AS 
RETURN 	(



--Declare @FromFyYear DateTime select @FromFyYear = '2016-12-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2016-12-31'
--Declare @AcOLID Int select @AcOLID = 658
--;

With JV (JVNo,FromAcCode,ToAcCode,VCCode,Amount) as (
select JournalVoucherNo,(jv.FromMainAccountCode+jv.FromSubAccountCode) as FromAcCode,(jv.ToMainAccountCode+jv.ToSubAccountCode) as ToAcCode,VoltageClassCode,Sum(isnull(Amount,0)) as Amount
from JournalVoucherDetails JV with (nolock) 
left outer join VoltageClass VC on vc.VoltageClassID=jv.VoltageClassID
where JournalVoucherNo in ( select JournalVoucherNo from JournalVoucher B with (nolock) where b.JournalVoucherNo=jv.JournalVoucherNo and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID=@AcOLID and Approved=1 )
--and JournalVoucherNo in ( 241549,301629,280284,257504 )
Group By JournalVoucherNo,(jv.FromMainAccountCode+jv.FromSubAccountCode),(jv.ToMainAccountCode+jv.ToSubAccountCode),VoltageClassCode

) , JVNo (JournalVoucherNo) as (
select JournalVoucherNo from ReceiptVoucherAbstract_Accounts A with (nolock) where ReturnTypeID=2
and JournalVoucherNo in ( select JournalVoucherNo from JournalVoucher B with (nolock) where b.JournalVoucherNo=a.JournalVoucherNo and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID=@AcOLID and Approved=1 )
union 
select JournalVoucherNo from CivilInvoice A with (nolock) 
where JournalVoucherNo in ( select JournalVoucherNo from JournalVoucher B with (nolock) where b.JournalVoucherNo=a.JournalVoucherNo and JournalVoucherDate Between @FromFyYear and @ToFyYear and OLID=@AcOLID and Approved=1 )

) , JV1 (JVNo,FromAcCode,ToAcCode,VCCode,Amount,LenFrom,LenTo,Ordered) as ( 
select *,(case when len(FromAcCode)=0 then 0 else 1 end) as LenFrom,(case when len(ToAcCode)=0 then 0 else 1 end) as LenTo 
,(Row_Number() over (Partition By JVNo Order By JVNo,FromAcCode)) as Ordered from JV 

), JVFrom (JVNo,VCCode) as (
select JVNo,VCCode from JV1 where (case when LenFrom=0 and LenTo=0 then 0 else case when LenFrom=1 and LenTo=1 then 1 else 2 end end)=2
Group By JVNo,VCCode Having Sum(LenFrom)=1

), JVTo (JVNo,VCCode) as (
select JVNo,VCCode from JV1 where (case when LenFrom=0 and LenTo=0 then 0 else case when LenFrom=1 and LenTo=1 then 1 else 2 end end)=2
Group By JVNo,VCCode Having Sum(LenFrom)!=1 and Sum(LenTo)=1

), JV2 (JVNo,VCCode) as (
select JVNo,VCCode from JV1 where (case when LenFrom=0 and LenTo=0 then 0 else case when LenFrom=1 and LenTo=1 then 1 else 2 end end)=2
Group By JVNo,VCCode Having Sum(LenFrom)!=1 and Sum(LenTo)!=1

) , JVFinal (JVNo,VCCode,FromAcCode,ToAcCode,Amount,Lenth) as (
select *,1 as Lenth from ( 
select JVNo,VCCode,FromAcCode,ToAcCode,Amount from JV1 where LenFrom=1 and LenTo=1
union all
select a.JVNo,a.VCCode,b.FromAcCode,a.ToAcCode,a.Amount
from ( select * from JV1 A where LenTo=1 and LenFrom=0 and JVNo in ( select JVNo from JV1 B where LenTo=1 and LenFrom=0 and b.Ordered>1 and b.JVNo=a.JVNo )) as A
full join ( select b.*,FromAcCode from ( select * from JV1 where LenTo=0 and LenFrom=1 ) as A full join JVFrom B on b.JVNo=a.JVNo and b.VCCode=a.VCCode ) as B on b.JVNo=a.JVNo and b.VCCode=a.VCCode
where (case when a.JVNo is not NULL and b.FromAcCode is not NULL then 1 else 0 end)=1
union all
select a.JVNo,b.VCCode,b.FromAcCode,a.ToAcCode,b.Amount
from ( select * from JV1 A where LenTo=1 and LenFrom=0 and JVNo not in ( select JVNo from JV1 B where LenTo=1 and LenFrom=0 and b.Ordered>1 and b.JVNo=a.JVNo )) as A
full join ( select b.*,FromAcCode,Amount from ( select * from JV1 where LenTo=0 and LenFrom=1 ) as A full join JVFrom B on b.JVNo=a.JVNo and b.VCCode=a.VCCode ) as B on b.JVNo=a.JVNo --and b.VCCode=a.VCCode
where (case when a.JVNo is not NULL and b.FromAcCode is not NULL then 1 else 0 end)=1
union all
select a.JVNo,a.VCCode,a.FromAcCode,b.ToAcCode,a.Amount
from ( select * from JV1 where LenTo=0 and LenFrom=1 ) as A
full join ( select b.*,ToAcCode from ( select * from JV1 where LenTo=1 and LenFrom=0 ) as A full join JVTo B on b.JVNo=a.JVNo and b.VCCode=a.VCCode ) as B on b.JVNo=a.JVNo and b.VCCode=a.VCCode
where (case when a.JVNo is not NULL and b.ToAcCode is not NULL then 1 else 0 end)=1
) as A where JVNo not in ( select JVNo from JV2 B where b.JVNo=a.JVNo )
union all
select JVNo,VCCode,FromAcCode,ToAcCode,Amount,2 as Lenth from JV1 A where JVNo in ( select JVNo from JV2 B where b.JVNo=a.JVNo ) and JVNo not in ( 
select JournalVoucherNo from JVNo C where c.JournalVoucherNo=a.JVNo )
union all
select JournalVoucherNo,VoltageClassCode collate database_default,FromAcCode,ToAcCode,FAmount,3 as Lenth from FnRV(@FromFyYear,@ToFyYear,@AcOLID)
 A where JournalVoucherNo in ( select JVNo from JV2 B where b.JVNo=a.JournalVoucherNo)
union all select JournalVoucherNo,VoltageClassCode,FromAcHead,ToAcCode,Amount,3 as Lenth from FnLCBill(@FromFyYear,@ToFyYear,@AcOLID)
 A where JournalVoucherNo in ( select JVNo from JV2 B where b.JVNo=a.JournalVoucherNo)

) 

select a.JVNo,VCCode,FromAcCode,ToAcCode   ---,(case when ToAcCode='76.901' then '42.401' else case when FromAcCode in ('76.109','76.110') then '76.901' else ToAcCode end end) as ToAcCode
,(isnull(a.Amount,0)+(case when ToAcCode='42.401' and Lenth>1 then isnull(b.Amount,0) else 0 end)) as Amount,Lenth
from JVFinal A
Full Join ( select JVNo,0 as Amount from JV1 A where JVNo not in (select JVNo from JV1 B where ToAcCode in ('46.921') and b.JVNo=a.JVNo )
and FromAcCode in ('76.109','76.110') Group By JVNo ) as B on b.JVNo=a.JVNo

--select JVNo,VCCode,FromAcCode,ToAcCode,Amount,2 as Lenth from JV1 A where JVNo in ( select JVNo from JV2 B where b.JVNo=a.JVNo ) and JVNo in ( 
--select JournalVoucherNo from JVNo C where c.JournalVoucherNo=a.JVNo )

)
GO
