USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnItemWiseUOM]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[FnItemWiseUOM] (@UOLID Int)

RETURNS Table AS 
RETURN 	(

--Declare @UOLID Int select @UOLID = 337


select ItemID,StockConditionID,UnitID,AcOLID,OrderNo from ( 
select *,(Row_Number() over (Partition By ItemID,StockConditionID,AcOLID Order By ItemID,StockConditionID,AcOLID,OrderNo)) as MaxNo from ( 
select ItemID,StockConditionID,UnitID,AcOLID,1 as OrderNo
from (select distinct AcOLID from OfficeLocationAccountingUnitDetails with(nolock) where (CorporateOLID=@UOLID or ZonalOLID=@UOLID or CircleOLID=@UOLID or AcOLID=@UOLID) and OfficeID not in (65,66,85,49) and AcUnit=1) as B
cross join ( select distinct ItemID,StockConditionID,UnitID from ( select * ,(Row_Number() over (Partition By ItemID,StockConditionID Order By ItemID,StockConditionID,StockConditionUOMAllocationID)) as MaxNo
from StockConditionUOMAllocation with (nolock) ) A where MaxNo=1 ) A 
union  
select ItemID,StockConditionID,UnitID,AcOLID,2 as OrderNo
from ( select distinct AcOLID,OLID from OfficeLocationAccountingUnitDetails with(nolock) where (CorporateOLID=@UOLID or ZonalOLID=@UOLID or CircleOLID=@UOLID or AcOLID=@UOLID) and OfficeID not in (65,66,85,49) and AcUnit=1 ) ol 
Cross Apply ( select distinct ItemID,OLID,UnitID from ( select ItemID,OLID,UnitID,(Row_Number() over (Partition By ItemID,OLID Order By ItemID,OLID,StockLedgerYear desc,StockLedgerMonth desc,StockLedgerID desc)) as MaxNo 
from StockLedger_PnI A with (nolock) where a.OLID=ol.OLID ) A where MaxNo=1 ) A
Cross Join StockConditions with (nolock) 
) as A ) as A where MaxNO=1


)

GO
