USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[stockA]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[stockA] (@CBQty decimal(18,4),@RVQty decimal(18,4),@SIQty decimal(18,4),@CBitem int,@RVItem int,@SIitem int,@SIAitem int) returns int as
Begin
declare @result int
select @result = case 
when @CBQty>0 then @CBitem
when @CBQty=0 OR @RVQty>0 then @RVItem
when @CBQty=0 OR @RVQty=0 OR @SIQty>0 then @SIitem
else @SIAitem
End
return @result
end
GO
