USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_UnRealizedCheques]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Function [dbo].[Fn_UnRealizedCheques](@OfficeID int,@LocationID int,@YearID int,@MonthID int,@FinalApprove int) RETURNS Table AS Return ( 

--Declare @OfficeID int = 80 
--Declare @LocationID int = 492 
--Declare @YearID int = 2022 
--Declare @MonthID int = 12 
--Declare @FinalApprove int = 1 
--;


with BRS as (
select a.*,BankID,BranchID,ChequeNo,ChequeDate,sum(ChequeAmount) ChequeAmount,Remitted,RemittanceDate,Realized,RealizedDate,Dishonoured,DishonouredDate,DishonouredCharges,Withdrawn,WithdrawnDate from (
select AcOLID,a.OLID,OfficeLocation,BankReconciliationStatmentID,CashBookYear,CashBookMonth from ( 
select AcOLID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails A with(nolock) where (case when @OfficeID=0 then 0 else OfficeID end)=@OfficeID and (case when @LocationID=0 then 0 else LocationID end)=@LocationID 
) A inner join BankReconciliationStatment B with(nolock) on CashBookYear=@YearID and CashBookMonth=@MonthID and isnull(Approved,0)=@FinalApprove and b.OLID=a.OLID 
) A inner join UnrealisedCheques B with(nolock) on b.BankReconciliationStatmentID=a.BankReconciliationStatmentID 
group by AcOLID,a.OLID,OfficeLocation,a.BankReconciliationStatmentID,CashBookYear,CashBookMonth,BankID,BranchID,ChequeNo,ChequeDate,Remitted,RemittanceDate,Realized,RealizedDate,Dishonoured,DishonouredDate,DishonouredCharges,Withdrawn,WithdrawnDate


) , RTNo as (
select distinct a.OLID,BankID,BranchID,a.ChequeNo,a.ChequeDate,ReferenceNumber,convert(varchar,ReferenceDate,104) ReferenceDate,DocumentNumber 
from BRS a inner join SecurityDepositDetails B with(nolock) on B.OLID=A.OLID and isnull(b.ExternalOrganisationID,0)=a.BankID and isnull(b.ExternalOrganisationBranchID,0)=a.BranchID and isnull(b.chequeNumber,'0')=a.chequeNo and isnull(b.ChequeDate,'1900-01-01')=a.ChequeDate
inner join SecurityDeposit C with(nolock) on c.SecurityDepositID=b.SecurityDepositID

)
select  a.* ,ReferenceNumber,ReferenceDate,DocumentNumber 
from BRS A left join RTNo B on b.OLID=a.OLID and b.BankID=a.BankID and b.BranchID=a.BranchID and b.chequeNo=a.chequeNo and b.ChequeDate=a.ChequeDate


) 

GO
