USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRW]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnSRW]()
RETURNS Table AS
RETURN 	(
	
	


With SR (OLID,ContactID,YearID,MonthID,StartingDate,EndingDate,Generated,Suppliment,HeldUp,BillregisterNo,BillregisterDate,ScaleRegisterID,TypeNo,ID,Amount)
AS (

select sr.OLID,sr.ContactID, sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,sr.StartingDate,sr.EndingDate,isnull(sr.Generated,0) as Generated,isnull(sr.Suppliment,0) as Suppliment
,isnull(sr.HeldUp,0) as HeldUp,isnull(sr.BillregisterNo,0) as BillregisterNo,BillregisterDate,sr.ScaleRegisterID,w.TypeNo,w.ID,isnull(w.Amount,0) as Amount
from ScaleRegister sr
left outer join (
select TypeNo,ScaleregisterID,ID,sum(isnull(Amount,0)) as Amount
from ( 
select * from (
select 'BP' as TypeNo,ScaleregisterID,1 as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleregisterBasicPayDetails
group by ScaleregisterID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'AL' as TypeNo,ScaleregisterID,AllowanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterAllowances 
group by ScaleregisterID,AllowanceID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'OA' as TypeNo,ScaleregisterID,SalaryOtherAdditionID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterOtherAdditions
group by ScaleregisterID,SalaryOtherAdditionID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'OD' as TypeNo,ScaleregisterID,SalaryOtherDeductionID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterOtherDeductions 
group by ScaleregisterID,SalaryOtherDeductionID having round(sum(isnull(Amount,0)),0)<>0 union all
select 'LA' as TypeNo,ScaleregisterID,LoanAndAdvanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from scaleregisterLoansandadvances 
group by ScaleregisterID,LoanAndAdvanceID having round(sum(isnull(Amount,0)),0)<>0
) as SRD where srd.ScaleregisterID in (select scaleregisterid from [dbo].[FnSRWD]())
union all
select * from [dbo].[FnSRWD]()
) as AD group by TypeNo,ScaleregisterID,ID having sum(isnull(Amount,0))<>0
) as W on w.ScaleregisterID=sr.ScaleregisterID
where isnull(Amount,0)<>0

),  MaxSR (ScaleRegisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPaymnet,RecoveryAmount,Generated,Suppliment,Heldup,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select sr.ScaleRegisterID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.StartingDate,sr.EndingDate,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.Heldup,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn 
from scaleregister sr
inner join (select * from scaleregister sr1
where sr1.ScaleRegisterID in (select min(sr2.ScaleregisterID) from scaleregister sr2 where sr2.OLID=sr1.OLID and sr2.ContactID=sr1.ContactID and sr2.SalaryYear=sr1.SalaryYear and sr2.SalaryMonth=sr1.SalaryMonth and isnull(sr2.Heldup,0)<>1 and isnull(sr2.generated,0)=1 and isnull(sr2.Suppliment,0)<>1 group by sr2.OLID,sr2.ContactID,sr2.SalaryYear,sr2.SalaryMonth)
) sr1 on sr.OLID=sr1.OLID and sr.ContactID=sr1.ContactID and sr.SalaryYear=sr1.SalaryYear and sr.SalaryMonth=sr1.SalaryMonth and isnull(sr.BillRegisterNo,0) = isnull(sr1.BillRegisterNo,0)
where sr.ScaleRegisterID in (select max(sr1.ScaleregisterID) from scaleregister sr1 where sr1.OLID=sr.OLID and sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.Heldup,0)<>1 and isnull(sr1.generated,0)=1 and isnull(sr1.Suppliment,0)<>1 
and isnull(sr1.BillRegisterNo,0) = isnull(sr.BillRegisterNo,0) group by sr1.OLID,sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth,sr1.BillRegisterNo)
and isnull(sr1.Heldup,0)<>1 and isnull(sr1.generated,0)=1 and isnull(sr1.Suppliment,0)<>1 
)

select sr.OLID,sr.ContactID,srw.YearId,srw.MonthID,sr.StartingDate,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterDate,srw.ScaleRegisterID as PrvSID,sr.ScaleRegisterID as PrtSID,srw.TypeNo,srw.ID,sum(isnull(srw.Amount,0)) as Amount 
from MaxSR sr
inner join sr srw on srw.ContactID=sr.ContactID and srw.BillRegisterNo=sr.BillRegisterNo and srw.OLID=sr.OLID and srw.ScaleRegisterID<>sr.ScaleRegisterID 
group by sr.OLID,sr.ContactID,srw.YearId,srw.MonthID,sr.StartingDate,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterDate,srw.ScaleRegisterID,sr.ScaleRegisterID,srw.TypeNo,srw.ID

)
GO
