USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnLoanandAdvanceLive]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnLoanandAdvanceLive](@AcOLID Int,@FromYear Int,@ToYear Int,@InChargeOLID Int) RETURNS Table AS RETURN ( 

--Declare @FromYear Int select @FromYear = 2014 
--Declare @ToYear Int select @ToYear = 2015 
--Declare @AcOLID Int select @AcOLID = 338 
--Declare @InChargeOLID Int select @InChargeOLID = 1 

select ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount
,sum(isnull(Amount,0)) as Amount from ( select ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo
,Round(Round(sum(isnull(Amount,0)),2),0) as TobePaidAmount,0 as PaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as Amount 
from ScaleRegisterLoansandAdvances with(nolock) where isnull(Amount,0)<>0 
and ScaleRegisterID in (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) 
Group By ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo 
union all 
select ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo,0 as TobePaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as PaidAmount
,-Round(Round(sum(isnull(Amount,0)),2),0) as Amount 
from (select ScaleRegisterWithdrawalID,srw.ScaleRegisterID from ScaleRegisterWithdrawals srw with(nolock) 
    	inner join (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) srw1
inner join ScaleRegisterLoanandAdvanceWithdrawals srlw with(nolock) on srlw.ScaleRegisterWithdrawalID=srw1.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0 
Group By ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo 
) as A Group By ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID,ExternalOrganisationBranchID,ExternalRRNo Having sum(isnull(Amount,0)) <>0 

)
GO
