USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRBDate]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRBDate](@FromDate varchar(12),@ToDate varchar(12)) RETURNS Table AS RETURN ( 

--declare @FromDate varchar(12) = '2020-12-01'
--declare @ToDate varchar(12) = '2020-12-31';

With MDate (ContactID,MDate) as ( 
select distinct ContactID,(select Today from Today_HRMS) as MDate 
from Scaleregister sr with(nolock) 
where isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 and sr.Legacy<>1 
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate 
and (dateadd(month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1)<=@ToDate 

), SR1 (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as ( 
select ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments
,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID ,(case when sr.BillRegisterDate is null then (select MDate from MDate m where m.COntactID=sr.ContactID) else sr.BillRegisterDate end) as BillRegisterDate,CreatedOn 
from Scaleregister sr with(nolock) 
where isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate 
and (dateadd(month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1)<=@ToDate 
and sr.ScaleRegisterID in (select min(sr1.ScaleRegisterID) from ScaleRegister sr1 with(nolock) where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and sr1.OLID=sr.OLID) 

), SR (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as ( 
select sr.ScaleregisterID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.StartingDate,sr.EndingDate,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay
,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID
,sr.BillRegisterDate,sr.CreatedOn from SR1 sr )

select * from (
select * from SR sr where sr.ScaleregisterID in (select max(sr1.ScaleregisterID) from SR sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and sr1.OLID=sr.OLID and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth) 
and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 ) SR 


)
GO
