USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnCapitalBudgetNew1]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnCapitalBudgetNew1] (@FinancialYear varchar(50),@OLID Int) RETURNS Table AS RETURN ( 

--Declare @FinancialYear varchar(50) select @FinancialYear = '2015-2016' 
--Declare @OLID Int select @OLID = 337 

select b.AcOLID,o.OfficeName,l.LocationName,OLID,BudgetGrantID,BudgetControlID,b.BudgetGrantMainTypeID,b.BudgetGrantTypeID,b.BudgetGrantTypes,UnderBudgetGrantTypeID
,b.UnderBudgetGrantTypes ,left(datename(month,convert(datetime,cast(b.YearFrom as Varchar(4))+'-'+'4-1')),3)+'-'+cast(b.YearFrom as Varchar(4)) as FromYear 
,left(datename(month,convert(datetime,cast(b.YearTo as Varchar(4))+'-'+'3-1')),3)+'-'+cast(b.YearTo as Varchar(4)) as ToYear ,ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) as AccountCode
,b.BudgetGrantTypes as AccountDescription ,b.Date,Particulars,b.Credit,b.Debit,Balance,CDTotal,Ordering,Ordered,MaxNo,TypeID,ToOLID from ( 

select a.AcOLID,a.OLID,a.YearFrom,a.YearTo,a.Date,a.Particulars,a.BudgetGrantID,a.BudgetControlID,a.BudgetGrantMainTypeID,a.BudgetGrantTypeID,a.BudgetGrantTypes
,a.UnderBudgetGrantTypeID,a.UnderBudgetGrantTypes,a.Credit,a.Debit,Sum(-b.Debit+b.Credit) as Balance,a.Ordering,a.Ordered,a.MaxNo,a.CDTotal,a.TypeID,a.ToOLID 
from FnBudgetReportNew1 (@FinancialYear,@OLID) A 
full join FnBudgetReportNew1 (@FinancialYear,@OLID) B on b.BudgetGrantTypeID=a.BudgetGrantTypeID and a.AcOLID=b.AcOLID and b.MaxNo<=a.MaxNo and b.TypeID not in (3,4) 
Group By a.AcOLID,a.OLID,a.YearFrom,a.YearTo,a.Date,a.Particulars,a.BudgetGrantID,a.BudgetControlID,a.BudgetGrantMainTypeID,a.BudgetGrantTypeID,a.BudgetGrantTypes,a.UnderBudgetGrantTypeID,a.UnderBudgetGrantTypes,a.Credit,a.Debit,a.Ordering,a.Ordered,a.MaxNo,a.CDTotal,a.TypeID,a.ToOLID 

) as B left outer join BudgetTypeAccountHeadAllocation bga with(nolock) on bga.BudgetGrantTypeID=b.BudgetGrantTypeID 
left outer join OfficeLocationAllocation ola with(nolock) on ola.OfficeLocationAllocationID=@OLID 
left outer join Office o with(nolock) on o.OfficeID=ola.OfficeID 
left outer join Location l with(nolock) on l.LOcationID=ola.LocationID 
left outer join BudgetTypeAccountHeadAllocation bga1 with(nolock) on bga1.BudgetGrantTypeID=b.BudgetGrantTypeID 
--where b.UnderBudgetGrantTypeID = 342 --and AcOLID = 658 --and b.BudgetGrantTypeID = 61 --Order By AcOLID,b.UnderBudgetGrantTypeID,MaxNo 

)
GO
