USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderOL]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnUnderOL]()
RETURNS Table AS
RETURN 	(



select * from OfficeLocationAccountingUnitDetails with(nolock)
)
GO
