USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetAllDetails]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetAllDetails]()
RETURNS @AllDetails TABLE
(AcOLID int,
DivisionName varchar(100), ODDID int, ODLDID int, OLDID int, ODID int, OLID int, OfficeID int, OfficeName varchar(100), DepartmentID int, DepartmentName  varchar(100),
 LocationID int, LocationName varchar(100), 
DesignationID int, DesignationName varchar(100), ContactID int, FileAs  varchar(100), UserName varchar(100))
AS
BEGIN
INSERT INTO @AllDetails


select AcOLID,(select FileAs from OfficeLocationAllocation where OfficeLocationAllocationID=AcOLID) as DivisionName,
 odda.OfficeDepartmentDesignationAllocationid as ODDID, odld.ODLDID,
olda.OfficeLocationDepartmentAllocationID as OLDID,
odda.OfficeDepartmentAllocationID as ODID, ola.OfficeLocationAllocationID as OLID,
oda.OfficeID, o.OfficeName, oda.DepartmentID, d.DepartmentName, ola.LocationID,
(Select LocationName from Location where Locationid=ola.LocationID)as LocationName,
odda.DesignationID,(Select DesignationName from Designation where DesignationID=odda.DesignationID)as DesignationNAme,e.ContactID, c.FileAs, u.UserName  -- into #temp
from OfficeDepartmentDesignationAllocation odda
left outer join OfficeDepartmentAllocation oda on oda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID
left outer join OfficeLocationDepartmentAllocation olda on olda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID
left outer join officelocationallocation ola on ola.officelocationallocationid=olda.officelocationallocationid
left outer join Office o on o.OfficeID=oda.OfficeID
left outer join Department d on d.DepartmentID=oda.DepartmentID
left outer join odldallocation odld on odld.designationid=odda.designationid
and odld.officeid=oda.officeid
and odld.locationid=ola.locationid
and odld.departmentid=d.departmentid
left outer join employee e on e.odldid=odld.odldid
left outer join contacts c on c.contactid=e.contactid
left outer join users u on u.contactid=c.contactid
left outer join  OfficeLocationAccountingUnitDetails olau on olau.OLID=ola.OfficeLocationAllocationID
order by AcOLID,e.contactid

RETURN;
END
GO
