USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderEmployees]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnUnderEmployees] (@OLID Int,@DPID Int,@DNID Int,@FromDate DateTime,@ToDate DateTime)

RETURNS Table AS 
RETURN (

--Declare @OLID Int select @OLID = 359
--Declare @DPID Int select @DPID = 179
--Declare @DNID Int select @DNID = 234
--Declare @FromDate DateTime select @FromDate = '2016-12-16'
--Declare @ToDate DateTime select @ToDate = '2017-01-15'



select AcOLID,OLID,OfficeLocation,odld.ODLDID,OfficeLocationDepartmentAllocationID as OLDID,odd.OfficeDepartmentAllocationID as ODID,odd.OfficeDepartmentDesignationAllocationID as ODDID,odld.OfficeID,odld.LocationID,odld.DesignationID,odld.DepartmentID,isnull(od.UnderDepartmentID,od.DepartmentID) as UnderDPID,ODDID as Permission,o.OrderNo,EmployeeCategoryID,EmployeeGradeID,e.ContactID,ct.Fileas as ContactName,(dn.DesignationName+' ('+dp.DepartmentCode+')') as Designation
,(Row_Number() over (Order By ol.OrderNo,SubDivisionOLID,OLID,o.OrderNo,odld.DepartmentID)) as  Ordered,(dense_rank() over (Partition By OLID Order By ol.OrderNo,SubDivisionOLID,OLID,o.OrderNo )) as  Ordered1  from ( 
select * from FnUnderOL() where ( OLID=@OLID or SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID )) as OL
inner join ODLDAllocation ODLD with (nolock) on odld.OfficeID=ol.OfficeID and odld.LocationID=ol.LocationID
inner join ( select distinct ContactID,ODLDID,EmployeeCategoryID from (
select e.ContactID,e.ODLDID,EmployeeCategoryID from Employee e with (nolock) where isnull(ODLDID,0)!=0 union select distinct ContactID,FieldValue,1 from EmployeeHistory_HRMS A with (nolock) where FieldName='ODLDID' and ValidupTo Between @FromDate and @ToDate
union select distinct ContactID,ToODLDID,isnull(EmployeecategoryID,1) from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,7,43,46) and Approved=1 and Reported=1 
and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in (select ContactID from Employee B with (nolock) where b.ContactID=a.ContactID and isnull(ODLDID,0)!=0) 
) as A   ) as E on e.ODLDID=odld.ODLDID

inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID and (isnull(od.UnderDepartmentID,od.DepartmentID)=@DPID or od.DepartmentID=@DPID)
inner join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
inner join OfficeLocationDepartmentAllocation OLD with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ol.OLID
left outer join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID from DesignationActivityAllocation with (nolock) where ActivityID=390 ) as DAA on isnull(daa.ODDID,0)=odd.OfficeDepartmentDesignationAllocationID
inner join ( select egd.DesignationID,EmployeeGradeID,(Dense_Rank() over (Order By EMployeeGradeID,OrderNo)) as OrderNo from EmployeeGradeDesignationAllocation EGD with (nolock) inner join DesignationHierarchyOrder_Config DO with (nolock) on do.DesignationID=egd.DesignationID ) as O on o.DesignationID=odld.DesignationID
inner join Contacts ct with (nolock) on ct.ContactID=e.ContactID
inner join Designation dn with (nolock) on dn.DesignationID=odld.DesignationID
inner join Department dp with (nolock) on dp.DepartmentID=odld.DepartmentID
where o.OrderNo> ( select OrderNo from ( select egd.DesignationID,(Dense_Rank() over (Order By EmployeeGradeID,OrderNo)) as OrderNo from EmployeeGradeDesignationAllocation EGD with (nolock) inner join DesignationHierarchyOrder_Config DO with (nolock) on do.DesignationID=egd.DesignationID ) as A where DesignationID=@DNID )

)
GO
