USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRNew]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnSRNew]()
RETURNS Table AS
RETURN 	(

With MinSRID (Salary,SalaryID,ScaleRegisterID,ContactID,StartingDate,EndingDate,BRNo) as (
select distinct (case when SalaryYear=Year(isnull(BillRegisterDate,t.Today)) and SalaryMonth=Month(isnull(BillRegisterDate,t.Today)) then 'Normal' else 'Sppliment'  end) as Salaries
,(case when SalaryYear=Year(isnull(BillRegisterDate,t.Today)) and SalaryMonth=Month(isnull(BillRegisterDate,t.Today)) then 1 else 2 end) as SalaryID,ScaleRegisterID,ContactID
,convert(datetime,(cast(Year(StartingDate) as varchar(4))+'-'+cast(Month(StartingDate) as varchar(2))+'-1')) as StartingDate
,(Dateadd(Month,1,convert(datetime,(cast(Year(StartingDate) as varchar(4))+'-'+cast(Month(StartingDate) as varchar(2))+'-1')))-1) as EndingDate,BillRegisterNo as BRNo
from ScaleRegister sr With (NoLock) cross join Today_HRMS t With (NoLock)
where isnull(Generated,0)=1 and isnull(HeldUp,0)<>1 and isnull(Suppliment,0) in (0,1,9,12)  -----(0,1,6,9)
and sr.ScaleRegisterID in (select min(sr1.ScaleRegisterID) from ScaleRegister sr1  With (NoLock) where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMOnth=sr.SalaryMonth and isnull(sr1.OLID,0)=isnull(sr.OLID,0) and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0) in (0,1,6,9,12) AND (case when sr1.SalaryYear=year(sr1.BillRegisterDate) and sr1.SalaryMonth=Month(sr1.BillRegisterDate) then 0 else sr1.LEGACY end)<>1)

), MinELS (ContactID,ScaleRegisterID) as (
select distinct ContactID,ScaleRegisterID from ScaleRegister sr With (NoLock) 
where isnull(Generated,0)=1 and isnull(HeldUp,0)<>1 and isnull(Suppliment,0) in (2,7)
and sr.ScaleRegisterID in (select min(sr1.ScaleRegisterID) from ScaleRegister sr1 With (NoLock) where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMOnth=sr.SalaryMonth and isnull(sr1.OLID,0)=isnull(sr.OLID,0) and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0) in (2,7) AND (case when sr1.SalaryYear=year(sr1.BillRegisterDate) and sr1.SalaryMonth=Month(sr1.BillRegisterDate) then 0 else sr1.LEGACY end)<>1)


) , MaxDate (ContactID,StartingDate,EndingDate,BRNo) as(
select distinct ContactID,StartingDate,EndingDate,BRNo from MinSRID m
where m.StartingDate in (select Max(m1.StartingDate) from MinSRID m1 where m1.ContactID = m.ContactID)


), SRW (ScaleRegisterID,Amount,SalaryTypes) as (
select distinct sr.ScaleRegisterID,(isnull(sr.NetPayments,0)-isnull(srw.NetPayments,0)) as Net
,(case when sr.Suppliment!=1 and (isnull(sr.NetPayments,0)-isnull(srw.NetPayments,0))<0 then 'Recovery' else 'Arrears' end) as SalaryTypes
from ScaleRegister sr With (NoLock) left outer join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterID=sr.ScaleRegisterID

), SR (SalaryTypeID,SalaryTypes,SalaryID,Salary,ScaleRegisterID,ContactID,SalaryMonth,SalaryYear,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn,StartingDate,EndingDate,SBRDate,EBRDate,Legacy,EmployeeCategoryID) as(  
select distinct (case when m.ScaleRegisterID is not null then 1 else case when m1.ScaleRegisterID is not null then 4 else case when srw.SalaryTypes='Recovery' then 2 else case when sr.Suppliment=8 then 8 else 3 end end end end) as SalaryTypeID

,(case when m.ScaleRegisterID is not null then 'Regular' else case when m1.ScaleRegisterID is not null then 'RegularELS' else case when sr.Suppliment=8 then 'Contract' else srw.SalaryTypes end end end) as SalaryTypes,m.SalaryID,m.Salary
,sr.ScaleregisterID,sr.ContactID,SalaryMonth,SalaryYear
,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID
,isnull(BillRegisterDate,t.Today) as BillRegisterDate,CreatedOn
,convert(datetime,(cast(Year(sr.StartingDate) as varchar(4))+'-'+cast(Month(sr.StartingDate) as varchar(2))+'-1')) as StartingDate
,(Dateadd(Month,1,convert(datetime,(cast(Year(sr.StartingDate) as varchar(4))+'-'+cast(Month(sr.StartingDate) as varchar(2))+'-1')))-1) as EndingDate
,convert(datetime,(cast(year(isnull(BillRegisterDate,t.Today)) as varchar(4))+'-'+cast(Month(isnull(BillRegisterDate,t.Today)) as varchar(2))+'-1')) as SBRDate
,(Dateadd(Month,1,convert(datetime,(cast(Year(isnull(BillRegisterDate,t.Today)) as varchar(4))+'-'+cast(Month(isnull(BillRegisterDate,t.Today)) as varchar(2))+'-1')))-1) as EBRDate
,Legacy,isnull(EmployeeCategoryID,1) as EmployeeCategoryID  

from ScaleRegister sr With (NoLock) cross join Today_HRMS t
left outer join MinSRID m on m.ScaleRegisterID=sr.ScaleRegisterID
left outer join MinELS m1 on m1.ScaleRegisterID=sr.ScaleRegisterID
left outer join SRW  on srw.ScaleRegisterID=sr.ScaleRegisterID
where isnull(Generated,0)=1 and isnull(HeldUp,0)<>1 


)
select distinct sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleRegisterID,sr.ContactID
,(case when sr.SalaryTypeID<>2 then Month(sr.StartingDate) else case when sr.SalaryTypeID=2 and sr.BillRegisterNo='0' then (case when sr1.BRNo='0' then Month(sr1.StartingDate) else Month(sr.StartingDate) end) else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then Month(sr.SBRDate) else Month(sr.StartingDate) end end end) as SalaryMonth
,(case when sr.SalaryTypeID<>2 then Year(sr.StartingDate) else case when sr.SalaryTypeID=2 and sr.BillRegisterNo='0' then (case when sr1.BRNo='0' then Year(sr1.StartingDate) else Year(sr.StartingDate) end) else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then Year(sr.SBRDate) else Year(sr.StartingDate) end end end) as SalaryYear
,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment
,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn
,(case when sr.SalaryTypeID<>2 then sr.StartingDate else case when sr.SalaryTypeID=2 and sr.BillRegisterNo='0' then (case when sr1.BRNo='0' then sr1.StartingDate else sr.StartingDate end) else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then sr.SBRDate else sr.StartingDate end end end) as StartingDate
,(case when sr.SalaryTypeID<>2 then sr.EndingDate else case when sr.SalaryTypeID=2 and sr.BillRegisterNo='0' then (case when sr1.BRNo='0' then sr1.EndingDate else sr.EndingDate end) else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then sr.EBRDate else sr.EndingDate end end end) as EndingDate
,Year(sr.BillRegisterDate) as YearID,Month(sr.BillRegisterDate) as MonthID,Legacy,sr.StartingDate as StartingDate1,EmployeeCategoryID  
from SR left outer join MaxDate sr1 on sr1.ContactID=sr.ContactID 




)

--select * from MinSRID where ContactID = 1772
GO
