USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetAllDetails_Sacntioned]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FnGetAllDetails_Sacntioned]() 
RETURNS @AllDetails TABLE (AcOLID int, DivisionName varchar(100), ODDID int, ODLDID int, OLDID int, ODID int, OLID int, OfficeID int, OfficeName varchar(100), DepartmentID int, DepartmentName varchar(100), LocationID int, LocationName varchar(100), DesignationID int, DesignationName varchar(100), ContactID int, FileAs varchar(100), UserName varchar(100)) 
AS BEGIN INSERT INTO @AllDetails 

select AcOLID,(select FileAs from OfficeLocationAllocation where OfficeLocationAllocationID=AcOLID) as DivisionName, odda.OfficeDepartmentDesignationAllocationid as ODDID
, odld.ODLDID, olda.OfficeLocationDepartmentAllocationID as OLDID, odda.OfficeDepartmentAllocationID as ODID, ola.OfficeLocationAllocationID as OLID, oda.OfficeID, o.OfficeName
, oda.DepartmentID, d.DepartmentName, ola.LocationID
, (Select LocationName from Location with(nolock) where Locationid=ola.LocationID)as LocationName, odda.DesignationID
,(Select DesignationName from Designation with(nolock) where DesignationID=odda.DesignationID)as DesignationNAme,e.ContactID, c.FileAs, u.UserName 

from OfficeDepartmentDesignationAllocation odda with(nolock) 
left outer join OfficeDepartmentAllocation oda with(nolock) on oda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID 
left outer join OfficeLocationDepartmentAllocation olda with(nolock) on olda.OfficeDepartmentAllocationID=odda.OfficeDepartmentAllocationID 
left outer join officelocationallocation ola with(nolock) on ola.officelocationallocationid=olda.officelocationallocationid 
left outer join Office o with(nolock) on o.OfficeID=oda.OfficeID left outer join Department d with(nolock) on d.DepartmentID=oda.DepartmentID 
left outer join odldallocation odld with(nolock) on odld.designationid=odda.designationid and odld.officeid=oda.officeid and odld.locationid=ola.locationid and odld.departmentid=d.departmentid 
left outer join (select ee.ContactID,(case when ee.ODLDID is null then ee.ODLDID else isnull(ead.FromODLDID,ee.ODLDID) end) as ODLDID 
	from Employee ee with(nolock) 
	left join EmployeeAppointmentDetails ead with(nolock) on ee.ContactID=ead.ContactID and ead.Approved=1 and ead.Reported=1 and ead.Regularised=0 and ead.AppointmentTypeID in (23,47) ) e on e.odldid=odld.odldid 
left outer join contacts c with(nolock) on c.contactid=e.contactid 
left outer join users u with(nolock) on u.contactid=c.contactid 
left outer join OfficeLocationAccountingUnitDetails olau with(nolock) on olau.OLID=ola.OfficeLocationAllocationID 
--order by AcOLID,e.contactid 

RETURN; END 

GO
