USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDoubleWages]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnDoubleWages](@AcOLID Int,@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @AcOLID Int select @AcOLID = 341 
--Declare @YearID Int select @YearID = 2015 
--Declare @MonthID Int select @MonthID = 4 
--Declare @ContactID Int select @ContactID = 1924 

select Today,dw.ContactID,dw.DaysOfDate,Days,Day(bp.EndDate) as DaysOfEOMonth,ModifiedValue as BasicPerMonth,PerDayBasic as BasicPerDay,AcOLID,EmployeeGradeID,isnull(Rates,0) as HWC from ( 
select ContactID,LeaveTypeID,DaysOfDate,MaxNo as Days,Today from ( select * ,(Row_Number() over (Partition By ContactID,DaysOfDate Order By ContactID,DaysOfDate,Paid,Approvable desc,LeaveTypeID)) as MaxNo from ( 
select ContactID,el.LeaveTypeID,FromDate,ToDate,isnull(Paid,0) as Paid,isnull(Approvable,0) as Approvable 

from EmployeeLeaveDetails el with(nolock) 
left outer join LeaveTypes lt with(nolock) on lt.LeaveTypeID=el.LeaveTypeID 
where Approved=1 and isnull(Cancel,0)=0 and el.LeaveTypeID in (20,12) and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
) as ELD inner Join FnDate(@YearID,@MonthID) d on d.DaysOfDate Between FromDate and ToDate 
) as A Cross Join Today_HRMS with(nolock) 
where MaxNo=1 and LeaveTypeID<>12 
and ContactID not in ( select ContactID from FnWH(@YearID,@MonthID,@ContactID) B where b.ContactID=a.ContactID and b.DaysOfDate=a.DaysOfDate ) 
and DaysOfDate in ( select HolidayDate from CompanyHolidays with(nolock) where CompanyHolidayTypeID not in (27) and Year(HolidayDate)=@YearID and Month(HolidayDate)=@MonthID ) 
and DateAdd(Month,1,DaysOfDate) < Today 
) as DW inner join FnBasic(@YearID,@MonthID,@ContactID) BP on bp.ContactID=dw.ContactID and bp.DaysOfDate=dw.DaysOfDate 
inner join FnMaster(@AcOLID,@YearID,@MonthID,@ContactID) M on m.ContactID=dw.ContactID and m.DaysOfDate=dw.DaysOfDate 
left outer join ( select DesignationID,FromDate,ToDate,Rates from FnRateDetails() where RateTypes='Allowances' and RateTypeID= 30 ) as R on dw.DaysOfDate Between FromDate and isnull(ToDate,bp.EndDate) and r.DesignationID=m.DNID 
--where EmployeeGradeID in (1,2) 

)
GO
