USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnRecoveryLive]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnRecoveryLive](@AcOLID Int,@FromYear Int,@ToYear Int,@InChargeOLID Int)
RETURNS Table AS
RETURN 	(


--Declare @FromYear Int select @FromYear = 2014
--Declare @ToYear Int select @ToYear = 2015
--Declare @AcOLID Int select @AcOLID = 338
--Declare @InChargeOLID Int select @InChargeOLID = 1



select ScaleRegisterID,LoanandAdvanceID,ScheduleTypeID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select ScaleRegisterID,LoanandAdvanceID,ScheduleTypeID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,Round(Round(sum(isnull(Amount,0)),2),0) as TobePaidAmount,0 as PaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as Amount
from ScaleRegisterRecovery where ScaleRegisterID in (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) and isnull(Amount,0)<>0
Group By ScaleRegisterID,LoanandAdvanceID,ScheduleTypeID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
union all
select ScaleRegisterID,LoanandAdvanceID,ScheduleTypeID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID,0 as TobePaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as PaidAmount,-Round(Round(sum(isnull(Amount,0)),2),0) as Amount
from ScaleRegisterRecoveryWithdrawals srlw left outer join ScaleRegisterWithdrawals srw1 on srw1.ScaleRegisterWithdrawalID=srlw.ScaleRegisterWithdrawalID
where srlw.ScaleRegisterWithdrawalID in ( select ScaleRegisterWithdrawalID from ScaleRegisterWithdrawals srw inner join (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) sr on sr.ScaleRegisterID=srw.ScaleregisterID and srw.ScaleRegisterWithdrawalID=srlw.ScaleRegisterWithdrawalID
) and isnull(Amount,0)<>0 Group By ScaleRegisterID,LoanandAdvanceID,ScheduleTypeID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID
) as A Group By ScaleRegisterID,LoanandAdvanceID,ScheduleTypeID,ExternalOrganisationTypeID,ExternalOrganisationID,ExternalOrganisationBranchID Having sum(isnull(Amount,0)) <>0 and LoanandAdvanceID<>62

)
GO
