USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSROtherDeductionsSalPaid]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSROtherDeductionsSalPaid](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS @SrOtherDeductions TABLE
(
ScaleRegisterID bigint,ODLDID INT  ,SalaryOtherDeductionID int,
 TobePaidAmount money,	PaidAmount	money, Amount money
)
AS
BEGIN

INSERT INTO @SrOtherDeductions
select sra.* from ( 
select ScaleRegisterID,ODLDID,SalaryOtherDeductionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select srd.ScaleRegisterID,srd.ODLDID,SalaryOtherDeductionID,srd.Amount as TobePaidAmount,0 as PaidAmount,srd.Amount
from ScaleRegisterOtherDeductions srd with(nolock)  inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) fn1 on srd.ScaleRegisterID=fn1.ScaleRegisterID
where  isnull(Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srrec.ODLDID_N,srw.ODLDID) as ODLDID,SalaryDeductionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,ODLDID from ScaleRegisterWithdrawals srw with(nolock)  inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW
inner join ScaleRegisterOtherDeductionWithdrawals srlw  with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
inner join dbo.FnETLGetRec_ODLDID(@OLID,@YearID,@MonthID,@ContactID,'soD') srrec on srw.ScaleregisterID=srrec.ScaleregisterID
) as A Group By ScaleRegisterID,ODLDID,SalaryOtherDeductionID
) as SRA 
order by sra.ScaleRegisterID

RETURN;
END

GO
