USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRNew2]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnSRNew2]()
RETURNS Table AS
RETURN 	(

With MinSRID (Salary,SalaryID,ScaleRegisterID,ContactID,StartingDate,EndingDate) as (
select distinct (case when SalaryYear=Year(isnull(BillRegisterDate,t.Today)) and SalaryMonth=Month(isnull(BillRegisterDate,t.Today)) then 'Normal' else 'Sppliment'  end) as Salaries
,(case when SalaryYear=Year(isnull(BillRegisterDate,t.Today)) and SalaryMonth=Month(isnull(BillRegisterDate,t.Today)) then 1 else 2 end) as SalaryID,ScaleRegisterID,ContactID
,convert(datetime,(cast(SalaryYear as varchar(4))+'-'+cast(SalaryMonth as varchar(2))+'-1')) as StartingDate
,(Dateadd(Month,1,convert(datetime,(cast(SalaryYear as varchar(4))+'-'+cast(SalaryMonth as varchar(2))+'-1')))-1) as EndingDate
from ScaleRegister sr cross join Today_HRMS t
where isnull(HeldUp,0)<>1 and isnull(Suppliment,0)not in (2,3,7) 
and sr.ScaleRegisterID in (select min(sr1.ScaleRegisterID) from ScaleRegister sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMOnth=sr.SalaryMonth and isnull(sr1.OLID,0)=isnull(sr.OLID,0)  and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0) not in (2,3,7) AND LEGACY<>1)


) , MaxDate (ContactID,StartingDate,EndingDate) as(
select distinct ContactID,max(StartingDate) as StartingDate,Max(EndingDate) as EndingDate from MinSRID group by ContactID

), SRW (ScaleRegisterID,Amount,SalaryTypes) as (
select distinct sr.ScaleRegisterID,(isnull(sr.NetPayments,0)-isnull(srw.NetPayments,0)) as Net
,(case when (isnull(sr.NetPayments,0)-isnull(srw.NetPayments,0))<0 then 'Recovery' else 'Arrears' end) as SalaryTypes
from ScaleRegister sr left outer join ScaleRegisterWithdrawals srw on srw.ScaleRegisterID=sr.ScaleRegisterID

), SR (SalaryTypeID,SalaryTypes,SalaryID,Salary,ScaleRegisterID,ContactID,SalaryMonth,SalaryYear,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn,StartingDate,EndingDate,SBRDate,EBRDate) as(
select distinct (case when m.ScaleRegisterID is not null then 1 else case when srw.SalaryTypes='Recovery' then 2 else 3 end end) as SalaryTypeID
,(case when m.ScaleRegisterID is not null then 'Regular' else srw.SalaryTypes end) as SalaryTypes,m.SalaryID,m.Salary
,sr.ScaleregisterID,sr.ContactID,SalaryMonth,SalaryYear
,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,isnull(BillRegisterNo,0) as BillRegisterNo,BillRegisterOLID
,isnull(BillRegisterDate,t.Today) as BillRegisterDate,CreatedOn
,convert(datetime,(cast(SalaryYear as varchar(4))+'-'+cast(SalaryMonth as varchar(2))+'-1')) as StartingDate
,(Dateadd(Month,1,convert(datetime,(cast(SalaryYear as varchar(4))+'-'+cast(SalaryMonth as varchar(2))+'-1')))-1) as EndingDate
,convert(datetime,(cast(year(isnull(BillRegisterDate,t.Today)) as varchar(4))+'-'+cast(Month(isnull(BillRegisterDate,t.Today)) as varchar(2))+'-1')) as SBRDate
,(Dateadd(Month,1,convert(datetime,(cast(Year(isnull(BillRegisterDate,t.Today)) as varchar(4))+'-'+cast(Month(isnull(BillRegisterDate,t.Today)) as varchar(2))+'-1')))-1) as EBRDate

from ScaleRegister sr cross join Today_HRMS t
left outer join MinSRID m on m.ScaleRegisterID=sr.ScaleRegisterID
left outer join SRW  on srw.ScaleRegisterID=sr.ScaleRegisterID
where isnull(HeldUp,0)<>1 


)
select sr.SalaryTypeID,sr.SalaryTypes,sr.SalaryID,sr.Salary,sr.ScaleRegisterID,sr.ContactID
,(case when sr.SalaryTypeID<>2 then Month(sr.StartingDate) else case when sr.SalaryTypeID=2 and sr.BillRegisterNo=0 then Month(sr1.StartingDate) else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then Month(sr.SBRDate) else Month(sr.StartingDate) end end end) as SalaryMonth
,(case when sr.SalaryTypeID<>2 then Year(sr.StartingDate) else case when sr.SalaryTypeID=2 and sr.BillRegisterNo=0 then Year(sr1.StartingDate) else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then Year(sr.SBRDate) else Year(sr.StartingDate) end end end) as SalaryYear
,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment
,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn
,(case when sr.SalaryTypeID<>2 then sr.StartingDate else case when sr.SalaryTypeID=2 and sr.BillRegisterNo=0 then sr1.StartingDate else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then sr.SBRDate else sr.StartingDate end end end) as StartingDate
,(case when sr.SalaryTypeID<>2 then sr.EndingDate else case when sr.SalaryTypeID=2 and sr.BillRegisterNo=0 then sr1.EndingDate else case when sr.SalaryTypeID=2 and sr.BillRegisterDate>='2012-11-01' then sr.EBRDate else sr.EndingDate end end end) as EndingDate
,Year(sr.BillRegisterDate) as YearID,Month(sr.BillRegisterDate) as MonthID
from SR left outer join MaxDate sr1 on sr1.ContactID=sr.ContactID 

)
GO
