USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnLeaveCancelation]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnLeaveCancelation] ( @CID Int,@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN ( 

With LD (EmployeeLeaveDetailsID,ContactID,LeaveTypeID,FromDate,ToDate) as ( 
SELECT EmployeeLeaveDetailsID,ContactID,LeaveTypeID,convert(datetime,convert(varchar(8),ELD.FromDate,112)) as FromDate,convert(datetime,convert(varchar(8),ELD.ToDate,112)) as ToDate 
from EmployeeLeaveDetails ELD with(nolock) 
where ContactID = @CID and Approved = 1 and Cancel=0 and ELD.LeaveTransactionTypeID in (1) and ELD.LeaveTypeID not in (19,20) 
and ((cast(ELD.FromDate as Date) BETWEEN @FromDate and @ToDate OR cast(ELD.ToDate as Date) BETWEEN @FromDate and @ToDate) or (@FromDate>=cast(ELD.FromDate as Date) and @ToDate<=cast(ELD.ToDate as Date)) )

) , Days (SlNo,ContactID,LeaveTypeID,Date) as ( 
select (Row_Number() over (Partition By ContactID,LeaveTypeID Order By ContactID,LeaveTypeID,cast((FromDays-1+b.Days) as DateTime))) as SlNo ,ContactID,LeaveTypeID,cast((FromDays-1+b.Days) as DateTime) as Date from ( 
select ContactID,LeaveTypeID,(cast(Max(ToDate) as Int)-cast(Min(FromDate) as Int)+1) as Days,cast(Min(FromDate) as Int) as FromDays 
from LD Group By ContactID,LeaveTypeID 
) as A Inner Join (select (Row_Number () over (Order By ActivityID)) as Days from Activity with(nolock) ) as B on b.Days<=a.Days ) 

select distinct c.* from ( 
select ContactID,LeaveTypeID,Groups,Min(Date) as MinDate,Max(Date) as MaxDate from ( 
select a.* ,(MinDate+(SlNo-1)) as ADate,(case when (MinDate+(SlNo-1)) =Date then 1 else 0 end) as Groups 
from Days A Full Join ( select ContactID,LeaveTypeID,Min(Date) as MinDate from Days Group By ContactID,LeaveTypeID ) as B on b.ContactID=a.ContactID and b.LeaveTypeID=a.LeaveTypeID 
) as A Group By ContactID,LeaveTypeID,Groups 
) as A Inner Join Days B on b.ContactID=a.ContactID and b.LeaveTypeID=a.LeaveTypeID 
Inner Join LD C on c.ContactID=a.ContactID and c.LeaveTypeID=a.LeaveTypeID and Date Between cast(FromDate as date) and cast(ToDate as date) where cast(MaxDate as date) >=@ToDate and cast(MinDate as date) <=@FromDate 

)
GO
