USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[MyFunc]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[MyFunc] (@parm int)
returns table
as
return (

SELECT * FROM ScaleRegister Allowances
WHERE  CONTACTID=@parm
)
GO
