USE [EnergySync_R2]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaterialRequirement]    Script Date: 09-06-2026 12:04:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaterialRequirement] (@AcOLID Int)

RETURNS Table AS 
RETURN (



--Declare @AcOLID Int select @AcOLID = 337



select *,((Estimatequantity+ReturnRVQuantity) - (SIQuantity+StockQuantity)) as Balance from ( 
select CircleOLID,AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,WorkDescription,(isnull(MainAccountCode,'')+isnull(SubAccountCode,'')) as AccountCode,UBGTypeID,UnderBGTypes,ItemID,UnitID,Sum(EstimateQuantity) as EstimateQuantity,Sum(ReturnRVQuantity) as ReturnRVQuantity,Sum(SIQuqntity) as SIQuantity,Sum(StockQuantity) as StockQuantity
,(case when Sum(ReturnRVQuantity)=Sum(SIQuqntity) then 'WTTP' else case when Sum(SIQuqntity)=0 then 'WTTP' else 'WUP' end end) as Status from ( 

select CircleOLID,AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,WorkDescription,MainAccountCode,SubAccountCode,UBGTypeID,UnderBGTypes,ItemID,UnitID,ActualQuantity1 as EstimateQuantity, 0 as ReturnRVQuantity,0 as SIQuqntity,0 as StockQuantity
from FnMRWorkOrder(@AcOLID) WO 
union all
select CircleOLID,wo.AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,WorkDescription,MainAccountCode,SubAccountCode,UBGTypeID,UnderBGTypes,wo.ItemID,FnUnitID as UnitID,0 as EstimateQuantity,ReturnRVQuantity,SIQuqntity,0 as StockQuantity
from (select distinct CircleOLID,AcOLID,WorkOrderNo,OLID,WorkOrderDate,WorkAllocationID,WorkDescription,MainAccountCode,SubAccountCode,UBGTypeID,UnderBGTypes,ItemID
from FnMRWONo(@AcOLID) ) WO 
inner join (select AcOLID,DocumentNo,ItemID,FnUnitID,0 as ReturnRVQuantity,ActualQuantity as SIQuqntity from FnMRStoreInvoice(@AcOLID) union all
select AcOLID,DocumentNo,ItemID,FnUnitID,ActualQuantity as ReturnRVQuantity,0 as SIQuqntity from FnMRReceiptVoucher(@AcOLID)) SI on si.DocumentNo=wo.WorkOrderNo and si.AcOLID=wo.AcOLID and si.ItemID=wo.ItemID 

) as MR --where WorkOrderNo = 64023 and ItemID = 656
Group By CircleOLID,AcOLID,OLID,WorkOrderNo,WorkOrderDate,WorkAllocationID,WorkDescription,MainAccountCode,SubAccountCode,UBGTypeID,UnderBGTypes,ItemID,UnitID
) as WO where ((Estimatequantity+ReturnRVQuantity) - (SIQuantity+StockQuantity)) >0

)
GO
