USE [EnergySyncRevenueUdupi]
GO
/****** Object:  UserDefinedFunction [dbo].[Calculate_Distance]    Script Date: 12-06-2026 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Calculate_Distance]  
(  
@Lat1 float, @Long1 float, @Lat2 float, @Long2 float  
)  
RETURNS float  
AS  
BEGIN  
    DECLARE @toRadians float  
    SET @toRadians = PI() / 180  
      
    DECLARE @R float  
    SET @R = 3958.7558657440545  
      
    DECLARE @Distance float  
    SET @Distance = acos(sin(@Lat1*@toRadians)*sin(@Lat2*@toRadians)+ cos(@Lat1*@toRadians)*cos(@Lat2*@toRadians)*cos((@Long2-@Long1)*@toRadians))* @R 
    
    RETURN @Distance  
  
END 
GO
