USE [EnergySyncRevenueUdupi]
GO
/****** Object:  UserDefinedFunction [dbo].[Rjust]    Script Date: 12-06-2026 15:57:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Rjust]
   (
    @String VARCHAR(MAX),
    @width INT,
    @fillchar VARCHAR(10) = ' '
   )
--/* e.g.   select dbo.Rjust('Help me please',5,'*-')
RETURNS VARCHAR(MAX)
AS BEGIN
      IF @string IS NULL
         RETURN NULL
      DECLARE @LenString INT
      DECLARE @LenFiller INT
-- Declare the return variable here
      SELECT   @lenString = LEN(REPLACE(@String, ' ', '|')),
               @Fillchar = COALESCE(@Fillchar, ' '),
               @LenFiller = LEN(REPLACE(@Fillchar, ' ', '|')),
               @width = COALESCE(@Width, LEN(@String) * 2)
      IF @Width < @lenString
         RETURN @String
      RETURN STUFF(RIGHT(REPLICATE(@Fillchar,
                                   (@width / @LenFiller) + 1),
                                   @width),
                     @width - @LenString + 1,
                     @LenString,
                     @String)  
   END
GO
