USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRID]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRID]()
RETURNS Table AS
RETURN 	(

With MDate (ContactID,MDate) as (
select ContactID,max(distinct StartingDate) as MDate from Scaleregister sr
where isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 and isnull(sr.Generated,0)=1 group by ContactID

), SR1 (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID
,(case when sr.BillRegisterDate is null then (select MDate from MDate m where m.COntactID=sr.ContactID) else sr.BillRegisterDate end) as BillRegisterDate,CreatedOn
from Scaleregister sr where isnull(sr.Generated,0)=1 and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1

), SR (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select sr.ScaleregisterID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.StartingDate,sr.EndingDate,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn
from SR1 sr 
where sr.BillRegisterDate in (select max(sr1.BillRegisterDate) from SR1 sr1 where sr1.ContactID=sr.ContactID and Year(sr1.BillRegisterDate)=Year(sr.StartingDate) and Month(sr1.BillRegisterDate)=Month(sr.StartingDate) and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 
and (case when OLID=0 then Day(EndingDate) else Day((Dateadd(Month,1,convert(datetime,(cast(salaryYear as varchar(4))+'-'+cast(salaryMonth as varchar(2))+'-01')))-1)) end) = Day((Dateadd(Month,1,convert(datetime,(cast(salaryYear as varchar(4))+'-'+cast(salaryMonth as varchar(2))+'-01')))-1))
group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth)




), SRSup  (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,isnull(BillRegisterNo,(cast(Month(GetDate()) as varchar(2))+cast(Year(GetDate()) as varchar(4)))) as BillRegisterNo ,BillRegisterOLID,BillRegisterDate,CreatedOn
from ScaleRegister sr
where convert(datetime,(cast(SalaryYear as varchar(4))+'-'+cast(SalaryMonth as varchar(2))+'-01')) <> 
convert(datetime,(cast(Year(isnull(BillRegisterDate,GetDate())) as varchar(4))+'-'+cast(Month(isnull(BillRegisterDate,GetDate())) as varchar(2))+'-01'))
and Generated=1 and Suppliment<>1 and HeldUp<>1 and ContactID not in (
select ContactID  from ScaleRegister sr1
where convert(datetime,(cast(SalaryYear as varchar(4))+'-'+cast(SalaryMonth as varchar(2))+'-01')) = 
convert(datetime,(cast(Year(isnull(BillRegisterDate,GetDate())) as varchar(4))+'-'+cast(Month(isnull(BillRegisterDate,GetDate())) as varchar(2))+'-01'))
and Generated=1 and Suppliment<>1 and HeldUp<>1 
and (case when OLID=0 then Day(EndingDate) else Day((Dateadd(Month,1,convert(datetime,(cast(salaryYear as varchar(4))+'-'+cast(salaryMonth as varchar(2))+'-01')))-1)) end) = Day((Dateadd(Month,1,convert(datetime,(cast(salaryYear as varchar(4))+'-'+cast(salaryMonth as varchar(2))+'-01')))-1))
and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth)

) , BRNo (ContactID,SalaryYear,SalaryMonth,BillRegisterNo) as (
select ContactID,SalaryYear,SalaryMonth,BillRegisterNo
from SRSup where ScaleRegisterID in (select min(ScaleRegisterID) as ScaleRegisterID from SRSup group by ContactID,SalaryMonth,SalaryYear)

) , SRSup1  (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select * from SRSup s 
where s.BillRegisterNo in (select b.BillRegisterNo from BRNo b where b.ContactID=s.ContactID and b.SalaryYear=s.SalaryYear and b.SalaryMOnth=s.SalaryMOnth)

) , SRSup2 (ScaleRegisterID,ContactID,SalaryYear,SalaryMonth) as (
select Max(ScaleRegisterID) as ScaleRegisterID,ContactID,SalaryYear,SalaryMonth
from SRSup1 group by ContactID,SalaryYear,SalaryMonth

), SRSup3  (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select * from SRSup s where ScaleRegisterID in (select s1.ScaleRegisterID from SRSup2 s1 )


) 
select * from (select * from SR sr
where sr.ScaleregisterID in (select max(sr1.ScaleregisterID) from SR sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth)
and isnull(sr.Generated,0)=1 and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1
union all Select * from SRSup3) SR


);
GO
