USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DCBAdj]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DCBAdj](@olid int,@month int,@yr int) RETURNS Table AS Return 

select a.VoltageClassID,vc.Description VoltageClass,a.TariffID,t.Description Tariff
,sum(a.TotalAdjusment) TotalAdjusment,sum(a.DepositAdjustment) DepositAdjustment,sum(a.RevenueSuspense) RevenueSuspense,sum(a.SolarAdjustment) SolarAdjustment
,sum(a.BJKJAdjustment) BJKJAdjustment,sum(a.IPAdjustment) IPAdjustment,sum(a.FLAdjusment) FLAdjusment,sum(a.OLAdjusment) OLAdjusment
,sum(a.TransferOfCollection) TransferOfCollection,sum(a.ECS) ECS ,SUM(a.PoliceStation) PoliceStation,SUM(a.Salary) Salary,SUM(a.CorporateOfficeGP) CorporateOfficeGP
,sum(a.RevenueDemandWithdrawal83Series) RevenueDemandWithdrawal83Series ,sum(a.RevenueDemandWithdrawal61Series) RevenueDemandWithdrawal61Series,sum(a.ISDAdjustment ) ISDAdjustment 
,sum(a.MSDAdjustment) MSDAdjustment,sum(a. ISDInterestAdjustment) ISDInterestAdjustment,sum(a. MSDInterestAdjustment) MSDInterestAdjustment
,sum(a.RefundAdjustment) RefundAdjustment, sum(a.TarifftoTariffAdjustment) TarifftoTariffAdjustments,sum(a.SubDivntoSubDvnAdjustment) SubDivntoSubDvnAdjustment 
,sum(a.Incentivepay)as Incentivepay ,sum(a.Demandcharges) as Demandcharges,sum(a.KarnatakaOnepaymentscollected) as KarnatakaOnepaymentscollected
,sum(a.OtherAdjustmentsreceivedfromOtherDivision) as OtherAdjustmentsreceivedfromOtherDivision,sum(a.A) as A,sum(a.B) as B,sum(a.C) as C,sum(a.d) as D ,sum(a.E) as E
,sum(a.GruhaJyothiRevenueAdjustment) as GruhaJyothiRevenueAdjustment, sum(a.GruhaJyothiTaxAdjustment) as GruhaJyothiTaxAdjustment,sum(a.StarHotelInstallation) as StarHotelInstallation
,sum(a.RESubsidyWrittenOff) as RESubsidyWrittenOff

from (select * from DCBRevenue b with (nolock) where b.Month=@month and b.Year=@yr and b.OLID<>@olid ) b
inner join DCBAdjustmentDetails a with (nolock) on a.DCBRevenueID=b.DCBRevenueID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=b.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
inner join VoltageClass vc with (nolock) on a.VoltageClassID=vc.VoltageClassID 
inner join Tariffs_Accounts t with (nolock) on a.TariffID=t.TariffID 
group by vc.Description,t.Description,a.VoltageClassID,a.TariffID;

GO
