USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TaxRemittance]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TaxRemittance] ( @AcOLID Int,@YearID Int,@MonthID Int  ) 
RETURNS Table AS Return (

--Declare @AcOLID Int  = 337
--Declare @YearID Int  = 2022
--Declare @MonthID Int  = 8 ;

With Schedule as (
select ScheduleDetailsID,ScheduleID,ScheduleYear,ScheduleMonth,(MainAccountCode+SubAccountCode) AcHead,CreditTotal,DocumentTypeID,DocumentNo,OLID
from ScheduleDetails A with(nolock) where isnull(ScheduleYear,0)=@YearID and isnull(ScheduleMonth,0)=@MonthID and isnull(CreditTotal,0)>0 
and isnull(OLID,0) in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=isnull(a.OLID,0) and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID)) 
and isnull(MainAccountCode,'')='46.9' and isnull(SubAccountCode,'') in ('91','92','90','94','95','93','97','98','96')

) , Schedule1 as (
select * ,(Row_Number() over (partition by RefID,ColumnID order by RefID,ColumnID,AcHead)) Rownum
from ( select a.*
,(case when d.JournalVoucherNo is not null then 1000 when d1.JournalVoucherNo is not null then 2000 when a.DocumentTypeID=55 then 3000 else c.InvoiceTypeID end) RefID
,(case when d.JournalVoucherNo is not null then 'DemandRaising' when d1.JournalVoucherNo is not null then 'DivisionAdjustments' when a.DocumentTypeID=55 then 'SecurityDeposit' else c.MasterTable end) TableName
,isnull(isnull(DemandRaisingID,DivisionAdjustmentID),a.DocumentNo) ColumnID
from Schedule a 
left join BillRegisterNoInvoiceTypeAllocation b with(nolock) on b.BillRegisterNo=(case when isnull(a.DocumentTypeID,0)=29 then isnull(a.DocumentNo,0) else 0 end) 
left join InvoiceTypes c with(nolock) on c.InvoiceTypeID=b.InvoiceTypeID 
left Join DemandRaising d with(nolock) on d.JournalVoucherNo=(case when isnull(a.DocumentTypeID,0)=40 then isnull(a.DocumentNo,0) else 0 end) 
left Join DivisionAdjustments d1 with(nolock) on d1.JournalVoucherNo=(case when isnull(a.DocumentTypeID,0)=40 then isnull(a.DocumentNo,0) else 0 end) 
) A where (case when isnull(a.DocumentTypeID,0)=40 and RefID is null then 0 else 1 end)=1


) , TaxAmount as (
select * from (
select 3000 RefID,a.SecurityDepositID ColumnID,(isnull(a.Amount,0)+isnull(RoundOffAmount,0)) Taxable,TaxInvoiceNo
from SecurityDepositDetails a with(nolock) Inner Join SecurityDeposit b with(nolock) on b.SecurityDepositID=a.SecurityDepositID and b.Approved=1
	and b.SecurityDepositId not in ( select distinct documentno from ActivityApprovals_Accounts where ActivityID=290 and StatusID=8 ) 
where Year(ReferenceDate)= @YearID and Month(ReferenceDate)= @MonthID
and a.OLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.OLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID)) 
union all 
select 1000 RefID,c.DemandRaisingID ColumnID,(isnull(c.Amount,0)) Taxable,max(b.TaxInvoiceNo) TaxInvoiceNo
from DemandRaising c with(nolock) 
Inner Join DemandRaisingDetails B with(nolock) on b.DemandRaisingID=c.DemandRaisingID
Inner Join JournalVoucher J with(nolock) on j.JournalVoucherNo=c.JournalVoucherNo and Year(JournalVoucherDate)= @YearID and Month(JournalVoucherDate)= @MonthID
where c.JournalVoucherOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=c.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID))
and c.Approved=1 and isnull(c.Canceled,0)=0 
group by c.DemandRaisingID,(isnull(c.Amount,0))
union all 
select 2000 RefID,c.DivisionAdjustmentID ColumnID,(sum(isnull(b.AmounttobeAdjusted,0))-0) Taxable,b.TaxInvoiceNo
from DivisionAdjustments c with(nolock) 
Inner Join DivisionAdjustmentDetails B on b.DivisionAdjustmentID=c.DivisionAdjustmentID
Inner Join JournalVoucher J with(nolock) on j.JournalVoucherNo=c.JournalVoucherNo and Year(JournalVoucherDate)= @YearID and Month(JournalVoucherDate)= @MonthID
where c.JournalVoucherOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=c.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID))
and c.Approved=1 and isnull(c.Canceled,0)=0
group by c.DivisionAdjustmentID,b.TaxInvoiceNo
union all 
select  5 RefID,a.BillRegisterNo ColumnID,(isnull(NetpayableAmount,0)) Taxable,TaxInvoiceNo from ( 
select a.*,JournalVoucherDate JVDate,d.NetpayableAmount
from MiscellaneousInvoice a with(nolock) 
Inner Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo and Year(JournalVoucherDate)= @YearID and Month(JournalVoucherDate)= @MonthID and j.Approved=1
inner join MiscellaneousInvoiceDetails d with(nolock) on d.BillRegisterNo=a.BillRegisterNo
where a.BillRegisterOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.BillRegisterOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID)) 
and a.BillRegisterNo in (select (case when isnull(c.DocumentTypeID,0)=29 then isnull(c.DocumentNo,0) else 0 end) from Schedule c where (case when isnull(c.DocumentTypeID,0)=29 then isnull(c.DocumentNo,0) else 0 end)=a.BillRegisterNo and AcHead in ('46.994','46.995','46.993'))
and a.BillRegisterNo not in ( select distinct documentno from ActivityApprovals_Accounts where ActivityID=75 and StatusID=8 )
) A 
union all
select  5 RefID,a.BillRegisterNo ColumnID,isnull(r1.Amount,round((isnull(a.Amount,0)/100*1),0)) Taxable,TaxInvoiceNo from ( 
select a.*,JournalVoucherDate JVDate
from MiscellaneousInvoice a with(nolock) 
Inner Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo and Year(JournalVoucherDate)= @YearID and Month(JournalVoucherDate)= @MonthID
and BillRegisterOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.BillRegisterOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID)) 
and a.BillRegisterNo in (select (case when isnull(c.DocumentTypeID,0)=29 then isnull(c.DocumentNo,0) else 0 end) from Schedule c where (case when isnull(c.DocumentTypeID,0)=29 then isnull(c.DocumentNo,0) else 0 end)=a.BillRegisterNo and AcHead in ('46.997','46.998','46.996'))
) A outer Apply (select RecoveryID,Sum(RecoveryAmount) Amount from RecoveryDetails R1 with(nolock) where r1.RecoveryID='36' and r1.BillRegisterNo=a.BillRegisterNo and r1.OLID=a.BillRegisterOLID Group By RecoveryID) R1
where ( isnull(TaxInvoiceNo,'0')!='0' and len(isnull(TaxInvoiceNo,''))!=0  ) 
) A 


) , Final as (
select AcOLID,ScheduleYear,ScheduleMonth,Sum(Taxable) Taxable,Sum(CreditTotal) CreditTotal,AcHead,Sum(Nos) Nos,ltrim(rtrim(left(b.Description,4))) TaxDesc
,TaxInvoiceNo,TableName,ColumnID from (
select a.* ,(case when Rownum=1 then (case when a.RefID=5 then Taxable when a.RefID=2000 then Taxable-CreditTotal else isnull(Taxable,round((CreditTotal/Percentage),0)) end) when a.RefID=2000 and Rownum=2 then -CreditTotal else 0 end) Taxable,TaxInvoiceNo
,(case when Rownum=1 then 1 else 0 end) Nos,Percentage
from Schedule1 a left join TaxAmount b on b.RefID=a.RefID and b.ColumnID=a.ColumnID
outer apply ( select BillRegisterNo,(ToMainAccountCode+ToSubAccountCode) AcHead,Percentage from TaxDetails t1 with(nolock) 
	inner join Tax t with(nolock) on t.Taxid=t1.Taxid and ToMainAccountCode='46.9' and ToSubAccountCode in ('91','92','90','94','95','93','97','98','96')
	where t1.BillRegisterNo=(case when a.DocumentTypeID=29 and a.Refid!=5 then a.DocumentNo else 0 end) and (t.ToMainAccountCode+t.ToSubAccountCode)=(case when a.DocumentTypeID=29 and a.Refid!=5 then a.AcHead else '' end) ) T 
) A left join SubAccount B with(nolock) on (MainAccountCode+SubAccountCode) = AcHead
left Join OfficeLocationAccountingUnitDetails OL1 with(nolock) on ol1.OLID=a.OLID
Group By AcOLID,ScheduleYear,ScheduleMonth,AcHead,ltrim(rtrim(left(b.Description,4))),TaxInvoiceNo,TableName,ColumnID 


) , SaleofScap as (
select 'SaleofScap' TableName,SaleOfScrapID ColumnID,OLID,JVDate,TaxInvoiceNo,ContactID,ContactName,(case when Rownum2=1 then Taxable else 0 end) Taxable,(case when Rownum1=1 then TCS else 0 end) TCS,GST,AcHead,TaxDesc,(case when Rownum1=1 then 1 else 0 end) Nos from (
select a.SaleOfScrapID,a.JournalVoucherOLID OLID,JVDate,TaxInvoiceNo,a.ContactID,ct.Fileas ContactName,(isnull(AuctionAmount,0)) Taxable,DutiesAmount TCS,c1.Amount GST,(ToMainAccountCode+ToSubAccountCode) AcHead,ltrim(rtrim(left(t.Description,4))) TaxDesc
,(Row_number() over (partition By TaxInvoiceNo Order By TaxInvoiceNo)) Rownum1,(Row_number() over (partition By TaxInvoiceNo,Rownum Order By TaxInvoiceNo,Rownum)) Rownum2 from (
select SaleOfScrapID,InvoiceOLID,TaxInvoiceNo,InvoiceOLID JournalVoucherOLID,ContactID,DutiesAmount,(case when Year(isnull(DateAndTime,SaleOfScrapDate))=Year and Month(isnull(DateAndTime,SaleOfScrapDate))=Month then isnull(DateAndTime,SaleOfScrapDate) else EOMONTH(convert(datetime,concat(Year,'-',Month,'-1'))) end) JVDate
		from SaleOfScrap a with(nolock) left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo 
		outer apply ( select DateAndTime from ActivityApprovals_Accounts aa with(nolock) where activityid = 643 and DateAndTime >= convert(datetime,concat(Year,'-',Month,'-1')) and documentno = a.SaleOfScrapID and Statusid=1 ) aa 
		where a.Approved=1 and isnull(a.Canceled,0)=0 and Year= @YearID and Month= @MonthID
		and InvoiceOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID or ol.ZonalOLID= @AcOLID)) 
) A cross apply(select *,(Row_number() over (Order By SaleOfScrapMaterialDetailsID)) Rownum from SaleOfScrapMaterialDetails B with(nolock) where b.SaleOfScrapID=a.SaleOfScrapID ) B
inner join SaleOfScrapMaterialTaxDetails c1 with(nolock) on  c1.SaleOfScrapMaterialDetailsID=b.SaleOfScrapMaterialDetailsID
Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('91','92','90','94','95','93','97','98','96')
Left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.ContactID
where ( isnull(TaxInvoiceNo,'0')!='0' and len(isnull(TaxInvoiceNo,''))!=0  ) 
) A 

) 

select ZonalOLID,CircleOLID,Months,Part,TaxOrder,OrderNo,AcOLID,AcLocation,AcHead,TaxDesc,sum(Taxable) Taxable,sum(TCS) TCS,sum(GST) GST,sum(Nos)Nos ,TaxInvoiceNo,TableName,ColumnID
from (
select TaxInvoiceNo,TableName,ColumnID,ol1.ZonalOLID,ol1.CircleOLID,ol1.Orderno,ol.AcOLID,b.Fileas AcLocation,concat(left(DateName(Month,Date1),3),'-',right(Year(Date1),2)) Months,AcHead,TaxDesc,sum(Taxable) Taxable,sum(TCS) TCS,sum(GST) GST,sum(Nos) Nos
,(case when right(AcHead,2) in ('91','92','90') then 4 else case when right(AcHead,2) in ('94','95','93') then 5 else case when right(AcHead,2) in ('97','98','96') then 6 else 0 end end end) Part 
,(case when TaxDesc='CGST' then 1 else case when TaxDesc='SGST' then 2 else case when TaxDesc='IGST' then 3 else 0 end end end) TaxOrder from ( 
select TableName,ColumnID,AcOLID OLID,convert(datetime,concat(ScheduleYear,'-',ScheduleMonth,'-1')) Date1,TaxInvoiceNo ,0 ContactID,'' ContactName,Taxable,0 TCS,CreditTotal GST,AcHead,TaxDesc,Nos from Final
union all select * from SaleofScap  
) A inner Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID
inner join OfficeLocationAllocation B with(nolock) on b.OfficeLocationAllocationid=ol.AcOLID 
inner Join OfficeLocationAccountingUnitDetails OL1 with(nolock) on ol1.OLID=b.OfficeLocationAllocationid
Group by TaxInvoiceNo,TableName,ColumnID,ol.AcOLID,concat(left(DateName(Month,Date1),3),'-',right(Year(Date1),2)),b.Fileas,AcHead,TaxDesc,ol1.Orderno,ol1.CircleOLID,ol1.ZonalOLID
) A --where TaxInvoiceNo ='0822-0001'
group by ZonalOLID,CircleOLID,Months,Part,TaxOrder,OrderNo,AcOLID,AcLocation,AcHead,TaxDesc ,TaxInvoiceNo,TableName,ColumnID
--order by cast(right(TaxInvoiceNo,len(TaxInvoiceNo)-PATINDEX('%-%', TaxInvoiceNo)) as Int) 


)

GO
