USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_getLoanAndAdvanceSum]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [dbo].[fn_getLoanAndAdvanceSum] ( ) RETURNS NVARCHAR(2000) AS BEGIN 
	
	DECLARE @LoanAndAdvanceSum VARCHAR(8000) SELECT @LoanAndAdvanceSum=COALESCE(@LoanAndAdvanceSum+'+ isnull(['+Ex.Name+'],0)','isnull(['+Ex.Name+'],0)') from ( 
	SELECT Distinct(EO.Name +''+EOB.Name)as Name 
	FROM EmployeeLoanAndAdvance ELA with (nolock), ExternalOrganisations EO with (nolock), ExternalOrganisationBranches EOB with (nolock), ScaleRegisterLoansAndAdvances SRLA with (nolock), ScaleRegister SR with (nolock) 
	WHERE EO.ExternalOrganisationID =ELA.ExternalOrganisationID 
	AND ELA.ExternalOrganisationBranchID=EOB.ExternalOrganisationBranchID 
	AND EOB.ExternalOrganisationID=EO.ExternalOrganisationID 
	AND SRLA.ScaleRegisterID=SR.ScaleRegisterID 
	AND SRLA.LoanAndAdvanceID=ELA.LoanAndAdvanceID 
	AND SR.ContactID=ELA.ContactID and sr.ContactID=1637 ----- contactid added
	) Ex RETURN @LoanAndAdvanceSum END;
GO
