USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnODLD]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnODLD]() 

RETURNS Table AS 

RETURN 	(


select CorporateOLID,CorporateOfficeLocation,ZonalOLID,ZonalOfficeLocation,CircleOLID,CircleOfficeLocation,DivisionOLID,DivisionOfficeLocation,SubDivisionOLID,SubDivisionOfficeLocation,ola.OfficeLocationAllocationID as OLID,ola.Fileas as OfficeLocation,AcOLID,AcOfficeLocation,AcLocationCode,VoltageClassCode
,ODLDID,od.OfficeDepartmentAllocationID as ODID,od.DepartmentFileas as OfficeDepartment,old.OfficeLocationDepartmentAllocationID as OLDID,old.Fileas as OfficeLocationDepartment,odd.OfficeDepartmentDesignationAllocationID as ODDID,odd.Fileas as OfficeDepartmentDesignation
,o.OfficeID,o.OfficeName,L.LocationID,L.LocationName,od.UnderDepartmentID,dp1.DepartmentName as UnerDepartmentName,dp.DepartmentID,dp.DepartmentName,dp.DepartmentCode,dn.DesignationID,dn.DesignationName,do.OrderNo as DesignationOrderNo

from ODLDAllocation odld with (nolock)
left outer join Office o with (nolock) on o.OfficeID=odld.OfficeID
left outer join Location L with (nolock) on L.LocationID=odld.LocationID
left outer join Department dp with (nolock) on dp.DepartmentID=odld.DepartmentID
left outer join Designation dn with (nolock) on dn.DesignationID=odld.DesignationID
left outer join DesignationHierarchyOrder_Config do with (nolock) on do.DesignationID=dn.DesignationID
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left outer join OfficeDepartmentAllocation od with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
left outer join Department dp1 with (nolock) on dp1.DepartmentID=od.UnderDepartmentID
left outer join OfficeLocationDepartmentAllocation old with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ola.OfficeLocationAllocationID
left outer join OfficeDepartmentDesignationAllocation odd with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
left outer join FnETLUnderOL() ol on ol.OLID=ola.OfficeLocationAllocationID
left outer join VoltageClass vc with (nolock) on vc.VoltageClassID=ola.VoltageClassID
--where ODLDID = 1


)
GO
