USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[udfDateDiffinYrMonDay]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[udfDateDiffinYrMonDay] (@datefrom DATETIME, @dateto DATETIME)
RETURNS VARCHAR(MAX)
AS
BEGIN
    DECLARE @Years INT, @Months INT, @Days INT
    SET @Years = DATEDIFF(YEAR, @datefrom, @dateto)
    IF DATEADD(YY, @Years, @datefrom) > @dateto
    BEGIN
        SET @Years = @Years - 1
    END
    SET @datefrom = DATEADD(YY, @Years, @datefrom)
    
    SET @Months = DATEDIFF(MM, @datefrom, @dateto)
    IF DATEADD(MM, @Months, @datefrom) > @dateto
    BEGIN
        SET @Months = @Months - 1
    END
    SET @datefrom = DATEADD(MM, @Months, @datefrom)
    
    SET @Days = DATEDIFF(DD, @datefrom, @dateto)+1
    
    RETURN (case when len(CAST(@Years AS VARCHAR))=1 then '0'+CAST(@Years AS VARCHAR) else CAST(@Years AS VARCHAR) end) + ' Years '
         + (case when len(CAST(@Months AS VARCHAR))=1 then '0'+CAST(@Months AS VARCHAR) else CAST(@Months AS VARCHAR) end) + ' Months '
         + (case when len(CAST(@Days AS VARCHAR))=1 then '0'+CAST(@Days AS VARCHAR) else CAST(@Days AS VARCHAR) end) + ' Days '
					
	
END;
GO
