USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Quarters]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Fn_Quarters] (@FromDate DateTime,@ToDate DateTime,@ContactID int) RETURNS Table AS Return (


--Declare @FromDate DateTime = '2023-01-01' 
--Declare @ToDate DateTime = '2023-01-31' 
--Declare @ContactID Int = 12676  ;


With InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select Day(@ToDate)-1) 
) , Date2 as (
SELECT cast(RowNumber+@FromDate-1 as DateTime) Date1 FROM  InfiniteRows --OPTION (MAXRECURSION 8052 ) 
)

select * from (
select eq.ContactID,b1.BuildingID,ba.TerritoryID,(case when ExternalOrganisation=1 then 15 else 21 end)as SODID,(case when ExternalOrganisation=1 then 10 else 20 end)as SODID1
,eq.FromDate,isnull(eq.ToDate,@ToDate) ToDate,Date1
,(Row_Number() over (Partition By eq.ContactID,Date1 order By eq.ContactID,FromDate,Date1 )) SlNo,EmployeeQuarterGradeID  EQGradeID
from (select * from EmployeeQuarterDetails eq with (nolock) where ContactID=@ContactID ) eq
inner join Buildings b1 with (nolock) on b1.BuildingID=eq.EmployeeQuartersID
left outer join BuildingAddressDetails ba with (nolock) on ba.BuildingID=eq.EmployeeQuartersID
Inner join Date2 b on b.Date1 Between FromDate and isnull(eq.ToDate,@ToDate) and b.Date1 Between @FromDate and @ToDate 
) A where SlNo = 1 


)


GO
