USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRID_Old]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRID_Old]()
RETURNS Table AS
RETURN 	(


select sr.* from scaleregister sr
inner join 
(select * from scaleregister sr1
where sr1.ScaleRegisterID in (select min(sr2.ScaleregisterID) from scaleregister sr2 where sr2.ContactID=sr1.ContactID and sr2.SalaryYear=sr1.SalaryYear and sr2.SalaryMonth=sr1.SalaryMonth and isnull(sr2.Heldup,0)<>1 and isnull(sr2.generated,0)=1 and isnull(sr2.Suppliment,0)<>1 group by sr2.ContactID,sr2.SalaryYear,sr2.SalaryMonth)
) sr1 on  sr.ContactID=sr1.ContactID and sr.SalaryYear=sr1.SalaryYear and sr.SalaryMonth=sr1.SalaryMonth and isnull(sr.BillRegisterNo,0) = isnull(sr1.BillRegisterNo,0)
where isnull(sr.Heldup,0)<>1 and isnull(sr.generated,0)=1 and isnull(sr.Suppliment,0)<>1 
and sr.ScaleRegisterID in (select max(sr1.ScaleregisterID) from scaleregister sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.Heldup,0)<>1 and isnull(sr1.generated,0)=1 and isnull(sr1.Suppliment,0)<>1 
and isnull(sr1.BillRegisterNo,0) = isnull(sr.BillRegisterNo,0) group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth,isnull(sr1.BillRegisterNo,0))

);
GO
