USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_BRS]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_BRS](@OfficeID int,@LocationID int,@YearID int,@MonthID int,@FinalApprove int) RETURNS Table AS Return ( 

--
--Declare @OfficeID int = 80 
--Declare @LocationID int = 63 
--Declare @YearID int = 2026
--Declare @MonthID int = 3 
--Declare @FinalApprove int = 0
--;



with Dates as (
select Year(dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1')))) YearID,Month(dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1')))) MonthID,convert(datetime,concat(@YearID,'-',@MonthID,'-1')) Date1
) , InfiniteRows  AS (
SELECT 1 AS RowNumber UNION ALL
SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber < (( SELECT day(eomonth(convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)))) ))

) , InfiniteRows1  AS (
SELECT 1 AS RowNumber UNION ALL
SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber < (( SELECT day(eomonth(dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1'))))) ))

) , PrevCheque as ( 
select *,(row_number() over(order by ChequeNo)) SlNo from ( 
select AcOLID,OLID,OfficeLocation,ChequeNo,ChequeDate,DishonouredDate,isnull(ChequeAmount,0) ChequeAmount,WithdrawnDate
from Dates A1 cross apply Fn_UnRealizedCheques (@OfficeID,@LocationID,YearID,MonthID,1) A
where isnull(Dishonoured,0)=1 and isnull(Withdrawn,0)=0 
union all 
select AcOLID,OLID,OfficeLocation,ChequeNo,ChequeDate,DishonouredDate,isnull(ChequeAmount,0) ChequeAmount,WithdrawnDate
from Dates A1 cross apply Fn_UnRealizedCheques (@OfficeID,@LocationID,YearID,MonthID,1) A
where isnull(Dishonoured,0)=1 and isnull(Withdrawn,0)=1 and WithdrawnDate>=Date1
) A  
) , PrevCheque_With as ( 
select AcOLID,OLID,OfficeLocation,ChequeNo,ChequeDate,DishonouredDate,isnull(ChequeAmount,0) ChequeAmount,WithdrawnDate,isnull(DishonouredCharges,0) DC
from Dates A1 cross apply Fn_UnRealizedCheques (@OfficeID,@LocationID,YearID,MonthID,1) A
where isnull(Dishonoured,0)=1 and isnull(Withdrawn,0)=1 and WithdrawnDate>=Date1 
) , CurrentCheque as ( 
select AcOLID,OLID,OfficeLocation,ChequeNo,ChequeDate,DishonouredDate,isnull(ChequeAmount,0) ChequeAmount,DishonouredCharges,(row_number() over(order by ChequeNo)) SlNo
from Fn_UnRealizedCheques (@OfficeID,@LocationID,@YearID,@MonthID,@FinalApprove) A
where isnull(Dishonoured,0)=1 and isnull(Withdrawn,0)=0 

) , data1 as (
select b1.Fileas A,a.OfficeLocation B,right(convert(varchar,Date1,106),8) L,b.*,sum(isnull(b2.RectifiedAmount,0)) ReverseRectified,Max(b2.RectifiedDate) RectifiedDate1 from (
select AcOLID,a.OLID,OfficeLocation,BankReconciliationStatmentID,CashBookYear,CashBookMonth,convert(datetime,concat(CashBookYear,'-',CashBookMonth,'-1')) Date1 from ( 
select AcOLID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails A with(nolock) where OfficeID=@OfficeID and LocationID=@LocationID 
) A inner join BankReconciliationStatment B with(nolock) on CashBookYear=@YearID and CashBookMonth=@MonthID and b.OLID=a.OLID and isnull(Approved,0)=@FinalApprove
) A inner join BRSOtherDetails B with(nolock) on b.BankReconciliationStatementID=a.BankReconciliationStatmentID and BRSOthertypeid = 1 
left join BRSOtherDetailsSub B2 with(nolock) on b2.BRSOtherDetailsid=b.BRSOtherDetailsid
left join OfficeLocationAllocation B1 with(nolock) on b1.OfficeLocationAllocationID=a.AcOLID 
group by b1.Fileas,a.OfficeLocation,right(convert(varchar,Date1,106),8),b.BRSOtherDetailsID,BankReconciliationStatementID,b.OLID,BRSOtherTypeID,ErroneousDate,ErroneousValue,Description,Amount,Rectified,b.RectifiedDate,b.RectifiedAmount

) , data2 as (
select b1.Fileas A,a.OfficeLocation B,right(convert(varchar,Date1,106),8) L,b.*,sum(isnull(b2.RectifiedAmount,0)) ReverseRectified,Max(b2.RectifiedDate) RectifiedDate1 from (
select AcOLID,a.OLID,OfficeLocation,BankReconciliationStatmentID,CashBookYear,CashBookMonth,convert(datetime,concat(CashBookYear,'-',CashBookMonth,'-1')) Date1 from ( 
select AcOLID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails A with(nolock) where OfficeID=@OfficeID and LocationID=@LocationID 
) A inner join BankReconciliationStatment B with(nolock) on CashBookYear=@YearID and CashBookMonth=@MonthID and b.OLID=a.OLID and isnull(Approved,0)=@FinalApprove
) A inner join BRSOtherDetails B with(nolock) on b.BankReconciliationStatementID=a.BankReconciliationStatmentID and BRSOthertypeid = 2
left join BRSOtherDetailsSub B2 with(nolock) on b2.BRSOtherDetailsid=b.BRSOtherDetailsid
left join OfficeLocationAllocation B1 with(nolock) on b1.OfficeLocationAllocationID=a.AcOLID 
group by b1.Fileas,a.OfficeLocation,right(convert(varchar,Date1,106),8),b.BRSOtherDetailsID,BankReconciliationStatementID,b.OLID,BRSOtherTypeID,ErroneousDate,ErroneousValue,Description,Amount,Rectified,b.RectifiedDate,b.RectifiedAmount

) , data3 as (
select a.*,ReverseDate,isnull(ReverseAmount,0) ReverseAmount from (
select a.*,BRSBankChargeDetailid,BankCharges,TransferDate,Reverse from (
select AcOLID,a.OLID,OfficeLocation,BankReconciliationStatmentID,CashBookYear,CashBookMonth from ( 
select AcOLID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails A with(nolock) where OfficeID=@OfficeID and LocationID=@LocationID 
) A inner join BankReconciliationStatment B with(nolock) on CashBookYear=@YearID and CashBookMonth=@MonthID and b.OLID=a.OLID and isnull(Approved,0)=@FinalApprove
) A inner join BRSBankChargeDetails B with(nolock) on b.BankReconciliationStatmentid=a.BankReconciliationStatmentid
) A outer apply ( select Max(ReverseDate) ReverseDate,Sum(isnull(ReverseAmount,0)) ReverseAmount from BRSBankChargeDetailsSub B with(nolock) where b.BRSBankChargeDetailid=a.BRSBankChargeDetailid ) B 

) 



select A,B,C,D,E,F,G,H,I,AB,J,K,L,M,(F+G+H+I+J+K+L+M+AB) N,(E+F+G+H+I+J+K+L+M+AB) O,P,Q,R,S,T,U,V,W,X,(P+Q+R+S+T+U+V+W+X) Y,((E+F+G+H+I+J+K+L+M+AB)-(P+Q+R+S+T+U+V+W+X)) Z,AA from ( 

select A,B,(eo.Name+'  '+eob.Name) C,AccountNo D,(a.T+a.U+a.V+a.W) E,isnull(PassSheetBalance,0) F
,a.X G,isnull(H,0) H,isnull(I,0) I,isnull(J,0) J,isnull(K,0) K,isnull(L,0) L,0 M 
,isnull(P,0) P,isnull(Q,0) Q,isnull(R,0) R,isnull(S,0) S,isnull(e.T,0) T,isnull(d.U,0) U,isnull(f.V,0) V,0 W,0 X,AA,isnull(AB,0) AB from ( 

select b.Fileas A,a.OfficeLocation B,sum(Cash_P) T,sum(Cheque_DD_P) U,sum(Post_Office_P) V,sum(NEFT_P) W,sum(Direct_MainAc_P) X
,right(convert(varchar,convert(datetime,concat(a.CashBookYear,'-',a.CashBookMonth,'-1')),106),8) AA,ExternalOrganisationID,ExternalOrganisationBranchID,AccountNo,PassSheetBalance 
from Fn_BRSReports(@OfficeID,@LocationID,@YearID,@MonthID,@FinalApprove) A
left join OfficeLocationAllocation B with(nolock) on b.OfficeLocationAllocationID=AcOLID 
left join CashBook B1 with(nolock) on b1.CashBookYear=@YearID and b1.CashBookMonth=@MonthID  and b1.Approved=1 and b1.OLID=a.OLID
Left Join BankReconciliationStatment a1 on a1.OLID = a.OLID and a1.CashBookYear=@YearID and a1.CashBookMonth=@MonthID
group by b.Fileas,a.OfficeLocation,Cash_OB,Cheque_OB,OB,a.CashBookYear,a.CashBookMonth,ExternalOrganisationID,ExternalOrganisationBranchID,AccountNo,PassSheetBalance  
) A 
inner join ExternalOrganisations EO with(nolock) on eo.ExternalOrganisationID=a.ExternalOrganisationID
inner join ExternalOrganisationBranches EOB with(nolock) on eob.ExternalOrganisationBranchID=a.ExternalOrganisationBranchID 

cross join ( SELECT sum(isnull(ChequeAmount,0)) H FROM (
	select a.OLID,a.OfficeLocation B,ChequeNo C,ChequeDate D1,convert(varchar,ReferenceDate,104) E,concat(ReferenceNumber collate database_default,' ',convert(varchar,ReferenceDate,104)) F,DocumentNumber G,convert(varchar,RemittanceDate,104) H,isnull(ChequeAmount,0) J
	,right(convert(varchar,Date1,106),8) N
	from ( select Year(dateadd(month,-1,convert(datetime,concat(@YearID ,'-',@MonthID ,'-1')))) YearID,Month(dateadd(month,-1,convert(datetime,concat(@YearID ,'-',@MonthID ,'-1')))) MonthID,convert(datetime,concat(@YearID ,'-',@MonthID ,'-1')) Date1 ) A1
	cross apply Fn_UnRealizedCheques (@OfficeID ,@LocationID ,YearID,MonthID,1) A
	where isnull(Realized,0)=0 and isnull(Dishonoured,0)=0 and Year(RemittanceDate) = YearID and Month(RemittanceDate) = MonthID
	and ChequeNo not in ( select ChequeNo from Fn_UnRealizedCheques (@OfficeID ,@LocationID ,@YearID ,@MonthID,@FinalApprove ) A1 where isnull(Dishonoured,0)=1 and Year(RemittanceDate) = YearID and Month(RemittanceDate) = MonthID 
		and a1.OLID=a.OLID and a1.ChequeNo=a.ChequeNo and a1.ChequeDate=a.ChequeDate )
	) A LEFT JOIN ( select OLID,ChequeNo,ChequeDate,ChequeAmount from Fn_UnRealizedCheques (@OfficeID ,@LocationID ,@YearID ,@MonthID,@FinalApprove ) A
		where isnull(Realized,0)=1 and Year(RealizedDate) = @YearID  and Month(RealizedDate) = @MonthID  ) B on b. OLID=a.OLID and b.ChequeNo=a.C and b.ChequeDate=a.D1 ) B

cross join ( select sum(isnull(ChequeAmount,0)) S from Fn_UnRealizedCheques (@OfficeID,@LocationID,@YearID,@MonthID,@FinalApprove) A where isnull(Realized,0)=0 and isnull(Dishonoured,0)=0 and Year(RemittanceDate) = @YearID and Month(RemittanceDate) = @MonthID ) B1
cross join ( select sum(isnull(c.ChequeAmount,0)) I ,sum(isnull(d.ChequeAmount,0)) R ,Sum(isnull(DC,0)) AB
	from ( select (row_number() over(order by ChequeNo)) SlNo,* from ( 
	select AcOLID,OLID,OfficeLocation,ChequeNo from PrevCheque union select AcOLID,OLID,OfficeLocation,ChequeNo from PrevCheque_With union select AcOLID,OLID,OfficeLocation,ChequeNo from CurrentCheque ) A ) A
	left join PrevCheque B on b.SlNo=a.SlNo
	left join PrevCheque_With C on c.ChequeNo=b.ChequeNo and c.ChequeDate=b.ChequeDate
	left join CurrentCheque D on d.SlNo=a.SlNo ) C 
cross join ( select sum(isnull(B1.Rectified,0)) U,sum(isnull(B2.CurrentMonth,0)) J
	from ( select convert(datetime,concat(@YearID,'-',@MonthID,'-1'))+RowNumber-1 date1 from InfiniteRows 
		union select dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1')))+RowNumber-1 from InfiniteRows1 
        UNION select ErroneousDate from data1 B1 where ErroneousDate<convert(datetime,concat(@YearID,'-',@MonthID,'-1')) and isnull(RectifiedDate1,'1900-01-01')>=convert(datetime,concat(@YearID,'-',@MonthID,'-1')) ) A 
	cross join ( select convert(datetime,concat(@YearID,'-',@MonthID,'-1')) date2 ) A1
	cross join ( select distinct A,B,L from data1 ) A2
	outer apply ( select ErroneousDate,sum(isnull(Amount,0)) OB from data1 B where ErroneousDate<date2 and b.ErroneousDate=a.date1 group by ErroneousDate ) B 
	outer apply ( select ErroneousDate,sum(isnull(ReverseRectified,0)) Rectified from data1 B1 where ErroneousDate<date2 and isnull(RectifiedDate1,'1900-01-01')>=date2 and b1.ErroneousDate=a.date1 group by ErroneousDate ) B1 
	outer apply ( select ErroneousDate,sum(isnull(Amount,0)-isnull(ReverseRectified,0)) CurrentMonth from data1 B2 where ErroneousDate>=date2 and isnull(Rectified,0)=0 and b2.ErroneousDate=a.date1 group by ErroneousDate ) B2
	) D 
cross join ( select sum(isnull(B1.Rectified,0)) K,sum(isnull(B2.CurrentMonth,0)) T
	from ( select convert(datetime,concat(@YearID,'-',@MonthID,'-1'))+RowNumber-1 date1 from InfiniteRows 
		union select dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1')))+RowNumber-1 from InfiniteRows1  ) A 
	cross join ( select convert(datetime,concat(@YearID,'-',@MonthID,'-1')) date2 ) A1
	cross join ( select distinct A,B,L from data2 ) A2
	outer apply ( select ErroneousDate,sum(isnull(Amount,0)) OB from data2 B where ErroneousDate<date2 and b.ErroneousDate=a.date1 group by ErroneousDate ) B 
	outer apply ( select ErroneousDate,sum(isnull(ReverseRectified,0)) Rectified from data2 B1 where ErroneousDate<date2 and isnull(RectifiedDate1,'1900-01-01')>=date2 and b1.ErroneousDate=a.date1 group by ErroneousDate ) B1 
	outer apply ( select ErroneousDate,sum(isnull(Amount,0)-isnull(ReverseRectified,0)) CurrentMonth from data2 B2 where ErroneousDate>=date2 and isnull(Rectified,0)=0 and b2.ErroneousDate=a.date1 group by ErroneousDate ) B2
	) E 
cross join ( select sum(isnull(ReverseAmount,0)) L,sum(isnull((BC_During-ReverseAmount1),0)) V from ( 
	select AcOLID,OLID,OfficeLocation,CashBookYear,CashBookMonth,TransactionDate,b.TransferDate Date_OB,isnull(BC_OB,0) BC_OB
	,(case when c.TransferDate < convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)) then ReverseAmount else 0 end) ReverseAmount
	,d.TransferDate,isnull(BC_During,0) BC_During 
	,(case when c.TransferDate >= convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)) then ReverseAmount else 0 end) ReverseAmount1 from (
	select Distinct AcOLID,OLID,OfficeLocation,CashBookYear,CashBookMonth,convert(datetime,cast(concat(@YearID,'-',@MonthID,'-',RowNumber) as Date)) TransactionDate 
	from data3 cross join InfiniteRows 
	union select Distinct AcOLID,OLID,OfficeLocation,CashBookYear,CashBookMonth,TransferDate TransactionDate from data3 
	) A 
	left join ( select TransferDate,sum(BankCharges) BC_OB from data3 where TransferDate < convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)) group by TransferDate ) B on b.TransferDate=a.TransactionDate
	left join ( select TransferDate,Max(ReverseDate) ReverseDate,Sum(isnull(ReverseAmount,0)) ReverseAmount from data3 group by TransferDate ) C on c.TransferDate=a.TransactionDate
	left join ( select TransferDate,sum(BankCharges) BC_During from data3 where TransferDate >= convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)) group by TransferDate ) D on d.TransferDate=a.TransactionDate
	) A inner join OfficeLocationAllocation B with(nolock) on b.OfficeLocationAllocationID=a.AcOLID 
	) F
cross join ( select sum(Trans_Amount) P,sum(Direct_MainAc_P) Q from Fn_BRSReports(@OfficeID,@LocationID,@YearID,@MonthID,@FinalApprove) A ) G
) A 


);
GO
