USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_ScaleRegister_Report]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  Function [dbo].[Fn_ScaleRegister_Report](@FromDate DateTime,@ToDate DateTime,@OLID int,@CID int,@Sup int,@JV Int,@BRNo Varchar(50),@OSL Int) RETURNS Table AS Return ( 


--Declare @FromDate DateTime = '2023-03-01' 
--Declare @ToDate DateTime = '2023-03-31' 
--Declare @OLID Int = 339
--Declare @CID Int = -1
--Declare @Sup Int = 0
--Declare @JV Int = 1 
--Declare @BRNo Varchar(50) = '-1' 
--Declare @OSL Int = 0 




select * ,(case when StatusID1=19 then 19 when ECID not in (1,4,5,7,3) then 1 when JoinDate< '2006-04-01' then 2 when JoinDate>='2006-04-01' then 3 else 0 end) StatusID from (
select a.* ,(case when isnull(StatusID,0)=19 then 19 when ECID not in (1,4,5,7,3) then 0 else 1 end) StatusID1,isnull(JoinDate,0) JoinDate from (
select a.*,0 MA,0 TA,0 OWE,0 Compensation from (
select b.OLID,b.ContactID,Suppliment,BillRegisterNo,BillRegisterDate,SalaryYear,SalaryMonth
,right(convert(varchar,convert(datetime,Concat((case when Suppliment in (0,9) then SalaryYear else Year(isnull(BillRegisterDate,GetDate())) end),'-',(case when Suppliment in (0,9) then SalaryMonth else Month(isnull(BillRegisterDate,GetDate())) end),'-1')),106),8) Months
,(case when Suppliment in (0,9) then SalaryYear else Year(isnull(BillRegisterDate,GetDate())) end) YearID,(case when Suppliment in (0,9) then SalaryMonth else Month(isnull(BillRegisterDate,GetDate())) end) MonthID
,a.* from ( 
select ECID,SRID,BP,DP,DA,HRA,CCA,(Others+Others_A+Shift+HWC) Others,(CPLC+CPC) CPC,CPF,CESI,CLWF,DW,ExGratia,Bonus,Gross
,IT,PT,FBF,HRA_Others,WC_Others,HRA_Mescom,WC_Mescom,Loan,RD,Insurance,PLI,GPF,GIS,PunyaKoti,CPC_D,EPC,CPLC_D,EPLC,CPF_D,EPF,CESI_D,ESI,CLWF_D,ELWF,Society,UnionFees,Association,FA,Interanl_RC,Extrenal_RC,(Advance+Others_D+Others_LA+Recovery) Others_D,Deduction
,(Gross-Deduction) NetPay,CPC_Before,Gratuity from ( 
select ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A,IT,PT,FBF,HRA_Others,WC_Others,HRA_Mescom,WC_Mescom,EPC,CPC_D,ELWF,CLWF_D,CPF_D,EPF,GIS,EPLC,CPLC_D,ESI,CESI_D,Others_D,Loan,Advance,RD,GPF,Insurance,PLI,Society,UnionFees,Association,PunyaKoti,Recovery,Others_LA,FA,Interanl_RC,Extrenal_RC 
,(IT+PT+FBF+HRA_Others+WC_Others+HRA_Mescom+WC_Mescom+EPC+CPC_D+ELWF+CLWF_D+CPF_D+EPF+GIS+EPLC+CPLC_D+ESI+CESI_D+Others_D+Loan+Advance+RD+GPF+Insurance+PLI+Society+UnionFees+Association+PunyaKoti+Recovery+Others_LA+FA+Interanl_RC+Extrenal_RC) Deduction
,(BP+DP+DA+HRA+CCA+Others+Shift+HWC+DW+ExGratia+Bonus+CPC+CPF+CLWF+CPLC+CESI+Others_A) Gross from (
select ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A,IT,PT,FBF,HRA_Others,WC_Others,HRA_Mescom,WC_Mescom,EPC,CPC_D,ELWF,CLWF_D,CPF_D,EPF,GIS,EPLC,CPLC_D,ESI,CESI_D,Others_D,Loan,Advance,RD,GPF,Insurance,PLI,Society,UnionFees,Association,PunyaKoti,Recovery,Others_LA 
,Sum(case when LoanandAdvanceID=9 then Amount else 0 end) FA,Sum(case when LoanandAdvanceID!=9 and isnull(ExternalOrganisationID,0) in (0,13) then Amount else 0 end) Interanl_RC
,Sum(case when LoanandAdvanceID!=9 and isnull(ExternalOrganisationID,0) not in (0,13) then Amount else 0 end) Extrenal_RC from ( 
select ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A,IT,PT,FBF,HRA_Others,WC_Others,HRA_Mescom,WC_Mescom,EPC,CPC_D,ELWF,CLWF_D,CPF_D,EPF,GIS,EPLC,CPLC_D,ESI,CESI_D,Others_D 
,Sum(case when LoanandAdvanceTypeID=1 then Amount else 0 end) Loan,Sum(case when LoanandAdvanceTypeID=2 then Amount else 0 end) Advance,Sum(case when e.LoanandAdvanceID=15 then Amount else 0 end) RD,Sum(case when e.LoanandAdvanceID in (16,24) then Amount else 0 end) GPF
,Sum(case when e.LoanandAdvanceID=17 and isnull(ExternalOrganisationID,0) not in (82,86) then Amount else 0 end) Insurance,Sum(case when e.LoanandAdvanceID=17 and isnull(ExternalOrganisationID,0) in (82,86) then Amount else 0 end) PLI
,Sum(case when e.LoanandAdvanceID=20 then Amount else 0 end) Society ,Sum(case when e.LoanandAdvanceID=21 then Amount else 0 end) UnionFees ,Sum(case when e.LoanandAdvanceID=23 then Amount else 0 end) Association,Sum(case when e.LoanandAdvanceID=118 then Amount else 0 end) PunyaKoti
,Sum(case when LoanandAdvanceTypeID=5 then Amount else 0 end) Recovery,Sum(case when LoanandAdvanceTypeID in (3,4) and e.LoanandAdvanceID not in (15,17,20,21,23,118) then Amount else 0 end) Others_LA from ( 
select ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A 
,Sum(case when SalaryOtherDeductionID=2 then Amount else 0 end) IT,Sum(case when SalaryOtherDeductionID=3 then Amount else 0 end) PT,Sum(case when SalaryOtherDeductionID=11 then Amount else 0 end) FBF,Sum(case when SalaryOtherDeductionID=10 then Amount else 0 end) HRA_Others
,Sum(case when SalaryOtherDeductionID=15 then Amount else 0 end) WC_Others,Sum(case when SalaryOtherDeductionID=20 then Amount else 0 end) HRA_Mescom,Sum(case when SalaryOtherDeductionID=21 then Amount else 0 end) WC_Mescom,Sum(case when SalaryOtherDeductionID=13 then Amount else 0 end) EPC
,Sum(case when SalaryOtherDeductionID=17 then Amount else 0 end) CPC_D,Sum(case when SalaryOtherDeductionID=14 then Amount else 0 end) ELWF,Sum(case when SalaryOtherDeductionID=18 then Amount else 0 end) CLWF_D,Sum(case when SalaryOtherDeductionID=19 then Amount else 0 end) CPF_D
,Sum(case when SalaryOtherDeductionID=25 then Amount else 0 end) EPF,Sum(case when SalaryOtherDeductionID=28 then Amount else 0 end) GIS,Sum(case when SalaryOtherDeductionID=29 then Amount else 0 end) EPLC,Sum(case when SalaryOtherDeductionID=30 then Amount else 0 end) CPLC_D
,Sum(case when SalaryOtherDeductionID=33 then Amount else 0 end) ESI,Sum(case when SalaryOtherDeductionID=34 then Amount else 0 end) CESI_D,Sum(case when SalaryOtherDeductionID not in (2,3,11,10,15,20,21,13,17,14,18,19,25,28,29,30,33,34) then Amount else 0 end) Others_D from (
select ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC 
,Sum(case when SalaryOtherAdditionID=2 then Amount else 0 end) DW,Sum(case when SalaryOtherAdditionID=7 then Amount else 0 end) ExGratia,Sum(case when SalaryOtherAdditionID=3 then Amount else 0 end) Bonus,Sum(case when SalaryOtherAdditionID=13 then Amount else 0 end) CPC,Sum(case when SalaryOtherAdditionID=14 then Amount else 0 end) CPC_Before
,Sum(case when SalaryOtherAdditionID=15 then Amount else 0 end) Gratuity,Sum(case when SalaryOtherAdditionID=16 then Amount else 0 end) CPF,Sum(case when SalaryOtherAdditionID=17 then Amount else 0 end) CLWF,Sum(case when SalaryOtherAdditionID=20 then Amount else 0 end) CPLC
,Sum(case when SalaryOtherAdditionID=22 then Amount else 0 end) CESI ,Sum(case when SalaryOtherAdditionID not in (2,7,3,13,14,15,16,17,20,22) then Amount else 0 end) Others_A from (
select ECID,SRID,SRWID,(isnull(BP,0)-isnull(BPW,0)) BP 
,Sum(case when AllowanceID=20 then Amount else 0 end) DP,Sum(case when AllowanceID=1 then Amount else 0 end) DA,Sum(case when AllowanceID=2 then Amount else 0 end) HRA,Sum(case when AllowanceID=3 then Amount else 0 end) CCA,Sum(case when AllowanceID not in (20,1,2,3,8,30) then Amount else 0 end) Others
,Sum(case when AllowanceID=8 then Amount else 0 end) Shift,Sum(case when AllowanceID=30 then Amount else 0 end) HWC 
from ( select ScaleRegisterID SRID,isnull(EmployeeCategoryID,0) ECID from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 
and isnull(OSL,0)=@OSL
and isnull(BillRegisterDate,GetDate()) Between @FromDate and @ToDate 
and (case when @OLID=-1 then -1 else OLID end)=@OLID
and (case when @CID=-1 then -1 else ContactID end)=@CID
and (case when @Sup=-1 then -1 else Suppliment end) in (select (case when @Sup=-2 then 0 else @Sup end) union select (case when @Sup=-2 then 9 else @Sup end)) 
and (case when @JV=-1 then -1 when isnull(JVNo,0)!=0 and BillRegisterDate is not NULL and BillRegisterNo like '%/%' then 1 else 0 end)=@JV
and (case when @BRNo='-1' then '-1' else BillRegisterNo end)=@BRNo
) A Outer Apply (select ScaleRegisterWithDrawalID SRWID from ScaleRegisterWithDrawals B with (nolock) where b.ScaleRegisterID=a.SRID) B
Outer Apply (select Round(Round(Sum(isnull(Amount,0)),2),0) as BP from ScaleRegisterBasicPayDetails B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0) C
Outer Apply (select Round(Round(Sum(isnull(Amount,0)),2),0) as BPW from ScaleRegisterBasicPayWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(b.SRWID,0) Group By ScaleRegisterWithDrawalID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0) C1
Outer Apply (select AllowanceID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterAllowances B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,AllowanceID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
    select AllowanceID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterAllowanceWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(b.SRWID,0) Group By ScaleRegisterWithDrawalID,AllowanceID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 ) D
Group By ECID,SRID,SRWID,(isnull(BP,0)-isnull(BPW,0))
) A Outer Apply (select SalaryOtherAdditionID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditions B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,SalaryOtherAdditionID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
     select SalaryAdditionOthersID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherAdditionWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,SalaryAdditionOthersID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 ) E
Group By ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC
) A Outer Apply (select SalaryOtherDeductionID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherDeductions B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,SalaryOtherDeductionID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
     select SalaryDeductionOthersID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterOtherDeductionWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,SalaryDeductionOthersID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 ) E
Group By ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A
) A Outer Apply (select LoanandAdvanceID,ExternalOrganisationID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterLoansandAdvances B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
     select LoanandAdvanceID,ExternalOrganisationID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterLoanandAdvanceWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,LoanandAdvanceID,ExternalOrganisationID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 ) E
Left Join LoanandAdvance B with (nolock) on b.LoanandAdvanceID=e.LoanandAdvanceID
Group By ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A,IT,PT,FBF,HRA_Others,WC_Others,HRA_Mescom,WC_Mescom,EPC,CPC_D,ELWF,CLWF_D,CPF_D,EPF,GIS,EPLC,CPLC_D,ESI,CESI_D,Others_D
) A Outer Apply (select LoanandAdvanceID,ExternalOrganisationID,Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterRecovery B with (nolock) where b.ScaleRegisterID=a.SRID Group By ScaleRegisterID,LoanandAdvanceID,ExternalOrganisationID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 union all 
     select LoanandAdvanceID,ExternalOrganisationID,-Round(Round(Sum(isnull(Amount,0)),2),0) as Amount from ScaleRegisterRecoveryWithDrawals B1 with (nolock) where b1.ScaleRegisterWithDrawalID=isnull(a.SRWID,0) Group By ScaleRegisterWithDrawalID,LoanandAdvanceID,ExternalOrganisationID Having Round(Round(Sum(isnull(Amount,0)),2),0) <>0 ) E
Group By ECID,SRID,SRWID,BP,DP,DA,HRA,CCA,Others,Shift,HWC,DW,ExGratia,Bonus,CPC,CPC_Before,Gratuity,CPF,CLWF,CPLC,CESI,Others_A,IT,PT,FBF,HRA_Others,WC_Others,HRA_Mescom,WC_Mescom,EPC,CPC_D,ELWF,CLWF_D,CPF_D,EPF,GIS,EPLC,CPLC_D,ESI,CESI_D,Others_D,Loan,Advance,RD,GPF,Insurance,PLI,Society,UnionFees,Association,PunyaKoti,Recovery,Others_LA
) A ) A where (abs(Gross)+abs(Deduction))!=0 
) A Inner join ScaleRegister B with(nolock) on b.ScaleRegisterID=a.SRID
) A union all 
select OLID,ContactID,Suppliment,concat(BillRegisterNo,''),BillRegisterDate,Year(BillRegisterDate) YearID,Month(BillRegisterDate) MonthID,right(convert(varchar,BillRegisterDate,106),8) Months,Year(BillRegisterDate) YearID,Month(BillRegisterDate) MonthID,ECID,0 SRID,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,MA,TA,OWE,Compensation from (
select OLID,BillRegisterNo,BillRegisterDate,a.ContactID,SUm(MA) MA,Sum(TA) TA,Sum(OWE) OWE,Sum(Compensation) Compensation,Suppliment,isnull(ECID,0) ECID from (
select OLID,BillRegisterNo,BillRegisterDate,RecepientContactID ContactID,(case when AcHead='75.611' then Amount else 0 end) MA,(case when AcHead='76.133' then Amount else 0 end) TA
,(case when AcHead like '75.7%' then Amount else 0 end) OWE,(case when AcHead like '75.8%' then Amount else 0 end) Compensation
,1 JV,0 OSL,(case when AcHead='76.133' then -3 when AcHead='75.611' then -4 when AcHead like '75.7%' then -5 when AcHead like '75.8%' then -6 else -99 end) Suppliment  from (
select a.*,mid.BillRegisterNo,BillRegisterDate,(FromMainAccountCode+FromSubAccountCode) AcHead,RecepientContactID,Description1,mid.Amount,RecepientName 
from ( select JournalVoucherNo,OLID,JournalVoucherDate from JournalVoucher JV with (nolock) where Approved=1 and DocumentTypeID=29 
and JournalVoucherDate Between @FromDate and @ToDate  and (case when @OLID=-1 then -1 else OLID end)=@OLID ) A 
Inner join MiscellaneousInvoice MI with (nolock) on mi.JournalVoucherNo=a.JournalVoucherNo
Inner join MiscellaneousInvoiceTypes MIT with (nolock) on mit.MiscInvoiceTypeID=mi.MiscInvoiceTypeID and FromMainAccountCode in ('75.6','75.7','75.8','76.1') 
	and (Case when FromMainAccountCode='76.1' and FromSubAccountCode<>'33' then 0 else 1 end) = 1
Cross Apply ( select BillRegisterNo,BillRegisterOLID,RecepientContactID,(case when isnull(RecepientContactID,0)=0 then '(Without Contacts)' else '' END) as Description1,Sum(isnull(Amount,0)) as Amount 
	from MiscellaneousInvoiceDetails MID with (nolock) where mid.BillRegisterNo=mi.BillRegisterNo and mid.BillRegisterOLID=mi.BillRegisterOLID and isnull(RecepientContactID,0)!=0 
	and (case when @CID=-1 then -1 else isnull(RecepientContactID,0) end)=@CID	and (case when @BRNo='-1' then '-1' else BillRegisterNo end)=@BRNo
	group by BillRegisterNo,BillRegisterOLID,RecepientContactID,(case when isnull(RecepientContactID,0)=0 then '(Without Contacts)' else '' END)) MID 
	) A union all 
select a.OLID,RegularizedBillRegisterNo,RegularizedBillRegisterDate,pid.ContactID,(case when (FromMainAccountCode+FromSubAccountCode)='75.611' then pid.Amount else 0 end) MA
,(case when (FromMainAccountCode+FromSubAccountCode)='76.133' then pid.Amount else 0 end) TA,0 OWE,0 Compensation,1 JV,0 OSL,(case when (FromMainAccountCode+FromSubAccountCode)='76.133' then -3 else -4 end) Suppliment 
from ( select JournalVoucherNo,OLID,JournalVoucherDate from JournalVoucher JV with (nolock) where Approved=1 and DocumentTypeID=29 
and JournalVoucherDate Between @FromDate and @ToDate  and (case when @OLID=-1 then -1 else OLID end)=@OLID ) A 
inner Join JournalVoucherDetails C with (nolock) on c.JournalVoucherNo=a.JournalVoucherNo and (FromMainAccountCode+FromSubAccountCode)  in ('76.133','75.611')
inner join ProformaInvoice PI with (nolock) on isnull(pi.RegularizedJournalVoucherNo,0)=a.JournalVoucherNo 
Cross Apply ( select BillRegisterNo,BillRegisterOLID,ContactID,(case when LoanandAdvanceID=0 then NULL else LoanandAdvanceID end) LoanandAdvanceID,Sum(isnull(Amount,0)) as Amount from ProformaInvoiceBudgetDetails PID with(nolock) 
	where isnull(ContactID,0)!=0 and pid.BillRegisterNo=pi.BillRegisterNo and pid.BillRegisterOLID=pi.BillRegisterOLID 
	and (case when @CID=-1 then -1 else isnull(ContactID,0) end)=@CID	and (case when @BRNo='-1' then '-1' else BillRegisterNo end)=@BRNo
	group by BillRegisterNo,BillRegisterOLID,ContactID,LoanandAdvanceID ) PID 
inner join LoanAndAdvance la with (nolock) on la.LoanandAdvanceID=isnull(pid.LoanandAdvanceID,pi.LoanandAdvanceID) and la.LoanandAdvanceID in (8,10) 
union all 
select a.OLID,BillRegisterNo,BillRegisterDate,ContactID,0 MA,c.Amount TA,0 OWE,0 Compensation,1 JV,0 OSL,-3 Suppliment 
from ( select JournalVoucherNo,OLID,JournalVoucherDate from JournalVoucher JV with (nolock) where Approved=1 and DocumentTypeID=29 
and JournalVoucherDate Between @FromDate and @ToDate  and (case when @OLID=-1 then -1 else OLID end)=@OLID ) A 
Inner Join JournalVoucherDetails C with (nolock) on c.JournalVoucherNo=a.JournalVoucherNo and (FromMainAccountCode+FromSubAccountCode)  in ('76.133')
inner join ImprestInvoice D with (nolock) on d.JournalVoucherNo=a.JournalVoucherNo 
and (case when @CID=-1 then -1 else isnull(ContactID,0) end)=@CID	and (case when @BRNo='-1' then '-1' else BillRegisterNo end)=@BRNo
) A outer Apply ( select * from (select ContactID,FieldValue ECID,isnull((lag(ToDate) over (Partition By ContactID Order By ContactID,ToDate)+1),0) FromDate,ToDate from (
	select distinct ContactID,FieldValue,ValidUpTo ToDate from EmployeeHistory_HRMS A with (nolock) where FieldName='EmployeeCategoryID' and ContactID = a.ContactID 
	union all select ContactID,EmployeeCategoryID,EOMonth(GetDate()) ValidUpTo from Employee A with (nolock) where ContactID = a.ContactID  ) A ) B 
	where BillRegisterDate between FromDate and ToDate and b.ContactID = a.ContactID ) EC
where (case when @JV=-1 then -1 else JV end)=@JV and (case when @Sup=-1 then -1 else Suppliment end)=@Sup and isnull(OSL,0)=@OSL
Group BY OLID,BillRegisterNo,BillRegisterDate,a.ContactID,Suppliment,isnull(ECID,0)
) A ) A 
outer Apply ( select * from (select ContactID,FieldValue StatusID,isnull((lag(ToDate) over (Partition By ContactID Order By ContactID,ToDate)+1),0) FromDate,ToDate from (
	select distinct ContactID,FieldValue,ValidUpTo ToDate from EmployeeHistory_HRMS A with (nolock) where FieldName='EmployeeStatusID' and ContactID = a.ContactID 
	union all select ContactID,EmployeeStatusID,EOMonth(GetDate()) ValidUpTo from Employee A with (nolock) where ContactID = a.ContactID and isnull(ODLDID,0)!=0 ) A ) B 
	where BillRegisterDate between FromDate and ToDate and b.ContactID = a.ContactID ) ST
Outer Apply ( select ContactID,AppointmentTypeID,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime) JoinDate from (
		select * ,(Row_Number() over (Partition By ContactID Order By ContactID,EmployeeAppointmentDetailsID desc)) MaxNo 
		from EmployeeAppointmentDetails E with(nolock) where Approved=1 and Reported=1 and AppointmentTypeID in (1,26) and isnull(EmployeeCategoryID,0)=a.ECID 
		and e.ContactID=a.ContactID ) A where MaxNo = 1 ) B
) A 



)






GO
