USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Accounts_ETL_Activity18]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[Fn_Accounts_ETL_Activity18](@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN ( 

--Declare @FromDate DateTime = '2023-04-01' 
--Declare @ToDate DateTime = '2023-07-27' 


select ActivityID,DocumentNo,DateAndTime,StatusID from (
select  ActivityID,DocumentNo,DateAndTime,StatusID  
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from ActivityApprovals_Accounts with(nolock) where ActivityID in (121,135) and isnull(DocumentNo,0)>0 and DateAndTime>='2023-04-01' 
and StatusID in (1,8) and isnull(NextApproverContactID,0)=0 
and DateAndTime>=@FromDate and DateAndTime<@ToDate  
) A where MaxNo=1 

) 

GO
