USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CollectionTaxJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CollectionTaxJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

--declare @olid int = 412 
--declare @yr int = 2022 
--declare @month int = 9 

select AccHead,(case when Debit<0 then 0 else Debit end) Debit,(case when Debit<0 then -Debit else Credit end) Credit
,Description,(case when Debit<0 then 'Credit' else 'Debit' end) Type from (
select sb.Acc+'7' AccHead,sum(dd.Tax_Total) Debit,0 Credit,sb.Description,'Debit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID
inner join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join (Select MainAccountCode+SubAccountCode Acc,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode='47.609') sb 
group by sb.Acc,sb.Description 
) A 
union all 
select AccHead,(case when Credit<0 then -Credit else Debit end) Debit,(case when Credit<0 then 0 else Credit end) Credit
,Description,(case when Credit<0 then 'Debit' else 'Credit' end) Type from (
select x.Head AccHead,x.c Debit,x.Credit,x.Descr Description,'Credit' Type from (
select sb.Acc+Cast(vc.VoltageClassID as Varchar(10)) Head,0 c,sum(isnull(dd.Tax_Total,0)) Credit,sb.Description+'-'+vc.description Descr 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID
left join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
inner join VoltageClass vc with (nolock) on db.VoltageClassID=vc.VoltageClassID and vc.VoltageClassID in (4,5,6) 
cross join (Select MainAccountCode+SubAccountCode Acc,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode='23.301') sb 
group by sb.Acc+Cast(vc.VoltageClassID as Varchar(10)),sb.Description+'-'+vc.description 
) X 
union all 
select sb.Acc+Cast(vc.VoltageClassID as Varchar(10)) Head,0 c,X.Credit,sb.Description+'-'+vc.description Descr,'Credit' from (
select sum(isnull(dd.Tax_Total,0))-(isnull(d.Amt,0)) Credit 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid) dr
inner join DCBRevenueDetails db with (nolock) on dr.DCBRevenueID=db.DCBRevenueID and db.TariffTypeID=2 
left join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join (select sum(db1.Tax_Total) Amt 
    from (select * from DCBRevenue dr1 with (nolock) where dr1.Month=@month and dr1.Year=@yr and dr1.olid<>@olid ) dr1
	inner join DCBRevenueDetails dd1 with (nolock) on dr1.DCBRevenueID=dd1.DCBRevenueID and dd1.VoltageClassID in (4,5,6)
	inner join DCBCollectionDetails db1 with (nolock) on dd1.DCBRevenueDetailsID=db1.DCBRevenueDetailsID 
	inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr1.OLID and ol.acolid=@olid 
	left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) ) d 
group by d.Amt ) X 
cross join( Select MainAccountCode+SubAccountCode Acc,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode='23.301') sb 
cross join (select * from VoltageClass vc with (nolock) where vc.voltageclassid=7) vc
union all 
select sb.Acc+'7',0 c,sum(isnull(dd.Tax_Total,0)) Credit,sb.Description+'-'+vc.description Descr,'Credit' 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID and db.TariffTypeID=1 
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=db.VoltageClassID
inner join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join(Select MainAccountCode+SubAccountCode Acc,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode='23.302') sb 
group by sb.Acc+'7',sb.Description+'-'+vc.description
) A 


GO
