USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[MyFunc]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[MyFunc] (@parm int)
returns table
as
return (

SELECT * FROM ScaleRegister Allowances
WHERE  CONTACTID=@parm
);
GO
