USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRADate]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRADate](@FromDate varchar(12),@ToDate varchar(12)) RETURNS Table AS RETURN ( 

select * from ScaleRegister sr with(nolock) 
where sr.ScaleRegisterID in (select max(ScaleRegisterID) from ScaleRegister sr1 with(nolock) where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 group by sr1.ContactID,Sr1.Salaryyear,sr1.SalaryMonth) 
and isnull(sr.Generated,0)=1 and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1 
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate 
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))<=@Todate 

);
GO
