USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[RVData]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RVData](@BRNO int)
returns varchar(8000)
as
begin
declare @results varchar(8000)
select @results = coalesce(@results + ',','') +  convert(varchar(30),rva.OfficialReferenceNo) 
from SupplierInvoiceRVDetails t
inner join ReceiptVoucherAbstract_Accounts rva on rva.ReceiptVoucherNo=t.ReceiptVoucherNo
where t.BillRegisterNo=@BRNO
return @results
end;
GO
