USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMRWONo]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMRWONo] (@AcOLID Int)

RETURNS Table AS 
RETURN  (

--Declare @AcOLID Int select @AcOLID = 408


select wo.*,WorkAllocationSubID,sew.UnitID,MILCWID as ItemID,ActualQuantity from (
select CircleOLID,AcOLID,wo.*,WorkDescription,MainAccountCode,SubAccountCode,bt1.BudgetGrantMainTypeID,bt.BudgetGrantTypeID,bt.Description as BGTypes,Bt1.BudgetGrantTypeID as UBGTypeID,bt1.Description as UnderBGTypes
from ( select WorkOrderNo,OLID,WorkOrderDate,SanctionEstimateNo,SanctionEstimateOLID,WorkAllocationID
from Workorder where Approved=1 and isnull(Complete,0)=0 and isnull(TokenWorkOrder,0)=0 and isnull(Legacy,0)=0 and isnull(Canceled,0)=0 and isnull(SanctionEstimateNo,0)<>0 and isnull(WorkAllocationID,0) not in (57)) as WO
left outer join ( select WorkAllocationID,Description as WorkDescription,MainAccountCode,SubAccountCode from WorkAllocation ) as  WA on wa.WorkAllocationID=wo.WorkAllocationID
inner join BudgetTypeAccountHeadAllocation BTA on bta.FromMainAccountCode=wa.MainAccountCode and bta.FromSubAccountCode=wa.SubAccountCode
left outer join BudgetGrantTypes bt on bt.BudgetGrantTypeID=bta.BudgetGrantTypeID
left outer join BudgetGrantTypes bt1 on bt1.BudgetGrantTypeID=isnull(bt.UnderBudgetGrantTypeID,bt.BudgetGrantTypeID)
inner join FnUnderOL() ol on ol.OLID=wo.OLID and (CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID or AcOLID=@AcOLID) 
inner join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=wo.OLID and ola.OfficeID not in (66,65,49) ) as WO

inner join SanctionEstimateWorkAllocationDetails sew on sew.SanctionEstimateNo=wo.SanctionEstimateNo
where isnull(ActualQuantity,0)<>0 and CivilWorkMeasurementTypeID=4 and Source='Company'


);
GO
