USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMasterDetails]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMasterDetails](@AcOLID Int)
RETURNS Table AS
RETURN 	(



select od.OfficeDepartmentAllocationID as ODID,odd.OfficeDepartmentDesignationAllocationID as ODDID,old.OfficeLocationDepartmentAllocationID as OLDID,odld.ODLDID,ola.OfficeLocationAllocationID as OLID
,(o.OfficeName+'  '+L.LocationName) as OfficeLocation,ct.ContactID,ct.FileAs as EmployeeName,(dn.DesignationName+' ( '+dp.DepartmentCode+' )') as Designation,isnull(eg.Description,'') as Grades,isnull(e1.Religion,'') as Caste,isnull(c.Description,'') as SubCaste,e1.Sex as Gender
,isnull(eo.Name,'') as BankName,isnull(eob.Name,'') as BranchName,e1.BankAcNo,isnull(eob.IFSCCode,'') as IFSCCode,(case when isnull(e1.PanCardNo,'')='' then isnull(pan.PANNo,'') else isnull(e1.PanCardNo,'') end ) as PANNo,isnull(PPANNo,'') as PPANNo,isnull(PINNo,'') as PINNo
,convert(varchar,e1.DateOfBirth,105) as DateOfBirth,convert(varchar,isnull(ead.ReportedDate,ead1.ReportedDate),105) as DateOfJoin
,convert(varchar,(DATEADD(mm, DATEDIFF(m,0,dateadd(Year,MaxAgeForRetirement,(case when day(e1.DateOfBirth)=1 then e1.DateOfBirth-1 else e1.DateOfBirth end)))+1,0)-1),105) as DateOfRetired,OrderNo
,isnull((isnull(rtrim(lien.Types),dep.types)+' '+(o1.OfficeName+' - '+L1.LocationName)+' , '+(dn1.DesignationName+' ( '+dp1.DepartmentCode+' )')+' on '+convert(varchar,isnull(lien.RelievedDate,dep.RelievedDate),105)+' '+right(isnull(lien.RelievedDate,dep.RelievedDate),7)),'') as LienOrDeputePost
,isnull((cast(cast(fa.Amount as Int) as varchar(10))+'  from '+right(convert(varchar,fa.StartDate,106),8)+' to '+right(convert(varchar,fa.EndDate,106),8)),'') as FABalance
,isnull(isnull(isnull(s.RelationShip,m.RelationShip),f.RelationShip)+' Name - '+isnull(isnull(s.PersonName,m.PersonName),f.PersonName)+' ( '+isnull(isnull(s.Gender,m.Gender),f.Gender)+' ) '+' , DateOfBirth '+convert(varchar,isnull(isnull(s.DateOfBirth,m.DateOfBirth),f.DateOfBirth),105),'') as SpouseOrNomineeDetails
,isnull((case when eq.Vaccated='Vaccated' then eq.Vaccated+' on '+isnull(convert(varchar,eq.ToDate,105),'') else case when eq.Vaccated='Occupy' then eq.Vaccated+' on '+isnull(convert(varchar,eq.FromDate,105),'') else '' end end)+(case when b.BuildingID is not NULL and isnull(b.ExternalOrganisation,0)=0 then ' , MESCOM' else case when isnull(b.ExternalOrganisation,0)=1 then ' , '+(isnull(eo1.Name,'')+' - '+eob1.Name) else '' end end)+' , Qtrs No '+b.Description+' , BuildingID '+cast(b.BuildingID as varchar(6)),'') as QuarterDetails
,isnull(ts.TimeScale,'') as TimeScale,isnull(odld2.DesignationID,dn.DesignationID) as DNID,odld.OfficeID,odld.DepartmentID,odld.LocationID,odld.DesignationID,isnull(e1.Retired,0) as Retired,isnull(e1.EmployeeStatusID,0) as EmployeeStatusID,isnull(e1.EmployeeCategoryID,1) as EmployeeCategoryID

from ODLDAllocation odld 
left outer join Employee e on e.ODLDID=odld.ODLDID
full join Contacts ct on ct.ContactID=e.ContactID cross join GeneralSetting
left outer join Employee e1 on e1.ContactID=ct.ContactID
left outer join ExternalOrganisations eo on eo.ExternalORganisationID=e1.BankID
left outer join ExternalOrganisationBranches eob on eob.ExternalORganisationBranchID=e1.BankBranchID
left outer join CastTypes c on c.CasteTypeID=e1.CasteTypeID
left outer join EmployeeGradeDesignationAllocation egd on egd.DesignationID=odld.DesignationID
left outer join EmployeeGrades eg on eg.EmployeeGradeID=egd.EmployeeGradeID
left outer join OfficeLocationAllocation ola on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LOcationID
left outer join (select ppan1.ContactID,ppan1.PANNo 
from (select ContactID,Max(ContactDetailsID) as ContactDetailsID from ContactDetails where isnull(PANNo,'') <> '' group by ContactID) as PPAN
inner join ContactDetails PPAN1 on ppan1.ContactDetailsID=ppan.ContactDetailsID) as PAN on pan.COntactID=ct.COntactID
left outer join (select ppan1.ContactID,ppan1.PPANNo 
from (select ContactID,Max(ContactDetailsID) as ContactDetailsID from ContactDetails where isnull(PPANNo,'') <> '' group by ContactID) as PPAN
inner join ContactDetails PPAN1 on ppan1.ContactDetailsID=ppan.ContactDetailsID) as PPAN on ppan.COntactID=ct.COntactID
left outer join (select ppan1.ContactID,ppan1.PINNo 
from (select ContactID,Max(ContactDetailsID) as ContactDetailsID from ContactDetails where isnull(PINNo,'') <> '' group by ContactID) as PPAN
inner join ContactDetails PPAN1 on ppan1.ContactDetailsID=ppan.ContactDetailsID) as PIN on pin.COntactID=ct.COntactID
left outer join (select ead1.ContactID,ead1.ToODLDID,ead1.ReportedDate,ead1.ReportedTime,Regularised
from (select ContactID,Min(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=1 and Approved=1 and Reported=1 and isnull(EmployeeCategoryID,1)=1 group by ContactID) as EAD
inner join EmployeeAppointmentDetails EAD1 on ead1.EmployeeAppointmentDetailsID=ead.EmployeeAppointmentDetailsID) EAD on ead.ContactID=ct.ContactID 
left outer join (select ead1.ContactID,ead1.ToODLDID,ead1.ReportedDate,ead1.ReportedTime,Regularised
from (select ContactID,Min(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=1 and Approved=1 and Reported=1 and isnull(EmployeeCategoryID,1)<>1 group by ContactID) as EAD
inner join EmployeeAppointmentDetails EAD1 on ead1.EmployeeAppointmentDetailsID=ead.EmployeeAppointmentDetailsID) EAD1 on ead1.ContactID=ct.ContactID 
left outer join Office o on o.OfficeID=odld.OfficeID
left outer join Location l on l.LocationID=odld.LocationID
left outer join Department dp on dp.DepartmentID=odld.DepartmentID
left outer join Designation dn on dn.DesignationID=odld.DesignationID
left outer join OfficeDepartmentAllocation od on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID
left outer join OfficeDepartmentDesignationAllocation odd on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
left outer join OfficeLocationDepartmentAllocation old on old.OfficeLocationAllocationID=ola.OfficeLocationAllocationID and old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID
left outer join DesignationHierarchyOrder_Config dho on dho.DesignationID=dn.DesignationID

left outer join ( select 'Lien From   ' as Types,e2.ContactID,e2.FromODLDID,e2.ToODLDID,e2.RelievedDate from (select ContactID,Max(isnull(RelievedDate,0)) as RelievedDate from EmployeeAppointmentDetails where AppointmentTypeID=23 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 group by ContactID) as E
left outer join (select ContactID,RelievedDate,Max(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails where AppointmentTypeID=23 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 group by ContactID,RelievedDate) as E1 on e1.ContactID=e.COntactID and e1.RelievedDate=e.RelievedDate
inner join EmployeeAppointmentDetails e2 on e2.EmployeeAppointmentDetailsID=e1.EmployeeAppointmentDetailsID ) as Lien on lien.ContactID=ct.ContactID

left outer join ( select 'Deputed From' as Types,e2.ContactID,e2.FromODLDID,e2.ToODLDID,e2.RelievedDate from (select ead.ContactID,Max(isnull(RelievedDate,0)) as RelievedDate from EmployeeAppointmentDetails ead inner join Employee e on e.ContactID=ead.ContactID where AppointmentTypeID=8 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 and e.EmployeeStatusID<>19 and ToODLDID is not NULL group by ead.ContactID) as E
left outer join (select ead.ContactID,RelievedDate,Max(EmployeeAppointmentDetailsID) as EmployeeAppointmentDetailsID from EmployeeAppointmentDetails ead inner join Employee e on e.ContactID=ead.ContactID where AppointmentTypeID=8 and Approved=1 and Relieved=1 and Reported=1 and regularised=0 and e.EmployeeStatusID<>19 and ToODLDID is not NULL group by ead.ContactID,RelievedDate) as E1 on e1.ContactID=e.COntactID and e1.RelievedDate=e.RelievedDate
inner join EmployeeAppointmentDetails e2 on e2.EmployeeAppointmentDetailsID=e1.EmployeeAppointmentDetailsID ) as Dep on dep.ContactID=ct.ContactID
left outer join ODLDAllocation odld1 on odld1.ODLDID=isnull(lien.FromODLDID,dep.FromODLDID)

left outer join Office o1 on o1.OfficeID=odld1.OfficeID
left outer join Location l1 on l1.LocationID=odld1.LocationID
left outer join Department dp1 on dp1.DepartmentID=odld1.DepartmentID
left outer join Designation dn1 on dn1.DesignationID=odld1.DesignationID

left outer join ODLDAllocation odld2 on odld2.ODLDID=lien.FromODLDID
left outer join ( select ContactID,Sum(isnull(eld.Balance,0)) as Amount,Min(InstallmentPaidDate) as StartDate,Max(InstallmentPaidDate) as EndDate
from EmployeeLoanandAdvance el inner join EmployeeLoanandAdvanceDetails eld on eld.EmployeeLoanandAdvanceID=el.EmployeeLoanandAdvanceID
where Expired=0 and LoanandAdvanceID=9 and isnull(eld.Balance,0)<>0 group by ContactID ) as FA on fa.ContactID=ct.ContactID

left outer join ( select ContactID,PersonName,Gender,DateOfBirth,'Father' as RelationShip from ContactRelationshipDetails crs where RelationShipTypeID=1
and crs.ContactRelationshipDetailsID in (select Max(crs1.ContactRelationshipDetailsID) from ContactRelationshipDetails crs1 where crs1.ContactID=crs.ContactID and crs.RelationShipTypeID=1)) as F on f.ContactID=ct.ContactID
left outer join ( select ContactID,PersonName,Gender,DateOfBirth,'Mother' as RelationShip from ContactRelationshipDetails crs where RelationShipTypeID=2
and crs.ContactRelationshipDetailsID in (select Max(crs1.ContactRelationshipDetailsID) from ContactRelationshipDetails crs1 where crs1.ContactID=crs.ContactID and crs.RelationShipTypeID=2)) as M on m.ContactID=ct.ContactID
left outer join ( select ContactID,PersonName,Gender,DateOfBirth,'Spouse' as RelationShip from ContactRelationshipDetails crs where RelationShipTypeID=3
and crs.ContactRelationshipDetailsID in (select Max(crs1.ContactRelationshipDetailsID) from ContactRelationshipDetails crs1 where crs1.ContactID=crs.ContactID and crs.RelationShipTypeID=3)) as S on s.ContactID=ct.ContactID

left outer join ( select e2.ContactID,EmployeeQuartersID as BuildingID,FromDate,e2.ToDate,(case when isnull(Vaccated,0)=1 then 'Vaccated' else case when isnull(Vaccated,0)=0 then 'Occupy' else '' end end)  as Vaccated 
from (select ContactID,Max( isnull(ToDate,ToDay)) as ToDate from EmployeeQuarterDetails e inner join Today_HRMS t on t.Ac_OLID=@AcOLID group by ContactID) as E
left outer join (select ContactID, isnull(ToDate,ToDay) as ToDate,Max(EmployeeQuarterDetailsID) as EmployeeQuarterDetailsID from EmployeeQuarterDetails e inner join Today_HRMS t1 on t1.Ac_OLID=@AcOLID  group by ContactID,ToDate,ToDay) as E1 on e1.ContactID=e.ContactID and e1.Todate=e.ToDate
left outer join EmployeeQuarterDetails E2 on e2.EmployeeQuarterDetailsID=e1.EmployeeQuarterDetailsID ) as EQ on eq.ContactID=ct.ContactID
left outer join Buildings b on b.BuildingID=eq.BuildingID
left outer join ExternalOrganisations eo1 on eo1.ExternalORganisationID=b.ExternalORganisationID
left outer join ExternalOrganisationBranches eob1 on eob1.ExternalORganisationBranchID=b.ExternalORganisationBranchID

left outer join ( select ca2.ContactID,ca2.EffectiveDate,ToDesignationID from (select ContactID,Max(EffectiveDate) as EffectiveDate from EmployeePayDetails where EmployeePayTypeID in (14,15) and Approved=1 group by ContactID) as CA
left outer join (select ContactID,EffectiveDate,Max(EmployeePayDetailsID) as EmployeePayDetailsID from EmployeePayDetails where EmployeePayTypeID in (14,15) and Approved=1 group by ContactID,EffectiveDate) as CA1 on ca1.ContactID=ca.ContactID and ca1.EffectiveDate=ca.EffectiveDate
left outer join EmployeePayDetails CA2 on ca2.EmployeePayDetailsID=ca1.EmployeePayDetailsID ) as CA on ca.ContactID=ct.ContactID

left outer join ( select DesignationID,left(TimeScale,len(TimeScale)-1) as TimeScale from  EmployeeCadreTypeDesignationAllocation ect
cross apply (select (cast(cast(MinimumAmount as Int) as varchar(10))+'-'+cast(cast(IncrementAmount as Int) as varchar(10))+'-'+cast(cast(MaximumAmount as Int) as varchar(10)))+' , '
from EmployeeTimeScalePeriods ets left outer join EmployeeTimeScales et on et.EmployeeTimeScalePeriodID=ets.EmployeeTimeScalePeriodID
where ets.EmployeeCadreTypeID=ect.EmployeeCadreTypeID order by EmployeeTimeScaleSeries FOR XML PATH ('') ) as TS (TimeScale) ) as TS on ts.DesignationID=isnull(ca.ToDesignationID,dn.DesignationID)

where isnull(e1.Retired,0)=0 and isnull(e1.EmployeeStatusID,0) not in (14,16) and isnull(e1.EmployeeCategoryID,1)=1 


)
GO
