USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderOL]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnUnderOL]()
RETURNS Table AS
RETURN 	(



select * from OfficeLocationAccountingUnitDetails with(nolock)
)
GO
