USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDistributionNodes_1]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnDistributionNodes_1](@AcOLID Int)
RETURNS Table AS
RETURN 	(

WITH TransformerCTE AS (
    SELECT DistributionNodeID as TCDNID, DistributionNodeName as TCName, DistributionNodeCode as TCCode, VoltageClassID as TCVClassID,
           UnderDistributionNodeID, PinCode, Longitude, Latitude, Streetname
    FROM DistributionNodes WITH (NOLOCK)
    WHERE DistributionNodeTypeID = 1 AND UnderDistributionNodeTypeID = 2
),
FeederCTE AS (
    SELECT DistributionNodeID as FeederDNID, DistributionNodeName as FeederName, DistributionNodeCode as FeederCode, VoltageClassID as FeederVClassID, UnderDistributionNodeID
    FROM DistributionNodes WITH (NOLOCK)
    WHERE DistributionNodeTypeID = 2 AND UnderDistributionNodeTypeID = 1
),
StationCTE AS (
    SELECT DistributionNodeID as StationDNID, DistributionNodeName as StationName, DistributionNodeCode as StationCode, VoltageClassID as StVClassID
    FROM DistributionNodes WITH (NOLOCK)
    WHERE DistributionNodeTypeID = 1 AND UnderDistributionNodeTypeID IS NULL
),
OfficeCTE AS (
    SELECT dnol.DistributionNodeID,
           ol.AcOLID, ol.OLID, ol.OfficeLocation, ol.SubDivisionOLID,
           ol.CorporateOLID, ol.ZonalOLID, ol.CircleOLID,
           ROW_NUMBER() OVER (PARTITION BY dnol.DistributionNodeID, dnol.DistriButionNodeOLID
                              ORDER BY DistriButionNodeOfficeAllocationID DESC) AS rn
    FROM OfficeLocationAccountingUnitDetails ol WITH (NOLOCK)
    INNER JOIN DistriButionNodeOfficeAllocation dnol WITH (NOLOCK)
        ON dnol.DistriButionNodeOLID = ol.OLID
    LEFT JOIN DistributionNodes dn WITH (NOLOCK)
        ON dn.DistributionNodeID = dnol.DistributionNodeID
    WHERE (CorporateOLID = @AcOLID OR ZonalOLID = @AcOLID OR CircleOLID = @AcOLID OR AcOLID = @AcOLID OR OLID = @AcOLID)
      AND (CASE WHEN DistributionNodeTypeID=1 AND UnderDistributionNodeTypeID=2 THEN dnol.DistributionNodeID ELSE 0 END) <> 0
),
UDF_CTE AS (
    SELECT a.DistributionNodeID,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 31 THEN b.DistributionNodeUserDefinedFieldValue END) AS TC_CAPACITY,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 20 THEN b.DistributionNodeUserDefinedFieldValue END) AS TC_MAKE,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 105 THEN b.DistributionNodeUserDefinedFieldValue END) AS STAR_RATING,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 106 THEN b.DistributionNodeUserDefinedFieldValue END) AS MOUNT_TYPE,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 113 THEN b.DistributionNodeUserDefinedFieldValue END) AS COMMENCE_DATE,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 107 THEN b.DistributionNodeUserDefinedFieldValue END) AS DTC_METERED,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 100 THEN b.DistributionNodeUserDefinedFieldValue END) AS METER_TYPE,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 102 THEN b.DistributionNodeUserDefinedFieldValue END) AS METER_SERIALNO,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 103 THEN b.DistributionNodeUserDefinedFieldValue END) AS METER_MAKE,
           MAX(CASE WHEN b.DistributionNodeUserDefinedFieldID = 101 THEN b.DistributionNodeUserDefinedFieldValue END) AS METER_CAPACITY
    FROM DistributionNodeDetails a WITH (NOLOCK)
    INNER JOIN DistributionNodeDetailsSub b WITH (NOLOCK)
        ON b.DistributionNodeDetailsID = a.DistributionNodeDetailsID
    WHERE b.DistributionNodeUserDefinedFieldID IN (31,20,105,106,113,107,100,102,103,101)
    GROUP BY a.DistributionNodeID
)


SELECT DISTINCT o.AcOLID,o.OLID,StationDNID,StationName,StationCode,
    FeederDNID,FeederName,FeederCode,TCDNID,TCName,TCCode,TCVClassID,
    Upper(StationName+ '('+StationCode+')'+' - '  +isnull(v.Description,'') ) as Station,
    udf.TC_CAPACITY,udf.TC_MAKE,udf.STAR_RATING,
    udf.METER_TYPE,udf.METER_SERIALNO,METER_CAPACITY,COMMENCE_DATE,MOUNT_TYPE,DTC_METERED,METER_MAKE,
	CircleOLID, ZonalOLID, CorporateOLID,SubDivisionOLID,OfficeLocation,PinCode, Longitude, Latitude, Streetname
FROM TransformerCTE t
JOIN FeederCTE f ON f.FeederDNID = t.UnderDistributionNodeID
JOIN StationCTE st ON st.StationDNID = f.UnderDistributionNodeID
JOIN OfficeCTE o ON o.DistributionNodeID = t.TCDNID AND o.rn = 1
left join VoltageClass v with(nolock) on v.VoltageClassID=st.StVClassID
LEFT JOIN UDF_CTE udf ON udf.DistributionNodeID = t.TCDNID






)
GO
