USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRDNew]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSRDNew](@FromDate varchar(12),@AcOLID Int,@ToDate varchar(12))
RETURNS Table AS
RETURN 	(




With SR (OLID,Scaleregisterid,ContactID,SalaryYear,SalaryMonth,FromDate,ToDate,BRNo) as (
select sr.OLID,Scaleregisterid,sr.ContactID,sr.SalaryYear,sr.SalaryMonth,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')) as FromDate 
,dateadd(month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1 as ToDate,isnull(BillRegisterNo,0) as BRNo
from ScaleRegister sr
where convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate 
and (dateadd(month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1)<=@ToDate

), SRB (OLID,Scaleregisterid,ContactID,SalaryYear,SalaryMonth,FromDate,ToDate,BRNo,TypeID,TypesID,Types,Amount,BankID,BranchID,PolicyNo,BankTypeID) as (
select sr.*,TypeID,TypesID,Types,Amount,BankID,BranchID,ExternalRRNo,BankTypeID from SR
inner join (		
select distinct srbp.Scaleregisterid,1 as TypeID,1 as TypesID,'BP' as Types,round(round(sum(isnull(srbp.Amount,0)),4),4) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID
from Scaleregisterbasicpaydetails srbp Group by srbp.Scaleregisterid having round(round(sum(isnull(srbp.Amount,0)),4),4)<>0
union all			
select distinct sra.Scaleregisterid,sra.AllowanceID as TypeID,2 as TypesID,'AL' as Types,round(round(sum(isnull(sra.Amount,0)),4),4) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID
from scaleregisterallowances sra Group by sra.Scaleregisterid,sra.AllowanceID having round(round(sum(isnull(sra.Amount,0)),4),4)<>0
union all			
select distinct sroa.Scaleregisterid,sroa.SalaryOtherAdditionID TypeID,3 as TypesID,'OA' as Types,round(round(sum(isnull(sroa.Amount,0)),4),4) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID
from ScaleRegisterOtherAdditions sroa Group by sroa.Scaleregisterid,sroa.SalaryOtherAdditionID having round(round(sum(isnull(sroa.Amount,0)),4),4)<>0
union all			
select distinct sod.Scaleregisterid,sod.SalaryOtherDeductionID as TypeID,4 as TypesID,'OD' as Types,round(round(sum(isnull(sod.Amount,0)),4),4) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID
from ScaleRegisterOtherDeductions sod Group by  sod.Scaleregisterid,sod.SalaryOtherDeductionID having round(round(sum(isnull(sod.Amount,0)),4),4)<>0
union all			
select distinct srla.Scaleregisterid,srla.LoanandAdvanceID as TypeID,5 as TypesID,'LA' as Types,round(round(sum(isnull(srla.Amount,0)),4),4) as Amount,srla.ExternalOrganisationid as BankID,srla.ExternalOrganisationBranchID as BranchID,srla.ExternalRRNo,srla.ExternalOrganisationTypeID as BankTypeID
from ScaleRegisterLoansandAdvances srla Group By srla.Scaleregisterid,srla.LoanandAdvanceID,srla.ExternalOrganisationid,srla.ExternalOrganisationBranchID,srla.ExternalRRNo,srla.ExternalOrganisationTypeID having round(round(sum(isnull(srla.Amount,0)),4),4)<>0
union all			
select distinct srr.Scaleregisterid,srr.ScheduleTypeID as TypeID,6 as TypesID,'RC' as Types,round(round(sum(isnull(srr.Amount,0)),4),4) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID
from ScaleregisterRecovery srr Group by srr.Scaleregisterid,srr.ScheduleTypeID having round(round(sum(isnull(srr.Amount,0)),4),4)<>0
) as SRB on srb.ScaleRegisterID=sr.ScaleRegisterID

), SR1 (ScaleRegisterID1,ContactID,ScaleRegisterID,SR1WithDrawalID,YearID,MonthID,OLID,BRNo,BROLID,BRDate,StartingDate,NetPaySR1,NetPaySR1W,Diff,Types) as (
select distinct sr2.ScaleRegisterID,SR1.ContactID,sr1.ScaleRegisterID,ScaleRegisterWithDrawalID,sr1.SalaryYear,sr1.SalaryMonth,SR1.OLID,sr1.BillRegisterNo,sr1.BillRegisterOLID,isnull(sr1.BillRegisterDate,t.Today) as BRDate
,convert(datetime,(cast(sr1.SalaryYear as varchar(4))+'-'+cast(sr1.SalaryMonth as varchar(2))+'-01')) as StartingDate
,SR1.NetPayments,SR1w.NetPayments ,(isnull(SR1.NetPayments,0)-isnull(SR1w.NetPayments,0)) as Diff
,(case when (isnull(SR1.NetPayments,0)-isnull(SR1w.NetPayments,0))>0 then 'Arrears' else 'Recovery' end) as Types
from ScaleRegister SR1 inner join Today_HRMS t on t.Ac_olid=@AcOLID
left outer join ScaleRegisterWithDrawals SR1w on SR1w.ScaleRegisterID=SR1.ScaleRegisterID

left outer join ScaleRegister sr2 on sr2.ContactID=sr1.ContactID and isnull(sr2.BillRegisterNo,0)=isnull(sr1.BillRegisterNo,0) and sr2.SalaryYear=Year(isnull(sr1.BillRegisterDate,t.Today)) and sr2.SalaryMonth=Month(isnull(sr1.BillRegisterDate,t.Today))
and sr2.ScaleRegisterID in (select Max(sr3.ScaleRegisterID) from ScaleRegister sr3 where sr3.ContactID=sr2.ContactID and sr3.SalaryYear=sr2.SalaryYear and sr3.SalaryMonth=sr2.SalaryMonth group by sr3.COntactID)
where Ac_OLID=@AcOLID and  (isnull(SR1.NetPayments,0)-isnull(SR1w.NetPayments,0))<>0 
and convert(datetime,(cast(sr1.SalaryYear as varchar(4))+'-'+cast(sr1.SalaryMonth as varchar(2))+'-01')) <>
convert(datetime,(cast(year(isnull(sr1.BillRegisterDate,t.Today)) as varchar(4))+'-'+cast(Month(isnull(sr1.BillRegisterDate,t.Today)) as varchar(2))+'-01'))
and convert(datetime,(cast(year(isnull(sr1.BillRegisterDate,t.Today)) as Varchar(4))+'-'+cast(Month(isnull(sr1.BillRegisterDate,t.Today)) as varchar(2))+'-01'))>=@FromDate 
and (dateadd(month,1,convert(datetime,(cast(year(isnull(sr1.BillRegisterDate,t.Today)) as Varchar(4))+'-'+cast(Month(isnull(sr1.BillRegisterDate,t.Today)) as varchar(2))+'-01')))-1)<=@ToDate 
and isnull(SR1.Suppliment,0)<>1 and sr2.ScaleRegisterID is not null

) , SR1D (TypesID,ScaleRegisterID,TypeID,TGAmount,GAmount,Diff) as (
select TypeNo,ScaleRegisterID,ID,sum(isnull(TGAmount,0)) as TGAmount,sum(isnull(GAmount,0)) as  GAmount,(sum(isnull(TGAmount,0))-sum(isnull(GAmount,0))) as Diff from (
select 1 as TypeNo,ScaleregisterID,1 as ID,round(round(sum(isnull(Amount,0)),4),4) as TGAmount,0 as GAmount from ScaleregisterBasicPayDetails
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 2 as TypeNo,ScaleregisterID,AllowanceID as ID,round(round(sum(isnull(Amount,0)),4),4) as TGAmount,0 as GAmount from scaleregisterAllowances 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,AllowanceID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 3 as TypeNo,ScaleregisterID,SalaryOtherAdditionID as ID,round(round(sum(isnull(Amount,0)),4),4) as TGAmount,0 as GAmount from scaleregisterOtherAdditions
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,SalaryOtherAdditionID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 4 as TypeNo,ScaleregisterID,SalaryOtherDeductionID as ID,round(round(sum(isnull(Amount,0)),4),4) as TGAmount,0 as GAmount from scaleregisterOtherDeductions 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,SalaryOtherDeductionID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 5 as TypeNo,ScaleregisterID,LoanAndAdvanceID as ID,round(round(sum(isnull(Amount,0)),4),4) as TGAmount,0 as GAmount from scaleregisterLoansandadvances 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,LoanAndAdvanceID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 6 as TypeNo,ScaleregisterID,ScheduleTypeID as ID,round(round(sum(isnull(Amount,0)),4),4) as TGAmount,0 as GAmount from scaleregisterRecovery
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,ScheduleTypeID having round(round(sum(isnull(Amount,0)),4),4)<>0
union all
select 1 as TypesID,ScaleregisterID,1 as TypeID,0 as TGAmount,round(round(sum(isnull(Amount,0)),4),4) as GAmount from ScaleRegisterBasicPayWithdrawals SR1b
inner join ScaleRegisterWithdrawals SR1w on SR1w.ScaleRegisterWithdrawalID=SR1b.ScaleRegisterWithdrawalID 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 2 as TypesID,ScaleregisterID,AllowanceID as ID,0 as TGAmount,round(round(sum(isnull(Amount,0)),4),4) as GAmount from ScaleRegisterAllowanceWithdrawals SR1a
inner join ScaleRegisterWithdrawals SR1w on SR1w.ScaleRegisterWithdrawalID=SR1a.ScaleRegisterWithdrawalID 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,AllowanceID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 3 as TypesID,ScaleregisterID,SalaryAdditionOthersID as ID,0 as TGAmount,round(round(sum(isnull(Amount,0)),4),4) as GAmount from ScaleRegisterOtherAdditionWithdrawals SR1oa
inner join ScaleRegisterWithdrawals SR1w on SR1w.ScaleRegisterWithdrawalID=SR1oa.ScaleRegisterWithdrawalID 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,SalaryAdditionOthersID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 4 as TypesID,ScaleregisterID,SalaryDeductionOthersID as ID,0 as TGAmount,round(round(sum(isnull(Amount,0)),4),4) as GAmount from ScaleRegisterOtherDeductionWithdrawals SR1od
inner join ScaleRegisterWithdrawals SR1w on SR1w.ScaleRegisterWithdrawalID=SR1od.ScaleRegisterWithdrawalID 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,SalaryDeductionOthersID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 5 as TypesID,ScaleregisterID,LoanAndAdvanceID as ID,0 as TGAmount,round(round(sum(isnull(Amount,0)),4),4) as GAmount from ScaleRegisterLoanandAdvanceWithdrawals SR1la
inner join ScaleRegisterWithdrawals SR1w on SR1w.ScaleRegisterWithdrawalID=SR1la.ScaleRegisterWithdrawalID 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,LoanAndAdvanceID having round(round(sum(isnull(Amount,0)),4),4)<>0 union all
select 6 as TypesID,ScaleregisterID,ScheduleTypeID as ID,0 as TGAmount,round(round(sum(isnull(Amount,0)),4),4) as GAmount from ScaleRegisterRecoveryWithdrawals SR1r
inner join ScaleRegisterWithdrawals SR1w on SR1w.ScaleRegisterWithdrawalID=SR1r.ScaleRegisterWithdrawalID 
where ScaleRegisterID in (select ScaleRegisterID from SR1)
group by ScaleregisterID,ScheduleTypeID having round(round(sum(isnull(Amount,0)),4),4)<>0
) as S group by TypeNo,ScaleRegisterID,ID 

)
select Row_Number() over (Partition by ContactID,ScaleRegisterID,SalaryYear,SalaryMonth order by ContactID,ScaleRegisterID,SalaryYear,SalaryMonth ) as SlNo,* 
from (
select *,NULL as Types1 from srb union all
select OLID,SR1.ScaleRegisterID1,ContactID,year(BRDate) as YearID,Month(BRDate) as MonthID
,convert(datetime,(cast(year(BRDate) as Varchar(4))+'-'+cast(Month(BRDate) as varchar(2))+'-01')) as FromDate
,(dateadd(month,1,convert(datetime,(cast(year(BRDate) as Varchar(4))+'-'+cast(Month(BRDate) as varchar(2))+'-01')))-1) as ToDate
,BRNo ,30 as TypeID,6 as TypesID,'RC' as Types 
,(case when typesID in (1,2) then isnull(-SR1d.Diff,0) else case when typesID=3 and TypeID in (13,16) then isnull(-SR1d.Diff,0) else case when typesID in (6) then 0 else case when typesID in (4,5) then isnull(SR1d.Diff,0) else 0 end end end end) as Amount
,NULL as BankID,NULL as BranchID,NULL as PlicyNo,NULL as BankTypeID,(case when TypesID=4 and TypeID=2 then 'Income Tax' else NULL end) as Types1
from SR1 inner join SR1D on SR1.ScaleRegisterID=SR1d.ScaleRegisterID
where SR1.Types='Recovery' and isnull(SR1d.Diff,0)<>0
and convert(datetime,(cast(year(BRDate) as Varchar(4))+'-'+cast(Month(BRDate) as varchar(2))+'-01'))>='2012-11-01'	
) as T where FromDate>=@FromDate and ToDate<=@ToDate 




)
GO
