USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnCapitalBudgetNew]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnCapitalBudgetNew] (@FinancialYear varchar(50),@OLID Int) RETURNS Table AS RETURN ( 

--Declare @FinancialYear varchar(50) select @FinancialYear = '2015-2016' 
--Declare @OLID Int select @OLID = 337 

select b.AcOLID,o.OfficeName,l.LocationName,OLID,BudgetGrantID,BudgetControlID,b.BudgetGrantMainTypeID,b.BudgetGrantTypeID,b.BudgetGrantTypes,UnderBudgetGrantTypeID
,b.UnderBudgetGrantTypes ,left(datename(month,convert(datetime,cast(b.YearFrom as Varchar(4))+'-'+'4-1')),3)+'-'+cast(b.YearFrom as Varchar(4)) as FromYear 
,left(datename(month,convert(datetime,cast(b.YearTo as Varchar(4))+'-'+'3-1')),3)+'-'+cast(b.YearTo as Varchar(4)) as ToYear ,ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,''))) as AccountCode
,b.BudgetGrantTypes as AccountDescription ,b.Date,Particulars,b.Credit,b.Debit,CDTotal,Ordering,Ordered,MaxNo 

from FnBudgetReportNew(@FinancialYear,@OLID) B 
left outer join BudgetTypeAccountHeadAllocation bga with (nolock) on bga.BudgetGrantTypeID=b.BudgetGrantTypeID 
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=@OLID 
left outer join Office o with (nolock) on o.OfficeID=ola.OfficeID 
left outer join Location l with (nolock) on l.LOcationID=ola.LocationID 
left outer join BudgetTypeAccountHeadAllocation bga1 with (nolock) on bga1.BudgetGrantTypeID=b.BudgetGrantTypeID 
--where b.UnderBudgetGrantTypeID = 342 
--and AcOLID = 658 --and b.BudgetGrantTypeID = 61 --Order By AcOLID,b.UnderBudgetGrantTypeID,MaxNo 

);
GO
