USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnRRDetails]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnRRDetails](@YearID Int,@MonthID Int,@ContactID Int)

RETURNS Table AS
RETURN 	(


--Declare @YearID Int select @YearID = 2015
--Declare @MonthID Int select @MonthID = 4
--Declare @ContactID Int select @ContactID = 0


select a.ContactID,AppointmentTypeID,EmployeeCategoryID,convert(DateTime,convert(Int,RelievedDate))-1 as RelievedDate,Convert(DateTime,Convert(Int,ReportedDate)) as ReportedDate,Duration,Percentage,a.CreatedOn,OrganisationID
,isnull(ol.AcOLID,0) as FromAcOLID,isnull(ol.OLID,0) as FromOLID,FromODLDID,isnull(odld.OfficeID,0) as FromOID,isnull(odld.LocationID,0) as FromLID,isnull(odld.DepartmentID,0) as FromDPID,isnull(odld.DesignationID,0) as FromDNID 
,isnull(ol1.AcOLID,0) as ToAcOLID,isnull(ol1.OLID,0) as ToOLID,ToODLDID,isnull(odld1.OfficeID,0) as ToOID,isnull(odld1.LocationID,0) as ToLID,isnull(odld1.DepartmentID,0) as ToDPID,isnull(odld1.DesignationID,0) as ToDNID
,StartDate,EndDate,OrderNo from ( 

select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(RelievedTime,RelievedDate) as RelievedDate,isnull(ReportedTime,ReportedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,1 as OrderNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID in (1,24,26) and Approved=1 and isnull(Reported,0)=1 and isnull(Relieved,0)=1 
and ReportedDate Between StartDate and EndDate
union all
select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(ReportedTime,ReportedDate) as RelievedDate,isnull(RelievedTime,RelievedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,1 as OrderNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID in (8) and Approved=1 and isnull(Reported,0)=1 and isnull(Relieved,0)=1 
and ((case when isnull(Regularised,0)=0 then EndDate else ReportedDate end) Between StartDate and EndDate
or RelievedDate Between StartDate and EndDate )
union all
select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(RelievedTime,RelievedDate) as RelievedDate,isnull(ReportedTime,ReportedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,1 as OrderNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID in (17) and Approved=1 and isnull(Relieved,0)=1 
and (isnull(ReportedDate,EndDate) Between StartDate and EndDate or RelievedDate Between StartDate and EndDate )
union all
select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(RelievedTime,RelievedDate) as RelievedDate,isnull(isnull(isnull(ReportedTime,ReportedDate),RelievedTime),RelievedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,1 as OrderNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID in (18) and Approved=1 and isnull(Relieved,0)=1 
and isnull(isnull(isnull(isnull(ReportedTime,ReportedDate),RelievedTime),RelievedDate),EndDate) Between StartDate and EndDate 
union all
select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(RelievedTime,RelievedDate) as RelievedDate,isnull(ReportedTime,ReportedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,1 as OrderNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID in (21,22,11,15) and Approved=1 and isnull(Relieved,0)=1 
and RelievedDate Between StartDate and EndDate
union all
select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(RelievedTime,RelievedDate) as RelievedDate,isnull(ReportedTime,ReportedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,1 as OrderNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID in (20,2,3,4,5) and Approved=1 and isnull(Relieved,0)=1 
and (RelievedDate Between StartDate and EndDate or ReportedDate Between StartDate and EndDate) 
union all
select ContactID,AppointmentTypeID,EmployeeCategoryID,FromODLDID,ToODLDID,OrganisationID,RelievedDate,ReportedDate,Duration,Percentage,CreatedOn,StartDate,EndDate,OrderNo from ( 
select Distinct ContactID,AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,isnull(FromODLDID,0) as FromODLDID,isnull(ToODLDID,0) as ToODLDID,isnull(ExternalOrganizationID,0) as OrganisationID,isnull(ReportedTime,ReportedDate) as RelievedDate,isnull(RelievedTime,RelievedDate) as ReportedDate,isnull(JoiningDuration,0) as Duration,isnull(Percentage,0) as Percentage,CreatedOn,StartDate,EndDate,2 as OrderNo
,(Row_Number() over (Partition By ContactID Order By ContactID,isnull(RelievedTime,RelievedDate) desc)) as MaxNo
from EmployeeAppointmentDetails ead Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D where AppointmentTypeID=23 and Approved=1 and isnull(Reported,0)=1 and isnull(Relieved,0)=1 
and ((case when isnull(Regularised,0)=0 then EndDate else ReportedDate end) Between StartDate and EndDate
or RelievedDate Between StartDate and EndDate ) ) as A where MaxNo=1
union all
select ContactID,1 as AppointmentTypeID,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,0 as FromODLDID,ODLDID as ToODLDID,0 as OrganisationID,NULL as RelievedDate,StartDate as ReportedDate,0 as Duration,0 as Percentage,EndDate as CreatedOn,StartDate,EndDate,3 as OrderNo
from Employee Cross Join (select distinct StartDate,EndDate from FnDate(@YearID,@MonthID)) as D
where isnull(ODLDID,0)<>0 and EmployeeStatusID not in (14,16) and isnull(Retired,0)=0

) as A
left outer join ODLDAllocation odld on odld.ODLDID=FromODLDID
left outer join OfficeLocationAllocation ola on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left outer join FnETLUnderOL() ol on ol.OLID=ola.OfficeLocationAllocationID
left outer join ODLDAllocation odld1 on odld1.ODLDID=ToODLDID
left outer join OfficeLocationAllocation ola1 on ola1.OfficeID=odld1.OfficeID and ola1.LocationID=odld1.LocationID
left outer join FnETLUnderOL() ol1 on ol1.OLID=ola1.OfficeLocationAllocationID
where isnull(ContactID,0)>0 --and (case when a.AppointmentTypeID in (20,2,3,4) then isnull(ol.AcOLID,0) else 0 end) <>  (case when a.AppointmentTypeID in (20,2,3,4) then isnull(ol1.AcOLID,0) else 1 end)
and ContactID = (case when @ContactID=0 then ContactID else @ContactID end)

);
GO
