USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_NewFundRequistionWeeklyData]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_NewFundRequistionWeeklyData](
    @Week1_From DateTime,@Week1_To DateTime
    ,@Week2_From DateTime,@Week2_To DateTime
    ,@Week3_From DateTime,@Week3_To DateTime
    ,@Week4_From DateTime,@Week4_To DateTime
    ) 

RETURNS Table AS 
RETURN 	(

--    Declare @Week1_From DateTime select @Week1_From = '2025-8-1'
--    Declare @Week1_To DateTime select @Week1_To = '2025-8-7'
--    Declare @Week2_From DateTime select @Week2_From = '2025-8-8'
--    Declare @Week2_To DateTime select @Week2_To = '2025-8-14'
--    Declare @Week3_From DateTime select @Week3_From = '2025-8-15'
--    Declare @Week3_To DateTime select @Week3_To = '2025-8-21'
--    Declare @Week4_From DateTime select @Week4_From = '2025-8-22'
--    Declare @Week4_To DateTime select @Week4_To = '2025-8-30' ;


With  FRNo as (

    select FundRequisitionNo,FundrequisitionDate,OLID,LocationCode from FundRequisition with (nolock) 
    where isnull(cancel,0)=0 and Transferred=1 and isnull(AdvanceFundRequisition,0)=0

    and ( FundRequisitionDate Between @Week1_From and @Week1_To 

    or FundRequisitionDate Between @Week2_From and @Week2_To 

    or FundRequisitionDate Between @Week3_From and @Week3_To 

    or FundRequisitionDate Between @Week4_From and @Week4_To ) 

) , Imprest as (

    select a.*,c.Description BillTypes,Sum(Amount) Amount from (

    select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,Sum(BillAmount) BillAmount,'' MainAccountCode 

    from FundRequisitionDetails with (nolock) where isnull(Sanctioned,0)=0 and FundRequisitionSubTypeID in (10) and isnull(BillRegisterNo,0)!=0 and isnull(BillAmount,0)!=0

    and FundRequisitionNo in ( select FundRequisitionNo from FRNo ) 

    Group By FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo  ) A 

    Left Outer Join ImprestInvoice B1 with (nolock) on b1.BillRegisterNo=a.BillRegisterNo and isnull(b1.Status,0) = 1

    Left Outer Join ImprestInvoiceDetails B with (nolock) on b.BillRegisterNo=b1.BillRegisterNo and b.ImprestExpenseID = 4

    Left Outer Join ImprestExpenses C on c.ImprestExpenseID=b.ImprestExpenseID

    Group By FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,a.BillRegisterNo,BillAmount,a.MainAccountCode collate database_default,c.Description

) , FRDetails as (

    select a.*,NULL BillTypes  from (

    select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,BillAmount,MainAccountCode 

    from FundRequisitionDetails with (nolock) where isnull(Sanctioned,0)=0 and FundRequisitionSubTypeID not in (16,10) and isnull(BillRegisterNo,0)!=0 and isnull(BillAmount,0)!=0

    and FundRequisitionNo in ( select FundRequisitionNo from FRNo ) ) A 

    union all 

    select a.*,c.Description BillTypes from (

    select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,BillAmount,MainAccountCode 

    from FundRequisitionDetails with (nolock) where isnull(Sanctioned,0)=0 and FundRequisitionSubTypeID in (16) and isnull(BillRegisterNo,0)!=0 and isnull(BillAmount,0)!=0

    and FundRequisitionNo in ( select FundRequisitionNo from FRNo ) ) A 

    Left Outer Join ProformaInvoice B with (nolock) on b.BillRegisterNo=a.BillRegisterNo

    Left Outer Join LoanAndAdvance C on c.LoanAndAdvanceID=b.LoanAndAdvanceID

    union all 

    select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,(BillAmount-Amount),MainAccountCode,NULL BillTypes from Imprest 

    union all 

    select FundRequisitionTypeID,FundRequisitionSubTypeID,FundRequisitionNo,BillRegisterNo,Amount,MainAccountCode,BillTypes from Imprest 

) , Data1 as (

    
    select (isnull(BillTypes,d.Description)+(case when c.FundRequisitionTypeID=4 and b.FundRequisitionSubTypeID=34 and left(MainAccountCode,2) in ('74','14') 
    then Concat(' (',left(MainAccountCode,2),')') else '' end)) BillTypes

    ,c.Description Types1,Max(case when c.FundRequisitionTypeID=1 then 'A&G Expenditure (76)' else case when c.FundRequisitionTypeID=3 then 'Employee Cost (75)' else case when 

    c.FundRequisitionTypeID=4 then 'Capital Expenditure' else c.Description end end end) Types 

    ,LocationCode,Sum(isnull(BillAmount,0)) Amount,a.OLID,a.Fundrequisitionno,a.FundrequisitionDate from FRNo A 

    Full Join FRDetails B with (nolock) on b.FundRequisitionNo=a.FundRequisitionNo 

    Left outer join FundRequisitionTypes_Accounts C with (nolock) on c.FundRequisitionTypeID=b.FundRequisitionTypeID

    Left outer join FundRequisitionSubTypes_Accounts D with (nolock) on d.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID
    Left Outer Join OfficeLocationAccountingUnitDetails E with (nolock) on e.OLID=a.OLID
    
    Group By BillTypes,d.Description,c.Description,LocationCode,a.Fundrequisitionno,a.FundrequisitionDate, left(MainAccountCode collate database_default ,2),a.OLID

    ,(case when c.FundRequisitionTypeID=4 and b.FundRequisitionSubTypeID=34 and left(MainAccountCode collate database_default,2) in ('74','14') 
    then Concat(' (',left(MainAccountCode,2),')') else '' end)

) 


select BillTypes NatureofBill,Types BillType,FundRequisitionNo,FundRequisitionDate,OLID,sum(Amount) Amount from data1
Group By BillTypes,Types,FundrequisitionNo,FundrequisitionDate,OLID
having sum(Amount)<>0

);
GO
