USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnEmployee]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnEmployee]() RETURNS Table AS RETURN ( 

select distinct e.ODLDID,ct.ContactID,ct.Fileas as EmployeeName ,eo.Name as Bank,eob.Name as Branch,e.BankAcNo,rtrim(ltrim(eob.StreetName)) as BankAddress 
,(case when ct.TitleID=1 then 'He' else case when ct.TitleID=3 then 'She' else 'Fil' end end) as Titles ,(case when ct.TitleID=1 then 'Mr.' else case when ct.TitleID=3 then 'Mrs.' else 'Fil' end end) as Title 
,(case when ct.TitleID=1 then 'His' else case when ct.TitleID=3 then 'Her' else 'Fil' end end) as Titles1 
from Employee e with(nolock) 
left outer join Contacts ct with(nolock) on ct.ContactID=e.ContactID 
left outer join ExternalOrganisations eo with(nolock) on eo.ExternalOrganisationID=e.BankID 
left outer join ExternalOrganisationBranches eob with(nolock) on eob.ExternalOrganisationID=eo.ExternalOrganisationID and eob.ExternalOrganisationBranchID=e.BankBranchID 
where ct.ContactID is not null 

);
GO
