USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAttendance_hierarchyNew]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAttendance_hierarchyNew] (@OLID Int,@FromDate DateTime,@ToDate DateTime,@ContactID Int)

RETURNS Table AS 
RETURN 



--Declare @OLID Int select @OLID = 658
--Declare @FromDate DateTime select @FromDate = '2020-12-16'
--Declare @ToDate DateTime select @ToDate = '2021-01-15'
--Declare @ContactID Int select @ContactID = 2072
--;


with UsersTmp (UserContactID ,UserContactName ,UserOfficeLocation ,UserDesignation ,UserODLDID ,UserOLID ,UserDPID ,UserDNID ,UserODDID ,SlNo )  as(
 
select *,(Dense_Rank() over (Order By UserOLID,UserDPID,UserDNID,UserODDID)) SlNo  from (
select distinct e.ContactID UserContactID,ct.Fileas UserContactName,ola.Fileas UserOfficeLocation,Concat(dn.DesignationName collate database_default,' (',dp.DepartmentCode collate databAse_default,')') UserDesignation
,odld.ODLDID UserODLDID,ol.OLID UserOLID,odld.DepartmentID UserDPID,odld.DesignationID UserDNID,ODDID UserODDID
from ( select * from OfficeLocationAccountingUnitDetails  where ( OLID=@OLID or SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID )) as OL
inner join ODLDAllocation ODLD with (nolock) on odld.OfficeID=ol.OfficeID and odld.LocationID=ol.LocationID
and odld.DesignationID in (228,229,231,234,324,297,254,240,242,236,238,226,243,224,227,326,318,251,232,219,252,250,230,301,241,225,315,327,220)
inner join ( select distinct ContactID,ODLDID,EmployeeCategoryID from (
select e.ContactID,e.ODLDID,EmployeeCategoryID from Employee e with (nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
union select distinct ContactID,ToODLDID,isnull(EmployeecategoryID,1) from EmployeeAppointmentDetails A with (nolock) where isnull(legacy,0)=0 and AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and isnull(Legacy,0)=0
and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) as A  ) as E on e.ODLDID=odld.ODLDID
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID 
inner join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
inner join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID from DesignationActivityAllocation with (nolock) where ActivityID=390 and [Create]=1) as DAA on isnull(daa.ODDID,0)=odd.OfficeDepartmentDesignationAllocationID
Inner Join Contacts CT with (nolock) on ct.ContactID=e.ContactID
Inner Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=ol.OLID
Inner Join Designation DN with (nolock) on dn.DesignationID=odld.DesignationID
Inner Join Department DP with (nolock) on dp.DepartmentID=odld.DepartmentID
where AcOLID in (select distinct AcOLID from OfficeLocationAccountingUnitDetails  OL1 where OLID=@OLID and ol1.AcOLID=ol.AcOLID)
) A)

 

select a.UserContactID, UserContactName, u.UserName,UserOfficeLocation, UserDesignation, UserODLDID, UserOLID, UserDPID, UserDNID, UserODDID, SlNo,
b.ContactID,b.ContactName,b.Designation,ola.Fileas WorkingOL,ola.OfficeLocationAllocationID WorkingOLID
from UsersTmp A
Cross Apply FnAttendance_hierarchy_ToGetLogin(UserOLID,UserDPID,UserDNID,UserODDID,@FromDate,@ToDate,@ContactID, '1,2,3,4,5,6,7,8,9') B  
Left Outer Join Employee e with (nolock) on e.ContactID=b.ContactID
Left Outer Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=e.ODLDID
Left Outer Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeID=odld.OfficeID and ola.LocationID=odld.LocationID
left join Users u on u.ContactID=a.UserContactID


GO
