USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_NewFundRequistionWeeklyHeading]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_NewFundRequistionWeeklyHeading]
(
    @Week1_From DateTime,@Week1_To DateTime,
    @Week2_From DateTime,@Week2_To DateTime,
    @Week3_From DateTime,@Week3_To DateTime,
    @Week4_From DateTime,@Week4_To DateTime
)


--Declare @Week1_From DateTime select @Week1_From = '2025-6-01'
--Declare @Week1_To DateTime select @Week1_To = '2025-6-07'
--Declare @Week2_From DateTime select @Week2_From = '2025-6-08'
--Declare @Week2_To DateTime select @Week2_To = '2025-6-14'
--Declare @Week3_From DateTime select @Week3_From = '2025-6-15'
--Declare @Week3_To DateTime select @Week3_To = '2025-6-21'
--Declare @Week4_From DateTime select @Week4_From = '2025-6-22'
--Declare @Week4_To DateTime select @Week4_To = '2025-6-30' 
RETURNS TABLE
AS
RETURN
(
select LOCATIONCODE,officelocationallocationid OLID from 
(SELECT ColumnName, LocationCodee
FROM (
    SELECT C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,X,Y,Z,D111,E111,F111,G111,H111,I111,J111,K111,L111
    FROM Fn_FundRequistionWeeklyHeading(@Week1_From,@Week1_To,@Week2_From,@Week2_To,@Week3_From,@Week3_To,@Week4_From,@Week4_To)--Fn_FundRequistionWeeklyHeading('2025-6-01','2025-6-07','2025-6-08','2025-6-14','2025-6-15','2025-6-21','2025-6-22','2025-6-30')
) AS source_table
UNPIVOT (
    LocationCodee FOR ColumnName
 IN (
        C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,X,Y,Z,D111,E111,F111,G111,H111,I111,J111,K111,L111
    )
) AS unpivoted
) as LC inner join locationcode LCC on lc.locationcodee=lcc.locationcode inner join officelocationallocation ola 
on ola.officeid=lcc.officeid and ola.locationid=lcc.locationid
);
GO
