USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSROtherAdditions]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSROtherAdditions](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS Table AS
RETURN 	(


--Declare @OLID Int select @OLID = 0
--Declare @YearID Int select @YearID = 0
--Declare @MonthID Int select @MonthID = 0
--Declare @ContactID Int select @ContactID = 0





select sra.* from ( 
select ScaleRegisterID,ODLDID,SalaryOtherAdditionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select SRA.ScaleRegisterID, SRA.ODLDID, SRA.SalaryOtherAdditionID, SRA.Amount as TobePaidAmount,0 as PaidAmount, SRA.Amount
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn1 inner join ScaleRegisterOtherAdditions SRA with(nolock) on sra.ScaleRegisterID=fn1.ScaleRegisterID
where isnull( SRA.Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,SalaryAdditionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID 
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr inner join ScaleRegisterWithdrawals srw with(nolock) on srw.ScaleRegisterID=sr.ScaleregisterID ) as SRW
inner join ScaleRegisterOtherAdditionWithdrawals srlw with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,ODLDID,SalaryOtherAdditionID
) as SRA 

inner join ( 
select ScaleRegisterID,SalaryOtherAdditionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select sra.ScaleRegisterID,sra.ODLDID,sra.SalaryOtherAdditionID,sra.Amount as TobePaidAmount,0 as PaidAmount,sra.Amount
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) fn1 inner join ScaleRegisterOtherAdditions sra with(nolock) on sra.ScaleRegisterID=fn1.ScaleRegisterID
where isnull(sra.Amount,0)<>0

union all
select srw.ScaleRegisterID,isnull(srlw.ODLDID,srw.ODLDID) as ODLDID,SalaryAdditionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID 
from FnETLSRID(@OLID,@YearID,@MonthID,@ContactID) sr inner join ScaleRegisterWithdrawals srw with(nolock) on srw.ScaleRegisterID=sr.ScaleregisterID ) as SRW 
inner join ScaleRegisterOtherAdditionWithdrawals srlw with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
) as A Group By ScaleRegisterID,SalaryOtherAdditionID
Having Round(Round(Sum(isnull(Amount,0)),2),0) <> 0
) as SRA1 on sra1.ScaleRegisterID=sra.ScaleRegisterID and sra1.SalaryOtherAdditionID=sra.SalaryOtherAdditionID


);
GO
