USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnOLID1]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnOLID1](@OLID int)
RETURNS varchar(100) AS  
BEGIN
	

Declare @OLID1 int select @OLID1=@OLID
Declare @OLID2 varchar(MAX)


RETURN @OLID2
END;

GO
