USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSR]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSR]()
RETURNS Table AS
RETURN 	(

select distinct sr.ScaleregisterID,sr.OLID,sr.ContactID,sr.SalaryYear as YearID,sr.SalaryMonth as MonthID,datename(month,sr.StartingDate) as MonthDesc
,isnull(sr.NetPayments,0) as NetPayable,srb.ODLDID,sr.StartingDate,sr.EndingDate,sr.BillRegisterNo as BRNo,sr.BillRegisterDate as BRDate,sr.CreatedOn
from Scaleregister sr
left outer join ScaleregisterBasicPayDetails srb on srb.Scaleregisterid=sr.Scaleregisterid
and srb.StartingDate in (select max(srb1.StartingDate) from ScaleregisterBasicPayDetails srb1 where srb1.Scaleregisterid=srb.Scaleregisterid and srb1.ODLDID is not null group by srb1.Scaleregisterid)
and srb.Amount in (select max(srb1.Amount) from ScaleregisterBasicPayDetails srb1 where srb1.Scaleregisterid=srb.Scaleregisterid and srb1.ODLDID is not null group by srb1.Scaleregisterid) 
where sr.ScaleRegisterID in (select max(sr1.ScaleregisterID) from scaleregister sr1 where sr1.OLID=sr.OLID and sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.HeldUp,0)=0 and isnull(sr1.Suppliment,0)=0 and isnull(sr1.Generated,0)=1 group by sr1.OLID,sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth)
and isnull(sr.HeldUp,0)=0 and isnull(sr.Suppliment,0)=0 and isnull(sr.Generated,0)=1


);
GO
