USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CollectionJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Function [dbo].[fn_CollectionJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

--declare @olid int = 412 
--declare @yr int = 2022 
--declare @month int = 9 


select AccHead,(case when Debit<0 then 0 else Debit end) Debit,(case when Debit<0 then -Debit else Credit end) Credit
,Description,(case when Debit<0 then 'Credit' else 'Debit' end) Type from (
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.Revenue_Total) Debit,0 Credit,sb.Description Description,'Debit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid ) dr
cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='47.609' ) sb
inner join DCBRevenueDetails db with (nolock) on dr.DCBRevenueID=db.DCBRevenueID 
left join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
where isnull(dd.Revenue_Total,0)<>0 
group by sb.MainAccountCode+sb.SubAccountCode+'7',sb.Description 
) A 
union all 
select AccHead,(case when Credit<0 then -Credit else Debit end) Debit,(case when Credit<0 then 0 else Credit end) Credit
,Description,(case when Credit<0 then 'Debit' else 'Credit' end) Type from (
select db.BalanceAccountCode Collate Database_Default+Cast(vc.VoltageClassID as Varchar(10)) AccHead,0 Debit,sum(isnull(dd.Revenue_Total,0)) Credit,sb.Description,'Credit' Type 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr  and dr.olid<>@olid ) dr
inner join DCBRevenueDetails db with (nolock) on dr.DCBRevenueID=db.DCBRevenueID 
inner join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID and isnull(dd.Revenue_Total,0)<>0 
left join VoltageClass vc with (nolock) on vc.VoltageClassID=db.VoltageClassID 
left join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode=db.BalanceAccountCode Collate Database_Default 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
group by db.BalanceAccountCode Collate Database_Default+Cast(vc.VoltageClassID as Varchar(10)),sb.Description
) A 

GO
