USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnLeaves]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnLeaves](@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @YearID Int select @YearID = 2015 
--Declare @MonthID Int select @MonthID = 4 
--Declare @ContactID Int select @ContactID = 1848 

select ContactID,LeaveTypeID,DaysOfDate,MaxNo as Days,cast(Paid as Int) as FullPaid,(case when LeaveTypeID=2 then 1 else 0 end) as HalfPaid from ( 
select * ,(Row_Number() over (Partition By ContactID,DaysOfDate Order By ContactID,DaysOfDate,Paid,Approvable desc,(case when LeaveTypeID=2 then 0 else LeaveTypeID end))) as MaxNo from ( 
select ContactID,el.LeaveTypeID,FromDate,ToDate,isnull(Paid,0) as Paid,isnull(Approvable,0) as Approvable 
from EmployeeLeaveDetails el with(nolock) 
left outer join LeaveTypes lt with(nolock) on lt.LeaveTypeID=el.LeaveTypeID 
where Approved=1 and isnull(Cancel,0)=0 and el.LeaveTypeID not in (4,12,17,19,20) and LeaveTransactionTypeID=1 
and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
) as ELD inner Join FnDate(@YearID,@MonthID) d on d.DaysOfDate Between FromDate and ToDate 
) as A where MaxNo=1 

);
GO
