USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[getDeductionsForJVarrears]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getDeductionsForJVarrears](@ContactID int,@OLID int,@EndDate varchar(10))
returns table
as return (
select  ScaleRegisterOtherDeductions.ScaleRegisterID, ScaleRegisterOtherDeductions.SalaryOtherDeductionID ,
ScaleRegisterOtherDeductions.Amount as Amount   
from ScaleRegisterOtherDeductions 
where ScaleRegisterOtherDeductions.ScaleRegisterID in (
Select ScaleRegisterID   from scaleregister where endingdate<@EndDate and OLID=@OLID and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) 
and contactid=@ContactID )
union ALl
select ScaleRegisterID,SRAW.SalaryDeductionOthersID,(-SRAW.Amount) from ScaleRegisterOtherDeductionWithdrawals SRAW,ScaleRegisterWithdrawals 
where ScaleRegisterID in (
Select ScaleRegisterID   from scaleregister where endingdate<@EndDate and OLID=@OLID and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) 
and contactid=@ContactID )
and  SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID );
GO
