USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnWH]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnWH](@YearID Int,@MonthID Int,@ContactID Int)

RETURNS Table AS
RETURN 	(


--Declare @YearID Int select @YearID = 2015
--Declare @MonthID Int select @MonthID = 4
--Declare @ContactID Int select @ContactID = 2056 ;


With WOD (ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,One,Two,Three,Four,Five) as (
select ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,One,Two,Three 
,Left(WOD3,(case when PATINDEX('%,%',WOD3)=0 then WOD3 else PATINDEX('%,%',WOD3)-1 end)) as Four,SUBSTRING(WOD3,PATINDEX('%,%',WOD3)+1,50) as Five
from ( select *,Left(WOD2,(case when PATINDEX('%,%',WOD2)=0 then WOD2 else PATINDEX('%,%',WOD2)-1 end)) as Three,SUBSTRING(WOD2,PATINDEX('%,%',WOD2)+1,50) as WOD3
from ( select * ,Left(WOD,(case when PATINDEX('%,%',WOD)=0 then WOD else PATINDEX('%,%',WOD)-1 end)) as Two,SUBSTRING(WOD,PATINDEX('%,%',WOD)+1,50) as WOD2
from ( select ContactID,WeeklyOffDate as WeeklyOffDate,EffectiveFromDate,EffectiveToDate
,Left(WeeklyOffDate,(case when PATINDEX('%,%',WeeklyOffDate)=0 then WeeklyOffDate else PATINDEX('%,%',WeeklyOffDate)-1 end)) as One
,SUBSTRING(WeeklyOffDate,PATINDEX('%,%',WeeklyOffDate)+1,50) as WOD from EmployeeWeeklyOffDetails where EffectiveFromDate is not NULL and isnull(WeeklyOffDay,0)=0 
and (case when @ContactID=0 then 0 else ContactID end)=@ContactID

) as A ) as A ) as A ) , WOD1 (ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,Days) as (
select ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,One from WOD union 
select ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,Two from WOD union 
select ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,Three from WOD union 
select ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,Four from WOD union 
select ContactID,WeeklyOffDate,EffectiveFromDate,EffectiveToDate,Five from WOD

) select ContactID,DatePart(w,DaysOfDate) as WeeklyOffDay,DaysOfDate,'WH' as LeaveCode from WOD1
inner Join FnDate(@YearID,@MonthID) d on d.DaysOfDate Between EffectiveFromDate and isnull(EffectiveToDate,EndDate) and Day(DaysOfDate)=wod1.Days
union
select ContactID,WeeklyOffDay,DaysOfDate,'WH' as LeaveCode from ( 
select ContactID,WeeklyOffDay,WeeklyOffDate,EffectiveFromDate,EffectiveToDate
from EmployeeWeeklyOffDetails where EffectiveFromDate is not NULL and isnull(WeeklyOffDay,0)<>0
and (case when @ContactID=0 then 0 else ContactID end)=@ContactID ) as A
inner Join FnDate(@YearID,@MonthID) d on d.DaysOfDate Between EffectiveFromDate and isnull(EffectiveToDate,EndDate) and DatePart(w,DaysOfDate)=WeeklyOffDay
union
select ContactID,DatePart(w,DaysOfDate) as WeeklyOffDay,DaysOfDate,'WH' as LeaveCode
from ( select ContactID from Contacts where ContactID not in (select ContactID from EmployeeWeeklyOffDetails ) and ContactID in (select ContactID from Employee)
and (case when @ContactID=0 then 0 else ContactID end)=@ContactID ) as A
inner Join FnDate(@YearID,@MonthID) on DatePart(w,DaysOfDate)=1
union
select ContactID,WeeklyOffDay,DaysOfDate,'SS' as LeaveCode
from ( select ContactID,DatePart(w,DaysOfDate) as WeeklyOffDay,DaysOfDate,(Row_Number() over (Partition By ContactID Order By ContactID,DaysOfDate)) as MaxNo
from ( select ContactID from Contacts where ContactID in (select ContactID from Employee) and (case when @ContactID=0 then 0 else ContactID end)=@ContactID ) as A
inner Join FnDate(@YearID,@MonthID) on DatePart(w,DaysOfDate)=7 ) as A where MaxNo=2

--Order By ContactID,DaysOfDate

);
GO
