USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[ODDID]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ODDID](@param1 int, @param2 int, @param3 int) RETURNS int 








AS
BEGIN
  DECLARE @ret int
  SET @ret = NULL

  RETURN @ret
END;
GO
