USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRIDLive]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSRIDLive](@FromYear Int,@ToYear Int,@AcOLID Int,@InChargeOLID Int)
RETURNS Table AS
RETURN 	(



--Declare @FromYear Int select @FromYear = 2014
--Declare @ToYear Int select @ToYear = 2015
--Declare @AcOLID Int select @AcOLID = 341
--Declare @InChargeOLID Int select @InChargeOLID = 1



select sr.ScaleregisterID,OLID,ContactID,SalaryYear,SalaryMonth,sr.StartingDate,sr.EndingDate,Suppliment,Legacy,BillRegisterNo,isnull(BillRegisterDate,Today) as BillRegisterDate
,isnull(sr.Bonus,0) as Bonus,isnull(sr.TotalBasicPay,0) as BasicPay,isnull(sr.TotalAdditions,0) as Additions,isnull(sr.SpecialPayment,0) as PersionalPay,isnull(sr.TotalDeductions,0) as Deductions,isnull(sr.RecoveryAmount,0) as Recovery,isnull(sr.NetPayments,0) as NetPay
,isnull(srw.Bonus,0) as BonusW,isnull(srw.TotalBasicPay,0) as BasicPayW,isnull(srw.TotalAdditions,0) as AdditionsW,isnull(srw.SpecialPayment,0) as PersionalPayW,isnull(srw.TotalDeductions,0) as DeductionsW,isnull(srw.RecoveryAmount,0) as RecoveryW,isnull(srw.NetPayments,0) as NetPayW

from ScaleRegister sr Cross Join FnETLToday(@ToYear,3)
left outer join ScaleRegisterWithdrawals srw on srw.ScaleRegisterID=sr.ScaleRegisterID
left outer join ( select oldi.OfficeLocationAllocationID as InchargeOLID,old.OfficeLocationAllocationID as AcOLID from OfficeLocationDepartmentInchargeAllocation oldi
inner join OfficeLocationDepartmentAllocation old on old.OfficeLocationDepartmentAllocationID = oldi.OfficeLocationDepartmentInchargeAllocationID 
where OfficeDepartmentAllocationID in ( select OfficeDepartmentAllocationID  from OfficeDepartmentAllocation where DepartmentID = 175 )
) as IOL on iol.AcOLID=@AcOLID

where Generated=1 and isnull(HeldUp,0)=0 --and OLID<>0 and BillRegisterNo not like '-%' 
and OLID in (@AcOLID,(Case when @InChargeOLID<>0 then InChargeOLID else -1 end))
and isnull(BillRegisterDate,Today) Between StartingFyYear and EndingFyYear

);

GO
