USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[create_SQL_string]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[create_SQL_string](@sql nvarchar(max))
returns nvarchar(max)
with execute as caller
as begin
	declare @out_sql nvarchar(max)
	return 'select AllowanceID from '+@sql+'Allowances'
end;

GO
