USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DCBCollectionSchedules]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_DCBCollectionSchedules](@olid int,@month int,@yr int) RETURNS Table AS Return 

select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.Revenue_Total) Debit 
from (select * from DCBRevenue dr with (nolock) where dr.Month=@month and dr.Year=@yr and dr.olid<>@olid) dr
inner join DCBRevenueDetails db with (nolock) on db.DCBRevenueID=dr.DCBRevenueID
left join DCBCollectionDetails dd with (nolock) on dd.DCBRevenueDetailsID=db.DCBRevenueDetailsID 
left join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='47.609') sb
where isnull(dd.Revenue_Total,0)<>0
group by sb.MainAccountCode+sb.SubAccountCode+'7';
GO
