USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_PNI_ETL_Activity1]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create FUNCTION [dbo].[Fn_PNI_ETL_Activity1](@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN (

--Declare @FromDate DateTime = '2023-04-01' 
--Declare @ToDate DateTime = '2023-07-27' ;



with Data1 as (
select * from (
select  ActivityID,DocumentNo,DateAndTime,StatusID  
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from ActivityApprovals_pni with(nolock) where ActivityID in (125) and isnull(DocumentNo,0)>0 and DateAndTime>='2023-04-01' 
and StatusID=1 and isnull(NextApproverContactID,0)=0 
and DateAndTime>=@FromDate and DateAndTime<@ToDate  
) A where MaxNo=1 
) 

select ActivityID,a.DocumentNo ActivityDocumentNo,a.DateAndTime,StatusID,DocumentTypeID,a1.DocumentNo From Data1 A 
Inner Join DocumentStatusUpdate_pni A1 with(nolock) on a1.DocumentStatusUpdateId=a.DocumentNo and Approved=1
and DocumentTypeID in (1,12,14,20,80,81) 
--Order By DocumentTypeID,DocumentNo  

)

GO
