USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRD1]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSRD1]()
RETURNS Table AS
RETURN 	(

With SR (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select sr.ScaleregisterID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.StartingDate,sr.EndingDate,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn
from Scaleregister sr 
left outer join Scaleregister sr1 on sr1.ContactID=sr.ContactID and isnull(sr1.BillRegisterNo,0)=isnull(sr.BillRegisterNo,0) 
and convert(datetime,(cast(sr1.SalaryYear as varchar(4))+'-'+cast(sr1.SalaryMonth as varchar(2))+'-01'))>convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))
where sr1.ScaleregisterID is NULL 

), SR1 (ScaleregisterID,ContactID,SalaryMonth,SalaryYear,StartingDate,EndingDate,OLID,AnnualIncrementDate,Bonus,Attendance,TotalBasicPay,TotalAdditions,TotalDeductions,NetPayments,SpecialPayment,RecoveryAmount,Generated,Suppliment,HeldUp,BillRegisterNo,BillRegisterOLID,BillRegisterDate,CreatedOn) as (
select sr.ScaleregisterID,sr.ContactID,sr.SalaryMonth,sr.SalaryYear,sr.StartingDate,sr.EndingDate,sr.OLID,sr.AnnualIncrementDate,sr.Bonus,sr.Attendance,sr.TotalBasicPay,sr.TotalAdditions,sr.TotalDeductions,sr.NetPayments,sr.SpecialPayment,sr.RecoveryAmount,sr.Generated,sr.Suppliment,sr.HeldUp,sr.BillRegisterNo,sr.BillRegisterOLID,sr.BillRegisterDate,sr.CreatedOn
from SR sr
where sr.ScaleregisterID in (select max(sr1.ScaleregisterID) from SR sr1 where sr1.ContactID=sr.ContactID and sr1.SalaryYear=sr.SalaryYear and sr1.SalaryMonth=sr.SalaryMonth and isnull(sr1.Generated,0)=1 and isnull(sr1.HeldUp,0)<>1 and isnull(sr1.Suppliment,0)<>1 group by sr1.ContactID,sr1.SalaryYear,sr1.SalaryMonth)
and isnull(sr.Generated,0)=1 and isnull(sr.HeldUp,0)<>1 and isnull(sr.Suppliment,0)<>1


), SRD (Scaleregisterid,OLID,ContactID,YearID,MonthID,MonthDesc,TypeID,Types,TypesID,Amount,BankID,BranchID,ExternalRRNo,AType,ATypeID) as (
	select distinct sr.Scaleregisterid,sr.OLID,sr.ContactID,sr.Salaryyear as YearID,sr.SalaryMonth as MonthID,DateName(Month,sr.StartingDate) as MonthDesc,srd.TypeID,srd.Types,srd.TypesID,srd.Amount,srd.BankID,srd.BranchID,srd.ExternalRRNo,srd.AType,srd.ATypeID
	from SR1 sr
	inner join (	
	select distinct srbp.Scaleregisterid,1 as TypeID,'BP' as Types,1 as TypesID,round(round(sum(isnull(srbp.Amount,0)),2),0) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,'A' as AType,1 as ATypeID
	from Scaleregisterbasicpaydetails srbp 	Group by srbp.Scaleregisterid having round(round(sum(isnull(srbp.Amount,0)),2),0)<>0
	union all		
	select distinct sra.Scaleregisterid,sra.AllowanceID as TypeID,'AL' as Types,2 as TypesID,round(round(sum(isnull(sra.Amount,0)),2),0) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,'A' as AType,1 as ATypeID
	from scaleregisterallowances sra Group by sra.Scaleregisterid,sra.AllowanceID having round(round(sum(isnull(sra.Amount,0)),2),0)<>0
	union all		
	select distinct sroa.Scaleregisterid,sroa.SalaryOtherAdditionID TypeID,'CPC' as Types,3 as TypesID,round(round(sum(isnull(sroa.Amount,0)),2),0) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,'A' as AType,1 as ATypeID
	from ScaleRegisterOtherAdditions sroa Group by sroa.Scaleregisterid,sroa.SalaryOtherAdditionID having round(round(sum(isnull(sroa.Amount,0)),2),0)<>0
	union all		
	select distinct sod.Scaleregisterid,sod.SalaryOtherDeductionID as TypeID,'OD' as Types,4 as TypesID,round(round(sum(isnull(sod.Amount,0)),2),0) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,'D' as AType,2 as ATypeID
	from ScaleRegisterOtherDeductions sod Group by  sod.Scaleregisterid,sod.SalaryOtherDeductionID having round(round(sum(isnull(sod.Amount,0)),2),0)<>0
	union all		
	select distinct srla.Scaleregisterid,srla.LoanandAdvanceID as TypeID,'LA' as Types,5 as TypesID,round(round(sum(isnull(srla.Amount,0)),2),0) as Amount,srla.ExternalOrganisationid as BankID,srla.ExternalOrganisationBranchID as BranchID,srla.ExternalRRNo,'D' as AType,2 as ATypeID
	from ScaleRegisterLoansandAdvances srla Group By srla.Scaleregisterid,srla.LoanandAdvanceID,srla.ExternalOrganisationid,srla.ExternalOrganisationBranchID,srla.ExternalRRNo having round(round(sum(isnull(srla.Amount,0)),2),0)<>0
	union all		
	select distinct srr.Scaleregisterid,srr.ScheduleTypeID as TypeID,'RC' as Types,6 as TypesID,round(round(sum(isnull(srr.Amount,0)),2),0) as Amount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,'D' as AType,2 as ATypeID
	from ScaleregisterRecovery srr Group by srr.Scaleregisterid,srr.ScheduleTypeID having round(round(sum(isnull(srr.Amount,0)),2),0)<>0
	) as SRD on srd.ScaleregisterID=sr.ScaleregisterID	)



select * ,Isnull(isnull(isnull(
(case when ATypeID=1 and TypesID=1 then '01' else 
case when ATypeID=1 and TypesID=2 and TypeID=20 then '02' else 
case when ATypeID=1 and TypesID=2 and TypeID=1 then '03' else 
case when ATypeID=1 and TypesID=3 and TypeID=13 then '04' else 
case when ATypeID=1 and TypesID=2 and TypeID=2 then '05' else 
case when ATypeID=1 and TypesID=2 and TypeID=21 then '06' else 
case when ATypeID=1 and TypesID=2 and TypeID=3 then '07' else 
case when ATypeID=1 and TypesID=2 and TypeID not in (1,2,3,20,21) then '08' else 
case when ATypeID=2 and TypesID=5 and TypeID in (17,18) and BankID<>86 then '10' else 
case when ATypeID=2 and TypesID=4 and TypeID=2 then '11' else NULL end end end end end end end end end end)

,(case when ATypeID=2 and TypesID=4 and TypeID=3 then '12' else 
case when ATypeID=2 and TypesID=5 and TypeID=21 then '13' else 
case when ATypeID=2 and TypesID=5 and TypeID=20 then '14' else 
case when ATypeID=2 and TypesID=5 and TypeID=23 then '15' else 
case when ATypeID=2 and TypesID=4 and TypeID=11 then '16' else 
case when ATypeID=2 and TypesID=6 and TypeID=44 then '17' else 
case when ATypeID=2 and TypesID=4 and TypeID=10 then '18' else 
case when ATypeID=2 and TypesID=4 and TypeID=15 then '19' else 
case when ATypeID=2 and TypesID=4 and TypeID=20 then '20' else 
case when ATypeID=2 and TypesID=4 and TypeID=21 then '21' else NULL end end end end end end end end end end))

,(case when ATypeID=2 and TypesID=5 and TypeID in (1,4) then '22' else 
case when ATypeID=2 and TypesID=5 and TypeID=2 then '23' else 
case when ATypeID=2 and TypesID=5 and TypeID=15 then '24' else 
case when ATypeID=2 and TypesID=5 and TypeID in (17,18) and BankID=86 then '24' else 
case when ATypeID=2 and TypesID=5 and TypeID in (16,24) then '25' else 
case when ATypeID=2 and TypesID=4 and TypeID=17 then '26' else 
case when ATypeID=2 and TypesID=4 and TypeID=13 then '27' else 
case when ATypeID=2 and TypesID=6 and TypeID<>44 then '28' else 
case when ATypeID=2 and TypesID=4 and TypeID=14 then '29' else 
case when ATypeID=2 and TypesID=5 and TypeID=3 then '30' else NULL end end end end end end end end end end))

,(case when ATypeID=2 and TypesID=5 and TypeID=7 then '31' else 
case when ATypeID=2 and TypesID=5 and TypeID=11 then '32' else 
case when ATypeID=2 and TypesID=5 and TypeID=5 then '33' else 
case when ATypeID=2 and TypesID=5 and TypeID=6 then '34' else 
case when ATypeID=2 and TypesID=5 and TypeID not in (17,18,21,20,23,1,4,2,15,16,24,3,7,11,5,6,9) then '35' else 
case when ATypeID=2 and TypesID=4 and TypeID not in (2,3,11,10,15,20,21,17,13,14,22,23,18,19) then '36' else 
NULL end end end end end end)) as Ordering
					
,isnull(isnull(isnull(
(case when ATypeID=1 and TypesID=1 then 'Basic Pay' else 
case when ATypeID=1 and TypesID=2 and TypeID=20 then 'MDA' else 
case when ATypeID=1 and TypesID=2 and TypeID=1 then 'DA' else 
case when ATypeID=1 and TypesID=3 and TypeID=13 then 'CPC' else 
case when ATypeID=1 and TypesID=2 and TypeID=2 then 'HRA' else 
case when ATypeID=1 and TypesID=2 and TypeID=21 then 'Interim Relief' else 
case when ATypeID=1 and TypesID=2 and TypeID=3 then 'CCA' else 
case when ATypeID=1 and TypesID=2 and TypeID not in (1,2,3,20,21) then 'Other Allowance' else 
case when ATypeID=2 and TypesID=5 and TypeID in (17,18) and BankID<>86 then 'Insurance' else 
case when ATypeID=2 and TypesID=4 and TypeID=2 then 'IT' else NULL end end end end end end end end end end)

,(case when ATypeID=2 and TypesID=4 and TypeID=3 then 'PT' else 
case when ATypeID=2 and TypesID=5 and TypeID=21 then 'Union' else 
case when ATypeID=2 and TypesID=5 and TypeID=20 then 'Society' else 
case when ATypeID=2 and TypesID=5 and TypeID=23 then 'Associ ation' else 
case when ATypeID=2 and TypesID=4 and TypeID=11 then 'FBF' else 
case when ATypeID=2 and TypesID=6 and TypeID=44 then 'FA' else 
case when ATypeID=2 and TypesID=4 and TypeID=10 then 'HRA Others' else 
case when ATypeID=2 and TypesID=4 and TypeID=15 then 'WC Others' else 
case when ATypeID=2 and TypesID=4 and TypeID=20 then 'HRA Mescom' else 
case when ATypeID=2 and TypesID=4 and TypeID=21 then 'WC Mescom' else NULL end end end end end end end end end end))
	 		 
,(case when ATypeID=2 and TypesID=5 and TypeID in (1,4) then 'Housing Loan' else 
case when ATypeID=2 and TypesID=5 and TypeID=2 then 'Vehicle Loan' else 
case when ATypeID=2 and TypesID=5 and TypeID=15 then 'RD' else 
case when ATypeID=2 and TypesID=5 and TypeID in (17,18) and BankID=86 then 'PLI' else 
case when ATypeID=2 and TypesID=5 and TypeID in (16,24) then 'Group Insurance' else 
case when ATypeID=2 and TypesID=4 and TypeID=17 then 'CPC' else 
case when ATypeID=2 and TypesID=4 and TypeID=13 then 'EPC' else 
case when ATypeID=2 and TypesID=6 and TypeID<>44 then 'Recovery' else 
case when ATypeID=2 and TypesID=4 and TypeID=14 then 'SWF' else 
case when ATypeID=2 and TypesID=5 and TypeID=3 then 'Marrage Advance' else NULL end end end end end end end end end end))
		  
,(case when ATypeID=2 and TypesID=5 and TypeID=7 then 'Advance Pay' else 
case when ATypeID=2 and TypesID=5 and TypeID=11 then 'Other Advance' else 
case when ATypeID=2 and TypesID=5 and TypeID=5 then 'SWH Purchase' else 
case when ATypeID=2 and TypesID=5 and TypeID=6 then 'Comp Purchase' else 
case when ATypeID=2 and TypesID=5 and TypeID not in (17,18,21,20,23,1,4,2,15,16,24,3,7,11,5,6,9) then 'Other L&A' else 
case when ATypeID=2 and TypesID=4 and TypeID not in (2,3,11,10,15,20,21,17,13,14,22,23,18,19) then 'Other Deduction' else 
NULL end end end end end end)) as SalaryTypes,Row_Number() over (Partition by ContactID,YearID,MonthID order by ContactID,YearID,MonthID ) as SlNo

from SRD  


);
GO
