USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[getDeductionsForJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getDeductionsForJV](@ScaleRegisterID int)
returns table
as return (
select ScaleRegisterID,SalaryOtherDeductionID,Sum(Amount) as amount from
(select ScaleRegisterOtherDeductions.ScaleRegisterID, ScaleRegisterOtherDeductions.SalaryOtherDeductionID ,
Round(Round(sum(isnull(ScaleRegisterOtherDeductions.Amount,0)),2),0) as Amount
from ScaleRegisterOtherDeductions
where ScaleRegisterOtherDeductions.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterOtherDeductions.ScaleRegisterID, ScaleRegisterOtherDeductions.SalaryOtherDeductionID
having Round(Round(sum(isnull(ScaleRegisterOtherDeductions.Amount,0)),2),0)<>0
union all
select ScaleRegisterID,SRAW.SalaryDeductionOthersID,(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) from ScaleRegisterOtherDeductionWithdrawals SRAW,ScaleRegisterWithdrawals
where ScaleRegisterID =@ScaleRegisterID
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.SalaryDeductionOthersID
having (-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) <>0)as Arrears
 group by ScaleRegisterID,SalaryOtherDeductionID having sum(Amount)<>0 );
GO
