USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetActivitywiseLoginDetails]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetActivitywiseLoginDetails] (@AcOLID Int,@OLID Int,@DPID Int,@ActivityID Int)

RETURNS Table AS 


RETURN (



--Declare @AcOLID Int select @AcOLID = 344
--Declare @OLID Int select @OLID = 0
--Declare @DPID Int select @DPID = 0
--Declare @ActivityID Int select @ActivityID = 248


select a.*,isnull(b.Description,'') EmployeeCategory,(case when daa.ODDID is not NULL and [Create]=1 then 'YES' else '' end) NewPermission,(case when daa.ODDID is not NULL and [View]=1 then 'YES' else '' end) OpenPermission,(case when ad.ApproverODDID is not NULL then 'YES' else '' end) FinalApproval from (
select distinct a.*,isnull(ap.Description,'Regular') Working from (
select AcOLID,OLID,OfficeID,LocationID,DepartmentID,DesignationID,ODLDID,ODDID,DivisionName,OfficeName,LocationName,DepartmentName,DesignationName,ContactID,EmployeeName,UserName
from ALLDetails with (nolock) where ContactID is not NULL and AcOLID= @AcOLID and (case when @OLID=0 then 0 else OLID end)=@OLID and (case when @DPID=0 then 0 else DepartmentID end)=@DPID ) A
Left Outer Join EmployeeAppointmentDetails B with (nolock) on b.ContactID=a.ContactID and b.ToODLDID=a.ODLDID and b.AppointmentTypeID in (8,23,46,47) and Approved=1 and Reported=1 and isnull(Legacy,0)=0
Left Outer Join AppointmentTypes_Config AP with (nolock) on ap.AppointmentTypeID=b.AppointmentTypeID
union
select AcOLID,OLID,b.OfficeID,b.LocationID,b.DepartmentID,b.DesignationID,ODLDID,OfficeDepartmentDesignationAllocationID ODDID,ola.Fileas DivisionName,OfficeName,LocationName,DepartmentName,DesignationName,a.ContactID,ct.Fileas EmployeeName,UserName,isnull(ap.Description,'') Working
from ( select distinct ContactID,ToODLDID,isnull(EmployeecategoryID,1) CategoryID,AppointmentTypeID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and isnull(Legacy,0)=0
and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) A Inner Join ODLDAllocation B with (nolock) on b.ODLDID=a.ToODLDID and (case when @DPID=0 then 0 else b.DepartmentID end)=@DPID
Inner Join Office O with (nolock) on o.OfficeID=b.OfficeID
Inner Join Location L with (nolock) on l.LocationID=b.LocationID
Inner Join Department DP with (nolock) on dp.DepartmentID=b.DepartmentID
Inner Join Designation DN with (nolock) on dn.DesignationID=b.DesignationID
Inner Join OfficeLocationAccountingUnitDetails OL with (nolock) on ol.OfficeID=b.OfficeID and ol.LocationID=b.LocationID and AcOLID= @AcOLID and (case when @OLID=0 then 0 else OLID end)=@OLID
Inner Join OfficeLocationAllocation OLA with (nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Inner Join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=b.OfficeID and od.DepartmentID=b.DepartmentID
Inner Join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=b.DesignationID
Inner Join AppointmentTypes_Config AP with (nolock) on ap.AppointmentTypeID=a.AppointmentTypeID
Inner Join Contacts CT with (nolock) on ct.ContactID=a.ContactID
Left Outer Join Users U with (nolock) on u.ContactID=a.ContactID
) A Inner Join Employee E with (nolock) on e.ContactID=a.ContactID
Inner Join EmployeeCategories B with (nolock) on b.EmployeeCategoryID=isnull(e.EmployeeCategoryID,1)
Inner Join DesignationHierarchyOrder_Config DNO with (nolock) on dno.DesignationID=a.DesignationID
Left Outer Join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID,[Create],[View],[Modify] from DesignationActivityAllocation with (nolock) where ActivityID= @ActivityID ) as DAA on isnull(daa.ODDID,0)=a.ODDID
Left outer Join ApprovalDetails AD with (nolock) on ad.ApproverODDID=a.ODDID and ad.ActivityID=@ActivityID

--Order By OLID,DepartmentID,OrderNo,DesignationID,EmployeeName






)
GO
