USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetHistory_Hrms]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetHistory_Hrms](@ContactID int,@ValidUpto Datetime)
RETURNS @History TABLE
(contactid int , ODLDID int, PRIMARY KEY(contactid,ODLDID))
AS
BEGIN
INSERT INTO @History


select ContactID,ODLDID from(
 (select ContactID,FieldValue as ODLDID ,row_number() over(partition by contactid order by ValidUpTo asc,EmployeeHistoryID desc ) as RowNum  
  from EmployeeHistory_HRMS   where FieldName = 'ODLDID'  and ValidUpto >=@ValidUpto)) as Temp where ContactID=@ContactID and RowNum=1

RETURN
END;
GO
