USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetFundRequisitionTaxtDetails]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[FnGetFundRequisitionTaxtDetails](@FundReqNo int)

RETURNS Table AS 
RETURN (

--Declare @FundReqNo Int  = 14574


select concat(year(FundRequisitionDate),'-',year(DATEADD(year,1,FundRequisitionDate))) FinancialYear,X.* from ( 
select TaxFr.Acc+' ' +sa.Description AccHead,isnull(F.Description,TaxFr.Description) Description,SUM(BAmt)  TotalTaxAmount from ( 

select distinct frds.Description,FR.BillRegisterNo from ( 
select FundRequisitionNo,BillRegisterNo,BillAmount,FundRequisitionSubTypeID 
from FundRequisitionDetails FRD with (nolock) where frd.FundRequisitionNo= @FundReqNo 
and frd.BillRegisterNo not in (select distinct isnull(DoucmentNo,0) from JournalVoucher j with (nolock) where isnull(DocumentTypeID,0)=29 and isnull(j.DoucmentNo,0)=frd.BillRegisterNo) 
) FRD inner join (select BillRegisterNo,max(BillAmount) BAmt from FundRequisitionDetails with (nolock) where FundRequisitionNo= @FundReqNo group by BillRegisterNo ) FR on FR.BillRegisterNo=FRD.BillRegisterNo and FR.BAmt=FRD.BillAmount 
inner join FundRequisitionSubTypes_Accounts frds with (nolock) on frds.FundRequisitionSubTypeID=FRD.FundRequisitionSubTypeID 
union  
select distinct frds.description,frd.BillRegisterNo from ( 
select distinct FundRequisitionNo,BillRegisterNo,FundRequisitionSubTypeID,MainAccountCode,SubAccountCode 
from FundRequisitionDetails frd with (nolock) where frd.FundRequisitionNo= @FundReqNo 
and frd.BillRegisterNo in (select isnull(DoucmentNo,0) from JournalVoucher j with (nolock) where isnull(DocumentTypeID,0)=29 and isnull(j.DoucmentNo,0)=frd.BillRegisterNo) 
) FRD inner join FundRequisitionSubTypes_Accounts frds with (nolock) on frds.FundRequisitionSubTypeID=FRD.FundRequisitionSubTypeID 
cross apply ( select * from JournalVoucher j with (nolock) where isnull(j.DocumentTypeID,0)=29 and j.Approved=1 and isnull(j.DoucmentNo,0)=frd.BillRegisterNo ) inner_jv
cross apply ( Select * from ( 
select inner_jvd.JournalVoucherNo,inner_jvd.FromMainAccountCode collate database_default+inner_jvd.FromSubAccountCode collate database_default Acc
,rank() over( partition by inner_jv.JournalVoucherNo order by inner_jv.JournalVoucherNo,autogenid) Rn 
from JournalVoucherDetails inner_jvd with (nolock) 
where inner_jvd.FromMainAccountCode<>'' and inner_jvd.FromMainAccountCode not like '28.%' and inner_jvd.JournalVoucherNo=inner_jv.JournalVoucherNo 
) x WHERE x.Rn=1 and x.Acc=frd.MainAccountCode collate database_default+frd.SubAccountCode collate database_default ) jv 
union 
select distinct frds.Description,FR.BillRegisterNo from ( 
select FundRequisitionNo,BillRegisterNo,BillAmount,FundRequisitionSubTypeID from FundRequisitionDetails FRD with (nolock) where frd.FundRequisitionNo= @FundReqNo 
and frd.BillRegisterNo in (select isnull(DoucmentNo,0) from JournalVoucher j with (nolock) where isnull(DocumentTypeID,0)=29 and isnull(j.DoucmentNo,0)=frd.BillRegisterNo) 
) FRD inner join (select BillRegisterNo,max(BillAmount) BAmt from FundRequisitionDetails with (nolock) where FundRequisitionNo= @FundReqNo group by BillRegisterNo) FR on FR.BillRegisterNo=FRD.BillRegisterNo and FR.BAmt=FRD.BillAmount 
inner join FundRequisitionSubTypes_Accounts frds with (nolock) on frds.FundRequisitionSubTypeID=FRD.FundRequisitionSubTypeID 
inner join BillRegisterNoInvoiceTypeAllocation brita with (nolock) on brita.BillRegisterNo=FRD.BillRegisterNo and brita.InvoiceTypeid=1 

) F 
right join ( select frds.FundRequisitionSubTypeID,concat(i.Description collate database_default,' Bills') Description,MainAccountCode collate database_default+SubAccountCode collate database_default Acc,frd.BillRegisterNo,sum(BillAmount) BAmt from ( 
select FundRequisitionNo,BillRegisterNo,BillAmount,FundRequisitionSubTypeID,MainAccountCode,SubAccountCode 
from FundRequisitionDetails frd with (nolock) where FundRequisitionNo= @FundReqNo and MainAccountCode+SubAccountCode in ('46.986','46.987','46.988','76.107','76.109') 
) FRD inner join FundRequisitionSubTypes_Accounts frds with (nolock) on frds.FundRequisitionSubTypeID=FRD.FundRequisitionSubTypeID 
left outer join BillRegisterNoInvoiceTypeAllocation b with (nolock) on b.BillRegisterNo=frd.BillRegisterNo 
left outer join InvoiceTypes i with (nolock) on i.InvoiceTypeID=b.InvoiceTypeID 
group by MainAccountCode collate database_default+SubAccountCode collate database_default,frd.BillRegisterNo,frds.FundRequisitionSubTypeID,i.Description 
) TaxFr on TaxFr.BillRegisterNo=F.BillRegisterNo 

inner join SubAccount sa with (nolock) on sa.MainAccountCode collate database_default+SubAccountCode collate database_default=TaxFr.Acc 
group by TaxFr.Acc,sa.Description,isnull(F.Description,TaxFr.Description )
) X cross join ( Select FundRequisitionDate from FundRequisition with (nolock) where FundRequisitionNo= @FundReqNo ) t 
 

 )


GO
