USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnPersonalPay]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnPersonalPay](@YearID Int,@MonthID Int,@ContactID Int)

RETURNS Table AS
RETURN 	(

--Declare @YearID Int select @YearID = 2015
--Declare @MonthID Int select @MonthID = 4
--Declare @ContactID Int select @ContactID = 0




select ContactID,DaysOfDate,38 as AllowanceID,Amount as Rates,'Amount' as RateMode,cast((cast(Amount as Numeric(19,4)) / Day(EndDate)) as Numeric(19,14)) as AmountPerDay
from ( select ContactID,EmployeePayTypeID,EffectiveDate,CurrentPay,ModifiedValue,(isnull(ModifiedValue,0)-isnull(CurrentPay,0)) as Amount
,(Row_Number() over (Partition By ContactID,EmployeePayTypeID Order By ContactID,EmployeePayTypeID,EffectiveDate desc,EmployeePayDetailsID desc)) as MaxNo
from EmployeePayDetails where Approved=1 and isnull(Cancel,0)=0 and EmployeePayTypeID in (6,13) and (case when @ContactID=0 then 0 else ContactID end)=@ContactID) as A 
inner join FnDate(@YearID,@MonthID) D on d.DaysOfDate Between EffectiveDate and EndDate
where MaxNo=1


);
GO
