USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnBudgetReport1]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnBudgetReport1] (@FinancialYear varchar(50),@OLID Int)

RETURNS Table AS 
RETURN 	(


--Declare @FinancialYear varchar(50) select @FinancialYear = '2015-2016'
--Declare @OLID Int select @OLID = 340



select AcOLID,a.*,bgmt.Description as MainTypes,(Row_Number() over (Partition By BudgetGrantID Order By BudgetGrantID,Date)) as MaxNo from ( 
select distinct ('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantID,bg.BudgetGrantOLID as OLID,bg.BudgetGrantTypeID,bg.YearFrom,bg.YearTo,bgd.MonthFrom,bgd.MonthTo,bgd.InitialAmount as Debits,0 as Credits,bgd.ExtendedDate as Date,bc.BudgetControlID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID
,1 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,bgt.Description as BudgetGrantTypes,FromOLID,ToOLID,BudgetGrantMainTypeID
from BudgetGrant bg
inner join BudgetGrantDetails bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and (isnull(bgd.InitialAmount,0)+isnull(bgd.ExtendedAmount,0)) not in (0)  
and FromOLID=337 and ToOLID not in (337,338,339,340,604,605)
union all
select distinct  ('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantID,bg.BudgetGrantOLID as OLID,bg.BudgetGrantTypeID,bg.YearFrom,bg.YearTo,bgd.MonthFrom,bgd.MonthTo,bgd.Amount as Debits,0 as Credits,bgd.Date,bc.BudgetControlID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID
,1 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,bgt.Description as BudgetGrantTypes,FromOLID,ToOLID,BudgetGrantMainTypeID
from BudgetGrant bg
inner join BudgetGrantExtension bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.Amount,0) not in (0) 
and FromOLID=337 and ToOLID not in (337,338,339,340,604,605)
union all
select distinct ('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantID,bg.BudgetGrantOLID as OLID,bg.BudgetGrantTypeID,bg.YearFrom,bg.YearTo,bgd.MonthFrom,bgd.MonthTo,bgd.InitialAmount as Debits,0 as Credits,bgd.ExtendedDate as Date,bc.BudgetControlID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID
,2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,bgt.Description as BudgetGrantTypes,FromOLID,ToOLID,BudgetGrantMainTypeID
from BudgetGrant bg
inner join BudgetGrantDetails bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and (isnull(bgd.InitialAmount,0)+isnull(bgd.ExtendedAmount,0)) not in (0)  
and FromOLID not in (0,337) and ToOLID not in (337,338,339,340,604,605)
union all
select distinct  ('Received From '+isnull(ola.FileAs,'')) as Particulars,bg.BudgetGrantID,bg.BudgetGrantOLID as OLID,bg.BudgetGrantTypeID,bg.YearFrom,bg.YearTo,bgd.MonthFrom,bgd.MonthTo,bgd.Amount as Debits,0 as Credits,bgd.Date,bc.BudgetControlID,isnull(UnderBudgetGrantTypeID,bg.BudgetGrantTypeID) as UnderBudgetGrantTypeID
,2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,bgt.Description as BudgetGrantTypes,FromOLID,ToOLID,BudgetGrantMainTypeID
from BudgetGrant bg
inner join BudgetGrantExtension bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=FromOLID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bg.BudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.Amount,0) not in (0) 
and FromOLID not in (0,337) and ToOLID not in (337,338,339,340,604,605)
union all
select distinct ('Transfered To '+ltrim((isnull(bga.FromMainAccountCode,'')+isnull(bga.FromSubAccountCode,'')))) as Particulars,bg.BudgetGrantID,bg.BudgetGrantOLID as OLID,bgd.ToBudgetGrantTypeID,bg.YearFrom,bg.YearTo,bgd.MonthFrom,bgd.MonthTo,0 as Debits,bgd.TransferedBalance as Credits,bgd.BudgetGrantTransferDate,bc.BudgetControlID,isnull(bgd.FromBudgetGrantTypeID,UnderBudgetGrantTypeID) as UnderBudgetGrantTypeID
, 2 as Ordering,(case when UnderBudgetGrantTypeID is NULL then 1 else 2 end) as Ordered,bgt.Description as BudgetGrantTypes,bgd.BudgetGrantOLID as FromOLID,0 as ToOLID,BudgetGrantMainTypeID
from BudgetGrant bg
inner join BudgetGrantTransfer bgd on bgd.BudgetGrantID=bg.BudgetGrantID and bgd.BudgetGrantOLID=bg.BudgetGrantOLID and bgd.FromBudgetGrantTypeid=bg.BudgetGrantTypeid and Approved=1 and isnull(Cancelled,0)=0
inner join BudgetControl bc on bc.BudgetGrantID=bgd.BudgetGrantID and bc.BudgetGrantOLID=bgd.BudgetGrantOLID and bc.MonthFrom=bgd.MonthFrom and bc.MonthTo=bgd.MonthTo
left outer join BudgetTypeAccountHeadAllocation bga on bga.BudgetGrantTypeID=bgd.ToBudgetGrantTypeID
left outer join BudgetGrantTypes bgt on bgt.BudgetGrantTypeID=bgd.ToBudgetGrantTypeID
where (cast(YearFrom as varchar(4))+'-'+cast(YearTo as varchar(50))) = @FinancialYear and isnull(bgd.BudgetGrantOLID,0) not in (337,338,339,340,604,605)

) as A inner join FnUnderOL() ol on ol.OLID=a.OLID
left outer join BudgetGrantMainTypes bgmt on bgmt.BudgetGrantMainTypeid=a.BudgetGrantMainTypeID
where (CircleOLID = @OLID or ZonalOLID=@OLID or CorporateOLID=@OLID) and (Debits+Credits)<>0 
and bgmt.BudgetGrantMainTypeID=1


);
GO
