USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAttendance_hierarchy_ToGetLogin]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAttendance_hierarchy_ToGetLogin] (@OLID Int,@DPID Int,@DNID Int,@ODDID Int,@FromDate DateTime,@ToDate DateTime,@ContactID Int,@Category Varchar(50))

RETURNS Table AS 
RETURN 



--Declare @OLID Int select @OLID = 337

--Declare @DPID Int select @DPID = 159

--Declare @DNID Int select @DNID = 228

--Declare @ODDID Int select @ODDID = 589

--Declare @FromDate DateTime select @FromDate = '2020-12-16'

--Declare @ToDate DateTime select @ToDate = '2021-01-15'

--Declare @ContactID Int select @ContactID = 2447

--Declare @Category Varchar(50) select @Category ='1'



--;

With Perm (ODLDID,ContactID,ODDID,OLID,OrderNo,DepartmentID,Ordered1,Ordered) as (	
select distinct odld.ODLDID,e.ContactID,ODDID,OLID,o.OrderNo,odld.DepartmentID 
,(dense_rank() over (Partition By OLID Order By ol.OrderNo,SubDivisionOLID,OLID,odld.DepartmentID )) as  Ordered1  
,(dense_rank() over (Partition By OLID Order By ol.OrderNo,SubDivisionOLID,OLID,odld.DepartmentID,o.OrderNo,odld.DesignationID)) as  Ordered
from ( select * from OfficeLocationAccountingUnitDetails where ( OLID=@OLID or SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID )) as OL
inner join ODLDAllocation ODLD with (nolock) on odld.OfficeID=ol.OfficeID and odld.LocationID=ol.LocationID
and odld.DesignationID in (228,229,231,234,324,297,254,240,242,236,238,226,243,224,227,326,318,251,232,219,252,250,230,301,241,225,315,327,220)
inner join ( select distinct ContactID,ODLDID,EmployeeCategoryID from (
select e.ContactID,e.ODLDID,EmployeeCategoryID from Employee e with (nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
union select distinct ContactID,ToODLDID,isnull(EmployeecategoryID,1) from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and isnull(legacy,0)=0 and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) as A  ) as E on e.ODLDID=odld.ODLDID
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID and (isnull(od.UnderDepartmentID,od.DepartmentID)=@DPID or od.DepartmentID=@DPID)
inner join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
inner join ( select egd.DesignationID,EmployeeGradeID,(Dense_Rank() over (Order By EMployeeGradeID,OrderNo)) as OrderNo from EmployeeGradeDesignationAllocation EGD with (nolock) inner join DesignationHierarchyOrder_Config DO with (nolock) on do.DesignationID=egd.DesignationID ) as O on o.DesignationID=odld.DesignationID
inner join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID from DesignationActivityAllocation with (nolock) where ActivityID=390 and [Create]=1  ) as DAA on isnull(daa.ODDID,0)=odd.OfficeDepartmentDesignationAllocationID
where AcOLID in (select distinct AcOLID from OfficeLocationAccountingUnitDetails OL1 where OLID=@OLID and ol1.AcOLID=ol.AcOLID)
and ContactID in(Select ContactID from Users with(nolock))

) , Attend (AcOLID,OLID,OfficeLocation,ODLDID,OLDID,ODID,ODDID,OfficeID,LocationID,DesignationID,DepartmentID,UnderDPID,Permission,OrderNo,EmployeeCategoryID,EmployeeGradeID,ContactID,Ordered1,Ordered) as (
select AcOLID,OL.OLID,OfficeLocation,odld.ODLDID,OfficeLocationDepartmentAllocationID as OLDID,odd.OfficeDepartmentAllocationID as ODID,odd.OfficeDepartmentDesignationAllocationID as ODDID,odld.OfficeID,odld.LocationID,odld.DesignationID,odld.DepartmentID,isnull(od.UnderDepartmentID,od.DepartmentID) as UnderDPID
,(case when u.ContactID is NULL then NULL else p.ODDID end) as Permission,o.OrderNo,EmployeeCategoryID,EmployeeGradeID,e.ContactID
,(dense_rank() over (Partition By OL.OLID Order By ol.OrderNo,SubDivisionOLID,OL.OLID,odld.DepartmentID )) as  Ordered1  
,(dense_rank() over (Partition By OL.OLID Order By ol.OrderNo,SubDivisionOLID,OL.OLID,odld.DepartmentID,o.OrderNo,odld.DesignationID)) as  Ordered from ( 

select * from OfficeLocationAccountingUnitDetails where ( OLID=@OLID or SubDivisionOLID=@OLID or DivisionOLID=@OLID or CircleOLID=@OLID or ZonalOLID=@OLID or CorporateOLID=@OLID )) as OL
inner join ODLDAllocation ODLD with (nolock) on odld.OfficeID=ol.OfficeID and odld.LocationID=ol.LocationID
inner join ( select distinct ContactID,ODLDID,EmployeeCategoryID from (
select e.ContactID,e.ODLDID,EmployeeCategoryID from Employee e with (nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 
--and ContactID not in (select distinct ContactID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (43) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0  )
 
union select a.ContactID,FieldValue,EmployeeCategoryID from ( select distinct ContactID,FieldValue from EmployeeHistory_HRMS A with (nolock) where FieldName='ODLDID' and ValidupTo Between @FromDate and @ToDate 
) A Inner Join Employee B with (nolock) on b.ContactID=a.ContactID

--union select distinct ContactID,ToODLDID,isnull(EmployeecategoryID,1) from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (43) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
--and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) as A  ) as E on e.ODLDID=odld.ODLDID
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID and (isnull(od.UnderDepartmentID,od.DepartmentID)=@DPID or od.DepartmentID=@DPID)
inner join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
inner join OfficeLocationDepartmentAllocation OLD with (nolock) on old.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and old.OfficeLocationAllocationID=ol.OLID
left outer join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID from DesignationActivityAllocation with (nolock) where ActivityID=390 and [Create]=1) as DAA on isnull(daa.ODDID,0)=odd.OfficeDepartmentDesignationAllocationID
inner join ( select egd.DesignationID,EmployeeGradeID,(Dense_Rank() over (Order By EMployeeGradeID,OrderNo)) as OrderNo from EmployeeGradeDesignationAllocation EGD with (nolock) inner join DesignationHierarchyOrder_Config DO with (nolock) on do.DesignationID=egd.DesignationID ) as O on o.DesignationID=odld.DesignationID
left outer join Perm P on p.ContactID=e.ContactID and p.ODLDID=odld.ODLDID
left outer join Users U with (nolock) on u.ContactID=e.ContactID
where AcOLID in (select distinct AcOLID from OfficeLocationAccountingUnitDetails OL1 where OLID=@OLID and ol1.AcOLID=ol.AcOLID)
and isnull((case when u.ContactID is NULL then NULL else daa.ODDID end),0) in ( select 0 union
select distinct OfficeDepartmentDesignationAllocationID ODDID from Employee A with (nolock) Inner Join ODLDAllocation B on b.ODLDID=a.ODLDID
Inner Join OfficeDepartmentALlocation C on c.OfficeID=b.OfficeID and c.DepartmentID=b.DepartmentID
Inner Join OfficeDepartmentDesignationAllocation D on d.OfficeDepartmentALlocationID=c.OfficeDepartmentALlocationID and d.DesignationID=b.designationID
where isnull(a.ODLDID,0)!=0 and isnull(Retired,0)=0 and isnull(EmployeeStatusID,0) not in (3,4,6,7,9,12,14,15,16,20,21) )

) , Charge (ContactID,Types,ODDID,OrderNo) as (
select ContactID,Types,OfficeDepartmentDesignationAllocationID ODDID,OrderNo from ( 
select distinct ContactID,'C' as Types,ToODLDID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) A Inner Join ODLDAllocation ODLD with (nolock) on odld.ODLDID=a.ToODLDID
inner join OfficeDepartmentAllocation OD with (nolock) on od.OfficeID=odld.OfficeID and od.DepartmentID=odld.DepartmentID 
inner join OfficeDepartmentDesignationAllocation ODD with (nolock) on odd.OfficeDepartmentAllocationID=od.OfficeDepartmentAllocationID and odd.DesignationID=odld.DesignationID
inner join ( select egd.DesignationID,EmployeeGradeID,(Dense_Rank() over (Order By EMployeeGradeID,OrderNo)) as OrderNo from EmployeeGradeDesignationAllocation EGD with (nolock) inner join DesignationHierarchyOrder_Config DO with (nolock) on do.DesignationID=egd.DesignationID ) as O on o.DesignationID=odld.DesignationID

) , APODD (AODDID) as (
select * from (
select distinct Max(ApproverODDID) AODDID from (select OfficeDepartmentAllocationID from (select distinct OfficeID from OfficeLocationAllocation with (nolock) where OfficeLocationAllocationID=@OLID) as A
inner join OfficeDepartmentAllocation B with (nolock) on b.DepartmentID=@DPID) as A
inner join OfficeDepartmentDesignationAllocation B with (nolock) on b.OfficeDepartmentAllocationID=a.OfficeDepartmentAllocationID and DesignationID=@DNID
inner join (select distinct ApproverODDID from ApprovalDetails with (nolock) where ActivityID in (560) ) as C on c.ApproverODDID=b.OfficeDepartmentDesignationAllocationID 
union all
select b.OfficeDepartmentDesignationAllocationID from (select OfficeDepartmentAllocationID from (select distinct OfficeID from OfficeLocationAllocation with (nolock) where OfficeLocationAllocationID=@OLID) as A
inner join OfficeDepartmentAllocation B with (nolock) on b.DepartmentID=@DPID and b.OfficeID=80 and b.DepartmentID=179) as A
inner join OfficeDepartmentDesignationAllocation B with (nolock) on b.OfficeDepartmentAllocationID=a.OfficeDepartmentAllocationID and DesignationID=@DNID
) as A where AODDID is not NULL

) , Filter1 (OLID,OrderNo,Ordered1,Ordered,Permission,MaxNo,SlNo,SlNo1) as (
select *,(Row_Number() over (Partition By OLID,Ordered1 Order By OLID,Ordered1,OrderNo )) as SlNo,(Row_Number() over (Partition By OLID,Ordered1 Order By OLID,Ordered1,OrderNo desc )) as SlNo1 from (
select *,(Row_Number() over (Partition By OLID,OrderNo,Ordered1 Order By OLID,OrderNo,Ordered1,Ordered desc)) as MaxNo  from (
select OLID,OrderNo,Ordered1,Ordered,Permission from Attend where Permission is not NULL union
--select OLID,OrderNo,Ordered1,Ordered,ODDID Permission from Perm union
select OLID,OrderNo,Ordered1,Ordered,ODDID from Perm where  (case when @ODDID=764 then 764 else ODDID end)=@ODDID ) A 
) as A where (case when (Permission in (1237) or MaxNo=1) then 1 else MaxNo end)=1

) , Filter2 (OLID,OrderNo,Ordered1,Ordered,Permission,DepartmentID,MaxNo,SlNo) as (
select *,(Row_Number() over (Partition By OLID,Ordered1 Order By OLID,Ordered1,OrderNo)) as SlNo from (
select *,(Row_Number() over (Partition By OLID,OrderNo Order By OLID,OrderNo,Ordered1,Ordered desc)) as MaxNo  from (
select OLID,OrderNo,Ordered1,Ordered,Permission,DepartmentID from Attend where Permission is not NULL union 
--select OLID,OrderNo,Ordered1,Ordered,ODDID Permission,DepartmentID from Perm union
select OLID,OrderNo,Ordered1,Ordered,ODDID,DepartmentID from Perm where  (case when @ODDID=764 then 764 else ODDID end)=@ODDID ) A   
) as A where (case when (Permission in (1237) or MaxNo=1) then 1 else MaxNo end)=1
)



select distinct (case when isnull(ODDID1,0)=isnull(Permission1,0) then ODDID1 else AODDID end) AODDID,ODDID1,Types,MaxNo,AcOLID,OLID,OfficeLocation,ODLDID,ODDID,OLDID,ODID,OfficeID,LocationID,a.DesignationID,a.DepartmentID,UnderDPID,EmployeeCategoryID,EmployeeGradeID,OrderNo,Ordered1,Ordered,Permission,(case when isnull(ODDID1,0)=isnull(Permission1,0) then NULL else Permission1 end) Permission1,a.ContactID,ct.Fileas ContactName,(dn.DesignationName+' ('+dp.DepartmentCode+')') as Designation from (
select * from (
select a.*,(Row_Number() over (Partition By a.OLID,a.ContactID Order By a.OLID,a.ContactID,a.Ordered1,a.Ordered desc,isnull(a.SlNo1,0))) as MaxNo,Types,b.ODDID ODDID1 from (  
select distinct a.*,isnull(b.Permission,b1.Permission) as Permission1,b.SlNo,b.SlNo1
from (select a.*,isnull(c.OrderNo,a.OrderNo) OrderNo1 from Attend A Left Outer Join Charge C on c.ContactID=a.ContactID ) A
Full join Filter1 B on isnull(b.OLID,0)=isnull(a.OLID,0) and isnull(b.Ordered1,0)=isnull(a.Ordered1,0) and isnull(b.OrderNo,0)<isnull(a.OrderNo1,0) and isnull(b.Ordered,0)<=isnull(a.Ordered,0)
Full join Filter2 B1 on isnull(b1.OLID,0)=isnull(a.OLID,0) and isnull(b1.OrderNo,0)<isnull(a.OrderNo1,0) and b1.DepartmentID=a.UnderDPID
) as A Left Outer Join Charge B on b.ContactID=a.ContactID
--left outer join OfficeDepartmentDesignationAllocation B1 with(nolock) on b1.OfficeDepartmentDesignationAllocationID=Permission1 ----- cid 2447
--left outer join OfficeDepartmentDesignationAllocation B2 with(nolock) on b2.OfficeDepartmentDesignationAllocationID=b.ODDID ----- cid 2447
where (case when AcOLID is NULL then 0 else 1 end)=1  and a.ContactID = @ContactID
--and isnull(b1.DesignationID,1)!=isnull(b2.DesignationID,0) ----- cid 2447
) A Full join APODD F on isnull(f.AODDID,0)>0 
where AcOLID is not NULL and isnull(ODDID1,0)!=@ODDID and  (case when isnull(Permission1,0) =1237 then 1 else MaxNo end)=1 
and OrderNo> ( select OrderNo from ( select egd.DesignationID,(Dense_Rank() over (Order By EmployeeGradeID,OrderNo)) as OrderNo from EmployeeGradeDesignationAllocation EGD with (nolock) inner join DesignationHierarchyOrder_Config DO with (nolock) on do.DesignationID=egd.DesignationID ) as A where DesignationID=@DNID )
and isnull((case when isnull(ODDID1,0)=isnull(Permission1,0) then NULL else Permission1 end),0) in ((case when (case when isnull(ODDID1,0)=isnull(Permission1,0)  then ODDID1 else AODDID end)=0 then 1 else 0 end),@ODDID)

) as A inner join Contacts ct with (nolock) on ct.ContactID=a.ContactID
inner join Designation dn with (nolock) on dn.DesignationID=a.DesignationID
inner join Department dp with (nolock) on dp.DepartmentID=a.DepartmentID
left outer join ( select Distinct ContactID from EmployeeAppointmentDetails with (nolock) where Approved=1 and Reported=1 and isnull(Regularised,0)=0 and isnull(legacy,0)=0 and  AppointmentTypeID in (1,26) ) as PP on pp.ContactID=a.ContactID
where (case when EmployeeCategoryID in (9,2,6,8) then 1 else (case when pp.ContactID is not NULL then 1 else case when EmployeeGradeID not in (1,2) then 1 else 0 end end) end)=1
and EmployeeCategoryID in (select EmployeeCategoryID from EmployeeCategories EC with (nolock) where ec.EmployeeCategoryID=a.EmployeeCategoryID and isnull(EmployeeCategoryID,0) in (select * from Split(@Category,',')) );
GO
