USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_JoinDate]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[Fn_JoinDate] (@FromDate DateTime,@ToDate DateTime,@ContactID int) RETURNS Table AS Return (


--Declare @FromDate DateTime = '2023-01-01' 
--Declare @ToDate DateTime = '2023-01-31' 
--Declare @ContactID Int = 12676  



select *,(case when JoinDate>= '2006-04-01' then 2 else 1 end) CPC,(case when JoinDate>=@FromDate and Day(JoinDate)!=1 then 0 else 1 end) NotCalCPC 
,(case when JoinDate<=(select convert(datetime,concat((case when Month(@FromDate) in (1,2,3) then Year(@FromDate)-1 else Year(@FromDate) end),'-04-01'))) then 1 else 0 end) NotCalWA from (
	select (case when ltrim(rtrim(right(isnull(ReportedTime,ReportedDate),8))) like '%AM%' then FORMAT(isnull(ReportedTime,ReportedDate),'yyyy-MM-dd') else dateadd(day,1,FORMAT(isnull(ReportedTime,ReportedDate),'yyyy-MM-dd')) end) JoinDate 
	,ContactID,AppointmentTypeID from (
	select * ,(Row_Number() over (Partition By ContactID Order By ContactID,EmployeeAppointmentDetailsID desc)) MaxNo 
	from EmployeeAppointmentDetails E with(nolock) where Approved=1 and Reported=1 and isnull(EmployeeCategoryID,0)=1 and AppointmentTypeID in (1,26)  
	and e.ContactID=@ContactID ) A where MaxNo = 1 
) A 

)

GO
