USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDPID]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnDPID](@OID bigint,@DPID bigint)
RETURNS Table AS
RETURN 	(

With DPID (OfficeID,A,B,C,D,E,F,G,H,I,J) as (
select Distinct od.OfficeID,od.DepartmentID as '1',od1.DepartmentID as '2',od2.DepartmentID as '3',od3.DepartmentID as '4'
,od4.DepartmentID as '5',od5.DepartmentID as '6',od6.DepartmentID as '7',od7.DepartmentID as '8',od8.DepartmentID as '9',od9.DepartmentID as '10'
from OfficeDepartmentAllocation od
left outer join OfficeDepartmentAllocation od1 on od1.UnderDepartmentID=od.DepartmentID and od1.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od2 on od2.UnderDepartmentID=od1.DepartmentID and od2.OfficeID=od.OfficeID 
left outer join OfficeDepartmentAllocation od3 on od3.UnderDepartmentID=od2.DepartmentID and od3.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od4 on od4.UnderDepartmentID=od3.DepartmentID and od4.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od5 on od5.UnderDepartmentID=od4.DepartmentID and od5.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od6 on od6.UnderDepartmentID=od5.DepartmentID and od6.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od7 on od7.UnderDepartmentID=od6.DepartmentID and od7.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od8 on od8.UnderDepartmentID=od7.DepartmentID and od8.OfficeID=od.OfficeID
left outer join OfficeDepartmentAllocation od9 on od9.UnderDepartmentID=od8.DepartmentID and od9.OfficeID=od.OfficeID
where od.OfficeID in (@OID) and od.Departmentid in (@DPID)

) 
select * from (
select Distinct OfficeID,A as DPID,1 as SlNo from DPID union all
select Distinct OfficeID,B as DPID,2 as SlNo from DPID union all
select Distinct OfficeID,C as DPID,3 as SlNo from DPID union all
select Distinct OfficeID,D as DPID,4 as SlNo from DPID union all
select Distinct OfficeID,E as DPID,5 as SlNo from DPID union all
select Distinct OfficeID,F as DPID,6 as SlNo from DPID union all
select Distinct OfficeID,G as DPID,7 as SlNo from DPID union all
select Distinct OfficeID,H as DPID,8 as SlNo from DPID union all
select Distinct OfficeID,I as DPID,9 as SlNo from DPID union all
select Distinct OfficeID,J as DPID,10 as SlNo from DPID 
) as DP where DPID is not null 

);
GO
