USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[getcoalesce]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getcoalesce]
(

)
RETURNS NVARCHAR(2000)
AS
BEGIN
	
	DECLARE @LoanAndAdvanceColumns NVARCHAR(2000)

	
	SELECT @LoanAndAdvanceColumns= COALESCE(@LoanAndAdvanceColumns+',['+Ex.Name+']','['+Ex.Name+']')
	from (
	SELECT  Distinct(EO.Name +''+EOB.Name ) as Name FROM EmployeeLoanAndAdvance ELA,.ExternalOrganisations EO, 
					   ExternalOrganisationBranches EOB,ScaleRegisterLoansAndAdvances SRLA,ScaleRegister SR
					      WHERE EO.ExternalOrganisationID =ELA.ExternalOrganisationID 
					      AND ELA.ExternalOrganisationBranchID=EOB.ExternalOrganisationBranchID
					      AND EOB.ExternalOrganisationID=EO.ExternalOrganisationID
					      AND SRLA.ScaleRegisterID=SR.ScaleRegisterID
					      AND SRLA.LoanAndAdvanceID=ELA.LoanAndAdvanceID
					      AND SR.ContactID=ELA.ContactID
					      ) Ex
						  
						  

	
	RETURN @LoanAndAdvanceColumns

END;
GO
