USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Works_ETL_Activity]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE FUNCTION [dbo].[Fn_Works_ETL_Activity](@FromDate DateTime,@ToDate DateTime) RETURNS Table AS RETURN ( 

--Declare @FromDate DateTime = '2023-04-01' 
--Declare @ToDate DateTime = '2023-07-27' 


select ActivityID,DocumentNo,DateAndTime,StatusID from (
select  ActivityID,DocumentNo,DateAndTime,StatusID  
,(Row_Number() over (Partition By ActivityID,DocumentNo Order By ActivityID,DocumentNo,DateAndTime desc,ActivityApprovalID desc)) MaxNo
from ActivityApprovals_Works with(nolock) where ActivityID in (649,650,133,134,295,357,386,126,264,455,74,29) and isnull(DocumentNo,0)>0 and DateAndTime>='2020-04-01' 
and isnull(NextApproverContactID,0)=0 
and DateAndTime>=@FromDate and DateAndTime<@ToDate  
) A where MaxNo=1 and StatusID in (1) 

) 
GO
