USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRWDNew]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSRWDNew](@FromDate varchar(12),@ToDate varchar(12))
RETURNS Table AS
RETURN 	(





select wd.TypesID,srw.ScaleregisterID,wd.TypeID,isnull(-wd.Amount,0) as Amount
from ScaleRegisterWithdrawals srw inner join ScaleRegister sr on sr.ScaleRegisterID=srw.ScaleRegisterId
and convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01'))>=@FromDate
and (DateAdd(Month,1,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-01')))-1)<=@Todate

left outer join (
select 1 as TypesID,ScaleregisterWithDrawalID,1 as TypeID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterBasicPayWithdrawals
group by ScaleregisterWithDrawalID having round(sum(isnull(Amount,0)),0)<>0 union all
select 2 as TypesID,ScaleregisterWithDrawalID,AllowanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterAllowanceWithdrawals 
group by ScaleregisterWithDrawalID,AllowanceID having round(sum(isnull(Amount,0)),0)<>0 union all
select 3 as TypesID,ScaleregisterWithDrawalID,SalaryAdditionOthersID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterOtherAdditionWithdrawals
group by ScaleregisterWithDrawalID,SalaryAdditionOthersID having round(sum(isnull(Amount,0)),0)<>0 union all
select 4 as TypesID,ScaleregisterWithDrawalID,SalaryDeductionOthersID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterOtherDeductionWithdrawals 
group by ScaleregisterWithDrawalID,SalaryDeductionOthersID having round(sum(isnull(Amount,0)),0)<>0 union all
select 5 as TypesID,ScaleregisterWithDrawalID,LoanAndAdvanceID as ID,round(sum(isnull(Amount,0)),0) as Amount from ScaleRegisterLoanandAdvanceWithdrawals 
group by ScaleregisterWithDrawalID,LoanAndAdvanceID having round(sum(isnull(Amount,0)),0)<>0
) as WD on wd.ScaleregisterWithDrawalID=srw.ScaleregisterWithDrawalID where Amount<>0

);

GO
