USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnUnderOL_backup]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnUnderOL_backup]()
RETURNS Table AS
RETURN 	(



With A (OrderNo,OLID,HeirarchyOLID,OfficeLocation,UnderOLID) as (
select 1 as OrderNo,OfficeLocationAllocationID,OfficeLocationAllocationID,Fileas,UnderOfficeLocationAllocationID from OfficeLocationAllocation with (nolock)
union all
select OrderNo+1 as OrderNo,ola.OfficeLocationAllocationID,HeirarchyOLID,a.OfficeLocation,UnderOfficeLocationAllocationID from OfficeLocationAllocation ola with (nolock) 
inner join A on a.UnderOLID=ola.OfficeLocationAllocationID 

), B (OrderNo,AcUnit,OLID,OfficeLocation,SubDivisionOLID,DivisionOLID,DivisionOLID1,CircleOLID,ZonalOLID,CorporateOLID,OfficeID,LocationID) as (
select a.OrderNo,(case when o.OfficeID is not NULL then 1 else 0 end) as AcUnit,a.HeirarchyOLID as OLID,a.OfficeLocation
,(case when OrderNo=5 then a.HeirarchyOLID else case when OrderNo in (6,7) then ola.UnderOfficeLocationAllocationID else 0 end end) as SubDivisionOLID
,(case when OrderNo=4 then a.HeirarchyOLID else case when OrderNo=5 then ola.UnderOfficeLocationAllocationID else case when OrderNo in (6,7) then ola1.UnderOfficeLocationAllocationID else 0 end end end) as DivisionOLID
,(case when OrderNo=4 then a.HeirarchyOLID else case when OrderNo=5 then ola.UnderOfficeLocationAllocationID else case when OrderNo=6 then ola1.UnderOfficeLocationAllocationID else case when OrderNo=7 then ola2.UnderOfficeLocationAllocationID else 0 end end end end) as DivisionOLID1
,(case when OrderNo=3 then a.HeirarchyOLID else case when OrderNo=4 then ola.UnderOfficeLocationAllocationID else case when OrderNo=5 then ola1.UnderOfficeLocationAllocationID else case when OrderNo=6 then ola2.UnderOfficeLocationAllocationID else case when OrderNo=7 then ola3.UnderOfficeLocationAllocationID else 0 end end end end end) as CircleOLID
,(case when OrderNo=2 then a.HeirarchyOLID else case when OrderNo=3 then ola.UnderOfficeLocationAllocationID else case when OrderNo=4 then ola1.UnderOfficeLocationAllocationID else case when OrderNo=5 then ola2.UnderOfficeLocationAllocationID else case when OrderNo=6 then ola3.UnderOfficeLocationAllocationID else case when OrderNo=7 then ola4.UnderOfficeLocationAllocationID else 0 end end end end end end) as ZonalOLID
,a.OLID as CorporateOLID,ola.OfficeID,ola.LocationID  from A 
left outer join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=a.HeirarchyOLID
left outer join OfficeLocationAllocation ola1 with (nolock) on ola1.OfficeLocationAllocationID=ola.UnderOfficeLocationAllocationID
left outer join OfficeLocationAllocation ola2 with (nolock) on ola2.OfficeLocationAllocationID=ola1.UnderOfficeLocationAllocationID
left outer join OfficeLocationAllocation ola3 with (nolock) on ola3.OfficeLocationAllocationID=ola2.UnderOfficeLocationAllocationID
left outer join OfficeLocationAllocation ola4 with (nolock) on ola4.OfficeLocationAllocationID=ola3.UnderOfficeLocationAllocationID
left outer join ( select OfficeTypeProjectAllocationID as OfficeID from OfficeTypes ot with (nolock) inner join OfficeTypeProjectAllocation otp with (nolock) on otp.OfficeTypeID=ot.OfficeTypeID where Accounts = 1 ) as O on o.OfficeID=ola.OfficeID
where a.OLID = 337  )

select OrderNo,b.AcUnit,isnull(isnull(isnull(isnull(b1.OLID,b4.OLID),b2.OLID),b3.OLID),b.OLID) as AcOLID
,b.OfficeID,LocationID,b.OLID,OfficeLocation,(case when B.OfficeID in (94,103,105,107,110,111,113) then 0 when b.OfficeID in (57,58,80,95,108,114) then b.OLID else SubDivisionOLID end) SubDivisionOLID
,DivisionOLID,(case when B.OfficeID=85 then 0 else CircleOLID end) as CircleOLID,ZonalOLID,CorporateOLID 
--,b.OLID,b1.OLID,b2.OLID,b3.OLID,b4.OLID 
from B left join (select DIvisionOLID OLID,OfficeID from B where OfficeID=94) B4 on B4.OLID=b.DivisionOLID1 
left outer join ( select OLID from B where AcUnit = 1 ) as B1 on b1.OLID=b.DivisionOLID 
left outer join ( select OLID from B where AcUnit = 1 ) as B2 on b2.OLID=b.CircleOLID 
left outer join ( select OLID from B where AcUnit = 1 ) as B3 on b3.OLID=b.ZonalOLID 
--where b.OLID in ( 10588,9191,10509,10780,10777,10763)
--order by OfficeID,CorporateOLID,ZonalOLID,CircleOLID,DivisionOLID,SubDivisionOLID
--select * from B where b.OLID in ( 10588,9191,10509,10780,10431)

);

GO
