USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnHolidays]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnHolidays](@FromDate DateTime,@ContactID Int,@AcOLID Int) RETURNS Table AS RETURN ( 




select ContactID,WeeklyOffDay,WeeklyOffDate,EffectiveFromDate,isnull(EffectiveToDate,Today) as EffectiveToDate1 
from EmployeeWeeklyOffDetails with (nolock) cross join Today_HRMS with (nolock) 
where Ac_olid=@AcOLID and ( EffectiveFromDate>=@FromDate or isnull(EffectiveToDate,Today)>=@FromDate ) and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
union 
select ContactID,1,'',@FromDate,Today from Contacts ct with (nolock) cross join Today_HRMS with (nolock) 
where Ac_olid=@AcOLID and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
and ContactID not in ( select ContactID from EmployeeWeeklyOffDetails e with (nolock) cross join Today_HRMS with (nolock) where Ac_olid=@AcOLID and ( EffectiveFromDate>=@FromDate or isnull(EffectiveToDate,Today)>=@FromDate ) and e.ContactID=ct.ContactID and (case when @ContactID=0 then 0 else ContactID end)=@ContactID ) 
and ContactID in ( select distinct ContactID from EmployeeLeaveDetails e with (nolock) where isnull(Cancel,0)=0 and FromDate>=@FromDate and LeaveTypeID=4 and LeaveTransactionTypeID=2 and e.ContactID=ct.ContactID and (case when @ContactID=0 then 0 else ContactID end)=@ContactID )

)
GO
