USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDistributionNodes]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FnDistributionNodes](@AcOLID Int)
RETURNS Table AS
RETURN 	(


--Declare @AcOLID Int select @AcOLID = 9999  ;


with Data1 as (
select * from ( Select dnol.DistributionNodeID,AcOLID,OLID,OfficeLocation,SubDivisionOLID,CorporateOLID,ZonalOLID,CircleOLID 
,(Row_Number() over (Partition By dnol.DistributionNodeID,dnol.DistriButionNodeOLID Order By dnol.DistributionNodeID,dnol.DistriButionNodeOLID,DistriButionNodeOfficeAllocationID desc)) as MaxNo from (
select * from OfficeLocationAccountingUnitDetails ol with(nolock) where(CorporateOLID = @AcOLID or ZonalOLID = @AcOLID or CircleOLID = @AcOLID or AcOLID=@AcOLID or OLID=@AcOLID)
) OL inner join DistriButionNodeOfficeAllocation dnol with(nolock) on dnol.DistriButionNodeOLID=ol.OLID
left join DistriButionNodes dn with(nolock) on dn.DistriButionNodeID=dnol.DistriButionNodeID 
where (case when DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 then dnol.DistributionNodeID else 0 end) <>0 ) A where MaxNo=1 

) , Data2 as (
 select DistributionNodeID,MAX(case when DistributionNodeUserDefinedFieldID=31 then DistributionNodeUserDefinedFieldValue else '' end) TCCapacity
 ,MAX(case when DistributionNodeUserDefinedFieldID=20 then DistributionNodeUserDefinedFieldValue else '' end) TCMake 
 ,MAX(case when DistributionNodeUserDefinedFieldID=105 then DistributionNodeUserDefinedFieldValue else '' end) StarRating 
 ,MAX(case when DistributionNodeUserDefinedFieldID=106 then DistributionNodeUserDefinedFieldValue else '' end) MountType 
 ,MAX(case when DistributionNodeUserDefinedFieldID=113 then DistributionNodeUserDefinedFieldValue else '' end) CommencementDate 
 ,MAX(case when DistributionNodeUserDefinedFieldID=107 then DistributionNodeUserDefinedFieldValue else '' end) DTCMetered 
 ,MAX(case when DistributionNodeUserDefinedFieldID=100 then DistributionNodeUserDefinedFieldValue else '' end) MeterType 
 ,MAX(case when DistributionNodeUserDefinedFieldID=102 then DistributionNodeUserDefinedFieldValue else '' end) Meter_SerialNo 
 ,MAX(case when DistributionNodeUserDefinedFieldID=103 then DistributionNodeUserDefinedFieldValue else '' end) Meter_Make 
 ,MAX(case when DistributionNodeUserDefinedFieldID=101 then DistributionNodeUserDefinedFieldValue else '' end) Meter_Capacity 
  from ( select a1.DistributionNodeID,b.* ,(Row_Number() over (Partition By a.DistributionNodeID,DistributionNodeUserDefinedFieldID Order By a.DistributionNodeID,DistributionNodeUserDefinedFieldID,DistributionNodeDetailsSubID Desc)) as MaxNo 
 from Data1 A1  inner join DistributionNodeDetails A with(nolock) on A.DistributionNodeID=A1.DistributionNodeID 
 inner join DistributionNodeDetailsSub B with(nolock) on b.DistributionNodeDetailsID=a.DistributionNodeDetailsID 
 and DistributionNodeUserDefinedFieldID in (31,20,105,106,113,107,100,102,103,101) ) as A where MaxNo=1
 group by DistributionNodeID

) 

select distinct ola1.FileAs as UOfficeLocation,AcOLID,ola.FileAs as AcOfficeLocation,SubDivisionOLID,OLID
,Ltrim(Rtrim(Replace(OfficeLocation,'O&M - Non Accounting Section',''))) OfficeLocation
,Upper(StationName+ '('+StationCode+')'+' - '  +isnull(v.Description,'') ) as Station,Upper(FeederName) as FeederName,Upper(FeederCode) FeederCode
,Upper(TCName) as TCName,TCCode,v1.Description TCVoltageClass,MaterialCode,PinCode,left(Longitude,9) Longitude,left(Latitude,9) Latitude,Streetname
,mp.Description Distict,mla.Description Taluk,l.Description DTC_Location,st1.Description Classification
,mp.Description MP,mla.Description MLA,p.Description PhaseType
,isnull(d4.Wire_2,0) Wire_2,isnull(d4.Wire_3,0) Wire_3,isnull(d4.Wire_4,0) Wire_4,isnull(d4.Wire_5,0) Wire_5,isnull(d3.TotalLength,0) TotalLength
,(case when d4.LineConductorTypeID=1 then 'Yes' else '' end) Over_Head
,(case when d4.LineConductorTypeID=2 then 'Yes' else '' end) AB_Cable
,(case when d4.LineConductorTypeID=3 then 'Yes' else '' end) UG_Cable
,Concat(Ltrim(Rtrim(Replace(Upper(isnull(TCCapacity,'')),'KVA',''))),' KVA') as TCCapacity
,Upper(isnull(TCMake,'')) as TCMake 
,Upper(isnull(s.SerialNo,'')) as TCSerialNo
,isnull(StarRating,'') StarRating
,isnull(MountType,'') MountType
,Ltrim(Rtrim(Replace(isnull(CommencementDate,''),'00:00:00',''))) CommencementDate
,isnull(DTCMetered,'') DTCMetered
,isnull(MeterType,'') MeterType
,isnull(Meter_SerialNo,'') Meter_SerialNo
,isnull(Meter_Make,'') Meter_Make
,isnull(Meter_Capacity,'') Meter_Capacity
,StationDNID,FeederDNID,TCDNID,CorporateOLID,ZonalOLID,CircleOLID
----,StVClassID,FeederVClassID,TCVClassID,Upper(isnull(s.TCType,'')) as TCType
----select DN1.*  
from ( select s.DistributionNodeID as StationDNID,s.DistributionNodeName as StationName,s.DistributionNodeCode as StationCode,s.VoltageClassID as StVClassID
,f.DistributionNodeID as FeederDNID,f.DistributionNodeName as FeederName,f.DistributionNodeCode FeederCode,f.VoltageClassID as FeederVClassID
,tc.DistributionNodeID as TCDNID,tc.DistributionNodeName as TCName,tc.DistributionNodeCode as TCCode,tc.VoltageClassID as TCVClassID,PinCode,Longitude,Latitude,Streetname
from ( select 'Transformer' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID,PinCode,Longitude,Latitude,Streetname
from DistributionNodes with(nolock) where DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 
and DistributionNodeID in (select b.DistributionNodeID from Data1 b with(nolock) where b.DistributionNodeID=DistributionNodeID) ) as TC -- and DistributionNodeID=115364 
Full join ( select 'Feeder' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes with(nolock) where DistributionNodeTypeID=2 and UnderDistributionNodeTypeID=1 ) as F on f.DistributionNodeID=tc.UnderDistributionNodeID
Full Join ( select 'Station' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes with(nolock) where DistributionNodeTypeID=1 and UnderDistributionNodeTypeID is NULL ) as S on s.DistributionNodeID=f.UnderDistributionNodeID ) as DN1 

inner join ( select * from ( Select dnol.DistributionNodeID,AcOLID,OLID,OfficeLocation,SubDivisionOLID,CorporateOLID,ZonalOLID,CircleOLID 
,(Row_Number() over (Partition By dnol.DistributionNodeID,dnol.DistriButionNodeOLID Order By dnol.DistributionNodeID,dnol.DistriButionNodeOLID,DistriButionNodeOfficeAllocationID desc)) as MaxNo from (
select * from OfficeLocationAccountingUnitDetails ol with(nolock) where(CorporateOLID = @AcOLID or ZonalOLID = @AcOLID or CircleOLID = @AcOLID or AcOLID=@AcOLID or OLID=@AcOLID)
) OL inner join DistriButionNodeOfficeAllocation dnol with(nolock) on dnol.DistriButionNodeOLID=ol.OLID
left join DistriButionNodes dn with(nolock) on dn.DistriButionNodeID=dnol.DistriButionNodeID 
where (case when DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 then dnol.DistributionNodeID else 0 end) <>0 ) A where MaxNo=1 ) as DN on dn.DistributionNodeID=dn1.TCDNID

outer apply (select top 1 * from DistributionNodeProperties d3 where d3.DistributionNodeID=TCDNID and d3.DistributionNodeOLID=dn.OLID ) D3
outer apply (select  isnull(PhaseTypeID,0) PhaseTypeID,isnull(LineConductorTypeID,0) LineConductorTypeID,Sum(isnull(Wire_2,0)) Wire_2,Sum(isnull(Wire_3,0)) Wire_3,Sum(isnull(Wire_4,0)) Wire_4,Sum(isnull(Wire_5,0)) Wire_5 
	from DistributionNodeDTCProperties d4 where d4.DistributionNodePropertyID=d3.DistributionNodePropertyID Group By isnull(PhaseTypeID,0),isnull(LineConductorTypeID,0) ) D4

left join MLAConstituency mla on mla.MLAConstituencyID=d3.MLAConstituencyID
left join MPConstituency mp on mp.MPConstituencyID=d3.MPConstituencyID
left join LocationClass l on l.LocationClassID=d3.LocationClassID
left join SchemeLocationTypes st1 on st1.SchemeLocationTypeID=d3.SchemeLocationTypeID
left join PhaseTypes p on d4.PhaseTypeID=p.PhaseTypeID
left join LineConductorTypes lc on d4.LineConductorTypeID=lc.LineConductorTypeID

left join VoltageClass v with(nolock) on v.VoltageClassID=dn1.StVClassID
left join VoltageClass v1 with(nolock) on v1.VoltageClassID=dn1.TCVClassID
left join OfficeLocationAllocation ola with(nolock) on ola.OfficeLocationAllocationID=AcOLID
left join OfficeLocationAllocation ola1 with(nolock) on ola1.OfficeLocationAllocationID=@AcOLID

left join ( select * from ( select dnd.*,TCType,MaterialCode,(Row_Number() over (Partition By DistributionNodeID,dnd.ItemID Order By DistributionNodeID,dnd.ItemID,DistributionNodeDetailsID Desc)) as MaxNo from DistributionNodeDetails dnd with(nolock)
inner join ( select * , (case when Description like '%Conventional%' then 'Conventional' else case when Description like '%3 Star%' then '3 Star' else '' end end) as TCType
from MaterialCode with(nolock) where MaterialCode like '03 21%' ) as T on t.ItemID=dnd.ItemID ) as A where MaxNo=1 ) as S on s.DistributionNodeID=dn1.TCDNID

left join Data2 DN3 with(nolock) on DN3.DistributionNodeID=DN1.TCDNID

--Order By CorporateOLID,ZonalOLID,CircleOLID,AcOLID,SubDivisionOLID,OLID,Station,FeederName,TCName

);
GO
