USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRBODLDID2]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRBODLDID2]()
RETURNS Table AS
RETURN 	(



select distinct ContactID as CID,convert(datetime,(cast(sr.SalaryYear as varchar(4))+'-'+cast(sr.SalaryMonth as varchar(2))+'-1')) as Date,srb.ScaleRegisterID
,ODLDID,EmployeeStatusID from ScaleregisterBasicPayDetails srb 
inner join ScaleRegister sr on sr.ScaleRegisterID=srb.ScaleRegisterID 
where srb.StartingDate in (select max(srb1.StartingDate) from ScaleregisterBasicPayDetails srb1 where srb1.Scaleregisterid=srb.Scaleregisterid and isnull(srb1.ODLDID,0)>0 and isnull(Amount,0)<>0 group by srb1.Scaleregisterid)

and isnull(srb.ODLDID,0)>0 and isnull(Amount,0)<>0



);
GO
