USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[getAdditionsForJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getAdditionsForJV](@ScaleRegisterID int)
returns table
as return (
select ScaleRegisterID,SalaryOtherAdditionID,Sum(Amount) as amount from
(select ScaleRegisterOtherAdditions.ScaleRegisterID, ScaleRegisterOtherAdditions.SalaryOtherAdditionID ,
Round(Round(sum(isnull(ScaleRegisterOtherAdditions.Amount,0)),2),0) as Amount
from ScaleRegisterOtherAdditions
where ScaleRegisterOtherAdditions.ScaleRegisterID =@ScaleRegisterID
group by ScaleRegisterOtherAdditions.ScaleRegisterID, ScaleRegisterOtherAdditions.SalaryOtherAdditionID
having Round(Round(sum(isnull(ScaleRegisterOtherAdditions.Amount,0)),2),0) <>0
union ALl
select ScaleRegisterID,SRAW.SalaryAdditionOthersID,(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) from ScaleRegisterOtherAdditionWithdrawals SRAW,ScaleRegisterWithdrawals
where ScaleRegisterID =@ScaleRegisterID
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.SalaryAdditionOthersID
having (-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) <>0)as Arrears
 group by ScaleRegisterID,SalaryOtherAdditionID having sum(Amount)<>0 );
GO
