USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRADNew]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FnSRADNew]()
RETURNS Table AS
RETURN 	(


select ScaleRegisterID,Types,TypesID,TypeID,sum(isnull(TGAmount,0)) as TGAmount,sum(isnull(GAmount,0)) as  GAmount,(sum(isnull(TGAmount,0))-sum(isnull(GAmount,0))) as DiffAmount,BankID,BranchID,ExternalRRNo as PolicyNo,BankTypeID, LAID
,(case when TypesID=4 and TypeID=2 then 'Income Tax' else case when TypesID=4 and TypeID in (10,15) then 'HRA / WC' else NULL end end) as Types1
from (
select distinct Scaleregisterid,1 as TypeID,1 as TypesID,'BP' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from ScaleregisterBasicPayDetails With (NoLock) group by ScaleregisterID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,AllowanceID as TypeID,2 as TypesID,'AL' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from scaleregisterAllowances With (NoLock) group by ScaleregisterID,AllowanceID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,SalaryOtherAdditionID as TypeID,3 as TypesID,'OA' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from scaleregisterOtherAdditions With (NoLock) where SalaryOtherAdditionID not in (14,15) group by ScaleregisterID,SalaryOtherAdditionID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,SalaryOtherDeductionID as TypeID,4 as TypesID,'OD' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from scaleregisterOtherDeductions With (NoLock) group by ScaleregisterID,SalaryOtherDeductionID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,LoanandAdvanceID as TypeID,5 as TypesID,'LA' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount,isnull(ExternalOrganisationid,0) as BankID,isnull(ExternalOrganisationBranchID,0) as BranchID,(case when ExternalRRNo='' then NULL else ExternalRRNo end) as ExternalRRNo,isnull(ExternalOrganisationTypeID,0) as BankTypeID,0 as LAID
from scaleregisterLoansandadvances With (NoLock) group by ScaleregisterID,LoanAndAdvanceID,ExternalOrganisationid,ExternalOrganisationBranchID,ExternalRRNo,ExternalOrganisationTypeID 
having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,ScheduleTypeID as TypeID,6 as TypesID,'RC' as Types,round(round(sum(isnull(Amount,0)),2),0) as TGAmount,0 as GAmount,isnull(ExternalOrganisationid,0) as BankID,isnull(ExternalOrganisationBranchID,0) as BranchID,NULL as ExternalRRNo,isnull(ExternalOrganisationTypeID,0) as BankTypeID,LoanandAdvanceID as LAID
from scaleregisterRecovery With (NoLock) group by ScaleregisterID,ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationid,ExternalOrganisationBranchid,ExternalOrganisationTypeid having round(round(sum(isnull(Amount,0)),2),0)<>0
union all
select distinct Scaleregisterid,1 as TypeID,1 as TypesID,'BP' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from ScaleRegisterBasicPayWithdrawals srb With (NoLock) inner join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=srb.ScaleRegisterWithdrawalID 
group by ScaleregisterID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,AllowanceID as TypeID,2 as TypesID,'AL' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from ScaleRegisterAllowanceWithdrawals sra With (NoLock) inner join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sra.ScaleRegisterWithdrawalID 
group by ScaleregisterID,AllowanceID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,SalaryAdditionOthersID as TypeID,3 as TypesID,'OA' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from ScaleRegisterOtherAdditionWithdrawals sroa With (NoLock) inner join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=sroa.ScaleRegisterWithdrawalID 
where SalaryAdditionOthersID not in (14,15) group by ScaleregisterID,SalaryAdditionOthersID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,SalaryDeductionOthersID as TypeID,4 as TypesID,'OD' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount,NULL as BankID,NULL as BranchID,NULL as ExternalRRNo,NULL as BankTypeID,0 as LAID
from ScaleRegisterOtherDeductionWithdrawals srod With (NoLock) inner join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=srod.ScaleRegisterWithdrawalID 
group by ScaleregisterID,SalaryDeductionOthersID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,LoanandAdvanceID as TypeID,5 as TypesID,'LA' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount,isnull(ExternalOrganisationid,0) as BankID,isnull(ExternalOrganisationBranchID,0) as BranchID,(case when ExternalRRNo='' then NULL else ExternalRRNo end) as ExternalRRNo,isnull(ExternalOrganisationTypeID,0) as BankTypeID,0 as LAID
from ScaleRegisterLoanandAdvanceWithdrawals srla With (NoLock) inner join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=srla.ScaleRegisterWithdrawalID 
group by ScaleregisterID,LoanAndAdvanceID,ExternalOrganisationid,ExternalOrganisationBranchID,ExternalRRNo,ExternalOrganisationTypeID having round(round(sum(isnull(Amount,0)),2),0)<>0 union all
select distinct Scaleregisterid,ScheduleTypeID as TypeID,6 as TypesID,'RC' as Types,0 as TGAmount,round(round(sum(isnull(Amount,0)),2),0) as GAmount,isnull(ExternalOrganisationid,0) as BankID,isnull(ExternalOrganisationBranchID,0) as BranchID,NULL as ExternalRRNo,isnull(ExternalOrganisationTypeID,0) as BankTypeID,LoanandAdvanceID as LAID
from ScaleRegisterRecoveryWithdrawals srr With (NoLock) inner join ScaleRegisterWithdrawals srw With (NoLock) on srw.ScaleRegisterWithdrawalID=srr.ScaleRegisterWithdrawalID 
group by ScaleregisterID,ScheduleTypeID,LoanandAdvanceID,ExternalOrganisationid,ExternalOrganisationBranchid,ExternalOrganisationTypeid having round(round(sum(isnull(Amount,0)),2),0)<>0
) as S  
group by ScaleRegisterID,Types,TypesID,TypeID,BankID,BranchID,ExternalRRNo,BankTypeID,LAID

)
GO
