USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnStockLedgerDetails]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnStockLedgerDetails] (@OLID Int,@AsOnDate DateTime)

RETURNS Table AS 
RETURN (


--Declare @OLID Int select @OLID = 453
--Declare @AsOnDate DateTime select @AsOnDate ='2016-07-20'






select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,a.OLID,a.StockLedgerID as LedgerOrReceiptsOrInvoiceID,a.ItemID,UnitID
,isnull(GoodQuantity,0) as GoodQuantity,isnull(ReleasedGoodQuantity,0) as RGoodQuantity,isnull(ReleasedFaultyQuantity,0) as FaultyQuantity,isnull(ReleasedScrapQuantity,0) as ScrapQuantity
,Convert(DateTime,(cast(StockLedgerYear as Varchar(4))+'-'+cast(StockLedgerMonth as Varchar(2))+'-1')) as StockLedgerDate,'OB' as TransactionTypes,1 as Ordred
from ( select StockLedgerID,OLID,ItemID,StockLedgerYear,StockLedgerMonth from StockLedger_pni with (nolock) where StockLedgerYear=Year(@AsOnDate) and StockLedgerMonth=Month(@AsOnDate) ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join StockLedgerOBDetails_pni C with (nolock) on c.StockLedgerID=a.StockLedgerID and c.OLID=a.OLID and c.ItemID=a.ItemID
union all 

select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,a.OLID,a.ReceiptVoucherNo,ItemID,UnitID
,isnull(GoodQuantity,0) as GoodQuantity,isnull(ReleasedGoodQuantity,0) as RGoodQuantity,isnull(ReleasedFaultyQuantity,0) as FaultyQuantity,isnull(ReleasedScrapQuantity,0) as ScrapQuantity
,ReceiptVoucherDate,'Receipts' as TransactionTypes,2 as Ordred
from ( select ReceiptVoucherNo,OLID,ReceiptVoucherDate from ReceiptVoucherAbstract_pni A with (nolock) where ReceiptVoucherDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Approved=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join ReceiptVoucherDetails_pni C with (nolock) on c.ReceiptVoucherNo=a.ReceiptVoucherNo
union all 

select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,a.OLID,a.ReceiptVoucherNo,d.ItemID,d.UnitID
,isnull(d.GoodQuantity,0) as GoodQuantity,isnull(d.ReleasedGoodQuantity,0) as RGoodQuantity,isnull(d.ReleasedFaultyQuantity,0) as FaultyQuantity,isnull(d.ReleasedScrapQuantity,0) as ScrapQuantity
,ReceiptVoucherDate,'Receipts' as TransactionTypes,2 as Ordred
from ( select ReceiptVoucherNo,OLID,ReceiptVoucherDate from ReceiptVoucherAbstract_pni A with (nolock) where ReceiptVoucherDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Approved=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join ReceiptVoucherDetails_pni C with (nolock) on c.ReceiptVoucherNo=a.ReceiptVoucherNo and isnull(AlternateQuantity,0)!=0
inner join ReceiptVoucherAlternateDetails_Accounts D with (nolock) on d.ReceiptVoucherDetailsID=c.ReceiptVoucherDetailsID
union all

select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,a.OLID,a.StoreInvoiceNo,ItemID,UnitID
,isnull(-GoodQuantity,0) as GoodQuantity,isnull(-ReleasedGoodQuantity,0) as RGoodQuantity,isnull(-ReleasedFaultyQuantity,0) as FaultyQuantity,isnull(-ReleasedScrapQuantity,0) as ScrapQuantity
,StoreInvoiceDate,'Issued' as TransactionTypes,3 as Ordred
from ( select StoreInvoiceNo,OLID,StoreInvoiceDate from StoreInvoice_pni A with (nolock) where StoreInvoiceDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Passed=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join StoreInvoiceDetails_pni C with (nolock) on c.StoreInvoiceNo=a.StoreInvoiceNo
union all

select CorporateOLID,ZonalOLID,CircleOLID,AcOLID,a.OLID,a.StoreInvoiceNo,d.ItemID,d.UnitID
,isnull(-d.GoodQuantity,0) as GoodQuantity,isnull(-d.ReleasedGoodQuantity,0) as RGoodQuantity,isnull(-d.ReleasedFaultyQuantity,0) as FaultyQuantity,isnull(-d.ReleasedScrapQuantity,0) as ScrapQuantity
,StoreInvoiceDate,'Issued' as TransactionTypes,3 as Ordred
from ( select StoreInvoiceNo,OLID,StoreInvoiceDate from StoreInvoice_pni A with (nolock) where StoreInvoiceDate Between Convert(DateTime,(Cast(Year(@AsOnDate) as Varchar(4))+'-'+cast(Month(@AsOnDate) as Varchar(2))+'-1')) and @AsOnDate and Passed=1 and isnull(Canceled,0)=0 ) as A
inner join ( select distinct CorporateOLID,ZonalOLID,CircleOLID,AcOLID,OLID from FnUnderOL() where (CorporateOLID=@OLID or ZonalOLID=@OLID or CircleOLID=@OLID or AcOLID=@OLID) and OfficeID not in (65,66,85,49)) B on b.OLID=a.OLID
inner join StoreInvoiceDetails_pni C with (nolock) on c.StoreInvoiceNo=a.StoreInvoiceNo and isnull(AlternateQuantityIssued,0)!=0
inner join StoreInvoiceAlternateDetails_pni D with (nolock) on d.StoreInvoiceDetailsID=c.StoreInvoiceDetailsID


);
GO
