USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDNOL]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE FUNCTION [dbo].[FnDNOL](@AcOLID Int)
RETURNS Table AS
RETURN 	(


--Declare @AcOLID Int select @AcOLID = 337

select distinct ola1.FileAs as UOfficeLocation,AcOLID,ola.FileAs as AcOfficeLocation,OLID,OfficeLocation
,SubDivisionOLID,CircleOLID,ZonalOLID,CorporateOLID
from ( select s.DistributionNodeID as StationDNID,s.DistributionNodeName as StationName,s.DistributionNodeCode as StationCode,s.VoltageClassID as StVClassID
,f.DistributionNodeID as FeederDNID,f.DistributionNodeName as FeederName,f.VoltageClassID as FeederVClassID
,tc.DistributionNodeID as TCDNID,tc.DistributionNodeName as TCName,tc.DistributionNodeCode as TCCode,tc.VoltageClassID as TCVClassID
from ( select 'Transformer' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes with(nolock) where DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 ) as TC
Full join ( select 'Feeder' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes with(nolock) where DistributionNodeTypeID=2 and UnderDistributionNodeTypeID=1 ) as F on f.DistributionNodeID=tc.UnderDistributionNodeID
Full Join ( select 'Station' as DistributionNodeTypes,DistributionNodeID,DistributionNodeName,DistributionNodeCode,VoltageClassID,UnderDistributionNodeTypeID,UnderDistributionNodeID
from DistributionNodes with(nolock) where DistributionNodeTypeID=1 and UnderDistributionNodeTypeID is NULL ) as S on s.DistributionNodeID=f.UnderDistributionNodeID ) as DN1 

inner join ( select * from ( Select dnol.DistributionNodeID,AcOLID,OLID,OfficeLocation,SubDivisionOLID,CorporateOLID,ZonalOLID,CircleOLID 
,(Row_Number() over (Partition By dnol.DistributionNodeID,dnol.DistriButionNodeOLID Order By dnol.DistributionNodeID,dnol.DistriButionNodeOLID,DistriButionNodeOfficeAllocationID desc)) as MaxNo from (
select * from OfficeLocationAccountingUnitDetails ol with(nolock) where(CorporateOLID = @AcOLID or ZonalOLID = @AcOLID or CircleOLID = @AcOLID or AcOLID=@AcOLID or OLID=@AcOLID)
) OL inner join DistriButionNodeOfficeAllocation dnol with(nolock) on dnol.DistriButionNodeOLID=ol.OLID
left join DistriButionNodes dn with(nolock) on dn.DistriButionNodeID=dnol.DistriButionNodeID 
where (case when DistributionNodeTypeID=1 and UnderDistributionNodeTypeID=2 then dnol.DistributionNodeID else 0 end) <>0 ) A where MaxNo=1  ) as DN on dn.DistributionNodeID=dn1.TCDNID

left outer join OfficeLocationAllocation ola with(nolock) on ola.OfficeLocationAllocationID=AcOLID
left outer join OfficeLocationAllocation ola1 with(nolock) on ola1.OfficeLocationAllocationID=@AcOLID

);
GO
