USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAttendance_getuser]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAttendance_getuser] (@OLID Int,@FromDate DateTime,@ToDate DateTime,@Category Varchar(50))

RETURNS Table AS 
RETURN (

--Declare @OLID Int select @OLID = 337
--Declare @FromDate DateTime select @FromDate = '2021-01-16'
--Declare @ToDate DateTime select @ToDate = '2021-02-15'
--Declare @Category Varchar(50) select @Category ='1'
--;

With Total_ODD as (
select distinct b.AcOLID,b.OLID,OfficeLocation ,OfficeDepartmentDesignationAllocationID ODDID,ODLDID
from OfficeLocationAccountingUnitDetails B with(nolock) 
Inner Join ODLDAllocation ODLD with(nolock) on odld.OfficeID=b.OfficeID and odld.LocationID=b.LocationID
Inner Join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=b.OfficeID and c.DepartmentID=odld.DepartmentID
Inner join OfficeDepartmentDesignationAllocation D with(nolock) on d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID and d.DesignationID=odld.DesignationID

) , Perm_ODD as (
select distinct b.ContactID,ODDID,a.ODLDID,AcOLID,OLID,OrderNo,a.DesignationID,a.DepartmentID from ODLDAllocation A with(nolock)
Inner Join ( select distinct ContactID,ODLDID from Employee with(nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
			union select distinct ContactID,ToODLDID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
			and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
			) B on b.ODLDID=a.ODLDID
Inner Join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=a.OfficeID and c.DepartmentID=a.DepartmentID
Inner join OfficeDepartmentDesignationAllocation D with(nolock) on d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID and d.DesignationID=a.DesignationID
Inner Join ( select  distinct OfficeDepartmentDesignationAllocationID as ODDID from DesignationActivityAllocation with (nolock) where ActivityID=390 and [Create]=1 ) E on e.ODDID=d.OfficeDepartmentDesignationAllocationID
Inner Join Users F with(nolock) on f.ContactID=b.ContactID and Active=1
Inner Join OfficeLocationAccountingUnitDetails G with(nolock) on g.OfficeID=a.OfficeID and g.LocationID=a.LocationID  

) , Filter_OLID as (
select OLID from (select AcOLID,OrderNo from OfficeLocationAccountingUnitDetails with(nolock) where OLID= @OLID ) A
Inner Join OfficeLocationAccountingUnitDetails B with(nolock) on b.AcOLID=a.AcOLID and b.OrderNo>=a.OrderNo
where ( OLID= @OLID or SubDivisionOLID= @OLID or DivisionOLID= @OLID or CircleOLID= @OLID or ZonalOLID= @OLID or CorporateOLID= @OLID )

) , Charge as (
select distinct ContactID,a.ODLDID,b.OfficeID,b.DepartmentID,b.LocationID from (
select distinct ContactID,ToODLDID ODLDID from EmployeeAppointmentDetails A with (nolock) where AppointmentTypeID in (6,25,43,7,44) and Approved=1 and Reported=1 and (case when isnull(Regularised,0)=0 then NULL else ReportedDate end) is NULL and isnull(ToODLDID,0)!=0 
and ContactID in ( select isnull(ContactID,0) from Employee B with (nolock) where isnull(b.ContactID,0)=a.ContactID and isnull(b.ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 ) 
) A Inner Join ODLDAllocation B with(nolock) on b.ODLDID=a.ODLDID
Inner Join EmployeeGradeDesignationAllocation C1 with(nolock) on c1.DesignationID=b.DesignationID 
Inner Join OfficeDepartmentAllocation C with(nolock) on c.OfficeID=b.OfficeID and c.DepartmentID=b.DepartmentID
Inner join OfficeDepartmentDesignationAllocation D with(nolock) on d.OfficeDepartmentAllocationID=c.OfficeDepartmentAllocationID and d.DesignationID=b.DesignationID
Inner Join OfficeLocationAllocation E with(nolock) on e.OfficeID=b.OfficeID and e.LocationID=b.LocationID 
where OfficeLocationAllocationID = @OLID 

) , CID as (
select distinct a.*,isnull(c.ODLDID,a.ODLDID) ODLDID1 from (
select e.ContactID,e.ODLDID,EmployeeCategoryID from Employee e with (nolock) where isnull(ODLDID,0)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0 
union select distinct ContactID,FieldValue,1 from EmployeeHistory_HRMS A with (nolock) where FieldName='ODLDID' and ValidupTo Between @FromDate and @ToDate ) A
Inner Join ODLDAllocation D with(nolock) on d.ODLDID=a.ODLDID
left Outer join Charge C on c.ContactID=a.ContactID and c.OfficeID=d.OfficeID and c.DepartmentID=d.DepartmentID and c.LocationID=d.LocationID
where EmployeeCategoryID in (select EmployeeCategoryID from EmployeeCategories EC with (nolock) where ec.EmployeeCategoryID=a.EmployeeCategoryID and isnull(EmployeeCategoryID,0) in (select * from Split(@Category,',')) )

)

select * from (
select (Row_Number() over (Partition By a.ContactID Order By a.ContactID,D1.OrderNo desc)) MinNo,DesignationOrder
,ODDID,ODLDID,OLID,AcOLID,a.DepartmentID,a.DesignationID,a.ContactID,ContactName,Designation
,UserODDID,UserOLID,UserContactID,ct.Fileas UserContactName,(DesignationName+' ('+DepartmentCode+')') UserDesignation from (
select  distinct DesignationOrder,a.ODDID,b.ODLDID,b.OLID,b.AcOLID,a.DepartmentID,a.DesignationID,c.ContactID,ct.Fileas ContactName,(DesignationName+' ('+DepartmentCode+')') Designation
,(uc.ContactID) UserContactID,(uc.ODDID) UserODDID,(uc.DepartmentID) UserDPID, (uc.DesignationID) UserDNID,(uc.OLID) UserOLID
from AttendanceEntryAllocation A with(nolock) 
Inner Join Total_ODD B on b.ODDID=a.ODDID
Left Outer Join CID C on c.ODLDID1=b.ODLDID
left outer join ( select Distinct ContactID from EmployeeAppointmentDetails with (nolock) where Approved=1 and Reported=1 and isnull(Regularised,0)=1 and AppointmentTypeID in (1,26) ) as PP on pp.ContactID=c.ContactID
left Outer Join Contacts Ct with(nolock) on ct.ContactID=c.ContactID
left outer join Designation DN with(nolock) on dn.DesignationID=a.DesignationID
left Outer Join Department DP with(nolock) on dp.DepartmentID=a.DepartmentID
left outer join ( select * from Perm_ODD A1 where OLID in (Select OLID from Filter_OLID B where b.OLID=a1.OLID) ) UC on (uc.ODDID=a.LoginODDID or uc.ODDID=a.LoginODDID1 or uc.ODDID=a.LoginODDID2 or uc.ODDID=a.LoginODDID3)
where b.OLID = @OLID and (case when EmployeeGradeID in (1,2) and pp.ContactID is not NULL then 0 else 1 end) = 1
and c.ContactID is not NULL
) A left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.UserContactID
left outer join Designation DN with(nolock) on dn.DesignationID=a.UserDNID
left Outer Join Department DP with(nolock) on dp.DepartmentID=a.UserDPID
Left Outer Join DesignationHierarchyOrder_Config D1 with(nolock) on d1.DesignationID=UserDNID
) A where MinNo=1
--order by UserContactID,DepartmentID,DesignationOrder,Designation,ContactName

);
GO
