USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[getDeductionsForJVNew_backup]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getDeductionsForJVNew_backup](@BRNo varchar(100),@OL int,@Suppl varchar(10),@Gen int,@Held int,@EmpCat varchar(10))
returns table
as return (

 --Declare @BRNo varchar(100) = '0'
 --Declare @OL int = 658
 --Declare @Suppl varchar(10) = '0'
 --Declare @Gen int = 1
 --Declare @Held int = 0
 --Declare @EmpCat varchar(10) = '9,2,6,8'


select ScaleRegisterID,SalaryOtherDeductionID,Sum(Amount) as amount from
(select ScaleRegisterOtherDeductions.ScaleRegisterID, ScaleRegisterOtherDeductions.SalaryOtherDeductionID ,
Round(Round(sum(isnull(ScaleRegisterOtherDeductions.Amount,0)),2),0) as Amount
from ScaleRegisterOtherDeductions with(NoLock)
where ScaleRegisterOtherDeductions.ScaleRegisterID in(select sr.ScaleRegisterID from ScaleRegister SR  with(NoLock) left join EmployeeRecoveryScaleRegisterDetails ERS with(NoLock) on SR.ScaleRegisterID=ERS.ScaleRegisterID  
where BillRegisterNo=@BRNo  and     (case when ERS.ScaleRegisterID is not null then @OL else OLID end)=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and Generated=@Gen and HeldUp=@Held 
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',')union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end)  in(select  (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-' then ContactID else 0 end) 
 from ScaleRegister with(NoLock)
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0)
)
group by ScaleRegisterOtherDeductions.ScaleRegisterID, ScaleRegisterOtherDeductions.SalaryOtherDeductionID
having Round(Round(sum(isnull(ScaleRegisterOtherDeductions.Amount,0)),2),0)<>0
union all
select ScaleRegisterID,SRAW.SalaryDeductionOthersID,(-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) from ScaleRegisterOtherDeductionWithdrawals SRAW with(NoLock),ScaleRegisterWithdrawals with(NoLock)
where ScaleRegisterID in(select sr.ScaleRegisterID from ScaleRegister SR  with(NoLock) left join EmployeeRecoveryScaleRegisterDetails ERS with(NoLock) on SR.ScaleRegisterID=ERS.ScaleRegisterID  
where BillRegisterNo=@BRNo  and     (case when ERS.ScaleRegisterID is not null then @OL else OLID end)=@OL 
and cast(Suppliment as varchar(10)) in ( select * from split(@Suppl,','))
and Generated=@Gen and HeldUp=@Held 
and cast((case when Suppliment=6 then 0 else EmployeeCategoryID end) as varchar(10)) in ( select * from split(@EmpCat,',') union select 0)
and (case when  (@Suppl='0,6' or @Suppl='9,6')and left(@BRNo,1)!='-'  then ContactID else 0 end)  in(select  (case when  (@Suppl='0,6' or @Suppl='9,6') and left(@BRNo,1)!='-' then ContactID else 0 end)  
from ScaleRegister with(NoLock)
where BillRegisterNo=@BRNo and OLID=@OL  and Suppliment in(0,9) and ContactID=SR.ContactID union select 0)
)
and SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.SalaryDeductionOthersID
having (-Round(Round(sum(isnull(SRAW.Amount,0)),2),0)) <>0)as Arrears
 group by ScaleRegisterID,SalaryOtherDeductionID having sum(Amount)<>0 
 
 );

--
GO
