USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSalarySRID]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSalarySRID]() RETURNS Table AS RETURN ( 

select sr.*,ODLDID,EmployeeStatusID from ( 
select * from ( 
select *,(Row_Number() over (Partition By OLID,ContactID Order By OLID,ContactID,StartingDate desc,ScaleRegisterID desc)) as MaxNo 
from ScaleRegister with(nolock) where Generated=1 and isnull(HeldUp,0)=0 and isnull(Legacy,0)=0 and OLID<>0 and Suppliment in (0,9,1,6) 
) as SR where MaxNo=1 
) as SR left outer join ( select * from ( 
    	select ScaleRegisterID,ODLDID,EmployeeStatusID,(Row_Number() over (Partition By ScaleRegisterID Order By ScaleRegisterID,StartingDate desc,ScaleRegisterBasicPayDetailsID desc)) as MaxNo 
		from ScaleRegisterBasicPayDetails with(nolock) where isnull(ODLDID,0)<>0 
		) as SRB where MaxNo=1 
		) as SRB on srb.ScaleRegisterID=sr.ScaleRegisterID 

);
GO
