USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_PensionAndGratuity]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[Fn_PensionAndGratuity](@OfficeID int,@LocationID int,@EmployeeType Varchar(20),@YearID Int,@MonthID Int,@BRNo Varchar(50),@Sup Int,@CID Int) 
RETURNS Table AS Return (


--Declare @OfficeID Int = 65 
--Declare @LocationID Int = 1
--Declare @EmployeeType Varchar(20) = '1,4,5,7' 
--Declare @YearID Int = 2025
--Declare @MonthID Int = 11
--Declare @BRNo Varchar(50) = '0' 
--Declare @Sup Int = 0
--Declare @CID Int = 0
--;

With Data1 as (
select a.*,b.ScaleRegisterID SRID,ScaleRegisterWithdrawalID SRWID,EmployeeCategoryID,BillRegisterNo,BillRegisterDate,SalaryYear,SalaryMonth,ContactID
from (select OLID,OfficeID,LocationID from OfficeLocationAccountingUnitDetails with(nolock) where OfficeID=@OfficeID and LocationID=@LocationID) A 
inner Join Today_hrms with(nolock) on Ac_olid=a.OLID 
inner join ScaleRegister B with(nolock) on b.OLID=A.OLID and BillRegisterNo=@BRNo 
and (case when @CID=0 then 0 else ContactID end)=@CID and Suppliment=@Sup
and Year(isnull(BillRegisterDate,Today))=@YearID and Month(isnull(BillRegisterDate,Today))=@MonthID 
and EmployeeCategoryID in (select * from Split(@EmployeeType,',')) and Generated=1 and ISNULL(Heldup,0)=0 
left join ScaleRegisterWithdrawals C with(nolock) on C.ScaleRegisterID=B.ScaleRegisterID

) , Data1a as (
select a.*,b.ScaleRegisterID SRID,ScaleRegisterWithdrawalID SRWID,EmployeeCategoryID,BillRegisterNo,BillRegisterDate,SalaryYear,SalaryMonth,ContactID
from (select OLID,OfficeID,LocationID from OfficeLocationAccountingUnitDetails with(nolock) where OfficeID=@OfficeID and LocationID=@LocationID) A 
inner Join Today_hrms with(nolock) on Ac_olid=a.OLID 
inner join ScaleRegister B with(nolock) on b.OLID=A.OLID and BillRegisterNo=@BRNo 
and (case when @CID=0 then 0 else ContactID end)=@CID and Suppliment=6 
and ContactID in (select distinct (case when @Sup in (0,9) then ContactID else 0 end) from Data1) 
and Year(isnull(BillRegisterDate,Today))=@YearID and Month(isnull(BillRegisterDate,Today))=@MonthID 
and EmployeeCategoryID in (select * from Split(@EmployeeType,',')) and Generated=1 and ISNULL(Heldup,0)=0 
left join ScaleRegisterWithdrawals C with(nolock) on C.ScaleRegisterID=B.ScaleRegisterID

) , Data2 as (
select * from (select * from Data1 A with(nolock) union select * from Data1a A with(nolock)) A
Outer Apply ( select AppointmentTypeID,cast(cast(isnull(ReportedTime,ReportedDate) as Int) as DateTime) JoinDate from (
select * ,(Row_Number() over (Partition By ContactID Order By ContactID,EmployeeAppointmentDetailsID desc)) MaxNo 
from EmployeeAppointmentDetails E with(nolock) where Approved=1 and Reported=1 and isnull(EmployeeCategoryID,0) in (select * from Split(@EmployeeType,',')) and AppointmentTypeID in (1,26)  
and e.ContactID=a.ContactID ) A where MaxNo = 1 ) E

) , Data3 as (
select * from Data2 A with(nolock) 
Outer Apply ( select top 1 concat(ODLDID,'')+'' from ScaleRegisterBasicPayDetails B with(nolock) where b.ScaleRegisterID=a.SRID and round(isnull(Amount,0),0)!=0 and isnull(ODLDID,0)!=0 Order By startingDate desc,ScaleRegisterBasicPayDetailsID desc for xml path('')) A1 (ODLDID)
Outer Apply ( select top 1 concat(isnull(EmployeeStatusID,1),'')+'' from ScaleRegisterBasicPayDetails B with(nolock) where b.ScaleRegisterID=a.SRID and round(isnull(Amount,0),0)!=0 and isnull(ODLDID,0)!=0 Order By startingDate desc,ScaleRegisterBasicPayDetailsID desc for xml path('')) A2 (ESID)
where JoinDate< '2006-04-01' and ESID!=19

) , Data4 as (
select * from Data3 A with(nolock) 
outer apply (select Round(Round(SUM(Amount),2),0) BP from ScaleRegisterBasicPayDetails B with(nolock) where b.ScaleRegisterID=a.SRID) B 
outer apply (select Round(Round(SUM(Amount),2),0) BPW from ScaleRegisterBasicPayWithdrawals B with(nolock) where b.ScaleRegisterWithdrawalID=a.SRWID) B1
outer apply (select SUM(DP) DP,SUM(DA) DA,SUM(HRA) HRA,SUM(CCA) CCA from (
select Round(Round(SUM(case when AllowanceID=20 then Amount else 0 end),2),0) DP,Round(Round(SUM(case when AllowanceID=1 then Amount else 0 end),2),0) DA 
,Round(Round(SUM(case when AllowanceID=2 then Amount else 0 end),2),0) HRA,Round(Round(SUM(case when AllowanceID=3 then Amount else 0 end),2),0) CCA 
from ScaleRegisterALlowances B with(nolock) where b.ScaleRegisterID=a.SRID and AllowanceID in (20,1,2,3) Group By AllowanceID) A ) C
outer apply (select SUM(DP) DPW,SUM(DA) DAW,SUM(HRA) HRAW,SUM(CCA) CCAW from (
select Round(Round(SUM(case when AllowanceID=20 then Amount else 0 end),2),0) DP,Round(Round(SUM(case when AllowanceID=1 then Amount else 0 end),2),0) DA 
,Round(Round(SUM(case when AllowanceID=2 then Amount else 0 end),2),0) HRA,Round(Round(SUM(case when AllowanceID=3 then Amount else 0 end),2),0) CCA 
from ScaleRegisterAllowanceWithdrawals B with(nolock) where b.ScaleRegisterWithdrawalID=a.SRWID and AllowanceID in (20,1,2,3) Group By AllowanceID) A ) C1 
outer apply (select Round(Round(SUM(Amount),2),0) CPC from ScaleRegisterOtherAdditions B with(nolock) where b.ScaleRegisterID=a.SRID and SalaryOtherAdditionID=14) D
outer apply (select Round(Round(SUM(Amount),2),0) GA from ScaleRegisterOtherAdditions B with(nolock) where b.ScaleRegisterID=a.SRID and SalaryOtherAdditionID=15) D1
outer apply (select Round(Round(SUM(Amount),2),0) CPCW from ScaleRegisterOtherAdditionWithdrawals B with(nolock) where b.ScaleRegisterWithdrawalID=a.SRWID and SalaryAdditionOthersID=14) E
outer apply (select Round(Round(SUM(Amount),2),0) GAW from ScaleRegisterOtherAdditionWithdrawals B with(nolock) where b.ScaleRegisterWithdrawalID=a.SRWID and SalaryAdditionOthersID=15) E1 
) 

select (ROW_NUMBER() over (Order By DesignationHierarchyOrderID,ct.Fileas,SalaryYear,SalaryMonth)) SlNo,OfficeName,LocationName,D.Description EmployeeCategory
,BillRegisterNo,convert(varchar,BillRegisterDate,104) BRDate,A.ContactID,CT.FileAs EmployeeName,concAT(DesignationName,' (',DepartmentCode,')') Designation
,concat(left(DATENAME(MONTH, DATEFROMPARTS(2000, SalaryMonth, 1)),3),'-',right(SalaryYear,2)) MnYr
,(ISNULL(BP,0)-ISNULL(BPW,0)) BP,(ISNULL(DP,0)-ISNULL(DPW,0)) DP,(ISNULL(DA,0)-ISNULL(DAW,0)) DA,(ISNULL(HRA,0)-ISNULL(HRAW,0)) HRA,(ISNULL(CCA,0)-ISNULL(CCAW,0)) CCA
,((ISNULL(BP,0)-ISNULL(BPW,0))+(ISNULL(DP,0)-ISNULL(DPW,0))+(ISNULL(DA,0)-ISNULL(DAW,0))+(ISNULL(HRA,0)-ISNULL(HRAW,0))+(ISNULL(CCA,0)-ISNULL(CCAW,0))) Total
,ISNULL(CPCW,0) CPCW,ISNULL(GAW,0) GAW,(ISNULL(CPCW,0)+ISNULL(GAW,0)) Total1
,ISNULL(CPC,0) CPC,ISNULL(GA,0) GA,(ISNULL(CPC,0)+ISNULL(GA,0)) Total2
,(ISNULL(CPC,0)-ISNULL(CPCW,0)) CPCD,(ISNULL(GA,0)-ISNULL(GAW,0)) GAD
,((ISNULL(CPC,0)+ISNULL(GA,0))-(ISNULL(CPCW,0)+ISNULL(GAW,0))) Total3
from Data4 A with(nolock) 
inner join Office B with(nolock) on B.OfficeID=A.OfficeID
inner join Location C with(nolock) on c.LocationID=A.LocationID
left join EmployeeCategories D with(nolock) on d.EmployeeCategoryID=A.EmployeeCategoryID
inner join Contacts CT with(nolock) on CT.ContactID=A.ContactID
left join ODLDAllocation E with(nolock) on E.ODLDID=A.ODLDID 
left join Designation DN with(nolock) on DN.DesignationID=E.DesignationID
left join Department DP with(nolock) on dp.DepartmentID=E.DepartmentID
outer apply (select top 1 * from DesignationHierarchyOrder_Config DO with(nolock) where do.DesignationID=e.DesignationID order by OrderNo,DesignationHierarchyOrderID desc) DO 
where (((ISNULL(CPC,0)-ISNULL(GA,0))-(ISNULL(CPCW,0)-ISNULL(GAW,0)))!=0 or ((ISNULL(BP,0)-ISNULL(BPW,0))+(ISNULL(DP,0)-ISNULL(DPW,0))+(ISNULL(DA,0)-ISNULL(DAW,0)))!=0)
--Order By SlNo 

) 


GO
