USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[getRecovoriesForFINALAPPOVERJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[getRecovoriesForFINALAPPOVERJV](@Year int,@Month int,@OLID int)
returns table
as return (
select  ScaleRegisterRecovery.ScaleRegisterID, ScaleRegisterRecovery.ScheduleTypeID ,
round(round(sum(isnull(ScaleRegisterRecovery.Amount,0)),2),0) as Amount   
from ScaleRegisterRecovery 
where ScaleRegisterRecovery.ScaleRegisterID in (Select scaleregisterID from scaleregister where SalaryMonth=@Month  and SalaryYear=@Year  and OLID=@OLID  and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) )
group by ScaleRegisterRecovery.ScaleRegisterID, ScaleRegisterRecovery.ScheduleTypeID 
union ALl
select ScaleRegisterID,SRAW.ScheduleTypeID,round(round(-sum(isnull(SRAW.Amount,0)),2),0) from ScaleRegisterRecoveryWithdrawals SRAW,ScaleRegisterWithdrawals 
where ScaleRegisterID in (Select scaleregisterID from scaleregister where SalaryMonth=@Month and SalaryYear=@Year  and OLID=@OLID  and Generated=1 and HeldUp=0 and (BillRegisterNo is null or BillRegisterNo =0 ) )
and  SRAW.ScaleRegisterWithdrawalID =ScaleRegisterWithdrawals.ScaleRegisterWithdrawalID
group by ScaleRegisterID,SRAW.ScheduleTypeID);
GO
