USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSubmittedJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSubmittedJV](@FromYear Int,@ToYear Int,@AcOLID Int,@YearID Int,@MonthID Int,@JVTypeID Int)
RETURNS Table AS
RETURN 	(



--Declare @FromYear Int select @FromYear = 2014
--Declare @ToYear Int select @ToYear = 2015
--Declare @AcOLID Int select @AcOLID = 658
--Declare @YearID Int select @YearID = 2014
--Declare @MonthID Int select @MonthID = 0
--Declare @JVTypeID Int select @JVTypeID = 1


select StartingFyYear,EndingFyYear,ola.OfficeID,AcOLID,SalaryOLID,YearID,MonthID,MonthDesc,SalaryInvoiceType,BillRegisterNo,BillRegisterDate,JournalVoucherNo,JournalVoucherDate,Narration
,JVTypeID,(Case when JVTypeID=1 then 'Regular JV' else Case when JVTypeID=2 then 'Prior JV' else Case when JVTypeID=3 then 'Rent JV' else Case when JVTypeID=4 then 'Recovery JV' else '' end end end end) as JVTypes
,(Case when len(DebitAcCode)<=1 then '' else DebitAcCode end) + (Case when len(DebitAcCode)<=1 then '' else ' - ' end)  + (isnull(ma.Description,'')+isnull(sa.Description,'')) as DebitAcCode
,(Case when len(CreditAcCode)<=1 then '' else CreditAcCode end) + (Case when len(CreditAcCode)<=1 then '' else ' - ' end) + (isnull(ma1.Description,'')+isnull(sa1.Description,'')) as CreditAcCode
,(Case when len(DebitAcCode)<=1 then 0 else Amount end) DebitAmount,(Case when len(CreditAcCode)<=1 then 0 else Amount end) CreditAmount 
,(Case when len(DebitAcCode)<=1 then 2 else 1 end) as TypesID,ola.Fileas as AcOfficeLocation,LocationCode as AcLocationCode from ( 


select StartingFyYear,EndingFyYear,si.OLID as AcOLID,SalaryOLID,YearID,MonthID,MonthDesc,SalaryInvoiceType,si.BillRegisterNo,BillRegisterDate
,(case when len(jv.OfficialReferenceNo)=0 then cast(jv.JournalVoucherNo as varchar(20)) else jv.OfficialReferenceNo end) as JournalVoucherNo,jv.JournalVoucherDate,JournalVoucherType,sjv.Narration,JVTYpeID
,(isnull(FromMainAccountCode,'')+isnull(FromSubAccountCode,'')+isnull(cast(VoltageClassID as varchar(10)),'')) as DebitAcCode
,isnull(ToMainAccountCode,'')+isnull(ToSubAccountCode,'')+isnull(cast(VoltageClassID as varchar(10)),'') as CreditAcCode,isnull(Amount,0) as Amount
,FromMainAccountCode,FromSubAccountCode,ToMainAccountCode,ToSubAccountCode

from ( select * from ( select convert(datetime,(cast((case when Month(BillRegisterDate) in (1,2,3) then Year(BillRegisterDate)-1 else Year(BillRegisterDate) end) as varchar(4))+'-4-1')) as StartingFyYear
,convert(datetime,(cast((case when Month(BillRegisterDate) in (1,2,3) then Year(BillRegisterDate) else Year(BillRegisterDate)+1 end) as varchar(4))+'-3-31')) as EndingFyYear
,OLID,SalaryOLID,Year(BillRegisterDate) as YearID,Month(BillRegisterDate) as MonthID,DateName(Month,BillRegisterDate) as MonthDesc,SalaryInvoiceType,BillRegisterNo as BillRegisterNo1
,(case when len(OfficialReferenceNo)=0 then cast(BillRegisterNo as varchar(20)) else OfficialReferenceNo end) as BillRegisterNo,BillRegisterDate 
from SalaryInvoice where InvoiceTypeID=11 ) as SI
where Year(StartingFyYear)=@FromYear and Year(EndingFyYear)=@ToYear 
and SalaryOLID=(case when @AcOLID=0 then SalaryOLID else @AcOLID end) 
and Year(BillRegisterDate)=(case when @YearID=0 then Year(BillRegisterDate) else @YearID end) 
and Month(BillRegisterDate)=(case when @MonthID=0 then Month(BillRegisterDate) else @MonthID end) ) as SI

left outer join ( select BillRegisterNo,BillRegisterOLID,JournalVoucherNo,JournalVoucherOLID,Narration,JournalVoucherType
,(case when JournalVoucherType='PriorPeriod' then 2 else case when JournalVoucherType='Rent' then 3 else case when JournalVoucherType in ('Negative','Nagative') then 4 else 1 end end end) as JVTypeID
from SalaryInvoiceJournalVoucherDetails ) as SJV on sjv.BillRegisterNo=si.BillRegisterNo1 and sjv.BillRegisterOLID=si.OLID 

left outer join JournalVoucher jv on jv.JournalVoucherNo=sjv.JournalVoucherNo 
left outer join JournalVoucherDetails jvd on jvd.JournalVoucherNo=jv.JournalVoucherNo and jvd.OLID=jv.OLID
where sjv.JVTypeID=@JVTypeID

) as JV 
left outer join MainAccount ma on ma.MainAccountCode=jv.FromMainAccountCode
left outer join SubAccount sa on sa.SubAccountCode=jv.FromSubAccountCode and sa.MainAccountCode=ma.MainAccountCode
left outer join MainAccount ma1 on ma1.MainAccountCode=jv.ToMainAccountCode
left outer join SubAccount sa1 on sa1.SubAccountCode=jv.ToSubAccountCode and sa1.MainAccountCode=ma1.MainAccountCode
left outer join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=SalaryOLID
left outer join LocationCode lc on lc.OfficeID=ola.OfficeID and lc.LocationID=ola.LocationID and Budget=1
where Amount<>0



);
GO
