USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSRAllowanceSalPaid]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSRAllowanceSalPaid](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS @SrAllowances TABLE
(
ScaleRegisterID bigint,AllowanceID int,ODLDID INT  ,
 TobePaidAmount money,	PaidAmount	money, Amount money
)
AS
BEGIN
INSERT INTO @SrAllowances

select sra.ScaleRegisterID,sra.AllowanceID,sra.ODLDID,sra.TobePaidAmount,sra.PaidAmount,sra.Amount from ( 
select ScaleRegisterID,ODLDID,AllowanceID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select SRA.ScaleRegisterID,SRA.ODLDID,SRA.AllowanceID,SRA.Amount as TobePaidAmount,0 as PaidAmount,Amount
from ScaleRegisterAllowances SRA with(nolock)  inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) fn1 on sra.ScaleRegisterID=fn1.ScaleRegisterID
where    isnull(Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srrec.ODLDID_N,srw.ODLDID) as ODLDID,AllowanceID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select srw.ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID 
from ScaleRegisterWithdrawals srw with(nolock) inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW
inner join ScaleRegisterAllowanceWithdrawals srlw with(nolock) on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
inner join dbo.FnETLGetRec_ODLDID(@OLID,@YearID,@MonthID,@ContactID,'sa') srrec on srw.ScaleregisterID=srrec.ScaleregisterID
) as A Group By ScaleRegisterID,ODLDID,AllowanceID
) as SRA 

inner join ( 
select ScaleRegisterID,AllowanceID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select ScaleRegisterID,ODLDID,AllowanceID,Amount as TobePaidAmount,0 as PaidAmount,Amount
from ScaleRegisterAllowances with(nolock) where ScaleRegisterID in (select ScaleRegisterID from dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID)) and isnull(Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srrec.ODLDID_N,srw.ODLDID) as ODLDID,AllowanceID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select ScaleRegisterWithdrawalID,sr.ScaleregisterID,ODLDID from ScaleRegisterWithdrawals srw with(nolock) inner join (select ScaleRegisterID,ODLDID from dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID)) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW
inner join ScaleRegisterAllowanceWithdrawals srlw with(nolock) on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
inner join dbo.FnETLGetRec_ODLDID(@OLID,@YearID,@MonthID,@ContactID,'sa') srrec on srw.ScaleregisterID=srrec.ScaleregisterID
) as A Group By ScaleRegisterID,AllowanceID
Having (Case when AllowanceID = 20 then 1 else Round(Round(Sum(isnull(Amount,0)),2),0) end) <> 0
) as SRA1 on sra1.ScaleRegisterID=sra.ScaleRegisterID and sra1.AllowanceID=sra.AllowanceID 
order by sra.ScaleRegisterID




RETURN;
END;

GO
