USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[ESOverheadTotalOnSave]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ESOverheadTotalOnSave](@SENo Int) 

RETURNS Table AS 
RETURN (


Select 200000 CivilWorkOtherTypeID,'Ratemode' collate database_Default ratemode,0  ESAssetCatID,0  SEOWAID , '' Asstcat,
''   OverHd 
,0.0 EIPer,0.0  ERPer ,''  ReviserdPer,'' Source,
round(Isnull((cast(Sum(isnull(a.InitialAmount,0) ) as decimal(18,2))),0),2)InitialAmount ,
round(Isnull((cast(Sum(isnull(a.amount,0) ) as decimal(18,2))),0),2) amount,
--0.0 InitialAmount,0.0 amount,
--isnull(convert(varchar(200),(cast(Sum(isnull(a.InitialAmount ,0)) as float)))+' / '+convert(varchar(200),(Sum(isnull(a.amount,0))) ),0) collate database_default as ReviserdAmt,
concat(convert(varchar(200),Cast(Sum(CONVERT(DECIMAL(10,2),isnull(a.InitialAmount ,0))) as nvarchar) ),' / ',convert(varchar(200),Cast(Sum(CONVERT(DECIMAL(10,2),isnull(a.amount,0))) as nvarchar))  )AS ReviserdAmt,

0  VersionId, '' Module


from SanctionEstimateOthersWorkAllocation a with (nolock)
inner Join (select CivilWorkOtherTypeID,Description from CivilWorkOtherTypes with (nolock)) b on a.CivilWorkOtherTypeID=b.CivilWorkOtherTypeID
inner Join (select WorkAllocationSubID,((MainAccountCode+SubAccountCode)+'->' +Description ) Asstcat from WorkAllocationSub with (nolock)) c on a.WorkAllocationSubID=c.WorkAllocationSubID
inner Join ( Select SanctionEstimateWorkAllocationSubID,SanctionEstimateNo int,WorkAllocationID,WorkAllocationSubID,VersionID
from SanctionEstimateWorkAllocationSub with (nolock) where SanctionEstimateNo=@SENo 
 ) d on a.WorkAllocationSubID=d.WorkAllocationSubID
left Outer Join
(
	Select distinct Main.CivilWorkOtherTypeID, Left(Main.OverDesc,Len(Main.OverDesc)-1) As CivilDesc 
From
    (
        Select distinct ST2.labMatDesc, ST2.CivilWorkOtherTypeID ,
            (
                Select ST1.labMatDesc + ' + ' AS [text()]
                From (select a.CivilWorkOtherTypeID,c.Description overDesc,a.CivilWorkMeasurementTypeID,b.Description  labMatDesc
from CivilWorkOtherTypeSub a
inner Join CivilWorkMeasurementTypes b on a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
inner  Join CivilWorkOtherTypes c on a.CivilWorkOtherTypeID=c.CivilWorkOtherTypeID)  ST1
                Where ST1.CivilWorkOtherTypeID = ST2.CivilWorkOtherTypeID
                ORDER BY ST1.CivilWorkOtherTypeID
                For XML PATH ('')
            ) [OverDesc]
        From (select a.CivilWorkOtherTypeID,c.Description overDesc,a.CivilWorkMeasurementTypeID,b.Description  labMatDesc
from CivilWorkOtherTypeSub a
inner Join CivilWorkMeasurementTypes b on a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
Inner  Join CivilWorkOtherTypes c on a.CivilWorkOtherTypeID=c.CivilWorkOtherTypeID) ST2
    ) [Main]
)  f on a.CivilWorkOtherTypeID=f.CivilWorkOtherTypeID and b.CivilWorkOtherTypeID=f.CivilWorkOtherTypeID

where  a.SanctionEstimateNo= @SENo  
group by a.SanctionEstimateNo



)
GO
