USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnDate]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnDate](@YearID Int,@MonthID Int) RETURNS Table AS RETURN ( 

--Declare @YearID Int select @YearID = 2015 
--Declare @MonthID Int select @MonthID = 2 

select Days,(StartDate+Days-1) as DaysOfDate,StartDate,EndDate 
from ( select Top 31 Days=(Row_Number() over (Order By ContactID)) from Contacts with(nolock) Order By ContactID ) as CT 
Cross Join ( select convert(DateTime,(Cast(@YearID as Varchar(4))+'-'+cast(@MonthID as varchar(2))+'-1')) as StartDate
,EOMonth(convert(DateTime,(Cast(@YearID as Varchar(4))+'-'+cast(@MonthID as varchar(2))+'-1'))) as EndDate) as A where (StartDate+Days-1)<=EndDate 

);
GO
