USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnA]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnA]() RETURNS Table AS RETURN ( 

select * from scaleregister with (nolock) where contactid= 444

);
GO
