USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_AdjustmentJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_AdjustmentJV](@olid int,@month int,@yr int) RETURNS Table AS Return






select AccHead,(case when Debit<0 then 0 else Debit end) Debit,(case when Debit<0 then -Debit else Credit end) Credit
,Description,(case when Debit<0 then 'Credit' else 'Debit' end) Type from (
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.ISDAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '48.111')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.DepositAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '48.121')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description

union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.MSDAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '47.611')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.BJKJAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '28.626')sb
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.IPAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '28.627')sb
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.FLAdjusment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '75.769')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.OLAdjusment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '76.158')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.Incentivepay) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '76.173')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.Demandcharges) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '79.885')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.GruhaJyothiRevenueAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock)
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '28.630')sb
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.GruhaJyothiTaxAdjustment) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock)
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '28.631')sb
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select sb.MainAccountCode+sb.SubAccountCode+'7' AccHead,sum(dd.RESubsidyWrittenOff) Debit,0 Credit,sb.Description,'Debit' Type
from DCBAdjustmentDetails dd with (nolock)
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '28.640')sb
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7' ,sb.Description
union all
select dd.AccountHead+Cast(dd.VoltageClassId as Varchar(10)) Collate Database_Default AccHead,sum(dd.Amount) Debit,0 Credit, 'Other Adjustment' ,'Debit' Type
from DCBOtherAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month   and dr.Year=@yr and dr.olid<>@olid
group by dd.AccountHead+Cast(dd.VoltageClassId as Varchar(10)) Collate Database_Default 
) A where Debit!=0
union all
select AccHead,(case when Credit<0 then -Credit else Debit end) Debit,(case when Credit<0 then 0 else Credit end) Credit
,Description,(case when Credit<0 then 'Debit' else 'Credit' end) Type from (
select AccHead,Debit,sum(Credit) as Credit,Description,Type from (
select sb.MainAccountCode+sb.SubAccountCode+'7' as AccHead,0 as Debit,
sum(dd.BJKJAdjustment+dd.IPAdjustment+dd.DepositAdjustment+dd.MSDAdjustment+dd.Incentivepay+dd.ISDAdjustment+dd.Demandcharges+dd.FLAdjusment+dd.OLAdjusment+dd.GruhaJyothiRevenueAdjustment+dd.GruhaJyothiTaxAdjustment+RESubsidyWrittenOff)Credit ,
sb.Description,'Credit' as type
from DCBAdjustmentDetails dd with (nolock) 
inner join DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join VoltageClass vc with (nolock) on vc.VoltageClassID=dd.VoltageClassID
cross join (Select MainAccountCode,SubAccountCode,Description from SubAccount with (nolock) where MainAccountCode+SubAccountCode like '47.609')sb
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month  and dr.Year=@yr  and dr.olid<>@olid
group by sb.MainAccountCode+sb.SubAccountCode+'7',sb.Description
union all
select '47.6097' AccHead,0,sum(dd.amount) Credit,'Revenue Collection pending classification over Sundry Debtors' Description ,'Credit' Type
from DCBOtherAdjustmentDetails dd with (nolock) 
inner join  DCBRevenue dr with (nolock) on dr.DCBRevenueID=dd.DCBRevenueID
inner join  DCBTariffAllocation t with (nolock) on t.TariffID=dd.TariffID
inner join  OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=dr.OLID and ol.acolid=@olid
inner join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in(80,83)
where dr.Month=@month  and dr.Year=@yr and dr.olid<>@olid 
) as a group by AccHead ,Debit,Description,Type
) A;
GO
