USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[ESOverheadOnSave]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[ESOverheadOnSave](@SENo Int) RETURNS Table AS RETURN (

--Declare @SENo int=452288

Select a.ratemode collate database_Default ratemode,b.CivilWorkOtherTypeID,d.SanctionEstimateWorkAllocationSubID as ESAssetCatID,SanctionEstimateOthersWorkAllocationID as SEOWAID ,c.Asstcat collate database_default Asstcat,
b.Description collate database_default +' ( @ '+ convert(varchar(200),isnull(cast(a.InitialPercentage as decimal(18,2)),0.0) ) +' '  +a.ratemode +' of ('+ isnull(f.CivilDesc,'') + '))'    EStOverHd ,
b.Description collate database_default +' ( @ '+ convert(varchar(200),isnull(cast(a.Percentage as decimal(18,2)),0.0) ) +' '  +a.ratemode +' of ('+ isnull(f.CivilDesc,'') + '))'    OverHd ,
isnull(a.InitialPercentage,0) as EIPer,isnull(a.Percentage,0) as ERPer ,isnull(convert(varchar(200),(cast(isnull(a.InitialPercentage,0) as float)))+' / '+convert(varchar(200),(isnull(a.Percentage,0)) ),0) collate database_default as ReviserdPer,a.Source collate database_default as Source,
isnull(convert(varchar(200),cast(round(isnull(a.InitialAmount,0),2) as decimal(18,2))),0) collate database_default  as InitialAmount,
isnull(convert(varchar(200),cast(round(isnull(a.amount,0),2) as decimal(18,2))),0) collate database_default  as amount,
--cast (round(isnull(a.InitialAmount,0),2) as float)InitialAmount,
--cast (round(isnull(a.amount ,0),2) as float) amount,
isnull(convert(varchar(200),(cast(round(isnull(a.InitialAmount,0),2) as decimal(18,2))))+' / '+convert(varchar(200),cast((round( isnull(a.amount,0),2))as decimal(18,2) ) ),0) collate database_default as ReviserdAmt,
a.VersionId,a.Module
from SanctionEstimateOthersWorkAllocation a with (nolock)
inner Join (select CivilWorkOtherTypeID,Description from CivilWorkOtherTypes with (nolock)) b on a.CivilWorkOtherTypeID=b.CivilWorkOtherTypeID
inner Join (select WorkAllocationSubID,((MainAccountCode+SubAccountCode)+'->' +Description ) Asstcat from WorkAllocationSub with (nolock)) c on a.WorkAllocationSubID=c.WorkAllocationSubID
inner Join ( Select SanctionEstimateWorkAllocationSubID,SanctionEstimateNo int,WorkAllocationID,WorkAllocationSubID,VersionID
from SanctionEstimateWorkAllocationSub with (nolock) where SanctionEstimateNo=@SENo
) d on a.WorkAllocationSubID=d.WorkAllocationSubID
left Outer Join
(
	Select distinct Main.CivilWorkOtherTypeID, Left(Main.OverDesc,Len(Main.OverDesc)-1) As CivilDesc 
From
    (
        Select distinct ST2.labMatDesc, ST2.CivilWorkOtherTypeID ,
            (
                Select ST1.labMatDesc + ' + ' AS [text()]
                From (select a.CivilWorkOtherTypeID,c.Description overDesc,a.CivilWorkMeasurementTypeID,b.Description  labMatDesc
from CivilWorkOtherTypeSub a
inner Join CivilWorkMeasurementTypes b on a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
inner  Join CivilWorkOtherTypes c on a.CivilWorkOtherTypeID=c.CivilWorkOtherTypeID)  ST1
                Where ST1.CivilWorkOtherTypeID = ST2.CivilWorkOtherTypeID
                ORDER BY ST1.CivilWorkOtherTypeID
                For XML PATH ('')
            ) [OverDesc]
        From (select a.CivilWorkOtherTypeID,c.Description overDesc,a.CivilWorkMeasurementTypeID,b.Description  labMatDesc
from CivilWorkOtherTypeSub a
inner Join CivilWorkMeasurementTypes b on a.CivilWorkMeasurementTypeID=b.CivilWorkMeasurementTypeID
Inner  Join CivilWorkOtherTypes c on a.CivilWorkOtherTypeID=c.CivilWorkOtherTypeID) ST2
    ) [Main]
)  f on a.CivilWorkOtherTypeID=f.CivilWorkOtherTypeID and b.CivilWorkOtherTypeID=f.CivilWorkOtherTypeID
where  a.SanctionEstimateNo= @SENo 

)
GO
