USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetMeasurementBookWorkAlocationDetailsSec]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetMeasurementBookWorkAlocationDetailsSec](@WorkOrderNumber int,@MeasurementBookID int )
RETURNS Table AS Return
(













Select mba.MeasurementBookID,mba.MeasurementBookWorkAllocationDetailsID,WorkAllocationID,WorkAllocationSubID,CivilWorkMeasurementTypeID,mba.MILCWID,mba.Quantity,mba.UnitID,mrl.itemid,
             mrl.Quantity LQuantity,mrl.Unitid  Lunitid from (
              select MeasurementBookID from MeasurementBook mb1 with(nolock) where workorderno=@WorkOrderNumber  and isnull(completionreport,0)=0  and ( MeasurementBookID not in (
             select DocumentNo from ActivityApprovals_Works aa with(nolock) where StatusID=8 and ActivityID=74 and aa.DocumentNo=mb1.MeasurementBookID ) or isnull(MeasurementBookID,0)=@MeasurementBookID )
             ) mb
             Inner Join MeasurementBookWorkAllocationDetails mba with(nolock) on mba.MeasurementBookID=mb.MeasurementBookID
             left join MeasurementBookReturnableLabourDetails mrl on mrl.MeasurementBookWorkAllocationDetailsID=mba.MeasurementBookWorkAllocationDetailsID
             








 


)
GO
