USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnGetStoreKeeperName]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnGetStoreKeeperName] (@OLID int,@EDate Datetime) RETURNS Table AS RETURN ( 




select Appointments.ContactID, Ct.Fileas as EmployeeNAme ,Officename +' - ' +DepartmentName +' - ' +LocationName +' - ' +DesignationName Post, DesignationName,Appointments.ODLDID
,OL.OfficeLocationAllocationID as OLID,Incharge, Officename ,DepartmentName ,LocationName from (

select A.ContactID,A.ToODLDID as ODLDID,'Yes' as 'Incharge' 
from (select * from EmployeeAppointmentDetails A with(nolock) where A.AppointmentTypeID in(6,7,25,43,46,44) and A.Reported=1 and A.Approved=1 and isnull(a.legacy,0)=0 ) A
inner join Today_hrms B  on  B.Ac_olid=@OLID
inner join Contacts CT with(nolock) on CT.ContactID=A.ContactID 
inner join ODLDAllocation ODLD with(nolock) on A.ToODLDID=ODLD.ODLDID and DesignationID=253 and DepartmentID=187 
inner join Office O with(nolock) on ODLD.OfficeID=O.OfficeID 
inner join Department D with(nolock) on ODLD.DepartmentID=D.DepartmentID 
inner join Location L with(nolock) on ODLD.LocationID=L.LocationID 
inner join Designation DS with(nolock) on ODLD.DesignationID=DS.DesignationID 
inner join OfficeLocationAllocation OL with(nolock) on o.OfficeID=OL.OfficeID and L.LocationID=ol.LocationID and officelocationallocationid=@OLID 
where (@EDate between (case when @EDate=0 then 0 else cast(cast(A.RelievedTime as int) as datetime)-1 end) and (case when @EDate=0 then 0 else isnull(cast(cast(A.ReportedTime as int) as datetime)-1,B.Today) end) or @EDate between (case when @EDate=0 then 0 else cast(cast(A.RelievedTime as int) as datetime)-1 end) and (case when @EDate=0 then 0 else isnull(cast(cast(A.ReportedTime as int) as datetime)-1,B.Today) end )) 
union 
select ContactID,ODLDID,'No' Incharge from (
select ContactID,FieldValue as ODLDID,(case when FromDate<=ToDate then FromDate else ToDate end) FromDate,ToDate from ( 
select ContactID ,FieldValue,isnull(lag(ValidUpto+1) over (Partition By ContactID order By ContactID,ValidUpto,EmployeeHistoryID ),0) FromDate,ValidUpTo ToDate 
,(Row_Number() over (Partition By ContactID order By ContactID,ValidUpto,EmployeeHistoryID)) RowNum from ( select ContactID,FieldValue,ValidUpTo,EmployeeHistoryID 
from EmployeeHistory_HRMS with(nolock) where FieldName='ODLDID' 
union 
select ContactID,ODLDID,Today,999999999 from Employee with(nolock) inner Join Today_HRMS B1 on  B1.Ac_olid=@OLID
) Temp1 ) Temp2 ) Temp3 
where ( @EDate between (case when @EDate=0 then 0 else FromDate end) and (case when @EDate=0 then 0 else Todate end) or @EDate between (case when @EDate=0 then 0 else FromDate end) and (case when @EDate=0 then 0 else ToDate end))

) as Appointments 
inner join Contacts CT with(nolock) on Appointments.ContactID=CT.ContactID 
inner join ODLDAllocation ODLD with(nolock) on Appointments.ODLDID=ODLD.ODLDID and DesignationID=253 and DepartmentID=187 
inner join Office O with(nolock) on ODLD.OfficeID=O.OfficeID 
inner join Department D with(nolock) on ODLD.DepartmentID=D.DepartmentID 
inner join Location L with(nolock) on ODLD.LocationID=L.LocationID 
inner join Designation DS with(nolock) on ODLD.DesignationID=DS.DesignationID 
inner join OfficeLocationAllocation OL with(nolock) on o.OfficeID=OL.OfficeID and L.LocationID=ol.LocationID and officelocationallocationid=@OLID 

) 
GO
