USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAttendance]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAttendance](@AcOLID Int,@ContactID Int) RETURNS Table AS RETURN ( 

--Declare @AcOLID Int select @AcOLID = 341 
--Declare @ContactID Int select @ContactID = 1844 

select MaxNo1 as SlNo,ContactID,ScaleregisterID,OLID,Generated,StartingDate,EndingDate,SalaryYear,SalaryMonth,DaysWorked,StartAttendanceDate,LastAttendanceDate,Complete,ODLDID,EmployeeGradeID from ( 
select sr.*,isnull(srb.ODLDID,e.ODLDID) as ODLDID,egda.EmployeeGradeID
,(Row_Number() over (Partition By sr.ContactID,sr.ScaleregisterID Order By sr.ContactID,sr.ScaleregisterID,srb.startingDate desc,ScaleregisterBasicPayDetailsID desc)) as MaxNo2 from ( 
select *,(case when EndingDate=LastAttendanceDate then 1 else 0 end) as Complete,(Row_Number() over (Partition By ContactID Order By ContactID,startingDate desc,LastAttendanceDate desc)) as MaxNo1 from ( 
select sr.*,DaysWorked,StartAttendanceDate,LastAttendanceDate ,(Row_Number() over (Partition By ContactID,SalaryYear,SalaryMonth Order By ContactID,SalaryYear,SalaryMonth,sra.LastAttendanceDate desc,ScaleRegisterAttendencesID desc)) as MaxNo from ( 

select ContactID,ScaleRegisterID,OLID,Generated,StartingDate,EndingDate,SalaryYear,SalaryMonth 
from ScaleRegister with (nolock) where Suppliment in (0,9,8) and isnull(Legacy,0)=0 and StartingDate>='2013-04-01' 
and (case when @AcOLID=0 then 0 else OLID end)=@AcOLID and (case when @ContactID=0 then 0 else ContactID end)=@ContactID 
) as SR left outer join ScaleRegisterAttendences sra with (nolock) on sra.ScaleRegisterID=sr.ScaleRegisterID ) as SR where MaxNo=1 
) as SR left outer join ScaleregisterBasicPayDetails srb with (nolock) on srb.ScaleRegisterID=sr.ScaleRegisterID and isnull(srb.ODLDID,0)<>0 and isnull(Amount,0)<>0 
left outer join Employee e with (nolock) on e.ContactID=sr.ContactID 
left outer join ODLDAllocation odld with (nolock) on odld.ODLDID=isnull(srb.ODLDID,e.ODLDID) 
left outer join EmployeeGradeDesignationAllocation egda with (nolock) on egda.DesignationID=odld.DesignationID 
) as SR where MaxNo2=1 

);
GO
