USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TaxInvoiceConsolidate_Canceled]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TaxInvoiceConsolidate_Canceled] ( @AcOLID Int,@YearID Int,@MonthID Int  ) 
RETURNS Table AS Return (


--Declare @AcOLID Int  = 337
--Declare @YearID Int  = 2023
--Declare @MonthID Int  = 5



select a.*,cast(dbo.udf_GetNumeric(right(TaxInvoiceNo,len(TaxInvoiceNo)-PATINDEX('%-%', TaxInvoiceNo))) as Int) OrderNo1 from (

select Date,OLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default TaxInvoiceNo,Date1,ContactName,GSTINNo,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType,AcHead,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,0 TCS,(Taxable+SGST+CGST+IGST+0) TotalInvoice from (
select isnull(DateAndTime,ReferenceDate) Date,a.OLID,b.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,isnull(DateAndTime,ReferenceDate)),3),'-',right(Year(isnull(DateAndTime,ReferenceDate)),2)) Months
,TaxInvoiceNo,Convert(Varchar,isnull(DateAndTime,ReferenceDate),104) Date1,isnull(ct.Fileas,ContactName) ContactName,GSTINNo,ola1.Fileas Location,(isnull(a.Amount,0)+isnull(RoundOffAmount,0)) Taxable
,isnull(p1.Description,p.Description) ProductType,(BalanceCollectionMainAccountCode+BalanceCollectionSubAccountCode) AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,isnull(a.TDSAmount,0) TDSAmount from (

select * from SecurityDepositDetails a with(nolock) where Year(ReferenceDate)= @YearID and Month(ReferenceDate)= @MonthID 
and OLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.OLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) ) a
Inner Join SecurityDeposit b with(nolock) on b.SecurityDepositID=a.SecurityDepositID and isnull(b.Approved,0)=0 
	and isnull(b.TaxinvoiceNO,'')<>'' and b.SecurityDepositId in ( select distinct documentno from ActivityApprovals_Accounts where ActivityID=290 and StatusID=8 ) 
cross apply ( select SecurityDepositID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from SecurityDepositTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.SecurityDepositID=a.SecurityDepositID Group By SecurityDepositID ) c
Left Outer Join AllocationStatementPresetData P with(nolock) on p.AllocationStatementPresetDataID=a.DepositTypeID
Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=b.ProductTypeID and (MainAccountCode+SubAccountCode) collate database_default = (BalanceCollectionMainAccountCode+BalanceCollectionSubAccountCode)
Left Outer Join Contacts CT with(nolock) on ct.ContactID=b.ContactID
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.OLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.OLID
outer apply ( select top 1 DateAndTime from ActivityApprovals_Accounts aa with(nolock) where activityid = 290 and DateAndTime >= dateadd(month,-1,dateadd(day,1,EOMonth(ReferenceDate))) 
		and documentno = a.SecurityDepositID and Statusid=8 order by ActivityApprovalID desc ) aa 
) A ) A 

union all

select JVDate,BillRegisterOLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default,Date1,ContactName collate database_default,GSTINNo,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType collate database_default,AcHead collate database_default,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,0 TCS,(Taxable+SGST+CGST+IGST+0) TotalInvoice from (
select JVDate,a.BillRegisterOLID,ct.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,JVDate),3),'-',right(Year(JVDate),2)) Months
,TaxInvoiceNo,Convert(Varchar,JVDate,104) Date1,isnull(ct.Fileas,b.RecepientName) ContactName,'' GSTINNo,ola1.Fileas Location,(isnull(r1.Amount,0)) Taxable
,r.Description ProductType,(r.ToMainAccountCode+r.ToSubAccountCode) AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,0 TDSAmount from (
select a.*,isnull(JournalVoucherDate,BillRegisterDate) JVDate 
		from MiscellaneousInvoice a with(nolock) left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
		where isnull(paid,0)=0 and Year(isnull(JournalVoucherDate,BillRegisterDate))= @YearID and Month(isnull(JournalVoucherDate,BillRegisterDate))= @MonthID
		and BillRegisterOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.BillRegisterOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) 
		and isnull(TaxinvoiceNo,'')<>'' and BillRegisterNo in ( select distinct documentno from ActivityApprovals_Accounts where ActivityID=75 and StatusID=8 )
		) A Inner Join MiscellaneousInvoiceDetails b with(nolock) on b.BillRegisterNo=a.BillRegisterNO and b.BillRegisterOLID=a.BillRegisterOLID
Outer Apply (select RecoveryID,Sum(RecoveryAmount) Amount from RecoveryDetails R1 with(nolock) where r1.RecoveryID='36' and r1.BillRegisterNo=a.BillRegisterNo and r1.OLID=a.BillRegisterOLID Group By RecoveryID) R1
Left Outer Join Recovery R with(nolock) on r.RecoveryID=r1.RecoveryID
Left Outer Join ExternalOrganisations B1 with(nolock) on b1.Name=a.RecepientName
Left Outer join ExternalOrganisationBranches C1 with(nolock) on c1.ExternalOrganisationID=b1.ExternalOrganisationID
cross apply ( select  BillRegisterNo,OLID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from RecoveryDetails c1 with(nolock) 
		Inner Join Recovery r with(nolock) on r.RecoveryID =c1.RecoveryID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.BillRegisterNo=a.BillRegisterNo and c1.OLID=a.BillRegisterOLID Group By BillRegisterNo,OLID ) c
Left Outer Join Contacts CT with(nolock) on ct.ContactID=b.RecepientContactID
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.BillRegisterOLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.BillRegisterOLID
) A ) A 

union all

select JVDate Date,JournalVoucherOLID OLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default TaxInvoiceNo,Date1,ContactName collate database_default ContactName,GSTINNo,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType collate database_default ProductType,AcHead collate database_default AcHead,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,0 TCS,(Taxable+SGST+CGST+IGST+0) TotalInvoice from (
select JVDate,a.JournalVoucherOLID,ct.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,JVDate),3),'-',right(Year(JVDate),2)) Months
,TaxInvoiceNo,Convert(Varchar,JVDate,104) Date1,isnull(ct.Fileas,a.Contactname) ContactName,GSTINNo,ola1.Fileas Location,(isnull(a.Amount,0)-(isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0))) Taxable
,c.Description ProductType,(c.MainAccountCode+c.SubAccountCode) AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,0 TDSAmount from (
select DivisionAdjustmentID,ToScheduleID,TaxInvoiceNo,a.JournalVoucherNo,JVDate,Amount ,JournalVoucherOLID,Contactname 
from ( select isnull(JournalVoucherDate,AdjustmentDate) JVDate,b.DivisionAdjustmentID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,a.JournalVoucherNo,b.ToAccountCode,Sum(isnull(b.AmounttobeAdjusted,0)) Amount,JournalVoucherOLID 
	from DivisionAdjustments A with(nolock) 
	Inner Join DivisionAdjustmentDetails B on b.DivisionAdjustmentID=a.DivisionAdjustmentID
	left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo 
	where isnull(Canceled,0)=1 and DivisionAdjustmentTypeID = 2 and Year(isnull(JournalVoucherDate,AdjustmentDate))= @YearID and Month(isnull(JournalVoucherDate,AdjustmentDate))= @MonthID 
	and JournalVoucherOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) 
	Group By isnull(JournalVoucherDate,AdjustmentDate),b.DivisionAdjustmentID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,a.JournalVoucherNo,b.ToAccountCode,JournalVoucherOLID,Contactname
	) A	) A Inner Join Schedules B with(nolock) on b.ScheduleID=a.ToScheduleID
Left Outer Join ScheduleTypes C on c.ScheduleTypeID=b.ScheduleTypeID
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=b.ContactID ) D 
cross apply ( select DivisionAdjustmentID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DivisionAdjustmentTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.DivisionAdjustmentID=a.DivisionAdjustmentID Group By DivisionAdjustmentID ) c1
Left Outer Join Contacts CT with(nolock) on ct.ContactID=b.ContactID
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.JournalVoucherOLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.JournalVoucherOLID
) A ) A 

union all 

select JVDate,JournalVoucherOLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default,Date1,ContactName collate database_default,GSTINNo,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType collate database_default,AcHead collate database_default,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,0 TCS,(Taxable+SGST+CGST+IGST+0) TotalInvoice from (
select JVDate,a.JournalVoucherOLID,ct.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,JVDate),3),'-',right(Year(JVDate),2)) Months
,TaxInvoiceNo,Convert(Varchar,JVDate,104) Date1,isnull(ct.Fileas,ContactName) ContactName,GSTINNo,ola1.Fileas Location,(isnull(a.Amount,0)-(isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0))) Taxable
,isnull(p1.Description,p.Description) ProductType,ToAccountCode AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,0 TDSAmount from (
select DivisionAdjustmentDetailsID,DivisionAdjustmentID,ToScheduleID,TaxInvoiceNo,a.JournalVoucherNo,JVDate,Amount ,JournalVoucherOLID,ProductTypeID,ToAccountCode,ContactID,ContactName 
from ( select isnull(JournalVoucherDate,AdjustmentDate) JVDate,DivisionAdjustmentDetailsID,b.DivisionAdjustmentID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,a.JournalVoucherNo,b.ToAccountCode,Sum(isnull(b.AmounttobeAdjusted,0)) Amount,JournalVoucherOLID 
	from DivisionAdjustments A with(nolock) 
	Inner Join DivisionAdjustmentDetails B on b.DivisionAdjustmentID=a.DivisionAdjustmentID
	left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo 
	where isnull(Canceled,0)=1 and DivisionAdjustmentTypeID = 1 and Year(isnull(JournalVoucherDate,AdjustmentDate))= @YearID and Month(isnull(JournalVoucherDate,AdjustmentDate))= @MonthID 
	and JournalVoucherOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) 
	Group By isnull(JournalVoucherDate,AdjustmentDate),DivisionAdjustmentDetailsID,b.DivisionAdjustmentID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,a.JournalVoucherNo,b.ToAccountCode,JournalVoucherOLID
	) A	) A Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=a.ProductTypeID 
Left Outer Join SubAccount P with(nolock) on (p.MainAccountCode+p.SubAccountCode)=a.ToAccountCode collate database_default
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=a.ContactID ) D 
cross apply ( select DivisionAdjustmentDetailsID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DivisionAdjustmentScheduleTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.DivisionAdjustmentDetailsID=a.DivisionAdjustmentDetailsID Group By DivisionAdjustmentDetailsID ) c1
Left Outer Join Contacts CT with(nolock) on ct.ContactID=a.ContactID
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.JournalVoucherOLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.JournalVoucherOLID
) A ) A 

union all

select JVDate,JournalVoucherOLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default,Date1,ContactName collate database_default,GSTINNo,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType collate database_default,AcHead collate database_default,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,(case when Rownum=1 then DutiesAmount else 0 end) TCS
,(Taxable+SGST+CGST+IGST+ (case when Rownum=1 then DutiesAmount else 0 end) ) TotalInvoice from (
select JVDate,a.JournalVoucherOLID,ct.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,JVDate),3),'-',right(Year(JVDate),2)) Months,Rownum,DutiesAmount 
,TaxInvoiceNo,Convert(Varchar,JVDate,104) Date1,ct.Fileas ContactName,GSTINNo,ola1.Fileas Location,(isnull(AuctionAmount,0)) Taxable
,mc.Description ProductType,'' AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,0 TDSAmount from (
select SaleOfScrapID,InvoiceOLID,TaxInvoiceNo,InvoiceOLID JournalVoucherOLID,ContactID,DutiesAmount,(case when Year(isnull(DateAndTime,SaleOfScrapDate))=Year and Month(isnull(DateAndTime,SaleOfScrapDate))=Month then isnull(DateAndTime,SaleOfScrapDate) else EOMONTH(convert(datetime,concat(Year,'-',Month,'-1'))) end) JVDate 
		from SaleOfScrap a with(nolock) left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo 
		outer apply ( select DateAndTime from ActivityApprovals_Accounts aa with(nolock) where activityid = 643 and DateAndTime >= convert(datetime,concat(Year,'-',Month,'-1')) and documentno = a.SaleOfScrapID and Statusid=8 ) aa 
		where isnull(a.Canceled,0)=1 and Year= @YearID and Month= @MonthID
		--and Year(isnull(JournalVoucherDate,(case when Year(SaleOfScrapDate)=Year and Month(SaleOfScrapDate)=Month then SaleOfScrapDate else EOMONTH(convert(datetime,concat(Year,'-',Month,'-1'))) end)))= @YearID 
		--and Month(isnull(JournalVoucherDate,(case when Year(SaleOfScrapDate)=Year and Month(SaleOfScrapDate)=Month then SaleOfScrapDate else EOMONTH(convert(datetime,concat(Year,'-',Month,'-1'))) end)))= @MonthID
		and InvoiceOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) 
) A cross apply(select *,(Row_number() over (Order By SaleOfScrapMaterialDetailsID)) Rownum from SaleOfScrapMaterialDetails B with(nolock) where b.SaleOfScrapID=a.SaleOfScrapID ) B
Left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.ContactID
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=a.ContactID ) D 
Outer Apply (select * from (select *,(Row_Number() over (Partition By ContactID Order By ContactID,ContactAddressDetailsID desc)) MaxNo from ContactAddressDetails E with(nolock) where e.ContactID=a.ContactID ) A where MaxNo=1) E
Left Outer Join Address F with(nolock) on f.AddressID=e.AddressID
Left Outer Join MaterialCode MC with(nolock) on mc.ItemID=b.ItemID
Left Outer Join UnitOfMeasure U with(nolock) on u.UnitID=b.UnitID
cross apply ( select SaleOfScrapMaterialDetailsID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from SaleOfScrapMaterialTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.SaleOfScrapMaterialDetailsID=b.SaleOfScrapMaterialDetailsID Group By SaleOfScrapMaterialDetailsID ) c1
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.JournalVoucherOLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.JournalVoucherOLID
) A ) A where len(isnull(TaxInvoiceNo,''))!=0 

union all 

select JVDate,JournalVoucherOLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default,Date1,ContactName collate database_default,GSTINNo collate database_default,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType collate database_default,AcHead collate database_default,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,0 TCS,(Taxable+SGST+CGST+IGST+0) TotalInvoice from (
select JVDate,a.JournalVoucherOLID,ct.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,JVDate),3),'-',right(Year(JVDate),2)) Months
,TaxInvoiceNo,Convert(Varchar,JVDate,104) Date1,isnull(ct.Fileas,'') ContactName,GSTINNo,ola1.Fileas Location,(isnull(a.Amount,0)) Taxable
,isnull(p1.Description,p.Description) ProductType,CreditAccountCode AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,0 TDSAmount from (
select DemandRaisingID,TaxInvoiceNo,a.JournalVoucherNo,JVDate,Amount ,JournalVoucherOLID,ProductTypeID,CreditAccountCode,ContactID,GSTINNo from ( 
select isnull(JournalVoucherDate,DemandRaisingDate) JVDate,b.DemandRaisingID,b.TaxInvoiceNo,b.ContactID,a.ProductTypeID,a.JournalVoucherNo,a.CreditAccountCode,Sum(isnull(b.Amount,0)) Amount,JournalVoucherOLID,GSTINNo 
	from DemandRaising A with(nolock) 
	Inner Join DemandRaisingDetails B with(nolock) on b.DemandRaisingID=a.DemandRaisingID
	left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo 
	where isnull(Canceled,0)=1  and Year(isnull(JournalVoucherDate,DemandRaisingDate))= @YearID and Month(isnull(JournalVoucherDate,DemandRaisingDate))= @MonthID
	and JournalVoucherOLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.JournalVoucherOLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) 
	Group By isnull(JournalVoucherDate,DemandRaisingDate),b.DemandRaisingID,b.TaxInvoiceNo,b.ContactID,a.ProductTypeID,a.JournalVoucherNo,a.CreditAccountCode,JournalVoucherOLID,GSTINNo
	) A	) A Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=a.ProductTypeID 
Left Outer Join SubAccount P with(nolock) on (p.MainAccountCode+p.SubAccountCode)=a.CreditAccountCode collate database_default
cross apply ( select DemandRaisingID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DemandRaisingTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.DemandRaisingID=a.DemandRaisingID Group By DemandRaisingID ) c1
Left Outer Join Contacts CT with(nolock) on ct.ContactID=a.ContactID
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.JournalVoucherOLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.JournalVoucherOLID
) A ) A 

union all 

select JVDate,BillRegisterOLID,ContactID,AcLocation,Months,TaxInvoiceNo collate database_default,Date1,ContactName collate database_default,GSTINNo,Location,Taxable,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,TotalTax,TCS,TotalInvoice,ProductType collate database_default,AcHead collate database_default,TDSAmount from (
select *,(SGST+CGST+IGST) TotalTax,0 TCS,(Taxable+SGST+CGST+IGST+0) TotalInvoice from (
select JVDate,a.BillRegisterOLID,ct.ContactID,ola.Fileas AcLocation,concat(left(DateName(Month,JVDate),3),'-',right(Year(JVDate),2)) Months
,TaxInvoiceNo,Convert(Varchar,JVDate,104) Date1,ct.Fileas ContactName,GSTINNo,ola1.Fileas Location,(isnull(r1.Amount,0)) Taxable
,r.Description ProductType,(r.ToMainAccountCode+r.ToSubAccountCode) AcHead
,SGSTRate,SGST,CGSTRate,CGST,IGSTRate,IGST,0 TDSAmount from (
select a.*,JournalVoucherDate JVDate,a.OLID BillRegisterOLID 
		from ContractAgencyInvoice a with(nolock) 
		left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo and Year(JournalVoucherDate)= @YearID and Month(JournalVoucherDate)= @MonthID
		where a.OLID in (select OLID from OfficeLocationAccountingUnitDetails OL with(nolock) where ol.OLID=a.OLID and (ol.CorporateOLID= @AcOLID or ol.AcOLID= @AcOLID or ol.OLID= @AcOLID)) 
		and isnull(TaxinvoiceNo,'')<>'' and BillRegisterNo in ( select distinct documentno from ActivityApprovals_Accounts where ActivityID=267 and StatusID=8 )
		) A Outer Apply (select RecoveryID,Sum(RecoveryAmount) Amount from RecoveryDetails R1 with(nolock) where r1.RecoveryID='13' and r1.BillRegisterNo=a.BillRegisterNo and r1.OLID=a.BillRegisterOLID Group By RecoveryID) R1
Left Outer Join Recovery R with(nolock) on r.RecoveryID=r1.RecoveryID
Left Outer Join Contacts CT with(nolock) on ct.ContactID=a.ContactID
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=a.ContactID ) D 
cross apply ( select  BillRegisterNo,OLID
		,Sum(case when ToSubAccountCode in ('88','92','95','98') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('87','91','94','97') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('86','90','93','96') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('88','92','95','98') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('87','91','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','90','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from RecoveryDetails c1 with(nolock) 
		Inner Join Recovery r with(nolock) on r.RecoveryID =c1.RecoveryID and ToMainAccountCode='46.9' and ToSubAccountCode in ('88','92','95','98','87','91','94','97','86','90','93','96')
		where c1.BillRegisterNo=a.BillRegisterNo and c1.OLID=a.BillRegisterOLID Group By BillRegisterNo,OLID ) c
Left Outer Join OfficeLocationAccountingUnitDetails OL with(nolock) on ol.OLID=a.BillRegisterOLID
Left Outer Join OfficeLocationAllocation OLA with(nolock) on ola.OfficeLocationAllocationID=ol.AcOLID
Left Outer Join OfficeLocationAllocation OLA1 with(nolock) on ola1.OfficeLocationAllocationID=a.BillRegisterOLID
) A ) A 

) A Left Outer Join OfficeLocationAccountingUnitDetails OL1 with(nolock) on ol1.OLID=a.OLID
where TaxInvoiceNo>'0'
--where  taxinvoiceno='0722-000497'
--Order By ol1.ZonalOLID,ol1.CircleOLID,ol1.DivisionOLID,OrderNo1,ol1.SubDivisionOLID,ol1.OrderNo,Date,Contactname

);
GO
