USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnAllowanceLive]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnAllowanceLive](@AcOLID Int,@FromYear Int,@ToYear Int,@InChargeOLID Int) RETURNS Table AS RETURN ( 






select ScaleRegisterID,AllowanceID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select ScaleRegisterID,AllowanceID,Round(Round(sum(isnull(Amount,0)),2),0) as TobePaidAmount,0 as PaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as Amount 
from ScaleRegisterAllowances with (nolock) where  isnull(Amount,0)<>0 
and ScaleRegisterID in (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) 
Group By ScaleRegisterID,AllowanceID 
union all 
select srw.ScaleRegisterID,AllowanceID,0 as TobePaidAmount,Round(Round(sum(isnull(Amount,0)),2),0) as PaidAmount,-Round(Round(sum(isnull(Amount,0)),2),0) as Amount from ( 
select ScaleRegisterWithdrawalID,sr.ScaleregisterID from ScaleRegisterWithdrawals srw with (nolock) 
inner join (select ScaleRegisterID from FnSRIDLive(@FromYear,@ToYear,@AcOLID,@InChargeOLID)) sr on sr.ScaleRegisterID=srw.ScaleregisterID 
) as SRW inner join ScaleRegisterAllowanceWithdrawals srlw with (nolock) on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0 
Group By ScaleRegisterID,AllowanceID ) as A Group By ScaleRegisterID,AllowanceID Having sum(isnull(Amount,0)) <>0 

)
GO
