USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMRStoreInvoice]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMRStoreInvoice] (@AcOLID Int)

RETURNS Table AS 
RETURN  (

 -- if row exists then WUP else WTTU 

--Declare @AcOLID Int select @AcOLID = 337


select * from (
select AcOLID,DocumentNo,ItemID,FnUnitID,Sum(QuantityIssued) as QuantityIssued,Max(Multiply) as Multiply,Max(Devided) as Devided,Sum(case when ActualQuantity=0 then QuantityIssued else ActualQuantity end) as ActualQuantity from (
select * ,(Round((QuantityIssued*Multiply),4) + (case when (QuantityIssued=0 or Devided=0) then 0 else Round((QuantityIssued/Devided),4) end)) as ActualQuantity from ( 
select si.*,isnull(mc.Quantity,0) as Multiply,isnull(dc.Quantity,0) as Devided from ( 
select si.*,fn.UnitID as FnUnitID,(Row_Number() over (Partition By DocumentNo,si.ItemID Order By DocumentNo,si.ItemID,StockConditionID)) as MinNo from ( 
select AcOLID,si.* ,sid.UnitID,sid.ItemID,QuantityIssued from ( 

select StoreInvoiceNo,OLID,StoreInvoiceDate,DocumentTypeID,DocumentNo,DocumentOLID from StoreInvoice_PNI where Passed=1 and isnull(Canceled,0)=0 and DocumentTypeID=2 and DocumentNo in (
select distinct WorkOrderNo from Workorder where Approved=1 and isnull(Complete,0)=0 and isnull(TokenWorkOrder,0)=0 and isnull(Legacy,0)=0 and isnull(Canceled,0)=0 and isnull(SanctionEstimateNo,0)<>0 and isnull(WorkAllocationID,0) not in (57))) as SI

inner join FnUnderOL() ol on ol.OLID=si.OLID and (CorporateOLID=@AcOLID or ZonalOLID=@AcOLID or CircleOLID=@AcOLID or AcOLID=@AcOLID) 
inner join OfficeLocationAllocation ola on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID not in (66,65,49)
left outer join StoreInvoiceDetails_PNI sid on sid.StoreInvoiceNo=si.StoreInvoiceNo where isnull(QuantityIssued,0)<>0 ) as SI

full join  FnItemWiseUOM(@AcOLID)
 fn on fn.ItemID=si.ItemID and fn.AcOLID=si.AcOLID ) as SI 
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as MC on mc.ItemID=si.ItemID and mc.UnitID=si.UnitID and mc.UnitIIID=si.FnUnitID
left outer join (select * from StockUnitOfMeasure where UnitID<>UnitIIID) as DC on dc.ItemID=si.ItemID and dc.UnitID=si.FnUnitID and dc.UnitIIID=si.UnitID 
where MinNo=1 ) as SI ) as SI Group By AcOLID,DocumentNo,ItemID,FnUnitID ) as SI 

--where WorkOrderNo in (79011) -- WorkorderNo 


);
GO
