USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnMaxSRBODLDID1]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnMaxSRBODLDID1]() RETURNS Table AS RETURN ( 

select distinct ScaleRegisterID,ODLDID,EmployeeStatusID 
from ScaleregisterBasicPayDetails srb with(nolock) 
where srb.StartingDate in (select max(srb1.StartingDate) from ScaleregisterBasicPayDetails srb1 with(nolock) where srb1.Scaleregisterid=srb.Scaleregisterid and isnull(srb1.ODLDID,0)>0 and isnull(Amount,0)<>0 group by srb1.Scaleregisterid) 
and isnull(srb.ODLDID,0)>0 and isnull(Amount,0)<>0 

);

--
GO
