USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TaxInvoiceReport_Cancelled]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TaxInvoiceReport_Cancelled] (@TaxNo Varchar(50)) RETURNS Table AS Return (



--Declare @TaxNo Varchar(50) = 'HESCOM/0523-0005326'
--;

WITH DATA1 AS (
select ('Corporate Office'+char(13)+'HESCOM ,Navanagar'+char(13)+'P.B Road,'+char(13)+'Hubballi.'+char(13)+'PIN : 580  025') A 

, ((b.OfficeLocation collate database_default+char(13)+CompanyName)+char(13)+char(13)+'Website : '+char(13)+Website collate database_default) B 
, CIN C,PANNo D, '29AADCM7029H1ZA' E, '29' F, ('HESCOM/'+TaxInvoiceNo) G, Convert(varchar,Date1,103) H, ContactName I, Address J, GSTINNo K, ContactName L, Address M, GSTINNo N
, isnull(StateName,'Karnataka') O, isnull(Code,'29') P, isnull(StateName,'Karnataka') Q, isnull(Code,'29') R, ProductName S, HSN T, AcHead U, UOM V, cast(Qty as Numeric(18,4)) W, Rate X, Amount Y, cast(LessDiscount as Int) Z, Amount AA
, CGSTRate AB, CGST AC, SGSTRate AD, SGST AE, IGSTRate AF, IGST AG, (isnull(Amount,0)+isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0)) AH, cast(TCS as Int) AI
, (isnull(Amount,0)+isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0)+isnull(TCS,0)+isnull(RoundOff,0)) AJ
, cast(isnull(RoundOff,0) as Int) AL from (

select a.OLID ,TaxInvoiceNo,isnull(DateAndTime,ReferenceDate) Date1 ,ContactName,Address,GSTINNo ,isnull(p1.Description,p.Description) ProductName ,'0' HSN,(BalanceCollectionMainAccountCode+BalanceCollectionSubAccountCode) AcHead,'No' UOM,'1' Qty,Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,isnull(RoundOffAmount,0) RoundOff,'0' TCS, Amount Rate from (
select SecurityDepositID,OLID,ContactName,ProductTypeID,GSTINNo,Address,TaxInvoiceNo from SecurityDeposit with(nolock) where ('HESCOM/'+TaxInvoiceNo) = @TaxNo
) A Inner Join SecurityDepositDetails B with(nolock) on b.SecurityDepositID=a.SecurityDepositID
Left Outer Join AllocationStatementPresetData P with(nolock) on p.AllocationStatementPresetDataID=b.DepositTypeID
Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=a.ProductTypeID and (MainAccountCode+SubAccountCode) collate database_default = (BalanceCollectionMainAccountCode+BalanceCollectionSubAccountCode)
outer apply ( select SecurityDepositID
    	,Sum(case when ToSubAccountCode in ('86','89','94','97') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from SecurityDepositTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.SecurityDepositID=a.SecurityDepositID Group By SecurityDepositID ) c
outer apply ( select top 1 DateAndTime from ActivityApprovals_Accounts aa with(nolock) where activityid = 290 and DateAndTime >= dateadd(month,-1,dateadd(day,1,EOMonth(ReferenceDate))) 
		and documentno = a.SecurityDepositID and Statusid=8 order by ActivityApprovalID desc ) aa 
union all
select a.BillRegisterOLID ,TaxInvoiceNo collate database_default ,BillRegisterDate ,RecepientName collate database_default ,c1.StreetName collate database_default ,GSTINNo ,r.Description collate database_default ProductName ,'9986' HSN,(ToMainAccountCode+ToSubAccountCode) collate database_default AcHead,'No' UOM,'1' Qty,Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS, Amount Rate from (
select BillRegisterNo,BillRegisterOLID,isnull(JournalVoucherDate,BillRegisterDate) BillRegisterDate,RecepientName,TaxInvoiceNo 
from MiscellaneousInvoice a with(nolock) left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo where ('HESCOM/'+TaxInvoiceNo) = @TaxNo
) A Outer Apply (select RecoveryID,Sum(RecoveryAmount) Amount from RecoveryDetails R1 with(nolock) where r1.RecoveryID='36' and r1.BillRegisterNo=a.BillRegisterNo and r1.OLID=a.BillRegisterOLID Group By RecoveryID) R1
Left Outer Join Recovery R with(nolock) on r.RecoveryID=r1.RecoveryID
Left Outer Join ExternalOrganisations B with(nolock) on b.Name=a.RecepientName
Left Outer join ExternalOrganisationBranches C1 with(nolock) on c1.ExternalOrganisationID=b.ExternalOrganisationID
outer apply ( select  BillRegisterNo,OLID
		,Sum(case when ToSubAccountCode in ('86','89','94','97') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from RecoveryDetails c1 with(nolock) 
		Inner Join Recovery r with(nolock) on r.RecoveryID =c1.RecoveryID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.BillRegisterNo=a.BillRegisterNo and c1.OLID=a.BillRegisterOLID Group By BillRegisterNo,OLID ) c
union all
select j.OLID ,TaxInvoiceNo collate database_default ,isnull(JournalVoucherDate,AdjustmentDate) AdjustmentDate,a.ContactName collate database_default ,a.Address collate database_default ,GSTINNo collate database_default ,c.Description collate database_default ProductName ,'999794' HSN,a.ToAccountCode collate database_default AcHead,'No' UOM,'1' Qty
,(a.Amount-(isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0))) Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS, (a.Amount-(isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0))) Rate from (
select a.AdjustmentDate,b.DivisionAdjustmentID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,JournalVoucherNo,b.ToAccountCode,Sum(isnull(b.AmounttobeAdjusted,0)) Amount 
from DivisionAdjustments A with(nolock) 
Inner Join DivisionAdjustmentDetails B on b.DivisionAdjustmentID=a.DivisionAdjustmentID
where DivisionAdjustmentTypeID = 2 and ('HESCOM/'+b.TaxInvoiceNo) = @TaxNo
Group By a.AdjustmentDate,b.DivisionAdjustmentID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,JournalVoucherNo,b.ToAccountCode
) A left outer Join Schedules B with(nolock) on b.ScheduleID=a.ToScheduleID
Left Outer Join ScheduleTypes C on c.ScheduleTypeID=b.ScheduleTypeID
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=b.ContactID ) D 
Left Outer Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
outer apply ( select DivisionAdjustmentID
		,Sum(case when ToSubAccountCode in ('86','89','94','97') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DivisionAdjustmentTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.DivisionAdjustmentID=a.DivisionAdjustmentID Group By DivisionAdjustmentID ) c1
union all 
select j.OLID ,TaxInvoiceNo collate database_default ,isnull(JournalVoucherDate,AdjustmentDate) AdjustmentDate ,ContactName collate database_default ,a.Address collate database_default ,GSTINNo collate database_default ,isnull(p1.Description,p.Description) collate database_default ProductName ,'999794' HSN,a.ToAccountCode collate database_default AcHead,'No' UOM,'1' Qty
,(a.Amount-(isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0))) Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS, (a.Amount-(isnull(CGST,0)+isnull(SGST,0)+isnull(IGST,0))) Rate from (
select a.AdjustmentDate,b.DivisionAdjustmentDetailsID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,JournalVoucherNo,b.ToAccountCode,Sum(isnull(b.AmounttobeAdjusted,0)) Amount 
from DivisionAdjustments A with(nolock) 
Inner Join DivisionAdjustmentDetails B on b.DivisionAdjustmentID=a.DivisionAdjustmentID
where DivisionAdjustmentTypeID = 1 and ('HESCOM/'+b.TaxInvoiceNo) = @TaxNo
Group By a.AdjustmentDate,b.DivisionAdjustmentDetailsID,b.ToScheduleID,b.TaxInvoiceNo,b.ContactID,b.Contactname,b.Address,ProductTypeID,JournalVoucherNo,b.ToAccountCode
) A Outer Apply (select top 1 * from ContactGSTINDetails B with(nolock) where b.ContactID=a.ContactID ) B
Left Outer Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=a.ProductTypeID 
Left Outer Join SubAccount P with(nolock) on (p.MainAccountCode+p.SubAccountCode)=a.ToAccountCode collate database_default
outer apply ( select DivisionAdjustmentDetailsID
		,Sum(case when ToSubAccountCode in ('86','89','94','97') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DivisionAdjustmentScheduleTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.DivisionAdjustmentDetailsID=a.DivisionAdjustmentDetailsID Group By DivisionAdjustmentDetailsID ) c1
union all

select InvoiceOLID ,TaxInvoiceNo,(case when Year(isnull(DateAndTime,SaleOfScrapDate))=Year and Month(isnull(DateAndTime,SaleOfScrapDate))=Month then isnull(DateAndTime,SaleOfScrapDate) else EOMONTH(convert(datetime,concat(Year,'-',Month,'-1'))) end)  JournalVoucherDate  
,ct.Fileas,f.Description Address,GSTINNo ,mc.Description ProductName ,b.HSNCode,'' AcHead,UnitOfMeasure, Quantity,AuctionAmount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff, (case when Rownum=1 then DutiesAmount else 0 end) TCS,AuctionRate from (
select SaleOfScrapID,InvoiceOLID,TaxInvoiceNo,JournalVoucherNo,ContactID,DutiesAmount,SaleOfScrapDate,Year,Month 
from SaleOfScrap with(nolock) where ('HESCOM/'+TaxInvoiceNo) = @TaxNo
) A cross apply(select *,(Row_number() over (Order By SaleOfScrapMaterialDetailsID)) Rownum from SaleOfScrapMaterialDetails B with(nolock) where b.SaleOfScrapID=a.SaleOfScrapID ) B
Left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.ContactID
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=a.ContactID ) D 
Outer Apply (select * from (select *,(Row_Number() over (Partition By ContactID Order By ContactID,ContactAddressDetailsID desc)) MaxNo from ContactAddressDetails E with(nolock) where e.ContactID=a.ContactID ) A where MaxNo=1) E
Left Outer Join Address F with(nolock) on f.AddressID=e.AddressID
Left Outer Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
Left Outer Join MaterialCode MC with(nolock) on mc.ItemID=b.ItemID
Left Outer Join UnitOfMeasure U with(nolock) on u.UnitID=b.UnitID
outer apply ( select SaleOfScrapMaterialDetailsID
		,Sum(case when ToSubAccountCode in ('86','89','94','97') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from SaleOfScrapMaterialTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.SaleOfScrapMaterialDetailsID=b.SaleOfScrapMaterialDetailsID Group By SaleOfScrapMaterialDetailsID ) c1
outer apply ( select DateAndTime from ActivityApprovals_Accounts aa with(nolock) where activityid = 643 and DateAndTime >= convert(datetime,concat(Year,'-',Month,'-1'))
		and documentno = a.SaleOfScrapID and Statusid=8 ) aa
union all 

select j.OLID ,TaxInvoiceNo collate database_default ,isnull(JournalVoucherDate,DemandRaisingDate) DemandRaisingDate ,ct.Fileas collate database_default ContactName,Address collate database_default,GSTINNo collate database_default ,isnull(p1.Description,p.Description) collate database_default ProductName 
,(case when a.ProductTypeID=42 then '490700 ' else '999794' end) HSN,a.CreditAccountCode collate database_default AcHead,'No' UOM
,(case when a.ProductTypeID=42 then '0' else '1' end) Qty,(a.Amount) Amount,'0' LessDiscount,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS
,(case when a.ProductTypeID=42 then 0 else (a.Amount) end) Rate from (
select a.DemandRaisingDate,b.DemandRaisingID,b.TaxInvoiceNo,b.ContactID,a.ProductTypeID,JournalVoucherNo,a.CreditAccountCode,Sum(isnull(b.Amount,0)) Amount,GSTINNo,Address 
from DemandRaising A with(nolock) 
Inner Join DemandRaisingDetails B with(nolock) on b.DemandRaisingID=a.DemandRaisingID
where isnull(Canceled,0)=1  and ('HESCOM/'+b.TaxInvoiceNo) = @TaxNo
Group By a.DemandRaisingDate,b.DemandRaisingID,b.TaxInvoiceNo,b.ContactID,a.ProductTypeID,JournalVoucherNo,a.CreditAccountCode,GSTINNo,Address 
) A Left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.ContactID 
Left Outer Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo
Left Outer Join ProductType P1 with(nolock) on p1.ProductTypeID=a.ProductTypeID 
Left Outer Join SubAccount P with(nolock) on (p.MainAccountCode+p.SubAccountCode)=a.CreditAccountCode collate database_default
outer apply ( select DemandRaisingID
		,Sum(case when ToSubAccountCode in ('86','89','94','97') then Amount else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then Amount else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then Amount else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from DemandRaisingTaxDetails c1 with(nolock) 
		Inner Join Tax t with(nolock) on t.TaxID=c1.TaxID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.DemandRaisingID=a.DemandRaisingID Group By DemandRaisingID ) c1
union all

select a.BillRegisterOLID ,TaxInvoiceNo collate database_default ,JournalVoucherDate ,ct.FileAs collate database_default ,f.Description collate database_default ,GSTINNo ,r.Description collate database_default ProductName ,'9986' HSN,(ToMainAccountCode+ToSubAccountCode) collate database_default AcHead,'No' UOM,'1' Qty,Amount,'0' LessDiscount
,CGSTRate,CGST,SGSTRate,SGST,IGSTRate,IGST,'0' RoundOff,'0' TCS, Amount Rate from (
select BillRegisterNo,a.OLID BillRegisterOLID,JournalVoucherDate,ContactID,TaxInvoiceNo 
from ContractAgencyInvoice a with(nolock) left Join JournalVoucher J with(nolock) on j.JournalVoucherNo=a.JournalVoucherNo where ('HESCOM/'+TaxInvoiceNo) = @TaxNo
) A Outer Apply (select RecoveryID,Sum(RecoveryAmount) Amount from RecoveryDetails R1 with(nolock) where r1.RecoveryID='13' and r1.BillRegisterNo=a.BillRegisterNo and r1.OLID=a.BillRegisterOLID Group By RecoveryID) R1
Left Outer Join Recovery R with(nolock) on r.RecoveryID=r1.RecoveryID
Left Outer Join Contacts Ct with(nolock) on ct.ContactID=a.ContactID
Outer Apply (select top 1 * from ContactGSTINDetails D with(nolock) where d.ContactID=a.ContactID ) D 
Outer Apply (select * from (select *,(Row_Number() over (Partition By ContactID Order By ContactID,ContactAddressDetailsID desc)) MaxNo from ContactAddressDetails E with(nolock) where e.ContactID=a.ContactID ) A where MaxNo=1) E
Left Outer Join Address F with(nolock) on f.AddressID=e.AddressID
outer apply ( select  BillRegisterNo,OLID
		,Sum(case when ToSubAccountCode in ('86','89','94','97') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) SGST
		,Sum(case when ToSubAccountCode in ('85','88','93','96') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) CGST
		,Sum(case when ToSubAccountCode in ('84','87','90','95') then (isnull(RecoveryAmount,0)+isnull(DifferenceAmount,0)) else 0 end) IGST
		,Replace(Concat(Max(case when ToSubAccountCode in ('86','89','94','97') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') SGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('85','88','93','96') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') CGSTRate
		,Replace(Concat(Max(case when ToSubAccountCode in ('84','87','90','95') then (isnull(Percentage,0)*100) else 0 end),' %'),'0 %','') IGSTRate
		from RecoveryDetails c1 with(nolock) 
		Inner Join Recovery r with(nolock) on r.RecoveryID =c1.RecoveryID and ToMainAccountCode='46.9' and ToSubAccountCode in ('86','89','94','97','85','88','93','96','84','87','90','95')
		where c1.BillRegisterNo=a.BillRegisterNo and c1.OLID=a.BillRegisterOLID Group By BillRegisterNo,OLID ) c

) A Cross Join Company C1 with(nolock) 
Inner Join OfficeLocationAccountingUnitDetails B with(nolock) on b.OLID=a.OLID
Inner Join OfficeLocationAllocation C with(nolock) on c.OfficeLocationAllocationID=b.AcOLID
Left Outer Join StateCode D with(nolock) on ltrim(rtrim(d.Code))=ltrim(rtrim(left(GSTINNo,2)))

) select * from DATA1 cross join (SELECT dbo.fnNumToWords(Sum(AJ)) AK FROM DATA1) B



);
GO
