USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLToday]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[FnETLToday](@YearID Int,@MonthID Int) RETURNS Table AS RETURN ( 


--Declare @YearID Int select @YearID = 0
--Declare @MonthID Int select @MonthID = 0

select (cast(Year(StartingFyYear) as varchar(4))+' - '+cast(Year(EndingFyYear) as varchar(4))) as FYYear,*,EOMonth(Today1) as Ldate from ( 
select convert(datetime,(cast((Case when Month(Today1) in (1,2,3) then Year(Today1)-1 else Year(Today1) end) as varchar(4))+'-4-1')) as StartingFyYear 
,convert(datetime,(cast((Case when Month(Today1) in (1,2,3) then Year(Today1) else Year(Today1) +1 end) as varchar(4))+'-3-31')) as EndingFyYear,Today1,Today from ( 
select (case when (@YearID=0 or @MonthID=0) then DATEADD(month, DATEDIFF(month, 0, Today), 0) else convert(datetime,(cast(@YearID as varchar(4))+'-'+cast(@MonthID as varchar(2))+'-1')) end) as Today1,Today 
from (select MIN(Today) Today from Today_HRMS with(nolock)) A ) as T ) as T 

)

GO
