USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnETLSRID]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnETLSRID](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int) RETURNS Table AS RETURN ( 


--Declare @OLID Int select @OLID = 0 
--Declare @YearID Int select @YearID = 0 
--Declare @MonthID Int select @MonthID = 0 
--Declare @ContactID Int select @ContactID = 1631


select distinct (case when (BillregisterDate is NULL or BillRegisterNo = '0' or BillRegisterNo = '' or BillRegisterNo = ' ' ) then 0 else 1 end) as Payment ,sr.ScaleregisterID
,ContactID,sr.StartingDate,sr.EndingDate,OLID,BillRegisterNo,cast(OSL as Int) as OSL,BillRegisterDate,BillRegisterDate1,JVNo1 as JVNo,JVDate1 as JVDate 
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1)-1 else Year(BillRegisterDate1) end) as varchar(4))+'-4-1')) as StartingFyYear 
,convert(datetime,(cast((case when Month(BillRegisterDate1) in (1,2,3) then Year(BillRegisterDate1) else Year(BillRegisterDate1)+1 end) as varchar(4))+'-3-31')) as EndingFyYear 
,(isnull(ODLDID,0)) as ODLDID,Suppliment,SalaryMonth,SalaryYear,sr.Remarks,isnull(EmployeeCategoryID,1) as EmployeeCategoryID,LegacyBillRegisterDate,LegacyBillregisterNo from ( 

select * from (
select ScaleregisterID,scr.OLID,JVNo JVNo1,isnull(JVDate,BillRegisterDate) JVDate1,Today,JVDate,CreatedOn,BillregisterDate,BillRegisterNo,Suppliment,SalaryMonth,SalaryYear,Remarks,EmployeeCategoryID,OSL,LegacyBillRegisterDate,LegacyBillregisterNo,ContactID,StartingDate,EndingDate,isnull(Legacy,0) Legacy 
,(Case when OSL=1 and isnull(JVDate,BillRegisterDate) is NULL and Month(Today1) in (3,4) then Cast((Cast(Year(Today1) as varchar(4))+'-3-31') as DateTime) when OSL=1 and isnull(JVDate,BillRegisterDate) is NULL and Month(Today1) not in (3,4) then Cast(0 as DateTime) else isnull(isnull(JVDate,BillRegisterDate),Today) end )  BillRegisterDate1
from FnETLToday(@YearID,@MonthID) etl 
inner join ScaleRegister SCR with(nolock) on Generated=1 and isnull(HeldUp,0)=0 and isnull(JVDate, (Case when OSL=1 and isnull(JVDate,BillRegisterDate) is NULL and Month(Today1) in (3,4) then Cast((Cast(Year(Today1) as varchar(4))+'-3-31') as DateTime) when OSL=1 and isnull(JVDate,BillRegisterDate) is NULL and Month(Today1) not in (3,4) then Cast(0 as DateTime) else isnull(isnull(JVDate,BillRegisterDate),Today) end ) ) Between StartingFyYear and LDate 
	and OLID = (case when @OLID=0 then OLID else @OLID end) and ContactID = (case when @ContactID=0 then ContactID else @ContactID end) 
left join JournalVoucher JV with(nolock) on jv.JournalVoucherNo=isnull(JVNo,0)
--where (case when scr.olid=658 and isnull(osl,0)=0 then isnull(approved,0) else 1 end)=1 
) A where (((case when @YearID=0 then Year(Today) else @YearID end) = Year(isnull(JVDate,BillRegisterDate1)) and (case when @MonthID=0 then Month(Today) else @MonthID end) = Month(isnull(JVDate,BillRegisterDate1))) 
--or ((case when @YearID=0 then Year(Today) else @YearID end) = Year(CreatedOn) and (case when @MonthID=0 then Month(Today) else @MonthID end) = Month(CreatedOn))
)) SR cross Apply ( select top 1 concat(ODLDID,'')+'' from ScaleRegisterBasicPayDetails B with(nolock) where b.ScaleRegisterID=sr.ScaleRegisterID 
	and round(isnull((case when (Suppliment=6 or Legacy=1) and Amount=0 then 1.01 else  Amount end),0),(case when Legacy=1 then 4 when Suppliment in (3,4,5,16) then 4 else 0 end))!=0 
	and isnull(ODLDID,0)!=0 Order By startingDate desc,ScaleRegisterBasicPayDetailsID desc for xml path('')) A1 (ODLDID)

);
GO
