USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TotalReceiptsJV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TotalReceiptsJV](@olid int,@month int,@yr int) RETURNS Table AS Return 

select sb.MainAccountCode+sb.SubAccountCode+'7' Collate Database_Default AccHead,sum(dt.Amount) Debit,0 Credit,sb.Description Description,'Debit' Type 
from (select * from DCBTotalReceipts dt with (nolock) where dt.Month=@month and dt.Year=@yr AND dt.AccountCode NOT IN ('61.904','61.906') and dt.olid<>@olid ) dt
inner join DCBRevenue db with (nolock) on db.Month=dt.Month and dt.Year=db.Year and dt.OLID=db.OLID and db.olid<>@olid 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=db.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
cross join (select * from SubAccount sb with (nolock) where sb.MainAccountCode+sb.SubAccountCode='47.609' ) sb
group by sb.MainAccountCode+sb.SubAccountCode+'7' Collate Database_Default,sb.Description 
union all 
select dt.AccountCode,0,sum(dt.Amount),sb.Description Descr,'Credit' Type 
from (select * from DCBTotalReceipts dt with (nolock) where dt.Month=@month and dt.Year=@yr AND dt.AccountCode NOT IN ('61.904','61.906') and dt.olid<>@olid ) dt
inner join DCBRevenue db with (nolock) on db.Month=dt.Month and dt.Year=db.Year and dt.OLID=db.OLID and db.olid<>@olid 
inner join SubAccount sb with (nolock) on sb.MainAccountCode+sb.SubAccountCode Collate Database_Default=dt.AccountCode 
inner join OfficeLocationAccountingUnitDetails ol with (nolock) on ol.olid=db.OLID and ol.acolid=@olid 
left join OfficeLocationAllocation ola with (nolock) on ola.OfficeLocationAllocationID=ol.OLID and ola.OfficeID in (80,83) 
group by dt.AccountCode,sb.Description;

GO
