USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[fnOLID4]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fnOLID4](@OLID bigint)
RETURNS Table
AS
RETURN
	(




With OLID (C_OLID,Z_OLID,Cr_OLID,D_OLID,S_OLID,Se_OLID) as (
select * from (
select ola.OfficeLocationAllocationid as C_OLID,ola1.OfficeLocationAllocationid as Z_OLID,ola2.OfficeLocationAllocationid as Cr_OLID
,ola3.OfficeLocationAllocationid as D_OLID,ola4.OfficeLocationAllocationid as S_OLID,ola5.OfficeLocationAllocationid as Se_OLID
from OfficeLocationAllocation ola
left outer join OfficeLocationAllocation ola1 on ola1.UnderOfficeLocationAllocationid=ola.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola2 on ola2.UnderOfficeLocationAllocationid=ola1.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola3 on ola3.UnderOfficeLocationAllocationid=ola2.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola4 on ola4.UnderOfficeLocationAllocationid=ola3.OfficeLocationAllocationid
left outer join OfficeLocationAllocation ola5 on ola5.UnderOfficeLocationAllocationid=ola4.OfficeLocationAllocationid
where ola.OfficeLocationAllocationid=@OLID) as OL
) 

  select C_OLID  from OLID);
GO
