USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnSROtherAdditionsSalPaid]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnSROtherAdditionsSalPaid](@OLID Int,@YearID Int,@MonthID Int,@ContactID Int)
RETURNS @SrOtheradditions TABLE
(
ScaleRegisterID bigint,ODLDID INT  ,SalaryOtherAdditionID int,
 TobePaidAmount money,	PaidAmount	money, Amount money
)
AS
BEGIN
INSERT INTO @SrOtheradditions


select sra.* from ( 
select ScaleRegisterID,ODLDID,SalaryOtherAdditionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select sra.ScaleRegisterID,sra.ODLDID,sra.SalaryOtherAdditionID,sra.Amount as TobePaidAmount,0 as PaidAmount,sra.Amount
from ScaleRegisterOtherAdditions sra with(nolock) inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) fn1 on sra.ScaleRegisterID=fn1.ScaleRegisterID
 where isnull(Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srrec.ODLDID_N,srw.ODLDID) as ODLDID,SalaryAdditionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select srw.ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID 
from ScaleRegisterWithdrawals srw with(nolock) inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW
inner join ScaleRegisterOtherAdditionWithdrawals srlw with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
inner join dbo.FnETLGetRec_ODLDID(@OLID,@YearID,@MonthID,@ContactID,'soa') srrec on srw.ScaleregisterID=srrec.ScaleregisterID
) as A Group By ScaleRegisterID,ODLDID,SalaryOtherAdditionID
) as SRA 

inner join ( 
select ScaleRegisterID,SalaryOtherAdditionID,sum(isnull(TobePaidAmount,0)) as TobePaidAmount,sum(isnull(PaidAmount,0)) as PaidAmount,sum(isnull(Amount,0)) as Amount from ( 
select sra.ScaleRegisterID,sra.ODLDID,sra.SalaryOtherAdditionID,sra.Amount as TobePaidAmount,0 as PaidAmount,sra.Amount
from ScaleRegisterOtherAdditions sra with(nolock)  inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) fn2 on sra.ScaleRegisterID=fn2.ScaleRegisterID
where   isnull(Amount,0)<>0
union all
select srw.ScaleRegisterID,isnull(srrec.ODLDID_N,srw.ODLDID) as ODLDID,SalaryAdditionOthersID,0 as TobePaidAmount,Amount as PaidAmount,-Amount as Amount
from ( select srw.ScaleRegisterWithdrawalID,sr.ScaleregisterID,sr.ODLDID
 from ScaleRegisterWithdrawals srw with(nolock)  inner join dbo.FnETLSRID_PAID(@OLID,@YearID,@MonthID,@ContactID) sr on sr.ScaleRegisterID=srw.ScaleregisterID ) as SRW 
inner join ScaleRegisterOtherAdditionWithdrawals srlw with(nolock)  on srlw.ScaleRegisterWithdrawalID=srw.ScaleRegisterWithdrawalID and isnull(Amount,0)<>0
inner join dbo.FnETLGetRec_ODLDID(@OLID,@YearID,@MonthID,@ContactID,'soa') srrec on srw.ScaleregisterID=srrec.ScaleregisterID
) as A Group By ScaleRegisterID,SalaryOtherAdditionID
Having Round(Round(Sum(isnull(Amount,0)),2),0) <> 0
) as SRA1 on sra1.ScaleRegisterID=sra.ScaleRegisterID and sra1.SalaryOtherAdditionID=sra.SalaryOtherAdditionID

order by sra.ScaleRegisterID

RETURN;
END;
GO
