USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnWH_GH_SS]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnWH_GH_SS](@FromDate DateTime,@ContactID Int)
RETURNS Table AS
RETURN 	(



--Declare @FromDate DateTime select @FromDate = '2015-01-01'
--Declare @ContactID Int select @ContactID = 0



select ContactID,Date,WeekDay,SecondSS,HolidayDesc,WeeklyOffDay,WeeklyOffDate1 from ( 
select * ,(Case when WeeklyOffDate='7' then 7 else Case when WeeklyOffDate='1' then 1 else Case when WeeklyOffDate='2' then 2 else Case when WeeklyOffDate='3' then 3 else Case when WeeklyOffDate='4' then 4 else Case when WeeklyOffDate='5' then 5 else Case when WeeklyOffDate='6' then 6 else 0 end end end end end end end) as Day1
,(Case when WeeklyOffDate='7' then 14 else Case when WeeklyOffDate='1' then 8 else Case when WeeklyOffDate='2' then 9 else Case when WeeklyOffDate='3' then 10 else Case when WeeklyOffDate='4' then 11 else Case when WeeklyOffDate='5' then 12 else Case when WeeklyOffDate='6' then 13 else 0 end end end end end end end) as Day2
,(Case when WeeklyOffDate='7' then 21 else Case when WeeklyOffDate='1' then 15 else Case when WeeklyOffDate='2' then 16 else Case when WeeklyOffDate='3' then 17 else Case when WeeklyOffDate='4' then 18 else Case when WeeklyOffDate='5' then 19 else Case when WeeklyOffDate='6' then 20 else 0 end end end end end end end) as Day3
,(Case when WeeklyOffDate='7' then 28 else Case when WeeklyOffDate='1' then 22 else Case when WeeklyOffDate='2' then 23 else Case when WeeklyOffDate='3' then 24 else Case when WeeklyOffDate='4' then 25 else Case when WeeklyOffDate='5' then 26 else Case when WeeklyOffDate='6' then 27 else 0 end end end end end end end) as Day4 from ( 

select ContactID,Date,WeekDay,SecondSS,WeeklyOffDay,Left(WeeklyOffDate,1) as WeeklyOffDate,WeeklyOffDate as WeeklyOffDate1
from FnHolidays(@FromDate,@ContactID) as A inner Join FnDates(@FromDate) D on Date Between EffectiveFromDate and EffectiveToDate1 
) as A ) as A
left outer join ( select HolidayDate,Description as HolidayDesc,Religion from ( select * from CompanyHolidays with (nolock) where HolidayYear>=Year(@FromDate) ) as A inner join CompanyHolidayTypes B on b.CompanyHolidayTypeID=a.CompanyHolidayTypeID ) as B on b.HolidayDate=a.Date
where ( WeekDay=WeeklyOffDay or SecondSS is not NULL or Date=HolidayDate or Day(Date)=Day1 or Day(Date)=Day2 or Day(Date)=Day3 or Day(Date)=Day4 )


);

GO
