USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnOLDTerritoryClassID]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnOLDTerritoryClassID](@YearID Int,@MonthID Int)
RETURNS Table AS
RETURN 	(



--Declare @YearID Int select @YearID = 2015
--Declare @MonthID Int select @MonthID = 4



select * from ( select * ,(Row_Number() over (Partition By OLDID,DaysOfDate Order By OLDID,DaysOfDate,d.StartDate )) as MaxNo
from ( select OfficeLocationDepartmentAllocationID as OLDID,CCATerritoryClassTypeID as CCAID,HRATerritoryClassTypeID as HRAID,Today1 as FromDate,LDate as ToDate
from OLDTerritoryClassTypeAllocation Cross Join FnETLToDay(@YearID,@MonthID)
union all
select a.OfficeLocationDepartmentAllocationID as OLDID,a.CCATerritoryClassTypeID as CCAID,a.HRATerritoryClassTypeID as HRAID,Max(isnull(b.ValidUpTo+1,0)) as FromDate,a.ValidUpTo as ToDate
from OLDTerritoryClassTypeAllocationHistory a left outer join OLDTerritoryClassTypeAllocationHistory b on b.OfficeLocationDepartmentAllocationID=a.OfficeLocationDepartmentAllocationID and b.ValidUpTo<a.ValidUpTo
group by a.OfficeLocationDepartmentAllocationID,a.CCATerritoryClassTypeID,a.HRATerritoryClassTypeID,a.ValidUpTo
) as A inner Join FnDate(@YearID,@MonthID) D on d.DaysOfDate Between a.FromDate and a.ToDate
) as A where MaxNo=1

);
GO
