USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[CALENDAR]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CALENDAR]( ) RETURNS TABLE AS RETURN ( 

SELECT TOP (DATEDIFF(DAY, '1970-01-01', cast((select today from Today_hrms with (nolock)) as date)) + 1) Date = DATEADD(DAY, ROW_NUMBER() OVER(ORDER BY a.object_id) - 1, '1970-01-01') 
FROM sys.all_objects a CROSS JOIN sys.all_objects b

);
GO
