USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_LeaveReportNew]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE FUNCTION [dbo].[Fn_LeaveReportNew](@OLID int,@FromDate DateTime,@ToDate DateTime,@ECID Varchar(20),@CID Int) 
RETURNS Table AS Return (


--Declare @OLID Int = 337
--Declare @FromDate DateTime = '2025-06-16'
--Declare @ToDate DateTime = '2025-07-15'
--Declare @ECID Varchar(20) = '1,4,5,7'
--Declare @CID Int = 948
--;


With InfiniteRows  AS (
   SELECT 1 AS RowNumber UNION ALL
   SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber <= (select datediff(day,@FromDate,@ToDate)+1)
) , Date2 as (
SELECT cast(RowNumber+@FromDate-1 as DateTime)-1 Date1 FROM  InfiniteRows 

) , CID as ( 
select AcOLID,OLID,ContactID,a.ODLDID,DesignationID from ( 
select * from (
select *,(ROW_NUMBER() over (Partition By ContactID order by ContactID,Today desc)) MaxNo from (
select ContactID,isnull(FromODLDID,ODLDID) ODLDID,isnull(EmployeecategoryID,0) ECID,@FromDate Today from Employee A with(nolock) 
inner join Today_hrms t with(nolock) on t.Ac_olid=(select AcOLID from OfficeLocationAccountingUnitDetails with(nolock) where OLID=@OLID)
outer Apply (select FromODLDID From EmployeeAppointmentDetails B with(nolock) where AppointmentTypeID in (23,47) and Approved=1 and isnull(Regularised,0)=0 and Reported=1 and isnull(FromODLDID,0)>0 and ISNULL(ToODLDID,0)=ODLDID and B.ContactID=A.ContactID) B 
where isnull(FromODLDID,ODLDID)!=0 and isnull(EmployeeStatusID,1) not in (3,4,6,7,9,12,14,15,16,20,21) and isnull(Retired,0)=0
and (case when @CID=0 then 0 else ContactID end)=@CID
and a.EmployeeCategoryID in (select * from Split(@ECID,','))
union all 
select ContactID,FieldValue,1,ValidupTo from EmployeeHistory_hrms with(nolock) where ValidupTo Between @FromDate and @ToDate
and FieldName='ODLDID' and ContactID>0 and (case when @CID=0 then 0 else ContactID end)=@CID
union all 
select ContactID,0,FieldValue,ValidupTo from EmployeeHistory_hrms with(nolock) where ValidupTo Between @FromDate and @ToDate
and FieldName='EmployeeCategoryID' and ContactID>0 and FieldValue in (select * from Split(@ECID,','))
) A ) A where MaxNo=1 
) A Inner Join ODLDAllocation B with(nolock) on b.ODLDID=a.ODLDID 
inner join OfficeLocationAccountingUnitDetails ol1 with(nolock) on ol1.OfficeID=b.OfficeID and ol1.LocationID=b.LocationID 
and (AcOLID = @OLID or OLID = @OLID)

) , Availed1 as (
select a.ContactID,DesignationID,LeaveTypeID,FromDate,ToDate,datediff(DAY,FromDate,ToDate)+1 LeaveCount,DAY(FromDate) FromDay,DAY(ToDate) ToDay
from CID A cross join Date2 B
inner join EmployeeLeaveDetails C with(nolock) on LeaveTypeID in (1,2,7,4,22,6,8,21,11) and Approved=1 and ISNULL(Cancel,0)=0 and LeaveTransactionTypeID=1 
and Date1 Between FromDate and ToDate and c.COntactID=a.ContactID

) , Availed as (
select *,(ROW_NUMBER() over (PARTITION By ContactID,LeaveTypeID Order By ContactID,LeaveTypeID,FromDate)) OBSLNo 
,(ROW_NUMBER() over (PARTITION By ContactID,LeaveTypeID Order By ContactID,LeaveTypeID,FromDate desc)) CBSLNo from (
select a.ContactID,DesignationID,LeaveTypeID,FromDate,ToDate,datediff(DAY,FromDate,ToDate)+1 LeaveCount,DAY(FromDate) FromDay,DAY(ToDate) ToDay
from Availed1 a 
Group By a.ContactID,DesignationID,LeaveTypeID,FromDate,ToDate 
) A 

) , OB as (
select 1 OBSlNo,ContactID,LeaveTypeID,Balance OB from (
select *,(ROW_NUMBER() over (PARTITION By ContactID,LeaveTypeID Order By ContactID,LeaveTypeID,FromDate desc,ToDate desc,EmployeeLeaveDetailsID desc)) MaxNo   from (
select a.ContactID,(case when b.LeaveTypeID=7 then 2 else b.LeaveTypeID end) LeaveTypeID,B.FromDate,b.ToDate,b.EmployeeLeaveDetailsID,B.Balance from (
select ContactID,LeaveTypeID,Min(FromDate) FromDate from Availed1 Group By ContactID,LeaveTypeID
union select ContactID,LeaveTypeID,@FromDate FromDate from EmployeeLeaveAccount with(nolock) where ContactID in (select ContactID from CID) 
) A inner join EmployeeLeaveDetails B with(nolock) on b.LeaveTypeID in (1,2,7,4,22) and Approved=1 and ISNULL(Cancel,0)=0  
and b.COntactID=a.ContactID and b.FromDate<A.FromDate and b.FromDate>=convert(dateTime,CONCAT(year(@FromDate),'-01-01'))
union 
select a.ContactID,(case when b.LeaveTypeID=7 then 2 else b.LeaveTypeID end) LeaveTypeID,B.FromDate,b.ToDate,b.EmployeeLeaveDetailsID,B.Balance from (
select ContactID,LeaveTypeID,Min(FromDate) FromDate from Availed1 Group By ContactID,LeaveTypeID
) A inner join EmployeeLeaveDetails B with(nolock) on b.LeaveTypeID in (1,2,7,4,22) and Approved=1 and ISNULL(Cancel,0)=0 and LeaveTransactionTypeID!=1 
and b.ContactID=a.ContactID and b.FromDate=A.FromDate and b.FromDate>=convert(dateTime,CONCAT(year(@FromDate),'-01-01'))
) A ) A Where MaxNo=1 

) , OBCB as (
select OBSLNo,1 CBSLNo,ContactID,LeaveTypeID,Sum(OB) OB,(Sum(OB)-Sum(LeaveCount)) CB from (
select isnull(a.OBSLNo,1) OBSLNo,isnull(a.ContactID,b.ContactID) ContactID,isnull(a.LeaveTypeID,(case when B.LeaveTypeID=7 then 2 else b.LeaveTypeID end)) LeaveTypeID,isnull(OB,0) OB
,Sum((case when b.LeaveTypeID=7 then ISNULL(b.LeaveCount,0)*2 else ISNULL(b.LeaveCount,0) end)) LeaveCount
from OB A full Join Availed B on B.ContactID=A.ContactID and B.LeaveTypeID=A.LeaveTypeID
Group By a.OBSLNo,isnull(a.ContactID,b.ContactID),isnull(a.LeaveTypeID,(case when B.LeaveTypeID=7 then 2 else b.LeaveTypeID end)),isnull(OB,0)
) A Group By OBSLNo,ContactID,LeaveTypeID

) , CBOB as ( 
select 1 SlNo,b.ContactID
,Sum(case when b.LeaveTypeID=4 then b.OB else 0 end) CLOB
,Sum(case when b.LeaveTypeID=1 then b.OB else 0 end) ELOB
,Sum(case when b.LeaveTypeID=2 then b.OB else 0 end) FPLOB
,Sum(case when b.LeaveTypeID=22 then b.OB else 0 end) CCLOB
,Sum(case when b.LeaveTypeID=4 then b.CB else 0 end) CLCB
,Sum(case when b.LeaveTypeID=1 then b.CB else 0 end) ELCB
,Sum(case when b.LeaveTypeID=2 then b.CB else 0 end) FPLCB
,Sum(case when b.LeaveTypeID=22 then b.CB else 0 end) CCLCB
from OBCB B Group By b.ContactID

) , Final as (
select OBSLNo,a.ContactID,DesignationID
,Max(case when a.LeaveTypeID=4 then concat(FromDay,'') else '' end) CLFrom
,Max(case when a.LeaveTypeID=4 then concat(Today,'') else '' end) CLTo
,Max(case when a.LeaveTypeID=1 then concat(FromDay,'') else '' end) ELFrom
,Max(case when a.LeaveTypeID=1 then concat(Today,'') else '' end) ELTo
,Max(case when a.LeaveTypeID in (2,7) then concat(FromDay,'') else '' end) FPLFrom
,Max(case when a.LeaveTypeID in (2,7) then concat(Today,'') else '' end) FPLTo
,Max(case when a.LeaveTypeID=22 then concat(FromDay,'') else '' end) CCLFrom
,Max(case when a.LeaveTypeID=22 then concat(Today,'') else '' end) CCLTo
,Max(case when a.LeaveTypeID=6 then concat(FromDay,'') else '' end) MLFrom
,Max(case when a.LeaveTypeID=6 then concat(Today,'') else '' end) MLTo
,Max(case when a.LeaveTypeID=11 then concat(FromDay,'') else '' end) PLFrom
,Max(case when a.LeaveTypeID=11 then concat(Today,'') else '' end) PLTo
,Max(case when a.LeaveTypeID=8 then concat(FromDay,'') else '' end) SLFrom
,Max(case when a.LeaveTypeID=8 then concat(Today,'') else '' end) SLTo
,Max(case when a.LeaveTypeID=21 then concat(FromDay,'') else '' end) ILFrom
,Max(case when a.LeaveTypeID=21 then concat(Today,'') else '' end) ILTo
,Sum(isnull(a.LeaveCount,0)) TotalLeavesAvailed 
from Availed a 
group by a.ContactID,DesignationID,OBSLNo

) 

select ct.ContactID,ct.Fileas EmployeeName,DesignationName Designation,CLOB,ELOB,FPLOB,CCLOB
,CLFrom,CLTo,ELFrom,ELTo,FPLFrom,FPLTo,CCLFrom,CCLTo,MLFrom,MLTo,PLFrom,PLTo,SLFrom,SLTo,ILFrom,ILTo
,CLCB,ELCB,FPLCB,CCLCB 
,(case when a.OBSLNo=1 then a10.TotalLeavesAvailed else NULL end) TotalLeavesAvailed
from (select distinct ContactID,DesignationID,OBSLNo from Availed union select ContactID,DesignationID,1 from CID ) A
full join Final A1 on A1.ContactID=A.ContactID and A1.OBSLNo=A.OBSLNo  
full join CBOB D on D.ContactID=A.ContactID and D.SlNo=A.OBSLNo
left join Contacts CT with(nolock) on ct.ContactID=a.ContactID
left join Designation DN with(nolock) on dn.DesignationID=a.DesignationID
outer apply (select Sum(isnull(LeaveCount,0)) TotalLeavesAvailed from Availed A10 where A10.ContactID=A.ContactID ) A10


--OPTION (MAXRECURSION 0)

) 

GO
