USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Erroneous]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 

CREATE FUNCTION [dbo].[Fn_Erroneous](@OfficeID int,@LocationID int,@YearID int,@MonthID int,@FinalApprove int,@BRSTypeID Int) RETURNS Table AS Return ( 


--Declare @OfficeID int = 0 
--Declare @LocationID int = 0 
--Declare @YearID int = 2023
--Declare @MonthID int = 4 
--Declare @FinalApprove int = 1
--Declare @BRSTypeID int = 1
--;


with data1 as (
select b1.Fileas Division,a.OfficeLocation SubDivision,right(convert(varchar,Date1,106),8) MnYr,b.*,sum(isnull(b2.RectifiedAmount,0)) ReverseRectified,Max(b2.RectifiedDate) RectifiedDate1 from (
select AcOLID,a.OLID,OfficeLocation,BankReconciliationStatmentID,CashBookYear,CashBookMonth,convert(datetime,concat(CashBookYear,'-',CashBookMonth,'-1')) Date1 from ( 
select AcOLID,OLID,OfficeLocation from OfficeLocationAccountingUnitDetails A with(nolock) 
where (case when @OfficeID=0 then 0 else OfficeID end)=@OfficeID and (case when @LocationID=0 then 0 else LocationID end)=@LocationID 
) A inner join BankReconciliationStatment B with(nolock) on CashBookYear=@YearID and CashBookMonth=@MonthID and b.OLID=a.OLID and isnull(Approved,0)=@FinalApprove
) A inner join BRSOtherDetails B with(nolock) on b.BankReconciliationStatementID=a.BankReconciliationStatmentID and BRSOthertypeid = @BRSTypeID
left join BRSOtherDetailsSub B2 with(nolock) on b2.BRSOtherDetailsid=b.BRSOtherDetailsid
left join OfficeLocationAllocation B1 with(nolock) on b1.OfficeLocationAllocationID=a.AcOLID 
group by b1.Fileas,a.OfficeLocation,right(convert(varchar,Date1,106),8),b.BRSOtherDetailsID,BankReconciliationStatementID,b.OLID,BRSOtherTypeID,ErroneousDate,ErroneousValue,Description,Amount,Rectified,b.RectifiedDate,b.RectifiedAmount
) , InfiniteRows  AS (
SELECT 1 AS RowNumber UNION ALL
SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber < (( SELECT day(eomonth(convert(datetime,cast(concat(@YearID,'-',@MonthID,'-1') as Date)))) ))
) , InfiniteRows1  AS (
SELECT 1 AS RowNumber UNION ALL
SELECT a.RowNumber + 1 AS RowNumber FROM InfiniteRows a WHERE a.RowNumber < (( SELECT day(eomonth(dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1'))))) ))
) 

select Division,a.OLID,SubDivision,OBDate,OB,RectifiedDate,Rectified,CurrentMonthDate,CurrentMonth,CBDate,CB,Remarks,MnYr from (
SELECT OLID,date1,Division,SubDivision,OBDate,OB,RectifiedDate,Rectified,CurrentMonthDate,CurrentMonth,(case when (OB-Rectified+CurrentMonth)=0 then NULL else CBDate end) CBDate,(OB-Rectified+CurrentMonth) CB,'' Remarks,MnYr from (
select OLID,date1,Division,SubDivision,(case when SlNo=1 and OBDate is not NULL then OBDate else NULL end) OBDate,(case when SlNo=1 and OB is not NULL then OB else 0 end) OB,RectifiedDate,Rectified,CurrentMonthDate,CurrentMonth,CBDate,MnYr from (

select OLID,date1,Division,SubDivision,CONVERT(varchar,B.ErroneousDate,104) OBDate,isnull(B.OB,0) OB,CONVERT(varchar,B1.RectifiedDate1,104) RectifiedDate
,isnull(B1.Rectified,0) Rectified,CONVERT(varchar,B2.ErroneousDate,104) CurrentMonthDate,isnull(B2.CurrentMonth,0) CurrentMonth,CONVERT(varchar,date1,104) CBDate,MnYr  
,(Row_number() over (Partition By OLID,OB Order By OLID,OB,b1.RectifiedDate1)) SlNo from ( 
select convert(datetime,concat(@YearID,'-',@MonthID,'-1'))+RowNumber-1 date1 from InfiniteRows 
	union select dateadd(month,-1,convert(datetime,concat(@YearID,'-',@MonthID,'-1')))+RowNumber-1 from InfiniteRows1 
) A cross join ( select convert(datetime,concat(@YearID,'-',@MonthID,'-1')) date2 ) A1
cross join (select distinct OLID,Division,SubDivision,MnYr from data1 B2) A2
outer apply (select ErroneousDate,sum(isnull(Amount,0)) OB from data1 B where ErroneousDate<date2 and b.ErroneousDate=a.date1 and b.OLID=a2.OLID group by ErroneousDate) B 
outer apply ( select RectifiedDate1,sum(isnull(ReverseRectified,0)) Rectified from data1 B1 where ErroneousDate<date2 and isnull(RectifiedDate1,'1900-01-01')>=date2 and b1.ErroneousDate=a.date1 and b1.OLID=a2.OLID group by RectifiedDate1 ) B1 
outer apply ( select ErroneousDate,sum(isnull(Amount,0)-isnull(ReverseRectified,0)) CurrentMonth from data1 B2 where ErroneousDate>=date2 and isnull(Rectified,0)=0 and b2.ErroneousDate=a.date1 and b2.OLID=a2.OLID group by ErroneousDate ) B2

) A 
) A where (OB+Rectified+CurrentMonth)!=0 
) A 
full Join ( select b2.Fileas Div,b1.OfficeLocation SubDiv,b1.OLID 
	from OfficeLocationAccountingUnitDetails B1 with(nolock) 
	inner join OfficeLocationAllocation B2 with(nolock) on b2.OfficeLocationAllocationID=b1.AcOLID
	where b1.OfficeID = @OfficeID and b1.LocationID = @LocationID ) B3 on b3.OLID>0 
--order by date1 
);

--
-- Fn_FundRequistionWeeklyData
--
GO
