USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_TransferAdvice]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_TransferAdvice](@TANo Int) RETURNS Table AS RETURN 

--Declare @TANo Int = 6384 ;

With Data as (
select a.*,b.FundRequisitionNo,b.FundRequisitionTypeID,b.FundRequisitionSubTypeID,c.BillRegisterNo,d.InvoiceTypeID,e.Description InvoiceType
,f.Description FundRequisitionSubType,BillAmount,(case 
when d.InvoiceTypeID=1 and b.FundRequisitionSubTypeID=37 and b.FundRequisitionTypeID=4 then BillAmount 
when d.InvoiceTypeID=2 and b.FundRequisitionSubTypeID=34 and b.FundRequisitionTypeID=4 then BillAmount 
when d.InvoiceTypeID=3 and b.FundRequisitionSubTypeID=3 and b.FundRequisitionTypeID=1 then BillAmount 
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=37 and b.FundRequisitionTypeID=4 and ProformaInvoiceTypeID in (8,9,10) then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=16 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID=5 then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=16 and b.FundRequisitionTypeID=3 and ProformaInvoiceTypeID in (11,16) then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=82 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID=6then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=25 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID=24 then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=17 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID=13 then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=2 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID in (1,2,3,4,7) then BillAmount  
when d.InvoiceTypeID=4 and b.FundRequisitionSubTypeID=cw.FundRequisitionSubTypeID and b.FundRequisitionTypeID=cw.FundRequisitionTypeID and ProformaInvoiceTypeID in (23,12,36,25) then BillAmount  
when d.InvoiceTypeID=5 and b.FundRequisitionSubTypeID=mi.FundRequisitionSubTypeID and b.FundRequisitionTypeID=mi.FundRequisitionTypeID then BillAmount 
when d.InvoiceTypeID=6 and b.FundRequisitionSubTypeID=11 and b.FundRequisitionTypeID=1 then BillAmount 
when d.InvoiceTypeID=7 and b.FundRequisitionSubTypeID=48 and b.FundRequisitionTypeID=1 then BillAmount 
when d.InvoiceTypeID=8 and b.FundRequisitionSubTypeID=4 and b.FundRequisitionTypeID=1 then BillAmount 
when d.InvoiceTypeID=9 and b.FundRequisitionSubTypeID=10 and b.FundRequisitionTypeID=1 then BillAmount 
when d.InvoiceTypeID in (10,15) and b.FundRequisitionSubTypeID=ca.FundRequisitionSubTypeID and b.FundRequisitionTypeID=ca.FundRequisitionTypeID then BillAmount 
when d.InvoiceTypeID=11 and b.FundRequisitionSubTypeID=ss.FundRequisitionSubTypeID and b.FundRequisitionTypeID=ss.FundRequisitionTypeID then BillAmount  
when d.InvoiceTypeID=12 and b.FundRequisitionSubTypeID=1 and b.FundRequisitionTypeID=1 then BillAmount 
when d.InvoiceTypeID=13 and b.FundRequisitionSubTypeID=42 and b.FundRequisitionTypeID=2 and r1.PensionTypeID=7 then BillAmount 
when d.InvoiceTypeID=13 and b.FundRequisitionSubTypeID=42 and b.FundRequisitionTypeID=2 and r2.PensionTypeID=8 then BillAmount 
when d.InvoiceTypeID=13 and b.FundRequisitionSubTypeID=27 and b.FundRequisitionTypeID=2 and r3.PensionTypeID=9 then BillAmount 
when d.InvoiceTypeID=14 and b.FundRequisitionSubTypeID=37 and b.FundRequisitionTypeID=4 and ProformaInvoiceTypeID in (5,8,9,10) then BillAmount  
when d.InvoiceTypeID=14 and b.FundRequisitionSubTypeID=17 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID=13 then BillAmount  
when d.InvoiceTypeID=14 and b.FundRequisitionSubTypeID=2 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID in (1,2,3,4,7) then BillAmount  
when d.InvoiceTypeID=14 and b.FundRequisitionSubTypeID=16 and b.FundRequisitionTypeID=1 and ProformaInvoiceTypeID=16 then BillAmount 
when d.InvoiceTypeID=14 and b.FundRequisitionSubTypeID=cw.FundRequisitionSubTypeID and b.FundRequisitionTypeID=cw.FundRequisitionTypeID and ProformaInvoiceTypeID in (6,12,36) then BillAmount  
when d.InvoiceTypeID=14 and b.FundRequisitionSubTypeID=bg.FundRequisitionSubTypeID and b.FundRequisitionTypeID=bg.FundRequisitionTypeID and ProformaInvoiceTypeID=11 then BillAmount  
else 0 end) Amount1
from ( select OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount
from TransferAdvice with (nolock) where TransferAdviceNo=@TANo ) A ----- and Approved=1 
Inner Join TransferAdviceDetails B with (nolock) on b.TransferAdviceNo=a.TransferAdviceNo
Inner Join TransferAdviceDetailsSub C with (nolock) on c.TransferAdviceDetailsID=b.TransferAdviceDetailsID
Left Outer Join BillRegisterNoInvoiceTypeAllocation D with (nolock) on d.BillRegisterNo=c.BillRegisterNo and d.BillRegisterOLID=c.BillRegisterOLID
Left Outer Join InvoiceTypes E with (nolock) on e.InvoiceTypeID=d.InvoiceTypeID
Left Outer Join FundRequisitionSubTypes_Accounts F with (nolock) on f.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID
Left Outer Join ProformaInvoice P with (nolock) on p.BillRegisterNo=c.BillRegisterNo and p.BillRegisterOLID=c.BillRegisterOLID
Left Outer Join RetirementInvoiceDetails R1 with (nolock) on r1.BillRegisterNo=c.BillRegisterNo and r1.BillRegisterOLID=c.BillRegisterOLID and r1.PensionTypeID=7
Left Outer Join RetirementInvoiceDetails R2 with (nolock) on r2.BillRegisterNo=c.BillRegisterNo and r2.BillRegisterOLID=c.BillRegisterOLID and r2.PensionTypeID=8
Left Outer Join RetirementInvoiceDetails R3 with (nolock) on r3.BillRegisterNo=c.BillRegisterNo and r3.BillRegisterOLID=c.BillRegisterOLID and r3.PensionTypeID=9
Left Outer Join ( Select distinct FundRequisitionTypeID,FundRequisitionSubTypeID from ContractAgencyTypes with (nolock) where FundRequisitionTypeID is not NULL ) CA on ca.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID and ca.FundRequisitionTypeID=b.FundRequisitionTypeID
Left Outer Join ( Select distinct FundRequisitionTypeID,FundRequisitionSubTypeID from MiscellaneousInvoiceTypes with (nolock) where isnull(FundRequisitionSubTypeID,0) not in (0,51,2) ) MI on mi.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID and mi.FundRequisitionTypeID=b.FundRequisitionTypeID
Left Outer Join ( Select distinct FundRequisitionTypeID,FundRequisitionSubTypeID from CivilWorkContractTypes with (nolock) where isnull(FundRequisitionSubTypeID,0) not in (0) ) CW on cw.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID and cw.FundRequisitionTypeID=b.FundRequisitionTypeID
Left Outer Join ( Select distinct FundRequisitionTypeID,FundRequisitionSubTypeID from BudgetGrantTypes with (nolock) where isnull(FundRequisitionSubTypeID,0) not in (0) ) BG on bg.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID and bg.FundRequisitionTypeID=b.FundRequisitionTypeID
Left Outer Join ( Select distinct FundRequisitionTypeID,FundRequisitionSubTypeID from SalarySuppliments with (nolock) where isnull(FundRequisitionSubTypeID,0) not in (0) ) SS on ss.FundRequisitionSubTypeID=b.FundRequisitionSubTypeID and ss.FundRequisitionTypeID=b.FundRequisitionTypeID

) , Data1 as (
select * from (
select (Row_Number() over (Partition By FundRequisitionNo,BillRegisterNo,InvoiceTypeID Order By FundRequisitionNo,BillRegisterNo,InvoiceTypeID,Amount1 desc,FundRequisitionTypeID,FundRequisitionSubTypeID)) SlNo,* from (
select OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount 
,FundRequisitionNo,FundRequisitionTypeID,FundRequisitionSubTypeID,BillRegisterNo,InvoiceTypeID,InvoiceType,FundRequisitionSubType,Sum(isnull(Amount1,0)) Amount1
from Data 
Group By OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount 
,FundRequisitionNo,FundRequisitionTypeID,FundRequisitionSubTypeID,BillRegisterNo,InvoiceTypeID,InvoiceType,FundRequisitionSubType ) A ) A
where ( isnull(Amount1,0)!=0  or SlNo=1 )

) , Data1a as (
select (Row_Number() over (Partition By TransferAdviceNo,InvoiceTypeID Order By TransferAdviceNo,InvoiceTypeID,FundRequisitionSubType)) SlNo,* from (
select OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount
,FundRequisitionSubType,InvoiceTypeID,Sum(isnull(Amount1,0)) Amount1
from Data1 Group By OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount,FundRequisitionSubType,InvoiceTypeID
) A 

) , Data2 as (
select OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount 
,FundRequisitionNo,FundRequisitionTypeID,FundRequisitionSubTypeID,BillRegisterNo,InvoiceTypeID,InvoiceType,FundRequisitionSubType,Sum(isnull(BillAmount,0)) Amount2
from Data where Amount1=0
Group By OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount 
,FundRequisitionNo,FundRequisitionTypeID,FundRequisitionSubTypeID,BillRegisterNo,InvoiceTypeID,InvoiceType,FundRequisitionSubType 

) , Data2a as (
select 1 SlNo,OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount
,FundRequisitionSubType,InvoiceTypeID,Sum(isnull(Amount2,0)) Amount2
from Data2 Group By OfficialReferenceNo,TransferAdviceNo,TransferAdviceDate,TransferorAccountNo,TransferorBankID,TransferorBankBranchID,Amount,FundRequisitionSubType,InvoiceTypeID

) , Final as (
select a.*,isnull(Amount2,0) Amount2,isnull(left(Desc2,len(Desc2)-1),'') Desc2 
from Data1a A
Left Outer Join (select TransferAdviceNo,InvoiceTypeID,SlNo,Sum(Amount2) Amount2 from Data2a Group By TransferAdviceNo,InvoiceTypeID,SlNo ) B on b.TransferAdviceNo=a.TransferAdviceNo and b.InvoiceTypeID=a.InvoiceTypeID and b.SlNo=a.SlNo
Cross Apply (select distinct c.FundRequisitionSubType+' , ' from Data2a C where c.TransferAdviceNo=a.TransferAdviceNo and c.InvoiceTypeID=a.InvoiceTypeID and c.SlNo=a.SlNo for xml path('') ) C (Desc2)
)

select OfficialReferenceNo,convert(varchar,TransferAdviceDate,104) TransferAdviceDate,TransferorAccountNo,eo.Name Bank,eob.Name Branch,Amount TAAmount
,b.Description InvoiceTypes,FundRequisitionSubType Desc1,Amount1,Desc2,Amount2,(Amount1+Amount2) Total
from Final a 
Inner Join ExternalOrganisations EO with (nolock) on eo.ExternalOrganisationID=a.TransferorBankID
Inner Join ExternalOrganisationBranches EOB with (nolock) on eob.ExternalOrganisationBranchID=a.TransferorBankBranchID
Inner Join InvoiceTypes B with (nolock) on b.InvoiceTypeID=a.InvoiceTypeID
--Order By InvoiceTypes,Amount2 desc;
GO
