USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[FnRV]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FnRV] (@FromFyYear DateTime,@ToFyYear DateTime,@AcOLID Int)

RETURNS Table AS 
RETURN 	(



--Declare @FromFyYear DateTime select @FromFyYear = '2016-12-01'
--Declare @ToFyYear DateTime select @ToFyYear = '2016-12-31'
--Declare @AcOLID Int select @AcOLID = 658
--;


With RV (JournalVoucherNo,ReceiptVoucherNo ) as (
select a.JournalVoucherNo,ReceiptVoucherNo 
from ReceiptVoucherAbstract_Accounts A With (NoLock)  inner join FnUnderOL() B on b.OLID=a.OLID 
inner join JournalVoucher C on c.JournalVoucherNo=a.JournalVoucherNo and c.Approved=1 and JournalVoucherDate Between @FromFyYear and @ToFyYear and c.OLID=@AcOLID
where ReturnTypeID=2

) , FAAA ( Series10,Series161Scrap,Series162Good,Series162Faulty,Series12,Series77550,DepreciationRate) as ( 
select (isnull(FixedAssetMainAccountCode,'')+isnull(FixedAssetSubAccountCode,'')) as Series10,(isnull(ReleasedScrapMainAccountCode,'')+isnull(ReleasedScrapSubAccountCode,'')) as Series161Scrap
,(isnull(ReleasedGoodMainAccountCode,'')+isnull(ReleasedGoodSubAccountCode,'')) as Series162Good,(isnull(ReleasedFaultyMainAccountCode,'')+isnull(ReleasedFaultySubAccountCode,'')) as Series162Faulty
,(isnull(DepreciationMainAccountCode,'')+isnull(DepreciationSubAccountCode,'')) as Series12,(isnull(ExpenditureMainAccountCode,'')+isnull(ExpenditureSubAccountCode,'')) as Series77550
,isnull(DepreciationRate,0) as DepreciationRate from FixedAssetAccountCodeAllocation with (nolock)

) , RVD (ReceiptVoucherNo,JournalVoucherNo,ItemID,ReceiptVoucherDetailsID ) as (
select distinct rv.ReceiptVoucherNo,JournalVoucherNo,ItemID,ReceiptVoucherDetailsID from ReceiptVoucherDetails_Accounts rvd  with (nolock)
inner join RV rv on rv.ReceiptVoucherNo=rvd.ReceiptVoucherNo
--where JournalVoucherNo = 427860

) , RVMD (ReceiptVoucherNo,JournalVoucherNo,ItemID,SerialNo,StockConditionID,Amount) as (
select ReceiptVoucherNo,JournalVoucherNo,ItemID,SerialNo,StockConditionID,Amount from RVD rvd
inner join ReceiptVoucherMaterialDetails_Accounts rvmd  with (nolock) on rvmd.ReceiptVoucherDetailsID=rvd.ReceiptVoucherDetailsID

) , FAD (JournalVoucherNo,StockConditionID,FolioNo,Series12,Series16,Series10,Series16215) as (
select rvm.JournalVoucherNo,rvm.StockConditionID,FolioNo,Round(Round(Sum(AccumulatedDepreciation),2),0) as Series12,Round(Round(Sum(WrittenDownValue),2),0) as Series16,(Round(Round(Sum(AccumulatedDepreciation),2),0)+Round(Round(Sum(WrittenDownValue),2),0)) as Series10
,Sum(OilAmount)
from RVMD rvm
inner join ReleasedAssetDetails rad  with (nolock) on rad.IBVLID= ItemID and rad.SerialNo=rvm.SerialNo collate database_default and rad.StockConditionID=rvm.StockConditionID and cast(rad.WrittenDownValue as Money)=Amount and isnull(rad.DocumentNo,0)=ReceiptVoucherNo
Group By rvm.JournalVoucherNo,rvm.StockConditionID,FolioNo

) , FA (JournalVoucherNo,StockConditionID,FolioNo,Series12,Series16,Series10,Series16215,AccountCode) as (
select fad.*,(isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),'')) as AccountCode 
--,(case when StockConditionID=4 then '10.602' else (isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),'')) end) as AccountCode 
from FAD fad inner join ReleasedAssets fa  with (nolock) on fa.FolioNo=fad.FolioNo 

) , FAF (JournalVoucherNo,Series12,Series16,Series10,Series16215,AccountCode,Depriciation12,Scrap16,RGood16,Faulty16,Oil16215) as (
select fa.JournalVoucherNo,fa.Series12,Series16,fa.Series10,Series16215,AccountCode,faa.Series12 as Depriciation12,(case when StockConditionID=4 then Series161Scrap else NULL end) as Scrap16 ,(case when StockConditionID=2 then Series162Good else NULL end) as RGood16
,(case when StockConditionID=3 then Series162Faulty else NULL end) as Faulty16,(case when isnull(Series16215,0)=0 then NULL else '16.215' end) as Oil16215
from FA fa inner join FAAA faa on faa.Series10=fa.AccountCode

) , RVDA (ReceiptVoucherNo,JournalVoucherNo,ItemID,ReceiptVoucherAlternateDetailsID) as (
select distinct rv.ReceiptVoucherNo,JournalVoucherNo,ItemID,ReceiptVoucherAlternateDetailsID 
from (select ra.*,r.ReceiptVoucherNo from ReceiptVoucherAlternateDetails_Accounts ra  with (nolock) inner join ReceiptVoucherDetails_Accounts r  with (nolock) on r.ReceiptVoucherDetailsID=ra.ReceiptVoucherDetailsID) rvd 
inner join RV rv on rv.ReceiptVoucherNo=rvd.ReceiptVoucherNo

) , RVMDA (ReceiptVoucherNo,JournalVoucherNo,ItemID,SerialNo,StockConditionID,Amount) as (
select ReceiptVoucherNo,JournalVoucherNo,ItemID,SerialNo,StockConditionID,Amount from RVDA rvd
inner join ReceiptVoucherAlternateMaterialDetails_Accounts rvmd  with (nolock) on rvmd.ReceiptVoucherAlternateDetailsID=rvd.ReceiptVoucherAlternateDetailsID

) , FADA (JournalVoucherNo,StockConditionID,FolioNo,Series12,Series16,Series10) as (
select rvm.JournalVoucherNo,rvm.StockConditionID,FolioNo,Round(Round(Sum(AccumulatedDepreciation),2),0) as Series12,Round(Round(Sum(WrittenDownValue),2),0) as Series16,(Round(Round(Sum(AccumulatedDepreciation),2),0)+Round(Round(Sum(WrittenDownValue),2),0)) as Series10
from RVMDA rvm
inner join ReleasedAssetDetails rad with (nolock) on rad.IBVLID= ItemID and rad.SerialNo=rvm.SerialNo collate database_default and rad.StockConditionID=rvm.StockConditionID and cast(rad.WrittenDownValue as Money)=Amount and isnull(rad.DocumentNo,0)=ReceiptVoucherNo
Group By rvm.JournalVoucherNo,rvm.StockConditionID,FolioNo

) , FAA (JournalVoucherNo,StockConditionID,FolioNo,Series12,Series16,Series10,AccountCode) as (
select fad.*,(isnull(MainAccountCode,'')+isnull((case when len(SubAccountCode)=1 then ('0'+SubAccountCode) else SubAccountCode end),'')) as AccountCode from FADA fad
inner join ReleasedAssets fa with (nolock) on fa.FolioNo=fad.FolioNo 

) , FAFA (JournalVoucherNo,Series12,Series16,Series10,AccountCode,Depriciation12,Scrap16,RGood16,Faulty16) as (
select fa.JournalVoucherNo,fa.Series12,Series16,fa.Series10,AccountCode,faa.Series12 as Depriciation12,(case when StockConditionID=4 then Series161Scrap else NULL end) as Scrap16 ,(case when StockConditionID=2 then Series162Good else NULL end) as RGood16
,(case when StockConditionID=3 then Series162Faulty else NULL end) as Faulty16
from FAA fa inner join FAAA faa on faa.Series10=fa.AccountCode

)


select JournalVoucherNo,FromAcCode,Sum(FromAmount) as FromAmount,ToAcCode,Sum(ToAmount) as ToAmount,Sum(ToAmount) as FAmount,'7' as VoltageClassCode from (
select JournalVoucherNo,Depriciation12 as FromAcCode,Series12 as FromAmount,AccountCode as ToAcCode,Series12 as ToAmount from FAF union all
select JournalVoucherNo,isnull(isnull(Scrap16,RGood16),Faulty16) as FromAcCode,Series16 as FromAmount,AccountCode as ToAcCode,Series16 as ToAmount from FAF union all
select JournalVoucherNo,Oil16215 as FromAcCode,Series16215 as FromAmount,AccountCode as ToAcCode,Series16215 as ToAmount from FAF where Oil16215='16.215' 
) as A Group By JournalVoucherNo,FromAcCode,ToAcCode
union all
select JournalVoucherNo,FromAcCode,Sum(FromAmount) as FromAmount,ToAcCode,Sum(ToAmount) as ToAmount,Sum(ToAmount) as FAmount,'7' as VoltageClassCode from (
select JournalVoucherNo,Depriciation12 as FromAcCode,Series12 as FromAmount,AccountCode as ToAcCode,Series12 as ToAmount from FAFA union all
select JournalVoucherNo,isnull(isnull(Scrap16,RGood16),Faulty16) as FromAcCode,Series16 as FromAmount,AccountCode as ToAcCode,Series16 as ToAmount from FAFA  
) as A Group By JournalVoucherNo,FromAcCode,ToAcCode




);
GO
