USE [EnergySync_HescomTest]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_SRStockLabourAllocation]    Script Date: 09-06-2026 12:55:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fn_SRStockLabourAllocation](@ItemID Int,@Todate DateTime) RETURNS Table AS RETURN ( 

--Declare @ItemID Int select @ItemID = 0 
--Declare @ToDate DateTime select @ToDate = '2017-10-30' 

select isnull(WorkTypeID,0) as WorkTypeID,MainItem,ItemID,a.CivilWorkLabourTypeID,a.UnitID,Quantity,FromDate,ToDate
,(Row_Number() over (Order By (case when WorkTypeID is NULL then 999999 else WorkTypeID end),ItemID,a.CivilWorkLabourTypeID )) as SlNo2 
,(Row_Number() over (Partition By ItemID,a.CivilWorkLabourTypeID Order By (case when WorkTypeID is NULL then 999999 else WorkTypeID end),ItemID,a.CivilWorkLabourTypeID,FromDate desc,ToDate desc )) as SlNo1 
,(Dense_Rank() over (Order By (case when WorkTypeID is NULL then 999999 else WorkTypeID end),ItemID,a.CivilWorkLabourTypeID )) as SlNo from ( 
select *,(Row_Number() over (Partition By ItemID,CivilWorkLabourTypeID Order By ItemID,CivilWorkLabourTypeID,FromDate desc,ToDate desc)) as MaxNo from ( 

select ItemID,CivilWorkLabourTypeID,UnitID,Quantity,MainItem,EffectiveDate as FromDate,EOMonth(cast(GetDate() as Date)) as ToDate from StockLabourAllocation with (nolock) 
union select ItemID,CivilWorkLabourTypeID,UnitID,Quantity,Maintem,ValidFrom,ValidTo from StockLabourAllocationHistory with (nolock) 
) as A where (case when @ItemID=0 then 0 else ItemID end)=@ItemID and @ToDate Between FromDate and ToDate 
) as A Left Outer Join CivilWorkLabourTypes B with (nolock) on b.CivilWorkLabourTypeID=a.CivilWorkLabourTypeID 
where MaxNo=1 

);

GO
