USE [EnergySyncRevenueKmc]
GO
/****** Object:  UserDefinedFunction [dbo].[PadLeft]    Script Date: 15-06-2026 10:25:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[PadLeft](@PadString nvarchar(100), @PadLength int)
RETURNS nvarchar(200)
AS
begin
return  replicate(' ',@padlength-len(@PadString)) + @PadString
end
GO
