USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_Adjustments]    Script Date: 15-06-2026 10:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create function [dbo].[Fn_Adjustments](@FromDate Date,@ToDate Date)
RETURNS TABLE  
AS  
RETURN   
(  

--Declare @FromDate Date select @FromDate = '2019-04-01'
--Declare @ToDate Date select @ToDate = '2020-03-31'



select (CollADjCheque+CollADjBANKCharg+CollADjFrmConsumer+CollADjToConsumer+CollADjFromCBTransfer+CollADjToCBTransfer+CollADjFrmACCHeadTransfer+CollADjToACCHeadTransfer+CollADjCBAdj+CollADjDepositADj+CollADjCBWAdj+CollADjInterestDepositAdj ) Adj
	,YearID,MonthID,ConsumerID from (
	select month(p.AdjustmentDate) monthID,year(p.AdjustmentDate) yearID,ConsumerID
	,sum(isnull(-ca7.amount,0)) CollADjCheque,  sum(isnull(-ca8.amount,0)) CollADjBANKCharg , sum(isnull(-ca0.amount,0)) CollADjFrmConsumer, sum(isnull(ca1.amount,0)) CollADjToConsumer
	,sum(isnull(ca2.amount,0)) CollADjFromCBTransfer,sum(isnull(-ca3.amount,0)) CollADjToCBTransfer,sum(isnull(-ca4.amount,0)) CollADjFrmACCHeadTransfer,sum(isnull(ca5.amount,0)) CollADjToACCHeadTransfer
	,sum(isnull(ca6.amount,0)) CollADjCBAdj, sum(isnull(ca9.amount,0)) CollADjDepositADj,sum(isnull(ca10.amount,0)) CollADjCBWAdj, sum(isnull(ca11.amount,0)) CollADjInterestDepositAdj  from ( 
	select distinct ConsumerID,convert(datetime,concat(Year(AdjustmentDate),'-',Month(AdjustmentDate),'-1')) AdjustmentDate from ( select FromConsumerID ConsumerID,AdjustmentDate from CollectionAdjustments where Approved=1 and isnull(Cancel,0)=0 
	union select ToConsumerID,AdjustmentDate from CollectionAdjustments where Approved=1 and isnull(Cancel,0)=0 ) A1 
	where isnull(a1.ConsumerID,0)!=0 and AdjustmentDate Between @FromDate and @ToDate ) P 
	left join CollectionAdjustments ca7 on  isnull(ca7.fromconsumerid,0)=p.consumerid and  ca7.cancel<>1 and ca7.collectionadjustmenttypeid=5 and ca7.approved=1 and month(ca7.adjustmentdate)=month(p.AdjustmentDate) and year(ca7.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca8 on isnull(ca8.fromconsumerid,0)=p.consumerid and ca8.cancel<>1 and ca8.collectionadjustmenttypeid=6 and ca8.approved=1 and month(ca8.adjustmentdate)=month(p.AdjustmentDate) and year(ca8.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca0 on  isnull(ca0.fromconsumerid,0)=p.consumerid and ca0.cancel<>1 and ca0.collectionadjustmenttypeid=1 and ca0.approved=1 and month(ca0.adjustmentdate)=month(p.AdjustmentDate) and year(ca0.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca1 on isnull(ca1.toconsumerid,0)=p.consumerid and ca1.cancel<>1 and ca1.collectionadjustmenttypeid=1 and ca1.approved=1 and month(ca1.adjustmentdate)=month(p.AdjustmentDate) and year(ca1.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca2 on isnull(ca2.fromconsumerid,0)=p.consumerid and ca2.cancel<>1 and ca2.collectionadjustmenttypeid=2 and ca2.approved=1 and month(ca2.adjustmentdate)=month(p.AdjustmentDate) and year(ca2.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca3 on isnull(ca3.toconsumerid,0)=p.consumerid and ca3.cancel<>1 and ca3.collectionadjustmenttypeid=2 and ca3.approved=1 and month(ca3.adjustmentdate)=month(p.AdjustmentDate) and year(ca3.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca4 on isnull(ca4.fromconsumerid,0)=p.consumerid and ca4.cancel<>1 and ca4.collectionadjustmenttypeid=3 and ca4.approved=1 and month(ca4.adjustmentdate)=month(p.AdjustmentDate) and year(ca4.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca5 on isnull(ca5.toconsumerid,0)=p.consumerid and ca5.cancel<>1 and ca5.collectionadjustmenttypeid=3 and ca5.approved=1 and month(ca5.adjustmentdate)=month(p.AdjustmentDate) and year(ca5.adjustmentdate)=year(p.AdjustmentDate) and ca5.allocationstatementpresetdataid=6
	left join CollectionAdjustments ca6 on isnull(ca6.toconsumerid,0)=p.consumerid and ca6.cancel<>1 and ca6.collectionadjustmenttypeid=4 and ca6.approved=1 and month(ca6.adjustmentdate)=month(p.AdjustmentDate) and year(ca6.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca9 on isnull(ca9.toconsumerid,0)=p.consumerid and ca9.cancel<>1 and ca9.collectionadjustmenttypeid=8 and ca9.approved=1 and month(ca9.adjustmentdate)=month(p.AdjustmentDate) and year(ca9.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca10 on isnull(ca10.toconsumerid,0)=p.consumerid and ca10.cancel<>1 and ca10.collectionadjustmenttypeid=12 and ca10.approved=1 and month(ca10.adjustmentdate)=month(p.AdjustmentDate) and year(ca10.adjustmentdate)=year(p.AdjustmentDate)
	left join CollectionAdjustments ca11 on isnull(ca11.toconsumerid,0)=p.consumerid and ca11.cancel<>1 and ca11.collectionadjustmenttypeid=16 and ca11.approved=1 and month(ca11.adjustmentdate)=month(p.AdjustmentDate) and year(ca11.adjustmentdate)=year(p.AdjustmentDate) 
	group by month(p.AdjustmentDate),year(p.AdjustmentDate),ConsumerID ) A 

)
GO
