USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  UserDefinedFunction [dbo].[CPMTest]    Script Date: 15-06-2026 10:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[CPMTest](@fromdate datetime, @todate datetime)
returns int
as
begin



    declare @a int select @a=0
    declare @n int select @n=0
    declare @x int select @x=0
    declare @y int select @y=0
    declare @total int select @total=0

    IF(month(@fromdate)=month(@todate) and  year(@fromdate)=year(@todate)) begin 
        set @a=datediff(dd,@fromdate,@todate)
    return @a end

else 

Begin

if day(@fromdate)=31  
    set @n=0
else 
     set @n=@n+(30-day(@fromdate))



set @x=(datediff(mm,@fromdate,@todate)-1)*30



if day(@todate)=31 
    set @y=30
else  
    set @y=day(@todate)


 
set @total=  @x+@y+@n 

end

return @total
end

GO
