USE [EnergySyncRevenueMoodabidri]
GO
/****** Object:  UserDefinedFunction [dbo].[Distance]    Script Date: 15-06-2026 10:40:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Distance](@lat1 varchar(1000), @lat2 varchar(1000), @lon1 varchar(1000), @lon2 varchar(1000))
RETURNS varchar(1000) 
AS
BEGIN

    RETURN ACOS(SIN(PI()*@lat1/180.0)*SIN(PI()*@lat2/180.0)+COS(PI()*@lat1/180.0)*COS(PI()*@lat2/180.0)*COS(PI()*@lon2/180.0-PI()*@lon1/180.0))*6371
END
GO
