USE [ESMCCSullia]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_KMF25WardWiseRRNo_Receipts]    Script Date: 15-06-2026 11:38:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--select * from Fn_KMF25RRNoWise (716,2019,2020)

create function [dbo].[Fn_KMF25WardWiseRRNo_Receipts](@Ward Varchar(50),@TariffID Varchar(10),@FromYear Varchar(10),@ToYear Varchar(10))
RETURNS TABLE  
AS  
RETURN   
(  



--Declare @Ward varchar(50) = 'Ward 2'
--Declare @TariffID varchar(10) = '2'
--Declare @FromYear varchar(10) = '2019'
--Declare @ToYear varchar(10) = '2020'


select d.*,left(Receipts,len(Receipts)-1) Receipts from (
select (case when (DCBYear = @FromYear and DCBMonth>=4) or (DCBYear = @ToYear and DCBMonth<=3) then 'CY' else 
case when (DCBYear = @FromYear-1 and DCBMonth>=4) or (DCBYear = @FromYear and DCBMonth<=3) then 'Y1' else
case when (DCBYear = @FromYear-2 and DCBMonth>=4) or (DCBYear = @FromYear-1 and DCBMonth<=3) then 'Y2' else
case when (DCBYear = @FromYear-3 and DCBMonth>=4) or (DCBYear = @FromYear-2 and DCBMonth<=3) then 'Y3' else
'' end end end end) FyYear
,d.ConsumerID,DCBYear,DCBMonth from ( 
select ConsumerID,DCBID from DCBDetails d with (nolock) where WardName=@Ward and TariffID=@TariffID 
) d Inner Join DCB d1 with (nolock) on d1.DCBID=d.DCBID 
and ( 
(DCBYear = @FromYear and DCBMonth>=4) or (DCBYear = @ToYear and DCBMonth<=3)
or (DCBYear = @FromYear-1 and DCBMonth>=4) or (DCBYear = @FromYear and DCBMonth<=3)
or (DCBYear = @FromYear-2 and DCBMonth>=4) or (DCBYear = @FromYear-1 and DCBMonth<=3)
or (DCBYear = @FromYear-3 and DCBMonth>=4) or (DCBYear = @FromYear-2 and DCBMonth<=3)
)
) D 
Cross Apply (
select concat(ReceiptNo,' / ',convert(Varchar,ReceiptDate,104))+' , '
from RevenueLedger With (nolock) where ConsumerID = d.ConsumerID and ReceiptDate is not NULL and Year(ReceiptDate)=DCBYear and Month(ReceiptDate)=DCBMonth
Order By ReceiptDate,ReceiptNo for xml path('') ) RNo (Receipts)
where Receipts is not NULL

)


GO
