USE [ESMCCMoodabidri]
GO
/****** Object:  UserDefinedFunction [dbo].[Fn_KMF25Abstract]    Script Date: 15-06-2026 11:31:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--select * from Fn_KMF25Abstract (2019,2020)

create function [dbo].[Fn_KMF25Abstract](@FromYear Varchar(10),@ToYear Varchar(10))
RETURNS TABLE  
AS  
RETURN   
(  


--Declare @FromYear varchar(10) = '2019'
--Declare @ToYear varchar(10) = '2020'


--Declare @Year1 varchar(10) = (( select @FromYear-1 ))
--Declare @Year2 varchar(10) = (( select @FromYear-2 ))
--Declare @Year3 varchar(10) = (( select @FromYear-3 ))


select a.*,(Case when SlNo=1 then CB else 0 end) CB1,(Case when SlNo1=1 then OB else 0 end) OB1 from (
select (Row_Number() over (partition By FyYear Order By FyYear,DCBYear desc,DCBMonth desc)) SlNo
,(Row_Number() over (partition By FyYear Order By FyYear,DCBYear,DCBMonth)) SlNo1 ,* from (

select (case when (DCBYear = @FromYear and DCBMonth>=4) or (DCBYear = @ToYear and DCBMonth<=3) then 'CY' else 
case when (DCBYear = @FromYear-1 and DCBMonth>=4) or (DCBYear = @FromYear and DCBMonth<=3) then 'Y1' else
case when (DCBYear = @FromYear-2 and DCBMonth>=4) or (DCBYear = @FromYear-1 and DCBMonth<=3) then 'Y2' else
case when (DCBYear = @FromYear-3 and DCBMonth>=4) or (DCBYear = @FromYear-2 and DCBMonth<=3) then 'Y3' else
'' end end end end) FyYear
,DCBYear,DCBMonth,Consumption,OB,Demand,Collection,AdJustment,(OB+Demand-Collection-AdJustment) CB from ( 

select DCBYear,DCBMonth,Sum(isnull(d.Consumption,0)) as Consumption

,Sum(round(Round((d.OpeningBalanceFixedCharge+d.OpeningBalanceEnergyCharge+d.OpeningBalanceRevenueOthers+d.OpeningBalanceInterest+d.OpeningBalanceTax+d.OpeningBalanceSupervisionFee+d.OpeningBalanceMeterRent+d.OpeningBalanceDandR),1),0)+
round(Round((d.GOKOBFixedCharge+d.GOKOBEnergyCharge+d.GOKOBRevenueOthers+d.GOKOBInterest+d.GOKOBTax+d.GOKOBSupervisionFee+
d.GOKOBMeterRent),1),0)) OB

,Sum(round(Round((d.DemandRevenueFixedCharge+d.DemandRevenueEnergyCharge+d.DemandRevenueOthers+d.DemandInterest+d.DemandTax+d.DemandSupervisionFee+d.DemandMeterRent+d.PFPenalty+d.OtherCharges+
d.Rebate+d.DemandCorrection+d.DemandDRCharges+d.DemandRoundOff),2),0)+round(Round((d.GOKDemandRevenueFixedCharge+d.GOKDemandRevenueEnergyCharge+d.GOKDemandRevenueOthers
+d.GOKDemandInterest+d.GOKDemandTax+d.GOKDemandSupervisionFee+d.GOKDemandMeterRent),2),0)) as Demand

,Sum(round(round((d.CollectionRevenueFixedCharge+d.CollectionRevenueEnergyCharge+d.CollectionRevenueOthers+d.CollectionInterest+d.CollectionTax+d.CollectionSupervisionFee+d.CollectionMeterRent+d.CollectionBalance
+d.CollectionDRCharges+d.CollectionSuspense-d.CollectionDHAmount),2),0)) as Collection

,Sum(round(round((isnull(d.CollectionCBTransfer,0)+isnull(d.CollectionLTOLRevenueFixedCharge,0)+isnull(d.CollectionLTOLRevenueEnergyCharge,0)+isnull(d.CollectionLTOLRevenueOthers,0)+isnull(d.CollectionLTOLInterest,0)+isnull(d.CollectionLTOLTax,0)+isnull(d.CollectionLTOLSupervisionFee,0)+isnull(d.CollectionLTOLMeterRent,0)+isnull(d.CollectionLTOLBalance,0)+isnull(d.CollectionMiscToRevenueFixedCharge,0)+isnull(d.CollectionMiscToRevenueEnergyCharge,0)+isnull(d.CollectionMiscToRevenueOthers,0)+isnull(d.CollectionMiscToRevenueInterest,0)+isnull(d.CollectionMiscToRevenueTax,0)+isnull(d.CollectionMiscToRevenueSupervisionFee,0)+isnull(d.CollectionMiscToRevenueMeterRent,0)+isnull(d.CollectionMiscToRevenueBalance,0)+isnull(d.CollectionRevenueToMisc,0)+isnull(d.CollectionDepositToRevenueFixedCharge,0)+isnull(d.CollectionDepositToRevenueEnergyCharge,0)+isnull(d.CollectionDepositToRevenueOthers,0)
+isnull(d.CollectionDepositToRevenueInterest,0)+isnull(d.CollectionDepositToRevenueTax,0)+isnull(d.CollectionDepositToRevenueSupervisionFee,0)+isnull(d.CollectionDepositToRevenueMeterRent,0)+isnull(d.CollectionDepositToRevenueBalance,0)+isnull(d.CollectionWithdrawlsRevenueFixedCharge,0)+isnull(d.CollectionWithdrawlsRevenueEnergyCharge,0)+isnull(d.CollectionWithdrawlsRevenueOthers,0)+isnull(d.CollectionWithdrawlsInterest,0)+isnull(d.CollectionWithdrawlsTax,0)+isnull(d.CollectionWithdrawlsSupervisionFee,0)+isnull(d.CollectionWithdrawlsMeterRent,0)+isnull(d.CollectionWithdrawlsBalance,0)+isnull(d.CollectionOfficeAdjustmentFixedCharge,0)+isnull(d.CollectionOfficeAdjustmentEnergyCharge,0)+isnull(d.CollectionOfficeAdjustmentOthers,0)+isnull(d.CollectionOfficeAdjustmentInterest,0)+isnull(d.CollectionOfficeAdjustmentTax,0)+isnull(d.CollectionOfficeAdjustmentSupervisionFee,0)
+isnull(d.CollectionOfficeAdjustmentMeterRent,0)+isnull(d.CollectionOfficeAdjustmentBalance,0)+isnull(d.CollectionOfficeLightingJVFixedCharge,0)+isnull(d.CollectionOfficeLightingJVEnergyCharge,0)+isnull(d.CollectionOfficeLightingJVOthers,0)+isnull(d.CollectionOfficeLightingJVInterest,0)+isnull(d.CollectionOfficeLightingJVTax,0)+isnull(d.CollectionOfficeLightingJVSupervisionFee,0)+isnull(d.CollectionOfficeLightingJVMeterRent,0)+isnull(d.CollectionOfficeLightingJVBalance,0)+isnull(d.CollectionLT6JVFixedCharge,0)+isnull(d.CollectionLT6JVEnergyCharge,0)+isnull(d.CollectionLT6JVRevenueOthers,0)+isnull(d.CollectionLT6JVInterest,0)+isnull(d.CollectionLT6JVTax,0)+isnull(d.CollectionLT6JVSupervisionFee,0)+isnull(d.CollectionLT6JVMeterRent,0)+isnull(d.CollectionLT6JVBalance,0)+isnull(d.CollectionJVOthers,0)+isnull(d.CollectionJVOthersBalance,0)+isnull(d.CollectionDisputeToJVFixedCharge,0)
+isnull(d.CollectionDisputeToJVEnergyCharge,0)+isnull(d.CollectionDisputeToJVRevenueOthers,0)+isnull(d.CollectionDisputeToJVInterest,0)+isnull(d.CollectionDisputeToJVTax,0)+isnull(d.CollectionDisputeToJVSupervisionFee,0)+isnull(d.CollectionDisputeToJVMeterRent,0)+isnull(d.CollectionDisputeToJVBalance,0)+isnull(d.GOKCollectionRevenueFixedCharge,0)+isnull(d.GOKCollectionRevenueEnergyCharge,0)+isnull(d.GOKCollectionRevenueOthers,0)+isnull(d.GOKCollectionInterest,0)+isnull(d.GOKCollectionTax,0)+isnull(d.GOKCollectionSupervisionFee,0)
+isnull(d.GOKCollectionMeterRent,0)+isnull(d.GOKCollectionBalance,0)),2),0)) as Adjustment

from DCBDetails d with (nolock) 
Inner Join DCB d1 with (nolock) on d1.DCBID=d.DCBID 
and ( 
(DCBYear = @FromYear and DCBMonth>=4) or (DCBYear = @ToYear and DCBMonth<=3)
or (DCBYear = @FromYear-1 and DCBMonth>=4) or (DCBYear = @FromYear and DCBMonth<=3)
or (DCBYear = @FromYear-2 and DCBMonth>=4) or (DCBYear = @FromYear-1 and DCBMonth<=3)
or (DCBYear = @FromYear-3 and DCBMonth>=4) or (DCBYear = @FromYear-2 and DCBMonth<=3)
) Group By  DCBYear,DCBMonth
) D 
) A ) A 

)
GO
