USE [ESMCCUdupi]
GO
/****** Object:  UserDefinedFunction [dbo].[split1]    Script Date: 15-06-2026 11:44:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create function [dbo].[split1] (@val1 varchar(max),@c varchar(10))
RETURNS  @temp table(num1 int)
as
begin


declare @counts int=len(@val1)-len(replace(@val1, @c,''))  

while (@counts>=0)
begin
insert into @temp
select cast(left(@val1,charindex(@c,@val1)-1) as int)  where @counts!=0
insert into  @temp
select cast(@val1 as int)  where @counts=0
set @val1 =right(@val1,len(@val1)-charindex(@c,@val1))
set @counts=@counts-1
end
 
RETURN
end
GO
