USE [EnergySyncRevenueBantwal]
GO
/****** Object:  UserDefinedFunction [dbo].[ExpandNumbers]    Script Date: 12-06-2026 15:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ExpandNumbers](@S VarChar(4000), @maxlen integer) 
returns VarChar(4000)
as
begin
  declare @result VarChar(4000)
  declare @buffer VarChar(4000)
  declare @Ch Char
  declare @i integer

  set @buffer = ''
  set @result = ''
  set @i = 1

  while (@i <= len(@S))
    begin
      set @Ch = substring(@S, @i, 1)


      if ((@Ch >= '0') and (@Ch <= '9')) 
        set @buffer = @buffer + @Ch
      else 
        begin
          if (len(@buffer) > 0) 
            set @result = @result + right(replicate('0', @maxlen) + @buffer, @maxlen)

          set @buffer = ''  
          set @result = @result + @Ch
        end

      set @i = @i + 1  
    end

  if (len(@buffer) > 0) 
    set @result = @result + right(replicate('0', @maxlen) + @buffer, @maxlen)

  return @result
end
GO
