USE [EnergySyncRevenueKarkala]
GO
/****** Object:  UserDefinedFunction [dbo].[ContiniousReasons]    Script Date: 12-06-2026 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ContiniousReasons]()
RETURNS TABLE  
AS  
RETURN   
(  


with MinDate as(
select ConsumerID,Min(BillDate) MinBillDate from ( 
select ConsumerID,BillDate,BillNo,(Row_Number() over (Partition By ConsumerID,Year(pd.BillDate),Month(pd.BillDate) Order By ConsumerID,Year(pd.BillDate) desc,Month(pd.BillDate) desc,pd.BillNo desc)) MaxNo
from PreBillDetails PD with (nolock) where Billed=1 and isnull(ODC,0)=0 and isnull(SBM,0)=1 ) PD
Inner Join PreBillReadingDetails PRD with (nolock) on prd.BillNo=pd.BillNo and isnull(prd.Released,0)=0 and isnull(RevenueBillReasonID,0)!=0 
where MaxNo=1 Group By ConsumerID
), PD as(
select MaxNo1,MaxBill,ConsumerID,BillDate,BillNo,RevenueBillReasonID,FR from (
select (Row_number() over (partition By ConsumerID,(case when isnull(prd.RevenueBillReasonID,0)=0 then 0 else 1 end) Order By ConsumerID,(case when isnull(prd.RevenueBillReasonID,0)=0 then 0 else 1 end) desc,BillDate desc,pd.BillNo desc ))  MaxNo1 
,(Row_Number() over (Partition By ConsumerID Order By ConsumerID,pd.BillNo desc)) MaxBill
,pd.*,prd.RevenueBillReasonID,KwahInitialreading FR from ( 
select ConsumerID,BillDate,BillNo,(Row_Number() over (Partition By ConsumerID,Year(pd.BillDate),Month(pd.BillDate) Order By ConsumerID,Year(pd.BillDate) desc,Month(pd.BillDate) desc,pd.BillNo desc)) MaxNo
from PreBillDetails PD with (nolock) where Billed=1 and isnull(ODC,0)=0 and isnull(SBM,0)=1 ) PD
Inner Join PreBillReadingDetails PRD with (nolock) on prd.BillNo=pd.BillNo and isnull(prd.Released,0)=0 where MaxNo=1 
) A where ( MaxNo1=1 or MaxBill=1) 
--and ConsumerID in ( 1,1141,25 )
)
select (select top 1 LocationName from location) Location,a.ConsumerID,cn.RRNo,cn.Fileas ConsumerName,cad.StreetName Address,cpd.LocalNumber PhoneNo,ma.AreaName,ReadingDate,ct.Fileas MeterReaderName,ccs.Description ConnectionStatus
,convert(varchar,a.BillDate,104) BillDate,convert(varchar,isnull(b.BillDate,c.MinBillDate),104) ReasonBillStartDate,(DateDiff(Month,isnull(b.BillDate,c.MinBillDate),a.BillDate)+1) ReasonBillMonths
,rbr.ReasonCode Reason,a.FR,round((isnull(ca.Amount,0)-isnull(r.Amount,0)),0) BalanceAmount
from ( select * from PD where isnull(RevenueBillReasonID,0)!=0 and MaxBill=1 ) A 
left outer join PD B on b.ConsumerID=a.ConsumerID and isnull(b.RevenueBillReasonID,0)=0 
left outer join MinDate C on c.ConsumerID=a.ConsumerID
inner join Consumer Cn with (nolock) on cn.ConsumerID=a.ConsumerID
inner join ConsumerAddressDetails CAD with (nolock) on cad.ConsumerID=cn.ConsumerID and AddressCategoryID=5
left outer join ConsumerPhoneDetails CPD with (nolock) on cpd.ConsumerID=cn.ConsumerID and cpd.PhoneCategoryID = 6
inner join ReadingdateAreaAllocation RDAA with (nolock) on rdaa.ReadingdateAreaAllocationID=cn.ReadingdateAreaAllocationID
inner join MeterReadingAreas MA with (nolock) on ma.MeterReadingAreaID=rdaa.MeterReadingAreaID
inner join Contacts CT with (nolock) on ct.ContactID=rdaa.MeterReaderID
inner join ConsumerConnectionStatus CCS with (nolock) on ccs.ConsumerConnectionStatusID=cn.ConsumerConnectionStatusID
inner join RevenueBillReasons RBR with (nolock) on rbr.RevenueBillReasonID=a.RevenueBillReasonID
Left Outer Join ( select ConsumerID,Sum(Amount) Amount from ConsumerArrears Cross Join ToDay where Year(BillDate)=Year(ToDay) 
and Month(BillDate)=Month(ToDay) Group By ConsumerID ) CA on ca.ConsumerID=a.ConsumerID
Left Outer Join ( select ContactID,Sum(Amount) Amount from Receipts Cross Join ToDay where Year(ReceiptDate)=Year(ToDay) and isnull(Cancel,0)=0 
and Month(ReceiptDate)=Month(ToDay) Group By ContactID ) R on r.ContactID=a.ConsumerID
where (DateDiff(Month,isnull(b.BillDate,c.MinBillDate),a.BillDate)+1)>=3
--Order By ReasonBillMonths desc,RRNo

);
GO
