USE [EnergySyncRevenueKarkala]
GO
/****** Object:  UserDefinedFunction [dbo].[DistanceBetween]    Script Date: 12-06-2026 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DistanceBetween] (@Lat1 as real,
                @Long1 as real, @Lat2 as real, @Long2 as real)
RETURNS real
AS
BEGIN

DECLARE @dLat1InRad as float(53)
SET @dLat1InRad = @Lat1 * (PI()/180.0)
DECLARE @dLong1InRad as float(53)
SET @dLong1InRad = @Long1 * (PI()/180.0)
DECLARE @dLat2InRad as float(53)
SET @dLat2InRad = @Lat2 * (PI()/180.0)
DECLARE @dLong2InRad as float(53)
SET @dLong2InRad = @Long2 * (PI()/180.0)

DECLARE @dLongitude as float(53)
SET @dLongitude = @dLong2InRad - @dLong1InRad
DECLARE @dLatitude as float(53)
SET @dLatitude = @dLat2InRad - @dLat1InRad

DECLARE @a as float(53)
SET @a = SQUARE (SIN (@dLatitude / 2.0)) + COS (@dLat1InRad)
                 * COS (@dLat2InRad)
                 * SQUARE(SIN (@dLongitude / 2.0))

DECLARE @c as real
SET @c = 2.0 * ATN2 (SQRT (@a), SQRT (1.0 - @a))
DECLARE @kEarthRadius as real

SET @kEarthRadius = 6376.5        

DECLARE @dDistance as real
SET @dDistance = @kEarthRadius * @c
return (@dDistance)
END
GO
