USE [EnergySyncRevenueKarkala]
GO
/****** Object:  UserDefinedFunction [dbo].[ConsumerCB]    Script Date: 12-06-2026 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[ConsumerCB](@RRNo Varchar(10))
RETURNS TABLE  
AS  
RETURN   
(  




select DistributionNodeID,c.ConsumerID,c.RRNO,c.FileAs ConsumerName,ServiceDate,cc.Description Status1,t.Description Tariffs,TariffCode,BulkPowerSupplyCount
,(isnull(ob.OB,0) +isnull(case when dem.ConsumerID is NULL then Demand1 else Demand end,0) -isnull(coll.Collection,0)-isnull(Adj,0)) CB

from  ( select * from  consumer  c where RRNO=@RRNo )c
left outer join ConsumerConnectionStatus CC with (nolock)  on cc.ConsumerConnectionStatusID=c.ConsumerConnectionStatusID
left outer join Tariffs T on t.tariffID=c.TariffID
Outer Apply ( select ConsumerID,Sum(cldd.Amount) Demand from ( select ConsumerID,ConsumerLedgerDemandsID From ConsumerLedgerDemands   with (nolock)  cross join Today  with (nolock) 
			where ConsumerID = c.ConsumerID and Year(BillDate)=Year(Today) and Month(BillDate)=Month(Today)) a
			inner join ConsumerLedgerDemandDetails CLDD  with (nolock)   on cldd.ConsumerLedgerDemandsID =a.ConsumerLedgerDemandsID
			and DemandChargeTypeID in (select DemandChargeTypeID from DemandChargeTypes  with (nolock)  where DemandChargeMainTypeID not in (4))
			Group By ConsumerID ) Dem
Outer Apply ( select ConsumerID,Round(Round(Sum(pddd.Amount),2),0) Demand1 from ( select ConsumerID,BillNo From PreBillDetails  with (nolock)  cross join Today  with (nolock) 
			where ConsumerID = c.ConsumerID and Year(BillDate)=Year(Today) and Month(BillDate)=Month(Today) and Billed=1) a
			inner join PreBillDemands  PDD with (nolock)   on pdd.BillNo= a.BillNo
			Inner Join PreBillDemandDetails PDDD  with (nolock) on pddd.PreBillDemandID=pdd.PreBillDemandID and DemandChargeTypeID not in (1,2,3,4,11)
			Group By ConsumerID  ) Dem1
Outer Apply ( select ConsumerID,Sum(cldd.Amount) OB from ( select ConsumerID,ConsumerLedgerID From ConsumerLedger  with (nolock)  cross join Today  with (nolock) 
			where ConsumerID =  c.ConsumerID and LedgerYear=Year(Today) and LedgerMonth=Month(Today) ) a
			inner join ConsumerLedgerDetails CLDD with (nolock)   on cldd.ConsumerLedgerID=a.ConsumerLedgerID
			Group By ConsumerID ) OB
Outer Apply ( select ContactID,Sum(Amount) Collection from  Receipts   with (nolock)    cross join Today   with (nolock) 
			where ContactID = c.ConsumerID and Year(ReceiptDate)=Year(Today) and Month(ReceiptDate)=Month(Today) and paymentTypeID=6 and Cancel=0 and Updated=1
			Group By ContactID ) Coll
Outer Apply (  select * from ( select  ReceiptNo,ReceiptDate LastPaymentDate,Amount  LastPayment,ContactID,(Row_Number() over (Partition By COntactID Order By ContactID,ReceiptDate desc)) RowNum
			from  Receipts   with (nolock)   where  ContactID= c.ConsumerID ) R where r.RowNum=1   ) MaxColl
Outer Apply ( select (CollADjCheque+CollADjBANKCharg+CollADjFrmConsumer+CollADjToConsumer+CollADjFromCBTransfer+CollADjToCBTransfer+CollADjFrmACCHeadTransfer+CollADjToACCHeadTransfer+CollADjCBAdj+CollADjDepositADj+CollADjCBWAdj+CollADjInterestDepositAdj ) Adj
			,YearID,MonthID from (
			select month(p.AdjustmentDate) monthID,year(p.AdjustmentDate) yearID,ConsumerID
			,sum(isnull(-ca7.amount,0)) CollADjCheque,  sum(isnull(-ca8.amount,0)) CollADjBANKCharg , sum(isnull(-ca0.amount,0)) CollADjFrmConsumer, sum(isnull(ca1.amount,0)) CollADjToConsumer
			,sum(isnull(ca2.amount,0)) CollADjFromCBTransfer,sum(isnull(-ca3.amount,0)) CollADjToCBTransfer,sum(isnull(-ca4.amount,0)) CollADjFrmACCHeadTransfer,sum(isnull(ca5.amount,0)) CollADjToACCHeadTransfer
			,sum(isnull(ca6.amount,0)) CollADjCBAdj, sum(isnull(ca9.amount,0)) CollADjDepositADj,sum(isnull(ca10.amount,0)) CollADjCBWAdj, sum(isnull(ca11.amount,0)) CollADjInterestDepositAdj  from (
			select distinct ConsumerID,convert(datetime,concat(Year(AdjustmentDate),'-',Month(AdjustmentDate),'-1')) AdjustmentDate from (
			select FromConsumerID ConsumerID,AdjustmentDate from CollectionAdjustments  with (nolock)   Cross Join Today  with (nolock)   where Approved=1 and isnull(Cancel,0)=0 and FromConsumerID = c.ConsumerID and Year(AdjustmentDate)=Year(Today) and Month(AdjustmentDate)=Month(Today)
			union select ToConsumerID,AdjustmentDate from CollectionAdjustments   with (nolock)  Cross Join Today   with (nolock)  where Approved=1 and isnull(Cancel,0)=0 and ToConsumerID = c.ConsumerID and Year(AdjustmentDate)=Year(Today) and Month(AdjustmentDate)=Month(Today)
			) A where isnull(ConsumerID,0)!=0 ) P
			left join CollectionAdjustments ca7  with (nolock)   on isnull(ca7.fromconsumerid,0)=p.consumerid and ca7.cancel<>1 and ca7.collectionadjustmenttypeid=5 and ca7.approved=1 and month(ca7.adjustmentdate)=month(p.AdjustmentDate) and year(ca7.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments ca8 with (nolock)   on isnull(ca8.fromconsumerid,0)=p.consumerid and ca8.cancel<>1 and ca8.collectionadjustmenttypeid=6 and ca8.approved=1 and month(ca8.adjustmentdate)=month(p.AdjustmentDate) and year(ca8.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments ca0  with (nolock)   on isnull(ca0.fromconsumerid,0)=p.consumerid and ca0.cancel<>1 and ca0.collectionadjustmenttypeid=1 and ca0.approved=1 and month(ca0.adjustmentdate)=month(p.AdjustmentDate) and year(ca0.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments ca1  with (nolock)   on isnull(ca1.toconsumerid,0)=p.consumerid and ca1.cancel<>1 and ca1.collectionadjustmenttypeid=1 and ca1.approved=1 and month(ca1.adjustmentdate)=month(p.AdjustmentDate) and year(ca1.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments  ca2 with (nolock)   on isnull(ca2.fromconsumerid,0)=p.consumerid and ca2.cancel<>1 and ca2.collectionadjustmenttypeid=2 and ca2.approved=1 and month(ca2.adjustmentdate)=month(p.AdjustmentDate) and year(ca2.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments ca3  with (nolock)   on isnull(ca3.toconsumerid,0)=p.consumerid and ca3.cancel<>1 and ca3.collectionadjustmenttypeid=2 and ca3.approved=1 and month(ca3.adjustmentdate)=month(p.AdjustmentDate) and year(ca3.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments ca4 with (nolock)   on isnull(ca4.fromconsumerid,0)=p.consumerid and ca4.cancel<>1 and ca4.collectionadjustmenttypeid=3 and ca4.approved=1 and month(ca4.adjustmentdate)=month(p.AdjustmentDate) and year(ca4.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments   ca5 with (nolock)   on isnull(ca5.toconsumerid,0)=p.consumerid and ca5.cancel<>1 and ca5.collectionadjustmenttypeid=3 and ca5.approved=1 and month(ca5.adjustmentdate)=month(p.AdjustmentDate) and year(ca5.adjustmentdate)=year(p.AdjustmentDate) and ca5.allocationstatementpresetdataid=6
			left join CollectionAdjustments  ca6 with (nolock)   on isnull(ca6.toconsumerid,0)=p.consumerid and ca6.cancel<>1 and ca6.collectionadjustmenttypeid=4 and ca6.approved=1 and month(ca6.adjustmentdate)=month(p.AdjustmentDate) and year(ca6.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments  ca9 with (nolock)   on isnull(ca9.toconsumerid,0)=p.consumerid and ca9.cancel<>1 and ca9.collectionadjustmenttypeid=8 and ca9.approved=1 and month(ca9.adjustmentdate)=month(p.AdjustmentDate) and year(ca9.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments  ca10 with (nolock)   on isnull(ca10.toconsumerid,0)=p.consumerid and ca10.cancel<>1 and ca10.collectionadjustmenttypeid=12 and ca10.approved=1 and month(ca10.adjustmentdate)=month(p.AdjustmentDate) and year(ca10.adjustmentdate)=year(p.AdjustmentDate)
			left join CollectionAdjustments  ca11 with (nolock)   on isnull(ca11.toconsumerid,0)=p.consumerid and ca11.cancel<>1 and ca11.collectionadjustmenttypeid=16 and ca11.approved=1 and month(ca11.adjustmentdate)=month(p.AdjustmentDate) and year(ca11.adjustmentdate)=year(p.AdjustmentDate)
			group by month(p.AdjustmentDate),year(p.AdjustmentDate) ,ConsumerID ) A ) Adj1
                    

)
GO
