USE [EnergySyncRevenueKarkala]
GO
/****** Object:  UserDefinedFunction [dbo].[CPMbillno1]    Script Date: 12-06-2026 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[CPMbillno1](@sysdate datetime)
returns bigint
as
begin

declare @billno bigint select @billno=(select (select (select (select year(@sysdate)*100))+(select month(@sysdate)))*10000)


return @billno*1000



end

GO
