USE [EnergySyncRevenueKarkala]
GO
/****** Object:  UserDefinedFunction [dbo].[Prebill]    Script Date: 12-06-2026 15:50:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[Prebill] (@year varchar(20),@month varchar(20))

RETURNS @returntable table(rrno varchar(100),readingdate1 date ,meterreaderid int,printeddate date,
printeddate1 date , ReadingDateAreaAllocationID int,username varchar(100) )
AS
BEGIN

insert into @returntable 
select  rrno,readingdate1,meterreaderid,printeddate,(case when readingdate1>printeddate then readingdate1 end) printeddate1, ReadingDateAreaAllocationID,u.username
 from (
select  isnull(p.meterreaderid,r.meterreaderid) meterreaderid,isnull(p.readingdate,convert(datetime,concat(@year,'-',@month,'-',r.readingdate),120)) readingdate1, 
a.rrno rrno,p.ConsumerConnectionStatusID,isnull(p.areaid,a.ReadingDateAreaAllocationID) ReadingDateAreaAllocationID from
 (
select consumerid,rrno,year,month,c.ReadingDateAreaAllocationID  from  
(select @year year,@month month ) as Q
cross join Consumer c 
  ) a
 left join  prebilldetails p on  p.consumerid=a.consumerid  and  month(billdate)=@month  and year(billdate)=@year and ConsumerConnectionStatusID=1 and p.arrearbill=1
left join ReadingdateAreaAllocation r on  r.ReadingDateAreaAllocationID=(case when p.areaid is null then  a.ReadingDateAreaAllocationID else p.areaid end )
) A
full join 
(
select  meterreaderid meterreaderid1,printeddate,rrno rrno1 from prebilldetails where  billed=1 and sbm=1  and odc<>1  
and  month(printeddate)=@month  and year(printeddate)=@year and ConsumerConnectionStatusID=1
) B on A.rrno=B.rrno1 
left join Users u on u.contactid= a.meterreaderid 
return
end
GO
